/* Victorious promo

2 image or one.. */

.vict-promo {

  .promo-title {
    margin-bottom: 2rem;
    &.center {
      text-align: center;
    }

    .article-tag {
      margin-bottom: 2rem;
      &::after {
        width: 25%;
      }
    }

    .promo-sub-title {
      font-size: 2rem;
    }
    .promo-title {
      font-size: 3rem;
    }

    .promo-sub-title,
    .promo-title {
      margin-bottom: 1rem;
    }
  }

  .promo-image {
    justify-content: center;
    figure {
      padding: 0 2rem;
    }
  }
}
