$black-victorious: $black-mine-shaft;
$caslon: adobe-caslon-pro, serif !important;
$proxima: proxima-nova, sans-serif !important;

@font-face {
  font-family: Feijoa;
  src: url("fonts/victorious/FeijoaBold.otf") format("opentype");
}

$feijoa: Feijoa, adobe-caslon-pro, serif !important;
.theme-victorious {

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $black-victorious;
    font-family: $caslon;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .vict-banner h1,
  .vict-banner h2,
  .vict-banner h3,
  .vict-banner h4,
  .vict-banner h5 {
    font-family: $feijoa;
  }

  p,
  span {
    // font-family: adobe-caslon-pro, serif;
    font-family: $caslon;
    font-weight: 400;
    font-size: 1.1rem;
  }
}

.title-underline {
  position: relative;
  padding-bottom: .5rem;

  &:after {
    width: 40%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: $black;
  }
}

.article-tag {
  display: block;
  margin-bottom: .5rem;
  font-family: proxima-nova, sans-serif !important;
  text-transform: uppercase;
}

.vic-button {
  font-family: proxima-nova, sans-serif;
}

.vict-caption {
  font-style: italic;
}

.vic-button {
  display: inline-block;
  color: $black-victorious;
  padding: .5rem 1rem;
  border: 1px solid $black-victorious;
  text-transform: uppercase;

  @include hoverify() {
    color: $white;
    background-color: $black-victorious;
    transition: .3s ease-in-out;
  }
}

#progress {
  position: fixed;
  top: 0;
  height: .5%;
  background: #444;
  z-index: 200;
}

.article-item {
  @include hoverify() {
    img {
      opacity: .9;
    }

    h4 {
      text-decoration: underline;
    }
  }
}
