$black-victorious: $black-mine-shaft;

.title-underline {
  position: relative;
  padding-bottom: .5rem;

  &:after {
    width: 40%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: $black;
  }
}

.article-tag {
  display: block;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

