.vict-banner {

  h1,
  h2,
  h3 {
    font-family: minion-pro, serif;
    letter-spacing: 1px;
  }

  .vict-banner-sub-heading {

  }

  .vict-banner-title {
    font-size: 3.5rem;
  }

  &.full {
    overflow: hidden;

    // @include breakpoint($from:tablet) {
      figure {
        position: relative;
        figcaption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 70%;

          .vict-banner-title-tag {
            margin-bottom: 1.5rem;
            position: relative;
            padding-bottom: .3rem;
            font-family: proxima-nova, sans-serif !important;

            &:after {
              width: 40%;
              position: absolute;
              height: 1px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              content: "";
              background-color: $white;
            }
          }

          .vict-banner-sub-heading {
            margin-bottom: 1rem;
          }
        }
        @include breakpoint($until:tablet) {

          img {
            transform: unset !important;
          }
          figcaption {
            width: 100%;
            position: initial;
            transform: unset !important;
            padding-bottom: 1rem;
            border-bottom: 1px solid  $black-victorious;

            .vict-banner-title-tag {
              font-size: 1rem;
              color: $black-victorious !important;

              &:after {
                background-color: $black-victorious !important;
              }
            }

            .vict-banner-sub-heading {
              font-size: 1.3rem;
              color: $black-victorious !important;
            }

            .vict-banner-title {
              font-size: 1.8rem;
              color: $black-victorious !important;
            }

            p {
              color: $black-victorious !important;
              padding: 0 .1rem;
            }
          }
        }

      }
    // }
  }

  &.split {
    display: flex;
    margin-top: 1rem;
    overflow-y: hidden;
    // align-items: flex-start;

    .banner-content,
    .banner-image {
      flex: 1 1 50%;
    }

    .banner-content {
      position: relative;
      transition: all .2s ease;
      padding: 3rem 1.5rem 0 0;

      .meta {
        margin-bottom: 2rem;
        border-top: 1px solid $black-victorious;
        width: 70%;
        padding-top: .5rem;

        p {
          text-transform: uppercase;
          font-size: .8rem;
        }
      }

      .banner-titles {
        h1 {
          // overflow: overlay;
          margin-right: -14rem;
          padding-bottom: 2rem;
          min-height: 100%;
        }
        h3 {
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: .5rem;
          width: 80%;
          font-family: $caslon;
        }
      }
    }

    .banner-image {
      img {
        max-height: 90vh;
        object-fit: contain;
      }
    }

    @include breakpoint($until:tablet) {
      flex-direction: column-reverse;

      .banner-content,
      .banner-image {
        flex: 1 1;
      }
      .banner-content {
        padding: 0 0 0 0;

        .meta {
          margin-bottom: 2rem;
          border-top: 1px solid $black-victorious;
          width: 70%;
          padding-top: .5rem;

          p {
            text-transform: uppercase;
            font-size: .8rem;
          }
        }

        .banner-titles {
          h1 {
            padding-bottom: 1rem;
            overflow: hidden;
            margin-right: 0;
            padding-bottom: 2rem;
            min-height: unset;
            overflow-wrap: break-word;
            word-wrap: break-word;
            font-size: 3rem;
          }

          h3 {
            margin-bottom: .5rem;
            overflow-wrap: break-word;
            word-wrap: break-word;
          }

          p {
            &:last-child {
              padding-bottom: .75rem;
              border-bottom: 1px solid $black-victorious;
            }
          }
        }
      }
    }

  }

  @include breakpoint($until:tablet) {

  }


  figure {
    figcaption {
      p,
      h1,
      h2,
      h3 {
        color: $white !important;
      }
    }
  }
  &.dark {
    figure {
      figcaption {
        p,
        h1,
        h2,
        h3 {
          color: $black-victorious !important;
        }

        .vict-banner-title-tag {
          &:after {
            background-color: $black-victorious;
          }
        }
      }
    }
  }
}
