---
notes: >


---

 <!-- Pagination -->
 <nav class="pagination pagination--alpha">
    
      <ul class="pagination__list pages" role="navigation">
        <li><a class="button primary no-icon" href="#A"><span>A</span></a></li>
        <li><a class="button primary no-icon" href="#B"><span>B</span></a></li>
        <li><a class="button primary no-icon" href="#C"><span>C</span></a></li>
        <li><a class="button primary no-icon" href="#D"><span>D</span></a></li>
        <li><a class="button primary no-icon" href="#E"><span>E</span></a></li>
        <li><a class="button primary no-icon" href="#F"><span>F</span></a></li>
        <li><a class="button primary no-icon" href="#G"><span>G</span></a></li>
        <li><a class="button primary no-icon" href="#H"><span>H</span></a></li>
        <li><a class="button primary no-icon" href="#I"><span>I</span></a></li>
        <li><a class="button primary no-icon" href="#J"><span>J</span></a></li>
        <li><a class="button primary no-icon" href="#K"><span>K</span></a></li>
        <li><a class="button primary no-icon" href="#L"><span>L</span></a></li>
        <li><a class="button primary no-icon" href="#M"><span>M</span></a></li>
        <li><a class="button primary no-icon" href="#N"><span>N</span></a></li>
        <li><a class="button primary no-icon" href="#O"><span>O</span></a></li>
        <li><a class="button primary no-icon" href="#P"><span>P</span></a></li>
        <li><a class="button primary no-icon" href="#Q"><span>Q</span></a></li>
        <li><a class="button primary no-icon" href="#R"><span>R</span></a></li>
        <li><a class="button primary no-icon" href="#S"><span>S</span></a></li>
        <li><a class="button primary no-icon" href="#T"><span>T</span></a></li>
        <li><a class="button primary no-icon" href="#U"><span>U</span></a></li>
        <li><a class="button primary no-icon" href="#V"><span>V</span></a></li>
        <li><a class="button primary no-icon" href="#W"><span>W</span></a></li>
        <li><a class="button primary no-icon" href="#Z"><span>Z</span></a></li>
      </ul>

  </nav>
