<nav class="breadcrumbs" role="presentation">

	<a href="#" class="pathway"><img class="icon" src="http://www.entypo.com/images/flow-cascade.svg" alt="Flow cascade pictogram"> Current pathway <img class="icon" src="http://www.entypo.com/images/chevron-up.svg" style="float:right;" alt="Chevron up"></a>

	<ul>
		<li>
			<a href="#">School's home</a>
			<ul>
				<li>
					<a href="#">Organisation structure</a>

					<ul>
						<li>
							<a href="#" class="selected">About us</a>

							<ul>
								<li><a href="#">Contacts <img class="icon" src="http://www.entypo.com/images/chevron-right.svg" style="float:right;" alt="Chevron right"></a></li>
								<li><a href="#">Research <img class="icon" src="http://www.entypo.com/images/chevron-right.svg" style="float:right;" alt="Chevron right"></a></li>
								<li><a href="#">Our philosophy <img class="icon" src="http://www.entypo.com/images/chevron-right.svg" style="float:right;" alt="Chevron right"></a></li>
							</ul>


						</li>

					</ul>

				</li>

			</ul>


		</li>

	</ul>
</nav>