<footer role="contentinfo" class="site_footer">
<nav>
    <ul>
        <li><a href="http://www.victoria.ac.nz/" style="
/*    background: url(//victoria.ac.nz/assets/images/vic-logo-mobile.png) no-repeat 10px 50%;
    background-size: 128px 17px;
    text-indent: -9999px;
    width: 150px;
    height: 50px;
    display: inline-block;*/

        ">Victoria</a></li>
        <li><a href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Faculties</a></li>
        <li><a href="http://www.victoria.ac.nz/about/contacts">Contacts and directories</a></li>
        <li><a href="http://www.victoria.ac.nz/about/explore-victoria/campuses">Campuses</a></li>
        <li><a href="http://www.victoria.ac.nz/study">Study</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="http://www.victoria.ac.nz/staff">Staff</a></li>
        <li><a href="http://www.victoria.ac.nz/about/careers">Careers</a></li>
        <li><a href="https://www.victoria.ac.nz/alumniandfriends/">Alumni</a></li>
    </ul>
</nav>

</footer>


<footer>

<nav>
    <div class="fineprint wrap">
        <div class="contact_info">
            <a class="footer_logo vic_logo" href="http://victoria.ac.nz">Victoria Univeristy of Wellington</a>
            <div class="footer_details">
                <ul class="details">
                    <li><a href="tel:+6444721000">+64 4 472 1000</a></li>
                    <li><a href="mailto:info@victoria.ac.nz">info@victoria.ac.nz</a></li>
                    <li>Enrolments: <a href="tel:+64800842867">0800 VICTORIA</a></li>
                    <li>Emergency: <a href="tel:+6444639999">+64 4 463 9999</a> or ext. 8888 (internal)</li>
                </ul>
            </div>
        </div>
        <hr class="thin hiding">
        <!-- <p class="copyright">Copyright © Victoria University of Wellington, New Zealand</p> -->
    </div>
</nav>


<nav>
    <ul>
        <li><a href="http://www.victoria.ac.nz/site-info">Site info</a></li>
        <li><a href="http://www.victoria.ac.nz/site-info/site-map">Site map</a></li>
        <li><a href="http://www.victoria.ac.nz/site-info/feedback">Feedback</a></li>
        <li><a href="http://www.victoria.ac.nz/site-info/glossary">Glossary</a></li>
        <li>Copyright © Victoria University of Wellington, New Zealand</li>
    </ul>
</nav>
</footer>
