<footer role="contentinfo">

  <!-- Links and contacts that can vary between sub-sites -->
  <section class="footer-secondary two-columns">
    <div class="centraliser">

      <!-- Sub-site's related or recommended links -->
      <div class="block">

        <h2>Useful links</h2>
        <nav role="navigation">
          <ul role="menubar">
            <li><a href="#" role="menuitem" title="Read about ...">Deadlines and dates for 2016</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">Organising events</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">PhD guidelines</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">Contacts and directories</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">Deadlines for last year</a></li>
          </ul>
        </nav>

      </div>

      <!-- Sub-site's related links -->
      <div class="block contacts">

        <a href="#" title="See contact to all staff members" class="link-more">All staff</a>
        <h2>School contacts</h2>

        <address>

          <!-- Phone numbers -->
          <ul class="phones">
            <li><a href="tel:64221231244" title="Call to general enquiries team">+64 22 123 1244</a> general enquiries</li>
            <li><a href="tel:64221231210" title="Call to our advisors">+64 22 123 1208</a> personal advisory</li>
          </ul>

          <!-- Mail addresses -->
          <ul class="mails">
            <li>
              <a href="mailto:info@vbs.victoria.ac.nz" title="Send an email to our recruiting team">info@vbs.victoria.ac.nz</a>
            </li>
          </ul>
        </address>

      </div>

    </div>
  </section>

  <!-- Related links from global site -->
  <section class="footer-secondary">
    <div class="centraliser">
      <div class="block">
        <h2>Victoria University</h2>

        <nav role="navigation">
          <ul role="menubar">
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Faculties</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Contacts and directories</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Campuses</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Study</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Students</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Students</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Staff</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Careers</a></li>
            <li role="menuitem"><a href="#" role="menuitem" title="Read about ...">Alumni</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <!-- Meta-links and contacts that are shared between sub-sites -->
  <section class="footer-primary">
    <div class="centraliser">

      <div class="block">

        <!-- Smaller version of logotype -->
        <a href="/" title="Victoria University of Wellington homepage">
          <img class="logo"  src="/assets/toolkit/images/logo-white-full.svg" alt="Victoria University of Wellington - Te Whare Wānanga o te Ūpoko o te Ika a Māui">
        </a>

        <!-- Global contacts -->
        <ul class="contacts">
          <li>
            <a title="Call Victoria about general enquiries" href="tel:+6444721000">+64 4 472 1000</a>
          </li>
          <li>
            <a title="Write Victoria an email" href="mailto:info@victoria.ac.nz">info@victoria.ac.nz</a>
          </li>
          <li>
            Enrolments: <a title="Call Victoria regarding enrolments" href="tel:+64800842867">0800 VICTORIA</a>
          </li>
          <li>
            Emergency: <a title="Call in case of emergency" href="tel:+6444639999">+64 4 463 9999</a> or ext. 8888 (internal)
          </li>
        </ul>

      </div>

      <div class="block small">

        <nav role="navigation">
          <ul role="menubar" class="minilinks">
            <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info">Site info</a></li>
            <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info/site-map">Site map</a></li>
            <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info/feedback">Feedback</a></li>
            <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info/glossary">Glossary</a></li>
          </ul>
        </nav>

        <small class="copyright">Copyright &copy; Victoria University of Wellington, New Zealand</small>

      </div>

    </div>
  </section>

</footer>
