<footer role="contentinfo">

  <!-- Links and contacts that can vary between sub-sites -->
  <section class="site-footer two-columns">
    <div class="centraliser">

      <!-- Sub-site's related or recommended links -->
      <div class="block">

        <h2>Useful links</h2>
        <nav role="navigation">
          <ul role="menubar">
            <li><a href="#" role="menuitem" title="Read about ...">Deadlines and dates for 2016</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">Organising events</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">PhD guidelines</a></li>
            <li><a href="#" role="menuitem" title="Read about ...">Contacts and directories</a></li>
          </ul>
        </nav>

      </div>

      <!-- Sub-site's related links -->
      <div class="block">

        <h2>School contacts</h2>
        <a href="#" title="See contact to all staff members">All staff</a>
          <address>

            <!-- Phone numbers -->
            <dl>
              <dl>

                <dt><a href="tel:64221231244" title="Call to general enquiries team">+64 22 123 1244</a></dt>
                <dd>general enquiries</dd>

                <dt><a href="tel:64221231210" title="Call to our advisors">+64 22 123 1208</a></dt>
                <dd>personal advisory</dd>

              </dl>
            </dl>

            <!-- Mail addresses -->
            <dl>
              <dt><a href="mailto:info@vbs.victoria.ac.nz" title="Send an email to our recruiting team">info@vbs.victoria.ac.nz</a></dt>
            </dl>
          </address>

      </div>

    </div>
  </section>

  <!-- Links and contacts that are shared between sub-sites -->
  <section class="global-footer">
    <nav role="navigation">
      <ul role="menubar">
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/" class="button primary">Emergencies</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Faculties</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/about/contacts">Contacts and directories</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/about/explore-victoria/campuses">Campuses</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/study">Study</a></li>
          <li role="menuitem"><a title="See ..." href="/students">Students</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/staff">Staff</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/about/careers">Careers</a></li>
          <li role="menuitem"><a title="See ..." href="https://www.victoria.ac.nz/alumniandfriends/">Alumni</a></li>
      </ul>
    </nav>

    <!-- Logotype -->
    <div class="logo">
      <a href="/" title="Victoria University of Wellington homepage">
        <img src="/assets/toolkit/images/logo-white-full.svg" alt="Victoria University of Wellington - Te Whare Wānanga o te Ūpoko o te Ika a Māui">
      </a>
    </div>

    <ul class="details">
        <li><a href="tel:+6444721000">+64 4 472 1000</a></li>
        <li><a href="mailto:info@victoria.ac.nz">info@victoria.ac.nz</a></li>
        <li>Enrolments: <a href="tel:+64800842867">0800 VICTORIA</a></li>
        <li>Emergency: <a href="tel:+6444639999">+64 4 463 9999</a> or ext. 8888 (internal)</li>
    </ul>

    <nav role="navigation">
      <ul role="menubar">
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info">Site info</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info/site-map">Site map</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info/feedback">Feedback</a></li>
          <li role="menuitem"><a title="See ..." href="http://www.victoria.ac.nz/site-info/glossary">Glossary</a></li>
      </ul>
    </nav>
    <p>Copyright &copy; Victoria University of Wellington, New Zealand</p>

  </section>

</footer>
