<div class="global">
	<nav>
		
		<a href="#"><!-- Victoria's main site --><img class="icon" src="http://www.entypo.com/images/home.svg" alt="Home pictogram"></a>
		<a href="#">Future students</a>
		<a href="#">International students</a>
		<a href="#">Current students</a>
		<a href="#">Research</a>
		<a href="#">Learning &amp; teaching</a>

	    <label role="search">
	<!--         <input type="search" placeholder="Search Victoria for..." style="border: none; background: transparent; color:inherit;">
	        <button style="position:absolute; top:0; right:0; bottom:0;">Search</button> -->
	    	<a href="#"><img class="icon" src="http://www.entypo.com/images/magnifying-glass.svg" alt="Magnifying glass pictogram"></a>
	    </label>


	</nav>

</div>