<div class="global" id="global-nav">
	<div class="menu-toggle horisontal-links">
		<a href="javascript:void(0);"><div class="logo-mini">&nbsp;</div></a>
		<a href="javascript:void(0);" class="icon-2x icon-menu js-toggle-global-nav align-right"></a>
		<!-- <div class="mobile logo-mini"></div> -->
	</div>
	<div class="menu">
		<nav class="hide-on-desktop">
			<form method="get" action="http://victoria.ac.nz/search">
			    <label role="search">
			    	<div class="input-wrapper -icon-search">
			        	<input type="text" autocomplete="off" name="q" placeholder="Search Victoria for…"  >
		  				<input type="submit" value="Go">
			        </div>
			    </label>
			</form>
			
			<div class="horisontal-links align-center">
				<a href="#" class="icon-home">Home</a>
				<a href="#" class="icon-phone">Contact</a>
			</div>
		</nav>

		<nav id="menu">
			<a href="#" class="home">
				<i class="icon-globe hanging-icon"></i>
				<span class="hide-on-desktop">Victoria's main site</span>
			</a>
			<a href="#">Future students</a>
			<a href="#">International students</a>
			<a href="#">Current students</a>
			<a href="#">Research</a>
			<a href="#">Learning &amp; teaching</a>

		    <label role="search" class="hide-on-mobile">
		    	<a href="#" class="icon-search"></a>
		    </label>
		</nav>

		<!-- duplicates side nav -->
		{{> navigation.site}}
		<!-- /duplicates side nav -->

	</div>

</div>