---
notes: > 
  Research hub sub navigation bar 

---


<section class="page-sub-nav">
  <div class="centraliser">

      <nav role="navigation">
        <ul role="menubar">
          <li>
            <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research-strengths.html" class="">Discover our research strengths</a>
          </li>
          <li>
            <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/research-degrees.html" class="">Become a research student</a>
          </li>
          <li role="menuitem">
            <a href="{{baseurl}}/prototypes/research-partnerships.html" role="menuitem" title="Read about Campuses">Partner with us</a>
          </li>
          <li>
            <a role="menuitem" title="" href="{{baseurl}}/prototypes/research-strengths.html" class="">Find a researcher</a>
          </li>
          <li>
            <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/our-researchers.html" class="">Support for researchers</a>
          </li>
          
        </ul>
      </nav>

  </div>
</section>