<nav class="site" role="navigation">
    <ul>
        <li>
            <ul>
                <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/about" data-test="test">
            About        </a></li>
                <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/study-careers" data-test="test">
            Study and careers        </a></li>
                <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/research-services" data-test="test">
            Research        </a></li>
                <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/studenthelp" data-test="test">
            Student and academic services        </a></li>
                <li><a href="http://www.victoria.ac.nz/vbs/schools" data-test="test">
            Schools        </a></li>
                <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/centresandinstitutes" data-test="test">
            Institutes, centres, chairs        </a></li>
                <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/teaching" data-test="test">
            Teaching matters        </a></li>
            </ul>
        </li>
    </ul>
</nav>
