<nav class="site" role="navigation">
	<a href="#" class="back hide-on-desktop">
		<i class="icon-back hanging-icon hide-on-desktop"></i>
		<div class="hide-on-desktop">
			<div>Faculty of Humanities and Social Sciences</div>
			<div style="opacity:0.5" lang="mi">Te Wāhanga Aronui</div>
		</div>
	</a>
	<!-- <p>No Children</p> -->
	<ul>
		<li><a href="http://www.victoria.ac.nz/fhss" class="">Faculty's Home</a></li>
		<li><a href="http://www.victoria.ac.nz/fhss/about" class="">About us</a></li>
		<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards" class="">Committees and boards</a></li>
		<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards" class="">Committees and boards</a>
			<ul>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/faculty-academic-committee">
				Faculty academic committee							
				</a></li>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/joint-leave-committee">
				Joint leave committee							
				</a></li>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/joint-research-committee">
				Joint research committee							<img class="icon" src="http://www.entypo.com/images/chevron-right.svg" alt="Chevron right">

				</a></li>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/facultyboard">
				Faculty board							
				</a></li>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/faculty-management-team" class="selected">
				Faculty management team							
				</a></li>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/faculty-learning-and-teaching-committee">
				Faculty learning and teaching committee							<img class="icon" src="http://www.entypo.com/images/chevron-right.svg" alt="Chevron right">

				</a></li>
				<li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards/faculty-postgraduate-committee">
				Faculty postgraduate committee							
				</a></li>

			</ul>
		</li>
	</ul>
</nav>