<nav class="site" role="navigation">
	<a href="#" class="hide">Hide menu <i class="icon-up-open-mini"></i></a>


	<a href="#" class="back">
		<i class="icon-back hanging-icon"></i>
		<div class="hide-on-desktop">
		<div>Faculty of Humanities and Social&nbsp;Sciences</div>
		<div lang="mi" style="opacity:0.5">Te Kauhanganui Tātai Ture</div>
		</div>
		<div class="hide-on-mobile">School's home</div>
		</a>

	<ul>
		<li><a href="#" class="selected">About Us</a></li>
		<li><a href="#">Our staff <i class="icon-right-open"></i></a></li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Research</a></li>
		<li><a href="#">Our philosophy</a></li>
	</ul>
</nav>