<nav class="site" role="navigation">
	<a href="#" class="hide">Hide menu <img class="icon" src="http://www.entypo.com/images/chevron-up.svg" alt="Chevron up"></a>

	<a href="#" class="back"><img class="icon" src="http://www.entypo.com/images/level-up.svg" alt="Level up pictogram"> School's home</a>

	<ul>
		<li><a href="#" class="selected">About Us</a></li>
		<li><a href="#">Our staff <img class="icon" src="http://www.entypo.com/images/chevron-right.svg" alt="Chevron right"></a></li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Research</a></li>
		<li><a href="#">Our philosophy</a></li>
	</ul>
</nav>