---
notes: >

  Tooltips that initialise automatically if the `data-tooltip` attribute is present on an element.
  <br><br>
  By default, tooltips are shown on element `hover` (for desktop) or `tap` (mobile).
  <br><br>


---

<span class="icon-help" title="Icon-based tooltip showing on hover (desktop) or on tap (mobile)" data-tooltip></span>

<button class="button" title="Example of a tooltip on a different type of element" data-tooltip>Tooltip 'on hover'</button>

<br><br>

<p>An example of a tooltip within a paragraph of text/content - Before work can start the <span class="inline-tooltip" data-tooltip title="Person Conducting a Business or Undertaking, that is the contractor, business, or organisation">PCBUs</span> managing the work must undertake a site-specific risk assessment to ensure all unacceptable risks are mitigated</p>
