.banner {
    
    background: $black-victoria;

    header {


      @include outer-container;

    	// border-bottom: 6px solid #64a659;
        padding: 1.5rem 0;
        
        a {

            text-indent: -9999em;
            display: block;
            height: 48px;
            width: 192px;
            background-image: url("http://www.victoria.ac.nz/assets/images/logo_desktop.png");
            background-size: 94%;
            /* background-size: contain; */
            background-position: 0 50%;
            background-repeat: no-repeat;
            // margin: 0 1.5rem 0 1em;
            // width: 25%;
            height: 8em;
            border-right: 1px solid #39403f;
            // padding-right: 1em;

            // float:left;
            /* display: none; */
            /* visibility: hidden; */


            @include span-columns(3);
        }

        div {
            @include span-columns(9);
        }

        h1 {
            font-size: 4.5em;
            font-weight: 300;
            margin: .1em 0 .2em 0;
            line-height: 0.8;
            letter-spacing: -.03em;
            color: #fff;
            text-indent: -0.05em; 
        }

        p {
            display: block;
            font-size: 1.8em;
            font-weight: 300;
            margin: 0;
            color: #fff;

        }

        :lang(mi) {
            font-size: 1em;
            font-weight: normal;
            opacity: .7;
            color: #fff;
        }


    }

}