$logo-max-height: rem( 125px ); //TODO: Transfer to rems using function


// Wrapper centralising
//TODO: Relocate to more generic spot (not a component)
.centraliser {
  @include outer-container;
}


.site-header{
  background: $black-victoria;

  .centraliser {
    padding: .7em 1rem; //TODO: Stabilise as a default spacing
  }

  /* Victoria main logotype */
  .logo {
    @include span-columns( 3.5 );

    padding:      .5rem $default-spacing;
    border-right: 1px solid $black-emperor;

    // Logo image
    img { max-height: $logo-max-height; }
  }

  // Site's introduction - eg. sitename, motto, short abstract
  .site-intro {
    @include span-columns( 8.5 );

    padding:    .4em 0;
    text-align: left;
  }

  /** Sitename */
  h1 {
    margin-bottom: .2em;
    font-size:     scale-heading( 4 ) * .85; // 85% smaller than standard <h1>
    font-weight:   $weight-normal;
    color:         $white;

    .preline,
    small {
      display: block;
    }

    // Puts given part of the heading to a separate line
    .preline { font-size: 75%; }

    // Alternative translation
    small {
      margin-top:  .4em;
      font-size:   50%;
      font-weight: normal;
      color:       $grey-silver;
    }
  }

  @include media( $mobile-large-and-smaller ) {
    .logo { display: none; }
    .site-intro { width: 100%; }
    h1 { text-align: center;}
  }
}
