.promo {

    display: block;
    padding: 1rem;
    
    // padding-top: 0;
    border-top: none;

    &.primary {
        background: $black-victoria;

        * {
            color: #fff;
        }
    }

    h2 {

        text-transform: uppercase;
    }
}