.links {
    // margin: 0;
    list-style: none;

    li {

        border-top: 1px solid $grey-alto;
        margin-bottom: 0;

        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    a {
        display: block;
        padding: 0.5em 1.5rem;
        border-bottom: none;

        &:hover {
            background: rgba(0,0,0,.05);
        }

        &:before {
            color: #1e991c;

            content: '\2014 ';
            min-width: 1.5rem;
            // padding: 0.3em 0.5em;
            margin-left: -1.5rem;
            display: inline-block;
            // font-size: .6em;
            // text-transform: uppercase;
            text-align: center;
        }
        &[xhref*=".pdf"]:before{
    //         margin: 0;
    //         min-width: 2.5rem;
    //         // margin-left: -3rem;
    //         // margin-right: 0.5rem;
    //         content: 'pdf';
    // background: #ECCDCD;
    color: #AF1B1B;
    // float: right;
        }

        &[xhref*=".pdf"]:before{
            margin: 0;
            min-width: 2.5rem;
            // margin-left: -3rem;
            // margin-right: 0.5rem;
            content: 'pdf';
    background: #ECCDCD;
    color: #AF1B1B;
    // float: right;
        }

        // &[href*=pdf]:before {
        //     content: 'pdf';
        // }
    }

    &.documents {
        a {
            // padding-left: 3rem;
        }
    }


}