.site, .breadcrumbs {

    background: $green-bottle-green;

    z-index: 1;
    margin-bottom: 2em;

    overflow: hidden;

    &--container {

        position:relative;
    }

    a {

        font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
        font-size: 1em;


        color: #fff;
        display: block;

        //faux padding for border-bottom to go across all nav even for indented elements
        //(think child pages in the nav)
        $faux-spacing: 10rem;
        margin-left: -$faux-spacing;
        padding: 0.35em 0.5rem 0.4em $faux-spacing + $default-spacing;

        border-bottom: 1px solid rgba(255,255,255,0.15);

        position: relative;
        cursor: pointer;

        &.back {
            // //todo: entypo icons

            &:before {
            }
        }

        &.hide {
            text-align: center;
        }

        &.selected, &:hover, &:focus {

            background: rgba(0,0,0, .1);

        }

        &.selected {

            &:after {
                content: "";
                display: block;
                position: absolute;

                width: 4px;
                border: 1px solid #ccc;
                background: #fff;

                left: 4px;
                top: 4px;
                bottom: 4px;

                left: $faux-spacing + 0.7rem;
            }
        }

    }
    li {
        margin:0;
        padding: 0;
    }
    li > a {
        font-size: 1.357em;
    }

    li li {
        padding-left: $default-spacing;
    }
}