footer {

    background: $color-footer-background;

    padding: $default-spacing;

    font-size: mod-scale(1); //from _settings.typography, basically "one size up"

    a {
        color: $color-body-text;
        border-bottom: none;

        &:hover {
            text-decoration: underline;
        }
    }

    * + h2 {
        margin: $default-spacing 0 0 0;
    }

    nav {
        @include outer-container;

        ul {
            @include align-items(stretch);
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(space-between);

            list-style: none;
        }

        ul > li {
            // @include flex(1);
        }
    }
}