.site, .breadcrumbs {


@include media($mobile){
    .layout & {
        display: none;
    }
}

    background: $green-bottle-green;

    z-index: 1;

    overflow: hidden;

    &--container {

        position:relative;
    }

    a {
        @include menu-item;
    }

    ul {
        margin-bottom: 0;
    }
    li {
        margin:0;
        padding: 0;
    }

    li li {
        padding-left: $default-spacing;
    }
}