
$logo-max-height: 9rem; //TODO: Transfer to ems using function

header {
  background: $black-victoria;
}

.banner-header {
  @include outer-container;
  padding: 1rem 0;

  /* Victoria main logotype */
  .logo {
    @include span-columns( 3.5 );
    padding: .5rem $default-spacing;
    border-right: 1px solid #39403f;

    @include media($desktop){
      display: block;
    }

    // Logo image
    img {
      max-height: $logo-max-height;
    }
  }

  // Site's introduction - eg. sitename, motto, short abstract
  .site-intro {
    padding: .4rem 0;
    @include span-columns( 8.5 );
    text-align: left;
  }

  /** Sitename */
  h1 {
    margin-bottom: .2rem;
    font-size: scale-heading( 4 ) * .85;
    font-weight: $weight-normal;
    color: $white;

    .preline,
    small
    {
      display: block;
    }

    // Puts given part of the heading to a separate line
    .preline { font-size: 75%; }

    // Alternative translation
    small {
      margin-top:  .4rem;
      font-size:   1rem;
      font-weight: normal;
      color:       $grey-silver;
    }
  }
}
