
//TODO: Move to the _objects and _generic
footer {}

.block {
  padding: $default-spacing;
}


  /** PRIMARY FOOTER (dark one), usually placed on the very end of the page. 1 MUST be used on a single page. */

  $footer-logo-width:         20% !default;
  $footer-primary-background: $black-victoria !default;
  $footer-primary-color:      $grey-silver !default;
  $footer-primary-separator:  1px solid $black-emperor !default;

  .footer-primary {
    background-color: $footer-primary-background;
    color:            $footer-primary-color;

    //TODO: Should be refactored to include underlines (currently, it's not clear these are links)
    ul a {
      text-decoration: none;
      border-bottom: 0;
      color: inherit;

      @include hoverify() {
        text-decoration: underline;

       img { text-decoration: none; }
      }
    }

    ul, ul li {
      &,
      & > li {
        display: inline-block;
      }

      > li {  margin: 0 .35em; }
    }

    .block {
      + .block {
        @include clearfix();
        border-top: $footer-primary-separator;
      }

      &.small { padding-top: .5em; }
    }

      // Logo & Contact info
      .logo {
        display: inline-block;
        margin-right: 5%;
        width: $footer-logo-width;
        vertical-align: middle;
      }

      .contacts {
        padding: .5em 0;

        > li:last-child { margin-right: 0; }
        > li:first-child { margin-left: 0; }

        a {
          color: $white;
          font-weight: $weight-bold;
        }
      }

      // Foot-note like mini-menu + copyright at the end of the footer
      .small > * { font-size: .9em; }

      .copyright {
        display: block;
        float: right
      }

      .minilinks {
        float: left;

        > li {
          &:first-child { margin-left: 0; }
        }
      }
  }


  /** SECONDARY FOOTER (light one), usually before the primary footer. 0-many CAN be used on a single page. */

  $footer-secondary-background: $grey-alto !default;
  $footer-secondary-separator:  1px solid $grey-silver !default;
  $footer-secondary-color:      $base-font-color !default;

  .footer-secondary {
    background-color: $footer-secondary-background;

    h2 {
      line-height: 1.3;
      font-size: modular-scale( 1 ); // ~ stadard <h4>'s size
    }

    nav ul {
      a {
        font-family: $base-heading-family;
        font-size: 18px;
        border-color: $footer-secondary-color;

        @include hoverify() {
          border-bottom: none;
        }
      }
    }

    ul {
      a {
        color: inherit;
      }
    }

    & + .footer-secondary,
    .block + .block {
      border-top: $footer-secondary-separator;
    }

    // One block alone
    &:not(.two-columns) {

      h2 {
        float: left;
        margin-right: 2em;
      }

      // Stretches all the links to rest of the available width
      nav ul {
        @include display(flex);
        @include align-items(stretch);
        @include flex-direction(row);
        @include justify-content(space-between);
      }

      .contacts {
        ul {

          &,
          > li {
            display: inline-block;
            margin-right: .75em;
          }
        }
      }
    }

    .contacts {
      address {
        font-style: inherit;
        color: $black-emperor;

        a {
          margin-right: .35em;
          color: $footer-secondary-color;
          font-weight: $weight-medium;
          border-bottom: 0;
          text-decoration: underline;

          @include hoverify() { text-decoration: none; }
        }
      }
    }


    // Two blocks next to each other
    &.two-columns {
      h2 { margin-bottom: .75em; }

      .block {
        @include span-columns( 1 of 2, table );

        &:first-child {
          padding-right: $default-spacing;
        }

        &:last-child {
          padding-left: $default-spacing;
          border-top: 0;
          border-left: $footer-secondary-separator;
        }
      }

      // Turn links list into 2-columns to conserve space
      nav ul {
        li {
          display: block;
          float: left;
          width: 50%;
        }
      }

      ul {
        margin-bottom: .8em;

        > li { margin: .15em 0; }

        &:last-child { margin-bottom: 0; }
      }
    }

    .link-more { float: right; }
  }
