// => articles.scss
main {
    article {
        border-top: 4px solid #115737;
        // padding: 0.75em 0;
        margin-bottom: $default-spacing;
    }

    .featured {
        font-size: 120%;
        color: $color-headers;
    }
}