@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NationalWebLF-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Regular.woff") format("woff"),
  url("../fonts/NationalWebLF-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NationalWebLF-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Semibold.woff") format("woff"),
  url("../fonts/NationalWebLF-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NationalWebLF-Extrabold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Extrabold.woff") format("woff"),
  url("../fonts/NationalWebLF-Extrabold.ttf") format("truetype"); }

@font-face {
  font-family: "VicIcons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/vic-icons.eot?#iefix") format("embedded-opentype"),
  url("../fonts/vic-icons.woff") format("woff"),
  url("../fonts/vic-icons.ttf") format("truetype"),
  url("../fonts/vic-icons.svg#VicIcons") format("svg"); }

body {
    // font-size: .875em;
    font-family: "Helvetica Neue","Segoe WP","Nimbus Sans L",Helvetica,Arial;
    line-height: 1.6;
    color: $color-body-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    font-weight: 600;
    margin-bottom: .4em;
    line-height: 1.35;

    color: $color-headers;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}



q:before {
    content: '';
}
q:after {
    content: '';
}

a {
    color: $color-links;
    text-decoration: none;
    //@include hoverify { color: $blue-curious-blue }
}

a, a > *:before, a > *:after, .tooltip-icon  {
    // @include transitionise();
}

