
@include media($desktop-and-bigger){

.layout {
    @include outer-container; // Needs to
}



.content {
    padding: $gutter 0;

    .layout > & {
        @include span-columns(12 of 12);
    }

    .layout.has-nav > & {
        @include span-columns(9 of 12);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }
}

    .layout.has-nav > nav {
        @include span-columns(3 of 12);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }





main {
    .layout > .content > & {
        @include span-columns(12 of 12);
    }
    .layout > .content.has-aside > & {
        @include span-columns(9 of 12);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }
    .layout.has-nav > .content > & {
        @include span-columns(9 of 9);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }
    .layout.has-nav > .content.has-aside > & {
        @include span-columns(6 of 9);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }
}

aside {
    .layout > .content.has-aside > & {
        @include span-columns(3 of 12);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }
    .layout.has-nav > .content.has-aside > & {
        @include span-columns(3 of 9);

        @include media($mobile) {
            @include span-columns(12 of 12);
        }
    }
}







.container {
    @include outer-container;
    padding: 0;

    &>nav {
        @include span-columns(3);
        @include media( $tablet ) {
          @include span-columns(4 of 12);
        }
    }

    &>main {
        @include span-columns(6);
        @include media($tablet) {
          @include span-columns(4 of 12);
        }
    }

    &>aside {
        @include span-columns(3);
        @include media($tablet) {
          @include span-columns(4 of 12);
        }

        // margin-top: 1.5rem;
    }

    &>.half {
        @include span-columns(6);

        margin-top: 1em;
    }

    &>.flex {

        // @include align-items(stretch);
        // @include display(flex);
        // @include flex-direction(row);
        // // @include justify-content(flex-start);
        // @include justify-content(space-between);

        // @include flex-wrap(wrap);


        & > article {
            @include span-columns(3 of 6);
            @include omega(2n);
            // @include span-columns(6 of 6);
            // @include omega(1n);

            // // @include flex(1);
            // width: 50%;
            // // margin: 0 1rem;
            // width: calc(50% - 1rem);
            // // box-sizing: border-box;
            // margin: 1.5rem 0 0 0;
            // @include media($tablet) {
            //     width: 100%;
            // }

        }


        & > figure {
            // margin: 1.5rem 0 0 0;
            margin: 0 0 1.5rem 0;
            @include span-columns(3 of 6);
            @include omega(2n);

            // &.promo-panel {
            //     @include span-columns(6 of 6);
            //     @include omega();




            // }

            img {
                width: 100%;
                filter: grayscale(20%);
            }

            &:hover img{
                filter: none;
            }

            h3 {
                color: $color-links;
                border-bottom: 1px solid #b8d2e0;
                display: inline;
                font-weight: 300;

            }

            &:hover h3 {
                border-bottom-color: #5a96b7;
            }

            p {
                color: $color-body-text;
            }


        }



        .featured {
        // &>div {

                    @include span-columns(12 of 12);
                    @include omega();
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            padding: 1em 1.5rem;
            font-size: 120%;
            color: $color-headers;

        }
    }



    &>.third {
        @include span-columns(4);


        margin-top: 1em;
    }
}

}

.banner {
    background:#eeeeee;
    position:relative;
    overflow:hidden;

    &.pattern {
        background: url("http://www.victoria.ac.nz/__data/assets/image/0005/216698/maori-bg-pattern.png");

        figure {
            background: transparent;
            box-shadow: none;
        }
    }

}

.banner figure {

    @include clearfix();
    padding: 0;

    box-shadow: 0px 1px 5px rgba( #000, .15);
    background: #fff;

@include media( $tablet-and-bigger ){

    margin: $default-spacing * 1.5 $default-spacing * -1.5;

    figcaption {
        padding: $default-spacing * 1.5;
        @include span-columns(7 of 12);
        z-index: 1;
    }

    img {
        @include span-columns(5 of 12);
    }

    &.photo, &.pattern {
        figcaption {
            @include span-columns(6 of 12);
            @include shift(3);
            padding: $default-spacing * 2 0;
            position: relative;
            z-index: 1;
            text-align: center;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}//media desktop

    &.photo {
        figcaption {
            h1, h2, h3, h4, h5, h6, p{
                display: inline-block;
                padding: .35rem .75rem;
                margin-bottom: .5em;
                color: #FFF;
                background-color: rgba(100,166,89,0.9);
            }
        }
    }


}
