$base-line-height: 1.6;
$base-font-size: 1rem;
$modular-scale: 1.25;

$national-cap-height-ratio: 61 / 74; //Helvetica/National cap height measured @100px font sizes

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@function mod-scale($resonant, $base: $base-font-size) {
  @return pow($modular-scale, $resonant) * $base;
}

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NationalWebLF-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Regular.woff") format("woff"),
  url("../fonts/NationalWebLF-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NationalWebLF-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Semibold.woff") format("woff"),
  url("../fonts/NationalWebLF-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NationalWebLF-Extrabold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Extrabold.woff") format("woff"),
  url("../fonts/NationalWebLF-Extrabold.ttf") format("truetype"); }

@font-face {
  font-family: "VicIcons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/vic-icons.eot?#iefix") format("embedded-opentype"),
  url("../fonts/vic-icons.woff") format("woff"),
  url("../fonts/vic-icons.ttf") format("truetype"),
  url("../fonts/vic-icons.svg#VicIcons") format("svg"); }

html {
  font-size: 14px; //84em * 14px = 1176px
  //include-media.com/#features
  @import 'include-media/dist/_include-media.scss';

  @include media(">=1366px") { //84em * 16px = 1344px
    font-size: 16px;
  }
  @include media(">=1536px") { //84em * 18px = 1512px
    // font-size: 18px;
  }
}

body {
    font-family: "Helvetica Neue","Segoe WP","Nimbus Sans L",Helvetica,Arial;
    font-family: "Helvetica Neue","Segoe WP","Nimbus Sans L",Helvetica,Arial;
    line-height: $base-line-height;
    color: $color-body-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    margin-top: 0;
    font-weight: normal;
    color: $color-headers;
    line-height: $base-line-height;
}




h1 {
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    font-weight: 600;
    font-size: mod-scale(4) / $national-cap-height-ratio;
    line-height: #{$base-line-height * 2}rem;
    margin-bottom: #{$base-line-height * 1 - 0.5}rem;
    padding-top: 0.5rem;

    &.hero {
      font-size: mod-scale(5) / $national-cap-height-ratio;
    }
}

h2 {
    font-size: mod-scale(3) / $national-cap-height-ratio;
    line-height: #{$base-line-height * 1.5}rem;
    margin-bottom: #{$base-line-height * 1 - 0.5}rem;
    padding-top: 0.5rem;
}

h3 {
    font-size: mod-scale(2) / $national-cap-height-ratio;
    line-height: #{$base-line-height * 1.5}rem;
    margin-bottom: #{$base-line-height * 1 - 0.5}rem;
    padding-top: 0.5rem;
}

h4 {
    font-size: mod-scale(1) / $national-cap-height-ratio;
    line-height: #{$base-line-height * 1}rem;
    margin-bottom: #{$base-line-height * 1}rem;
    padding-top: 0;
}

h5 {
    font-size: mod-scale(0) / $national-cap-height-ratio;
    line-height: #{$base-line-height * 1}rem;
    margin-bottom: #{$base-line-height * 1}rem;
    padding-top: 0;
} 

p {
    font-size: mod-scale(0);
    line-height: #{$base-line-height * 1}rem;
    margin-bottom: #{$base-line-height * 1}rem;
} 

h6 {
    font-size: mod-scale(-1) / $national-cap-height-ratio;
    line-height: #{$base-line-height * 1}rem;
    margin-bottom: #{$base-line-height * 1}rem;
    padding-top: 0;
} 


q:before {
    content: '';
}
q:after {
    content: '';
}

a[href] {
    color: $color-links;
    text-decoration: none;
}

ul {
  list-style: square;
  margin-bottom: $default-spacing;

  li & {
  margin-left: $default-spacing
  }
}

ol {
  list-style: decimal;
  margin-bottom: $default-spacing;

  li & {
  margin-left: $default-spacing;
  }
}


p, ul, ol, table {
  a {
    @extend %vuw-link;
  }
}

%vuw-link {
  display: inline;
  border-bottom: 1px solid;
  padding-bottom: 0.08em;
  margin-bottom: -0.08em;
  border-bottom: 1px solid transparentize($color-links, 0.7);

  &:hover {
    opacity: 0.8;
    border-bottom-color: $color-links;
  }

}


  .table-container { //any other h-scrollable content?
    display: block;
@include media($mobile){
    max-width: 100%;
    overflow-x: scroll;
}//media mobile
    box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
    margin-bottom: $default-spacing;
  }


table {

  &.bleed {

@include media($desktop){

    margin-left: -25%;
    margin-right: -25%;

}//media desktop

  }

}

body.show-grid {
    background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
    background-repeat: repeat-y;
    background-size: 100% $base-font-size * $base-line-height;
}

p > img {
  float: left;
  margin: 0 $default-spacing $default-spacing 0;

  & ~ img {
    float: right;
    margin: 0 0 $default-spacing $default-spacing;
  }
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
  padding-bottom: $default-spacing;

  padding: $default-spacing / 2;

  vertical-align: baseline;
  text-align: left;

  p {
    margin-bottom: 0;
  }
}


th {
  background-color: #D1E0DA;
}

td {
  border-bottom: 1px solid #ddd;
}


time {
  color: #8a8a8a;
}

