.highlight_secondary {
	// margin: 1rem -1rem;
	// padding: 1rem;
	// margin: 1.5em -1.5rem;
	margin: $gutter 0 0;
	padding: $gutter;
	background: #f4f4e9;

	// @include span-columns(4 of 6);
	// @include pad()
	// padding: $gutter 17.7%;


	article & {
		//margin: 1em -1.5rem 0;
		// margin-left: -1.5rem;
		// margin-right: -1.5rem !important;

		// float: none;

	}
}