

/* ===== FONT ICON'S CODES ================================================== */


// TODO: Add quotes

$icon-search:           '\e800';
$icon-mail:             '\e801';
$icon-heart:            '\e802';
$icon-check:            '\e803';

$icon-star:             '\e804';
$icon-help:             '\e805';
$icon-people:           '\e806';
$icon-user:             '\e807';

$icon-info:             '\e808';
$icon-home:             '\e809';
$icon-back:             '\e80A';
$icon-pictures:         '\e80B';

$icon-popup:            '\e80C';
$icon-clock:            '\e80D';
$icon-tag:              '\e80E';
$icon-book:             '\e80F';

$icon-book-open:        '\e810';
$icon-pin:              '\e811';
$icon-vcard:            '\e812';
$icon-chat:             '\e813';

$icon-flag:             '\e814';
$icon-external:         '\e815';
$icon-printer:          '\e816';
$icon-camera:           '\e817';

$icon-lock:             '\e818';
$icon-lock-open:        '\e819';
$icon-phone:            '\e81A';
$icon-attention:        '\e81B';

$icon-resize-up:        '\e81C';
$icon-resize-down:      '\e81D';
$icon-mic:              '\e81E';
$icon-cog:              '\e81F';

$icon-share:            '\e820';
$icon-basket:           '\e821';
$icon-comment:          '\e822';

$icon-caret-down-thin:  '\e823';
$icon-caret-left-thin:  '\e824';
$icon-caret-right-thin: '\e825';
$icon-caret-up-thin:    '\e826';

$icon-caret-down:       '\e827';
$icon-caret-left:       '\e828';
$icon-caret-right:      '\e829';
$icon-caret-up:         '\e82A';

$icon-triangle-down:    '\e82B';
$icon-triangle-left:    '\e82C';
$icon-triangle-right:   '\e82D';
$icon-triangle-up:      '\e82E';

$icon-refresh:          '\e82F';

$icon-graduation-cap:   '\e830';
$icon-ticket:           '\e831';
$icon-megaphone:        '\e832';
$icon-calendar:         '\e833';

$icon-globe:            '\e834';
$icon-dots:             '\e835';
$icon-arrow-down:       '\e836';
$icon-arrow-left:       '\e837';

$icon-layout:           '\e838';
$icon-attach:           '\e839';
$icon-menu:             '\e83A';
$icon-arrow-right:      '\e83B';

$icon-up-small:         '\e83C';
$icon-edit:             '\e83D';
$icon-download:         '\e83E';


.icon {
    height: 1em;
    margin: -0.15em 0.3em;
}
