
  /* ===== PATHS ============================================================ */

  $dir-fonts:  "../fonts";
  $dir-images: "../images";





  /* ===== BASE, LAYOUT & GRID ============================================== */


  $base-size:     16px;           // Most browsers' default => Use for relative units' calculations


  // Sets global base em size for the px-to-em and px-to-rem function. This should be the same size as your body font-size.
  $em-base:       $base-size;     // For Bourbon's mixins and functions

  $base-width-px: 1280px;         // Maximum width of the content
  $base-width:    rem( $base-width-px );





  /* ===== POSITIONING ========================================================= */


  // Z position
  $z-index-max:       9999 !default;
  $z-index-top:       10 !default;
  $z-index-middle:    5 !default;
  $z-index-lower:     1 !default;
  $z-index-default:   0 !default;






  /* ===== FONTS ============================================================ */


  // Settings
  $font-supported-formats: woff woff2 ttf;


  // Available weights
  $weight-normal:      400;
  $weight-semibold:    600;
  $weight-extrabold:   800;


  // Victoria font
  $font-victoria:      "National";
  $font-path-victoria: "#{$dir-fonts}/NationalWebLF";

  // Victoria icons
  $font-icons:         "VicIcons";
  $font-path-icons:    "#{$dir-fonts}/vic-icons";





  /* ===== DEFAULTS ========================================================= */


  /** Colours. */

  $color-links:             $blue-endeavoura;
  $color-headers:           $green-bottle-green;
  $color-body-text:         $black-mine-shaft;

  $color-footer-background: $grey-alto;


  /** General typography */

  // Bourbon's overrides for modular scaling
  $modular-scale-ratio: $major-third;   // = 1.25x
  $modular-scale-base:  em( $em-base ); // Use ems for font sizing and anything relative to this size

  $base-heading-to-body-ratio: 74 / 74; //TODO: Review how to do this properly

  $base-line-height:    1.6;

  $base-font-size:      1em;            // Respects user's settings
  $base-font-color:     $color-body-text;
  $base-body-family:    "Helvetica Neue","Segoe WP","Helvetica","Arial";

  $base-heading-family: "#{$font-victoria}",$base-body-family;
  $base-heading-color:  $color-headers;


  /** Links */
  $base-link-color:    $color-links;

  /** Box model */
  $highlight-border-width: .25rem;

  /** Margins and paddings */
  $default-spacing: $base-line-height * 1rem;


