/*=========================================================
=            GRID SYSTEM                                  =
=========================================================*/

//github.com/thoughtbot/neat#using-neat

$gutter:              $base-line-height * $base-font-size;

$max-width:           $base-width;

// Development helper *ONLY*
$visual-grid:         true;
$visual-grid-color:   $green-bottle-green;
$visual-grid-index:   front;
$visual-grid-opacity: .05;
