<<<<<<< HEAD
=======
// Branded
$green-victoria:       #115735;
$black-victoria:       #1d2624;
>>>>>>> 62d1fbeaf402c05143ba9dce9701e6ce5d5cfac4

/*==========================================
=            COLOUR DEFINITIONS            =
==========================================*/


// *IMPORTANT* - Colour naming convention
//
// 1) Read why https://davidwalsh.name/sass-color-variables-dont-suck
// 2) Get unique name for the color using http://chir.ag/projects/name-that-color/#005EA5
//    or make one.
// 3) Assign colour to the variable as following: ${base_color}-{unique_name}.


/** Branded */

$green-victoria:       #115737;
$green-light-victoria: #64A659;
$black-victoria:       #1D2624;


/** Victoria's greens. */

$green-celtic:         #1F3429; // Used for hovering already dark green items that are combined with dark shades (eg. $black-victoria)
$green-bottle-green:   #0D4B2F; // Used for (ideally clickable) boxes


//$color-body-text: #242424; - Stop changing the colours of shit dam it!


$green-bush:           #0F3E27; // Darker shade of $green-bottle-green, suitable for its hover effect
$green-nebula:         #D1E0DA; // Should be used to gently emphasize content (eg. by outlining it)


/** Victoria's blues. */

$blue-azure:           #3363B3; // Button
$blue-st-tropaz:       #285189; // Button's hover

$blue-endeavoura:      #005EA5; // Link
$blue-curious:         #2E8ACA; // Link's hover

$blue-curious-blue:    #2E8ACA; //DEPRECATED! Use $blue-curious instead


/** Yellowie shades. */

$red-alizarin-crimson: #E72E2E; // Used for critical warnings, errors and dangerous elements
$red-persian-red:      #D12727;

$yellow-ecru:          #F4F5E9; // Used for important highlights
$orange-peel:          #FF9C00; // Accessibility + highlighting text on a dark background


/** Dark to light combinations. */

$white:                #FFF;    // Default body background

$grey-gallery:         #EEE;    // Used for subtle background and delimiters on $white background *ONLY*
$grey-alto:            #DDD;    //TODO: Is it still used?
$grey-silver:          #CCC;    // Used for background, delimiters on $grey-light or $grey-gallery backgrounds or as a secondary text on very dark background
$grey-silver-chalice:  #AAA;

$grey:                 #8B8B8B; // Use on elements of lower importance

$black-emperor:        #555;
$black-tundora:        #444;            //NOT DEPRECATED! DO NOT Use $emperor instead 
$black-mine-shaft:     #242424;         // Darkest font colour
$black:                $black-victoria; // Darkest colour to be used


// Global declarations
$color-links: $blue-endeavoura;
$color-headers: $green-victoria;
<<<<<<< HEAD
$color-body-text: $black-tundora;
=======
// $color-body-text: $black-tundora;
$color-body-text: #242424;

$color-footer-background: $grey-alto;
>>>>>>> 62d1fbeaf402c05143ba9dce9701e6ce5d5cfac4
