//github.com/thoughtbot/neat#using-neat
@import "neat-helpers";

$gutter: $base-line-height * $base-font-size;
$default-spacing: $base-line-height * 1rem;

$max-width: 84rem;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);
$mobile: new-breakpoint(max-width 768px 4);

$desktop: new-breakpoint(min-width 769px 12);


$visual-grid: true;
$visual-grid-color: $green-bottle-green;
$visual-grid-index: front;
$visual-grid-opacity: 0.05;
