// Branded
$green-victoria:       #64a659;
$black-victoria:       #1d2624;


// Vic Green variations
$green-bottle-green:   #0D4B2F;


$blue-endeavoura:      #005ea5;
$blue-curious-blue:    #2B8CC4;


// Greys from light to dark
$white:                #FFF;
$grey-gallery:         #EEE;
$grey-alto:            #DDD;
$grey-silver:          #CCC;
$black-tundora:        #444;
$black:                #000;


// Global declarations
$color-links: $blue-endeavoura;
$color-headers: $green-bottle-green;
// $color-body-text: $black-tundora;
$color-body-text: #242424;

$color-footer-background: $grey-alto;