
$base-line-height: 1.6;
$base-font-size: 1em;
$modular-scale: 1.25;

//Helvetica/National cap height measured @100px font sizes
$national-cap-height-ratio: 61 / 74;

$highlight-border-width: 0.25rem;