.vuw-table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 2em;
	font-weight: 300;

	&:not(.vuw-table__no-border) {
		// >tbody {
			tr {
				border-top: 1px solid #ccc;
			}
		// }
	}

	&:not(.vuw-table__no-hover) {
		>tbody {
			>tr:hover {
				background-color: #e4f3fb;
			}
		}
	}

	&--header {
		background-color: #EFEFE7;
	}
	&--footer {
		background-color: #EFEFE7;
	}

	&--row {

		&__secondary {
			background-color: #f4f4e9;
		}

		&__selected {

		}

		// @at-root {
		// 	.vuw-table:not(.vuw-table__no-border) & {
		// 		border-top: 1px solid #ccc;
		// 	}
		// }

		// @at-root {
		// 	.vuw-table:not(.vuw-table__no-hover) &:hover {
		// 		background-color: #e4f3fb;
		// 	}
		// }
	}

	& th, & td {
		padding: 0.3em 1em 0.3em 0;
		text-align: left;
		vertical-align: baseline;
		overflow: hidden;
		white-space: normal;

		&:first-child {
			padding-left: 1em;
		}
		&:last-child {
			padding-right: 1em;
		}

	}
}

.vuw-data {
	&__points {
		width: 5em;
	}
}