* {
  margin: 0; padding: 0;
}

ul, ol {
  list-style: none;
}

figure {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
}
=======
}
>>>>>>> 62d1fbeaf402c05143ba9dce9701e6ce5d5cfac4
