/*============================================================================*\
| VICTORIA UI TOOLKIT STYLES
\*============================================================================*/

////
/// Imports all the dependencies in correct order.
///
/// Architecture (lowest to highest specificity) and structure:
///
/// 0) CORE     - Fully re-usable SCSS utilitiy variables, mixins and functions.
/// 1) SETTINGS - Variable overrides of utility SCSS suitable for this project.
/// 2) PROJECT  - Project-specific SCSS utility variables, mixins and functions.
/// 3) GENERIC  - Generic definitions applying to everything, such as resets,
///               normalisations, font sets definitions and others.
/// 4) ELEMENTS - HTML element definitions (no classes or IDs specified).
/// 5) OBJECTS  - Simple atomic elements - buttons, inputs, basic typography.
/// 6) COMPONENTS - More complex structures built from `OBJECTS` and `ELEMENTS`.
/// 7) TRUMPS   - Overrides properties of any previously used element or
//                external CSS-only libraries.





/*= CORE VICTORIA UTILITIES ==================================================*/


@import '1-settings/settings.__core-overrides';

@import '0-core/core.vic-utilities';






/*= IMPORTS AND CONFIG =======================================================*/


@import '1-settings/settings._defaults';





/*= PROJECT-ONLY UTILITIES ===================================================*/


@import '2-project/project.mixins';
@import '2-project/project.variables';

@import '2-project/project.imports';





/*= GENERIC ==================================================================*/


/*! Toolkit's generated styles */
@import '3-generic/generic._initialisations';

@import '3-generic/generic.normalisations';





/*= ELEMENTS (ATOMS SPECIFIED BY HTML ELEMENT) ===============================*/


@import '4-elements/elements.forms';
@import '4-elements/elements.layouts';
@import '4-elements/elements.typography';
@import '4-elements/elements.tables';
@import '4-elements/elements.media';





/*= OBJECTS (ATOMS SPECIFIED BY CLASS) =======================================*/


@import '5-objects/objects.typography'; // *MUST* be first
@import '5-objects/objects.icons';      // *MUST* be second

@import '5-objects/objects.buttons';
@import '5-objects/objects.media';
@import '5-objects/objects.layouts';
@import '5-objects/objects.listings';
@import '5-objects/objects.quotes';
@import '5-objects/objects.messages';
@import '5-objects/objects.tables';
@import '5-objects/objects.badges';





/*= COMPONENTS - MOLECULES ===================================================*/


@import '6-components/components.boxes';
@import '6-components/components.pagination';
@import '6-components/components.grids';
@import '6-components/components.links';
@import '6-components/components.lists';
@import '6-components/components.logos';
@import '6-components/components.forms';
@import '6-components/components.highlights';
@import '6-components/components.media';
@import '6-components/components.tags';





/*= COMPONENTS - ORGANISMS ===================================================*/


@import '6-components/components.promo';
@import '6-components/components.news';
@import '6-components/components.events';
@import '6-components/components.banners';
@import '6-components/components.promo-panel';
@import '6-components/components.homepage-intro';
@import '6-components/components.site-header';
@import '6-components/components.study-areas';
@import '6-components/components.study-areas-single';
@import '6-components/components.staff-profiles';
@import '6-components/components.degrees-quals';
@import '6-components/navigation/components.global';
@import '6-components/navigation/components.site';
@import '6-components/navigation/components.footer';
@import '6-components/navigation/components.breadcrumbs';
@import '6-components/navigation/components.sub-nav';
@import '6-components/navigation/components.sidemenu';
@import '6-components/navigation/component.menu-icons';
@import '6-components/components.tiles';
@import '6-components/components.strip-banner';
@import '6-components/components.search-panel';
@import '6-components/components.cards';
@import '6-components/components.stack';
@import '6-components/components.dialogs';
@import '6-components/templates/components.image-block';
@import '6-components/templates/components.multiple-videos';





/*= TRUMP OVERRIDES ==========================================================*/


@import '7-trumps/trumps.helpers';
@import '7-trumps/trumps.print';
@import '7-trumps/trumps.colors';
@import '7-trumps/trumps.transformicons';
@import '7-trumps/trumps.lity';




