//todo: apply CORS to victoria.ac.nz and set Access-Control-Allow-Origin on font files :\
//@font-face{font-family:'National';font-weight:400;src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.eot");src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.eot?#iefix") format("embedded-opentype"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.woff") format("woff"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.ttf") format("truetype")}@font-face{font-family:'National';font-weight:500;src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.eot");src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.eot?#iefix") format("embedded-opentype"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.woff") format("woff"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.ttf") format("truetype")}@font-face{font-family:'National';font-weight:600;src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.eot");src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.eot?#iefix") format("embedded-opentype"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.woff") format("woff"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.ttf") format("truetype")}
//@font-face{font-family:'National';font-weight:400;src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.eot");src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.eot?#iefix") format("embedded-opentype"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.woff") format("woff"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Regular.ttf") format("truetype")}@font-face{font-family:'National';font-weight:500;src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.eot");src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.eot?#iefix") format("embedded-opentype"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.woff") format("woff"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Semibold.ttf") format("truetype")}@font-face{font-family:'National';font-weight:600;src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.eot");src:url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.eot?#iefix") format("embedded-opentype"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.woff") format("woff"),url("http://www.victoria.ac.nz/assets/fonts/NationalWebLF-Extrabold.ttf") format("truetype")}

//todo: fix font deps
@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NationalWebLF-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Regular.woff") format("woff"),
  url("../fonts/NationalWebLF-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NationalWebLF-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Semibold.woff") format("woff"),
  url("../fonts/NationalWebLF-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "National";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NationalWebLF-Extrabold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/NationalWebLF-Extrabold.woff") format("woff"),
  url("../fonts/NationalWebLF-Extrabold.ttf") format("truetype"); }

@font-face {
  font-family: "VicIcons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/vic-icons.eot?#iefix") format("embedded-opentype"),
  url("../fonts/vic-icons.woff") format("woff"),
  url("../fonts/vic-icons.ttf") format("truetype"),
  url("../fonts/vic-icons.svg#VicIcons") format("svg"); }


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



//www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
    box-sizing: border-box;
}

//cssmojo.com/the-very-latest-clearfix-reloaded/
@mixin clearfix(){
    &::after {
        content:"";
        display:block;
        clear:both;
    }
}
.vuw-clearfix {
    @include clearfix();
}



@import "_table.scss";


// => core.scss

//todo: polish styles
input:not([type]), input[type="search"], input[type="text"], select, textarea {

	border: 1px solid #ccc;
	color: rgba(0,0,0,.87);
	// width: 20em;

	max-width: 100%;
	font-size: inherit;
	margin: .3em 2px;
	margin: -.3em .5em -.3em 0;

	box-shadow: inset 0 4px 10px -8px #aaa;

	&:focus {
		// border-color: #64a659;
		// outline: #64a659 auto 5px;
		// background: #ffffcc;
	}
}

::selection {
    background: rgba(36, 176, 251, 0.23);
	text-shadow: none;
}


img {
	max-width: 100%;
}

// => text.scss
body {
    font-family: "Helvetica Neue","Segoe WP","Nimbus Sans L",Helvetica,Arial;
    font-weight: 400;
    font-size: 14px;
    font-size: 87.5%;	//1200px+
    color: #444;
    line-height: 1.5;
    // overflow-y: scroll;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3 , h4{
    //-webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    //color: #64a659;
}

// todo: decide what's happening with old typography
h1 {
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    font-weight: 600;
    font-size: 3.28571em;
    line-height: 0.93;
    letter-spacing: -0.03em;
    //margin-bottom: 0.47em;
    text-indent: -0.05em;
}
h2 {
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    font-weight: normal;
    font-size: 1.85714em;
    line-height: 1.15;
    //margin-top: 1.5em;
    //margin-bottom: 0.6em;

    // font-size: 1.71429em;
    line-height: 1;
    margin: .3em 0rem;
    //margin-bottom: 7px;
}
h3 {
    font-size: 1.5em;
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    font-weight: normal;
    line-height: 1.3;
    //margin-top: 1.5em;
}





//.vuw-wisiwyg a,
.vuw-link {
    color: #146999;
    border-bottom: 1px solid #b8d2e0;

    // //todo: medium
    // text-decoration: none;
    // background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
    // background-repeat: repeat-x;
    // background-size: 2px 2px;
    // background-position: 0 22px;
}

//todo: logos in repo; +2x versions and all that
.vuw-logo {
    text-indent: -9999em;
    display: block;
    height: 48px;
    width: 192px;
    background-image: url("http://www.victoria.ac.nz/assets/images/logo_desktop.png");
    background-size: 94%;
    /* background-size: contain; */
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin: 0 3em 0 1em;
    width: 95%;
    height: 8em;
    border-right: 1px solid #39403f;
    padding-right: 1em;
    /* display: none; */
    /* visibility: hidden; */
}

// => nav.scss
.vuw-global-header {
    background: #1f4130;
    /* height: 2em; */
    color: #fff;
    font-weight: 300;

    &--item {
        padding: .7em 1.5em;
        display: block;
        float: left;
        opacity: .8;

		&__search {
			float: right;
		}

        &+& {
            border-left: 1px solid rgba(0,0,0,.5);
        }
    }

}


.vuw-header {
	background: #1d2624;
	// border-bottom: 6px solid #64a659;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #fff;

    &--title {
        font-size: 4.5em;
        font-weight: normal;
        // margin-top: 0;
        line-height: 0.8;
        letter-spacing: -.03em;

        &__fitted {
            font-size: 1.8em;
            margin-bottom: 0;
        }
    }

    &--subtitle {
        font-weight: normal;
        opacity: .5;
    }
}

.vuw-secondary-nav {
	display: block;
	padding-top: 1.3em;

	padding-bottom: 1em;
	padding: 1.5em 0 0;

	&--item {
		&:first-of-type {
			padding-left: 0;
		}

		/*float: left;*/
		padding-left: 1em;

	    text-transform: uppercase;
	    color: #bfbfbf;
	    letter-spacing: 2px;
	    letter-spacing: 0.143em;
	    font-size: 11px;
	    font-size: 0.786em;
	    font-weight: 700;
	    font-weight: normal;
	    font-family: "Nimbus Roman No 9 L",FreeSerif,Georgia,serif;
	}
}

.vuw-primary-nav {
	display: block;
	/*padding-top: 1.3em;*/

	&--item {
        padding: 0 .5em;
        border-left: 1px solid #555;

        color: #fff;

        font-size: 1.5em;
        background-color: #1d2624;
        text-align: left;
        /*display: block;*/
        transition: all .3s linear;

        //margin: -.3em 0;
        //float:left;

        //border: 0;
        //padding: 0 .3em 0 0;
        font-family: "Nimbus Roman No 9 L",FreeSerif,Georgia,serif;
        font-weight: 500;

        float:left;

        &:first-child {
            margin-left: -.5em;
            border-left: none;
        }

		& + & {
			// border-left: 1px solid #555;
			// margin-left: .3em;
			// padding-left: .3em;

		}
	}
}


.vuw-footer-navigation {
	display: block;
	/*padding-top: 1.3em;*/
	color: #444;

	&--item {
		display: block;

		// color: #fff;

	 //    font-size: 1.5em;
	 //    background-color: #1d2624;
	 //    text-align: left;
	 //    /*display: block;*/
	 //    transition: all .3s linear;

	 //    border: 0;
	 //    padding: 0 .3em 0 0;
	 //    font-family: "Nimbus Roman No 9 L",FreeSerif,Georgia,serif;
	 //    font-weight: 500;
	}
}


.vuw-navigation-menu {

    background-color: #549349;
    background: #0d4d2e;

    // position:absolute;
    z-index: 1;
    margin-bottom: 2em;

    &--container {

	    position:relative;
	}

	&--item {
	    border-bottom: 1px solid #4a8241;

	    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
	    font-weight: 500;
	    font-size: 1.357em;


	    color: #fff;
	    display: block;
	    padding: 0.35em 0.5rem 0.4em 1.5rem;

        border-bottom: 1px solid rgba(0,0,0,.5);
        border-bottom: 1px solid rgba(255,255,255,0.15);

	}

    &--link {

        position: relative;
        cursor: pointer;

        &__selected, &:hover, &:focus {

            background: rgba(255,255,255, .1);
            background: rgba(0,0,0, .1);

        }

        &__level-2 {
        	padding-left: 2.5rem;

        	&:after{
        		left: calc(1rem + 4px);
        	}
        }

        &__level-3 {
        	padding-left: 3.5rem;

        	&:after{
        		left: calc(2rem + 4px);
        	}
        }

        &__level-4 {
        	padding-left: 4.5rem;

        	&:after{
        		left: calc(3rem + 4px);
        	}
        }

        &__selected {
        position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 4px;
                border: 1px solid #ccc;
                background: #fff;

                left: 4px;
                top: 4px;
                bottom: 4px;
            }
        }

    }

	&--title {
		text-transform: uppercase;
		font-weight: 600;
		//line-height: 1.2;
		//font-size: 1.57143em;
		color: #f4f4e9;
	}
}

.vuw-hero {

    background-color: #1d2624;
    overflow: hidden;
    max-width: 100%;
    position: relative;

    max-height: 500px;
    //max-width: 75%;
    margin: auto;


	&--image {

	    max-width: 100%;
	    height: auto;

        //-webkit-filter: contrast(0.9) brightness(1.2);
        filter: contrast(0.9) brightness(1.2);
        width: 100%;

        &-container {
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            overflow: hidden;


    left: -10rem;
    right: -10rem;
        }
	}

	&--title {
	    // position: absolute;
	    bottom: -1px;
	    right: 0;
	    padding: 1em 1em 0.75em 1em;
	    color: #fff;
	    min-width: 8.5em;

	    overflow: hidden;
	    text-overflow: ellipsis;

    	background-color: rgba(68,159,55,0.7);
        background: rgba(13, 77, 46, .7);


        margin-right: -30rem;
        padding-right: 30rem;

        margin-top: 25em;

    	&__center {
		    display: inline-block;
		    padding: .35em .75em;
		    color: #FFF;
		    background-color: rgba(100,166,89,0.9);

    		position:static; width:auto;
    	}
	}
}


//todo: drop legacy declarations
.vuw-button {

    display: inline-block;
    border-radius: 2px;
    // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    min-width: 10em;
    margin: 0 .7em 0 0;
    // text-transform: uppercase;
    border: none;
    text-align: center;
    padding: 0.3em 0.8em 0.5em;
    text-decoration: none !important; 
    cursor: pointer;
    color:inherit;

    &:last-child {
    	margin-right: 0;
    }

	&__primary {
	    background-color: #3468b0;
	    color: #fff !important;

	}

	&__tertiary {

	    background-color: rgba(0,0,0,0.1);
	    color: #333 !important;
	}

	&__flat { //totally a thing
	    background-color: transparent;
	    //color: inherit;		


		border-left-width: 2px;
		border-left-style: solid;
		border-left-color: rgba(255,255,255,.3);
		border-left-color: #1f4130;

		// opacity: .7;
	}

	&__min {
		min-width: 0;
	}


	// &__search { //totally a thing
	//     background-color: rgba(0,0,0,0.7);
	//     color: #fff !important;		
	// }
}

.vuw-tag {
    padding: 0.2em 0.4em;
    margin: 0 0.3em;
    background: #e4f3fb;
    /* font-size: 1.07143em; */
    display: inline-block;
    color: #146999;

    &__pdf {
    	background: #ECCDCD;
    	color: #AF1B1B;
    }
}

.vuw-card {
    @include clearfix();

	display: block;

    padding: 1.5rem;
    // border-bottom: 1px solid rgba(0,0,0,.1);
    // border-bottom-color: inherit;

    border-top: 3px solid;
    border-bottom: none;
    position: relative;
    /* margin-bottom: 2em; */
    margin: 2rem 0;
    /* padding: 1.5em 0; */
    /* border-left: 3px solid; */
    /* border-top: none; */

    &:before {
        display: block;
        content: "";
        top: -3px;
        left: 0;
        width: 1.5em;
        height: 3px;
        background: rgba(255,255,255,0.5);
        position: absolute;
        /* visibility: hidden; */
        right: 0;
        width: auto;
        /* width: 1.5em; */
        /* right: auto; */
        /* background: #fff; */
    }

    &:after {
        display: block;
        content: "";
        top: -3px;
        left: 9.5em;
        /* width: 21.5em; */
        right: 0;
        height: 3px;
        /* background: rgba(255,255,255,.7); */
        position: absolute;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%);
        visibility: hidden;
    }


    &__info {
	    color: #146999;
	    border-bottom-color: #b8d2e0;
	    background: #e4f3fb;
        // background-color: rgba(228, 243, 251, 0.5);

    }

    &__secondary {
	    color: #146999;

    	color: #549349;
	    //border-bottom-color: #b8d2e0;
    	background: #f4f4e9;
    }
}



// => layout.scss
// todo: => variables.scss documented
.vuw-column {
    $grid_gutter: 2rem;
    $grid_columns: 12;

    display: block;
    float:left;
    //margin: 0 0 0 1.6%;
    position: relative;

    // outline: 1px dotted red;

    // &:first-child {
    //     margin-left: 0;
    // }

    margin: 0;

    &+& {
        //margin-left: 1.6%;
        margin-left: $grid_gutter;
    }

    &-container {
    	// position:relative;
    	// overflow: hidden;

        max-width: 105em;
        margin: 0 auto;

        @include clearfix();

	    &__new-context {
	    	//same as __span-12-of-12
	    	width: 100%;
	    	margin-right: -100%;


            display: block;
            float: left;
            //margin: 0 0 0 1.6%;
            position: relative;
	    }

        &-wrapper {
            position: relative;
            overflow-x: hidden;
        }
    }
    

	$grid_column_width: 100% / $grid_columns;

    @for $i from 1 through $grid_columns {
      &__span-#{$i}-of-#{$grid_columns} {
        width: calc(100%*#{$i/$grid_columns} - #{$grid_gutter} );
      }
    }

}

.vuw-hide__desktop {
	display: none;
}


// todo: dimensions as variables
// todo: media queries inline with the base rules
@media only screen 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	body {
	  min-width: initial;
	}

	.vuw-column {
	    width: 100% !important;
	    margin: 0 !important;
	    margin: 0 0 1.5em 0 !important;
	    float: none !important;
	}
	//whatever whatever
	body>.vuw-column-container {
	    margin: 0 0 1em;
	    padding: 0;
	}

	.vuw-hero--title {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}

    img {

        float: right !important;
        max-width: 33%;
        margin: 0.3em 1em 0em 0;

        float: right;
        width: 33%;
        margin: 0.3em 0 0 1em;
        margin: -1rem -1rem 0 1em !important;
    }

    .vuw-global-header--item {
    	float:none;

    }

    input {
    	padding: .8em .5em;
    }

	.vuw-hide__mobile {
		display: none;
	}
	.vuw-hide__desktop {
		display: block;
	}
}

@media only screen 
  and (min-width: 1400px) {

	body {
	  font-size: 91%;
	}

}

@media only screen 
  and (min-width: 1900px) {

	body {
	  font-size: 100%;
	}

}
