/*

  (Lowest to highest specificity)

  1 | SETTINGS - Configs, brand colors, spacing units, variables.

  ↓

  2 | TOOLS - Library's custom mixins, 3rd party mixins.

  ↓

  3 | GENERIC - Generic definitions, eg. resets, normalisations, imports of external styles and fonts.

  ↓

  4 | ELEMENTS - Non-specific elements (= without classes or IDs), eg. body, h1, p ...

  ↓

  5 | OBJECTS - Simple atomic design patterns (= using classes only), eg. buttons, icons,...

  ↓

  6 | COMPONENTS - More complex designs (using classes only), eg. header, footer, searchbar...

  ↓

  7 | TRUMPS - Most specific, mostly overrides (usage of !important and IDs).

*/

/** BASIC DEPENDENCIES */
$output-bourbon-deprecation-warnings: false !default;


@import 'neat';
@import 'bourbon';

/** SETTINGS (order sensitive!) */

@import '1-settings/settings.colors';
@import '1-settings/settings.variables';
@import '1-settings/settings.grid';
@import '1-settings/settings.responsive';


/** TOOLS */

@import '2-tools/tools.mixins';
@import '2-tools/tools.app-mixins';


/** 3RD PARTY LIBS */

@import 'normalize.css/normalize';
@import 'lity/dist/lity.min';
@import 'transformicons/styles';


/** GENERIC */

@import '3-generic/generic.reset';
@import '3-generic/generic.development';
@import '3-generic/generic.normalisations';


/** ELEMENTS ( > Atoms defined by an element) */

@import '4-elements/elements.typography';
@import '4-elements/elements.tables';
@import '4-elements/elements.inputs';


/** OBJECTS ( > Atoms defined by a single class) */

@import '5-objects/objects.typography'; // *MUST* be first

@import '5-objects/objects.banners';
@import '5-objects/objects.buttons';
@import '5-objects/objects.icons';
@import '5-objects/objects.images';
@import '5-objects/objects.layouts';
@import '5-objects/objects.listings';
@import '5-objects/objects.pagination';
@import '5-objects/objects.quotes';
@import '5-objects/objects.messages';


/** COMPONENTS */

// > Molecules
@import '6-components/components.grids';
@import '6-components/components.links';
@import '6-components/components.lists';
@import '6-components/components.logos';
@import '6-components/components.forms';
@import '6-components/components.highlights';
@import '6-components/components.media';
@import '6-components/components.badges';
@import '6-components/components.tags';

// > Organisms
@import '6-components/components.promo';
@import '6-components/components.news';
@import '6-components/components.events';
@import '6-components/components.banners';
@import '6-components/components.promo-panel';
@import '6-components/components.homepage-intro';
@import '6-components/components.site-header';
@import '6-components/components.study-areas';
@import '6-components/components.study-areas-single';
@import '6-components/components.staff-profiles';
@import '6-components/components.degrees-quals';
@import '6-components/navigation/components.global';
@import '6-components/navigation/components.site';
@import '6-components/navigation/components.footer';
@import '6-components/navigation/components.breadcrumbs';
@import '6-components/navigation/components.sub-nav';
@import '6-components/components.tiles';
@import '6-components/components.strip-banner';
@import '6-components/components.search-panel';
@import '6-components/components.cards';


/** TRUMPS */

// Helpers
@import '7-trumps/trumps.helpers';
@import '7-trumps/trumps.print';
@import '7-trumps/trumps.colors';

// Libraries' overrides
@import '7-trumps/trumps.headroom';
