/*

  (Lowest to highest specificity)

  1 | SETTINGS - Configs, brand colors, spacing units, variables.

  ↓

  2 | TOOLS - Library's custom mixins, 3rd party mixins.

  ↓

  3 | GENERIC - Generic definitions, eg. resets, normalisations, imports of external styles and fonts.

  ↓

  4 | ELEMENTS - Non-specific elements (= without classes or IDs), eg. body, h1, p ...

  ↓

  5 | OBJECTS - Simple atomic design patterns (= using classes only), eg. buttons, icons,...

  ↓

  6 | COMPONENTS - More complex designs (using classes only), eg. header, footer, searchbar...

  ↓

  7 | TRUMPS - Most specific, mostly overrides (usage of !important and IDs).

*/

/** BASIC DEPENDENCIES */

@import 'neat';
@import 'bourbon';


/** SETTINGS (order sensitive!) */

@import '1-settings/_settings.colors';
@import '1-settings/_settings.variables';
@import '1-settings/_settings.grid';
@import '1-settings/_settings.responsive';


/** TOOLS */

@import '2-tools/_tools.mixins';
@import '2-tools/_tools.app-mixins';


/** 3RD PARTY LIBS */

@import 'normalize.css/normalize';
@import 'fontello/css/fontello__modified-paths'; // TODO: Remove and use it as a standard font with references from _objects.icons
//@import 'lity/dist/lity.min';


/** GENERIC */

@import '3-generic/_generic.reset';
@import '3-generic/_generic.development';
@import '3-generic/_generic.normalisations';


/** ELEMENTS ( > Atoms defined by an element) */

@import '4-elements/_elements.typography';
@import '4-elements/_elements.tables';
@import '4-elements/_elements.inputs';


/** OBJECTS ( > Atoms defined by a single class) */

@import '5-objects/_objects.typography'; // *MUST* be first

@import '5-objects/_objects.banners';
@import '5-objects/_objects.buttons';
@import '5-objects/_objects.icons';
@import '5-objects/_objects.layouts';
@import '5-objects/_objects.listings';
@import '5-objects/_objects.pagination';


/** COMPONENTS */

// > Molecules
@import '6-components/_components.grids';
@import '6-components/_components.links';
@import '6-components/_components.lists';
@import '6-components/_components.logos';
@import '6-components/_components.forms';
@import '6-components/_components.highlights';
@import '6-components/_components.media';
@import '6-components/_components.badges';

// > Organisms
@import '6-components/_components.promo';
@import '6-components/_components.news';
@import '6-components/_components.events';
@import '6-components/_components.banners';
@import '6-components/_components.promo-panel';
@import '6-components/_components.homepage-intro';
@import '6-components/_components.banner-header';
@import '6-components/_components.study-areas';
@import '6-components/_components.study-areas-single';
@import '6-components/_components.staff-profiles';
@import '6-components/_components.degrees-quals';
@import '6-components/_components.navigation.global';
@import '6-components/_components.navigation.site';
@import '6-components/_components.navigation.footer';


/** TRUMPS */

// Helpers
@import '7-trumps/_trumps.helpers';
@import '7-trumps/_trumps.print';

// Libraries' overrides
@import '7-trumps/_trumps.headroom';
