--- 
notes: > 

  Card stack is used when you have vertically stacked, full width cards. They have a few modifiers..

---

  <ul>
    <li><i class="icon-search"></i> icon-search</li>
    <li><i class="icon-mail"></i> icon-mail</li>
    <li><i class="icon-heart"></i> icon-heart</li>
    <li><i class="icon-check"></i> icon-check</li>
    <li><i class="icon-star"></i> icon-star</li>
    <li><i class="icon-help"></i> icon-help</li>
    <li><i class="icon-people"></i> icon-people</li>
    <li><i class="icon-user"></i> icon-user</li>
    <li><i class="icon-info"></i> icon-info</li>
    <li><i class="icon-home"></i> icon-home</li>
    <li><i class="icon-back"></i> icon-back</li>
    <li><i class="icon-pictures"></i> icon-pictures</li>
    <li><i class="icon-popup"></i> icon-popup</li>
    <li><i class="icon-clock"></i> icon-clock</li>
    <li><i class="icon-tag"></i> icon-tag</li>
    <li><i class="icon-book"></i> icon-book</li>
    <li><i class="icon-book-open"></i> icon-book-open</li>
    <li><i class="icon-pin"></i> icon-pin</li>
    <li><i class="icon-vcard"></i> icon-vcard</li>
    <li><i class="icon-chat"></i> icon-chat</li>
    <li><i class="icon-flag"></i> icon-flag</li>
    <li><i class="icon-external"></i> icon-external</li>
    <li><i class="icon-printer"></i> icon-printer</li>
    <li><i class="icon-camera"></i> icon-camera</li>
    <li><i class="icon-lock"></i> icon-lock</li>
    <li><i class="icon-lock-open"></i> icon-lock-open</li>
    <li><i class="icon-phone"></i> icon-phone</li>
    <li><i class="icon-attention"></i> icon-attention</li>
    <li><i class="icon-resize-up"></i> icon-resize-up</li>
    <li><i class="icon-resize-down"></i> icon-resize-down</li>
    <li><i class="icon-mic"></i> icon-mic</li>
    <li><i class="icon-cog"></i> icon-cog</li>
    <li><i class="icon-share"></i> icon-share</li>
    <li><i class="icon-basket"></i> icon-basket</li>
    <li><i class="icon-comment"></i> icon-comment</li>
    <li><i class="icon-caret-down-thin"></i> icon-caret-down-thin</li>
    <li><i class="icon-caret-left-thin"></i> icon-caret-left-thin</li>
    <li><i class="icon-caret-right-thin"></i> icon-caret-right-thin</li>
    <li><i class="icon-caret-up-thin"></i> icon-caret-up-thin</li>
    <li><i class="icon-caret-down"></i> icon-caret-down</li>
    <li><i class="icon-caret-left"></i> icon-caret-left</li>
    <li><i class="icon-caret-right"></i> icon-caret-right</li>
    <li><i class="icon-caret-up"></i> icon-caret-up</li>
    <li><i class="icon-triangle-down"></i> icon-triangle-down</li>
    <li><i class="icon-triangle-left"></i> icon-triangle-left</li>
    <li><i class="icon-triangle-right"></i> icon-triangle-right</li>
    <li><i class="icon-triangle-up"></i> icon-triangle-up</li>
    <li><i class="icon-refresh"></i> icon-refresh</li>
    <li><i class="icon-graduation-cap"></i> icon-graduation-cap</li>
    <li><i class="icon-ticket"></i> icon-ticket</li>
    <li><i class="icon-megaphone"></i> icon-megaphone</li>
    <li><i class="icon-calendar"></i> icon-calendar</li>
    <li><i class="icon-globe"></i> icon-globe</li>
    <li><i class="icon-dots"></i> icon-dots</li>
    <li><i class="icon-arrow-down"></i> icon-arrow-down</li>
    <li><i class="icon-arrow-left"></i> icon-arrow-left</li>
    <li><i class="icon-layout"></i> icon-layout</li>
    <li><i class="icon-attach"></i> icon-attach</li>
    <li><i class="icon-menu"></i> icon-menu</li>
    <li><i class="icon-arrow-right"></i> icon-arrow-right</li>
    <li><i class="icon-arrow-up"></i> icon-arrow-up</li>
    <li><i class="icon-edit"></i> icon-edit</li>
    <li><i class="icon-download"></i> icon-download</li>
    <li><i class="icon-audio"></i> icon-audio</li>
    <li><i class="icon-quote-down"></i> icon-quote-down</li>
    <li><i class="icon-quote-up"></i> icon-quote-up</li>
    <li><i class="icon-list"></i> icon-list</li>
    <li><i class="icon-money"></i> icon-money</li>
    <li><i class="icon-plane"></i> icon-plane</li>
    <li><i class="icon-creditcard"></i> icon-creditcard</li>
    <li><i class="icon-cross"></i> icon-cross</li>
</ul>