---
notes: 
 	The button suite should be consistent across anchors, inputs and button elements.There are 4 style options and 2 size options.


 	The standard .button without other classes is the default action. There is no inheritance logic to change styling simply add `.primary` or `.flat` to modify.  


 	The `.primary` buttons are for the most important call ot action on the page limit to 1-2 primary buttons to maintain the importanace and visual hirachy of the buttons on the page.


 	Buttons with `.flat` look like simple links but behave as buttons and maintain the large hit state - they should stack nicely next to other more important actions. The `.secondary` buttons is an alternative to `.primary` buttons rather than a companion. Use it for other non-core actions on a page like sidebar or footer interactions.


 	Buttons with `.flat-border` create a primary coloured bordered alternative button for use as a call to action for other non-core actions.


 	Use `.large` for a big button.


 	Use `.extra-large` for a bigger button.


 	The `.danger` button is for submitting destructive commands, e.g. clearing a form.


 	This has been reworked and now includes an icon on the buttons. To remove the icon add `.no-icon`


---
<a href="#" class="button">Default</a>
<a href="#" class="button primary">Primary</a>
<a href="#" class="button flat">Flat - button-like spacing</a>
<a href="#" class="button flat-border">Flat Button with border</a>

<br>
<br>

<a href="#" class="button large">Default large</a>

<br>
<br>

<a href="#" class="button extra-large">Default extra large</a>

<br>
<br>

<a href="#" class="button danger">Danger</a>
<br>
<br>
<a href="#" class="button no-icon">Default - no-icon</a>
