---
notes: >
  The default list dosent work unless you've wrapped the it in `.formatting` - something you could put on you page template to give you all the typography formatting you need.


  More on this `.formatting` class later


  Other lists have the `.list` class wrapper - you can add  a heading  followed by the `.links` on th `ul` element - god knows why its call `.links`.


---


<!-- Basic un-ordered list -->
<div class="formatting"> <!--Note the class .formatting - you could wrap entire templates in this -->
	<ul>
		<li>Nice list bro</li>
		<li>Got a link bro? <a href="">Yeah</a></li>
		<ul>
			<li>Sweet as</li>
			<li>Ripper</li>
		</ul>
		<li><a href="">Choice list ay bro</a></li>
		<li>Yeah nice list bro</li>
	</ul>






<!-- Standard list with links -->

	<div class="list">
		<h2>Link list</h2>
		<ul class="links">
			<li>
				<a href="#" title="First days at Victoria" class="link-external">First day at Victoria</a>
			</li>

			<li>
				<a href="#" title="How to sign up">How to sign up</a>
			</li>

			<li>
				<a href="#" title="VicNews">VicNews</a>
			</li>

			<li>
				What about no links?
			</li>
			<li>Cool</li>
		</ul>
	</div>


	<br>
	<br>

	<!-- Complex list with files -->
	<div class="list">
		<h2>Download list</h2>
		<ul class="links">
			<li>
				<a href="#" title="Download 'Guide to Undergraduate Study' in PDF"><span class="label file-pdf">
						<i>pdf</i>
						<span>71.2KB</span>
					</span>Guide to Undergraduate Study
				</a>
			</li>

			<li>
				<a href="#" title="Download 'Programme and timetable planner' in DOC"><span class="label file-word">
						<i>doc</i>
						<span>571.2KB</span>
					</span>Programme and timetable plannery
				</a>
			</li>

			<li>
				<a href="#" title="Download 'Guide to Postgraduate Study' in PDF"><span class="label file-excel">
						<i>exc</i>
						<span>115.2B</span>
					</span>Guide to Postgraduate Study
				</a>
			</li>

			<li>
				<a href="#" title="Download 'Victoria's presentation' in PowerPoint"><span class="label file-ppt">
						<i>ppt</i>
						<span>1021.2B</span>
					</span>Victoria's presentation
				</a>
			</li>

			<li>
				<a href="#" title="Download 'Spoken introduction' in MP3"><span class="label file-mp3">
						<i>mp3</i>
						<span>151MB</span>
					</span>Spoken introduction
				</a>
			</li>

		  <li>
		    <a href="#" title="Download 'Spoken introduction' in MP3"><span class="label file">
		        <i>file</i>
		        <span>12.31KB</span>
		      </span>An unknown file full of unknown stuff
		    </a>
		  </li>
		</ul>
	</div>
	
	<br>
	<br>

	<!-- List of publications -->
	<div class="list publications">
		<h2>Publications list</h2>
		<ul class="links ">
			<li>
				<a href="#" title="Download 'Guide to Undergraduate Study' in PDF">The Case for New Climate Change Adaptation Funding Instruments<span class="label file-pdf">
					<i>pdf</i>
					<span>71.2KB</span>
				</span></a>
				<h6>Working paper 17-05</h6>
				<p class="pub-author">by Jonathan Boston and Judy Lawrence</p>
			</li>
			<li>
				<a href="#" title="Download 'Guide to Undergraduate Study' in PDF">Bridges Both Ways<span class="label file-pdf">
					<i>pdf</i>
					<span>71.2KB</span>
				</span></a>
				<h6>Working paper 17-04</h6>
				<p class="pub-author">by Max Rashbrooke</p>
			</li>
			<li>
				<a href="#" title="Download 'Guide to Undergraduate Study' in PDF">Review of New Zealand police's progress in response to the 2007 Commission of Inquiry into Police Conduct<span class="label file-pdf">
					<i>pdf</i>
					<span>71.2KB</span>
				</span></a>
				<h6>Working paper 17-03</h6>
				<p class="pub-author">by Mike Rowe and Michael Macaulay</p>
			</li>
			<li>
				<a href="#" title="Download 'Guide to Undergraduate Study' in PDF">Wealth Disparities in New Zealand: Final report<span class="label file-word">
					<i>doc</i>
					<span>71.2KB</span>
				</span></a>
				<h6>Working paper 17-02</h6>
				<p class="pub-author">by Mike Rowe and Michael Macaulay</p>
			</li>
			<li>
				<a href="#" title="Download 'Guide to Undergraduate Study' in PDF">Permanent Forest Bonds: A pioneering environmental impact bond for Aotearoa New Zealand<span class="label file-pdf">
					<i>pdf</i>
					<span>71.2KB</span>
				</span></a>
				<h6>Working paper 17-01</h6>
				<p class="pub-author">by David Hall, Sam Lindsay, and Sam Judd</p>
			</li>
			

		</ul>
	</div>


</div>