---
notes: >
  ~ flash/notification messages
  https://victoriauniversity.atlassian.net/browse/WIP-2106
---

<section class="flash-message error">
  <h2>Too many elements in the sidebar</h2>
  <p>Currently there are 4. The Maximum is 3. Please remove sidebar class from elements you do not want to appear in the sidebar.</p>

  <p>The following sidebar elements were not added: </p>
  <ul>
    <li>first_block_of_highlighted_text</li>
  </ul>
</section>




<section class="flash-message warning">
  <h2>Be careful, Squiz update is in progress</h2>
  <p>Any changes you will make will <strong>not</strong> be saved. Update will be finished on 23rd of October 2016.</p>
</section>



<section class="flash-message info">
  <h2>Did you know?</h2>
  <p>If you have three quarters, four dimes, and four pennies you have $1.19. you also have the largest possible amount of money in coins without being able to make change for a dollar.</p>

</section>



<section class="flash-message success">
  <h2>Signed in as administrator</h2>
  <p>When you finish editing this page, please <a href="#" title="Log out from Squiz">log out</a></p>
</section>


