---
notes: >
  
  Standard tags for filtering, tag clouds, highlighting etc.



---

<div class="tags">

  <span class="tag">Tag group</span>
  <span class="tag">Tag group</span>
  <span class="tag">Tag group</span>
</div>

<span class="tag">Default </span>
<span class="tag tag-green">Green </span>
<span class="tag tag-grey">Grey </span>
<span class="tag tag-red">Red </span>
<span class="tag tag-yellow">Yellow </span>
<br>
<br>
<a href="" class="tag">Link tag</a>
<a href=""><span class="tag tag-green">Link tag</span></a>