---
notes: >
  Info message bar
---

<div class="centraliser ">
    <div class="block">
      <section class="flash-message info info-row">
        <h2>Facts and figures</h2>
        <div class="info-col">
          <h4>Top 2%</h4>
          <p>Victoria University is New Zealand’s top ranked university for research quality.</p>
        </div>
        <div class="info-col">
          <h4>Top 2%</h4>
          <p>Victoria University is New Zealand’s top ranked university for research quality.</p>
        </div>
        <div class="info-col">
          <h4>Top 2%</h4>
          <p>Victoria University is New Zealand’s top ranked university for research quality.</p>
        </div>
      </section>
    </div>
  </div>