---
notes: >
  http://w3c.github.io/html/common-idioms-without-dedicated-elements.html#subheadings-subtitles-alternative-titles-and-taglines
---
<header role="banner" class="site-header">
	<div class="centraliser">

    <!-- Logotype -->
    <div class="logo">
      <a href="/" title="Victoria University of Wellington homepage">
        <picture>
          <source media="(max-width: 68em)" srcset="/assets/toolkit/images/logo-white-portrait.svg">
          <img src="/assets/toolkit/images/logo-white-full.svg" alt="Victoria University of Wellington - Te Whare Wānanga o te Ūpoko o te Ika a Māui">
        </picture>
      </a>
    </div>

    <!-- Introductory block -->
    <div class="site-intro">
  		<a href="#" title="Humanities and Social Sciences homepage">
    		<h1>
          <span class="preline">Faculty of</span>
    		  History, Philosophy, Political Science and International&nbsp;Relations
    		  <small lang="mi">Te Kauhanganui Tātai Ture</small>
        </h1>
  		</a>
    </div>

	</div>
</header>

