<section class="degrees-quals tile-grid hidden">
    <h1>Undergraduate degrees</h1>
    <div class="tiles-wrap">
        <ul>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Commerce</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BCom</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Certificate in Deaf Studies: Teaching New Zealand Sign Language</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">CertDeafStud (Teaching NZSL)</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="degrees-quals tile-grid hidden">
    <h1>Postgraduate degrees</h1>
    <div class="tiles-wrap">
        <ul>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Commerce</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BCom</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Bachelor of Arts</h2><i class="icon-right-open"></i>
                        </div>
                        <div class="title-break"></div>
                        <h4 class="sub-title">BA</h4>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--
Anthropology
Art History
Asian Languages and Cultures
Classics
Creative writing
Criminology
English Literature
English Proficiency
Film and Media Studies
Health
History
Language Teaching
Linguistics
Literary Translation
Māori Studies
Music
New Zealand Sign Language
Pacific Cultures and Languages
Philosophy
Politics and International Relations
Religious Studies
Sociology
Te Reo Māori
Theatre
Midwifery
Nursing Science
European and Latin American Languages and Cultures

 -->
