---
notes: >
  aka download list link https://victoriauniversity.atlassian.net/browse/WIP-1688


---

<!-- Standard list with links -->
<h2>Other communications &amp; marketing teams</h2>
<ul class="links">
	<li>
		<a href="#" title="First days at Victoria">First days at Victoria</a>
	</li>

	<li>
		<a href="#" title="How to sign up">How to sign up</a>
	</li>

	<li>
		<a href="#" title="VicNews">VicNews</a>
	</li>

	<li>
		<a href="#" title="Sport at University">Sport at University</a>
	</li>
</ul>

<!-- Complex list with files -->
<h2>Download files</h2>
<ul class="links">
	<li>
		<a href="#" title="Download 'Guide to Undergraduate Study' in PDF"><span class="label file-pdf">
				<i>pdf</i>
				<span>71.2KB</span>
			</span>Guide to Undergraduate Study
		</a>
	</li>

	<li>
		<a href="#" title="Download 'Programme and timetable planner' in DOC"><span class="label file-word">
				<i>doc</i>
			</span>Programme and timetable plannery
		</a>
	</li>

	<li>
		<a href="#" title="Download 'Guide to Postgraduate Study' in PDF"><span class="label file-excel">
				<i>exc</i>
				<span>115.2B</span>
			</span>Guide to Postgraduate Study
		</a>
	</li>

	<li>
		<a href="#" title="Download 'Victoria's presentation' in PowerPoint"><span class="label file-ppt">
				<i>ppt</i>
				<span>1021.2B</span>
			</span>Victoria's presentation
		</a>
	</li>

	<li>
		<a href="#" title="Download 'Spoken introduction' in MP3"><span class="label file-mp3">
				<i>mp3</i>
				<span>151MB</span>
			</span>Spoken introduction
		</a>
	</li>
</ul>