---
notes: >
  aka download list link https://victoriauniversity.atlassian.net/browse/WIP-1688


---


<article>
	<h2>Downloads</h2>
	<ul class="links documents">
	  <li>
	  <a id="d1" href="http://www.victoria.ac.nz/study/events-visits/careers-advisers/publications/guide-to-undergraduate-study/guide-to-undergraduate-study.pdf" data-assetid="202471"><!-- <sup>[PDF, 12.1MB]</sup>  -->Guide to Undergraduate Study <!-- <em class="label pdf">pdf</em> 12.1&nbsp;MB --><sup>[PDF, 12.1MB]</sup> 

	</a>
	</li>
	<li>
	  <a id="d2" href="http://www.victoria.ac.nz/study/course-planning/degrees-courses/programme-timetable.pdf" data-assetid="203599"><!-- <em class="result_flag flag_pdf">pdf</em>&nbsp; -->Programme and timetable planner <sup>[PDF, 71.2KB]</sup>

	</a>
	</li>
	<li>
	  <a id="d3" href="http://www.victoria.ac.nz/study/course-planning/degrees-courses/planning-form-a.pdf" data-assetid="205823"><!-- <em class="result_flag flag_pdf">pdf</em>&nbsp; -->Form A: Planning your programme <sup>[PDF, 1.9MB]</sup>

	</a>
	</li>

	</ul>
</article>

<!-- <article class="links documents"> -->
<dl class="links documents">
	<dt>Downloads</dt>
	<dd><a id="d1" href="http://www.victoria.ac.nz/study/events-visits/careers-advisers/publications/guide-to-undergraduate-study/guide-to-undergraduate-study.pdf" data-assetid="202471">Guide to Undergraduate Study 

	<span class="label"><span class="label file-pdf">PDF</span> 12.1MB</span> 

	</a>
	</dd>
	<dd><a id="d2" href="http://www.victoria.ac.nz/study/course-planning/degrees-courses/programme-timetable.pdf" data-assetid="203599">Programme and timetable planner <span class="label"><span class="label file-pdf">PDF</span> 71.2KB</span> 

	</a>
	</dd>
	<dd><a id="d1" href="http://www.victoria.ac.nz/study/events-visits/careers-advisers/publications/guide-to-undergraduate-study/guide-to-undergraduate-study.pdf" data-assetid="202471">Guide to Undergraduate Study <span class="label"><span class="label file-pdf">PDF</span> 12.1MB</span> 

	</a>
	</dd>
	</dl>
<!-- </article> -->