---
notes: >
  Event Listing Pages (MVP)
  https://victoriauniversity.atlassian.net/browse/WIP-1706


  events item full column width (+HP)(MVP)
  https://victoriauniversity.atlassian.net/browse/WIP-2082


  https://schema.org/Event


  ld+json is the recommended format and doesn't pollute markup
  https://developers.google.com/search/docs/guides/intro-structured-data#testing-and-publishing-your-markup


  Testing metadata: https://search.google.com/structured-data/testing-tool/u/0/
---

<dl class="events">
<dt>Upcoming events</dt>
<!-- <a href="#">All events</a> -->

<!-- <ul class="events"> -->

<dd id="events-123">

<div class="description">

<h4><a href="#">New Historians Conference 2016</a></h4>

<p>The History Programme invites current postgraduates and recent graduates to its annual New Historians Conference. Now in its 11th year, the conference brings together researchers from local, national and regional institutions and organisations.</p>

<p class="meta venue">Alan Macdiarmid Lecture Theatre 105</p>
<p class="meta fees">The registration fee is $25, with an optional conference dinner at approx. $28-$35 per head.</p>

</div>

<div class="margin-notes">
<time class="highlight">
<p>in a month</p>
<p class="date">17–18 October 2016</p>
<p class="time">from 9.00 am</p>
</time>
</div>

	<script type="application/ld+json">
	{
	  "@context": "http://schema.org/",
	  "@type": "Event",
	  "name": "New Historians Conference 2016",
	  "startDate": "2016-10-17T09:00",
	  "endDate": "2016-10-18",
	  "isAccessibleForFree": false,
	  "offers": [
	    {
	      "@type": "Offer",
	      "price": "25.00",
	      "priceCurrency": "NZD"
	    }
	    ],
	  "description": "The History Programme invites current postgraduates and recent graduates to its annual New Historians Conference. Now in its 11th year, the conference brings together researchers from local, national and regional institutions and organisations.",
	  "location": {
	    "@type": "Place",
	    "name": "Alan Macdiarmid Lecture Theatre 105",
	    "address": {
	      "@type": "PostalAddress",
	      "addressLocality": "Wellington"
	    },
	    "hasMap": "http://www.victoria.ac.nz/about/explore-victoria/campuses/kelburn/kelburn-campus-map.pdf"
	    },
	    "url": "http://www.victoria.ac.nz/events/event-123-details"
	}
	</script>
</dd>

<dd id="events-124">

<div class="description">

<h4><a href="#">The New Zealand Polymath - Colenso and his contemporaries</a></h4>

<!-- <p>Hosted by the Stout Research Centre for New Zealand Studies and the Alexander Turnbull Library, in association with Wai-te-ata Press, and the Colenso Society.</p> -->

<p>An exciting range of papers has been offered, presenting work on Thomas Kirk, Henry Honor, F.E.Maning, Thomas Cheeseman, Josephine Gordon Rich, William Henry Skinner, Emily Cumming Harris, George Rusden, Miss Jelly and Augustus Hamilton, WW Smith, Julius von Haast, Suzanne Aubert and Elsdon Best.  There will be discussions of Māori oral tradition and traditional ecological knowledge.</p>

<p class="meta venue">National Library of New Zealand, Molesworth Street, Wellington</p>
<p class="meta fees">$100.00 Early Bird - Two days full conference</p>

</div>

<div class="margin-notes">
<time class="highlight">
<p>in two months</p>
<p class="date">16–18 November 2016</p>
<p class="time">5:30pm</p>
</time>
</div>
</dd>

<dd id="events-125">

<div class="description">

<h4><a href="http://www.victoria.ac.nz/hppi/about/events/events-history/history-programme-seminar-the-czechoslovak-orient-carpathian-ruthenia-as-an-imagined-colonial-space">History Programme Seminar: The Czechoslovak Orient: Carpathian Ruthenia as an Imagined Colonial Space</a></h4>

<!-- <p>Hosted by the Stout Research Centre for New Zealand Studies and the Alexander Turnbull Library, in association with Wai-te-ata Press, and the Colenso Society.</p> -->

<p>This study considers interwar Czechoslovakia’s easternmost province of Ruthenia, today a region of Ukraine, as an example of colonial administrative practices and mentality in a European context. Czechs and Rusyns shared a common Slavic ethnicity, yet the vast difference in their economic and cultural levels at the outset of the republic led to the establishment of a colonial framework in the Czech media and political administration.</p>

<p class="meta venue">Old Kirk 406 (F L Wood Seminar Room)</p>

</div>

<div class="margin-notes">
<time class="highlight">
<p>archived or something</p>
<p class="date">9 September 2016</p>
<p class="time">12:10pm</p>
</time>
</div>
</dd>

</dl>