---
notes: >
  ```something```: fdsfsd
---

<!-- Standard, simple form -->
<form class="form" method="GET">

  <div class="group required">
    <label for="email">Your email</label>
    <input type="email" name="email" id="email" placeholder="your@email.com">
  </div>

  <div class="group">
    <label for="name">Your name</label>
    <input type="name" name="name" id="name">
  </div>

  <div class="group">
    <label for="department">School / Faculty / CSU (if applicable)</label>
    <input type="text" name="department" id="department">
  </div>

  <div class="group">
    <label for="feedback">Feedback message</label>
    <textarea placeholder="Your feedback ..." id="feedback" name="feedback"></textarea>
  </div>

  <input type="submit" class="button primary" value="Send feedback">
</form>
