---
notes: |
  A 12-grid to nest all your goodies.

  `vuw-column-container` has a `max-width` set depending on the screen size and is centered when needed.
---


<div class="vuw-column-container">
	<div class="vuw-column vuw-column__span-2-of-12">
		{{#> _card title="2-of-12" class="vuw-card__info"}}{{/_card}}
	</div>
	<div class="vuw-column vuw-column__span-4-of-12">
		{{#>_card title="4-of-12" class="vuw-card__secondary"}}{{/_card}}
	</div>
	<div class="vuw-column vuw-column__span-6-of-12">
		{{#> _card title="6-of-12" class=" "}}{{/_card}}
	</div>
</div>