<div class="sector">
    <div class="centraliser">
        <div class="homepage-intro block formatting">
            <div class="intro-text">
                <p>Challenge your ideas and cultivate your creativity at Victoria’s Faculty of Humanities and Social Sciences.</p>
                <p>Our diverse range of courses and location in the nation’s capital and cultural heart will provide you with unrivalled opportunities to build your future.</p>
            </div>
            <div class="links-wrap">
                <div class="button-links">
                    <a href="http://www.victoria.ac.nz/fhss/about" class="button large">About us</a>
                    <a href="http://www.victoria.ac.nz/fhss/schools" class="button large">Explore our Schools</a>
                </div>
                <div class="social-links">
                    <p>Find us on</p>
                    <a class="social-icon" alt="Facebook icon" href="https://www.facebook.com/">
                        <img src="http://www.victoria.ac.nz/assets/images/fb_logo.png">
                    </a>
                    <a class="social-icon" alt="LinkedIn icon" href="https://www.facebook.com/">
                        <img src="http://www.victoria.ac.nz/assets/images/linkedin_logo.png">
                    </a>
                </div>
            </div>
        </div>
        {{> text-promo-panel classState="intro-promo"}}
    </div>
</div>
