---
notes: >
  aka related links https://victoriauniversity.atlassian.net/browse/WIP-1687

  aka download list link https://victoriauniversity.atlassian.net/browse/WIP-1688


---

<article>
	<h2>Related links</h2>
	<ul class="links">
		<li><a href="https://www.vicbooks.co.nz/ ">Vic Books</a></li>
		<li><a href="http://library.victoria.ac.nz/library-v2/ ">Victoria University Library</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/timetables ">Timetables</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/timetables/tutorials ">Tutorial, lab and studio sign up</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/faculty-offices ">Faculty office</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/course-additions-withdrawals ">Add or drop courses</a></li>
		<li><a href="http://www.victoria.ac.nz/st_services/slss/index.aspx ">Student Learning</a></li>
	</ul>
</article>


<article>
	<h2>Downloads</h2>
	<ul class="links documents">
	  <li>
	  <a id="d1" href="http://www.victoria.ac.nz/study/events-visits/careers-advisers/publications/guide-to-undergraduate-study/guide-to-undergraduate-study.pdf" data-assetid="202471"><!-- <sup>[PDF, 12.1MB]</sup>  -->Guide to Undergraduate Study <!-- <em class="label pdf">pdf</em> 12.1&nbsp;MB --><sup>[PDF, 12.1MB]</sup> 

	</a>
	</li>
	<li>
	  <a id="d2" href="http://www.victoria.ac.nz/study/course-planning/degrees-courses/programme-timetable.pdf" data-assetid="203599"><!-- <em class="result_flag flag_pdf">pdf</em>&nbsp; -->Programme and timetable planner <sup>[PDF, 71.2KB]</sup>

	</a>
	</li>
	<li>
	  <a id="d3" href="http://www.victoria.ac.nz/study/course-planning/degrees-courses/planning-form-a.pdf" data-assetid="205823"><!-- <em class="result_flag flag_pdf">pdf</em>&nbsp; -->Form A: Planning your programme <sup>[PDF, 1.9MB]</sup>

	</a>
	</li>

	</ul>
</article>