---
notes: >
  aka related links https://victoriauniversity.atlassian.net/browse/WIP-1687


---

<article>
	<h2>Related links</h2>
	<ul class="links">

{{#each (split "a,b,c" ",")}}
<p>{{this}}</p>
{{/each}}

		<li><a href="https://www.vicbooks.co.nz/ ">Vic Books</a></li>
		<li><a href="http://library.victoria.ac.nz/library-v2/ ">Victoria University Library</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/timetables ">Timetables</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/timetables/tutorials ">Tutorial, lab and studio sign up</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/faculty-offices ">Faculty office</a></li>
		<li><a href="http://www.victoria.ac.nz/students/study/course-additions-withdrawals ">Add or drop courses</a></li>
		<li><a href="http://www.victoria.ac.nz/st_services/slss/index.aspx ">Student Learning</a></li>

	</ul>
</article>
