---
notes: >
  news item... with text; with and without image (+HP)(MVP)
  https://victoriauniversity.atlassian.net/browse/WIP-2081
  https://victoriauniversity.atlassian.net/browse/WIP-2080


  See `<time>` code example on https://www.w3.org/TR/html5/text-level-semantics.html#the-time-element
---
<div class="news-container">
<dl class="news">
<dt>Latest news</dt>
<!-- <a href="#">Older news</a> -->

<!-- <ul class="news"> -->

<dd id="news-123">
<div class="description">
	<h4><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h4>
	<p><time datetime="2016-09-14">two days ago</time></p>
	<p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor at the University of North Carolina.</p>
	<!-- <p>Her public lecture, titled ‘Aesthetic Responsibility’, explored whether judgments based on people’s moral qualities lead to overly narrow conceptions of responsibility and humanity. As a corrective, she suggests there is such a thing as aesthetic responsibility that is both similar to and different from moral responsibility.</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/VfCqd1qt3h0" frameborder="0" allowfullscreen=""></iframe>
	<p>The Maurice Goldsmith Lecture is an endowed public lecture hosted by Victoria University’s philosophy programme every one to two years and presented by an eminent philosopher working in ethics and/or political philosophy.</p> -->
</div>
</dd>

<dd>
<div class="description">
	<h4><a href="#">Applications now open for Summer Research Scholarships</a></h4>
	<p><time datetime="2016-09-01">1 September 2016</time></p>
	<p>Applications are now invited from students for Faculty of Humanities and Social Sciences and Faculty of Education Summer Scholarships for 2016-17. Students can access information about the projects, and the online application form, by going to the FHSS <a title="Summer Scholars Scheme page and application details" href="http://www.victoria.ac.nz/fhss/study/awards/summer-scholars-scheme">Summer Scholars Scheme</a> webpage.</p>
	</div>
</dd>

<dd class="has-media">
<div class="description">
	<h4><a href="#">‘Must see’ show inspired by family history</a></h4>
	<p><time datetime="2016-08-30">30 August 2016</time></p>
	<p>Sitting in on a History lecture in 2014 on the Spanish Influenza, Victoria University Pacific Studies Honours graduate Tupe Lualua would never have imagined the path it was about to set her on.</p>
	</div>

	<figure class="media">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6nD-kAsV-rk?rel=0" frameborder="0" allowfullscreen=""></iframe>

	<figcaption>Excerpt of 1918 - Measina Festival 2015</figcaption>

	</figure>
</dd>

<dd class="has-media">
	<div class="description">
	<h4><a href="#">Victoria University health researchers honoured</a></h4>
	<p><time datetime="2016-08-23">23 August 2016</time></p>
	<p>Two Victoria University of Wellington researchers have been recognised by the Health Research Council of New Zealand (HRC) for their work into understanding social issues of health and wellbeing.</p>
	</div>

	<figure class="media">

	<img title="" src="http://www.victoria.ac.nz/__data/assets/image/0004/370948/ls_medium.jpg" alt="Victoria health researchers Professor Kevin Dew and Dr Kirsten Smiler">

	<figcaption>Professor Kevin Dew and Dr Kirsten Smiler celebrating research excellence.</figcaption>

	</figure>

</dd>

</dl>
</div>