---
notes: >
  [TA] - news item 1/2 column width with text; with and without image (+HP)


  https://victoriauniversity.atlassian.net/browse/WIP-2081


  [TA] - news item column width with text; with and without image (+HP)(MVP)


  https://victoriauniversity.atlassian.net/browse/WIP-2080


  [TA] - News Widget


  https://victoriauniversity.atlassian.net/browse/WIP-1708


  See `<time>` code example on https://www.w3.org/TR/html5/text-level-semantics.html#the-time-element
---

<section class="centraliser articles-container block">
	<header>
		<a href="#" title="" class="link-more">Older news</a>
		<h2>Latest news</h2>
	</header>
	<ul class="news">
		<li>
			<article>
				<div class="summary formatting">
					<h3><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h3>
					<p><time datetime="2016-09-14">14 September 2016</time></p>
					<p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor at the University of North Carolina.</p>
				</div>
			</article>
		</li>


    <li>
      <article>
        <div class="summary formatting">
          <h3><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h3>
          <p><time datetime="2016-09-14">14 September 2016</time></p>
          <p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor at the University of North Carolina.</p>
        </div>
      </article>
    </li>

		<li>
			<article>
				<div class="summary formatting">
					<h3><a href="#">Applications now open for Summer Research Scholarships</a></h3>
					<p><time datetime="2016-09-01">1 September 2016</time></p>
					<p>Applications are now invited from students for Faculty of Humanities and Social Sciences and Faculty of Education Summer Scholarships for 2016-17. Students can access information about the projects, and the online application form, by going to the FHSS Summer Scholars Scheme webpage.</p>
				</div>
			</article>
		</li>



		<li>
			<article>
        <figure class="media">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/6nD-kAsV-rk?rel=0" frameborder="0" allowfullscreen=""></iframe>
        </figure>
				<div class="summary formatting">
					<h3><a href="#">‘Must see’ show inspired by family history</a></h3>
					<p><time datetime="2016-08-30">30 August 2016</time></p>
					<p>Sitting in on a History lecture in 2014 on the Spanish Influenza, Victoria University Pacific Studies Honours graduate Tupe Lualua would never have imagined the path it was about to set her on.</p>
				</div>
			</article>
		</li>

    <li>
      <article>

        <figure class="media portrait">
            <img title="Octavia treehouse 2.jpg" src="http://cms.victoria.ac.nz/__data/assets/image/0010/369325/Octavia-treehouse-2.jpg" alt="">
        </figure>
          <div class="summary formatting">
            <h3><a href="http://cms.victoria.ac.nz/fad/about/news/news-archives/2016-news/architecture-student-heading-to-italy-to-build-his-winning-treehouse-design.">Architecture student heading to Italy to build his winning treehouse design.</a></h3>
            <p>
              <time datetime="2016-08-12">12 August 2016</time>
            </p>
            <p>
              Victoria Architecture student Jacob Dench has won an international treehouse design competition and is heading to Italy at the end of August to build it.
            </p>
          </div>

          <!-- 180 230 portrait -->

      </article>
    </li>

		<li>
			<article>
        <figure class="media">
          <img title="" src="http://www.victoria.ac.nz/__data/assets/image/0004/370948/ls_medium.jpg" alt="Victoria health researchers Professor Kevin Dew and Dr Kirsten Smiler">
        </figure>
				<div class="summary formatting">
					<h3><a href="#">Victoria University health researchers honoured</a></h3>
					<p><time datetime="2016-08-23">23 August 2016</time></p>
					<p>Two Victoria University of Wellington researchers have been recognised by the Health Research Council of New Zealand (HRC) for their work into understanding social issues of health and wellbeing.</p>
				</div>
			</article>
		</li>
	</ul>
</section>
