<div class="study-areas tile-grid">
    <h1>Explore our areas of study</h1>
    <input type="checkbox" id="pg-only" />
    <label class="pg-filter" for="pg-only">Show postgraduate only subjects</label>

    <!-- List of study areas -->
    <div class="tiles-wrap">
    <ul>
        <!--
        Missing topics
    -->
        <!-- Single tile -->
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0016/361060/AnthropologyBanner2.jpg" alt="" >

            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/anthropology/">
                  <div class="tile-title">
                      <h2>Anthropology</h2><i class="icon-caret-right"></i>
                  </div>

                  <span>
                    <h4 class="icon-book">Available subjects</h4>
                    <p>Cultural Anthropology</p>
                  </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0019/351334/Art-History-Banner.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/art-history/">
                    <div class="tile-title">
                        <h2>Art History</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Art History,
    Museum and Heritage Studies</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0009/353349/banner2.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/asian-languages-and-cultures/">
                    <div class="tile-title">
                        <h2>Asian Languages and Cultures</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Asian Studies,
    Chinese,
    Japanese</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0018/343206/topic-cover-classics.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/classics/">
                    <div class="tile-title">
                        <h2>Classics</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Classical Studies,
    Greek,
    Latin</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0011/385571/CreativeWriting.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/modernletters/study/postgraduate-programmes/postgrad-ma">
                    <div class="tile-title">
                        <h2>Creative writing</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


          <p>Creative writing</p>
          </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0011/385571/CreativeWriting.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/postgraduate-subjects/creative-writing/">
                    <div class="tile-title">
                        <h2>Creative Writing</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Creative Writing</p>             </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0007/382399/CriminologyBanner1.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/criminology/">
                    <div class="tile-title">
                        <h2>Criminology</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Criminology</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0004/351769/english-literature-banner.png" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/english-literature/">
                    <div class="tile-title">
                        <h2>English Literature</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>English Literature</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0003/381054/EnglishProficiency.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/english-proficiency/">
                    <div class="tile-title">
                        <h2>English Proficiency</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>English Proficiency</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0019/353350/banner1.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/european-languages-and-cultures/">
                    <div class="tile-title">
                        <h2>European Languages and Cultures</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>French,
    German,
    Italian,
    Spanish</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src=" http://cms.victoria.ac.nz/__data/assets/image/0003/381054/EnglishProficiency.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/film-and-media-studies/">
                    <div class="tile-title">
                        <h2>Film and Media Studies</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Film,
    Media Studies</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0009/370386/PGMidwifery.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/postgraduate-subjects/health-care/">
                    <div class="tile-title">
                        <h2>Postgraduate Health Care</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Postgraduate Health Care</p>             </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0019/343207/topic-cover-history.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/history/">
                    <div class="tile-title">
                        <h2>History</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>History,
    New Zealand Studies,
    Text Technologies</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0007/348370/linguistics-bannner.png" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/linguistics/">
                    <div class="tile-title">
                        <h2>Linguistics</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Applied Linguistics,
    Linguistics,
    Modern Language Studies,
    Text Technologies,
    Writing (Academic and Professional)</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0019/353350/banner1.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/slc/study/postgraduate">
                    <div class="tile-title">
                        <h2>Literary Translation</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


          <p>Literary Translation</p>
          </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0015/363003/MaoriStudiesBanner1.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/maori-studies/">
                    <div class="tile-title">
                        <h2>Māori Studies</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Māori Resource Management,
    Māori Studies,
    Tohu Māoritanga</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0009/370386/PGMidwifery.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/postgraduate-subjects/midwifery/">
                    <div class="tile-title">
                        <h2>Postgraduate Midwifery</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Postgraduate Midwifery</p>             </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0005/379976/MusicBanner1.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/music/">
                    <div class="tile-title">
                        <h2>Music</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Classical Performance,
    Composition,
    Jazz,
    Music,
    Music Studies,
    Music Therapy</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0003/381054/EnglishProficiency.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/study/programmes-courses/subjects/deaf-studies">
                    <div class="tile-title">
                        <h2>New Zealand Sign Language</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


          <p>New Zealand Sign Language</p>
          </span>
                </a>
            </div>
        </li>
        <li class="tile" >
            <div class="img-helper"></div>
            <img src=" http://cms.victoria.ac.nz/__data/assets/image/0003/381054/EnglishProficiency.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/new-zealand-sign-language/">
                    <div class="tile-title">
                        <h2>New Zealand Sign Language</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>New Zealand Sign Language (NZSL) Studies</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0009/370386/PGMidwifery.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/postgraduate-subjects/nursing/">
                    <div class="tile-title">
                        <h2>Postgraduate Nursing</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Postgraduate Nursing</p>             </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0004/350086/Pacific-Cultures-and-Languages-banner.png" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/pacific-cultures-and-languages/">
                    <div class="tile-title">
                        <h2>Pacific Cultures and Languages</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Pacific Studies,
    Samoan Studies/Matāupu tau Samoa</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0014/361130/Philosophy-Banner4.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/philosophy/">
                    <div class="tile-title">
                        <h2>Philosophy</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Philosophy</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0003/380901/PoliticsandInternationalRelations.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/politics-and-international-relations/">
                    <div class="tile-title">
                        <h2>Politics and International Relations</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>International Relations,
    Political Science,
    Strategic Studies</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0018/343215/topic-cover-religion.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/religious-studies/">
                    <div class="tile-title">
                        <h2>Religious Studies</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Religious Studies</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0007/364255/SociologyBanner2.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/sociology/">
                    <div class="tile-title">
                        <h2>Sociology</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Social Policy,
    Sociology</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0016/363004/MaoriStudiesBanner1.jpg" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/te-reo-maori/">
                    <div class="tile-title">
                        <h2>Te Reo Māori</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Te Reo Māori</p>            </span>
                </a>
            </div>
        </li>
        <li class="tile">
            <div class="img-helper"></div>
            <img src="http://cms.victoria.ac.nz/__data/assets/image/0003/348303/theatre-banner.png" alt="" >
            <!---->
            <div class="tile-text">
                <a href="http://www.victoria.ac.nz/explore/study-areas/theatre/">
                    <div class="tile-title">
                        <h2>Theatre</h2><i class="icon-caret-right"></i>
                    </div>
                    <span>
                            <h4 class="icon-book">Available subjects</h4>


           <p>Theatre</p>            </span>
                </a>
            </div>
        </li>
    </ul>
</div>


</div>
