<section class="study-areas centraliser block">
    <h1>Explore our areas of study</h1>
    <div class="tiles-wrap">
        <ul>
            <li class="tile">
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <h2>Asian Languages and Cultures <i class="icon-right-open"></i></h2>
                        <span>
                        	<h4 class="icon-book">Available subjects</h4>
                    		<p>Asian Studies, Chinese, Japanese.</p>
                    	</span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <h2>Linguistics<i class="icon-right-open"></i></h2>
                        <span>
                    		<h4 class="icon-book">Available subjects</h4>
                   			<p>Linguistics, Modern Language Studies, Text Technologies, Writing (Academic and Professional).</p>
                    	</span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <h2>Pacific Cultures and Languages<i class="icon-right-open"></i></h2>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <h2>Film and Media Studies<i class="icon-right-open"></i></h2>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <h2>Creative Writing<i class="icon-right-open"></i></h2>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <h2>Art History<i class="icon-right-open"></i></h2>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile"></li>
            <li class="tile"></li>
            <li class="tile"></li>
        </ul>
    </div>
</section>
<!-- 
Anthropology
Art History
Asian Languages and Cultures
Classics
Creative writing
Criminology
English Literature
English Proficiency
Film and Media Studies
Health
History
Language Teaching
Linguistics
Literary Translation
Māori Studies
Music
New Zealand Sign Language
Pacific Cultures and Languages
Philosophy
Politics and International Relations
Religious Studies
Sociology
Te Reo Māori
Theatre
Midwifery
Nursing Science
European and Latin American Languages and Cultures

 -->
