<div class="study-areas tile-grid">
    <h1>Explore our areas of study</h1>
    <input type="checkbox" id="pg-only" />
    <label class="pg-filter" for="pg-only">Show postgraduate only subjects</label>
    <div class="tiles-wrap">
        <ul>
            <li class="tile">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Asian Languages and Cultures </h2><i class="icon-right-open"></i>
                        </div>
                        <span>
                            <h4 class="icon-book">Available subjects</h4>
                            <p>Asian Studies, Chinese, Japanese.</p>
                        </span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Linguistics</h2><i class="icon-right-open"></i>
                        </div>
                        <span>
                            <h4 class="icon-book">Available subjects</h4>
                            <p>Conservation Biology, Ecological Restoration, Ecology and Biodiversity, Environmental Science, Environmental Studies, Maringe Biology, Marine Conservation</p>
                        </span>
                    </a>
                </div>
            </li>
            <li class="tile" data-pg="only">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Pacific Cultures and Languages</h2><i class="icon-right-open"></i></div>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Film and Media Studies</h2><i class="icon-right-open"></i></div>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile" data-pg="only">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Creative Writing</h2><i class="icon-right-open"></i></div>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile" data-pg="only">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Art History</h2><i class="icon-right-open"></i></div>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Music</h2><i class="icon-right-open"></i></div>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
            <li class="tile">
                <div class="img-helper"></div>
                <img src="http://placehold.it/290x250" alt="">
                <div class="tile-text">
                    <a href="#">
                        <div class="tile-title">
                            <h2>Philosophy</h2><i class="icon-right-open"></i></div>
                        <span><h4 class="icon-book">Available subjects</h4></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--
Anthropology
Art History
Asian Languages and Cultures
Classics
Creative writing
Criminology
English Literature
English Proficiency
Film and Media Studies
Health
History
Language Teaching
Linguistics
Literary Translation
Māori Studies
Music
New Zealand Sign Language
Pacific Cultures and Languages
Philosophy
Politics and International Relations
Religious Studies
Sociology
Te Reo Māori
Theatre
Midwifery
Nursing Science
European and Latin American Languages and Cultures

 -->
