<div class="study-area-single">
    <h1>Explore our diverse range of disicplines</h1>
    <div class="study-area-wide-panel">
        <div class="img-wrap">
            <img src="http://placehold.it/440x250" alt="">
        </div>
        <div class="content-wrap">
            <div class="text-subjects-wrap">
                <div class="text-wrap">
                    <h2>Asian Languages and Cultures</h2>
                    <p>Study the cultures and languages of the world's biggest, most populous continent, Asia. Become a truly global citizen with the communication skills to bridge cultural and linguistic gaps.</p>
                </div>
                <div class="subjects-wrap">
                    <h4 class="icon-book">Available subjects</h4>
                    <ul>
                        <li>Asian Studies</li>
                        <li>Chinese</li>
                        <li>Japanese</li>
                    </ul>
                </div>
            </div>
            <a class="button primary clearfix" href="">Find out more</a>
        </div>
    </div>
    <div class="study-area-wide-panel">
        <div class="img-wrap">
            <img src="http://placehold.it/440x250" alt="">
        </div>
        <div class="content-wrap">
            <div class="text-subjects-wrap">
                <div class="text-wrap">
                    <h2>Asian Languages and Cultures</h2>
                    <p>Study the cultures and languages of the world's biggest, most populous continent, Asia. Become a truly global citizen with the communication skills to bridge cultural and linguistic gaps.</p>
                </div>
                <div class="subjects-wrap">
                    <h4 class="icon-book">Available subjects</h4>
                    <ul>
                        <li>Asian Studies</li>
                        <li>Chinese</li>
                        <li>Japanese</li>
                    </ul>
                </div>
            </div>
            <a class="button primary clearfix" href="">Find out more</a>
        </div>
    </div>
</div>
<!-- 
Anthropology
Art History
Asian Languages and Cultures
Classics
Creative writing
Criminology
English Literature
English Proficiency
Film and Media Studies
Health
History
Language Teaching
Linguistics
Literary Translation
Māori Studies
Music
New Zealand Sign Language
Pacific Cultures and Languages
Philosophy
Politics and International Relations
Religious Studies
Sociology
Te Reo Māori
Theatre
Midwifery
Nursing Science
European and Latin American Languages and Cultures

 -->
