---
notes: >
---
<h3>BScTech</h3>
<p>BScTech in Advanced Materials</p>
<table class="vuw-table">
	<thead class="vuw-table--header">
		<tr>
			<th>Course</th>
			<th class="vuw-data__points">Points</th>
		</tr>
	</thead>
	<tfoot class="vuw-table--footer">
	<tr>
		<td>Total Points</td>
		<td>120</td>
	</tr>
</thead>
<tbody>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">CHEM 114 Principles of Chemistry</a></td>
		<td>15</td>
	</tr>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">CHEM 115 Structure and Spectroscopy</a></td>
		<td>15</td>
	</tr>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">MATH 142 Calculus 1B</a></td>
		<td>15</td>
	</tr>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">MATH 151 Algebra</a></td>
		<td>15</td>
	</tr>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">PHYS 114 Physics 1A</a></td>
		<td>15</td>
	</tr>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">PHYS 115 Physics 1B</a></td>
		<td>15</td>
	</tr>
	<tr>
		<td><a href="javascript:void(0);" class="vuw-link">TECH 101 Nanotechnology and Smart Materials</a></td>
		<td>15</td>
	</tr>
	<!-- 		<tr class="vuw-table--row__secondary">
			<td>Total Points</td>
			<td>120</td>
	</tr> -->
</tbody>
</table>
<h2>Table S2. Water Contents, Radionuclide Contents</h2>
<table class="vuw-table">
<thead class="vuw-table--header">
	<tr>
		<td>Laboratory Code</td>
		<td>Water content %</td>
		<td>U (ppm) from<br>234Th</td>
		<td>U (ppm) from<br>226Ra, 214Pb, 214Bi</td>
		<td>U (ppm) from<br>210Pb</td>
		<td>Th (ppm) from<br>208Tl, 212Pb, 228Ac</td>
		<td>K %</td>
		<td>Field Code</td>
	</tr>
</thead>
<tbody>
	<tr>
		<td>WLL482</td>
		<td>1.283</td>
		<td>4.29±0.33</td>
		<td>3.25±0.21</td>
		<td>2.84±0.26</td>
		<td>11.93±0.16</td>
		<td>1.38±0.03</td>
		<td>WLL482</td>
	</tr>
	<tr>
		<td>WLL499</td>
		<td>1.341</td>
		<td>2.56±0.20</td>
		<td>2.18±0.14</td>
		<td>1.86±0.17</td>
		<td>7.56±0.10</td>
		<td>1.24±0.03</td>
		<td>WLL499</td>
	</tr>
	<tr>
		<td>WLL855</td>
		<td>32.1</td>
		<td>3.83±0.37</td>
		<td>3.45±0.20</td>
		<td>3.84±0.29</td>
		<td>14.73±0.19</td>
		<td>2.87±0.06</td>
		<td>DOG684</td>
	</tr>
	<tr>
		<td>WLL856</td>
		<td>23.7</td>
		<td>3.15±0.35</td>
		<td>2.83±0.19</td>
		<td>2.87±0.27</td>
		<td>10.23±0.15</td>
		<td>2.30±0.05</td>
		<td>DOG552</td>
	</tr>
	<tr>
		<td>WLL857</td>
		<td>24.1</td>
		<td>3.15±0.36</td>
		<td>2.67±0.19</td>
		<td>2.47±0.26</td>
		<td>10.33±0.16</td>
		<td>2.35±0.05</td>
		<td>DOG484</td>
	</tr>
	<tr>
		<td>WLL858</td>
		<td>24.7</td>
		<td>3.62±0.35</td>
		<td>3.32±0.19</td>
		<td>3.28±0.26</td>
		<td>11.46±0.16</td>
		<td>1.86±0.04</td>
		<td>DOG420</td>
	</tr>
	<tr>
		<td>WLL859</td>
		<td>27.5</td>
		<td>3.08±0.29</td>
		<td>2.74±0.16</td>
		<td>3.33±0.23</td>
		<td>11.03±0.14</td>
		<td>2.15±0.05</td>
		<td>DOG295</td>
	</tr>
	<tr>
		<td>WLL860</td>
		<td>29.8</td>
		<td>3.10±0.38</td>
		<td>2.62±0.21</td>
		<td>2.40±0.29</td>
		<td>10.23±0.16</td>
		<td>2.19±0.05</td>
		<td>DOG155</td>
	</tr>
	<tr>
		<td>WLL861</td>
		<td>24.7</td>
		<td>2.26±0.26</td>
		<td>2.83±0.22</td>
		<td>2.56±0.16</td>
		<td>10.06±0.14</td>
		<td>2.22±0.05</td>
		<td>DOG110</td>
	</tr>
	<tr>
		<td>WLL879</td>
		<td>24.7</td>
		<td>3.27±0.29</td>
		<td>3.28±0.18</td>
		<td>3.57±0.25</td>
		<td>12.37±0.15</td>
		<td>1.75±0.04</td>
		<td>COW125</td>
	</tr>
	<tr>
		<td>WLL880</td>
		<td>27.1</td>
		<td>3.48±0.36</td>
		<td>3.34±0.22</td>
		<td>3.43±0.30</td>
		<td>12.39±0.18</td>
		<td>1.75±0.04</td>
		<td>COW210</td>
	</tr>
	<tr>
		<td>WLL881</td>
		<td>36.4</td>
		<td>3.96±0.31</td>
		<td>3.36±0.19</td>
		<td>3.96±0.26</td>
		<td>13.28±0.16</td>
		<td>0.87±0.02</td>
		<td>COW293</td>
	</tr>
	<tr>
		<td>WLL882</td>
		<td>33.6</td>
		<td>3.34±0.35</td>
		<td>3.13±0.21</td>
		<td>3.42±0.28</td>
		<td>11.32±0.17</td>
		<td>1.40±0.03</td>
		<td>VERGE327</td>
	</tr>
</tbody>
</table>