---
notes: >
  Area of Study - single area of study (HP) (MVP)
  https://victoriauniversity.atlassian.net/browse/WIP-2072

---




<div class="teasers">

<div class="item">

<img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/366851/varieties/ls_small.jpg">

<div class="description">

<h4><a href="#">Accounting and Commercial Law</a></h4>
<p>The School of Accounting and Commercial Law (SACL) at Victoria is responsible for teaching subjects offered as both majors and core courses within the Bachelor of Commerce (BCom).</p>
<a class="primary button" href="#">Explore area</a>



</div>


<dl class=" subjects">
	<dt>Subjects</dt>
	<dd><a href="#">Culture &plus; Context Design</a></dd>
	<dd><a href="#">Industrial Design</a></dd>
	<dd><a href="#">Media Design</a></dd>
	</dl>

	</div>

	</div>