<div class="text-promo-panel {{{classState}}}">
    <div class="block formatting centraliser">
        <div class="text-wrap">
            <h2>Research matters</h2>
            <p>In the Faculty of Humanities and Social Sciences, we explore the fundamental questions that define human experience.</p>
        </div>
        <div class="button-wrap">
            <a href="http://www.victoria.ac.nz/fhss/research " title="Check out our student services" class="button primary large">Find out more</a>
        </div>
    </div>
</div>
