{
  "extends": "airbnb-base",

  "env": {
    "jest": true
  },

  "globals": {
    "window":   true,
    "document": true
  },
  "rules": {
    "one-var":         "off",
    "no-underscore-dangle": [ "error", {
      "allowAfterThis": true
    }],
    "no-multi-spaces": [ "error", {
      "exceptions": { "VariableDeclarator": true }
    }],
    "space-in-parens": [ "error", "always", {
      "exceptions": [ "[]", "{}", "()" ]
    }],
    "no-multiple-empty-lines": [ "error", {
      "max": 5
    }],
    "array-bracket-spacing": [ "error", "always" ],
    "key-spacing":[ "error", {
      "align": {
        "beforeColon": false,
        "afterColon":  true,
        "on":          "value",
        "mode":        "minimum"
      }
    }],
    "padded-blocks": "off",
    "no-console":    "off",
    "import/no-extraneous-dependencies": "off",
    "quote-props":   [ "error", "consistent-as-needed" ],
    "comma-dangle":  [ "error", "always-multiline" ]
  }
}
