/*============================================================================*\
| ICONS
\*============================================================================*/

////
/// Variables and properties to define icons.
///
/// @group icons





/*= ICON CODES ===============================================================*/


/// @prop {size (em)} [.5em] -
///   Relative margin between an icon and another element.
$icon-margin:       .5em !default;

/// @prop {string} ['icon-'] - A prefix that will be assigned to every available icon. Then, an icon can be used as: [prefix][icon-code] class.
$icon-class-prefix: 'icon-' !default;





/*= ICON CODES ===============================================================*/


/// @prop {Map}
///   - Maps unicode hexadecimal codes between icon font and CSS.
$default-icon-codes: (
  'search':           '\E002',
  'mail':             '\E014',
  'heart':            '\E026',
  'check':            '\E01D',
  'star':             '\E000',
  'help':             '\E00F',
  'people':           '\E022',
  'user':             '\E028',
  'info':             '\E003',
  'home':             '\E01A',
  'back':             '\E02A',
  'pictures':         '\E02B',
  'popup':            '\E02C',
  'clock':            '\E006',
  'tag':              '\E02D',
  'book':             '\E02E',
  'book-open':        '\E004',
  'pin':              '\E01C',
  'vcard':            '\E015',
  'chat':             '\E02F',
  'flag':             '\E01F',
  'external':         '\E016',
  'printer':          '\E030',
  'camera':           '\E031',
  'lock':             '\E032',
  'lock-open':        '\E033',
  'phone':            '\E013',
  'attention':        '\E020',
  'resize-up':        '\E034',
  'resize-down':      '\E035',
  'mic':              '\E036',
  'cog':              '\E037',
  'share':            '\E038',
  'basket':           '\E039',
  'comment':          '\E03A',
  'caret-down-thin':  '\E03B',
  'caret-left-thin':  '\E03C',
  'caret-right-thin': '\E03D',
  'caret-up-thin':    '\E03E',
  'caret-down':       '\E042',
  'caret-left':       '\E041',
  'caret-right':      '\E040',
  'caret-up':         '\E03F',
  'triangle-down':    '\E043',
  'triangle-left':    '\E044',
  'triangle-right':   '\E045',
  'triangle-up':      '\E046',
  'refresh':          '\E047',
  'graduation-cap':   '\E049',
  'ticket':           '\E048',
  'megaphone':        '\E04A',
  'calendar':         '\E01E',
  'globe':            '\E00A',
  'dots':             '\E04B',
  'arrow-down':       '\E00E',
  'arrow-left':       '\E009',
  'layout':           '\E04C',
  'attach':           '\E04D',
  'menu':             '\E04E',
  'arrow-right':      '\E00B',
  'arrow-up':         '\E00D',
  'edit':             '\E04F',
  'download':         '\E050',
  'audio':            '\E051',
  'quote-down':       '\E010',
  'quote-up':         '\E011',
  'list':             '\E008',
  'money':            '\E052',
  'plane':            '\E053',
  'creditcard':       '\E054',
  'cross':            '\E005'
);

/// @prop {Map} [$default-icon-codes] -
///   To add icon codes to the existing list, simply merge you map with `$default-icon-codes` and assign to `$icon-codes`.
$icon-codes: $default-icon-codes !default;

// Use Relative unit "em" so when the vertical align changes with the font-size.
// This is overridden in _some_ instances, eg. tile sub-text
$icon-vAlign: -0.222em;



