@use "variables.backgrounds" as variables3;
@use "variables.box-appearance";
@use "variables.colors" as variables2;
@use "variables.layout" as variables4;

/*============================================================================*\
| TABLE PROPERTIES
\*============================================================================*/

////
/// Properties related to the table appearance.
///
/// @group tables




/// @prop {border} [$border-width-thin solid $grey-alto]
$table-border: variables.$border-width-thin solid variables2.$grey-alto !default;

/// @prop {color} [$background-highlight-light]
$table-heading-background: variables3.$background-highlight-light !default;

/// @prop {number (in rem)} [$gap-half]
$table-cell-padding: variables4.$gap-half !default;




