--- 
notes: > 

  Card blocks to display and link to content. For use on hub pages. 

---
 <!-- card panel  -->
 <div class="centraliser ">
    <div class="block formatting">
      <div class="card-panel">
        <section class="card">
          <h2>Choose Victoria and make 
              a difference</h2>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
        </section>
        <section class="card">
          <h2>Find a supervisor</h2>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
        </section>
        <section class="card">
          <h2>Funding your study</h2>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
              <a title="Why to study at Victoria" href="#" class="button large ">Scholarships</a>
        </section>
        <section class="card">
          <h2>How to apply</h2>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
        </section>
      </div>
    </div>
  </div>