--- 
notes: > 

  Card stack is used when you have vertically stacked, full width cards. They have a few modifiers..

---


<div class="card-panel--stacked">
    <div class="card-panel">
    {{#>_partials.stackedcard
        classModifeir=""
        title="Default Card in Stack"
        }}

        <p>Study Software Engineering and Computer Science and be at the forefront of the information revolution. ... Find out what it’s like to study Software and Computer Science at Victoria from two students and a lecturer.</p>
    {{/_partials.stackedcard}}
    </div>
</div>