---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main>
      <!-- Top Banner -->
      <div class="layout centraliser study-hub-banner">
        <div class="sidebar ">
          <nav class="site" role="navigation">
            <ul>
              <li>
                <ul>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/about" data-test="test">
                    About Us</a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/study-careers" data-test="test">
                    Study and careers        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/research-services" data-test="test">
                    Research        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/studenthelp" data-test="test">
                    Student and academic services        </a></li>
                  <li><a href="http://www.victoria.ac.nz/vbs/schools" data-test="test">
                    Schools        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/centresandinstitutes" data-test="test">
                    Institutes, centres, chairs        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/teaching" data-test="test">
                    Teaching matters        </a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <figure class="banner">
          <a href="#">
                <img src="//www.victoria.ac.nz/__data/assets/image/0017/344105/crocodile-bike-2000x800px.jpg">
                <!-- Use class="wider, bottom or top" to position the text box -->
<!--                 <figcaption>
                    <h1>Centre for Strategic Studies: New Zealand <i class="icon-caret-right"></i></h1>
                </figcaption> -->
            </a>
        </figure>
      </div>
      <div class="centraliser layout">
        <div class="homepage-intro block formatting">
          <div class="intro-text">
            <h1>About Victoria</h1>
            <p>Victoria University is one of New Zealand’s oldest and most prestigious tertiary institutions with a proud tradition of academic excellence. Learn more about our 115 years of rich history.</p>
          </div>
          <!--           <div class="links-wrap">
            <div class="button-links">
              <a href="http://www.victoria.ac.nz/fhss/about" class="button large">About us</a>
              <a href="http://www.victoria.ac.nz/fhss/schools" class="button large">Explore our Schools</a>
            </div>
            <div class="social-links">
              <p>Find us on</p>
              <a class="social-icon" title="Our Facebook page" href="https://www.facebook.com/">
                            <img alt="Facebook logo" src="images/social-facebook.df23b762.svg">
                        </a>
              <a class="social-icon" title="Our Linkedin profile" href="https://www.linkedin.com/">
                            <img alt="LinkedIn icon" src="images/social-linkedin.fff45469.svg">
                        </a>
              <a class="social-icon" title="Our YouTube profile" href="https://www.youtube.com/">
                            <img alt="YouTube icon" src="images/social-youtube.44bf45ab.svg">
                        </a>
            </div>
          </div> -->
        </div>
        
<!--         <article class="promo primary block">
          <a href="http://www.victoria.ac.nz/about/global-engagement">
            <h2>Global and national engagement</h2>
            <p>We seek to bring the world to Victoria and Victoria to the world. <b>Find out more…</b></p>
          </a>
        </article> -->

        <div class="text-promo-panel intro-promo no-border">
          <div class="block centraliser ">
            <article class="promo formatting primary">
              <a href="http://www.victoria.ac.nz/about/global-engagement">
                <h2>Strategic plan</h2>
                <p>Our vision is for Victoria University to be a world-leading capital city university and one of the great global-civic universities.</p>
              </a>
            </article>
          </div>
        </div>

      </div>


      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button no-icon large">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div>



      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <h2>Connect, engage and explore</h2>
            <section class="grid">
              <figure class=" ">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg">
                <figcaption>
                  <h3> Connect</h3>
                  <h5>NEWS, EVENTS, SOCIAL MEDIA AND EXPERT ADVICE</h5>
                  <ul class="links list-divider">
                    <li><a href="#" title="Go to the...">Biking in Wellington</a></li>
                    <li><a href="#" title="Go to the...">            Meet native wildlife</a></li>
                    <li><a href="#" title="Go to the...">            Stunning views of Wellington</a></li>
                    <li><a href="#" title="Go to the...">            Sports in the capital</a></li>
                    <li><a href="#" title="Go to the...">            Outdoor, recreation, sports and parks</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg">
                <figcaption>
                  <h3>Engage</h3>
                  <h5>ALUMNI AND FRIENDS, CAREERS, COURSES AND CONTACTS</h5>
                  <ul class="links list-divider">
                    <li><a href="#" title="Go to the...">Top notch brunch spots</a></li>
                    <li><a href="#" title="Go to the...">            Cheap eats to fine dining</a></li>
                    <li><a href="#" title="Go to the...">            Coffee capital</a></li>
                    <li><a href="#" title="Go to the...">            Craft beer capital</a></li>
                    <li><a href="#" title="Go to the...">            Wellington city markets</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg">
                <figcaption>
                  <h3> Explore</h3>
                  <h5>CAMPUSES, ARTS AND CULTURE</h5>
                  <ul class="links list-divider">
                    <li><a href="#" title="Go to the...">Great gigs and cool concerts</a></li>
                    <li><a href="#" title="Go to the...">            Get your fill of festivals</a></li>
                    <li><a href="#" title="Go to the...">            Discover Māori culture</a></li>
                    <li><a href="#" title="Go to the...">            Must see exhibits at Te Papa</a></li>
                    <li><a href="#" title="Go to the...">            Middle of Middle Earth</a></li>
                  </ul>
                </figcaption>
              </figure>
            </section>
          </div>
        </div>
      </div>



      <div class="promo-panel no-pattern">

        <figure class=" no-pattern">



          <figcaption>
            <div class="block formatting">
              <h1>Community, culture and support</h1>

              </p>Victoria is a welcoming place full of people from a diverse range of communities. There are all sorts of resources and support available to help you make the best of your time at Victoria.</p>

              <!-- TODO: Transform to list of links -->
              <p>
                <a class="button flat" href="#">Parents and whānau</a>
                <a class="button flat" href="#">Māori at Victoria</a>
                <a class="button flat" href="#">Pasifika at Victoria</a>
                <a class="button flat" href="#">Student services and support</a>
              </p>
            </div>
          </figcaption>


        </figure>
      </div>

    
      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <h2>Connect, engage and explore</h2>
            <section class="grid">
              <figure class=" ">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg">
                <figcaption>
                  <h3> Connect</h3>
                  <p>Can any of us have a reasonable expectation of privacy in an age of mobile phones, drones and the internet?</p>
                </figcaption>
              </figure>
              <figure class=" ">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg">
                <figcaption>
                  <h3>Engage</h3>
                  <p>Bullying is a life-long problem that can have a lasting negative impact—how can it be most effectively tackled?</p>
                </figcaption>
              </figure>
              <figure class=" ">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg">
                <figcaption>
                  <h3> Explore</h3>
                  <p>Do New Zealanders trust politicians and government systems? Why might distrust actually be a healthy thing?</p>
                </figcaption>
              </figure>
            </section>
            <a href="" class="button primary no-icon">Explore our Research</a>
          </div>
        </div>
      </div>

      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button large no-icon">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div>


    </main>
  </div>
</section>
