--- 
notes: > 

  Mark down

---
<div class="tiles-panel">
  <div class="centraliser block">
    <div class="tile-strip-grid">
      <div class="tiles-wrap">
        <ul>
          <li class="tile">
            <a href="">
              <h2>Bachelor of Engineering with Honours</h2>
               <h4>BE(Hons)</h4>
                <h4>3 years</h4>
              <i class="icon-arrow-right"></i>
            </a>
          </li> <li class="tile">
            <a href="">
              <h2>Bachelor of Engineering with Honours</h2>
               <h4>BE(Hons)</h4>
                <h4>3 years</h4>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
           <li class="tile">
            <a href="">
              <h2>Bachelor of Engineering with Honours</h2>
               <h4>BE(Hons)</h4>
                <h4>FOH</h4>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
           <li class="tile">
            <a href="">
              <h2>Bachelor of Engineering with Honours</h2>
               <h4>BE(Hons)</h4>
                <h4>FHSS</h4>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
           <li class="tile">
            <a href="">
              <h2>Bachelor of Engineering with Honours</h2>
               <h4>BE(Hons)</h4>
                <h4>Law</h4>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

