--- 
notes: > 

---
<div class="tiles-panel">
  <div class="centraliser block">
    <div class="updated-tile-grid fixed-height-tiles">
      <div class="tiles-wrap">
        <ul>
          <li class="tile">
            <a href="">
              <h2>Anthropology</h2>
              <div class="sub-text">
                <h4 class="icon-book">Subjects</h4>
                <p>Cultural Anthropology</p>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Anthropology</h2>
              <div class="sub-text">
                <h4 class="icon-book">Subjects</h4>
                <p>Cultural Anthropology</p>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Anthropology</h2>
              <div class="sub-text">
                <h4 class="icon-book">Subjects</h4>
                <p>Cultural Anthropology</p>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Anthropology</h2>
              <div class="sub-text">
                <h4 class="icon-book">Subjects</h4>
                <p>Cultural Anthropology</p>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Anthropology</h2>
              <div class="sub-text">
                <h4 class="icon-book">Subjects</h4>
                <p>Cultural Anthropology</p>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

