--- 
notes: > 
  Three column tile layout for hub top level pages.
---
<div class="tiles-panel ">
  <div class="centraliser block">
    <div class="updated-tile-grid dynamic-height-tiles ">
      <div class="tiles-wrap three-col">
        <ul>
          <li class="tile">
            <a href="">
              <h2 class="">Course planning appointments</h2>
              <div class="sub-text">
                <p>If you need help deciding what degree might be right for you, or what courses to take, book a course planning
                  session with us.</p>
              </div>
              <span class="tile-icon">
                <span class="tile-icon-title"></span>
                <span>
                  <i class="icon-arrow-right"></i>
                </span>
              </span>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Book a campus tour</h2>
              <div class="sub-text">
                <p>Get a taste of what life at Victoria is like—book a campus tour and check out our student accommodation while
                  you are here.</p>
              </div>
              <span class="tile-icon">
                <span class="tile-icon-title"></span>
                <span>
                  <i class="icon-arrow-right"></i>
                </span>
              </span>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>School visits</h2>
              <div class="sub-text">
                <p>We're visiting schools throughout the year. For your introduction to Victoria, find out when we're in your
                  region.</p>
              </div>
              <span class="tile-icon">
                <span class="tile-icon-title"></span>
                <span>
                  <i class="icon-arrow-right"></i>
                </span>
              </span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

