--- 
notes: > 

---
<div class="tiles-panel">
  <div class="centraliser block">
    <div class="updated-tile-grid">
      <div class="tiles-wrap">
        <ul>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="tile">
            <a href="">
              <h2>Master of Museum and Heritage Practice</h2>
              <div class="sub-text">
                <h4>MMHP</h4>
                
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

