--- 
notes: > 
  Three column tile layout with images, for hub top level pages. To be used for linking to external related sites.
---
<div class="tiles-panel ">
  <div class="centraliser block">
    <div class="updated-tile-grid  ">
      <div class="tiles-wrap three-col image-no-gutter">
        <ul>
          <li class="tile">
              <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">  
            <a href="#">
              <h3 class="">Faculty of graduate research</h3>
              <div class="sub-text">
                <p>We oversee all doctoral degrees and work to ensure that your experience as a thesis student is a positive one.
                  <br>br 
                    We administer the registration, enrolment, support and funding elements of your study.</p>
              </div>

              <span class="button  ">Learn more</span>

            </a>
          </li>
          <li class="tile">
              <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
            <a href="#">
              <h3>Research office</h3>
              <div class="sub-text">
                <p>The Research office supports the research culture at Victoria through promoting funding initiatives, managing ethics, professional development. 
                  <br>
                    We also manage PBRF and support commercialisation and intellectual property licences.</p>
              </div>

              <span  class="button  ">Learn more</span>
            </a>
          </li>
          <li class="tile">
              <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
            <a href="#">
              <h3>VicLink</h3>
              <div class="sub-text">
                <p>The commercialisation arm of Victoria research, VicLink have the skills and connections to deliver your research into the market place.  
                  <br>
                    We assist researchers to transform their discoveries into assets that have real benefit to society.
                    </p>
              </div>

              <span  class="button  ">Learn more</span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>