---
notes: >
  **NOT USED ANYWHERE - refactor and fix before using**<br>
  Strip tiles with accordion to display links and similar list content.
---
<div class="tiles-panel">
  <div class="centraliser block">
    <div class="tile-strip-grid tile-accordion">
      <div class="tiles-wrap">
        <ul>
          <li class="tile accordion-closed ">
            <a href="javascript:void(0)">
              <h2>Architecture</h2>
              <h4>With an impressive breadth of collaborations, we champion creativity and exploration. From urban design to
                wearable technologies, this faculty embodies innovation. </h4>
              <i class="icon-caret-right"></i>
            </a>
            <div class="accordion-content closed list">
              <ul class="links">
                <li>
                  <a href="#">Centre of Building Performance Research (CBPR)</a>
                </li>
                <li>
                  <a href="#">Earthquake Hazard Centre (EHC)
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="tile accordion-closed ">
            <a href="javascript:void(0)">
              <h2>Business</h2>
              <h4>At the heart of New Zealand’s business, finance, public and government community, our research expertise supports
                local and international solutions. </h4>
              <i class="icon-caret-right"></i>
            </a>
            <div class="accordion-content  list">
              <ul class="links">
                <li>
                  <a href="#">BNZ Chair in Business in Asia
                  </a>
                </li>
                <li>
                  <a href="#">Brian Picot Chair in Ethical Leadership</a>
                </li>
                <li>
                  <a href="#">Centre for Accounting Governance and Taxation Research
                  </a>
                </li>
                <li>
                  <a href="#">Centre for Labour, Employment and Work (CLEW)</a>
                </li>
                <li>
                  <a href="#">Chair in the Economics of Disasters
                  </a>
                </li>
                <li>
                  <a href="#">Chair in Public Finance
                  </a>
                </li>
                <li>
                  <a href="#">Competitive Advantage New Zealand</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="tile accordion-closed ">
            <a href="javascript:void(0)">
              <h2>Engineering</h2>
              <h4>Our engineering, computer and mathematical science researchers are at the forefront of their fields. Work on
                pure and applied solutions have global relevance.</h4>
              <i class="icon-caret-right"></i>
            </a>
            <div class="accordion-content  list">
              <ul class="links">
                <li>
                  <a href="#">Computational Media Innovation Centre (opening June 2018) </a>
                </li>
                <li>
                  <a href="#">Robinson Research Institute
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

