/*============================================================================*\
| MEDIA-RELATED MIXINS
\*============================================================================*/

////
/// Mixins for work with various media - images, videos, figures, galleries.
///
/// @group media





/*= IMAGES ===================================================================*/


/// @access public
///
/// Turns element (ideally an image) into a flexible background cover that
/// maintains its aspect ratio. The element is position to the top, which means
/// the bottom gets cropped first.
///
/// @param {vertical|horizontal} $stretch-direction [vertical] - In which direction should the image stretch in browsers that require fallback.
///
/// @example html
///
/// <!-- Wrapper -->
/// <section class="container">
///   <!-- Will fill the `.container` while keeping the correct aspect ratio -->
///   <img class="background-cover">
///   <!-- Dynamic content - can have a dynamic height -->
///   <div class="content>
///     <h1>Heading</h1>
///     <p>Standard content</p>
///   </div>
/// </section>
///
/// @example css
///
/// .container { position: relative; }
/// .background-cover { @include background-image-cover; }
///
/// @require {mixin} size
@mixin background-image-cover( $stretch-direction: horizontal ) {

  @if $stretch-direction == vertical {
    @include size( auto, 100% );
  }

  @if $stretch-direction == horizontal {
    @include size( 100%, auto );
  }

  position:        absolute;
  top:             0;
  right:           0;
  left:            0;
  object-fit:      cover;
  object-position: top;

  @supports ( object-fit: cover ) {
    @include size( 100% );
  }
}





