/*============================================================================*\
| LAYOUT-RELATED MIXINS
\*============================================================================*/

////
/// @group layout







/*= SIZING ===================================================================*/


/// Sets the `width` and `height` of the element in one statement.
///
/// @argument {number (with unit) | string} $width
///
/// @argument {number (with unit) | string} $height [$width]
///
/// @example scss
///   .first-element {
///     @include size(2em);
///   }
///
///   // CSS Output
///   .first-element {
///     width: 2em;
///     height: 2em;
///   }
///
/// @example scss
///   .second-element {
///     @include size(auto, 10em);
///   }
///
///   // CSS Output
///   .second-element {
///     width: auto;
///     height: 10em;
///   }
///
/// @require {function} _is-size

@mixin size(
  $width,
  $height: $width
) {
  @if _is-size($height) {
    height: $height;
  } @else {
    @error '`#{$height}` is not a valid length for the `$height` argument ' +
      'in the `size` mixin.';
  }

  @if _is-size($width) {
    width: $width;
  } @else {
    @error '`#{$width}` is not a valid length for the `$width` argument ' +
      'in the `size` mixin.';
  }
}





/*= BASE STYLES ==============================================================*/


@mixin add-base-layout() {
  html {
    height: 100%;
    // Keep default layout aligned with browser's settings.
    font-size: 100%;

    // Scale the ratio based on properties from `_variables.responsive.scss`
    @if ( $mobile-layout-percentage != '100%' ) {
      @include bp-mobile() {
        font-size: $mobile-layout-percentage;
      }
    }

    @if ( $mobile-large-layout-percentage != '100%' ) {
      @include bp-mobile-large {
        font-size: $mobile-large-layout-percentage;
      }
    }

    @if ( $tablet-layout-percentage != '100%' ) {
      @include bp-tablet {
        font-size: $tablet-layout-percentage;
      }
    }

    @if ( $desktop-layout-percentage != '100%' ) {
      @include bp-desktop {
        font-size: $desktop-layout-percentage;
      }
    }

    @if ( $desktop-layout-percentage != '100%' ) {
      @include bp-desktop-large {
        font-size: $desktop-large-layout-percentage;
      }
    }

    // Sticky footer
    @if ( $layout-sticky-footer ) {
      body {
        display:        flex;
        min-height:     100%;
        flex-direction: column;

        > footer { overflow: hidden; } // IE11+ extra margin after flex-box fix
      }
    }

  }
}





/*= SPACING ==================================================================*/


@mixin paddings-vertical ( $vertical-size: $gap-vertical ) {
  padding-top:    $vertical-size;
  padding-bottom: $vertical-size;
}

@mixin paddings-horizontal ( $horizontal-size: $gap-horizontal ) {
  padding-right: $horizontal-size;
  padding-left:  $horizontal-size;
}

@mixin margins-vertical ( $vertical-size: $gap-vertical ) {
  margin-top:    $vertical-size;
  margin-bottom: $vertical-size;
}

@mixin margins-horizontal ( $horizontal-size: $gap-horizontal ) {
  margin-right: $horizontal-size;
  margin-left:  $horizontal-size;
}




