---
title: "Prototype | 3 columns with banner"

header:
  subtitle:   "School of"
  title:      "History, Philosophy, Political Science and International&nbsp;Relations"
  titleMaori: "Te Kauhanganui Tātai Ture"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries

  mails:
    - info@fhss.victoria.ac.nz
    - advisory@fhss.victoria.ac.nz

---

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.site}} </div>


  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Banner -->
    <img alt="Hunter building" src="http://www.victoria.ac.nz/__data/assets/image/0019/346330/about_2000x800.jpg">

    <!-- Center 'content' column -->
    <main>

      <div class="block formatting">

        <article class="featured">
          <h1>Arrive and enroll</h1>

          <p class="intro">Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

          <div class="highlight primary" id="course_advice">
          <h2>Talk to us about your study options</h2><p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p><p><a href="http://www.victoria.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
          </div>
        </article>

        <section class="grid">
          {{#>_figure
          img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
          href="http://www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
          href="http://www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}


          {{#>_figure
          href="http://www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          href="http://www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}
        </section>

      </div>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">
    		{{> links}}

    		{{#>_article
    		class="promo secondary"
    		href="http://www.victoria.ac.nz/about/global-engagement"
    		}}
			    <h2>Global and national engagement</h2>
			    <p>We seek to bring the world to Victoria and Victoria to the world. <b>Find out more…</b></p>
    		{{/_article}}

        <h2>Filter stuff</h2>

        <h3>Categories</h3>
        <div class="tags">
          <a href="#" title="Filter out all articles from 'Recruiting'" class="tag"> Recruiting </a>

          <a href="#" title="Filter out all articles from 'Life at Campus'" class="tag"> Life at Campus </a>

          <span href="#" title="Filter out all articles from 'Staff'" class="tag"> Staff </span>

          <a href="#" title="Remove filter for all articles from 'Anouncements'" class="tag active">
            Anouncements<span class="close">&times;</span>
          </a>

          <a href="#" title="Filter out all articles from 'Research'" class="tag"> Research </a>

        </div>
      </div>
  	</aside>

  </div>

</section>

