---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <!-- Top Banner -->
<!--       <div class="layout centraliser study-hub-banner">
        <div class="sidebar ">
          <nav class="site" role="navigation">
            <ul>
              <li>
                <ul>
                  <li class="has-subpages"><a href="https://www.wgtn.ac.nz/vbs/about" data-test="test">
                    About Us</a></li>
                  <li class="has-subpages"><a href="https://www.wgtn.ac.nz/vbs/study-careers" data-test="test">
                    Study and careers        </a></li>
                  <li class="has-subpages"><a href="https://www.wgtn.ac.nz/vbs/research-services" data-test="test">
                    Research        </a></li>
                  <li class="has-subpages"><a href="https://www.wgtn.ac.nz/vbs/studenthelp" data-test="test">
                    Student and academic services        </a></li>
                  <li><a href="https://www.wgtn.ac.nz/vbs/schools" data-test="test">
                    Schools        </a></li>
                  <li class="has-subpages"><a href="https://www.wgtn.ac.nz/vbs/centresandinstitutes" data-test="test">
                    Institutes, centres, chairs        </a></li>
                  <li class="has-subpages"><a href="https://www.wgtn.ac.nz/vbs/teaching" data-test="test">
                    Teaching matters        </a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <figure class="banner">
          <a href="#">
                <img src="//www.wgtn.ac.nz/__data/assets/image/0017/344105/crocodile-bike-2000x800px.jpg"> -->
                <!-- Use class="wider, bottom or top" to position the text box -->
<!--                 <figcaption>
                    <h1>Centre for Strategic Studies: New Zealand <i class="icon-caret-right"></i></h1>
                </figcaption> -->
<!--             </a>
        </figure>
      </div> -->

      <!-- Page intro with promo cta -->
<!--       <div class="centraliser layout sector">
        <div class="homepage-intro block formatting study-hub-about">
          <div class="intro-text">
            <h1>About Victoria</h1>
            <p>Victoria University is one of New Zealand’s oldest and most prestigious tertiary institutions with a proud tradition of academic excellence. Learn more about our 115 years of rich history.</p>
          </div>
        </div>

        <div class="text-promo-panel intro-promo no-border">
          <div class="block centraliser ">
            <article class="promo formatting primary">
              <a href="https://www.wgtn.ac.nz/about/global-engagement">
                <h2>Strategic plan</h2>
                <p>Our vision is for Victoria University to be a world-leading capital city university and one of the great global-civic universities.</p>
              </a>
            </article>
          </div>
        </div>

      </div> -->

      <div class="sector block">
          <div class="centraliser">
            <div class="homepage-intro block formatting study-hub">
              <div class="intro-text">
                <h1>About Victoria</h1>
                <p>Victoria University is one of New Zealand’s oldest and most prestigious tertiary institutions with a proud tradition of academic excellence. Learn more about our 115 years of rich history.</p>
              </div>
              <div class="links-wrap">

              </div>
            </div>
            <div class="text-promo-panel intro-promo">
              <div class="block formatting centraliser">
                 <div class="text-wrap">
                  <h3>Important Links</h3>
                  <ul class="links">
                    <li class=""><a class=""> Bacon ipsum dolor amet </a></li>
                    <li class=""><a class=""> Bacon ipsum dolor amet </a></li>
                    <li class=""><a class=""> Bacon ipsum dolor amet </a></li>
                  </ul>
                </div>

<!--               <div class="text-wrap">
                  <h3>Strategic Plan</h3>
                  <p>Our vision is for Victoria University to be a world-leading capital city university and one of the great global-civic universities.</p>
                </div> -->

                <div class="button-wrap">
                  <a href="https://www.wgtn.ac.nz/fhss/research " title="Check out our student services" class="button flat-border ">Strategic Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>



    <!-- Promo Panel for text + image -->
      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button no-icon large">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div>


      <!-- 3 col images with list -->
      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <h2>Connect, engage and explore</h2>
            <section class="grid">
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Connect</h3>
                  <p>News, Events, Social Media and Expert Advice</p>
                  <ul class="links list-divider hub">
                    <li><a class="" href="#" title="Go to the...">Biking in Wellington</a></li>
                    <li><a class="" href="#" title="Go to the...">            Meet native wildlife</a></li>
                    <li><a class="" href="#" title="Go to the...">            Stunning views of Wellington</a></li>
                    <li><a class="" href="#" title="Go to the...">            Sports in the capital</a></li>
                    <li><a class="" href="#" title="Go to the...">            Outdoor, recreation, sports and parks</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Engage</h3>
                  <p>Alumni and Friends, Careers, Courses and Contacts </p>
                  <ul class="links list-divider hub">
                    <li><a class="" href="#" title="Go to the...">Top notch brunch spots</a></li>
                    <li><a class="" href="#" title="Go to the...">            Cheap eats to fine dining</a></li>
                    <li><a class="" href="#" title="Go to the...">            Coffee capital</a></li>
                    <li><a class="" href="#" title="Go to the...">            Craft beer capital</a></li>
                    <li><a class="" href="#" title="Go to the...">            Wellington city markets</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Explore</h3>
                  <p>Campuses, Arts and Culture</p>
                  <ul class="links list-divider hub">
                    <li><a class="" href="#" title="Go to the...">Great gigs and cool concerts</a></li>
                    <li><a class="" href="#" title="Go to the...">            Get your fill of festivals</a></li>
                    <li><a class="" href="#" title="Go to the...">            Discover Māori culture</a></li>
                    <li><a class="" href="#" title="Go to the...">            Must see exhibits at Te Papa</a></li>
                    <li><a class="" href="#" title="Go to the...">            Middle of Middle Earth</a></li>
                  </ul>
                </figcaption>
              </figure>
            </section>
          </div>
        </div>
      </div>

      <!-- Promo Panel for text + video -->
      <div class="promo-panel dual-content">
        <div class="block formatting centraliser">
          <div class="dual-content-block">
            <figure class=" ">
              <figcaption>
                <h1>Fatback tail frankfurter </h1>
                <p>Bacon ipsum dolor amet filet mignon spare ribs ground round pig cow ball tip. Tri-tip jowl meatball, alcatra cow kevin shank sirloin shoulder.</p>
                <ul class="links">
                <li>
                  <a href="#" title="First days at Victoria" class="link-external">First day at Victoria</a>
                </li>

                <li>
                  <a href="#" title="How to sign up">How to sign up</a>
                </li>

                <li>
                  <a href="#" title="VicNews">VicNews</a>
                </li>
              </ul>
                <a href="#" title="Play the video about Wellington" class="button no-icon large">Read More</a>
              </figcaption>
            </figure>
            <figure class="media featured">
              <a data-lity="" href="https://www.youtube.com/watch?v=6nD-kAsV-rk" target="_blank">
                <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg">
                <figcaption>
                  <h4>Business in the best capital <i class="icon-right-dir"></i></h4>
                  <div class="play-button"></div>
                </figcaption>
              </a>
            </figure>
          </div>
        </div>
      </div>


      <!-- centred promo panel grey bg -->
<!--       <div class="promo-panel no-pattern">

        <figure class=" no-pattern">



          <figcaption>
            <div class="block formatting">
              <h1>Community, culture and support</h1>

              </p>Victoria is a welcoming place full of people from a diverse range of communities. There are all sorts of resources and support available to help you make the best of your time at wgtn.</p>

              <p>
                <a class="button flat" href="#">Parents and whānau</a>
                <a class="button flat" href="#">Māori at Victoria</a>
                <a class="button flat" href="#">Pasifika at Victoria</a>
                <a class="button flat" href="#">Student services and support</a>
              </p>
            </div>
          </figcaption>


        </figure>
      </div>
 -->
      <!-- image 3 col -->
      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <h2>Connect, engage and explore</h2>
            <section class="grid">
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Connect</h3>
                  <p>Can any of us have a reasonable expectation of privacy in an age of mobile phones, drones and the internet?</p>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Engage</h3>
                  <p>Bullying is a life-long problem that can have a lasting negative impact—how can it be most effectively tackled?</p>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Explore</h3>
                  <p>Do New Zealanders trust politicians and government systems? Why might distrust actually be a healthy thing?</p>
                </figcaption>
              </figure>
            </section>
            <a href="" class="button primary no-icon">Explore our Research</a>
          </div>
        </div>
      </div>

      <!-- Tiled study hub 3 col pattern -->
        <!-- <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid fixed-height-tiles tiles-study-hub-about">
              <h2>Victoria’s researchers lead thinking</h2>
              <div class="tiles-wrap three-col">
                <ul>
                  <li class="tile">
                    <a href="">
                      <h2 class="">Who's keeping an eye on the kids?</h2>
                      <div class="sub-text">
                        <p>Can any of us have a reasonable expectation of privacy in an age of mobile phones, drones and the internet?</p>
                      </div>
                       <span class="tile-icon">
                         <span class="tile-icon-title"></span>
                         <span><i class="icon-arrow-right"></i></span>
                        </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>If you saw this, what would you do?</h2>
                      <div class="sub-text">
                        <p>Bullying is a life-long problem that can have a lasting negative impact—how can it be most effectively tackled?</p>
                      </div>
                      <span class="tile-icon">
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Public trust in the public service</h2>
                      <div class="sub-text">
                        <p>Do New Zealanders trust politicians and government systems? Why might distrust actually be a healthy thing?</p>
                      </div>
                      <span class="tile-icon">
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <a href="" class="button primary no-icon">Explore our Research</a>
          </div>
        </div> -->

 <!--      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button large no-icon">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div> -->


    </main>
  </div>
</section>
