---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">

        <div class="centraliser">
          <div class="block formatting">
            <h1>Calendar updates 2019</h1>
            <p>The following new, amended or corrected regulations supersede the published 2019 print Calendar. For queries about the 2019 Calendar and updates, please contact the Academic Office.</p>
          </div>
        </div>

        <div class="centraliser ">
          <div class="block formatting">
            <div class="card-panel calendar-cards">

              <section class="card">
                <div class="title">
                  <p>Faculty</p>
                  <h3>Engineering</h3>
                </div>

                <div class="date">

                  <div>
                    <p>Date of approval</p>
                    <time datetime="13-11-2018">13-11-2018</time>
                  </div>

                  <div>
                    <p>Effective date</p>
                    <time datetime="01-01-2019">01-01-2019</time>
                  </div>

                </div>

                <div class="update">
                  <div class="original">
                    <div class="sub-head">
                      <strong>Original text</strong>
                    </div>
                    <div class="content">
                      <p>
                          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        </p>
                    </div>
                  </div>
                  <div class="amendment">
                    <div class="sub-head">
                        <strong>Amendment</strong>
                    </div>
                    <div class="content">
                        <p>
                          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        </p>
                    </div>
                  </div>
                </div>

                <div class="references">
                  <div class="sub-head">
                      <strong>References</strong>
                      <p>BE(Hons)/5, BSc(Hons)/8, MSc/7, PGDipSc/5, PGCertSc/5, MCompS</p>
                  </div>

                </div>

              </section>

            </div>
          </div>
        </div>







    </main>
  </div>
</section>
