<!-- Staff listing -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <h1>Content page templates</h1>
        <p class="intro">Test page for content page templates and the like</p>

        <p><img class="portrait" src="https://cms.victoria.ac.nz/__data/assets/image/0003/900732/nicolemoreham.jpg" alt="Nicole Moreham" style="border: 0px solid rgb(0, 0, 0); float: right; margin: 1em 0px 1em 1em;" width="120" height="100"></p>
        <h2>Our research</h2>
        <p>Victoria’s legal academics work on a range of research, from Law of the Sea to mediation. <a href="https://cms.victoria.ac.nz/law/research/our-research">Find out more about their research</a> and the impact its had on the academics themselves.</p>

        <article class="image-block clearfix">
          <h3>Our research</h3>
            <figure class="image-block--img right">
              <img src="https://cms.victoria.ac.nz/__data/assets/image/0003/900732/nicolemoreham.jpg" alt="Nicole Moreham" >
            </figure>
            <p>Victoria’s legal academics work on a range of research, from Law of the Sea to mediation. <a href="https://cms.victoria.ac.nz/law/research/our-research">Find out more about their research</a> and the impact its had on the academics themselves.</p>
            <p>Victoria’s legal academics work on a range of research, from Law of the Sea to mediation. <a href="https://cms.victoria.ac.nz/law/research/our-research">Find out more about their research</a> and the impact its had on the academics themselves.</p>
        </article>
        <article class="image-block clearfix">
          <h3>Our research</h3>
            <figure class="image-block--img left">
              <img src="https://cms.victoria.ac.nz/__data/assets/image/0003/900732/nicolemoreham.jpg" alt="Nicole Moreham" >
            </figure>
            <p>Victoria’s legal academics work on a range of research, from Law of the Sea to mediation. <a href="https://cms.victoria.ac.nz/law/research/our-research">Find out more about their research</a> and the impact its had on the academics themselves.</p>
            <p>Victoria’s legal academics work on a range of research, from Law of the Sea to mediation. <a href="https://cms.victoria.ac.nz/law/research/our-research">Find out more about their research</a> and the impact its had on the academics themselves.</p>
        </article>


      </section>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">
      </div>
  	</aside>

  </div>

</section>
