---
title: "Prototype | Menu and Content columns"

header:
  subtitle:   ""
  title:      "Language Learning Centre"
  titleMaori: "Te Wāhanga Waihanga-Hoahoa"
  titleClass: "large"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines
    - Contacts and directories
    - Deadlines for last year

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries
    - phone2:
      number: 64221231210
      label:  personal advisory

  mails:
    - info@vbs.wgtn.ac.nz

---

<!-- 2) Sidebar + Content only -->
<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <div class=" block formatting">

        <nav aria-label="breadcrumb" role="navigation" aria-label="You are here:">
          <ul class="breadcrumbs " style="padding-left: 0;">

            <!-- Homepage -->
            <li>
              <a href="#" title="Back to School's homepage">Language Learning Centre</a>
            </li>

            <li>
              <a href="../prototypes/esol-resources-page.html" title="Back to 'Study and Careers'">Online Resources</a>
            </li>

            <!-- Current page -->
            <li>Reading</li>
          </ul>
        </nav>
            <div>
                <h1>Reading <button class="save-page no-icon flat" title="Add this page to your Saved Items" data-tooltip>
                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="35px" height="35px">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"
                        d="M37 3L13 3 13 47 25 40 37 47z" />
                    </svg>
                  </button></h1>
                <p>Find useful advice on and some practice in techniques and strategies for reading in an academic environment.</p>
                <section class="grid">
                {{#>_figure
                href="http://learninghub.une.edu.au/tlc/aso/aso-online/academic-reading/"
                }}
                <h3>University of New England</h3>
                <p>Equip yourself with techniques and strategies to help you understand academic texts.</p>
                <span class="tag tag-grey">Intermediate</span>
                <span class="tag tag-grey">Advanced</span>
                {{/_figure}}

                {{#>_figure
                href="https://www.wgtn.ac.nz/llc/llc_resources/academic_reading/intro_1.html"
                }}
                <h3>VUW academic reading</h3>
                <p>Tasks to help you improve intensive reading of academic texts in a New Zealand setting.</p>
                    <span class="tag tag-grey">Intermediate</span>

                    <span class="tag tag-grey close">NZ content</span>
                {{/_figure}}

                {{#>_figure
                href="http://apps.3cmediasolutions.org/oei/modules/reading/story/"
                }}
                <h3>Online reading strategies</h3>
                <p>Learn strategies for reading texts online quickly and efficiently in this 9-minute tutorial.</p>
                <span class="tag tag-grey">Intermediate</span>
                {{/_figure}}

                </section>
            </div>


      </div>
    </main>

  </div>

</section>

