---
title: "Prototype | Menu and Content columns"

header:
  subtitle:   ""
  title:      "Language Learning Centre"
  titleMaori: "Te Wāhanga Waihanga-Hoahoa"
  titleClass: "large"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines
    - Contacts and directories
    - Deadlines for last year

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries
    - phone2:
      number: 64221231210
      label:  personal advisory

  mails:
    - info@vbs.wgtn.ac.nz

---

<!-- 2) Sidebar + Content only -->
<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <div class="block formatting">

        <article class="featured">
            <h1>Practise your English online 
              <button class="save-page no-icon flat" title="Add this page to your Saved Items" data-tooltip>
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="35px" height="35px">
                  <path  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    stroke-width="2" d="M37 3L13 3 13 47 25 40 37 47z" />
                </svg>
              </button>
            </h1>
            <p>LLC staff have collected and regularly check the weblinks below with one goal in mind— to help you improve your English online. </p>
            <p>Remember, the LLC has lots of offline practice materials for all language skills available in the Self-access Library and on LLC computers. Ask staff at the LLC counter. If you have any feedback on this website, we would like to hear from you! Happy practising!</p>

            <div class="links-wrap">
                <div class="button-links">
                    <a href="" class="button large">Let us know what you think </a>
                </div>
            </div>

          <!-- <div class="highlight primary" id="course_advice">
            <h2>Talk to us about your study options</h2>
            <p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p>
            <p>
              <a href="//www.wgtn.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
          </div> -->

        </article>

            <div>
                <h2>Main skills</h2>
                <p>Irure aliqua id in minim anim occaecat est. Est mollit duis consequat esse proident minim. Esse labore officia nisi culpa laboris eu sint enim deserunt amet culpa culpa et. Cillum aute veniam anim id. Ea proident ipsum occaecat Lorem aliquip.</p>
                <section class="grid">
                {{#>_figure
                img="https://cdn.stocksnap.io/img-thumbs/960w/PLRKIF9VCU.jpg"
                href="../prototypes/esol-resources-page-reading.html"
                }}
                <h3>Reading</h3>
                <p>Find useful advice on and some practice in techniques and strategies for reading in an academic environment.</p>
                {{/_figure}}

                {{#>_figure
                img="https://cdn.stocksnap.io/img-thumbs/960w/TBJ9OPDGMK.jpg"
                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Writing</h3>
                <p>Learn about generating ideas, freewriting, clustering, paragraphing, topic sentences, essay structure, academic style, referencing, paraphrasing, and many other tricky aspects of academic writing.
                    </p>
                {{/_figure}}

                {{#>_figure
                img="https://cdn.stocksnap.io/img-thumbs/960w/S05DRRCFVB.jpg"
                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Listening</h3>
                <p>Simplified and authentic lectures or lecture extracts for practising note-taking and listening comprehension skills in an academic context</p>

                {{/_figure}}
                {{#>_figure
                img="https://cdn.stocksnap.io/img-thumbs/960w/Y2AHVPYB51.jpg"
                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Speaking</h3>
                <p>Whether you want to improve your general conversational skills or how you communicate in a professional setting, these resources may be useful.
                    </p>

                {{/_figure}}

                </section>
            </div>
            <div>
                <h2>Support skills</h2>
                <p>Anim ullamco proident sunt aute anim et occaecat exercitation ullamco excepteur aliquip officia voluptate. Laborum dolore sit in veniam. Deserunt dolore ullamco enim aute. Et non excepteur cupidatat commodo.</p>
                <section class="grid">
                {{#>_figure

                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Fluency</h3>
                <p>Fluency is hard to define, but easy to recognise. It has to do with the smoothness and ease of expression in another language.</p>


                {{/_figure}}

                {{#>_figure

                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Grammar</h3>
                <p>First decide what area of grammar you want to practise, then find tasks related to that area.</p>


                {{/_figure}}

                {{#>_figure

                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Vocabulary</h3>
                <p>Improve your knowledge and use of words that often go togethe.</p>


                {{/_figure}}
                {{#>_figure

                href="//www.wgtn.ac.nz/international/start/arrival"
                }}
                <h3>Pronunciation</h3>
                <p>Work on your pronunciation by recording your voice as you practice the sounds of English, intonation, pitch, and sentence stress.</p>


                {{/_figure}}

                </section>
            </div>

      </div>
    </main>

  </div>

</section>

