---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---



    </main>
  </div>
</section>
