---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

 <!-- #region Jssor Slider Begin -->
    <!-- Generator: Jssor Slider Maker -->
    <!-- Source: http://www.jssor.com -->
    <!-- This code works without jquery library. -->
    <!-- <script src="./?a=669928" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/26.1.5/jssor.slider.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 2000,
              $SlideWidth: 1800,
              $SlideHeight: 720,
              $Idle: 8000,
              $FillMode: 1,
              $SlideEasing: $Jease$.$OutQuint,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1800);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <style>
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 26px;
            height: 26px;
            background: url('http://www.victoria.ac.nz/__data/assets/image/0006/669948/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('http://www.victoria.ac.nz/__data/assets/image/0011/669944/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1800px;height:720px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('http://www.victoria.ac.nz/__data/assets/image/0007/669949/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1800px;height:720px;overflow:hidden;">
           
            <!--slide one   -->
            <div>
                <a href="http://www.victoria.ac.nz/study/apply-enrol/offer-of-study">
                <img src="http://www.victoria.ac.nz/__data/assets/image/0018/671400/varieties/ls_large.jpg" alt="" style="width: 100%;">
                <div style="position:absolute;bottom:20%;left:110px;width:40%;height:auto;z-index:0;color:#ffffff;background-color: rgba(30,153,28,0.7); padding: 2em;"><h1 style="color:#ffffff;">School visits <span class="icon-caret-right"></span></h1><h3 style="color:#ffffff;">Your introduction to Victoria—find out when we're visiting your region.</h3></div>
                </a>
            </div>
            <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
           
           
           <!--slide two-->
            <div>
                <a href="http://www.victoria.ac.nz/students/new-students/orientation">
                <img src="http://www.victoria.ac.nz/__data/assets/image/0010/659935/varieties/ls_large.jpg" alt="Students playing basketball at Victoria's Kelburn Recreation Centre" style="width: 100%;">
                  <div style="position:absolute;bottom:20%;left:110px;width:40%;height:auto;z-index:0;color:#ffffff;background-color: rgba(30,153,28,0.7); padding: 2em;"><h1 style="color:#ffffff;">New Students' Orientation <span class="icon-caret-right"></span></h1><h3 style="color:#ffffff;">Start planning your orientation week: 27 February–3 March.</h3></div>
                  </a>
            </div>
           
           <!--slide three-->
            <div>
                 <a href="http://www.victoria.ac.nz/capital-thinking">
                <img src="http://www.victoria.ac.nz/__data/assets/image/0007/354715/varieties/ls_large.png" alt="Microscopic view of Multiple Sclerosis cells in the body" style="width: 100%;">
                 <div style="position:absolute;bottom:20%;left:110px;width:40%;height:auto;z-index:0;color:#ffffff;background-color: rgba(30,153,28,0.7); padding: 2em;"><h1 style="color:#ffffff;">Cyber security <span class="icon-caret-right"></span></h1><h3 style="color:#ffffff;">How vulnerable are you when sharing personal data online?</h3></div>
                 </a>
            </div>
        
        
        
        
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:26px;height:26px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>

<!-- Hubs Home page  -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">

      <!-- Search panel -->
      <div class="centraliser">
        <div class="block">
         <div class="search-panel">
            <form class="form wide-search-bar" method="GET">
  
              <div class="group required">
                <input type="text" name="search" id="search" placeholder="Search Victoria...">
                <input type="submit" class="button primary" value="Search">
              </div>
  
            </form>

         </div>  
        </div>
      </div>




    <!-- Promo Panel for text + image -->
      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button no-icon large">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div>


      <!-- 3 col images with list -->
      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <h2>Connect, engage and explore</h2>
            <section class="grid">
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Connect</h3>
                  <p>News, Events, Social Media and Expert Advice</p>
                  <ul class="links list-divider hub">
                    <li><a class="" href="#" title="Go to the...">Biking in Wellington</a></li>
                    <li><a class="" href="#" title="Go to the...">            Meet native wildlife</a></li>
                    <li><a class="" href="#" title="Go to the...">            Stunning views of Wellington</a></li>
                    <li><a class="" href="#" title="Go to the...">            Sports in the capital</a></li>
                    <li><a class="" href="#" title="Go to the...">            Outdoor, recreation, sports and parks</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Engage</h3>
                  <p>Alumni and Friends, Careers, Courses and Contacts </p>
                  <ul class="links list-divider hub">
                    <li><a class="" href="#" title="Go to the...">Top notch brunch spots</a></li>
                    <li><a class="" href="#" title="Go to the...">            Cheap eats to fine dining</a></li>
                    <li><a class="" href="#" title="Go to the...">            Coffee capital</a></li>
                    <li><a class="" href="#" title="Go to the...">            Craft beer capital</a></li>
                    <li><a class="" href="#" title="Go to the...">            Wellington city markets</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Explore</h3>
                  <p>Campuses, Arts and Culture</p>
                  <ul class="links list-divider hub">
                    <li><a class="" href="#" title="Go to the...">Great gigs and cool concerts</a></li>
                    <li><a class="" href="#" title="Go to the...">            Get your fill of festivals</a></li>
                    <li><a class="" href="#" title="Go to the...">            Discover Māori culture</a></li>
                    <li><a class="" href="#" title="Go to the...">            Must see exhibits at Te Papa</a></li>
                    <li><a class="" href="#" title="Go to the...">            Middle of Middle Earth</a></li>
                  </ul>
                </figcaption>
              </figure>
            </section>
          </div>
        </div>
      </div>

      <!-- Promo Panel for text + video -->
      <div class="promo-panel dual-content">
        <div class="block formatting centraliser">
          <div class="dual-content-block"> 
            <figure class=" ">
              <figcaption>
                <h1>Fatback tail frankfurter </h1>
                <p>Bacon ipsum dolor amet filet mignon spare ribs ground round pig cow ball tip. Tri-tip jowl meatball, alcatra cow kevin shank sirloin shoulder.</p>
                <ul class="links">
                <li>
                  <a href="#" title="First days at Victoria" class="link-external">First day at Victoria</a>
                </li>
          
                <li>
                  <a href="#" title="How to sign up">How to sign up</a>
                </li>
          
                <li>
                  <a href="#" title="VicNews">VicNews</a>
                </li>
              </ul>
                <a href="#" title="Play the video about Wellington" class="button no-icon large">Read More</a>
              </figcaption>
            </figure>
            <figure class="media featured">
              <a data-lity="" href="https://www.youtube.com/watch?v=6nD-kAsV-rk" target="_blank">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg">
                <figcaption>
                  <h4>Business in the best capital <i class="icon-right-dir"></i></h4>
                  <div class="play-button"></div>
                </figcaption>
              </a>
            </figure>
          </div>
        </div>
      </div>


      <!-- centred promo panel grey bg -->
<!--       <div class="promo-panel no-pattern">

        <figure class=" no-pattern">



          <figcaption>
            <div class="block formatting">
              <h1>Community, culture and support</h1>

              </p>Victoria is a welcoming place full of people from a diverse range of communities. There are all sorts of resources and support available to help you make the best of your time at Victoria.</p>

              <p>
                <a class="button flat" href="#">Parents and whānau</a>
                <a class="button flat" href="#">Māori at Victoria</a>
                <a class="button flat" href="#">Pasifika at Victoria</a>
                <a class="button flat" href="#">Student services and support</a>
              </p>
            </div>
          </figcaption>


        </figure>
      </div>
 -->
      <!-- image 3 col -->
      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <h2>Connect, engage and explore</h2>
            <section class="grid">
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Connect</h3>
                  <p>Can any of us have a reasonable expectation of privacy in an age of mobile phones, drones and the internet?</p>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Engage</h3>
                  <p>Bullying is a life-long problem that can have a lasting negative impact—how can it be most effectively tackled?</p>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3> Explore</h3>
                  <p>Do New Zealanders trust politicians and government systems? Why might distrust actually be a healthy thing?</p>
                </figcaption>
              </figure>
            </section>
            <a href="" class="button primary no-icon">Explore our Research</a>
          </div>
        </div>
      </div>

      <!-- Tiled study hub 3 col pattern -->
        <!-- <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid fixed-height-tiles tiles-study-hub-about">
              <h2>Victoria’s researchers lead thinking</h2>
              <div class="tiles-wrap three-up">
                <ul>
                  <li class="tile">
                    <a href="">
                      <h2 class="">Who's keeping an eye on the kids?</h2>
                      <div class="sub-text">
                        <p>Can any of us have a reasonable expectation of privacy in an age of mobile phones, drones and the internet?</p>
                      </div>
                       <span class="tile-icon"> 
                         <span class="tile-icon-title"></span>
                         <span><i class="icon-arrow-right"></i></span>
                        </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>If you saw this, what would you do?</h2>
                      <div class="sub-text">
                        <p>Bullying is a life-long problem that can have a lasting negative impact—how can it be most effectively tackled?</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Public trust in the public service</h2>
                      <div class="sub-text">
                        <p>Do New Zealanders trust politicians and government systems? Why might distrust actually be a healthy thing?</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <a href="" class="button primary no-icon">Explore our Research</a>
          </div>
        </div> -->

 <!--      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button large no-icon">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div> -->


    </main>
  </div>
</section>
