---
layout: mega-menu-test
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<section class="layout centraliser block">
  
 
    
    
										

 





        
    
    
    
  <div class="sidebar">
<nav data-gtm-track="" class="sidemenu" role="navigation">
<h1 class="sidemenu-toggle"><a href="#" title="Show/Hide  menu"> menu</a></h1>
<ul>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/why-victoria" title="Why choose Victoria">Why choose Victoria</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/studying" title="Studying in New Zealand">Studying in New Zealand</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/offers" title="What Victoria offers">What Victoria offers</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses" title="Explore Victoria">Explore Victoria</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/faculties-and-schools" title="Faculties and schools">Faculties and schools</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/our-campuses" title="Our campuses">Our campuses</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/food-and-drink" title="Food and drink">Food and drink</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/healthcare,-banking-and-shops" title="Healthcare, banking and shops">Healthcare, banking and shops</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/public-transport" title="Public transport">Public transport</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/parking" title="Parking">Parking</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/wellington-life" title="Wellington life">Wellington life</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/adam-art-gallery" title="Adam Art Gallery">Adam Art Gallery</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/our-marae" title="Our marae">Our marae</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/pasifika-haos" title="Pasifika Haos">Pasifika Haos</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/campuses/sustainability" title="Sustainability">Sustainability</a>
                                                        </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/research" title="Leading-edge research">Leading-edge research</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life" title="Student life">Student life</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/alicia-bunge" title="Alicia Bunge">Alicia Bunge</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/cherry-huang" title="Cherry Huang">Cherry Huang</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/aiko-sato" title="(( Aiko Sato ))">(( Aiko Sato ))</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/devon-daoust" title="(( Devon D’Aoust ))">(( Devon D’Aoust ))</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/guyo-gufu" title="(( Guyo Gufu ))">(( Guyo Gufu ))</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/ching-ting-ang" title="(( Ching Ting Ang ))">(( Ching Ting Ang ))</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/student-life/anja-wetzlaugk" title="(( Anja Wetzlaugk ))">(( Anja Wetzlaugk ))</a>
                                                        </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/why-victoria/learning-and-teaching" title="Learning and teaching">Learning and teaching</a>
                                              </li>
   </ul>
       </li>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/study" title="Pick a programme">Pick a programme</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class=""><a href="https://cms.victoria.ac.nz/international/study/undergraduate" title="Undergraduate degree programmes">Undergraduate degree programmes</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/study/postgraduate" title="Postgraduate programmes">Postgraduate programmes</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/study/pathway" title="Pathway programmes">Pathway programmes</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/study/pathway/english-proficiency-programme" title="English Proficiency Programme">English Proficiency Programme</a>
                                                        </li>
                   <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/study/pathway/foundation" title="Foundation Studies">Foundation Studies</a><span class="btn-expander" title="Toggle subpages"></span>
                                                   <ul>
      
      
      
      
      
                           <li class=""><a href="https://cms.victoria.ac.nz/international/study/pathway/foundation/student-stories-archived" title="(( Student stories ))">(( Student stories ))</a></li>
                        </ul>
                           </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/study/abroad" title="Study Abroad and exchange">Study Abroad and exchange</a>
                                              </li>
   </ul>
       </li>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/applying" title="Applying">Applying</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/degrees" title="Apply for degree programmes">Apply for degree programmes</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/applying/pathway" title="Apply for pathway programmes">Apply for pathway programmes</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/applying/pathway/english-proficiency-archived" title="(( Apply for English Proficiency Programme ))">(( Apply for English Proficiency Programme ))</a>
                                                        </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/study-abroad" title="Apply for Study Abroad or Exchange">Apply for Study Abroad or Exchange</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/deadlines" title="Application dates">Application dates</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/scholarships" title="Scholarships">Scholarships</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/cost-calculator" title="Fees and costs calculator">Fees and costs calculator</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/certified-copies" title="Certified copies">Certified copies</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/credit" title="Credit transfer and exemptions">Credit transfer and exemptions</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/applying/nz-high-school-student-applications" title="Apply as a secondary school student">Apply as a secondary school student</a>
                                              </li>
   </ul>
       </li>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/pre-arrival" title="Before you arrive">Before you arrive</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/your-offer" title="Accept your offer">Accept your offer</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees" title="Pay your fees">Pay your fees</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/pay" title="How to pay">How to pay</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/costs" title="Other compulsory costs">Other compulsory costs</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/paid" title="After you’ve paid your fees">After you’ve paid your fees</a>
                                                        </li>
                   <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid" title="US Financial Aid">US Financial Aid</a><span class="btn-expander" title="Toggle subpages"></span>
                                                   <ul>
      
      
      
      
      
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/eligibility-archived" title="(( Eligibility ))">(( Eligibility ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/how-to-apply-archived" title="(( How to apply ))">(( How to apply ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/loan-categories-archived" title="(( Loan categories ))">(( Loan categories ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/funding-assessment-archived" title="(( Funding assessment ))">(( Funding assessment ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/academic-progress-archived" title="(( Satisfactory academic progress ))">(( Satisfactory academic progress ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/veterans-benefits" title="US veterans benefits">US veterans benefits</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/loans" title="Paying back your loans">Paying back your loans</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/funds-archived" title="(( Withdrawal and return of funds ))">(( Withdrawal and return of funds ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/forms-archived" title="(( Forms ))">(( Forms ))</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/consumer-information" title="Student consumer information">Student consumer information</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/fees/financial-aid/glossary-archived" title="(( Glossary ))">(( Glossary ))</a></li>
                        </ul>
                           </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/visa" title="Apply for a visa">Apply for a visa</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/accommodation" title="Organise accommodation">Organise accommodation</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/pre-arrival/insurance" title="Get insurance">Get insurance</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/insurance/studentsafe" title="Studentsafe–University insurance">Studentsafe–University insurance</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/insurance/family" title="Insurance for your family">Insurance for your family</a>
                                                        </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/meeting-service" title="Book our arrival meeting service">Book our arrival meeting service</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/buddy" title="Register for a buddy">Register for a buddy</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/travelling" title="Prepare for your trip to NZ">Prepare for your trip to NZ</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/pre-arrival/students-under-18" title="Students under 18">Students under 18</a>
                                              </li>
   </ul>
       </li>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/start" title="Arrive and enrol">Arrive and enrol</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class=""><a href="https://cms.victoria.ac.nz/international/start/arrival" title="When you first arrive">When you first arrive</a>
                                              </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/start/new-zealand" title="Living in New Zealand">Living in New Zealand</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/finding-your-way" title="Finding your way around">Finding your way around</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/family" title="Bringing your family to NZ">Bringing your family to NZ</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/driving" title="Driving">Driving</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/banking" title="Money and banking">Money and banking</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/phones" title="Phones and SIM cards">Phones and SIM cards</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/working" title="Working">Working</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/new-zealand/healthcare" title="Healthcare">Healthcare</a>
                                                        </li>
                </ul>
                  </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment" title="Orientation and enrolment">Orientation and enrolment</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/orientation-and-class-start-dates" title="Orientation and class start dates">Orientation and class start dates</a>
                                                        </li>
                   <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/enrolling" title="Enrolment">Enrolment</a><span class="btn-expander" title="Toggle subpages"></span>
                                                   <ul>
      
      
      
      
      
                           <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/enrolling/choosing-your-courses" title="Choosing your courses">Choosing your courses</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/enrolling/getting-course-advice" title="Getting course advice">Getting course advice</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/enrolling/changing-courses" title="Changing courses">Changing courses</a></li>
                        </ul>
                           </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/activities-archived" title="(( Optional orientation activities ))">(( Optional orientation activities ))</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/study-ready" title="Get set up for study">Get set up for study</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/start/orientation-and-enrolment/orientation-timetable" title="Orientation timetable">Orientation timetable</a>
                                                        </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/start/classes" title="Once classes start">Once classes start</a>
                                              </li>
   </ul>
       </li>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme" title="New Zealand Scholarship Programme">New Zealand Scholarship Programme</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/pre-arrival" title="Before you arrive">Before you arrive</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/pre-arrival/accommodation" title="Accommodation">Accommodation</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/pre-arrival/insurance" title="Insurance">Insurance</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/pre-arrival/family" title="Bringing your family">Bringing your family</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/pre-arrival/travel" title="Initial travel booking">Initial travel booking</a>
                                                        </li>
                </ul>
                  </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/arrival" title="When you first arrive">When you first arrive</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/arrival/briefing" title="Arrival briefing">Arrival briefing</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/arrival/pre-start" title="Pre-Start Programme">Pre-Start Programme</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/arrival/transition" title="Cultural transition">Cultural transition</a>
                                                        </li>
                </ul>
                  </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying" title="While you’re studying at Victoria">While you’re studying at Victoria</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/monitoring" title="Academic monitoring">Academic monitoring</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/scholarship-support" title="(( Scholarship support ))">(( Scholarship support ))</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/tutoring" title="Additional tutoring">Additional tutoring</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/thesis-allowance" title="Postgraduate thesis allowance">Postgraduate thesis allowance</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/newsletter" title="Global eyes newsletter">Global eyes newsletter</a>
                                                        </li>
                   <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/travel" title="Book travel">Book travel</a><span class="btn-expander" title="Toggle subpages"></span>
                                                   <ul>
      
      
      
      
      
                           <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/travel/overseas-fieldwork" title="Overseas fieldwork travel application">Overseas fieldwork travel application</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/travel/reunion" title="Reunion travel booking">Reunion travel booking</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/travel/compassionate" title="Compassionate travel">Compassionate travel</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/travel/home" title="Home leave travel booking">Home leave travel booking</a></li>
                           <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/travel/guidelines" title="Travel guidelines">Travel guidelines</a></li>
                        </ul>
                           </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/get-support" title="Get support">Get support</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/victoria-international-leadership-programme" title="Victoria International Leadership Programme">Victoria International Leadership Programme</a>
                                                        </li>
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/studying/victoria-plus" title="Victoria Plus">Victoria Plus</a>
                                                        </li>
                </ul>
                  </li>
        <li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/returning-home" title="Preparing to return home">Preparing to return home</a><span class="btn-expander" title="Toggle subpages"></span>
                                          <ul>
  
  
  
  
  
  
                   <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/returning-home/departure" title="Departure travel booking">Departure travel booking</a>
                                                        </li>
                </ul>
                  </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/nz-scholarship-programme/contact" title="Contact">Contact</a>
                                              </li>
   </ul>
       </li>
<li class="has-submenu"><a href="https://cms.victoria.ac.nz/international/contact" title="Contact">Contact</a><span class="btn-expander" title="Toggle subpages"></span>
                              <ul>






        <li class=""><a href="https://cms.victoria.ac.nz/international/contact/find-an-agent" title="Find an agent">Find an agent</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/contact/study-abroad-representatives" title="Find a Study Abroad representative">Find a Study Abroad representative</a>
                                              </li>
        <li class=""><a href="https://cms.victoria.ac.nz/international/contact/fairs" title="Events and fairs">Events and fairs</a>
                                              </li>
   </ul>
       </li>
</ul>
</nav>
</div>

<div class="content-panel">
   <main>


<nav aria-label="breadcrumb" role="navigation">
<ul class="breadcrumbs block">
<li><a href="/">Home</a></li>






<li><a href="https://cms.victoria.ac.nz/international">International</a></li>
<li><a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018">Victoria International - 26112018</a></li>
<li>Apply for degree programmes</li>
</ul>
</nav>


<div class="block formatting">
<h1>Apply for degree programmes</h1>
<p class="intro intro-promo-content">To study at Victoria as an international student, you'll need a good command of the English language and a good record of academic achievement.</p>




<div class="content-page-intro promo primary">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018">
<h2>TEST</h2>
<p>This is some promo content to sit to the right hand side of the intro or header</p>
</a>
</div>

<h2>1. Check you meet the entrance requirements</h2><div id="entry_req"><p class="no_js_hide">Entry requirements are listed under each <a href="https://www.victoria.ac.nz/international/study/undergraduate">programme</a>.</p></div><p>You should only use this information as a guide. We consider each individual’s academic and English background on a case-by-case basis when we assess their application.</p><div class="highlight primary sidebar-default" id="Content_Container">
<h2>If you don’t meet the entry requirements</h2>    <ul><li>If you don’t meet the English language requirements for your course, you can enrol in Victoria’s <a href="https://www.victoria.ac.nz/explore/other-quals/english-proficiency-programme/overview">English Proficiency Programme</a>.</li><li>If you don’t meet the academic requirements for your course you can enrol in the <a href="https://cms.victoria.ac.nz/international/study/pathway/foundation">Foundation Studies programme</a>.</li></ul>        
</div><h2>2. Check fees and costs</h2><div id="cost_req"></div><p>You don’t need to pay your fees until your application is accepted and you’ve decided you definitely want to come to Victoria. When you apply for your student visa, you’ll need to prove you have enough money to support yourself while you’re here. <a href="https://cms.victoria.ac.nz/international/pre-arrival/fees">More information about paying your fees.</a></p><p>Victoria has dozens of scholarships that are open to international students. <a href="https://cms.victoria.ac.nz/international/applying/scholarships">Explore your scholarship options</a>.</p><div class="highlight primary sidebar-default" id="Content_Container">
<div class="highlight_secondary bleed"><p>Living in Wellington doesn’t have to be expensive, but you do need to make sure you’ve got enough money to live on while you’re here. Our living cost calculator can help you work out how much you’ll need to save.</p><a href="https://cms.victoria.ac.nz/international/applying/cost-calculator" class="button primary">Work out your costs</a></div>        
</div><h2>3. Make your application</h2><p>There’s no fee to apply to become a student at Victoria University.</p><ul class="divider_list document_list"></ul><div class="columns columns2"><div class="col"></div></div><!-- asset_metadata_Files [283407] -->
<!-- asset_metadata_Downloads  -->
<article class="data-downloads">
<h2>Download the application form</h2>
<p></p>
<ul class="links">        <li>
<a id="d1" href="https://cms.victoria.ac.nz/__data/assets/pdf_file/0006/283407/degree-application.pdf" data-assetid="283407" title="Download 'degree-application.pdf'"><span class="label file-pdf"><i>pdf</i><span>211.3KB</span></span>International Student Application Form</a>
</li>    </ul>
</article><h3>Documentation you’ll need to apply</h3><p>If your original documents aren’t in English, you’ll need to supply <a href="https://cms.victoria.ac.nz/international/applying/certified-copies">certified translations</a> as well as the documents.</p><h3>Where to send your application</h3><p>Send your application by courier or mail—you can’t email or fax it. We recommend that you use a tracked worldwide courier service.</p><h4>Courier it to:</h4><p>Victoria International <br> Victoria University of Wellington <br> Level 2, Easterfield Building <br> Kelburn Campus, Kelburn Parade <br> Wellington <br> NEW ZEALAND</p><h4>Or send it by regular mail to:</h4><p>Victoria International <br> Victoria University of Wellington <br> PO Box 600 <br> Wellington 6012 <br> NEW ZEALAND</p><div class="highlight primary sidebar-default" id="Content_Container">
<h2>Disability support</h2>    <p>If you have an impairment or injury that affects your mobility, hearing, speech, vision or concentration, we have <a href="http://www.victoria.ac.nz/disability">services to support you</a>. Tell us on your application and we will send you more information with your Offer of Place.</p>        
</div><h3>After you’ve applied</h3><p>We’ll send you an email when we receive your application.</p><p>We’ll usually let you know by email if your application is successful within a week of receiving it. If you’re accepted to Victoria, we’ll email you an Offer of Place letter that will guarantee you entry into your chosen degree programme and tell you what you need to do next.</p><p>If you haven’t received a confirmation email more than two weeks after couriering your application, or it’s been more than a week since you were notified that your application was received, you can <a href="https://cms.victoria.ac.nz/international/contact">contact us</a> to check where things are at.</p><section class="grid">
<figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/your-offer">
<figcaption>
    <h3>Accept your offer</h3>
    <p>Find out how to accept, decline or defer your Offer of Place and what to do if you have conditions to meet.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/fees">
<figcaption>
    <h3>Pay your fees</h3>
    <p>We recommend that you pay your fees at least three months before courses start, so that you have time to arrange your visa before arriving in New Zealand.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/visa">
<figcaption>
    <h3>Apply for a visa</h3>
    <p>This information applies to new international students who have received an Offer of Place from Victoria University of Wellington.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/accommodation">
<figcaption>
    <h3>Organise accommodation</h3>
    <p>International students can apply to stay in a University hall of residence, in a private homestay or arrange private off-campus accommodation.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/insurance">
<figcaption>
    <h3>Get insurance</h3>
    <p>All international students must have health and travel insurance while studying in New Zealand.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/meeting-service">
<figcaption>
    <h3>Book our arrival meeting service</h3>
    <p>Victoria International provides a free meeting service for all new international students.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/buddy">
<figcaption>
    <h3>Register for a buddy</h3>
    <p>Sign up for Victoria’s International Buddy Programme. Your buddy will contact you before you come to New Zealand and show you around when you arrive.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/travelling">
<figcaption>
    <h3>Prepare for your trip to NZ</h3>
    <p>Plan ahead for your arrival in New Zealand, so you don’t get stuck at the airport—or find yourself wandering around Wellington with an inside-out umbrella.</p>
</figcaption>
</a>
</figure>    <figure class=" ">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018/degrees/students-under-18">
<figcaption>
    <h3>Important information for students under 18 years</h3>
    <p>Victoria University has special obligations to students under the age of 18 to ensure that you are well looked after while studying in New Zealand.</p>
</figcaption>
</a>
</figure>
</section>  


</div>
</main>






 <aside role="complementary"><div class="block formatting" id="rightHandMenu"><article class="data-sidebar promo secondary">
<a href="https://cms.victoria.ac.nz/international/development/victoria-international-26112018">
<h2>FIND AN AGENT</h2>
<p>Applying through an agent means you can speak to someone locally and ask any questions you have.</p>
</a>
</article><article class="data-sidebar promo primary">
<a href="https://cms.victoria.ac.nz/international/why-victoria">
<h2>ACCEPT YOUR OFFER</h2>
<p>Do you have an Offer of Place? You can accept it, or decline or postpone your enrolment, online.</p>
</a>
</article></div></aside>
</div>     

</section>

<footer>
<div class="centraliser">
  <div class="block">
      
      <div class="site_links wrap">
          <div class="cols">
              <a class="button primary emergency " href="./?a=175285">Emergencies</a>
              <h4><a href="./?a=147146">Faculties</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=58453">Architecture and Design</a></li>
                  <li><a href="./?a=47027">Education</a></li>
                  <li><a href="./?a=77303">Engineering</a></li>
                  <li><a href="./?a=77306">Graduate Research</a></li>
                  <li><a href="./?a=844831">Health</a></li>
                  <li><a href="./?a=3811">Humanities and Social Sciences</a></li>
                  <li><a href="./?a=22554">Law</a></li>
                  <li><a href="./?a=22555">Science</a></li>
                  <li><a href="./?a=214851">Toihuarewa</a></li>
                  <li><a href="./?a=53831">Victoria Business School</a></li>
              </ul>
          </div>
          <div class="cols">
              <h4><a href="./?a=119780">Contacts and directories</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=119780">Staff directory</a></li>
                  <li><a href="http://www.victoria.ac.nz/mediaguide/">Media guide</a></li>
                  <li><a href="./?a=1223662">Find a researcher</a></li>
              </ul>
              <h4><a href="./?a=149162">Campuses</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=147075">Kelburn Campus</a></li>
                  <li><a href="./?a=147079">Pipitea Campus</a></li>
                  <li><a href="./?a=147083">Te Aro Campus</a></li>
                  <li><a href="./?a=334588">Auckland Premises</a></li>
                  <li><a href="//www.victoria.ac.nz/healthandsafety">Health and safety</a></li>
              </ul>
          </div>
          <div class="cols">
              <h4><a href="./?a=113805">Study</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=127382">Programmes and courses</a></li>
                  <li><a href="./?a=193470">Apply to enrol</a></li>
                  <li><a href="./?a=127458">Scholarships</a></li>
                  <li><a href="./?a=192819">Accommodation</a></li>
                  <li><a href="./?a=196105">Information for careers advisers</a></li>
                  <li><a href="./?a=257356">edX at Victoria</a></li>
              </ul>
              <h4><a href="./?a=113813">Students</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=118997">Services and support</a></li>
                  <li><a href="./?a=119313">Financial survival</a></li>
                  <li><a href="./?a=119079">Key dates</a></li>
                  <li><a href="./?a=217972">Courses</a></li>
                  <li><a href="//www.victoria.ac.nz/students/tools">Tools</a></li>
              </ul>
          </div>
          
          
              
          <div class="cols">
               <h4><a href="https://intranet.victoria.ac.nz/staff">Staff</a></h4>
              <ul class="link_list">
                  <li><a href=" https://outlook.com/vuw.ac.nz">Staff email</a></li>
                  <li><a href="https://staff-details.victoria.ac.nz/">Update staff details</a></li>
                  <!--<li><a href=" https://outlook.com/vuw.ac.nz">Student email</a></li>
                  <li><a href="https://my.vuw.ac.nz/">myVictoria</a></li>
                  <li><a href="http://library.victoria.ac.nz/library/">Library</a></li>
                  <li><a href="http://blackboard.vuw.ac.nz/">Blackboard</a></li>-->
              </ul>
              <h4><a href="./?a=119776">Careers</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=220051">Current vacancies</a></li>
                  <li><a href="./?a=127578">Wellington life</a></li>
              </ul>
              <h4><a href="./?a=119768">Alumni and giving</a></h4>
              <ul class="link_list">
                  <li><a href="./?a=400252">Alumni</a></li>
                  <li><a href="./?a=393297">Hunter Club</a></li>
                  <li><a href="./?a=393405">Giving to Victoria</a></li>
                  <li><a href="./?a=393409" class="button flat-border ">Donate</a></li>
              </ul>
             
          
          </div>
          <div class="cols">
              
              <h4><a href="//www.victoria.ac.nz/news">Latest news</a></h4>
              <ul class="link_list">
                  <li><a href="//www.victoria.ac.nz/events">Events</a></li>
                  <li><a href="./?a=1223260">Research expertise</a></li>
                  <li><a href="./?a=425342">Publications</a></li>
                  <li><a href="./?a=123429">Victorious magazine</a></li>
              </ul>
              <h4><a href="./?a=127538">Social media</a></h4>
              <ul class="link_list">
                  <li>
                      <a href="//www.facebook.com/victoriauniversityofwellington"><img class="social_logo" src="https://static.victoria.ac.nz/images/social-facebook.svg" alt="Facebook logo"></a>
                      <a href="//twitter.com/VicUniWgtn"><img class="social_logo" src="https://static.victoria.ac.nz/images/social-twitter.svg" alt="Twitter logo"></a>
                      <a href="//www.youtube.com/user/victoriamarketing"><img class="social_logo" src="https://static.victoria.ac.nz/images/social-youtube.svg" alt="YouTube logo"></a>
                      <a href="http://www.linkedin.com/company/3693"><img class="social_logo" src="https://static.victoria.ac.nz/images/social-linkedin.svg" alt="LinkedIn logo"></a>
                      <a href="//instagram.com/vicuniwgtn/"><img class="social_logo" src="https://static.victoria.ac.nz/images/social-instagram.svg" alt="Instagram logo"></a>
                  </li>
              </ul>
          </div>
      </div>


      <!-- <div class="connect_wrapper vic_footer">
          <div class="fineprint wrap">
              <div class="contact_info">
                  <a class="footer_logo vic_logo" href="https://www.victoria.ac.nz">Victoria University of Wellington</a>
                  <div class="footer_details">
                      <ul class="details">
                          <li><a href="tel:+64800842867">0800 VICTORIA</a></li>
                          <li><a href="tel:+6444721000">+64 4 472 1000</a></li>
                          <li><a href="mailto:info@victoria.ac.nz">info@victoria.ac.nz</a></li>
                          <li>Emergency: <a href="tel:08008428888">0800 VIC 8888</a> or ext. 8888 (internal)</li>
                      </ul>
                  </div>
              </div>
              <hr class="thin hiding">
              <nav>
                  <ul>
                      <li><a href="./?a=140138">Site info</a></li>
                      <li><a href="./?a=188455">Site map</a></li>
                      <li><a href="./?a=197776">Feedback</a></li>
                      <li><a href="./?a=205595">Glossary</a></li>
                  </ul>
              </nav>
              <hr class="thin showing">
              <p class="copyright">Copyright © Victoria University of Wellington, New Zealand</p>
          </div>
      </div> -->


  </div>
</div>

</footer>