---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-light-green">


      <!-- Top Banner -->
<!--       <div class="layout centraliser study-hub-banner">
        <div class="sidebar ">
          <nav class="site" role="navigation">
            <ul>
              <li>
                <ul>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/about" data-test="test">
                    About Us</a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/study-careers" data-test="test">
                    Study and careers        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/research-services" data-test="test">
                    Research        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/studenthelp" data-test="test">
                    Student and academic services        </a></li>
                  <li><a href="http://www.victoria.ac.nz/vbs/schools" data-test="test">
                    Schools        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/centresandinstitutes" data-test="test">
                    Institutes, centres, chairs        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/teaching" data-test="test">
                    Teaching matters        </a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <figure class="banner">
          <a href="#">
                <img src="//www.victoria.ac.nz/__data/assets/image/0017/344105/crocodile-bike-2000x800px.jpg"> -->
                <!-- Use class="wider, bottom or top" to position the text box -->
 <!--                <figcaption>
                    <h1>Experience Victoria <i class="icon-caret-right"></i></h1>
                </figcaption>
            </a>
        </figure>
      </div> -->

      <div class="sector block">
          <div class="centraliser">
            <div class="homepage-intro block formatting study-hub">
              <div class="intro-text">
                <h1>Why choose Victoria</h1>
                <p>At Victoria, you’ll be pushed to think independently and inspired to succeed. Be part of our diverse and friendly community in the thriving capital. Let our students tell you what sets Victoria apart.</p>
              </div>
              <div class="links-wrap">

              </div>
            </div>
            <div class="text-promo-panel intro-promo">
              <div class="block formatting centraliser">
                 <div class="text-wrap">
                  <h3>Know your next move</h3>
                  <ul>
                    <li class="icon-arrow-right"><a class=""> Course planning</a></li>
                    <li class="icon-arrow-right"><a class=""> Book a campus tour</a></li>
                    <li class="icon-arrow-right"><a class=""> Sign up for updates</a></li>
                  </ul>
                </div>

<!--               <div class="text-wrap">
                  <h3>Strategic Plan</h3>
                  <p>Our vision is for Victoria University to be a world-leading capital city university and one of the great global-civic universities.</p>
                </div> -->
<!-- 
                <div class="button-wrap">
                  <a href="http://www.victoria.ac.nz/fhss/research " title="Check out our student services" class="button flat-border ">Strategic Plan</a> 
              </div> -->
            </div>
          </div>
        </div>
      </div>


      <!-- Page intro with promo cta -->
<!--       <div class="centraliser layout sector">
        <div class="homepage-intro block formatting study-hub-about">
          <div class="intro-text">
            <h1>Why choose Victoria</h1>
            <p>At Victoria, you’ll be pushed to think independently and inspired to succeed. Be part of our diverse and friendly community in the thriving capital. Let our students tell you what sets Victoria apart.</p>
          </div>
        </div>

        <div class="text-promo-panel intro-promo no-border">
          <div class="block centraliser ">
            <article class="promo formatting secondary">
              <a href="http://www.victoria.ac.nz/about/global-engagement">
                <h2>Sign up for email updates</h2>
                <p>Sign up to receive emails about events and information for study in 2018 and beyond.</p>
              </a>
            </article>
          </div>
        </div>

      </div> -->

      <!-- 3 cols -->
      <!-- <div class="centraliser">
        <div class=" block formatting">
          <h2>Know your next move</h2>
          <section class="grid">

            <figure class=" ">
              <a href="#">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/366851/varieties/ls_small.jpg">
                <figcaption>
                  <h3>Course planning appointments</h3>
                  <p>If you need help deciding what degree might be right for you, or what courses to take, book a course planning session with us.</p>
                </figcaption>
              </a>
            </figure>

            <figure class=" ">
              <a href="#">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/373945/varieties/ls_small.jpg">
                <figcaption>
                  <h3>Book a campus tour</h3>
                  <p>Get a taste of what life at Victoria is like—book a campus tour and check out our student accommodation while you are here.</p>
                </figcaption>
              </a>
            </figure>

            <figure class=" ">
              <a href="#">
                <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/294427/varieties/ls_small.jpg">
                <figcaption>
                  <h3>School visits</h3>
                  <p>We're visiting schools throughout the year. For your introduction to Victoria, find out when we're in your region.</p>
                </figcaption>
              </a>
            </figure>

          </section>
        </div>
      </div> -->


      <!-- Tiled study hub 3 col pattern -->
      <div class="tiles-panel ">
        <div class="centraliser block">
          <div class="updated-tile-grid fixed-height-tiles tiles-study-hub-about">
            <h2>Know your next move</h2>
            <div class="tiles-wrap three-up">
              <ul>
                <li class="tile">
                  <a href="">
                    <h2 class="">Course planning appointments</h2>
                    <div class="sub-text">
                      <p>If you need help deciding what degree might be right for you, or what courses to take, book a course planning session with us.</p>
                    </div>
                     <span class="tile-icon"> 
                       <span class="tile-icon-title"></span>
                       <span><i class="icon-arrow-right"></i></span>
                      </span>
                  </a>
                </li>
                <li class="tile">
                  <a href="">
                    <h2>Book a campus tour</h2>
                    <div class="sub-text">
                      <p>Get a taste of what life at Victoria is like—book a campus tour and check out our student accommodation while you are here.</p>
                    </div>
                    <span class="tile-icon"> 
                      <span class="tile-icon-title"></span>
                      <span><i class="icon-arrow-right"></i></span>
                    </span>
                  </a>
                </li>
                <li class="tile">
                  <a href="">
                    <h2>School visits</h2>
                    <div class="sub-text">
                      <p>We're visiting schools throughout the year. For your introduction to Victoria, find out when we're in your region.</p>
                    </div>
                    <span class="tile-icon"> 
                      <span class="tile-icon-title"></span>
                      <span><i class="icon-arrow-right"></i></span>
                    </span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>


    <!-- Promo Panel for text + image -->
      <div class="promo-panel white-bg">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Living in Wellington</h1>
              <p>In these profiles, discover the inspiring stories behind our researchers' ground-breaking work meeting local, national and global challenges, the impact it is having, what drives them, and how they came to be a researcher in the first place.</p>
              <a href="#" title="Play the video about Wellington" class="button no-icon large">Discover More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div>      

      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
            <figcaption>
              <h1>Enjoy student life</h1>
              <p>In these profiles, discover the inspiring stories behind our researchers' ground-breaking work meeting local, national and global challenges, the impact it is having, what drives them, and how they came to be a researcher in the first place.</p>
              <a href="#" title="Play the video about Wellington" class="button no-icon large">Discover More</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="promo-panel">

        <figure class=" photo">


          <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0008/760517/varieties/ls_large.jpeg">

          <figcaption>

            <div class="block formatting">
              <h1>Let our students do the thinking for you this summer </h1>
              <p>Each year, Victoria partners with companies, government agencies and professional groups to provide 10-week research placements for some of its top performing students, while also helping organisations tackle projects they don’t have the resources to do themselves.</p>
              <a href="#" class="button primary large">Learn more</a>
            </div>

          </figcaption>



        </figure>
      </div>


      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">


            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/351739/qs-stars.jpg">

            <figcaption>
              <h1>Our national and global rankings</h1>
              <p>We are New Zealand's top ranked university for research quality and consistently rank among the world’s best universities.</p>
              <a title="Why to study at Victoria" href="http://www.victoria.ac.nz/about/victorias-story/statistics" class="button large">Victoria at a glance</a>
            </figcaption>


          </figure>
        </div>
      </div>


    </main>
  </div>
</section>
