<!-- Staff listing -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <h1>Content page templates</h1>
        <p class="intro">Test page for Multiple video template</p>



        <div class="video-section">
      
              <h2>Multiple video title</h2>        
              <section class="videos three-across">
                <figure class="">
                    <a href="https://www.youtube.com/watch?v=QqOshVc12Xw&amp;rel=0" data-lity>
                      <h4>Encouraging postgraduate study</h4>
                        <div class="image-wrap">
                            <img alt="Postgraduate student working at computer" src="&#10;                                                    https://www.wgtn.ac.nz/__data/assets/image/0004/1544602/Zefi-Keritina-3200x1800.jpg&#10;                                                ">
                            <div class="play-now"> <h5>Watch now<i class="icon-triangle-right"></i> </h5> </div>
                        </div>
                        <figcaption>
                            <p>For Zefi from the Solomon Islands, the challenge of postgraduate study has been a welcome one, helped along with the support of her friends and colleagues.</p>
                        </figcaption>
                    </a>
                </figure>
                <figure class="">
                  <a href="https://www.youtube.com/watch?v=QqOshVc12Xw&amp;rel=0" data-lity>
                    <h4>Talei Peckham shares her journey</h4>
                        <div class="image-wrap">
                            <img alt="Talei Peckham" src="&#10;                                                    https://www.wgtn.ac.nz/__data/assets/image/0010/1682713/varieties/ls_medium.jpg&#10;                                                ">
                            <div class="play-now"> <h5>Watch now<i class="icon-triangle-right"></i> </h5> </div>
                          </div>
                        <figcaption>
                            <p>Talei was born in Auckland, spent her childhood in Fiji then moved back to New Zealand when she was 10 years old. Read more about her time at wgtn.</p>
                        </figcaption>
                    </a>
                </figure>
                  <figure class="">
                    <a href="https://www.youtube.com/watch?v=QqOshVc12Xw&amp;rel=0" data-lity>
                      <h4>Rugby and achieving academic excellence</h4>
                      <div class="image-wrap">
                        <img alt="Ardent" src="&#10;                                                    https://www.wgtn.ac.nz/__data/assets/image/0008/1682198/Ardent-2.jpg&#10;                                                ">
                        <div class="play-now"> <h5>Watch now<i class="icon-triangle-right"></i> </h5> </div>
                      </div>
                      <figcaption>
                        <p>Ardent brings his own education experience into his understanding of studying education and arts.</p>
                      </figcaption>
                    </a>
                  </figure>
              </section>
      </div>


      </section>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">
      </div>
  	</aside>

  </div>

</section>
