---
layout: nav-update
title: "Study Hub | Experience Victoria"
NavColor: "white"
LogoColor: "green"
horizontalNav: "true"

main-header:
  main-ia:
    - International students
    - Current students
    - Research
    - Engage
  tereo:
    - Te whirika
    - Tauira o nāianei
    - Rangahau
    - Turipū

sub-header:
  - About
  - Library
  - Blackboard
  - Maps
  - Staff Intranet
  - myTools
  - Learning & teaching

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<nav aria-label="breadcrumb" role="navigation" class="centraliser breadcrumbs-full">
  <ul class="breadcrumbs block">
    <li><a href="/">Home</a></li>






    <li><a href="https://cms.wgtn.ac.nz/menu-nav-test">Menu Nav Test</a></li>
    <li><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story">Our story</a></li>
    <li>The Hunter Club</li>
  </ul>
</nav>

<!-- Study hub  About -->
<section class="layout centraliser block">


  <div class="sidebar">
    <nav data-gtm-track="" class="sidemenu sidemenu-light" role="navigation">
      <h1 class="sidemenu-toggle"><a href="#" title="Show/Hide About us menu">About us menu</a></h1>
      <ul>
        <li class="sidemenu__label"><a href="https://cms.wgtn.ac.nz/menu-nav-test">About us</a></li>
        <li class="active has-submenu expanded"><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story"
            title="Our story">Our story</a><span class="btn-expander mf-heatmap-click" title="Toggle subpages"></span>
          <ul>






            <li class="has-submenu"><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/news-events"
                title="News and events">News and events</a><span class="btn-expander mf-heatmap-click"
                title="Toggle subpages"></span>
              <ul>






                <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/news-events/news-events"
                    title="News and events">News and events</a>
                </li>
                <li class=""><a
                    href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/news-events/global-civic-university"
                    title="A global–civic university">A global–civic university</a>
                </li>
                <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/news-events/hunter-club"
                    title="The Hunter Club">The Hunter Club</a>
                </li>
                <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/news-events/history"
                    title="History">History</a>
                </li>
                <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/news-events/statistics"
                    title="At a glance">At a glance</a>
                </li>
              </ul>
            </li>
            <li class="has-submenu expanded"><a
                href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/global-civic-university"
                title="A global–civic university">A global–civic university</a><span
                class="btn-expander mf-heatmap-click" title="Toggle subpages"></span>
              <ul>






                <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/global-civic-university/reputation"
                    title="(( Reputation and rankings ))">(( Reputation and rankings ))</a>
                </li>
                <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/global-civic-university/wellington"
                    title="(( Our position ))">(( Our position ))</a>
                </li>
              </ul>
            </li>
            <li class="active"><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/hunter-club"
                title="The Hunter Club">The Hunter Club</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/history" title="History">History</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/statistics" title="At a glance">At a
                glance</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story/victoria-and-the-treaty"
                title="The University and the Treaty">The University and the Treaty</a>
            </li>
          </ul>
        </li>
        <li class="has-submenu"><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance"
            title="Leadership and governance">Leadership and governance</a><span class="btn-expander mf-heatmap-click"
            title="Toggle subpages"></span>
          <ul>






            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/structure" title="Our structure">Our
                structure</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/council"
                title="University Council">University Council</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/senior-leadership"
                title="Senior Leadership">Senior Leadership</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/academic"
                title="Academic Office">Academic Office</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/strategy"
                title="Strategy and policy">Strategy and policy</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/strategic-plan"
                title="Strategic plan">Strategic plan</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/copyright"
                title="Copyright at the University">Copyright at the University</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/delegations"
                title="Delegations">Delegations</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/governance/university-publications"
                title="University publications">University publications</a>
            </li>
          </ul>
        </li>
        <li class="has-submenu"><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities"
            title="Campuses and facilities">Campuses and facilities</a><span class="btn-expander mf-heatmap-click"
            title="Toggle subpages"></span>
          <ul>






            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities/campuses"
                title="(( Our campuses and sites ))">(( Our campuses and sites ))</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities/marae"
                title="Marae">Marae</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities/wellington"
                title="Wellington life">Wellington life</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities/sustainability"
                title="Sustainability">Sustainability</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities/pasifika-haos"
                title="Pasifika Haos">Pasifika Haos</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/campuses-facilities/venue-hire"
                title="Venues, conferences, and alcohol events on campus">Venues, conferences, and alcohol events on
                campus</a>
            </li>
          </ul>
        </li>
        <li class="has-submenu"><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here"
            title="Working here | Mahi ana i konei">Working here | Mahi ana i konei</a><span
            class="btn-expander mf-heatmap-click" title="Toggle subpages"></span>
          <ul>






            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here/current-vacancies-broadbean"
                title="Current vacancies">Current vacancies</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here/notes-for-applicants"
                title="Notes for applicants">Notes for applicants</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here/wellington"
                title="Wellington life">Wellington life</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here/values"
                title="Vision, mission and values">Vision, mission and values</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here/employment-information"
                title="Benefits of working with us">Benefits of working with us</a>
            </li>
            <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/working-here/facilities-for-staff"
                title="Facilities for staff">Facilities for staff</a>
            </li>
          </ul>
        </li>
        <li class=""><a href="https://cms.wgtn.ac.nz/menu-nav-test/contacts" title="Contacts and directories">Contacts
            and directories</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content-panel">
    <main>


      <!-- <nav aria-label="breadcrumb" role="navigation" >
        <ul class="breadcrumbs block">
          <li><a href="/">Home</a></li>


          <li><a href="https://cms.wgtn.ac.nz/menu-nav-test">Menu Nav Test</a></li>
          <li><a href="https://cms.wgtn.ac.nz/menu-nav-test/our-story">Our story</a></li>
          <li>The Hunter Club</li>
        </ul>
      </nav> -->


      <div class="block formatting">
        <h1>The Hunter Club</h1>
        <p class="intro"></p>





        <p>Members meet three times a year on Wednesday afternoons. We have afternoon tea and invite a guest speaker,
          with events often held at an area of interest on campus. We will also send you a weekly update so you can keep
          up to date with the latest research and news from Victoria University of Wellington.</p>
        <p>A number of Hunter Club members also generously support the University and we are grateful for their support.
        </p>
        <h2>Events</h2>
        <p>Our recent events have included:</p>
        <ul>
          <li>A presentation on ‘Creating New Realities’ from Dr Paul Wolffram, the inaugural Director of the Miramar
            Creative Centre (MCC). Held at the Centre, Paul shared his experience of award-winning documentary film
            production, his approach to teaching creative subjects, the courses run at the MCC and his future vision for
            the Centre.</li>
          <li>‘Oceania’—a talk from Senior Lecturer in Art History, Dr Peter Brunt on his work in curating the Oceania
            exhibition at the Royal Academy of Arts in London. Oceania was a unique exhibition that brought together 200
            exceptional works from public collections in Europe and New Zealand and marked 250 years since the start of
            Captain Cook's first voyage to the South Pacific.</li>
          <li>A visit to the University’s new Science building—Te Toki a Rata—where we had a tour of this
            state-of-the-art facility and the Head of the School of Biological Sciences, Professor Simon Davy shared
            insights into the design process and philosophy of the building.</li>
          <li>‘Inside the Royal Collection’—a presentation from David Maskill, Senior Lecturer in Art History, who
            shared his experience of taking part in The Attingham Trust Royal Collection Studies course in the UK. The
            course examined the formation, care and management of the Royal Collection from the medieval period to the
            present and included exceptional access to the collections across the different royal houses.</li>
          <li>An exploration of the connections between mathematics and poetry, where academics from the School of
            Mathematics and Statistics, the School of Languages and Cultures and from the Wai-te-ata Press shared their
            interdisciplinary research project timeline and stories of inventive polymaths through the ages.</li>
        </ul>
        <h2>Sign up now</h2>
        <p>There is no membership cost to join the Hunter Club. If you are a retired staff member of Victoria University
          of Wellington and would like to receive invitations to Hunter Club meetings contact:</p>
        <script>
          console.log( ...[ "Hint: add ?debug=2 to the url to see console logs" ] )
        </script>

        <style>
          .debug-tag {
            padding: .25rem .5rem;
            margin: 0 .25rem;
            color: #fff !important;
            margin-top: 1rem;
          }
        </style>


        <style>
          /* Add a margin above content containers that are directly after the staff list component */
          .reset-formatting.staff-list-component+div[id^="new_content_container"],
          .reset-formatting.staff-list-component+div[id^="content_div"] {
            margin-top: 3rem;
          }
        </style>

        <div class="reset-formatting staff-list-component">
          <button class="button no-icon toggle-helper-tags-button"
            style="background-color: #474747; color: #fff; margin-bottom: 1rem;"
            onclick="toggleHelperTagsHandler(this)">Show helper tags</button>

          <div class="result-list">


            <div class="result" data-cy="rosalene.fogel@vuw.ac.nz">
              <div class="result-header">
                <div class="result-image">
                  <img src="https://www.wgtn.ac.nz/images/staffpics/rosalene-fogel.jpg"
                    alt="Rosalene Fogel profile picture photograph">
                </div>

                <div class="result-title-sm">
                  <h3>

                    Rosalene Fogel

                  </h3>
                </div>
              </div>

              <div class="result-body">

                <div class="result-title-lg">
                  <h3>

                    Rosalene Fogel

                  </h3>
                </div>

                <div class="result-job-group-wrapper">
                  <div class="result-job-group" data-cy="849C2991-7DBC-4477-817B-49C052971652">

                    <p>
                      <strong data-cy="jobTitle">Senior Development Manager, Bequests and Special Projects</strong>
                      <br>
                      <strong data-cy="orgUnit">Victoria Foundation</strong> · <span data-cy="team">Development
                        Office</span>
                      <br>
                    </p>

                    <ul class="meta" data-cy="" data-el="contact-details">
                      <li class="highlight" data-el="contact-details">
                        <a href="email:rosalene.fogel@vuw.ac.nz">
                          <span class="icon-mail"></span><span data-cy="email"> rosalene.fogel@vuw.ac.nz
                          </span>
                        </a>
                      </li>

                      <li class="highlight" data-el="">
                        <a href="tel:04 463 6030">
                          <span class="icon-phone"></span><span data-cy="vmid"> 04 463 6030
                          </span>
                        </a>
                      </li>


                      <li class="highlight" data-el="contact-details">
                        <a href="tel:+64 22 5636030">
                          <span class="icon-phone"></span><span data-cy="vuwMobileNumber"> +64 22 5636030
                          </span>
                        </a>
                      </li>


                      <li data-el="formattedAddress" style="-ms-flex-preferred-size: 100%; flex-basis: 100%;">
                        <span class="icon-pin"></span><span data-cy="formattedAddress"> HU 303, Hunter Building, Gate 1,
                          Kelburn Parade
                        </span>
                      </li>
                    </ul>

                    <div style="display: flex; flex-wrap: wrap; margin: 0 -.5rem;">
                      <p data-debugging="" class="debug-tag" style="display: none; background-color: #3066be;;">
                        JOBID/VMID/hrRoleNumber: 849C2991-7DBC-4477-817B-49C052971652</p>
                      <p data-debugging="" class="debug-tag" style="display: none; background-color: #ca2e55;">JOBID
                        parameter not specified, so all the jobs have been displayed. Please specifiy a JOBID parameter!
                      </p>
                    </div>

                  </div>
                </div>
              </div>

              <div class="result-footer">

                <div style="display: flex; flex-wrap: wrap; margin: 0 -.5rem;">
                  <p data-debugging=""
                    style="display: none; padding: .25rem .5rem; margin: 0 .25rem; background-color: green; color: #fff; margin-top: 1rem;">
                    current database
                  </p>
                  <p data-debugging=""
                    style="display: none; padding: .25rem .5rem; margin: 0 .25rem; background-color: #000; color: #fff; margin-top: 1rem;">
                    debuggingUsername: fogelro
                  </p>
                </div>
              </div>

            </div>
          </div>
          <script>
            // Click event handlers
            function toggleHelperTagsHandler( el ) {
              const debuggingEls = document.querySelectorAll( '[data-debugging]' )
              let i
              for ( i = 0; i < debuggingEls.length; i++ ) {
                const debuggingEl = debuggingEls[ i ]
                debuggingEl.style.display = debuggingEl.style.display !== 'none' ?
                  'none' :
                  'block'
              }
              el.style.backgroundColor = document.querySelector( '[data-debugging]' ).style.display !== 'none' ?
                '#003386' :
                '#474747'
              el.innerHTML = document.querySelector( '[data-debugging]' ).style.display !== 'none' ?
                'Hide helper tags' :
                'Show helper tags'
            }

            function toggleStyles( el, showInitially ) {
              const valueIndex = showInitially ?
                0 :
                el.closest( '[data-toggle]' ).attributes[ 'data-toggle' ].value === 'on' ? 1 : 0
              const values = {
                buttonText: [
                  'Hide details <i class="icon-caret-down-thin"></i>',
                  'Show details <i class="icon-caret-right-thin"></i>'
                ],
                display: [
                  'flex',
                  'none'
                ]
              }
              const buttonEls = el.querySelectorAll( 'button' )
              let buttonElIndex
              for ( buttonElIndex = 0; buttonElIndex < buttonEls.length; buttonElIndex++ ) {
                const buttonEl = buttonEls[ buttonElIndex ]
                buttonEl.innerHTML = values.buttonText[ valueIndex ]
              }
              const jobEls = el.querySelector( '[data-el=multiple-jobs]' ).children
              let i
              for ( i = 0; i < jobEls.length; i++ ) {
                const jobEl = jobEls[ i ]
                const contactDetailsEl = jobEl.querySelector( '[data-el=contact-details]' )
                if ( contactDetailsEl ) {
                  contactDetailsEl.style.display = values.display[ valueIndex ]
                }
              }
            }

            function toggleHandler( el ) {
              el.closest( '[data-toggle]' ).setAttribute( 'data-toggle', el.attributes[ 'data-toggle' ].value === 'on' ?
                'off' : 'on' )
              toggleStyles( el )
            }

            function initializeToggleHandlers() {
              const resultEls = document.querySelectorAll( '[data-toggle]' )
              let i
              for ( i = 0; i < resultEls.length; i++ ) {
                const buttonEl = resultEls[ i ]
                toggleStyles(
                  buttonEl,
                  false
                )
              }
            }
            initializeToggleHandlers()
          </script>
        </div>




      </div>
    </main>






    <aside role="complementary">
      <div class="block formatting" id="rightHandMenu"></div>
    </aside>
  </div>

</section>
