---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <div class="promo-panel strip-banner">
        <figure class=" photo">
          <img alt="" src="https://www.victoria.ac.nz/__data/assets/image/0009/929007/aerial_2000x800.jpg">
          <figcaption>
            <div>             
              <div class="block formatting">
                <h1>Our researchers</h1>
                <p>Find out about ways you can collaborate with Victoria research and access our technologies, expertise, business solutions, students and staff.</p>
              </div>
              <div class="block formatting">
                <!-- <a href="#" class="button extra-large primary">Explore our Subject areas </a> -->
              </div>
            </div>
           
          </figcaption>
        </figure>
      </div>

      <section class="page-sub-nav">
          <div class="centraliser">

              <nav role="navigation">
                <ul role="menubar">
                  <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research.html">Home</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/our-researchers.html" class="active">Our researchers</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/research-degrees.html" class="">Research degrees</a>
                  </li>
                  <li role="menuitem">
                    <a href="{{baseurl}}/prototypes/research-partnerships.html" role="menuitem" title="Read about Campuses">Partnerships</a>
                  </li>
                  <li>
                    <a role="menuitem" title="" href="{{baseurl}}/prototypes/research-strengths.html" class="">Research strengths</a>
                  </li>
                  
                </ul>
              </nav>

          </div>
        </section>

    <!-- Search panel -->
      <div class="centraliser">
        <div class="block">
          <div class="search-panel">
            <form class="form wide-search-bar" method="GET" action="https://www.victoria.ac.nz/research/researchers">
              <h1 style="margin-bottom: 0.5rem">Find an expert</h1>
              <div class="group required">
                <input type="text" name="search" id="search" class="panel-search-input" placeholder="Find an expert..">
                <input type="submit" class="button large primary" value="Search">
              </div>
            </form>
          </div>
        </div>
      </div>

         <!-- card panel  -->
         <div class="centraliser ">
            <div class="block formatting">
              <h2>At a glance</h2>
              <div class="card-panel icon-cards">

                <section class="card">
                    <span><i class="icon-globe"></i></span>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <a title="Why to study at Victoria" href="#" class="button large primary">Performance and rankings</a>
                </section>

                <section class="card">
                    <span><i class="icon-people"></i></span>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                </section>

              </div>
            </div>
          </div>

          <!-- Quote panel  -->
         <div class="centraliser quote-panel">
            <div class="block ">
              <figure class="quote full">
                <blockquote>
          <h3>        I have always been interested in the environment that surrounds us and how it shapes our day-to-day existence. That’s what drew me into the architecture.</h3>
                </blockquote>
                <figcaption>Professor Bosto, <a title="FHSS homepage" href="#">FHSS</a></figcaption>
              </figure>
            </div>
          </div>




    <!-- promo panel with left aligned text box  -->
    <div class="promo-panel ">

      <figure class="photo left-text-panel">


        <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">

        <figcaption>

          <div class="block formatting">
            <h2>Research impacts</h2>
            <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships
              provide global solutions in many fields.</p>
            <a href="#" class="button primary large">Learn more</a>
          </div>

        </figcaption>



      </figure>
    </div>

            <!-- Tiled study hub 3 col pattern -->
            <div class="tiles-panel ">
                <div class="centraliser block">
                  <div class="updated-tile-grid dynamic-height-tiles ">
                    <h2>Areas of focus</h2>
                    <div class="tiles-wrap three-col">
                      <ul>
                        <li class="tile">
                          <a href="">
                            <h2 class="">Area</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                             <span class="tile-icon"> 
                               <span class="tile-icon-title"></span>
                               <span><i class="icon-arrow-right"></i></span>
                              </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Area</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Area</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Area</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Area</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Area</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- news row -->
              <section class="centraliser  ">
                  <div class="block news-row ">
                     <header>
                       <a href="#" title="" class="link-more">More news</a>
                       <h2>Research news and commentary</h2>
                     </header>
                     <ul class="news">
                       <li>
                         <article>
                           <div class="summary formatting">
                             <h3><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h3>
                             <p><time datetime="2016-09-14">14 September 2016</time></p>
                             <p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor
                               at the University of North Carolina.</p>
                           </div>
                         </article>
                       </li>
                   
                   
                       <li>
                         <article>
                           <div class="summary formatting">
                             <h3><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h3>
                             <p><time datetime="2016-09-14">14 September 2016</time></p>
                             <p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor
                               at the University of North Carolina.</p>
                           </div>
                         </article>
                       </li>
                   
                       <li>
                         <article>
                           <div class="summary formatting">
                             <h3><a href="#">Applications now open for Summer Research Scholarships</a></h3>
                             <p><time datetime="2016-09-01">1 September 2016</time></p>
                             <p>Applications are now invited from students for Faculty of Humanities and Social Sciences and Faculty of Education Summer Scholarships for 2016-17. Students can access information about the projects, and the online application form, by going to the
                               FHSS Summer Scholars Scheme webpage.</p>
                           </div>
                         </article>
                       </li>
                  
                     </ul>
                  </div>
                 </section>

      <!-- Tiled study hub 3 col pattern images no gutter-->
      <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid  ">
              <h2>Connect with us</h2>
              <div class="tiles-wrap three-col image-no-gutter">
                <ul>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">  
                    <a href="">
                      <h3 class="">Faculty of graduate research</h3>
                      <div class="sub-text">
                        <p>We oversee all doctoral degrees and work to ensure that your experience as a thesis student is a positive one.
                          <br>br 
                            We administer the registration, enrolment, support and funding elements of your study.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>

                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>Research office</h3>
                      <div class="sub-text">
                        <p>The Research office supports the research culture at Victoria through promoting funding initiatives, managing ethics, professional development. 
                          <br>
                            We also manage PBRF and support commercialisation and intellectual property licences.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>VicLink</h3>
                      <div class="sub-text">
                        <p>The commercialisation arm of Victoria research, VicLink have the skills and connections to deliver your research into the market place.  
                          <br>
                            We assist researchers to transform their discoveries into assets that have real benefit to society.
                            </p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</section>
