---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - Future students
    - International students
    - Current students
    - Research
    - Learning & teaching

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <div class="promo-panel strip-banner">
        <figure class=" photo">
          <img alt="" src="https://www.victoria.ac.nz/__data/assets/image/0003/545619/VUW-Abbey18.JPG">
          <figcaption>
            <div>             
              <div class="block formatting">
                <h1>Support for researchers</h1>
                <p>Find out about ways you can collaborate with Victoria research and access our technologies, expertise, business solutions, students and staff.</p>
              </div>

            </div>
           
          </figcaption>
        </figure>
      </div>

        <section class="page-sub-nav nav-buttons hub-mega-menu mega-menu-bar" data-gtm-track>
          <div class="centraliser">

              <nav role="navigation">
                <ul role="menubar" class="mega-menu-inner ">
                  
                  <div class="bg"></div>
                  <!-- <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research.html">Home</a>
                  </li> -->
                  <li class="">
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research-strengths.html" class="">Research strengths </a>
                    <span class="btn-expander" title="Toggle subpages"></span>
                    

                    <ul>

                      <li><a title="" href="#">Research success</a></li>
                      <li><a title="" href="#">Performance and rankings</a></li>
                      <li><a title="" href="#">Research impact</a></li>
                      <li><a title="" href="#">Faculty research</a></li>
                      <li><a title="" href="#">Centres, institutes and chairs</a></li>
                      <li><a title="" href="#">News and commentary</a></li>
                      <li><a title="" href="#">Research focus</a></li>
                    </ul>
                  </li>

                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/research-degrees.html" class="">Research degrees</a>
                    <span class="btn-expander" title="Toggle subpages"></span>

                    <ul>

                      <li><a title="" href="#">PhDs and research degrees</a></li>
                      <li><a title="" href="#">Postgraduate community</a></li>
                      <li><a title="" href="#">Find a supervisor</a></li>
                      <li><a title="" href="#">Funding your study</a></li>
                      <li><a title="" href="#">How to apply</a></li>
                      <li><a title="" href="#">Research areas</a></li>
                    </ul>
                  </li>
                  <li role="menuitem">
                    <a href="{{baseurl}}/prototypes/research-partnerships.html" role="menuitem" title="Read about Campuses">Research partnerships</a>
                    <span class="btn-expander" title="Toggle subpages"></span>

                    <ul>

                      <li><a title="" href="#">Support our research</a></li>
                      <li><a title="" href="#">Research collaboration</a></li>
                      <li><a title="" href="#">Commercialising research</a></li>
                      <li><a title="" href="#">Engage our students</a></li>
                      <li><a title="" href="#">Māori research partnerships</a></li>
                      <li><a title="" href="#">Development and education</a></li>
                    </ul>
                  </li>
                  <li>
                    <a role="menuitem" title="" href="{{baseurl}}/prototypes/research-strengths.html" class="">Find a researcher</a>
                    <span class="btn-expander" title="Toggle subpages"></span>

                    <ul>
                      <li><a title="" href="#">Find an expert </a></li>
                      <li><a title="" href="#">Featured researchers</a></li>
                      <li><a title="" href="#">Performance and rankings</a></li>
                    </ul>
                  </li>
                  <li class="active">
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/our-researchers.html" class="active">Support for researchers</a>
                    <span class="btn-expander" title="Toggle subpages"></span>

                    <ul>

                      <li><a title="" href="#">Research ethics</a></li>
                      <li><a title="" href="#">Māori research practices</a></li>
                      <li><a title="" href="#">New research staff</a></li>
                      <li><a title="" href="#">Research Office</a></li>
                    </ul>
                  </li>
                  
                </ul>
              </nav>

          </div>
        </section>

    <!-- Search panel -->
      <!-- <div class="centraliser">
        <div class="block">
          <div class="search-panel">
            <form class="form wide-search-bar" method="GET" action="https://www.victoria.ac.nz/research/researchers">
              <h1 style="margin-bottom: 0.5rem">Find an expert</h1>
              <div class="group required">
                <input type="text" name="search" id="search" class="panel-search-input" placeholder="Find an expert..">
                <input type="submit" class="button large primary" value="Search">
              </div>
            </form>
          </div>
        </div>
      </div> -->

         <!-- card panel  -->
         <div class="centraliser ">
            <div class="block formatting">
              <h2>At a glance</h2>
              <div class="card-panel icon-cards">

                <section class="card">
                    <span><i class="icon-globe"></i></span>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <a title="Why to study at Victoria" href="#" class="button large primary">Performance and rankings</a>
                </section>

                <section class="card">
                    <span><i class="icon-people"></i></span>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                </section>

              </div>
            </div>
          </div>

          <!-- Quote panel  -->
          <!-- <div class="quote-panel">
            <div class="centraliser ">
              <div class="block ">
                <figure class="quote full">
                  <blockquote>
                    <h3>Our researchers are making a positive impact - on the lives and wellbeing of people - not just in New Zealand,
                      but around the world - through exceptional innovation and research.</h3>
                  </blockquote>
                  <figcaption>Professor Kate Mcgrath
                    <br> Vice-Provost (Research)</figcaption>
                </figure>
              </div>
            </div>
          </div> -->
          
          <!-- New quote panel  -->
          <!-- <div class="quote-panel quote-image">
            <div class="centraliser ">
              <div class=" ">
                <figure class="quote full">
                    <img alt="Prof Kate McGrath" src="http://www.victoria.ac.nz/images/staffpics/kate-mcgrath.jpg" itemprop="photo">
                    <div class="quote-content">
                      <blockquote>
                        <h3>Our researchers are making a positive impact - on the lives and wellbeing of people - not just in New Zealand,
                          but around the world - through exceptional innovation and research.</h3>
                      </blockquote>
                      <figcaption>
                        <h4>Professor Kate Mcgrath</h4>
                        <p>Vice-Provost (Research)</p>
                        <a title="Why to study at Victoria" href="#" class="button large ">Explore</a>
                      </figcaption>
                    </div>
                </figure>
              </div>
            </div>
          </div> -->

          <!-- New quote panel white bg -->
          <div class="quote-panel quote-image quote-white">
            <div class="centraliser ">
              <div class=" ">
                <figure class="quote full">
                    <img alt="Prof Kate McGrath" src="http://www.victoria.ac.nz/images/staffpics/kate-mcgrath.jpg" itemprop="photo">
                    <div class="quote-content">
                      <blockquote>
                        <h3>Our researchers are making a positive impact - on the lives and wellbeing of people - not just in New Zealand,
                          but around the world - through exceptional innovation and research.</h3>
                      </blockquote>
                      <figcaption>
                        <h4>Professor Kate Mcgrath</h4>
                        <p>Vice-Provost (Research)</p>
                        <a title="Why to study at Victoria" href="#" class="button large ">Explore</a>
                      </figcaption>
                    </div>
                </figure>
              </div>
            </div>
          </div>

          <!-- card panel  -->
          <div class="centraliser ">
            <div class="block formatting">
              <div class="card-panel">
                <section class="card">
                  <h2>Research culture</h2>
                      <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                      <a title="Why to study at Victoria" href="#" class="button large ">Information for staff</a>
                </section>
                <section class="card">
                  <h2>Maori research practices</h2>
                      <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                </section>
              </div>
            </div>
          </div>

          <!-- //promo panel right aligned image -->

          <div class="promo-panel">
            <div class="centraliser block formatting">
              <figure class=" ">
          
          
          
                <figcaption>
                  <h1>Featured researchers</h1>
                  <p>In these profiles, discover the inspiring stories behind our researchers’ ground-breaking work meeting local, national and global challenges, the impact it is having, and how they came to be a researcher in the first place.</p>
                  <a href="#" title="Play the video about Wellington" class="button large">Discover more</a>
                </figcaption>
          
                <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0010/1014688/anne-laflamme_3200x1800.jpg">
          
          
              </figure>
            </div>
          </div>


          <!-- card panel  -->
          <div class="centraliser ">
            <div class="block formatting">
              <div class="card-panel">
                <section class="card">
                  <h2>Research publications</h2>
                      <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields. This output is used at community, national and international levels.</p>
                      <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields. This output is used at community, national and international levels.</p>
                      <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                </section>
                <section class="card">
                  <h2>Why join Victoria?</h2>
                  <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields. This output is used at community, national and international levels.</p>
                  <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields. This output is used at community, national and international levels.</p>
                      <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                </section>
              </div>
            </div>
          </div>


    <!-- promo panel with left aligned text box  -->
    <div class="promo-panel ">

      <figure class="photo left-text-panel">


        <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">

        <figcaption>

          <div class="block formatting">
            <h2>Careers at Victoria</h2>
            <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
            <a href="#" class="button primary large">Learn more</a>
          </div>

        </figcaption>



      </figure>
    </div>

        
      <!-- Tiled study hub 3 col pattern images no gutter-->
      <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid  ">
              <h2>Contact us</h2>
              <div class="tiles-wrap three-col image-no-gutter">
                <ul>
                  <li class="tile">
                      <!-- <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">   -->
                    <a href="">
                      <h3 class="">Media contacts</h3>
                      <div class="sub-text">
                        <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      </div>
                      <span href="#" class="button  ">Email the Communications team</span>
                    </a>
                  </li>
                  <li class="tile">
                      <!-- <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt=""> -->
                    <a href="">
                      <h3>VicLink</h3>
                      <div class="sub-text">
                        <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      </div>
                      <span href="#" class="button   ">Email VicLink</span>
                    </a>
                  </li>
                  <li class="tile">
                      <!-- <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt=""> -->
                    <a href="">
                      <h3>Research Development Office</h3>
                      <div class="sub-text">
                        <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      </div>

                      <span href="#" class="button ">Email the Research Development office</span>
                    </a>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</section>
