---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - Future students
    - International students
    - Current students
    - Research
    - Engage

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />



<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">

        <div class="centraliser no-scroll">
          <div class="block formatting">
            <h1>Parallax brand refresh story</h1>
            <p>The following new, amended or corrected regulations supersede the published 2019 print Calendar. For queries about the 2019 Calendar and updates, please contact the Academic Office.</p>
          </div>
        </div>

        <!-- <div class="centraliser hero--video no-scroll">
          <div class="block formatting">
            <h1>Video container full width</h1>
            <figure>
              <a href="#" data-lity>
                <img src="http://www.victoria.ac.nz/__data/assets/image/0018/671400/varieties/ls_large.jpg" alt="video-image">

                <figcaption>
                  <h3>Amet Tristique Sollicitudin</h3>
                </figcaption>
              </a>

            </figure>
          </div>
        </div> -->

        <div class="centraliser ">
            <div class="block formatting">

              <div class="no-scroll" style="height: 600px; background-color: red"></div>

              <!-- class="rellax" data-rellax-speed="-4" -->

              <div class="animate-scroll" >
                <h2>Elements of the shield</h2>

                <section id="section-teeth"
                data-section-name="Teeth"


                >
                  <div class="animate-scroll--image"
                    data-aos="fade-right"



                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"

                    data-aos-mirror="true"

                    data-aos-anchor="#section-teeth"
                  >
                    <img  src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/new/refresh/teeth.png" alt="">
                  </div>
                  <div class="animate-scroll--text"


                    data-aos="fade-left"

                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"


                    data-aos-mirror="true"

                    data-aos-anchor="#section-teeth"

                  >
                    <h3>Niho taniwha—the teeth of a taniwha </h3>
                    <p>Niho taniwha is a traditional Māori pattern that symbolises strength and unity. The individual triangles are said to depict hapū within an iwi, which are brought together in the pattern to represent unity. </p>
                    <p>The niho taniwha pattern is found in kowhaiwhai panels at the entrance to the wharenui at Te Herenga Waka, and in tukutuku panels inside. We have used this element in the logo to symbolise collective strength. When the individual triangles are put together, they represent unity, strength and community. </p>
                    <p>It is a fitting symbol for the University, where our multiple schools, faculties, and programmes create a whole with a shared sense of collective purpose. </p>
                    <p>Dark green downward-facing triangle design in three rows: 'niho taniwha', a traditional Māori pattern. </p>
                  </div>

                </section>


                <section id="section-harbour"
                data-section-name="Harbour"


                >

                <!-- data-aos-anchor-placement="top-center" -->
                  <div class="animate-scroll--image"

                  data-aos="fade-right"



                  data-aos-delay="200"
                  data-aos-duration="1000"
                  data-aos-easing="ease-in-out"
                  data-aos-once="false"

                  data-aos-mirror="true"

                  data-aos-anchor="#section-harbour"


                  >
                  <img  src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/new/refresh/harbour.png" alt="">
                  </div>
                  <div class="animate-scroll--text"
                  data-aos="fade-left"

                  data-aos-delay="200"
                  data-aos-duration="1000"
                  data-aos-easing="ease-in-out"
                  data-aos-once="false"



                  data-aos-mirror="true"

                  data-aos-anchor="#section-harbour"


                  >
                    <h3>Te Whanganui-a-Tara—Wellington Harbour </h3>
                    <p>Beneath the niho taniwha is a representation of water—Te Whanganui-a-Tara, the harbour of Tara. Having the niho taniwha close to the water locates the University in this harbour city of Wellington. Our Māori name also reflects the idea of coming to the city through the harbour and being anchored and firmly placed here. </p>
                  </div>
                </section>


                <section id="section-crest"
                data-section-name="Crest"

                >


                  <div class="animate-scroll--image"

                    data-aos="fade-right"
                    data-aos-anchor-placement="top-center"

                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"

                    data-aos-mirror="true"
                    data-aos-anchor="#section-crest"


                  >
                    <img  src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/new/refresh/crest.png" alt="crest">
                  </div>


                  <div class="animate-scroll--text"

                    data-aos="fade-left"
                    data-aos-anchor-placement="top-center"
                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"


                    data-aos-mirror="true"
                    data-aos-anchor="#section-crest"


                  >
                    <h3>The ceremonial crest</h3>
                    <p>The new shield has been incorporated into the ceremonial crest of the University for use on degree certificates and at special events such as graduation. The Lion represents the Duke of Wellington and symbolises the courage of conviction and the role of universities in society to speak truth to power. The Manaia is believed by Māori to be a guardian between the earthly world of mortals and the domain of the spirits. </p>
                  </div>
                </section>

                <section id="section-shield"
                data-section-name="Shield"

                >


                  <div class="animate-scroll--image"

                    data-aos="fade-right"
                    data-aos-anchor-placement="top-center"

                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"

                    data-aos-mirror="true"
                    data-aos-anchor="#section-shield"


                  >
                    <img  src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/new/refresh/shield.png" alt="shield">
                  </div>


                  <div class="animate-scroll--text"


                    data-aos="fade-left"
                    data-aos-anchor-placement="top-center"
                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"


                    data-aos-mirror="true"
                    data-aos-anchor="#section-shield"


                  >
                    <h3>Since 1897</h3>
                    <p>The inclusion of the University’s establishment date of 1897 in the shield highlights our heritage and legacy. The University was founded as Victoria University College of the University of New Zealand; then becoming Victoria University of Wellington and merging with the Wellington College of Education.

                    </p>
                    <p>Dark green shield with '1897' inset at top, and niho taniwha and the curved line symbolising water at bottom. </p>
                  </div>
                </section>

                <section id="section-logo"
                  data-section-name="Logo"

                >


                  <div class="animate-scroll--image"

                    data-aos="fade-right"
                    data-aos-anchor-placement="top-top"

                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"

                    data-aos-mirror="true"
                    data-aos-anchor="#section-logo"

                    data-aos-offset="-200"


                  >
                    <img  src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/new/v2/logo-green-full.svg" alt="crest">
                  </div>


                  <div class="animate-scroll--text"


                    data-aos="fade-left"
                    data-aos-anchor-placement="top-top"
                    data-aos-delay="200"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-once="false"

                    data-aos-offset="-200"


                    data-aos-mirror="true"
                    data-aos-anchor="#section-logo"


                  >
                  <a title="Why to study at Victoria" href="https://www.youtube.com/watch?v=r-vc_XVWLxI&rel=0" class="" data-lity>
                      <h3>The new logo</h3>
                      <p>Play video...</p>

                      <div class="play-button play-button--green"></div>
                    </a>
                  </div>
                </section>

              </div>


            </div>
        </div>

    </main>
  </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.10.0/rellax.min.js"></script>


<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
  </script>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();

  //load scrollify
  var script = document.createElement( 'script' );
  script.type = 'text/javascript';
  script.src = 'https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js';
  document.querySelector('body').appendChild(script);

  window.addEventListener('load', function() {

    $(function() {
      $.scrollify({
        section : ".animate-scroll section",
        standardScrollElements: " header, footer, layout",
        before:function(i,panels) {

          var ref = panels[i].attr("data-section-name");

          $(".pagination-scroll .active").removeClass("active");

          $(".pagination-scroll").find("a[href=\"#" + ref + "\"]").addClass("active");
        },
        afterRender: function () {
         var pagination = "<ul class=\"pagination-scroll\">";
         var activeClass = "";
         $(".animate-scroll section").each(function (i) {
           activeClass = "";
           if (i === 0) {
             activeClass = "active";
           }
           pagination += "<li><a class=\"" + activeClass + "\" href=\"#" + $(this).attr("data-section-name") + "\"><span class = \"hover-text\">" + $(this).attr("data-section-name").charAt(0).toUpperCase() + $(this).attr("data-section-name").slice(1) + "</span></a></li>";
         });

         pagination += "</ul>";

         $(".animate-scroll").append(pagination);
         /*

         Tip: The two click events below are the same:

         $(".pagination-scroll a").on("click",function() {
         $.scrollify.move($(this).attr("href"));
         });

         */
         $(".pagination-scroll a").on("click", $.scrollify.move);
       }
      });
    });

    // standardScrollElements: ".no-scroll, header, footer, layout",

  });

  var scrollWindow = document.querySelector('.animate-scroll');


  console.log(scrollWindow.getBoundingClientRect().height);


  document.addEventListener('scroll', function(scroll) {

    var scrollPag = document.querySelector('.pagination-scroll');

    console.log(window.scrollY);


    if(scrollWindow.getBoundingClientRect().top < 100 &&  -scrollWindow.getBoundingClientRect().height + 500 < scrollWindow.getBoundingClientRect().top ) {
      console.log('in view?');
      scrollPag.classList.add('show-pag');

    } else {
      console.log('not in view');
      scrollPag.classList.remove('show-pag');
    }
  })



</script>
