---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - Future students
    - International students
    - Current students
    - Research
    - Engage

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">

        <div class="centraliser">
          <div class="block formatting">
            <h1>Parallax brand refresh story</h1>
            <p>The following new, amended or corrected regulations supersede the published 2019 print Calendar. For queries about the 2019 Calendar and updates, please contact the Academic Office.</p>
          </div>
        </div>

        <div class="centraliser ">
            <div class="block formatting">

            </div>
        </div>

    </main>
  </div>
</section>
