---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - Future students
    - International students
    - Current students
    - Research
    - Engage

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">

        <div class="centraliser">
          <div class="block formatting">
            <h1>Parallax brand refresh story</h1>
            <p>The following new, amended or corrected regulations supersede the published 2019 print Calendar. For queries about the 2019 Calendar and updates, please contact the Academic Office.</p>
          </div>
        </div>

        <div class="centraliser ">
            <div class="block formatting">

              <div style="height: 600px; background-color: red"></div>

              <!-- class="rellax" data-rellax-speed="-4" -->

              <div class="animate-scroll" >
                <section

                data-aos="fade-up"
                data-aos-offset="0"
                data-aos-delay="100"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-once="false"
                data-aos-anchor-placement="top-center"
                data-aos-mirror="true"

                >
                  <div >
                    <img  src="http://cms.victoria.ac.nz/__data/assets/image/0010/369325/Octavia-treehouse-2.jpg" alt="">
                  </div>
                  <div >
                    <h2>Title</h2> <p>cpntent</p>
                  </div>

                </section>


                <section id="section3"



                >
                  <div
                  data-aos="fade-right"
                  data-aos-anchor-placement="top-center"

                  data-aos-delay="100"
                  data-aos-duration="1000"
                  data-aos-easing="ease-in-out"
                  data-aos-once="false"

                  data-aos-mirror="true"


                  >
                    <img src="http://cms.victoria.ac.nz/__data/assets/image/0010/369325/Octavia-treehouse-2.jpg" alt="">
                  </div>
                  <div
                  data-aos="fade-left"
                  data-aos-anchor-placement="top-center"
                  data-aos-delay="100"
                  data-aos-duration="1000"
                  data-aos-easing="ease-in-out"
                  data-aos-once="false"

                  data-aos-offset="-200"
                  data-aos-mirror="true"


                  >
                    <h2>Title</h2> <p>cpntent</p>
                  </div>
                </section>


                <section

                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="300"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-once="false"


                >


                  <div><img src="http://cms.victoria.ac.nz/__data/assets/image/0010/369325/Octavia-treehouse-2.jpg" alt=""></div>
                  <div> <h2>Title</h2> <p>cpntent</p></div>
                </section>

              </div>

            </div>
        </div>

    </main>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.10.0/rellax.min.js"></script>
<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
  </script>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
