---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<style>
  /* .hub-banner .banner-body p {
    max-width: initial;
  }

  .hub-banner.banner-image {
    position: relative;
  }

  .video.hub-banner svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    fill: #115737;
    opacity: .9;
  } */

</style>

{{> banners.block-video-banner }}


<section class="layout">

<script>
  setTimeout(() => {
    document.querySelector('#hubv4').removeAttribute('id');
  }, 500);
</script>

  <div class="content-panel">
    <main>

      <div class="centraliser landing-intro">
        <div class="block">
          <div class="intro">
            <p class="intro-text">Discover your next step, pursue your passions, grow your career, or refine your expertise through postgraduate study. Create your future at Aotearoa's #1 University for intensity of high-quality research. </p>
            <p>
              Study full-time or part-time towards certificates, diplomas, Honours, Masters, and PhDs across nine Faculties.
            </p>
          </div>
        </div>
      </div>


      <section class="bg-kohuhu centraliser mt4">
        <div class="block ggrid">
          <div class="search-block c9">
            <h2>Search for postgraduate programmes </h2>
            <div class="search-filter">
              <form v-on:submit.prevent>
                <input
                  type="text"
                  name="search"
                  id="search"
                  class="panel-search-input"
                  placeholder="Find a programme"
                  :value="search"
                  @input="updateSearchFilter"
                />
                <button type="button" aria-label="Search" title="Search for student information" class="submit-button"><span class="icon-search"></span></button>
              </form>
            </div>
            <div class="results"></div>
            <div class="quicklinks">
              <a href="#" class="quick-link btn simple">Example 1</a>
              <a href="#" class="quick-link btn simple">Example 2</a>
            </div>
          </div>
          <div class="links-block c3 bg-miro p4">
            <h4>Useful links</h4>
            <ul class="landing-links">
              <li><a href="#">Applying</a></li>
              <li><a href="#">Scholarships</a></li>
              <li><a href="#">Get course advice</a></li>
              <li><a href="#">Why Wellington</a></li>
            </ul>
          </div>
        </div>
      </section>

      <div class="promo-panel no-pattern">
        <figure class="pattern">
          <figcaption>
            <div class="block formatting">
              <h2>Sign up for postgraduate news and updates  </h2>
              <!-- TODO: Transform to list of links -->
              <div>
                <a class="btn primary yellow" href="https://www.wgtn.ac.nz/forms/main/expression-of-interest">Sign up</a>
              </div>
            </div>
          </figcaption>

        </figure>
      </div>

      <div class="centraliser ">
        <div class="block news-promos ggrid">
          <div class="news-item c4">
            <h4 class="news-title">Postgraduate Information Evening </h4>
            <p class="date">22 September 2022 </p>
            <p class="location">Pipitea Campus, Wellington</p>
            <a  href="#" class="btn primary light">
              Register
            </a>

          </div>
          <div class="news-item light c4">
            <h4 class="news-title">Postgraduate Webinar </h4>
            <p class="date">17 October 2022 </p>
            <!-- <p class="location">Pipitea Campus, Wellington</p> -->
            <a  href="#" class="btn primary light">
              Register
            </a>
          </div>
          <div class="c4 button-block">
            <a href="" class="btn primary light">
              More events
            </a>
          </div>

        </div>
      </div>


      <div class="centraliser ">
        <div class="block ">
          <h2>Discovery at Te Herenga Waka—Victoria University of Wellington</h2>
          <div class="promo-blocks ggrid">

            <div class="promo-card c4">
              <a href="#" title="link to Technology to change the future">
                <img src="../images/banners/pg-solar-panels.jpg" alt="">
                <div class="promo-content">
                  <h4>Technology to change the future</h4>
                  <p>Our leading researchers are transforming areas such as skin cancer detection, image recognition, and satellite image processing</p>
                </div>
                <i class="icon-caret-right-thin link-icon"></i>
              </a>
            </div>
            <div class="promo-card c4 light">
              <a href="#" title="link to Technology to change the future">
                <img src="../images/banners/pg-solar-panels.jpg" alt="">
                <div class="promo-content">
                  <h4>Technology to change the future</h4>
                  <p>Our leading researchers are transforming areas such as skin cancer detection, image recognition, and satellite image processing</p>
                </div>
                <i class="icon-caret-right-thin link-icon"></i>
              </a>
            </div>
            <div class="promo-card c4">
              <a href="#" title="link to Technology to change the future">
                <img src="../images/banners/pg-solar-panels.jpg" alt="">
                <div class="promo-content">
                  <h4>Technology to change the future</h4>
                  <p>Our leading researchers are transforming areas such as skin cancer detection, image recognition, and satellite image processing</p>
                </div>
                <i class="icon-caret-right-thin link-icon"></i>
              </a>
            </div>

            <div class="promo-card c4">
              <a href="#" title="link to Technology to change the future">

                <div class="promo-content">
                  <h4>Technology to change the future</h4>
                  <p>Our leading researchers are transforming areas such as skin cancer detection, image recognition, and satellite image processing</p>
                </div>
                <i class="icon-caret-right-thin link-icon"></i>
              </a>
            </div>
            <div class="promo-card c4 light">
              <a href="#" title="link to Technology to change the future">

                <div class="promo-content">
                  <h4>Technology to change the future</h4>
                  <p>Our leading researchers are transforming areas such as skin cancer detection, image recognition, and satellite image processing</p>
                </div>
                <i class="icon-caret-right-thin link-icon"></i>
              </a>
            </div>
            <div class="promo-card c4">
              <a href="#" title="link to Technology to change the future">

                <div class="promo-content">
                  <h4>Technology to change the future</h4>
                  <p>Our leading researchers are transforming areas such as skin cancer detection, image recognition, and satellite image processing</p>
                </div>
                <i class="icon-caret-right-thin link-icon"></i>
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="centraliser ">
        <div class="block bt-green-light">
          <h2>Find out more</h2>
          <div class="ggrid section-links">
            <div class="c4 section-link">
              <a href="#">
                <img src="../images/banners/pg-solar-panels.jpg" alt="">
                <div class="text">
                  <h4>Creativity </h4>
                  <p>Channel the power of creative thinking</p>
                </div>
                <div class="caret">
                  <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 8.47017C11 8.62924 10.9341 8.76842 10.8024 8.88772L2.04192 16.8211C1.91018 16.9403 1.75649 17 1.58084 17C1.40519 17 1.2515 16.9403 1.11976 16.8211L0.197605 15.986C0.0658683 15.8667 0 15.7275 0 15.5684C0 15.3696 0.0658683 15.2503 0.197605 15.2105L7.57485 8.47017L0.197605 1.78947C0.0658683 1.67018 0 1.53099 0 1.37193C0 1.25263 0.0658683 1.13333 0.197605 1.01404L1.11976 0.178947C1.2515 0.0596491 1.40519 0 1.58084 0C1.75649 0 1.91018 0.0596491 2.04192 0.178947L10.8024 8.11228C10.9341 8.23158 11 8.35088 11 8.47017Z" fill="#FCE500"/>
                    </svg>

                </div>
              </a>
            </div>
            <div class="c4 section-link">
              <a href="#">
                <div class="text">
                  <h4>Leadership </h4>
                  <p>Learn to lead in the heart of the nation </p>
                </div>
                <div class="caret">
                  <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 8.47017C11 8.62924 10.9341 8.76842 10.8024 8.88772L2.04192 16.8211C1.91018 16.9403 1.75649 17 1.58084 17C1.40519 17 1.2515 16.9403 1.11976 16.8211L0.197605 15.986C0.0658683 15.8667 0 15.7275 0 15.5684C0 15.3696 0.0658683 15.2503 0.197605 15.2105L7.57485 8.47017L0.197605 1.78947C0.0658683 1.67018 0 1.53099 0 1.37193C0 1.25263 0.0658683 1.13333 0.197605 1.01404L1.11976 0.178947C1.2515 0.0596491 1.40519 0 1.58084 0C1.75649 0 1.91018 0.0596491 2.04192 0.178947L10.8024 8.11228C10.9341 8.23158 11 8.35088 11 8.47017Z" fill="#FCE500"/>
                    </svg>

                </div>
              </a>
            </div>
            <div class="c4 section-link">
              <a href="#">
                <div class="text">
                  <h4>Sustainability and Wellbeing</h4>
                  <p>Be part of the movement for a healthier future</p>
                </div>
                <div class="caret">
                  <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 8.47017C11 8.62924 10.9341 8.76842 10.8024 8.88772L2.04192 16.8211C1.91018 16.9403 1.75649 17 1.58084 17C1.40519 17 1.2515 16.9403 1.11976 16.8211L0.197605 15.986C0.0658683 15.8667 0 15.7275 0 15.5684C0 15.3696 0.0658683 15.2503 0.197605 15.2105L7.57485 8.47017L0.197605 1.78947C0.0658683 1.67018 0 1.53099 0 1.37193C0 1.25263 0.0658683 1.13333 0.197605 1.01404L1.11976 0.178947C1.2515 0.0596491 1.40519 0 1.58084 0C1.75649 0 1.91018 0.0596491 2.04192 0.178947L10.8024 8.11228C10.9341 8.23158 11 8.35088 11 8.47017Z" fill="#FCE500"/>
                    </svg>

                </div>
              </a>
            </div>
          </div>
        </div>
      </div>





    </main>






  </div>

</section>
