<!-- Staff listing -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <h1>Content page templates</h1>

        <span class="icon-book" title="Offering of our study programmes" data-tooltip></span>


      </section>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">
      </div>
  	</aside>

  </div>

</section>
