---
layout: international
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - Future students
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <div class="promo-panel strip-banner">
        <figure class=" photo">
          <img alt="" src="https://www.wgtn.ac.nz/__data/assets/image/0009/929007/aerial_2000x800.jpg">
          <figcaption>
            <div>
              <div class="block formatting">
                <h1>Become a research student</h1>
                <p>Join victoria’s world-leading researchers and take your understanding to the next level when you begin a PhD, Masters or other postgraduate study with us.</p>
              </div>
              <div class="block formatting">
                <!-- <a href="#" class="button extra-large primary">Explore our Subject areas </a> -->
              </div>
            </div>

          </figcaption>
        </figure>
      </div>

      <section class="page-sub-nav">
          <div class="centraliser">

              <nav role="navigation">
                <ul role="menubar">
                  <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research-strengths.html" class="">Research strengths</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/research-degrees.html" class="active">Research degrees</a>
                  </li>
                  <li role="menuitem">
                    <a href="{{baseurl}}/prototypes/research-partnerships.html" role="menuitem" title="Read about Campuses">Partnerships</a>
                  </li>
                  <li>
                    <a role="menuitem" title="" href="{{baseurl}}/prototypes/research-strengths.html" class="">Find a researcher</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/our-researchers.html" class="">Support for researchers</a>
                  </li>

                </ul>
              </nav>

          </div>
        </section>

    <!-- promo panel with left aligned text box  -->
    <div class="promo-panel ">

      <figure class="photo left-text-panel">


        <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0006/1362543/expo_2000x800.png">

        <figcaption>

          <div class="block formatting">
            <h2>Meet our research students</h2>
            <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships
              provide global solutions in many fields.</p>
            <a href="#" class="button primary large">Learn more</a>
          </div>

        </figcaption>



      </figure>
    </div>

    <!-- promo panel with left aligned title and image -->
    <div class="promo-panel title-image">
        <div class="block formatting centraliser">
          <figure class=" ">

            <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0016/370510/varieties/ls_medium.jpg">

            <figcaption>
              <h2>What is a research degree?</h2>
            </figcaption>
          </figure>
          <section>
            <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.
            </p>
            <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.
              </p>
            <a title="Why to study at Victoria" href="https://www.wgtn.ac.nz/about/victorias-story/statistics" class="button large">Learn more</a>
          </section>
        </div>
      </div>

            <!-- Tiled study hub 3 col pattern -->
            <div class="tiles-panel ">
                <div class="centraliser block">
                  <div class="updated-tile-grid dynamic-height-tiles ">
                    <h2>Research areas</h2>
                    <div class="tiles-wrap three-col">
                      <ul>
                        <li class="tile">
                          <a href="">
                            <h2 class="">Architecture and design</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                             <span class="tile-icon">
                               <span class="tile-icon-title"></span>
                               <span><i class="icon-arrow-right"></i></span>
                              </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Education</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Engineering</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Health</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Humanities and social sciences</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Law</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Science</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Business</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Browse postgraduate subjects</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon">
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            <!-- card panel  -->
              <div class="centraliser ">
                <div class="block formatting">
                  <div class="card-panel">
                    <section class="card">
                      <h2>Choose Victoria and make
                          a difference</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                    </section>
                    <section class="card">
                      <h2>Find a supervisor</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                    </section>
                    <section class="card">
                      <h2>Funding your study</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                          <a title="Why to study at Victoria" href="#" class="button large ">Scholarships</a>
                    </section>
                    <section class="card">
                      <h2>How to apply</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                    </section>
                  </div>
                </div>
              </div>



          <!-- promo panel with left aligned text box  -->
          <div class="promo-panel ">

            <figure class="photo left-text-panel">

              <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">

              <figcaption>

                <div class="block formatting">
                  <h2>Postgraduate research community</h2>
                  <p>Read more detail about our researchers and their research, what motivates and inspires them and how their journeys have unfolded.</p>
                  <a href="#" class="button primary large">Learn more</a>
                </div>

              </figcaption>

            </figure>
          </div>

            <!-- card panel  -->
            <div class="centraliser ">
                <div class="block formatting">
                  <div class="card-panel">
                    <section class="contact-card">
                      <h2>Contact us</h2>
                        <div class="contact-card-details">
                          <div class="contact-title">
                            <h3>Faculty of Graduate Research</h3>
                            <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.
                              </p>
                          </div>

                          <address class="contact-info">
                            <ul>
                              <li>
                                  <span class="icon-phone"></span>  <a href="tel:0800 VICTORIA (842 867)" title="Call to general enquiries">+64 4 463 5350</a>
                              </li>
                              <li>
                                  <span class="icon-mail"></span>  <a href="mailto:info@wgtn.ac.nz" title="Send an email to info@wgtn.ac.nz">Email the Faculty of Graduate Research</a>
                              </li>
                            </ul>

                          </address>
                        </div>


                        <!-- map iframe -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.9997526443713!2d174.76632835202034!3d-41.28710984827861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38b02bfa4a862f%3A0x986dc301d1faba16!2s10+Kelburn+Parade%2C+Kelburn%2C+Wellington+6012!5e0!3m2!1sen!2snz!4v1511900346423" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </section>

                  </div>
                </div>
              </div>


    </main>
  </div>
</section>
