---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <div class="promo-panel strip-banner">
        <figure class=" photo">
          <img alt="" src="https://www.victoria.ac.nz/__data/assets/image/0009/929007/aerial_2000x800.jpg">
          <figcaption>
            <div>             
              <div class="block formatting">
                <h1>Explore research degrees</h1>
                <p>Join victoria’s world-leading researchers and take your understanding to the next level when you begin a PhD, Masters or other postgraduate study with us.</p>
              </div>
              <div class="block formatting">
                <!-- <a href="#" class="button extra-large primary">Explore our Subject areas </a> -->
              </div>
            </div>
           
          </figcaption>
        </figure>
      </div>

      <section class="page-sub-nav">
          <div class="centraliser">
            <div class="block">
              <nav role="navigation">
                <ul role="menubar">
                  <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research.html">Home</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Course finder" href="http://www.victoria.ac.nz/study/programmes-courses/courses">Our researchers</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Research degrees</a>
                  </li>
                  <li role="menuitem">
                    <a href="http://www.victoria.ac.nz/about/explore-victoria" role="menuitem" title="Read about Campuses">Partnerships</a>
                  </li>
                  <li>
                    <a role="menuitem" title="" href="http://www.victoria.ac.nz/about/alumni-and-giving/alumni">Research strengths</a>
                  </li>
                  
                </ul>
              </nav>
            </div>
          </div>
        </section>

    <!-- promo panel with left aligned text box  -->
    <div class="promo-panel ">

      <figure class="photo left-text-panel">


        <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">

        <figcaption>

          <div class="block formatting">
            <h2>Meet our research students</h2>
            <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships
              provide global solutions in many fields.</p>
            <a href="#" class="button primary large">Learn more</a>
          </div>

        </figcaption>



      </figure>
    </div>

    <div class="promo-panel title-image">
        <div class="block formatting centraliser">
          <figure class=" ">
            
            <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0016/370510/varieties/ls_medium.jpg">
            
            <figcaption>
              <h2>What is a research degree?</h2>
            </figcaption>
          </figure>
          <section>
            <d>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.
            <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.
              </p>
            <a title="Why to study at Victoria" href="http://www.victoria.ac.nz/about/victorias-story/statistics" class="button large">Learn more</a>
          </section>
        </div>
      </div>

            <!-- Tiled study hub 3 col pattern -->
            <div class="tiles-panel ">
                <div class="centraliser block">
                  <div class="updated-tile-grid dynamic-height-tiles ">
                    <h2>Research areas</h2>
                    <div class="tiles-wrap three-col">
                      <ul>
                        <li class="tile">
                          <a href="">
                            <h2 class="">Architecture and design</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                             <span class="tile-icon"> 
                               <span class="tile-icon-title"></span>
                               <span><i class="icon-arrow-right"></i></span>
                              </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Education</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Engineering</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Health</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Humanities and social sciences</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Law</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Science</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Business</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
                        <li class="tile">
                          <a href="">
                            <h2>Browse postgraduate subjects</h2>
                            <div class="">
                              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                            </div>
                            <span class="tile-icon"> 
                              <span class="tile-icon-title"></span>
                              <span><i class="icon-arrow-right"></i></span>
                            </span>
                          </a>
                        </li>
        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="centraliser ">
                <div class="block formatting">
                  <div class="card-panel">
                    <section class="card">
                      <h2>Choose Victoria and make 
                          a difference</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                    </section>
                    <section class="card">
                      <h2>Find a supervisor</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                    </section>
                    <section class="card">
                      <h2>Funding your study</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                          <a title="Why to study at Victoria" href="#" class="button large ">Scholarships</a>
                    </section>
                    <section class="card">
                      <h2>How to apply</h2>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <p>Victoria’s research  output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                          <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
                    </section>
                  </div>
                </div>
              </div>



          <!-- promo panel with left aligned text box  -->
          <div class="promo-panel ">

            <figure class="photo left-text-panel">

              <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">

              <figcaption>

                <div class="block formatting">
                  <h2>Featured researchers</h2>
                  <p>Read more detail about our researchers and their research, what motivates and inspires them and how their journeys have unfolded.</p>
                  <a href="#" class="button primary large">Student researchers</a>
                  <a href="#" class="button  large">Research staff</a>
                </div>

              </figcaption>

            </figure>
          </div>

      <!-- Tiled study hub 3 col pattern images no gutter-->
      <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid  ">
              <h2>Connect with us</h2>
              <div class="tiles-wrap three-col image-no-gutter">
                <ul>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">  
                    <a href="">
                      <h3 class="">Faculty of graduate research</h3>
                      <div class="sub-text">
                        <p>We oversee all doctoral degrees and work to ensure that your experience as a thesis student is a positive one.
                          <br>br 
                            We administer the registration, enrolment, support and funding elements of your study.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>

                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>Research office</h3>
                      <div class="sub-text">
                        <p>The Research office supports the research culture at Victoria through promoting funding initiatives, managing ethics, professional development. 
                          <br>
                            We also manage PBRF and support commercialisation and intellectual property licences.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>VicLink</h3>
                      <div class="sub-text">
                        <p>The commercialisation arm of Victoria research, VicLink have the skills and connections to deliver your research into the market place.  
                          <br>
                            We assist researchers to transform their discoveries into assets that have real benefit to society.
                            </p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</section>
