---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <div class="promo-panel strip-banner">
        <figure class=" photo">
          <img alt="" src="https://www.victoria.ac.nz/__data/assets/image/0009/929007/aerial_2000x800.jpg">
          <figcaption>
            <div>             
              <div class="block formatting">
                <h1>Research at Victoria</h1>
                <p>Victoria is New Zealand’s No 1-ranked university for research quality. Our staff and students are committed to research excellence and helping to improve economic, social and environmental wellbeing.</p>
              </div>
              <div class="block formatting">
                <!-- <a href="#" class="button extra-large primary">Explore our Subject areas </a> -->
              </div>
            </div>
           
          </figcaption>
        </figure>
      </div>

      <!-- Search panel -->
      <div class="centraliser">
        <div class="block">
          <div class="search-panel">
            <form class="form wide-search-bar" method="GET" action="https://www.victoria.ac.nz/research/researchers">
              <h1 style="margin-bottom: 0.5rem">Find an expert</h1>
              <div class="group required">
                <input type="text" name="search" id="search" class="panel-search-input" placeholder="Find an expert..">
                <input type="submit" class="button large primary" value="Search">
              </div>

            </form>
            <!-- <section class="footer-secondary">
              <div class="centraliser">
                <div class="block">
                  <h2>Useful links</h2>
                  <nav role="navigation">
                    <ul role="menubar">
                      <li>
                        <a role="menuitem" title="Course finder" href="http://www.victoria.ac.nz/study/programmes-courses/courses">Course finder</a>
                      </li>
                      <li>
                        <a role="menuitem" title="Faculties and Schools" href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Faculties and Schools</a>
                      </li>
                      <li role="menuitem">
                        <a href="http://www.victoria.ac.nz/about/explore-victoria" role="menuitem" title="Read about Campuses">Campuses</a>
                      </li>
                      <li>
                        <a role="menuitem" title="" href="http://www.victoria.ac.nz/about/alumni-and-giving/alumni">Alumni</a>
                      </li>
                      <li role="menuitem">
                        <a href="http://www.victoria.ac.nz/about/careers" role="menuitem" title="Read about Careers">Careers</a>
                      </li>

                      <li>
                        <a href="http://www.victoria.ac.nz/fad/study/undergraduate" role="menuitem" title="Read about Undergraduate study">Undergraduate study</a>
                      </li>
                      <li>
                        <a href="http://www.victoria.ac.nz/fad/study/postgraduate" role="menuitem" title="Read about Postgraduate study">Postgraduate study</a>
                      </li>
                      <li>
                        <a href="http://www.victoria.ac.nz/search" role="menuitem" title="Old footer links">Lost your link?</a>
                      </li>
                      <li>
                        <a href="" role="menuitem" title="Read about "></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </section> -->

          </div>
        </div>
      </div>

    <!-- Promo Panel - two up -->
      <div class="promo-panel half-panels">
        <div class="block formatting centraliser">
          <figure class=" ">
            <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">
            <figcaption>
              <h2>Study with us</h2>
              <p>If you need an expert opinion, someone to collaborate with, or a supervisor. Our research guide is a comprehensive view of Victoria's academic staff, their research and expertise.</p>
              <a href="#" title="" class="button large flat-border">Study with us</a>
            </figcaption>
          </figure>

          <figure class=" ">
            <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">
            <figcaption>
              <h2>Work with us </h2>
              <p>If you need an expert opinion, someone to collaborate with, or a supervisor. Our research guide is a comprehensive view of Victoria's academic staff, their research and expertise.</p>
              <a href="#" title="" class="button large flat-border">Work with us</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="promo-panel ">

        <figure class="photo left-text">


          <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">

          <figcaption>

            <div class="block formatting">
              <h1>Work with us</h1>
              <p>We have experts who can help you develop new ideas and products for your business. Our researchers work succesfully with government agencies, district health boards, Crown Research Institutes and businesses to provide advice, support and solutions </p>
              <a href="#" class="button primary large">Learn more</a>
            </div>

          </figcaption>



        </figure>
      </div>


      
            <!-- Tiled study hub 3 col pattern -->
        <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid fixed-height-tiles tiles-study-hub-about">
              <h2>Areas of research expertise</h2>
              <div class="tiles-wrap three-up">
                <ul>
                  <li class="tile">
                    <a href="">
                      <h2 class="">Architecture and design</h2>
                      <div class="sub-text">
                        <p>Creativity, innovation and exploration are the strengths of our researchers, who specialise in providing a practical focus.</p>
                      </div>
                       <span class="tile-icon"> 
                         <span class="tile-icon-title"></span>
                         <span><i class="icon-arrow-right"></i></span>
                        </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Arts, humanities and social sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our creative and scholarly research is recognised internationally for its quality and originality.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Business and commerce</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers work closely with New Zealand and international businesses to contribute to better practice across the business, finance, public and community sectors and to develop capability and provide our stakeholders with a global perspective.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Climate Change</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our experts are piecing together the puzzle of climate change and investigating its environmental, social and economic impact and what we can do about it.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Earth and physical sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our earth scientists conduct field work throughout New Zealand and on every continent, while our other researchers are busy in our laboratory and computing facilities.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Ecology and biodiversity</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers work on projects in marine biology, conservation biology, reproductive biology, evolutionary genetics and more.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Education</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers aim to make a difference to people’s chances in life through investigating experiences in educational settings and how they can be improved.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Engineering and mathematical sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>At the international forefront of their fields, our researchers are applying their knowledge to advances in computer science, 'big data' and modern engineering problems, including artificial intelligence and mechatronics.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Health and biomedical sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers collabotate with scientists and organisations around the world as they strive to prevent, diagnose and cure human diseases.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Law, policy and government</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>As New Zealand's global-civic capital city university, Victoria is the country's leading research centre for policy, governance and law, working with government and business groups on national and international issues.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>



      <!-- centred promo panel grey bg -->
      <div class="promo-panel no-pattern white-bg">

        <figure class=" no-pattern">



          <figcaption>
            <div class="block formatting">
              <h1>Our researchers in the media</h1>

              </p>Visit the Future Learning section of Newsroom and our page on The Conversation to read more by and about our researchers
              on their discoveries and their analysis of the world around us.</p>

              <!-- TODO: Transform to list of links -->
              <p>
                <a class="button flat" href="#">Newsroom</a>
                <a class="button flat" href="#">The Conversation</a>
              </p>
            </div>
          </figcaption>


        </figure>
      </div>


      <!-- <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button large no-icon">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div> -->


    </main>
  </div>
</section>
