---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <div class="promo-panel strip-banner">
        <figure class=" photo">
          <img alt="" src="https://www.victoria.ac.nz/__data/assets/image/0009/929007/aerial_2000x800.jpg">
          <figcaption>
            <div>             
              <div class="block formatting">
                <h1>Research at Victoria</h1>
                <p>Victoria is New Zealand’s No 1-ranked university for research quality. Our staff and students are committed to research excellence and helping to improve economic, social and environmental wellbeing.</p>
              </div>
              <div class="block formatting">
                <!-- <a href="#" class="button extra-large primary">Explore our Subject areas </a> -->
              </div>
            </div>
           
          </figcaption>
        </figure>
      </div>

      <section class="page-sub-nav">
          <div class="centraliser">

              <nav role="navigation">
                <ul role="menubar">
                  <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research.html" class="active">Home</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Course finder" href="http://www.victoria.ac.nz/study/programmes-courses/courses">Our researchers</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/research-degrees.html" class="">Research degrees</a>
                  </li>
                  <li role="menuitem">
                    <a href="http://www.victoria.ac.nz/about/explore-victoria" role="menuitem" title="Read about Campuses">Partnerships</a>
                  </li>
                  <li>
                    <a role="menuitem" title="" href="http://www.victoria.ac.nz/about/alumni-and-giving/alumni" class="">Research strengths</a>
                  </li>
                  
                </ul>
              </nav>

          </div>
        </section>
      <!-- Search panel -->
      <div class="centraliser">
        <div class="block">
          <div class="search-panel">
            <form class="form wide-search-bar" method="GET" action="https://www.victoria.ac.nz/research/researchers">
              <h1 style="margin-bottom: 0.5rem">Find an expert</h1>
              <div class="group required">
                <input type="text" name="search" id="search" class="panel-search-input" placeholder="Find an expert..">
                <input type="submit" class="button large primary" value="Search">
              </div>

            </form>
            <!-- <section class="footer-secondary">
              <div class="centraliser">
                <div class="block">
                  <h2>Useful links</h2>
                  <nav role="navigation">
                    <ul role="menubar">
                      <li>
                        <a role="menuitem" title="Course finder" href="http://www.victoria.ac.nz/study/programmes-courses/courses">Our researchers</a>
                      </li>
                      <li>
                        <a role="menuitem" title="Faculties and Schools" href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Research degrees</a>
                      </li>
                      <li role="menuitem">
                        <a href="http://www.victoria.ac.nz/about/explore-victoria" role="menuitem" title="Read about Campuses">Partnerships</a>
                      </li>
                      <li>
                        <a role="menuitem" title="" href="http://www.victoria.ac.nz/about/alumni-and-giving/alumni">Research strengths</a>
                      </li>
                      
                    </ul>
                  </nav>
                </div>
              </div>
            </section> -->

          </div>
        </div>
      </div>

    <!-- Promo Panel - two panels -->
      <div class="promo-panel two-panels">
        <div class="block formatting centraliser">
          <figure class=" ">
            <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">
            <figcaption>
              <h2>Study with us</h2>
              <p>Join Victoria’s world-leading researchers and take your expertise to the next level when you enrol for a PhD, Masters or other postgraduate study with us.</p>
              <a href="#" title="" class="button large flat-border">Study with us</a>
            </figcaption>
          </figure>

          <figure class=" ">
            <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">
            <figcaption>
              <h2>Work with us </h2>
              <p>We have the technologies and expertise to support collaborations, project resourcing, grant access and the translation of your ideas into impacts.</p>
              <a href="#" title="" class="button large flat-border">Work with us</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <!-- promo panel with left aligned text box  -->
      <div class="promo-panel ">

        <figure class="photo left-text-panel">


          <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">

          <figcaption>

            <div class="block formatting">
              <h2>Research impacts</h2>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships provide global solutions in many fields.</p>
              <a href="#" class="button primary large">Learn more</a>
            </div>

          </figcaption>



        </figure>
      </div>

      <section class="centraliser  ">
         <div class="block news-row ">
            <header>
              <a href="#" title="" class="link-more">More news</a>
              <h2>Research news and commentary</h2>
            </header>
            <ul class="news">
              <li>
                <article>
                  <div class="summary formatting">
                    <h3><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h3>
                    <p><time datetime="2016-09-14">14 September 2016</time></p>
                    <p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor
                      at the University of North Carolina.</p>
                  </div>
                </article>
              </li>
          
          
              <li>
                <article>
                  <div class="summary formatting">
                    <h3><a href="#">Maurice Goldsmith Lecture: Aesthetic Responsibility</a></h3>
                    <p><time datetime="2016-09-14">14 September 2016</time></p>
                    <p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. Susan Wolf is the Edna J. Koury Distinguished Professor
                      at the University of North Carolina.</p>
                  </div>
                </article>
              </li>
          
              <li>
                <article>
                  <div class="summary formatting">
                    <h3><a href="#">Applications now open for Summer Research Scholarships</a></h3>
                    <p><time datetime="2016-09-01">1 September 2016</time></p>
                    <p>Applications are now invited from students for Faculty of Humanities and Social Sciences and Faculty of Education Summer Scholarships for 2016-17. Students can access information about the projects, and the online application form, by going to the
                      FHSS Summer Scholars Scheme webpage.</p>
                  </div>
                </article>
              </li>
          
          
          
              <!-- <li>
                <article>
                  <figure class="media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6nD-kAsV-rk?rel=0" frameborder="0" allowfullscreen=""></iframe>
                  </figure>
                  <div class="summary formatting">
                    <h3><a href="#">‘Must see’ show inspired by family history</a></h3>
                    <p><time datetime="2016-08-30">30 August 2016</time></p>
                    <p>Sitting in on a History lecture in 2014 on the Spanish Influenza, Victoria University Pacific Studies Honours graduate Tupe Lualua would never have imagined the path it was about to set her on.</p>
                  </div>
                </article>
              </li>
          
              <li>
                <article>
          
                  <figure class="media portrait">
                    <img title="Octavia treehouse 2.jpg" src="http://cms.victoria.ac.nz/__data/assets/image/0010/369325/Octavia-treehouse-2.jpg" alt="">
                  </figure>
                  <div class="summary formatting">
                    <h3><a href="http://cms.victoria.ac.nz/fad/about/news/news-archives/2016-news/architecture-student-heading-to-italy-to-build-his-winning-treehouse-design.">Architecture student heading to Italy to build his winning treehouse design.</a></h3>
                    <p>
                      <time datetime="2016-08-12">12 August 2016</time>
                    </p>
                    <p>
                      Victoria Architecture student Jacob Dench has won an international treehouse design competition and is heading to Italy at the end of August to build it.
                    </p>
                  </div>
          
          
                </article>
              </li>
          
              <li>
                <article>
                  <figure class="media">
                    <img title="" src="http://www.victoria.ac.nz/__data/assets/image/0004/370948/ls_medium.jpg" alt="Victoria health researchers Professor Kevin Dew and Dr Kirsten Smiler">
                  </figure>
                  <div class="summary formatting">
                    <h3><a href="#">Victoria University health researchers honoured</a></h3>
                    <p><time datetime="2016-08-23">23 August 2016</time></p>
                    <p>Two Victoria University of Wellington researchers have been recognised by the Health Research Council of New Zealand (HRC) for their work into understanding social issues of health and wellbeing.</p>
                  </div>
                </article>
              </li> -->
            </ul>
         </div>
        </section>

      <!-- accordion tiles-->
      <div class="tiles-panel">
        <div class="centraliser block">
          <h2>Research centres, institutes and chairs</h2>
          <div class="tile-strip-grid tile-accordion">
            <div class="tiles-wrap">
              <ul>
                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Architecture</h2>
                    <h4>With an impressive breadth of collaborations, we champion creativity and exploration. From urban design to
                      wearable technologies, this faculty embodies innovation. </h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content closed list">
                    <ul class="links">
                      <li>
                        <a href="#">Centre of Building Performance Research (CBPR)</a>
                      </li>
                      <li>
                        <a href="#">Earthquake Hazard Centre (EHC)
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Business</h2>
                    <h4>At the heart of New Zealand’s business, finance, public and government community, our research expertise supports
                      local and international solutions. </h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">BNZ Chair in Business in Asia
                        </a>
                      </li>
                      <li>
                        <a href="#">Brian Picot Chair in Ethical Leadership</a>
                      </li>
                      <li>
                        <a href="#">Centre for Accounting Governance and Taxation Research
                        </a>
                      </li>
                      <li>
                        <a href="#">Centre for Labour, Employment and Work (CLEW)</a>
                      </li>
                      <li>
                        <a href="#">Chair in the Economics of Disasters
                        </a>
                      </li>
                      <li>
                        <a href="#">Chair in Public Finance
                        </a>
                      </li>
                      <li>
                        <a href="#">Competitive Advantage New Zealand</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Engineering</h2>
                    <h4>Our engineering, computer and mathematical science researchers are at the forefront of their fields. Work on
                      pure and applied solutions have global relevance.</h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">Computational Media Innovation Centre (opening June 2018) </a>
                      </li>
                      <li>
                        <a href="#">Robinson Research Institute
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Environment</h2>
                    <h4>We are a Southern hemisphere leader in several areas of conservation biology, geophysics, climate change and
                      geochemistry.</h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">Centre for Biodiversity and Restoration Ecology
                        </a>
                      </li>
                      <li>
                        <a href="#">Institute of Geophysics
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Climate Change Institute
                        </a>
                      </li>
                      <li>
                        <a href="#">Victoria University Coastal Ecology Lab</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Government</h2>
                    <h4>At the legislative centre of New Zealand, our research staff work at the forefront of judicial, governance
                      and democratic consultancy and response.</h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">Centre For Strategic Studies
                        </a>
                      </li>
                      <li>
                        <a href="#">Chair in Digital Government
                        </a>
                      </li>
                      <li>
                        <a href="#">Diana Unwin Chair in Restorative Justice </a>
                      </li>
                      <li>
                        <a href="#">Chair of Wellbeing and Public Policy
                        </a>
                      </li>
                      <li>
                        <a href="#">Institute of Governance and Policy studies
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Centre for Public Law
                        </a>
                      </li>
                      <li>
                        <a href="#">Roy Mckenzie Centre for the Study of Families
                        </a>
                      </li>
                      <li>
                        <a href="#">Treaty of Waitangi Research Unit
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Health</h2>
                    <h4>Our researchers collaborate with businesses and scientists around the world to develop solutions for the prevention,
                      treatment and cure of disease.</h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">Centre for Biodiscovery
                        </a>
                      </li>
                      <li>
                        <a href="#">Ferrier
                        </a>
                      </li>
                      <li>
                        <a href="#">Health Services Research Centre
                        </a>
                      </li>
                      <li>
                        <a href="#">Malaghan Institute of Medical Research
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Humanities</h2>
                    <h4>Our internationally acclaimed researchers innovate across many disciplines from political science through media
                      and psychology to linguistics.</h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">Centre for Strategic Studies
                        </a>
                      </li>
                      <li>
                        <a href="#">Confucius Institute
                        </a>
                      </li>
                      <li>
                        <a href="#">Deaf Studies Research Unit
                        </a>
                      </li>
                      <li>
                        <a href="#">International Institute of Modern Letters
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Centre for Literary Translation
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Contemporary China Research Centre
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Dictionary Centre
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand India Research Institute
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Institute of International Affairs
                        </a>
                      </li>
                      <li>
                        <a href="#">Stout Research Centre
                        </a>
                      </li>
                      <li>
                        <a href="#">Treaty of Waitangi Research Unit
                        </a>
                      </li>
                      <li>
                        <a href="#">Victoria Institute For Links With Latin America (Villa)
                        </a>
                      </li>
                      <li>
                        <a href="#">Wai-te-ata Press
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Law</h2>
                    <h4>Victoria is New Zealand’s leading research centre for policy, governance and law. Connections with government,
                      communities, NGOs and commerce facilitates global solutions.</h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">New Zealand Association for Comparative Law
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Centre for Public Law
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Centre of International Economic Law
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="tile accordion-closed ">
                  <a href="javascript:void(0)">
                    <h2>Science</h2>
                    <h4>With unique geological research, geochemistry, terrestrial, galactic and molecular expertise, the science faculty
                      partners with international bodies on cutting edge projects. </h4>
                    <i class="icon-caret-right"></i>
                  </a>
                  <div class="accordion-content  list">
                    <ul class="links">
                      <li>
                        <a href="#">Centre for Biodiversity and Restoration Ecology
                        </a>
                      </li>
                      <li>
                        <a href="#">Centre for Applied Cross-cultural Research
                        </a>
                      </li>
                      <li>
                        <a href="#">Centre for Logic, Language and Computation
                        </a>
                      </li>
                      <li>
                        <a href="#">Ferrier
                        </a>
                      </li>
                      <li>
                        <a href="#">Institute of Geophysics
                        </a>
                      </li>
                      <li>
                        <a href="#">MacDiarmid Institute for Advanced Materials and Nanotechnology
                        </a>
                      </li>
                      <li>
                        <a href="#">New Zealand Climate Change Institute
                        </a>
                      </li>
                      <li>
                        <a href="#">Robinson Research Institute
                        </a>
                      </li>
                      <li>
                        <a href="#">Roy Mckenzie Centre for The Study of Families
                        </a>
                      </li>
                      <li>
                        <a href="#">Victoria University Coastal Ecology Lab
                        </a>
                      </li>
                    </ul>
                  </div>
            </div>
          </div>
        </div>
      </div>


          <!-- promo panel with left aligned text box  -->
          <div class="promo-panel ">

            <figure class="photo left-text-panel">

              <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">

              <figcaption>

                <div class="block formatting">
                  <h2>Featured researchers</h2>
                  <p>Read more detail about our researchers and their research, what motivates and inspires them and how their journeys have unfolded.</p>
                  <a href="#" class="button primary large">Student researchers</a>
                  <a href="#" class="button  large">Research staff</a>
                </div>

              </figcaption>

            </figure>
          </div>

      <!-- Tiled study hub 3 col pattern images no gutter-->
      <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid  ">
              <h2>Connect with us</h2>
              <div class="tiles-wrap three-col image-no-gutter">
                <ul>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">  
                    <a href="">
                      <h3 class="">Faculty of graduate research</h3>
                      <div class="sub-text">
                        <p>We oversee all doctoral degrees and work to ensure that your experience as a thesis student is a positive one.
                          <br>br 
                            We administer the registration, enrolment, support and funding elements of your study.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>

                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>Research office</h3>
                      <div class="sub-text">
                        <p>The Research office supports the research culture at Victoria through promoting funding initiatives, managing ethics, professional development. 
                          <br>
                            We also manage PBRF and support commercialisation and intellectual property licences.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.victoria.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>VicLink</h3>
                      <div class="sub-text">
                        <p>The commercialisation arm of Victoria research, VicLink have the skills and connections to deliver your research into the market place.  
                          <br>
                            We assist researchers to transform their discoveries into assets that have real benefit to society.
                            </p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</section>
