---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="">


      <div class="promo-panel strip-banner tall">
        <figure class=" photo">
          <img alt="" src="https://www.wgtn.ac.nz/__data/assets/image/0003/545619/VUW-Abbey18.JPG">
          <figcaption>
            <div>
              <div class="block formatting">
                <h1>Partnerships and collaborations</h1>
                <p>Find out ways you can collaborate with Victoria research and access our technologies, expertise, business solutions, students and staff.</p>
              </div>
              <div class="block formatting">
                <!-- <a href="#" class="button extra-large primary">Explore our Subject areas </a> -->
              </div>
            </div>

          </figcaption>
        </figure>
      </div>

      <section class="page-sub-nav">
          <div class="centraliser">

              <nav role="navigation">
                <ul role="menubar">
                  <li>
                    <a role="menuitem" title="Course finder" href="{{baseurl}}/prototypes/research-strengths.html" class="">Discover our research strengths</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/research-degrees.html" class="">Become a research student</a>
                  </li>
                  <li role="menuitem">
                    <a href="{{baseurl}}/prototypes/research-partnerships.html" role="menuitem" title="Read about Campuses" class="active">Partner with us</a>
                  </li>
                  <li>
                    <a role="menuitem" title="" href="{{baseurl}}/prototypes/research-strengths.html" class="">Find a researcher</a>
                  </li>
                  <li>
                    <a role="menuitem" title="Faculties and Schools" href="{{baseurl}}/prototypes/our-researchers.html" class="">Support for researchers</a>
                  </li>

                </ul>
              </nav>

          </div>
        </section>

        <!-- split row -->
        <section class="centraliser  ">
          <div class="block news-row ">
              <header>
                <h2>How to partner with us</h2>
              </header>
              <ul class="news">
                <li>
                  <article>
                    <div class="summary formatting">
                      <h3><a href="#">Research collaboration</a></h3>
                      <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    </div>
                  </article>
                </li>


                <li>
                  <article>
                    <div class="summary formatting">
                      <h3><a href="#">Technology licensing</a></h3>
                      <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    </div>
                  </article>
                </li>

                <li>
                  <article>
                    <div class="summary formatting">
                      <h3><a href="#">Knowledge transfer</a></h3>
                      <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    </div>
                  </article>
                </li>

              </ul>
              <div class="button-right">
                  <a href="#" class="button primary large no-icon">Work with us</a>
                </div>
          </div>
          </section>



      <!-- promo panel with left aligned text box  -->
      <div class="promo-panel ">

          <figure class="photo left-text-panel">


            <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0003/545619/VUW-Abbey18.JPG">

            <figcaption>

              <div class="block formatting">
                <h2>Support our research</h2>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                <a href="#" class="button primary large">Learn more</a>
              </div>

            </figcaption>

          </figure>
        </div>

        <!-- Promo Panel - left image -->
    <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">


            <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0011/386246/phd_3200x1800.jpg">

            <figcaption>
              <h1>Maori research partnerships</h1>
              <p>In these profiles, discover the inspiring stories behind our researchers’ ground-breaking work meeting local, national and global challenges, the impact it is having, what drives them, and how they came to be a researcher in the first place.</p>
              <a title="Why to study at Victoria" href="https://www.wgtn.ac.nz/about/victorias-story/statistics" class="button large">Discover more</a>
            </figcaption>


          </figure>
        </div>
      </div>


      <!-- 3 col row -->
      <div class="centraliser">
          <div class=" block formatting">
            <h2>Partnership case studies</h2>
            <section class="grid">

              <figure class=" ">
                <a href="#">
                  <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0003/372396/kevin-kirsten.jpg">
                  <figcaption>
                    <h3>Five-year research partnership targets breast cancer vaccine</h3>
                    <p>A vaccine for breast cancer is on the horizon, thanks to a new partnership between Victoria University of Wellington’s Ferrier Research Institue and the Breast Cancer Foundation New Zealand (BCFNZ).</p>
                  </figcaption>
                </a>
              </figure>

              <figure class=" ">
                <a href="#">
                  <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0003/372396/kevin-kirsten.jpg">
                  <figcaption>
                    <h3>Funding boost to improve rherumatic fever treatment and prevention</h3>
                    <p>It is important to Simon Hinkley that the processes he and his team develop have the lowest possible impact on the environment.</p>
                  </figcaption>
                </a>
              </figure>

              <figure class=" ">
                <a href="#">
                  <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/__data/assets/image/0003/372396/kevin-kirsten.jpg">
                  <figcaption>
                    <h3>Research suggests potential global public health benefits from HPV vaccine</h3>
                    <p>Preliminary research by a collaborative team of researchers from Victoria University of Wellington, the University of Otago and the University of Auckland suggest HPV vaccine may play a role in reducing pre-term births. </p>
                  </figcaption>
                </a>
              </figure>
            </section>
            <div class="button-right">
              <a href="#" class="button primary large no-icon">More case studies</a>
            </div>
          </div>
        </div>

              <!-- card panel  -->
      <div class="centraliser ">
          <div class="block formatting">
            <div class="card-panel">
              <section class="card">
                <h2>Fund a scholarship</h2>
                    <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
              </section>
              <section class="card">
                <h2>Employ a graduate or student</h2>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
              </section>
              <section class="card">
                <h2>Become a mentor</h2>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
              </section>
              <section class="card">
                <h2>Internships and work placements</h2>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                <p>Victoria’s research output is used at community, national and international levels. Our academic and business partnerships have global impacts in many fields.</p>
                    <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
              </section>
            </div>
          </div>
        </div>


      <!-- Tiled study hub 3 col pattern images no gutter-->
      <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid  ">
              <h2>Connect with us</h2>
              <div class="tiles-wrap three-col image-no-gutter">
                <ul>
                  <li class="tile">
                      <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3 class="">Media contacts</h3>
                      <div class="sub-text">
                        <p>Victoria’s research output is used at community, nationaland international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>

                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>Research Development Office</h3>
                      <div class="sub-text">
                        <p>Victoria’s research output is used at community, nationaland international levels. Our academic and business partnerships have global impacts in many fields.</p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>
                  <li class="tile">
                      <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">
                    <a href="">
                      <h3>VicLink</h3>
                      <div class="sub-text">
                        <p>Victoria’s research output is used at community, nationaland international levels. Our academic and business partnerships have global impacts in many fields.
                            </p>
                      </div>

                      <span href="#" class="button  ">Learn more</span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</section>
