---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia: 
    - study
    - experience
    - research
    - about

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">


      <!-- Top Banner -->
      <!-- <div class="layout centraliser study-hub-banner">
        <div class="sidebar ">
          <nav class="site" role="navigation">
            <ul>
              <li>
                <ul>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/about" data-test="test">
                    About Us</a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/study-careers" data-test="test">
                    Study and careers        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/research-services" data-test="test">
                    Research        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/studenthelp" data-test="test">
                    Student and academic services        </a></li>
                  <li><a href="http://www.victoria.ac.nz/vbs/schools" data-test="test">
                    Schools        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/centresandinstitutes" data-test="test">
                    Institutes, centres, chairs        </a></li>
                  <li class="has-subpages"><a href="http://www.victoria.ac.nz/vbs/teaching" data-test="test">
                    Teaching matters        </a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <figure class="banner">
          <a href="#">
                <img src="//www.victoria.ac.nz/__data/assets/image/0017/344105/crocodile-bike-2000x800px.jpg"> -->
                <!-- Use class="wider, bottom or top" to position the text box -->
                <!-- <figcaption>
                    <h1>Connect with our research <i class="icon-caret-right"></i></h1>
                </figcaption>
            </a>
        </figure>
      </div> -->

      <div class="sector block">
          <div class="centraliser">
            <div class="homepage-intro block formatting study-hub">
              <div class="intro-text">
                <h1>Research at Victoria</h1>
                <p>Victoria is New Zealand’s No 1-ranked university for research quality. Our staff and students are committed to research excellence and helping to improve economic, social and environmental wellbeing.</p>
              </div>
              <p>Multidisciplinary collaboration, across faculties and with other organisations in New Zealand and internationally, is a core element of Victoria’s research success. The high quality of our research enriches our teaching with cutting-edge knowledge that inspires new generations of researchers. Wherever you are in New Zealand, the Asia-Pacific or the rest of the world, ask about studying with our researchers, becoming one of them, working with them or if they can work with you.</p>
              <div class="links-wrap">

              </div>
            </div>
            <div class="text-promo-panel intro-promo">
              <div class="block formatting centraliser">
                  <div class="text-wrap">
                  <h3>Researchers in the media</h3>
                  <ul>
                    <li class="icon-arrow-right"><a href=""> Bacon ipsum dolor amet pork</a></li>
                    <li class="icon-arrow-right"><a href=""> Bacon ipsum dolor amet pork</a></li>
                    <li class="icon-arrow-right"><a href=""> Bacon ipsum dolor amet pork</a></li>
                  </ul>
                </div>

                <figure class="themed-panel">
                    <a data-lity target="_blank" href="https://www.youtube.com/watch?v=W5bLx2KcjlI">
                          <!-- Use class="wider, bottom or top" to position the text box -->
                          <figcaption class="panel-text">
                              <h2>Connect with our research <i class="icon-caret-right"></i></h2>
                          </figcaption>
                          <div class="play-button"></div>
                      </a>
                  </figure>

        <!--               <div class="text-wrap">
                  <h3>Strategic Plan</h3>
                  <p>Our vision is for Victoria University to be a world-leading capital city university and one of the great global-civic universities.</p>
                </div> -->

                <!-- <div class="button-wrap">
                  <a href="http://www.victoria.ac.nz/fhss/research " title="Check out our student services" class="button flat-border ">Strategic Plan</a> 
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Page intro with promo cta -->
      <!-- <div class="centraliser layout sector">
        <div class="homepage-intro block formatting study-hub-about">
          <div class="intro-text">
            <h1>Research at Victoria</h1>
            <p>Victoria is New Zealand’s No 1-ranked university for research quality. Our staff and students are committed to research excellence and helping to improve economic, social and environmental wellbeing.</p>
          </div>
          <p>Multidisciplinary collaboration, across faculties and with other organisations in New Zealand and internationally, is a core element of Victoria’s research success. The high quality of our research enriches our teaching with cutting-edge knowledge that inspires new generations of researchers. Wherever you are in New Zealand, the Asia-Pacific or the rest of the world, ask about studying with our researchers, becoming one of them, working with them or if they can work with you.</p>
        </div>

        <div class="text-promo-panel intro-promo no-border">
          <div class="block centraliser ">
            <article class="promo formatting secondary">
              <a href="http://www.victoria.ac.nz/about/global-engagement">
                <h2>Our Research</h2>
                <p>At Victoria our staff are passionate about finding solutions to some of the world’s greatest problems—find out more about our research.</p>
              </a>
            </article>
          </div>
        </div>

      </div> -->

    <!-- Promo Panel for text + image -->
      <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Find an expert</h1>
              <p>If you need an expert opinion, someone to collaborate with, or a supervisor. Our research guide is a comprehensive view of Victoria's academic staff, their research and expertise.</p>
              <a href="#" title="Play the video about Wellington" class="button large">Search our guide</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div>


      <!-- 3 col images with list -->
      <div class="separated">
        <div class="centraliser">
          <div class="block formatting">
            <section class="grid">
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Research</h3>
                  <ul class="links list-divider">
                    <li><a class="button flat" href="#" title="Go to the...">Latest research</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Postgraduate opportunities</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Funding and scholarships</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Job opportunities</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Work with us</h3>
                  <ul class="links list-divider">
                    <li><a class="button flat" href="#" title="Go to the...">How we work with business</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Business R&D programmes</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Recent success stories</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Commercialisation</a></li>
                  </ul>
                </figcaption>
              </figure>
              <figure class=" ">
                <!-- <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg"> -->
                <figcaption>
                  <h3>Find a researcher</h3>
                  <ul class="links list-divider">
                    <li><a class="button flat" href="#" title="Go to the...">Browse our researcher database</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Faculties and schools</a></li>
                    <li><a class="button flat" href="#" title="Go to the...">Centres and institutes</a></li>
                  </ul>
                </figcaption>
              </figure>
            </section>
          </div>
        </div>
      </div>

      <div class="promo-panel">

        <figure class=" photo">


          <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0008/760517/varieties/ls_large.jpeg">

          <figcaption>

            <div class="block formatting">
              <h1>Work with us</h1>
              <p>We have experts who can help you develop new ideas and products for your business. Our researchers work succesfully with government agencies, district health boards, Crown Research Institutes and businesses to provide advice, support and solutions </p>
              <a href="#" class="button primary large">Learn more</a>
            </div>

          </figcaption>



        </figure>
      </div>


      
            <!-- Tiled study hub 3 col pattern -->
        <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid fixed-height-tiles tiles-study-hub-about">
              <h2>Areas of research expertise</h2>
              <div class="tiles-wrap three-up">
                <ul>
                  <li class="tile">
                    <a href="">
                      <h2 class="">Architecture and design</h2>
                      <div class="sub-text">
                        <p>Creativity, innovation and exploration are the strengths of our researchers, who specialise in providing a practical focus.</p>
                      </div>
                       <span class="tile-icon"> 
                         <span class="tile-icon-title"></span>
                         <span><i class="icon-arrow-right"></i></span>
                        </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Arts, humanities and social sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our creative and scholarly research is recognised internationally for its quality and originality.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Business and commerce</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers work closely with New Zealand and international businesses to contribute to better practice across the business, finance, public and community sectors and to develop capability and provide our stakeholders with a global perspective.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Climate Change</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our experts are piecing together the puzzle of climate change and investigating its environmental, social and economic impact and what we can do about it.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Earth and physical sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our earth scientists conduct field work throughout New Zealand and on every continent, while our other researchers are busy in our laboratory and computing facilities.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Ecology and biodiversity</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers work on projects in marine biology, conservation biology, reproductive biology, evolutionary genetics and more.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Education</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers aim to make a difference to people’s chances in life through investigating experiences in educational settings and how they can be improved.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Engineering and mathematical sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>At the international forefront of their fields, our researchers are applying their knowledge to advances in computer science, 'big data' and modern engineering problems, including artificial intelligence and mechatronics.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Health and biomedical sciences</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Our researchers collabotate with scientists and organisations around the world as they strive to prevent, diagnose and cure human diseases.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Law, policy and government</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>As New Zealand's global-civic capital city university, Victoria is the country's leading research centre for policy, governance and law, working with government and business groups on national and international issues.</p>
                      </div>
                      <span class="tile-icon"> 
                        <span class="tile-icon-title"></span>
                        <span><i class="icon-arrow-right"></i></span>
                      </span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>



      <!-- centred promo panel grey bg -->
      <div class="promo-panel no-pattern white-bg">

        <figure class=" no-pattern">



          <figcaption>
            <div class="block formatting">
              <h1>Our researchers in the media</h1>

              </p>Visit the Future Learning section of Newsroom and our page on The Conversation to read more by and about our researchers
              on their discoveries and their analysis of the world around us.</p>

              <!-- TODO: Transform to list of links -->
              <p>
                <a class="button flat" href="#">Newsroom</a>
                <a class="button flat" href="#">The Conversation</a>
              </p>
            </div>
          </figcaption>


        </figure>
      </div>


      <!-- <div class="promo-panel">
        <div class="block formatting centraliser">
          <figure class=" ">
            <figcaption>
              <h1>Welcome from the Vice-Chancellor</h1>
              <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
              <a href="#" title="Play the video about Wellington" class="button large no-icon">Read More</a>
            </figcaption>
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
          </figure>
        </div>
      </div> -->


    </main>
  </div>
</section>
