---
layout: main-site
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - Future students
    - International students
    - Current students
    - Research
    - Engage

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@victoria.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="study-hub-dark-green">

        <div class="centraliser">
          <div class="block formatting">
            <h1>Search stack tabbed</h1>
            <p class="intro">Search the intranet see tabbed results</p>
          </div>
        </div>

        <div class="centraliser ">
          <div class="block formatting">

            <div class="centraliser">
              <div class="block">
                <div class="search-panel">
                  <form class="form wide-search-bar" method="GET" action="https://cms.victoria.ac.nz/staff/new-search/search">
                    <h1 style="margin-bottom: 0.5rem">Search intranet</h1>
                    <div class="group required">
                      <input autocomplete="off" id="find-a-scholarship-keyword" name="query" type="text" class="form_text" placeholder="i.e. test, music, staff..." value="health safety">
                      <input class="button large primary" value="Go" type="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

            <!-- <div class="formatting">
              <div class="promo secondary">
                <a href="http://www.victoria.ac.nz/about/global-engagement">
                  <h2>Undergraduate study</h2>
                  <p>Browse our Undergraduate subjects</b></p>
                </a>
              </div>
            </div> -->
            <div class="p-search__tabs ">
                <div class="p-search__tab">
                  <a href="#">Intranet<span>(21)</span></a>
                </div>
                <div class="p-search__tab">
                  <a href="#">People<span>(5)</span></a>
                </div>
            </div>


            <div class="centraliser ">
              <div class="block formatting">

                <div class="p-search">
                  <div class="p-search__aside formatting">
                    <article class="data-sidebar data-downloads">
                      <div id="search_facets">
                        <h2>Limit search to</h2>
                        <ul class="toggle_block active facet_links">
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;gscope1=3&amp;gn=Library">Library</a>
                          </li>
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;gscope1=2&amp;gn=ITS">ITS</a>
                          </li>
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;gscope1=1&amp;gn=Documents">Documents</a>
                          </li>
                        </ul>
                      </div>
                    </article>
                    <article class="data-sidebar data-downloads">
                      <div id="search_facets">
                        <h2>Narrow your search</h2>
                        <h3 class="toggle">File type</h3>
                        <ul class="toggle_block active facet_links">
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;filter1=f.File type|f:doc">doc
                              (12)</a></li>
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;filter1=f.File type|f:docx">docx
                              (49)</a></li>
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;filter1=f.File type|f:pdf">pdf
                              (279)</a></li>
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;filter1=f.File type|f:pptx">pptx
                              (2)</a></li>
                          <li class="tag"><a
                              href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=&amp;filter1=f.File type|f:xlsx">xlsx
                              (3)</a></li>
                        </ul>
                      </div>
                    </article>
                    <article class="data-sidebar data-downloads">
                      <div id="search_facets">
                        <h2>Previous searches</h2>
                        <ul class="links"> </ul>
                      </div>
                    </article>
                  </div>
                  <div class="p-search__main" style="padding-left: 5px;">

                    <div class="block"><strong>Filters applied:</strong> Query: <strong>health safety</strong>. <a
                        href="https://cms.victoria.ac.nz/staff/new-search/search"
                        alt="clear all event search filters">Clear
                        all (x)</a>
                      <p></p>
                    </div>

                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Femergency%2Fwhat-to-do-in-an-emergency%2Ffire&amp;auth=%2Boj6nDiZv1QzQtztEfRFIg&amp;profile=_default_preview&amp;rank=1&amp;query=health+safety"
                          title="See details">Fire evacuation procedures | Health and Safety | Victoria University of
                          Wellington</a> <small>
                          https://www.victoria.ac.nz/healthandsafety/emergency/what-to-do-in-an-emergency/fire <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Campus safety. Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Femergency%2Fwhat-to-do-in-an-emergency%2Fsevere-weather&amp;auth=D9K8jAr3ImZfDs76Wf%2B9kQ&amp;profile=_default_preview&amp;rank=2&amp;query=health+safety"
                          title="See details">Flooding, storm or severe weather | Health and Safety | Victoria
                          University of
                          Wellington</a> <small>
                          https://www.victoria.ac.nz/healthandsafety/emergency/what-to-do-in-an-emergency/severe-weather
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Report any damage or flooding to Campus Security on 8888Campus safety.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Fconfined-spaces&amp;auth=wNDyCx1mpmPz%2F7%2BtHIuOOg&amp;profile=_default_preview&amp;rank=3&amp;query=health+safety"
                          title="See details">Confined spaces | Health and Safety | Victoria University of
                          Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/confined-spaces
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Contact your University liaison or the Health and Safety team to arrange a permit. ... Campus
                          safety. Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Fsecurity-risk&amp;auth=r%2FRFeRBbpAyRhxILiMUmfw&amp;profile=_default_preview&amp;rank=4&amp;query=health+safety"
                          title="See details">Security risk | Health and Safety | Victoria University of Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/security-risk
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>If your work has the potential to create a security risk, you must advise your University
                          liaison
                          and coordinate the work withCampus safety.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Ftraffic-management&amp;auth=cYeHKq0qUZbYzKaaQfWlnQ&amp;profile=_default_preview&amp;rank=5&amp;query=health+safety"
                          title="See details">Traffic management | Health and Safety | Victoria University of
                          Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/traffic-management
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>All TMP must include consultation with your University liaison, Health and Safety, and
                          Security.
                          ... Campus safety. Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Ffilming-on-campus&amp;auth=JnW48313RS8Hz%2F8kZ7Z2Pg&amp;profile=_default_preview&amp;rank=6&amp;query=health+safety"
                          title="See details">Filming on campus | Health and Safety | Victoria University of
                          Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/filming-on-campus
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Campus safety. Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Fservice-tunnels&amp;auth=3KdQHgXP8GpqTq84ns%2FNRw&amp;profile=_default_preview&amp;rank=7&amp;query=health+safety"
                          title="See details">Service tunnels | Health and Safety | Victoria University of
                          Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/service-tunnels
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Check your University liaison before starting work. They may ask you to discuss your work
                          further
                          with the Senior Advisor Health and Safety (Asset and Infrastructure). ... Campus safety.
                          Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Fdiesel-fuel-tanks&amp;auth=PZyUktZR67xyltm6h97yPg&amp;profile=_default_preview&amp;rank=8&amp;query=health+safety"
                          title="See details">Diesel fuel tanks | Health and Safety | Victoria University of
                          Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/diesel-fuel-tanks
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Hunter Building (external). Te Toki a Rata Building (internal). Campus safety.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Ffumes-and-dust&amp;auth=FNwuE7WTVUltblE7Jx2qng&amp;profile=_default_preview&amp;rank=9&amp;query=health+safety"
                          title="See details">Fumes and dust | Health and Safety | Victoria University of Wellington</a>
                        <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/fumes-and-dust
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Campus safety. Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <article class="c-stack">
                      <h4 class="c-stack__title"> <a class="c-stack__link"
                          href="https://search.victoria.ac.nz/s/redirect?collection=vic-meta-people-intranet&amp;url=https%3A%2F%2Fwww.victoria.ac.nz%2Fhealthandsafety%2Fcontractors%2Fmanaging-hazards-and-working-safely%2Fpotential-hazards-and-disruptions%2Floss-of-utilitiesgas&amp;auth=A7PEBnlI6akIIErAwYAHRA&amp;profile=_default_preview&amp;rank=10&amp;query=health+safety"
                          title="See details">Loss of utilities—gas | Health and Safety | Victoria University of
                          Wellington</a> <small>
                          https://www.victoria.ac.nz/healthandsafety/contractors/managing-hazards-and-working-safely/potential-hazards-and-disruptions/loss-of-utilitiesgas
                          <span>
                            <p></p>
                          </span> </small> </h4>
                      <div class="c-stack__body">
                        <p>Campus safety. Enrolments: 0800 VICTORIA.</p>
                      </div>
                    </article>
                    <div class="block formatting pagination-container" style="">
                      <div class="pagination" style="display: flex; align-items: baseline;">
                        <p style="width: 53%;margin: auto;text-align: center; padding-top: 7px; font-weight: 700">
                          Showing
                          results 1 - 10 of 868 results</p> <!-- Next page --> <a
                          class="button primary no-icon next large" rel="next"
                          href="https://cms.victoria.ac.nz/staff/new-search/search?query=health safety&amp;start_rank=11"
                          title="Next page">Next page</a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>



            <div class="search-results">

            </div>

          </li>
        </li>

    </main>
  </d>
</section>
