---
layout: victorious
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - International students
    - Current students
    - Research
    - Engage

sub-header:
  - About
  - Library
  - Blackboard
  - Maps
  - Staff Intranet
  - myTools
  - Learning & teaching

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="hub">

      {{> victorious.banner-full }}
      {{> victorious.article-grid }}
      {{> victorious.promo }}
      {{> victorious.article-row }}


    </main>
  </div>
</section>
