---
layout: victorious
title: "Study Hub | Experience Victoria"

main-header:
  main-ia:
    - International students
    - Current students
    - Research
    - Engage

sub-header:
  - About
  - Library
  - Blackboard
  - Maps
  - Staff Intranet
  - myTools
  - Learning & teaching

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

<!-- Study hub  About -->
<section class="layout">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="hub">





      <div class="centraliser block">
        <div class="vict-banner full">
          <figure class="">
            <a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-1">
              <img data-center="transform: translateY(0px);" data-center-bottom="transform: translateY(-50px);"alt=""
                src="https://cms.wgtn.ac.nz/vt-uc/components/assets/iceberg-banner.jpg"
                >
              <!-- Use class="wider, bottom or top" to position the text box -->
              <figcaption data-center="top:50%;" data-center-bottom="top:60%" >

                <p class="vict-banner-title-tag">News</p>
                <h3 class="vict-banner-sub-heading">MELTING ICE &amp; RISING SEAS TEAM</h3>
                <h1 class="vict-banner-title">WINS PRIME MINISTER'S SCIENCE PRIZE</h1>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>





      <div class="centraliser">
        <div class="block">

          <div class="articles-grid col-2">
            <div class="article-1-up">
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-1">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/Bolton-Street.jpg" alt=""></figure>
                  <div class="article-summary"><span class="article-tag">News</span>
                    <h4> Article 1</h4>
                    <p> Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis
                      dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.
                      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  </div>
                </a></div>
            </div>
            <div class="article-3-up">
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-2">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/iceberg-banner.jpg" alt=""></figure>
                  <div class="article-summary"><span class="article-tag">Research; COVID</span>
                    <h4> Article 2</h4>
                    <p> Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis
                      dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.
                      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-3">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/VUW_JamesRenwick15_v3-portait.jpg"
                      alt="Man standing in outside"></figure>
                  <div class="article-summary"><span class="article-tag">Opinion; COVID</span>
                    <h4> Article 3</h4>
                    <p> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta
                      felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur
                      purus sit amet fermentum. Integer posuere erat a ante</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-4">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/building-render-portrait.jpg"
                      alt="building render"></figure>
                  <div class="article-summary"><span class="article-tag">Message from the Vice-Chancellor</span>
                    <h4> Article 4</h4>
                    <p> Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus
                      porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Fusce
                      dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                      amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at.</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-5">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/corona-virus-port.jpg"
                      alt="corona virus cell "></figure>
                  <div class="article-summary"><span class="article-tag">Opinion</span>
                    <h4> Article 5</h4>
                    <p> Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis
                      parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Donec
                      id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.
                      Nullam quis risus eget urna mollis ornare vel eu leo. Morb</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-6">
                  <figure> <img
                      src="https://cms.wgtn.ac.nz/vt-uc/components/assets/TheTerrace_Publicity-View_01_Plaza.jpg"
                      alt="Render of building"></figure>
                  <div class="article-summary"><span class="article-tag">Research</span>
                    <h4> Article 6</h4>
                    <p> Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis
                      parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Donec
                      id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.
                      Nullam quis risus eget urna mollis ornare vel eu leo. Morb</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-7">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/building-render-portrait.jpg"
                      alt="building render"></figure>
                  <div class="article-summary"><span class="article-tag">Message from the Vice-Chancellor</span>
                    <h4> Article 7</h4>
                    <p> Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus
                      porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Fusce
                      dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                      amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at.</p>
                  </div>
                </a></div>
            </div>
          </div>


        </div>
      </div>
      <div class="centraliser">
        <div class="block">
          <div class="vict-promo">
            <section class="promo-title center">

              <span class="article-tag title-underline">NEWS</span>
              <h4 class="promo-sub-title">COVID–19</h4>
              <h3 class="promo-title">THE UNIVERSITY RESPONSE</h3>
              <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh
                ultricies vehicula ut id elit.</p>
            </section>
            <div class="promo-image double flex">

              <figure>
                <a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-6">

                  <img alt="corona virus cell "
                    src="https://cms.wgtn.ac.nz/vt-uc/components/assets/corona-virus-port.jpg">
                </a>
              </figure>

              <figure>
                <a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-4">

                  <img alt="" src="https://cms.wgtn.ac.nz/vt-uc/components/assets/microscope-portrait.jpg">
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>



      <div class="centraliser block">
        <div class="vict-banner full">
          <figure class="">
            <a href="https://cms.wgtn.ac.nz/living-pa">
              <img data-bottom="transform: translateY(50px);" data-center-bottom="transform: translateY(-80px);"
                alt="black background image "
                src="https://cms.wgtn.ac.nz/vt-uc/components/assets/Living-Pa_v2-Banner.jpg"
                >
              <!-- Use class="wider, bottom or top" to position the text box -->
              <figcaption data-center="top:50%;" data-center-bottom="top:60%" >

                <p class="vict-banner-title-tag">ALUMNI</p>
                <h3 class="vict-banner-sub-heading">THE LIVING PĀ AMBASSADOR</h3>
                <h1 class="vict-banner-title">SIR JOE WILLIAMS, APPOINTED SUPREME COURT JUDGE</h1>
                <p style="
                           margin-top: 1.5rem;
                  ">Nullam quis risus eget urna mollis ornare vel eu leo.</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>




      <div class="centraliser">
        <div class="block">

          <div class="articles-row border-top">
            <div class="articles-row-title">
              <h3 class="title-underline ">SUPPORTING THE UNIVERSITY</h3>
              <p>Contact the Development Office if you are interested in making a donation of funds or resources.</p>

              <p>
                <span class="icon-mail"><a
                    href="mailto:development-office@vuw.ac.nz">development-office@vuw.ac.nz</a></span>
              </p>

              <p><span class="icon-phone"><a href="num:+64 4 463 5871">+64 4 463 5871</a></span></p>

            </div>
            <div class="articles flex">


              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-1">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/Bolton-Street.jpg" alt=""></figure>
                  <div class="article-summary"><span class="article-tag">News</span>
                    <h4> Article 1</h4>
                    <p> Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis
                      dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.
                      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-2">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/iceberg-banner.jpg" alt=""></figure>
                  <div class="article-summary"><span class="article-tag">Research; COVID</span>
                    <h4> Article 2</h4>
                    <p> Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis
                      dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.
                      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-3">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/VUW_JamesRenwick15_v3-portait.jpg"
                      alt="Man standing in outside"></figure>
                  <div class="article-summary"><span class="article-tag">Opinion; COVID</span>
                    <h4> Article 3</h4>
                    <p> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta
                      felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur
                      purus sit amet fermentum. Integer posuere erat a ante</p>
                  </div>
                </a></div>
              <div class="article-item"><a href="https://cms.wgtn.ac.nz/vt-uc/issues/victorious-2020/article-4">
                  <figure> <img src="https://cms.wgtn.ac.nz/vt-uc/components/assets/building-render-portrait.jpg"
                      alt="building render"></figure>
                  <div class="article-summary"><span class="article-tag">Message from the Vice-Chancellor</span>
                    <h4> Article 4</h4>
                    <p> Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus
                      porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Fusce
                      dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                      amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at.</p>
                  </div>
                </a></div>

            </div>


          </div>
        </div>
      </div>

    </main>
  </div>
</section>
