/*==================================================
=            Site header with hamburger tray         =
==================================================*/

$page-sub-nav-border: $brand !default;
$page-sub-nav-bg: $brand-dark !default;
$page-sub-nav-active-item-bg: $brand !default;
$page-sub-nav-hover-bg: $brand-darker !default;

$easing: cubic-bezier(0.22, 1, 0.36, 1);

$shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

$green-linear-gradient: linear-gradient(
    90deg,
    #115737 0%,
    #52951c 67%,
    #77ba49 100%
  )
  0% 0%;
$green-top-gradient: linear-gradient(
    180deg,
    #115737 0%,
    #52951c 67%,
    #77ba49 100%
  )
  0% 0%;

$green-bottom-gradient: linear-gradient(
    180deg,
    $green-brand-bright 0%,
    #52951c 67%,
    $green-brand 100%
  )
  0% 0%;

$header-bg: $black-brand;
$tray-width-desktop: 400px;

:root {
  --tray-width-desktop: 400px;
}

@keyframes delay-visibility-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

@keyframes delay-visibility-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes menu-slide-in {
  0% {
    transform: translateX(100%);
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes menu-slide-out {
  0% {
    transform: translateX(0);
    visibility: visible;
  }

  99% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
    transform: translateX(100%);
  }
}

.layout {
  z-index: 0 !important;
  overflow-x: hidden;
}
.noscroll {
  overflow: hidden;
}

.menu-container {
  //? Not sure if we should use this
  .outer-close-tray {
    right: 400px;
    position: absolute;
    top: 0%;
    display: none;

    .tray-toggle {
      background-color: #fff;
      border-radius: 10px 0px 0px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 5px 1px;
      letter-spacing: 1px;
      text-transform: uppercase;
      flex-direction: column;
      color: $grey-chalice;
      max-width: 20px;
      min-height: 100px;
    }
    i {
      margin-bottom: 8px;
    }
    .close-text {
      transform: rotateZ(-90deg);
    }
  }
}
.main-site-header {
  .header-toggle {
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
    // flex: 0 1 5%;
    flex: 1;
    position: relative;
    .tray-tooltip {
      position: absolute;
      top: 0;
      padding: 10px;
      right: 60px;
      min-width: 300px;
      background-color: rgba($color: $black-brand, $alpha: 0.9);
      color: #fff;
      border: 2px $black-brand, solid;
      border-radius: 10px;
      box-shadow: $shadow;
      display: flex;
      display: none;
      @include breakpoint($until: desktop) {
        min-width: 200px;
      }
      &:after {
        content: "";
        position: absolute;
        right: -20px;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid rgba($color: $black-brand, $alpha: 0.9);
        border-bottom: 10px solid transparent;
      }

      .hint-icon {
        margin-right: 10px;
        i {
          font-size: 30px;
        }
      }

      .hint-content {
      }
      .hint-actions {
        text-align: right;
      }
      button {
        border-radius: inherit;
      }
    }

    button,
    .button {
      position: relative;
      padding: 0;
      width: 50px;
      text-decoration: none;
      border-radius: 50%;

      i {
        margin: 0 0.5rem;
        color: $black-brand;
        font-size: 1.8rem;

        &:before {
          margin: 0;
          display: inline;
        }
      }

      &.puaha {
        font-size: 15px;
        padding: 5px 10px;
        width: auto;
        border-radius: 4px;
        align-self: center;
        background-color: $grey-gallery;
        margin-right: 5px;
        @include breakpoint($until: desktop) {
          display: none;
        }

        i {
          // color: #fff;
          font-size: 15px;
          margin-left: 1px;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out;
        }
        &:hover {
          color: #fff;
          background-color: $green-brand-bright;
          i {
            color: #fff;
          }
        }
        &.primary {
          background-color: $green-brand-bright;
          color: #fff;
          i {
            color: #fff;
          }
          &:hover {
            background-color: $green-brand;
          }
        }
      }

      .text-menu-button {
        font-size: 0.7rem;
        position: absolute;
        bottom: -5px;
        left: 35%;
        transform: translateX(-50%);
      }
    }

    // .search-toggle {
    //   display: none;
    // }

    .tray-toggle {
      position: relative;

      &:hover {
        background-color: lighten($brand, 10%);
      }
    }

    @include breakpoint($until: desktop) {
      .search-toggle {
        display: block;
      }
    }
  }
}

.tray .tray-content .btn-expander::after {
  // Down arrow
  content: "\f17a";
  display: inline-block;
  font-family: "Favorites";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1.8;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border: none;
  width: auto;
  height: auto;
  top: initial;
}

.main-site-header {
  &.header-tray {
    .header-inner {
      z-index: 3;
      display: flex;
      align-items: center;

      .header-logo {
        width: 25%;
        padding-left: 0;
      }

      .header-content {
        padding-left: 1rem;
        width: 40%;

        @include hoverify() {
          a {
            h1,
            h2,
            h3,
            h4,
            p {
              text-decoration: underline;
            }
          }
        }
      }

      .header-search {
        width: 20%;
        flex: 1;
      }

      .tray {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        max-width: 100vw;
        &.responsive-preview {
          background: #000;
        }

        @include breakpoint($until: tablet) {
          // right: 20px;
        }
        &.tray-open {
          display: block;
          animation: delay-visibility-in 0.2s ease forwards;

          .tray-content {
            // transform: translate3d(0,0,100%);
            animation: menu-slide-in 0.3s cubic-bezier(0.77, 0, 0.175, 1)
              forwards;
          }
        }

        &.tray-closed {
          animation: delay-visibility-out 0.2s ease forwards;

          .tray-content {
            visibility: hidden;
            animation: menu-slide-out 0.3s cubic-bezier(0.77, 0, 0.175, 1);
          }
        }
      }

      // Custom dropdown
      .saved-items-selector {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        border-top: 1px #eee solid;
        .custom-dropdown {
          position: relative;
          min-width: 150px;
          .selector {
            border: 1px $grey-chalice solid;
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 2px;
            user-select: none;
            transition: all ease 0.2s;
            box-shadow: none;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
            }

            i {
              margin-left: 10px;
            }
            &.open {
              i {
                transform: rotateZ(180deg);
              }
            }
          }
          ul {
            display: none;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 1px 5px 1px #ccc;
            right: 0;
            z-index: 99;
            width: 100%;

            li {
              cursor: pointer;
              padding: 10px;
              &.active {
                background-color: $green-brand-light;
              }
              &:hover {
                background-color: #eee;
              }
            }
          }
        }
      }

      .tray-content {
        padding: 1rem;
        z-index: 150;
        height: 100vh;
        background-color: $header-bg;
        width: $tray-width-desktop;
        overflow: auto;

        @include breakpoint($until: tablet) {
          margin: 0;
          width: 94%;
        }

        .tray-inner-content {
          padding: 0 15px;
          height: 100%;
          display: flex;
          flex-direction: column;
        }
        .saved-menu {
          flex: 1 0 40%;
        }

        .tray-main-nav {
          margin: 15px -15px;
          flex: 1 0 40%;
          .main-nav-list {
            position: relative;
            .tall-blip {
              height: 0;
              width: 3px;
              position: absolute;
              background-color: $green-brand-bright;
              left: 0;
              transition: all ease 0.2s;
              z-index: 999;
            }
            > li {
              > a.main-nav-link {
                transition: all $easing 0.2s;
              }
            }
            &:not(.hub-page) {
              > li {
                transition: all $easing 0.3s;
                box-shadow: none;
                border-bottom: 1px $grey-gallery solid;
                border-top: 1px transparent solid;

                i {
                  margin-top: 24px;
                  margin-right: 10px;
                  padding-left: 15px;
                }
              }
            }
            &.hub-page {
              position: relative;

              > li {
                border-bottom: none;
                margin-bottom: 0;
                &:not(.homesite) {
                  margin-left: 20px;
                  > a {
                    padding: 10px 15px 10px 25px;
                  }
                }
                > a {
                  padding: 10px 15px;
                  background-color: #fff;
                }
                > a:not(.active) {
                  &:hover {
                    background-color: #fff;
                  }
                }
              }
            }
          }

          .nav-separator {
            flex: 1 1 auto;
            width: 100%;
            font-size: 14px;
            // background-color: $grey-gallery;
            color: $grey-chalice;
            letter-spacing: 1.5px;
            // text-transform: uppercase;
            text-align: left;
            padding-left: 15px;
            padding: 5px 0 5px 15px;
            &.current {
              padding-left: 28px;
            }
          }

          li.main-nav-item {
            position: relative;
            line-height: 1.2;
            background-color: $white;
            border-left: 0px $green-brand-bright solid;
            transition: all $easing 0.2s;
            display: flex;
            flex-wrap: wrap;
            user-select: none;
            box-shadow: 0 3px 15px -7px rgba(0, 0, 0, 0.1);

            &.homesite {
              &.expanded {
                &:before {
                  // height: 97%;
                }
              }

              .connector {
                position: absolute;
                left: 2px;
                bottom: -36px;
                z-index: 99;
                width: 25px;
              }
              .btn-expander {
                padding: 15px 15px;
                &:active {
                  background-color: #f7f7f7;
                  color: $green-brand-bright;
                }
              }
              // > .btn-expander {
              //   &:after {
              //     margin-left: 10px;
              //   }
              // }
              > ul {
                display: none;
                flex: 1 0 auto;
                li {
                  > a {
                    border-bottom: 1px transparent solid;
                    border-top: 1px transparent solid;
                    transition: all $easing 0.3s;
                    margin-left: 0;

                    .tereo-nav-title {
                      color: $green-brand;
                    }
                    &:hover {
                      border-color: $green-brand-bright;
                      z-index: 90;
                    }
                  }
                }
              }
              .main-nav-item {
                display: flex;
                align-items: center;
                i {
                  font-size: 18px;
                  margin-right: 10px;
                  position: absolute;
                  z-index: 99;
                  right: 5px;
                  top: 30%;
                }
              }

              &.expanded {
                -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
                z-index: 90;
                .main-nav-item > a {
                  background-color: #fff;
                }
              }
            }

            > .btn-expander {
              width: auto;
              margin: 0;
              border-radius: 0;
              padding: 10px 15px;
              margin-left: -25px;
              z-index: 99;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              clip-path: polygon(0% -2px, 100% 0%, 100% 100%, 11px 101%);
              background-color: $grey-gallery;
              flex: 1 0 10%;

              &:after {
                transition: all $easing 0.2s;
                line-height: 2;
                text-align: center;
              }
            }
            &.expanded {
              .tereo-nav-title {
                color: $green-brand-light;
              }
              > .btn-expander {
                &:after {
                  transform: rotateZ(180deg);
                }
              }
            }
            &:active,
            &:focus,
            &.expanded {
              // border-left: 5px $green-brand solid;
              box-shadow: 0 3px 20px -7px rgba(0, 0, 0, 0.2);
              z-index: 90;
            }
            &:hover {
              box-shadow: 12px 3px 20px -7px rgba(0, 0, 0, 0.2);
              z-index: 90;
              border-color: $green-brand-bright;
            }

            .tereo-nav-title {
              display: block;
              color: $green-brand;
              margin-bottom: 5px;
            }

            a {
              display: block;
              color: $black-tundora;
              text-decoration: none;
              position: relative;
              z-index: 50;
              font-family: $font-name-brand;
              padding: 10px 15px;
              font-size: 18px;
              @include breakpoint($until: tablet) {
                font-size: 16px;
              }
              .tereo-title {
                display: none;
                color: $green-brand;
              }
              &.active {
                font-weight: 600;
                position: relative;
              }
            }

            > a {
              padding: 10px;
              padding-right: 50px;
              position: initial;
              flex: 1 0 80%;
              padding-left: 20px;
              &.active {
                background-color: $green-brand-bright;
                // background: $green-linear-gradient;
                color: #fff;
              }
            }
            @include breakpoint($until: desktop) {
            }
            .mobile-tray-menu {
              display: none;
            }

            // TOP LEVEL
            > ul > li.nav-item-parent > a {
              margin-left: 25px;
              padding-left: 5px;
            }
            // ALL LEVELS
            ul {
              font-size: 16px;
              width: 100%;

              li {
                border-left: 0px $green-brand-bright solid;
                overflow: hidden;
                transition: all $easing 0.3s;
                position: relative;
                &.sidemenu__label {
                  display: none;
                }

                a {
                  font-size: 16px;
                  margin-left: 5px;
                  transition: all $easing 0.2s;
                  @include breakpoint($until: desktop) {
                    font-size: 14px;
                  }
                  &:active,
                  &:focus {
                    color: $green-brand-bright;
                    outline-offset: -2px;
                  }
                  &:hover {
                    color: $green-brand-bright;
                  }
                }
                &.expanded {
                  > a,
                  > span {
                    color: $green-brand-bright;
                  }
                }
                &:hover {
                  // border-left: 5px $green-brand-bright solid;
                }
                &.has-submenu {
                  overflow: hidden;
                  display: flex;
                  flex-wrap: wrap;
                  > a {
                    flex: 1 1 auto;
                  }
                  .btn-expander {
                    margin-right: 17px;
                    padding: 3px 8px;
                    border-radius: 100px;
                    cursor: pointer;
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    @include breakpoint($until: desktop) {
                      font-size: 14px;
                    }
                  }

                  > .btn-expander {
                    // transition: all $easing 0.2s;
                    z-index: 505;
                    position: relative;
                    &:hover {
                      background-color: $grey-gallery;
                    }
                    &:active,
                    &:focus {
                      background-color: $grey-gallery;
                    }

                    &:after {
                      transition: all $easing 0.2s;
                    }
                  }
                  ul {
                    transition: all $easing 0.3s;
                    overflow: hidden;
                    max-height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    display: block;
                    border-left: 0px white solid;
                    width: 100%;

                    li {
                      &.expanded {
                        > a {
                          color: $green-brand-bright;
                        }
                      }
                    }
                  }
                  > ul {
                    > li {
                      border-left: none;
                      a {
                        font-size: 15px;
                        padding: 10px 30px 10px 5px;
                        margin-left: 15px;

                        @include breakpoint($until: desktop) {
                          font-size: 14px;
                        }
                      }
                      &.has-submenu {
                        a {
                          padding-right: 10px;
                        }
                        .btn-expander {
                          margin-right: 23px;
                        }
                      }

                      // BOTTOM LEVEL
                      > ul {
                        > li {
                          a {
                            padding-right: 10px;
                            font-size: 14px;
                            @include breakpoint($until: desktop) {
                              font-size: 13px;
                            }
                          }
                          .btn-expander {
                            margin-right: 5px;
                          }
                        }
                      }
                    }
                  }
                  &.expanded {
                    // box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
                    z-index: 1;

                    > .btn-expander {
                      &:after {
                        transform: rotateZ(180deg);
                      }
                      color: $green-brand-bright;
                    }

                    > ul {
                      max-height: 800px;
                      border-left: 1px $grey-alto solid;
                      margin-left: 20px;

                      &.taller {
                        max-height: 1500px;
                      }
                      &.tallest {
                        max-height: 2500px;
                      }
                      li {
                        border-left: none;
                      }
                    }
                  }
                }
              }
            }

            // !JOINING ARROWS IN NESTED LISTS

            // Remove before element for homesite links
            &.homesite {
              ul {
                li.main-nav-item {
                  &:before {
                    content: none;
                  }
                }
              }
            }
            ul {
              li {
                &:not(.homesite) {
                  &:before {
                    transition: all $easing 0.2s;
                    content: "";
                    background-color: $grey-alto;
                    position: absolute;
                    left: 10px;
                    top: 19px;
                    height: 1px;
                    width: 16px;
                  }

                  &.expanded,
                  &:hover {
                    padding-left: 5px;
                    &:before {
                      background-color: $green-brand-bright;
                      width: 20px;
                    }
                  }

                  ul {
                    li {
                      position: relative;
                      overflow: visible;
                      &:before {
                        left: 0;
                      }
                    }
                    // NESTED CHILD JOINING ARROW ADJUSTMENT
                    > ul {
                      border-left: 1px $grey-alto solid;
                      margin-left: 10px;
                      li {
                        &:before {
                          left: -16px;
                          width: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .tray-background {
          // background-image: url("https://cms.wgtn.ac.nz/_nocache?a=1778031:dist/images/patterns/pattern-05.svg");
          // background-repeat: repeat-y;
          // background-color: #fff;
          // width: 100%;
          // background-size: 151px;
          // z-index: -1;
          // flex: 1 0 30%;
          // background-position: center;
        }
        .tray-sub-menu {
          margin-top: auto;
          position: relative;
          margin-left: -15px;
          margin-right: -15px;
          background-color: #f7f7f7;
          padding: 15px;
          padding-bottom: 90px;
          padding-top: 60px;
          clip-path: polygon(0% 25px, 100% 0%, 100% 100%, 1px 100%);
          background-image: url("https://cms.wgtn.ac.nz/_nocache?a=1778031:dist/images/patterns/pattern-05.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 200px;

          flex: 1 auto;
          margin-top: 30px;
          align-self: flex-end;
          align-content: flex-end;
          display: flex;
          flex-direction: column;
          justify-content: end;
          // &:before {
          //   content: "";
          //   width: 165px;
          //   height: 54px;
          //   clip-path: polygon(-2.42% -2px, 37.57% 25%, 100.61% 61.11%, -5px 98.15%);
          //   position: absolute;
          //   top: -31px;
          //   left: 0;
          //   background-color: #115737;
          // }

          h4 {
            margin-bottom: 15px;
            color: $green-brand;
            margin-top: 1rem;
            font-weight: 300;
          }
          .sub-menu-list {
            display: flex;
            flex-wrap: wrap;
            &.icons {
              .sub-menu-item {
                // Icons
                &.about {
                  a {
                    &:before {
                      content: "\f18e";
                    }
                  }
                }
                &.library {
                  a {
                    &:before {
                      content: "\f135";
                    }
                  }
                }
                &.blackboard {
                  a {
                    &:before {
                      content: "\f1a4";
                    }
                  }
                }

                &.maps {
                  a {
                    &:before {
                      content: "\f197";
                    }
                  }
                }

                &.staff-intranet {
                  a {
                    &:before {
                      content: "\f191";
                    }
                  }
                }
                &.mytools {
                  a {
                    &:before {
                      content: "\f186";
                    }
                  }
                }
                &.learning-\&-teaching {
                  a {
                    &:before {
                      content: "\f1a3";
                    }
                  }
                }
              }
              a {
                justify-content: initial;
                &:before {
                  content: "";
                  display: inline-block;
                  font-family: "Favorites";
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  line-height: 1;
                  text-decoration: inherit;
                  text-rendering: optimizeLegibility;
                  text-transform: none;
                  -moz-osx-font-smoothing: grayscale;
                  margin-right: 4px;
                  font-size: 120%;
                }
                &:after {
                }
              }
            }
            &:not(.icons) {
              .sub-menu-item {
                flex: 1 0 40%;
                max-width: 50%;
                margin: auto;
                &:last-of-type {
                  max-width: 60%;
                }
                a {
                  justify-content: space-between;
                  border-radius: 2px;
                  padding-right: 0px;

                  &:after {
                    content: "\f156";
                    display: inline-block;
                    font-family: "Favorites";
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    line-height: 1;
                    text-decoration: inherit;
                    text-rendering: optimizeLegibility;
                    text-transform: none;
                    -moz-osx-font-smoothing: grayscale;
                    margin-right: 4px;
                    font-size: 120%;
                  }
                }
              }
            }
            .sub-menu-item {
              padding: 0.1rem 0;
              z-index: 10;

              a {
                text-decoration: none;
                background-color: #fff;
                border-radius: 5px;
                font-size: 15px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                color: $black-brand;
                border: 1px $black-emperor solid;
                margin-bottom: 7px;
                margin-right: 5px;
                position: relative;
                transition: background-color $easing 0.3s;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                &:hover,
                &:focus {
                  // outline: 2px $kowhai solid;
                  background-color: $green-brand-light;
                  // color: #fff;
                  border-color: $green-brand;
                }
                &:active {
                  border-color: $green-brand;
                }

                @include breakpoint($until: desktop) {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .tray-close {
          margin: -1rem -1rem 1rem -1rem;
          padding: 0.6rem 1.5rem;
          background-color: $black-tundora;

          .close-tray {
            transition: 0.3s ease-in;
            color: $white;
            padding: 0;
            text-decoration: none;

            @include hoverify() {
              opacity: 0.8;
            }

            span {
              font-size: 1.3rem;
            }
          }
        }
      }

      &.intranet {
        .header-search {
          max-width: 270px;
          margin-left: auto;
        }

        .header-toggle {
          flex: none;
        }

        .tray-toggle {
          display: none;
        }

        .header-toggle {
          display: none;
        }

        @include breakpoint($until: desktop) {
          .header-search {
            display: block;
            margin-left: 0.5rem;
          }
        }

        @include breakpoint($until: tablet) {
          .search-input {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
          }
        }
      }
    }

    @include breakpoint($until: desktop) {
      .header-search {
        display: none;
      }

      .header-toggle {
        margin-left: auto;
      }
    }

    @include breakpoint($until: tablet) {
      .header-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        > * {
          width: auto !important;
        }

        .header-logo {
          margin-right: auto;
          grid-column-start: 1;
          grid-row: 1 / 3;
        }

        .header-toggle {
          grid-column-start: 2;
          grid-row-start: 1;

          .text-menu-button {
            display: none;
          }
        }

        .header-content {
          grid-column-start: 2;
          grid-row-start: 2;
          margin-left: auto;
        }
      }
    }
  }

  &.victorious-header {
    background-color: $white;
    border-bottom: none;

    // IE
    position: fixed;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: $z-index-top;
    padding-top: 0;
    margin-bottom: 20px;

    .header-inner {
      .header-logo {
        border-right: none;
        width: 20%;
        padding: 0.1rem 0.5rem 0.1rem;

        img {
          @include target-ie {
            height: 50px;
          }
        }
      }

      .vict-logo {
        padding: 0 1rem;
        // width: 45%;
        flex: 1 0 auto;

        position: relative;
        transition: all 0.2s ease-in-out;

        img {
          // position: absolute;
          // top: 40px;
          transition: all 0.2s ease-in-out;
          transform: matrix(2, 0, 0, 2, 0, 80);

          @include target-ie {
            transform: matrix(2, 0, 0, 2, 0, 40);
          }

          // width: 100%;
          max-width: 50%;
          margin: 0 auto;
          display: block;
        }
      }

      .header-search {
        width: unset;
        flex: 0;
      }

      .header-toggle {
        flex: 0 1 5%;
        margin: 0;

        @include target-ie {
          flex: 0 1 10%;
        }

        button {
          // position: relative;
          // padding: 0;
          // width: 50px;
          // text-decoration: none;
          // border-radius: 50%;
          display: block;

          @include hoverify() {
            background-color: $grey-gallery;
          }

          span {
            color: $black-tundora;
            font-size: 2rem;
          }
        }
      }
    }

    &.header-shrink {
      margin-bottom: 0;

      .header-inner {
        .vict-logo {
          transition: all 0.2s ease-in-out;

          img {
            // position: relative;
            // top: 0;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transition: all 0.2s ease-in-out;
            width: 100%;
            max-width: 50%;
          }
        }
      }
    }

    @include breakpoint($until: tablet) {
      margin-bottom: 1rem;

      .header-inner {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;

        .header-logo {
          margin-right: auto;
          grid-column-start: 1;
          grid-row: 1;

          img {
            max-width: 50px;
          }
        }

        .header-toggle {
          grid-column-start: 3;
          grid-row-start: 1;

          // .text-menu-button {
          //   // display: none;
          // }
        }

        .vict-logo {
          grid-column: 1/4;
          grid-row-start: 2;

          img {
            transform: matrix(2, 0, 0, 2, 0, 30);
            top: 0;
            position: relative;
          }
        }
      }

      &.header-shrink {
        .header-inner {
          .vict-logo {
            grid-column: 2;
            grid-row-start: 1;

            img {
              max-width: 95%;
            }
          }
        }
      }
    }

    .tray.tray-open {
      overflow-y: scroll;
      overflow-x: hidden;

      .tray-close {
        background-color: $white;
        text-align: right;

        .close-tray {
          color: #040404;
          width: 35px;
          height: 35px;

          span {
            &:before {
              margin: 0;
            }
          }
        }
      }

      .tray-title {
        color: $black-mine-shaft;
        margin: 2rem 0 1rem;

        .issue {
          font-family: proxima-nova, sans-serif !important;
          text-transform: uppercase;
        }
      }

      .tray-content {
        background-color: $white;
        height: auto;
        padding-bottom: 2rem;

        .tray-main-nav {
          .main-nav-item {
            padding: 1rem 0 1rem;
            border-bottom: 1px solid $black-mine-shaft;

            .main-nav-link {
              color: $black-mine-shaft;
              font-size: 1.2rem;

              &.active {
                // font-weight: 400;
              }
            }
          }
        }

        .past-issues {
          margin-top: 1.5rem;
          display: flex;
          flex-wrap: wrap;

          a {
            color: $black-mine-shaft;
            flex: 1 1 100%;
            display: flex;
            justify-content: space-between;
          }

          span {
            color: $black-mine-shaft;
          }

          .issues {
            display: none;
            flex: 1 0 100%;
            padding: 0.5rem 0;

            li {
              margin: 0.2rem 0;
            }
          }
        }
      }
    }
  }

  &.white {
    background-color: $white;
    border-bottom: none;

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 6px;
      background: $green-linear-gradient;
    }

    .logo {
      border-right-color: $grey-silver;
    }

    .header-inner {
      .header-content {
        h1,
        p {
          color: $green-brand;
          font-weight: 600;
          letter-spacing: 0.4px;
          font-family: $font-name-brand;
          font-size: 2.21rem;
          line-height: 1.08;
        }

        .tereo-title,
        p.tereo-title {
          color: $black-tundora;
          font-size: 1.5rem;
          font-family: $font-name-brand;
          letter-spacing: 0.2px;
          line-height: 1.08;
        }
      }
    }

    .header-search {
      form {
        border-radius: $radius;
        border: 1px solid $black-emperor;
      }
    }

    .header-toggle {
      .search-toggle,
      .tray-toggle {
        .icon-menu,
        .icon-search {
          color: $black-tundora;
        }

        @include hoverify() {
          background-color: $grey-gallery;
        }
      }

      // @include breakpoint($until:desktop) {

      .search-toggle {
        height: 50px;

        span {
          color: $black-tundora;
        }

        @include hoverify() {
          span {
            color: $white;
          }
        }
      }
      // }
    }

    &.header-tray {
      .tray-content {
        background-color: $white;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;

        &:after {
          // content: "";
          // position: absolute;
          // right: 0;
          // top: 10px;
          // width: 50px;
          // height: 50px;
          // border-top: 10px solid transparent;
          // border-left: 20px solid rgba($color: $black-brand, $alpha: 0.9);
          // border-bottom: 10px solid transparent;
        }

        .tray-search-bar {
          padding: 20px 15px;
          background-color: $grey-gallery;
          border-bottom: 2px $grey-alto solid;

          form {
            border-radius: $radius;

            .search-input {
              background-color: #fff;
              color: $grey-dove;
              padding: 10px;
              border: 1px $grey-chalice solid;
              border-radius: 2px;

              &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $grey-chalice;
                opacity: 1;
                /* Firefox */
              }
            }

            .submit-button {
              height: 100%;
              span {
                font-size: 20px;
                color: $black-tundora;
              }
            }
          }
        }

        .tray-close {
          background-color: $brand;
        }
      }
    }

    @include breakpoint($until: tablet) {
      .header-inner {
        grid-template-rows: 1fr;

        .header-content {
          display: none;
        }

        .header-logo {
          grid-row: 1 !important;
        }
      }
    }
  }

  &.green {
    background-color: $brand;
    border-bottom-color: #09653a;

    // &:after {
    //   display: block;
    //   content: '';
    //   width: 100%;
    //   height: 6px;
    //   background: $green-linear-gradient;
    // }

    .logo {
      border-right-color: $green-brand-weaker;
    }

    .header-inner {
      .header-content {
        h1 {
          color: $white;
          font-weight: 600;
        }

        .tereo-title {
          color: $grey-alto;
          font-size: 1.5rem;
        }
      }
    }

    .header-search {
      form {
        border-radius: $radius;

        .search-input {
          border-radius: $radius;
          background-color: $white;
          border: 1px solid #2b694d;

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey-chalice;
            opacity: 1;
            /* Firefox */
          }
        }

        .submit-button {
          .icon-search {
            color: $black-tundora;
          }
        }
      }
    }
  }

  &.subjects-header {
    padding-top: 0;

    .header-inner {
      .header-content {
        @include hoverify {
          h1,
          h2 {
            text-decoration: none !important;
          }
        }
        .crumbs {
          ul {
            display: flex;
            align-items: center;
            gap: 1rem;

            .home span {
              color: $green-brand;

              &::before {
                vertical-align: 0;
                margin: 0;
              }
            }

            li {
              display: flex;
              align-items: center;

              a {
                color: $black-tundora;
                font-weight: 500;
                text-decoration: none;
                @include hoverify() {
                  text-decoration: underline;
                }
              }

              &::after {
                content: "";
                position: relative;
                display: inline-block;
                font-family: "VicIcons";
                font-size: 1.3rem;
                color: $green-brand;
                margin-left: 0.5rem;
              }
            }
          }
        }
        .subject-title {
          margin-top: 0.2rem;
          @include hoverify {
            h1,
            h2,
            p {
              text-decoration: underline !important;
            }
          }
          a {
            display: flex;
            align-items: center;
          }

          .tereo-title,
          p.tereo-title {
            font-size: 2rem;
            color: $green-brand;
            font-weight: 400;
            font-family: $font-name-brand;
            line-height: 1.08;
          }

          h1,
          p {
            font-size: 2rem;
            color: $black-tundora;
            font-family: $font-name-brand;
            line-height: 1.08;
          }

          span {
            font-size: 1.5rem;
            margin: 0 0.5rem;
            color: $grey-silver;
          }
        }
      }
    }

    .header-search {
      display: none;
    }

    .header-toggle {
      margin-left: auto;
      .search-toggle {
        display: block;
      }
    }
  }
}

/*Saved items style in drawer*/

.menu-container .icons8-expand-arrow {
  transition: all cubic-bezier(0.22, 1, 0.36, 1) 0.2s;
}
.menu-container .icons8-expand-arrow.flipped {
  transform: rotateZ(180deg);
}

.menu-container .saved-header {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.menu-container .saved-header h3 {
  font-weight: 400;
}
/*TABS*/
.main-site-header.header-tray .header-inner .tray-content .tabs {
  margin: 0;
  background-color: $grey-gallery;
  color: $black-brand;
  display: flex;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  border-bottom: 2px $grey-alto solid;

  .tab-background {
    flex: 1 0 30%;
  }
  .close-menu {
    padding: 10px;
    background-color: $grey-gallery;
    color: #fff;
    border-left: 1px $grey-alto solid;
    cursor: pointer;
    color: $black-brand;
    &:hover {
      background-color: $grey-alto;
    }
  }
}
.menu-container .tabs .tab {
  padding: 10px 25px;
  cursor: pointer;
  transition: all cubic-bezier(0.22, 1, 0.36, 1) 0.3s;
  user-select: none;
  flex: 1 0 50%;
  text-align: center;
  position: relative;
  // transform: skew(20deg); /* SKEW */
  &:focus {
    outline: 2px dotted $black-brand;
    outline-offset: -1px;
  }
  span {
    display: inline-block;
    // transform: skew(-20deg); /* UNSKEW */
  }
  &.t-menu {
    clip-path: polygon(-0.25% -3px, 88% -13.74%, 99.5% 100%, 0px 100%);
  }
  &.t-saved {
    clip-path: polygon(2% 0px, 100% 0%, 100% 100%, 22px 100%);
    margin-left: -22px;
  }
  span {
    position: relative;
  }
  i {
    margin-right: 5px;
  }
  .notification {
    background-color: #af1b1b;
    position: absolute;
    right: -18px;
    top: -5px;
    line-height: 1.2;
    border-radius: 100px;
    padding: 3px 6px;
    color: #fff;
    font-size: 12px;
  }
  &:hover {
    background-color: $green-brand-light;
  }
  &.active {
    background-color: $green-brand-bright;
    // color: $kowhai;
    color: #fff;
    &:hover {
      background-color: $green-brand-bright;
    }
  }
}

.no-results {
  margin-top: 20px;
}

// Notifcation
.tray-toggle {
  position: relative;
  .menu-notifcations {
    padding: 2px 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #af1b1b;
    font-size: 14px;
    border-radius: 100px;
  }
}

.tray {
  .tray-content {
    background-image: url("/images/MKT0510 - Te Tumu PNG-05.png");
  }
  .message {
    background-color: $blue-humming-bird;
    border-radius: 10px;
    color: $blue-st-tropaz;
    padding: 20px;
    position: relative;
    h4 {
      color: $blue-st-tropaz;
      margin-bottom: 10px;
      font-weight: 300;
    }
    .message-image {
      position: absolute;
      top: -10px;
      right: 40px;
      transform: rotateY(180deg);
    }
  }

  .blip {
    position: absolute;
    border-radius: 5px;
    background: $green-brand-bright;
    width: 40px;
    height: 2px;
    bottom: -2px;
    left: -100%;
    transition: all ease-out 0.2s;
    margin: 0 !important;
  }

  .group-title {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    padding: 7px 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: #232323;
    font-size: 17px;
    align-items: center;
    user-select: none;
    border-top: 3px $green-brand-bright solid;
    box-shadow: 0 1px 5px 1px #ccc;
    transition: all ease 0.2s;
    display: none;
    @include breakpoint($until: tablet) {
      font-size: 15px;
    }
    &.trigger {
      &:hover {
        color: $green-brand-bright;
        box-shadow: 0 5px 9px 3px #ddd;
      }

      > div i {
        margin-right: 10px;
        font-size: 24px;
        @include breakpoint($until: tablet) {
          font-size: 18px;
        }
      }
    }
    &.active {
      border-radius: 0;
      border-bottom-color: transparent;
    }
  }
  /*ITEM LIST*/
  .saved-items .item-list {
    color: #232323;
    display: none;
    padding: 0;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    // box-shadow: rgba(60, 64, 67, 0.3) 0px 3px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 0px;
    box-shadow: 0 4px 5px 1px #ccc;
    .empty-message {
      text-align: center;
      padding: 10px 0;
      a,
      a:hover,
      a:visited &:hover {
        color: #005ea5;
      }
    }

    .item-dates {
      display: block;
      color: #222;
      margin-bottom: 5px;
      font-weight: 600;
    }

    li {
      line-height: 1.1;
      position: relative;
      &.expired {
        background-color: #eccdcd;
        a {
          pointer-events: none;
        }
        .expired-text {
          color: #831212;
        }
      }
      button.remove-item {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        padding: 5px 10px;
        border-radius: 100px;
        opacity: 0;
        transition: opacity ease 0.2s;
        @include breakpoint($until: desktop) {
          opacity: 1;
        }
        &:active,
        &:focus {
          opacity: 1;
        }
      }
      &:hover,
      &:active,
      &:focus {
        button.remove-item {
          opacity: 1;
        }
      }
      a {
        padding: 8px 10px;
        display: block;
        text-decoration: none;
        border-bottom: 2px #eee solid;
        padding-right: 50px;

        &:hover {
          background-color: #f7f7f7;
        }
        &:visited {
          color: #005ea5;
        }
      }
      &:last-of-type {
        a {
          border: none;
        }
      }
    }
    .accordion-buttons {
      display: flex;
      padding-bottom: 10px;
      text-align: center;
      justify-content: center;
      margin-top: 10px;
      a,
      a:visited {
        color: #fff;
        text-decoration: none;
        &.secondary {
          color: #232323;
        }
        // &:hover {
        //     background-color: #fff;
        //     color: #232323;
        // }
        &:first-of-type {
          margin-right: 10px;
        }
        &.add-more {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  // Custom dropdown
  .saved-items-selector {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px #eee solid;
    .custom-dropdown {
      position: relative;
      min-width: 150px;
      .selector {
        border: 1px #eee solid;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        background-color: $green-brand-bright;
        border-radius: 10px;
        user-select: none;
        transition: background-color ease 0.2s;
        &:hover,
        &:active,
        &:focus {
          background-color: $green-nebula;
        }

        i {
          margin-left: 10px;
        }
        &.open {
          i {
            transform: rotateZ(180deg);
          }
        }
      }
      ul {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 1px 5px 1px #ccc;
        right: 0;
        z-index: 99;
        width: 100%;

        li {
          cursor: pointer;
          padding: 10px;
          &.active {
            background-color: $green-brand-bright;
          }
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
}

// Mouseflow tracking fix for sub menus and sidebar expandable menus

.mf-heatmap-clicked + ul {
  display: block !important;
}

// !Hide old nav on mobile (temporary)
@include breakpoint($until: desktop) {
  #mega-nav {
    display: none !important;
  }
}
