// Top menu panel
$global-panel-color:       $grey-silver;
$global-panel-hover-color: #BBB;
$global-panel-text-color:  $text-color;

//gradient (expected transparent -> bgcolor) on an element hinting it overlays something
$overlay-hint-size:      3rem;
$overlay-hint-offset:    .4rem; // Can be a negative number as long as ($OH-size + $OH-offset) > 0
$overlay-padding-offset: 3.8rem;


@include breakpoint( $until: tablet ) {
  .hide-on-mobile { display: none !important; }
}

@include breakpoint( tablet ) {
  .hide-on-desktop { display: none !important; }
}

.menu-toggle {
  @include clearfix;
  z-index:       $z-index-lower;
  position:      relative;
  background:    $black-brand;
  border-bottom: 1px solid rgba( $black, .15 );
}

.global {
  font-weight: $weight-normal;

  @include breakpoint( tablet ) {
    background-color: $global-panel-color;
  }

  .menu a {
    font-family: $heading-family;
    line-height: 1.85;

    &.home,
    &.back {
      line-height: 1.7;
    }

    &.home > span {
      margin-top: .05rem;
    }
  }

  // Top panel for mobile devices *only*!
  .horisontal-links {
    @include clearfix;
    display: flex;
    align-items: stretch;

    &.menu-toggle > a {
      padding-top: $gap-third * 2;
      padding-bottom: $gap-third * 2;
    }

    > a {
      @include column( 2 );
      display: flex;
      align-items: center;
      margin: 0;
      padding: $gap-half;
      border-bottom: 0;

      &:not(:first-child) { justify-content: flex-end; }
    }

    &.align-center > a { justify-content: center; }
  }

  @include icon-selector() {
    &::before {
      margin-right: 0;
      margin-left: 0;

      @include breakpoint( $until: tablet ) {
        margin-right: .5rem;
        line-height: 1;
      }
    }
  }

  [role=search] {
    @include clearfix();
    position: relative;
    display: block;
    width: 100%;

    .input-wrapper {
      @include clearfix();
      position: relative;
      display: block;

      input {
        float: left;
        padding: .45rem $base-spacing / 2;
        background: rgba( #000, .15 );
        border: 0;
        color: $white;

        &[type=text],
        &[type=submit] {
          display: none;
        }

        &[type=text] {
          width: calc( 100% - 4rem );
        }

        &[type=submit] {
          width: 4rem;
          border-left: 1px solid rgba( #000, .15 );
        }
      }
    }

    @include breakpoint( $until: tablet ) {
      z-index: $z-index-top;
      padding: $gap-half;
      border-bottom: 1px solid rgba( $black, .15 );

      .input-wrapper input {
        padding-top: $gap-content / 2;
        padding-bottom: $gap-content / 2;

        &[type=text] {
          &::placeholder {
            color: $grey-chalice;
          }
        }
      }
    }

    @include breakpoint( tablet ) {
      .input-wrapper {
        padding-right: 2.5rem;
        padding-left: $overlay-hint-size + $overlay-hint-offset;
        background: linear-gradient( to right,
        rgba( $global-panel-color, 0 ) 0,
        rgba( $global-panel-color, 1 ) $overlay-hint-size );

        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateX( 100% );

        input {
          line-height: 1.5;
          background:  $global-panel-hover-color;
          color:       $global-panel-text-color;
        }

        &.is-open {
          transform: translateX( 0 );

          input {
            &[type=text], //TODO: Nesting too deep, REFACTOR!
            &[type=submit] {
              display: inline-block;
            }
          }
        }
      }
    }

  }

  @include breakpoint( $until: desktop ) {
    padding: 0;
  }

  @include breakpoint( $until: tablet ) {
    .button-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      a {
        display: block;
        margin: 2px 0;
        padding: 0 .8rem;
        border: 0;
        border-left: 1px solid rgba( $white, .15 );
        text-align: right;
      }
    }

    [role=search] .input-wrapper input {
      &[type=text],
      &[type=submit] {
        display: inline-block;
      }
    }

    .menu {
      overflow: hidden;
      height: 0;
      will-change: transform;
      transition: transform $transition-timeout ease-in-out;
      transform: translateY( -100vh );
      background: $green-brand;

      .horisontal-links > a + a {
        border-left: 1px solid rgba( #000, .15 );
      }
    }

    &.is-open {
      background: $black-brand;

      .menu {
        transform: translateY( 0 );
        height: auto;
        max-height: 75vh;
      }

      .search {
        font-size: $text-size-huge;
      }
    }

    a {
      @include menu-item();
      display: block;
    }

    .mobile { display: block; }
  }

  @include breakpoint( tablet ) {
    .mobile,
    .site,
    .menu-toggle {
      display: none;
    }

    nav {
      @include clearfix;
      position: relative;
      max-width: $centered-max-width;
      margin: 0 auto;

      .search {
        z-index: $z-index-lower;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        // Search icon
        a {
          z-index: $z-index-lower;
          position: absolute;
          right: 0;
          padding-right: 0;
          padding-left: 0;
          width: 2.5rem;
          text-align: center;
        }

        // Transformation search icon
        .tcon {
          font-size: 80%;
          margin-top: .3rem;
        }
      }

      a {
        float: left;
        display: block;
        padding: $base-spacing / 5 $base-spacing / 2;
        border-bottom: 0;
        color: $global-panel-text-color;
        opacity: .8;
        font-size: .9375rem;

        &.selected,
        &:hover,
        &:focus {
          background: $global-panel-hover-color;

          span:not(.tcon-transform) .tcon-search__item::after {
            transition: none;
            background: $global-panel-hover-color;
          }
        }

        + a { border-left: 1px solid rgba( #000, .15 ); }
      }

      label { float: right; }
    }

  }
}
