/*============================================================================*\
| NAVIGATION - BREADCRUMBS
\*============================================================================*/

////
/// Breadcrumb-like main navigational component.
///
/// @group navigation

$breadcrumbs-size: $navigation-primary-item-size;
$breadcrumbs-separator-color: $kohuhu;

$breadcrumbs-last-child: $kohuhu;

$breadcrumbs-ellipsis-max-width: 18rem;
nav {
  .breadcrumbs {
    font-family: $heading-family;
    font-size: $breadcrumbs-size;
    letter-spacing: $navigation-letter-spacing;
    padding: 0;
    margin: 1rem 1.5rem;
    margin-left: 0.75rem;
    margin-bottom: 1.5rem;
    display: flex;
    padding-left: 0;
    overflow: hidden;
    flex-wrap: wrap;
    @include breakpoint($until: desktop) {
      margin: 1rem 0.75rem;
    }
    &.block {
      padding: 0;
    }

    a {
      // @include link-underline;
      color: $pounamu;
      &:hover {
        text-decoration: underline;
      }
    }

    // Breadcrumb item (current page and links)
    > li {
      background-color: $grey-light;
      display: flex;
      font-size: 90%;
      align-items: center;
      padding: 0.5em 1em;
      position: relative;
      padding-left: 1.5em;
      @include breakpoint($until: desktop) {
        padding: 0.5em 0.5em;
      }

      &:nth-last-child(2) {
        &:before {
          display: none;
        }
      }

      &:after {
        content: "\f156";
        font-family: "Favorites";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        position: relative;
        line-height: 1;
        right: -20px;
        font-size: 20px;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        color: $pounamu;
        margin: 0 0.3125em;
        @include breakpoint($until: desktop) {
          font-size: 15px;
          right: -5px;
        }
      }

      // First item? => Home with icon
      &:first-child a {
        @include extend-icon-before(home) {
          margin-right: _em($gap-small);
          vertical-align: 0;
          font-size: $text-size-tiny;
          text-decoration: none;
        }
      }

      // Separator
      // @include extend-icon-after(triangle-right) {
      //   margin: 0 _em($gap-small);
      //   font-size: $text-size-tiny;
      //   color: $breadcrumbs-separator-color;
      // }

      // Active page
      &:last-child {
        font-weight: $weight-semibold;
        // // color: $kowhai;
        // background-color: $breadcrumbs-last-child;
        // color: $pounamu;
        padding-right: 1.5em;
        clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);

        &::after,
        &::before {
          background-color: #fff !important;
          display: none;
        }
      }
    }

    @include breakpoint($until: desktop) {
      > li {
        white-space: nowrap;
      }

      a,
      li:last-child {
        overflow: hidden;
        vertical-align: middle;
        text-overflow: ellipsis;
        max-width: $breadcrumbs-ellipsis-max-width;
        white-space: nowrap;
      }
    }

    // If used within content panel, drop bottom padding to avoid double margins
    .content-panel & {
      padding-bottom: 0;
    }
  }
}
