//gradient (expected transparent -> bgcolor) on an element hinting it overlays something
$overlay-hint-size:      50px;
$overlay-hint-offset:    5px; // Can be a negative number as long as ($OH-size + $OH-offset) > 0
$overlay-padding-offset: 3.8rem;


@include breakpoint( $mobile-large-and-smaller ) {
  .hide-on-mobile { display: none !important; }
}

@include breakpoint( $tablet-and-bigger ) {
  .hide-on-desktop { display: none !important; }
}

.menu-toggle {
  @include clearfix;
  z-index:       $z-index-lower;
  position:      relative;
  background:    $black-victoria;
  border-bottom: 1px solid rgba( $black, .15 );

  .logo-mini {
    @include clearfix();
    height: 1.6rem;
  }
}

//TODO: Should be calculated dynamically by JS
.site-header {
  @include breakpoint( $mobile-large-and-smaller ) {
    padding-top: $overlay-padding-offset;
  }
}

.global {
  font-weight: $weight-normal;

  .menu a {
    font-family: $base-heading-family;
    line-height: 1.85;

    //TODO: Refactor
    &.home,
    &.back {
      line-height: 1.7;
    }

    &.home > span {
      margin-top: .05rem;
    }
  }

  //TODO: Is this deprecated?
  .horisontal-links {
    @include clearfix();

    > a {
      float: left;
      margin: 0;
      padding: $base-spacing / 2 $base-spacing;
      width: 50%;
      border-bottom: 0;
    }
  }

  @include icon-selector() {
    &::before {
      margin-right: 0;
      margin-left: 0;

      @include breakpoint( $mobile-large-and-smaller ) {
        margin-right: .5rem;
        line-height: 1;
      }
    }
  }

  [role=search] {
    @include clearfix();
    position: relative;
    display: block;
    width: 100%;

    .input-wrapper {
      @include clearfix();
      position: relative;
      display: block;

      input {
        float: left;
        padding: .45rem $base-spacing / 2;
        background: rgba( #000, .15 );
        border: 0;
        color: $white;

        &[type=text],
        &[type=submit] {
          display: none;
        }

        &[type=text] {
          width: calc( 100% - 4rem );
        }

        &[type=submit] {
          width: 4rem;
          border-left: 1px solid rgba( #000, .15 );
        }
      }
    }

    @include breakpoint( $mobile-large-and-smaller ) {
      z-index: 100;
      position: fixed;
      top:0;
      right: 0;
      left: 0;
      padding: $base-spacing / 2 $base-spacing;
      height: $overlay-padding-offset;
    }

    @include breakpoint( $tablet-and-bigger ) {
      background: $global-panel-color;
      box-shadow: 0 1px 8px rgba( #000, .35 );

      .input-wrapper {
        padding-right: 2.5rem;
        padding-left: $overlay-hint-size + $overlay-hint-offset;
        background: linear-gradient( to right,
        rgba( $global-panel-color, 0 ) 0,
        rgba( $global-panel-color, 1 ) $overlay-hint-size );

        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateX( 100% );

        input {
          background: $global-panel-hover-color;
          color: $global-panel-text-color;
        }

        &.is-open {
          transform: translateX( 0 );

          input {
            &[type=text], //TODO: Nesting too deep, REFACTOR!
            &[type=submit] {
              display: inline-block;
            }
          }
        }
      }
    }

  }

  @include breakpoint( $tablet-and-smaller ) {
    padding: 0;
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    .button-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      a {
        display: block;
        margin: 2px 0;
        padding: 0 .8rem;
        border: 0;
        border-left: 1px solid rgba( $white, .15 );
        text-align: right;
      }
    }

    [role=search] .input-wrapper input {
      &[type=text],
      &[type=submit] {
        display: inline-block;
      }
    }

    .menu {
      overflow-y: scroll;
      background: $green-victoria;
      max-height: 75vh;
      will-change: transform;
      transition: transform $transition-timeout ease-in-out;
      transform: translateY( -100vh );
    }

    &.is-open .menu { transform: translateY( 0 ); }

    a {
      @include menu-item();
      display: block;
    }

    .mobile { display: block; }
  }

  @include breakpoint( $tablet-and-bigger ) {
    .mobile,
    .site,
    .menu-toggle {
      display: none;
    }

    nav {
      @include grid-container;
      position: relative;
      max-width: $base-width;

      .search {
        z-index: $z-index-lower;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        a {
          z-index: $z-index-lower;
          position: absolute;
          right: 0;
          padding-right: 0;
          padding-left: 0;
          width: 2.5rem;
          font-size: 85%;
          text-align: center;
        }

        // Transformation icon
        .tcon { margin-top: .3rem; }
      }

      a {
        float: left;
        display: block;
        padding: $base-spacing / 5 $base-spacing / 2;
        border-bottom: 0;
        color: $global-panel-text-color;
        opacity: .8;
        font-size: .9375rem;

        &.selected,
        &:hover,
        &:focus {
          background: $global-panel-hover-color;

          span:not(.tcon-transform) .tcon-search__item::after {
            transition: none;
            background: $global-panel-hover-color;
          }
        }

        + a { border-left: 1px solid rgba( #000, .15 ); }
      }

      label { float: right; }
    }

  }
}
