/*==================================================
=                     Page Sub navigation          =
==================================================*/


  .page-sub-nav {
    @extend .footer-secondary;
    border-bottom: 5px solid #115737;

    .block {
      nav ul {
        justify-content: space-between;
        justify-content: space-evenly;
        a {

          font-size: 1.4em;

        }
      }
    }
  }