.site {
  z-index:    $z-index-lower;
  overflow:   hidden;
  background: $green-brand;

  [lang='mi'] { opacity: .5; }

  //TODO: Remove after productin
  .icon-right-open {
    float: right;
    margin: 0 -.6em;
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    > ul > li {

      @for $i from 0 through 5 {
        &:nth-child(#{$i + 1}) {
          padding-left: #{$i * $base-spacing / 2 };
        }
      }
    }

    > ul > li:last-child > a {
      display: none;
    }

    .layout & { display: none; }
  }

  @include breakpoint( $tablet-and-bigger ) {
    > ul > li {
      display: none;

      // Previous page, current page and its children
      &:last-child {
        display: block;

        // Previous page
        > a {
          @include extend-icon-before( arrow-up ) ;
          color: $grey-silver;
          font-size: 90%;

          @include hoverify { color: $white; }
        }

        // The parent + children
        //TODO: Refactor!
        > ul > li {
          // Parent
          > a {
            &.selected { padding-left: 11.5em; }
          }

          // Children
          li { padding-left: $base-spacing / 2; }
        }
      }
    }
  }

  &--container { position:relative; }  //TODO: Refactor!

  a { @include menu-item; }

  .has-subpages {
    a {
      // triangle icon on the edge of the menu button
      @include base-icon( after );

      padding-right: 2.2rem;

      &::after {
        @include triangle( right, .7em, .7em, $white );
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -.25em;
        margin-right: 1rem;
      }
    }
  }
}





/** New dynamic menu with expandable items */

$sidemenu-background:          $green-brand !default;
$sidemenu-background-selected: $green-bottle !default;

$sidemenu-text-color:          $grey-alto !default;
$sidemenu-text-hover-color:    #FFF !default;

$sidemenu-lineheight:          1.25 !default;
$sidemenu-size:                1.15em !default;

$sidemenu-delimiter-color: $green-bottle !default;


.sidemenu {
  z-index:    $z-index-lower;
  overflow:   hidden;
  margin:     0 0 $block-padding;
  background: $sidemenu-background;

  // All menu items
  ul {
    font-family: $heading-family;

    li {
      display: block;

      &.active > a {
        color: $sidemenu-text-hover-color;
        font-weight: $weight-semibold;

        &::before {
          @include objectify();
          background-color: $sidemenu-text-hover-color;
        }
      }
    }

    ul {
      display: none;
      font-weight: $weight-normal;
    }
  }

  a {
    position: relative;
    display: flex;
    align-content: stretch;
    color: $sidemenu-text-color;
    line-height: $sidemenu-lineheight;

    @include hoverify() {
      color: $sidemenu-text-hover-color;
      .btn-expander { color: $sidemenu-text-color; }
    }
  }

  // Root (1st) level menu & items
  > ul {
    font-size: $sidemenu-size;
    font-weight: $weight-semibold;

    > li {
      border-bottom: 1px solid $sidemenu-delimiter-color;

      > a { padding: .8rem .9rem; }

      &:last-child > a,
      &.active {
        border-bottom: 0;
      }

      &.active > a {
        padding-left: .35em;
        background-color: $sidemenu-background-selected;

        &::before {
          margin: -.2em .35em -.2em 0;
          width: 3px;
        }
      }
    }
  }

  .has-submenu {
    display: flex;

    // Flex behaviour
    > a { flex: 1 1; }

    > ul {
      flex-basis: 100%;
      flex-grow: 0;
    }

    &.expanded {
      overflow: hidden;
      flex-wrap: wrap;

      > ul { display: block; }

      > .btn-expander {
        &::after {
          @include objectify( $position: relative );
          @include triangle( up, .5em, .2em, $sidemenu-text-color );
          top: -.15em;
        }

        @include hoverify() {
          &::after {
            @include triangle( up, .5em, .2em, $sidemenu-text-hover-color );
          }
        }
      }
    }

    &:not(.expanded) {
      .btn-expander::after { content: '+'; }
    }

    &.active { background-color: $sidemenu-background-selected; }

    // 2nd level menu & items
    > ul {
      padding: .2em 0 .75em .9em;
      font-size: 95%;

      > li {
        border-left: 1px solid rgba( $white, .1 );

        > a { padding: .3em .85em .3em .7em; }

        &.active > a {
          padding-left: 0;

          &::before {
            margin: -.2em .5em -.2em 0;
            width: 2px;
          }
        }
      }
    }

    // 3rd level menu & items
    .has-submenu > ul {
      > li {
        border-left: 0;

        > a {
          padding-left: .3em;

          &::before { display: none; }
        }
      }
    }
  }

  .btn-expander {
    @include size( 1.4em );
    display: block;
    margin: 0 .5rem;
    align-self: center;
    cursor: pointer;
    text-align: center;
    font-weight: $weight-bold;
    color: $sidemenu-text-color;
    line-height: 1.4;
    font-size: 1.2em;
    border-radius: .7em;

    @include hoverify() {
      color: $sidemenu-text-hover-color;
      background-color: rgba( $black, .2 );
    }
  }

  // Mobile devices *only*, allows to hide/show the sidemenu
  .sidemenu-toggle {
    font-size:   $text-size-huge;
    font-weight: $weight-semibold;

    a {
      display: block;
      padding: .8rem .9rem;

      @include extend-icon-after( list ) {
        top: -.05em;
        float: right;
        font-size: 115%;
      }
    }

    &.expanded a {
      @include add-icon-after( caret-up-thin );
    }
  }

  @include breakpoint( $desktop-and-bigger ) {
    .sidemenu-toggle { display: none; }
  }

  @include breakpoint( $tablet-and-smaller ) {
    margin-top: 0;
    margin-bottom: 0;

    .sidemenu-toggle {
      + ul { display: none; } // The menu
      &.expanded + ul { display: block; }
    }
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    .btn-expander {
      @include size( auto );
      margin: 0 .35rem 0 0;
      line-height: 1.5;

      &::after {
        display: inline-block;
        margin: 0 .85em;
      }
    }

    .expanded > ul { font-size: 100%; }
  }

}
