/*==================================================
=                Side menu                         =
==================================================*/


.sidebar {
  nav {
    ul.sidemenu {

      > li {
        > a {
          text-decoration: underline;
        }
      }
      li {
        ul {
          padding-left: 20px;
        }
      }

      .active {
        background-color: rgba(255, 192, 203, 0.603);

        .active {
          background-color: rgba(255, 0, 0, 0.521);

        }
      }
    }
  }
}