/*============================================================================*\
| NAVIGATION - BREADCRUMBS
\*============================================================================*/

////
/// Breadcrumb-like main navigational component.
///
/// @group navigation


$breadcrumbs-size:               $navigation-primary-item-size;
$breadcrumbs-separator-color:    $icon-weakest-color;

$breadcrumbs-ellipsis-max-width: 18rem;


.breadcrumbs {
  font-family:    $heading-family;
  font-size:      $breadcrumbs-size;
  letter-spacing: $navigation-letter-spacing;

  a { @include link-underline; }

  // Breadcrumb item (current page and links)
  > li {
    display:     inline;

    // First item? => Home with icon
    &:first-child a {
      @include extend-icon-before( home ) {
        margin-right:   _em( $gap-small );
        vertical-align: 0;
        font-size:      $text-size-tiny;
        text-decoration: none;
      }
    }

    // Separator
    @include extend-icon-after( triangle-right ) {
      margin:    0 _em( $gap-small );
      font-size: $text-size-tiny;
      color:     $breadcrumbs-separator-color;
    };

    // Active page
    &:last-child {
      font-weight: $weight-semibold;
      color:       $text-weaker-color;

      &::after { display: none; }
    }
  }

  @include breakpoint( $until: desktop ) {
    > li { white-space: nowrap; }

    > li,
    a {
      display: inline-block;
    }

    a,
    li:last-child {
      overflow:       hidden;
      vertical-align: middle;
      text-overflow:  ellipsis;
      max-width:      $breadcrumbs-ellipsis-max-width;
      white-space:    nowrap;
    }
  }

  // If used within content panel, drop bottom padding to avoid double margins
  .content-panel & { padding-bottom: 0; }

  .breadcrumbs-full & {

    padding: 1rem 1.5rem;

    li {
      font-size: 90%;
    }
  }
}

.breadcrumbs-full {
  width: 100%;

  .breadcrumbs {
    display: flex;
    > li {
      display: flex;
      align-items: center;
      &:after {
        content:'î€½';
      }
    }

    a {
      &:before {
        top: 2px;
      }
    }
  }
}




