/*==================================================
=                     FOOTERS                      =
==================================================*/


/** PRIMARY FOOTER (dark one), usually placed on the very end of
    the page. 1 *MUST BE* used on a single page. */

$footer-logo-width:         20% !default;
$footer-logo-max-width:     15.5rem;
$footer-primary-background: $black-brand !default;
$footer-primary-color:      $grey-silver !default;
$footer-primary-separator:  1px solid $black-emperor !default;


.footer-primary .block {
  @include clearfix;

  @include breakpoint( tablet ) {
    display: flex;
  }
}



.footer-primary,
.page-sub-nav { // TODO: Refactor!
  background-color: $footer-primary-background;
  color:            $footer-primary-color;

  //TODO: Should be refactored to include underlines (currently, it's not clear these are links)
  ul {
    &,
    > li {
      display: inline-block;
    }

    > li { margin: 0 .35em; }

    a {
      text-decoration: none;
      border-bottom: 0;
      color: inherit;

      @include hoverify() {
        text-decoration: underline;

        img { text-decoration: none; }
      }
    }
  }

  .block {
    + .block {
      @include clearfix();
      border-top: $footer-primary-separator;
    }

    &.small { padding-top: 1em; }
  }

  // Logo & Contact info
  .logo {
    float: left;
    width: 25%;
    align-self: center;
    vertical-align: middle;

    img {
      display: inline-block;
      width: 100%;
      max-width: $footer-logo-max-width;
      vertical-align: middle;
    }
  }

  .contacts {
    float: left;
    padding: .5em 0 .5em 3.5em;
    width: 75%;
    vertical-align: middle;

    > li:last-child { margin-right: 0; }
    > li:first-child { margin-left: 0; }

    a {
      color: $white;
      font-weight: $weight-bold;
    }
  }


  // Foot-note like mini-menu + copyright at the end of the footer
  .small > * { font-size: .9em; }

  .copyright {
    float: right;
    display: block;
    flex-grow: 1;
    text-align: right;
  }

  .minilinks {
    float: left;

    > li {
      &:first-child { margin-left: 0; }
    }

    a {
      text-decoration: underline;

      @include hoverify { text-decoration: none; }
    }
  }

  @include breakpoint( $until: tablet ) {
    text-align: center;

    .contacts,
    .logo {
      // Re-use this
      float: none;
      display: block;
      width: 100%;
    }

    .contacts { padding-left: 0; }

    .copyright,
    .minilinks {
      float: none;
    }

    .copyright {
      margin-top: .75em;
      text-align: inherit;
    }

    .logo { margin-bottom: .5em; }
  }
}


/** SECONDARY FOOTER (light one), usually before the primary footer. 0-many CAN be used on a single page. */

$footer-secondary-background: $grey-alto !default;
$footer-secondary-separator:  1px solid $grey-silver !default;
$footer-secondary-color:      $text-color !default;
$footer-heading-margin-bottom: .75em;

.footer-secondary {
  background-color: $footer-secondary-background;

  h2 {
    line-height: 1.3;
    font-size: $h5-size; // ~ stadard <h4>'s size
  }

  nav ul {
    a {
      font-family: $heading-family;
      font-size: 1.125em;
      border-color: $footer-secondary-color;
      text-decoration: underline;

      @include hoverify() {
        border-bottom: 0;
        text-decoration: none;
      }
    }
  }

  ul {
    a { color: inherit; }
  }

  + .footer-secondary,
  .block + .block {
    border-top: $footer-secondary-separator;
  }

  // One block alone
  &:not(.two-columns) {
    h2 {
      float: left;
      margin-right: 2em;
    }

    // Stretches all the links to rest of the available width
    nav ul {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;

      > li { margin-right: 1.5em; }
    }

    .contacts {
      ul {
        &,
        > li {
          display: inline-block;
          margin-right: .75em;
        }
      }
    }
  }

  .contacts {
    address {
      font-style: inherit;
      color: $black-emperor;

      a {
        margin-right: .35em;
        color: $footer-secondary-color;
        font-weight: $weight-medium;
        border-bottom: 0;
        text-decoration: underline;

        @include hoverify() { text-decoration: none; }
      }

      ul {

        // Icons setup
        &::before {
          position: absolute;
          top: 2px;
          margin-left: -1.6rem;
          line-height: 1.4;
          font-size: 115%;
        }
      }
    }
  }

  // Contact-types
  .phones,
  .mails {
    position: relative;
    padding-left: 1.6rem;
  }

  .phones {
    @include extend-icon-before( phone );
  }

  .mails {
    @include extend-icon-before( mail );
  }


  // Two blocks next to each other
  &.two-columns {
    h2 { margin-bottom: $footer-heading-margin-bottom; }

    .block {
      @include column( 2 );

      &:first-child {
        padding-right: $base-spacing;
        //width: 10000px; // Correct widths hack
      }
    }

    // Turn links list into 2-columns to conserve space
    nav ul {
      overflow: hidden;

      li {
        float: left;
        display: block;
        margin-right: 2%;
        width: 48%;
      }
    }

    ul {
      margin-bottom: .8em;

      > li { margin: 0 0 .35em; }

      &:last-child { margin-bottom: 0; }
    }

    &.footer-connect {
      h4 {
        margin-bottom: .5rem;
        color: $black-tundora;
      }

      .centraliser {
        display: flex;
        align-items: center;
      }

      .social {
        text-align: center;

        .social-icon {
          img,
          svg {
            margin-right: .5rem;
            height: 3rem;
            width: 3rem;
            fill: #424242;
            padding: .5rem;

            @include hoverify {
              background-color: #eee;
              border-radius: 12px;
            }

          }
        }
      }

      nav {
        a {
          color: $blue-endeavoura;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            margin-right: 1.5rem;
            width: auto;
          }
        }
      }

      @include breakpoint( $until: tablet ) {
        .centraliser {
          flex-direction: column;
        }
      }
    }
  }

  &.footer-apply {
    background-color: $grey-gallery;
    border-top: solid 1px #ddd;
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        margin-right: 2rem;
        color: $black-tundora;
      }
    }
  }

  @include breakpoint( tablet ) {

    &.two-columns {
      .block {

        &:last-child {
          padding-left: $base-spacing;
          border-top: 0;

          // FIXME: Turn into a re-usable mixin
          @include before( $position: absolute ) {
            @include size( 0, 100% );
            top: 0;
            left: calc( 50% - #{ 1px / 2 } );
            border-left: $footer-secondary-separator;
          }
        }
      }
    }
  }

  @include breakpoint( $until: tablet ) {
    &:not( .two-columns ) {
      h2 {
        float: none;
        margin-bottom: $footer-heading-margin-bottom;
      }
    }

    &.two-columns {
      .block {
        //TODO: Reuse
        float: none;
        display: block;
        width: 100%;

        &:first-child { width: auto; }

        &:last-child {
          padding-top: $base-spacing;
          border-top: $footer-secondary-separator;
        }
      }

      nav ul {
        > li {
          float: none;
          width: auto;
        }
      }
    }
  }
}

/* FOOTER PORT FOR HOMEPAGE AND INTRANET */


footer {
  .footer-secondary {
    .site_links {
      display: flex;
      flex-wrap: wrap;

      .cols {
        width: calc(20% - 1rem);
        margin-right: 1rem;
      }

      h2 {
        float: none;
        margin: .5rem 0 .2rem;

        a {
          &:not(.button) {
            color: $black-tundora;
          }
        }
      }

      .button {
        margin-bottom: 0.7rem;
        line-break: anywhere;
      }

      a {
        @include hoverify() {
          text-decoration: underline;
        }
      }

      .link_list {
        a {
          font-size: .9rem;
        }

        .social_logo {
          width: 30px;
          margin-right: 0.1rem;
          margin-bottom: 0.2rem;
        }
      }
      @include breakpoint( $until: tablet ) {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        display: block;
        columns: 3;
        .link_list {
          display: none;
        }
        .cols {
          // width: calc(33% - 1rem);
          width: auto;
          margin-right: 1rem;
        }
      }
    }
    &.dark {

        background:$grey-dark;
        background-image:url( 'https://www.wgtn.ac.nz/__data/assets/image/0003/1940052/footer-pattern@2x.png'), url( 'https://www.wgtn.ac.nz/__data/assets/image/0003/1940052/footer-pattern@2x.png');;
        background-position:left top, right bottom;
        background-repeat:no-repeat;
        background-size:13%;
        padding:3% 0;


      a, li{
        color: $white;
        font-size: .9rem;
      }
      h4 a {
        font-size: 1.22rem;
      }

      h4 {
        margin-bottom: .5rem;
      }

      .footer-row {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
        grid-auto-rows: minmax(50px, auto);
        gap: 2rem;
      }

      h2 {
        margin: .5rem 0 .2rem;

        a {
          &:not(.button) {
            color: $white;
          }
        }
      }
      .footer-num {
        text-decoration: underline;
      }

      .lrg-offset{
        // width:26%;
      }

      .sml-offset{
        // width:15%;
      }

      @include breakpoint( $until: tablet ) {
        background-size: 25%;
        .footer-row {;
          gap: 1rem;
          grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
          .link_list {
            display: block;
          }
        }
      }

    }
  }
}
