/*==================================================
=                     Page Sub navigation          =
==================================================*/


.page-sub-nav {
  border-bottom: 5px solid $green-brand;
  background-color: $black-brand;

  .centraliser {
    nav {
      ul {
        justify-content: center;
        flex-wrap: nowrap;

        li {
          margin-right: 0;

          // TODO: Refactor - inappropriate depth
          a {
            display: block;
            padding: .5em 1.5em;
            font-size: 1.4em;
            color: $white;
            text-decoration: none;

            &.active { background-color: $green-brand; }

            @include hoverify() {
              text-decoration: underline;
              background-color: $green-brand;
              transition: all .5s ease;
            }

            @include breakpoint( $desktop-and-bigger ) {
              padding: .5em 1.2em;
            }

            @include breakpoint( $tablet-and-smaller ) {
              font-size: 1.2em;
            }
          }
        }

        @include breakpoint( $tablet-and-smaller ) {
          justify-content: flex-start;
          flex-wrap: wrap;

          li { width: 100%; }
        }
      }

    }

    &.nav-buttons {
      margin: 1.6rem 0;
      border: none;
      background-color: transparent;

      nav {
        > ul {
          margin: 0 1.6rem;
          > li {
            flex: 1 1 auto;
              a {
                background-color: $green-brand;
                border-radius: 2px;
                border-bottom: 5px solid $green-bottle;
                text-align: center;
                padding: .5rem 1rem calc( .5rem - 5px );


                @include hoverify() {
                  background-color: darken($green-brand, 5%);
                }

                &.active {
                  background-color: darken($green-brand, 5%);
                  border-bottom-color: lighten($green-bottle, 4%);

                  position: relative;

                  &:before {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    background-color: #FFF;
                    width: 3px;
                    height: 50%;
                    top: 55%;
                    transform: translateY(-50%);
                    left: .7rem;

                    @include breakpoint($desktop) {
                      left: 5%;
                    }
                  }
                }
              }

            &:not(:last-child) {
              margin-right: 1rem;
            }
          }

          @include breakpoint($tablet-and-smaller) {
            margin: 0;

            > li {
              a {
                text-align: left;
                border-radius: 0;
                padding: .5rem 1.5rem calc( .5rem - 3px );
                border-bottom-width: 3px;
              }

              &:not(:last-child) {
                margin-right: 0;
              }
            }
          }

          @include breakpoint($desktop-and-bigger) {
            > li {
              a {
                // fixes border-radius rogue pixel;
                background-clip: padding-box;

              }
            }
          }
        }
      }

      @include breakpoint($tablet) {
        margin-top: 0;
      }
    }
  }
}
