.site {
  z-index:    $z-index-lower;
  overflow:   hidden;
  background: $green-victoria;

  [lang="mi"] { opacity: .5; }

  //TODO: Remove after productin
  .icon-right-open {
    float: right;
    margin: 0 -.6em;
  }

  @include media( $mobile-large-and-smaller ){
    & > ul > li {

      @for $i from 0 through 5 {
        &:nth-child(#{$i+1}) {
          padding-left: #{$i * $base-spacing/2 };
        }
      }

    }

    & > ul > li:last-child > a {
      display: none;
    }

    .layout & { display: none; }
  }

  @include media( $tablet-and-bigger ){
    & > ul > li {
      display: none;

      // Previous page, current page and its children
      &:last-child {
        display: block;

        // Previous page
        > a {
          @include extend-icon-before( arrow-up ) ;
          color: $grey-silver;
          font-size: 90%;

          @include hoverify { color: $white; }
        }

        // The parent + children
        > ul > li {
          // Parent
          > a {
            &.selected { padding-left: 11.5em; } //TODO: Refactor!
          }

          // Children
          li { padding-left: $base-spacing / 2; }
        }
      }
    }
  }

    &--container { position:relative; }  //TODO: Refactor!

    a { @include menu-item; }


    .has-subpages {
      a {
        padding-right: 2.2rem;

        // triangle icon on the edge of the menu button
        @include base-icon( after );

        &:after {
          @include triangle( .7em, $white, right );
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -.25em;
          margin-right: 1rem;
        }
      }
    }
}



