/*==================================================
=            Site header with hamburger tray         =
==================================================*/

$page-sub-nav-border: $brand !default;
$page-sub-nav-bg: $brand-dark !default;
$page-sub-nav-active-item-bg: $brand !default;
$page-sub-nav-hover-bg: $brand-darker !default;

$green-linear-gradient: linear-gradient(
    90deg,
    #115737 0%,
    #52951c 67%,
    #77ba49 100%
  )
  0% 0%;
$green-top-gradient: linear-gradient(
    180deg,
    #115737 0%,
    #52951c 67%,
    #77ba49 100%
  )
  0% 0%;

$header-bg: $black-brand;
$tray-width-desktop: 400px;

:root {
  --tray-width-desktop: 400px;
}

@keyframes delay-visibility-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes delay-visibility-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes menu-slide-in {
  0% {
    transform: translateX(100%);
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes menu-slide-out {
  0% {
    transform: translateX(0);
    visibility: visible;
  }

  99% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
    transform: translateX(100%);
  }
}

.noscroll {
  overflow: hidden;
}

.main-site-header {
  .header-toggle {
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
    // flex: 0 1 5%;
    flex: 1;

    button {
      position: relative;
      padding: 0;
      width: 50px;
      text-decoration: none;
      border-radius: 50%;

      @include hoverify() {
        background-color: $black-tundora;
      }

      i {
        margin: 0 0.5rem;
        color: $black-brand;
        font-size: 1.8rem;

        &:before {
          margin: 0;
          display: inline;
        }
      }

      .text-menu-button {
        font-size: 0.7rem;
        position: absolute;
        bottom: -5px;
        left: 35%;
        transform: translateX(-50%);
      }
    }

    // .search-toggle {
    //   display: none;
    // }

    @include breakpoint($until: desktop) {
      .search-toggle {
        display: block;
      }
    }
  }
}

.tray .tray-content .btn-expander::after {
  // Down arrow
  content: "\f17a";
  display: inline-block;
  font-family: "Favorites";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1.8;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border: none;
  width: auto;
  height: auto;
  top: initial;
}

.main-site-header {
  &.header-tray {
    .header-inner {
      z-index: 3;
      display: flex;
      align-items: center;

      .header-logo {
        width: 25%;
        padding-left: 0;
      }

      .header-content {
        padding-left: 1rem;
        width: 45%;

        @include hoverify() {
          a {
            h1,
            h2,
            h3,
            h4,
            p {
              text-decoration: underline;
            }
          }
        }
      }

      .header-search {
        width: 20%;
        flex: 1;
      }

      .tray {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        // pointer-events: none;

        &.tray-open {
          display: block;
          animation: delay-visibility-in 0.3s cubic-bezier(0.77, 0, 0.175, 1)
            forwards;

          .tray-content {
            // transform: translate3d(0,0,100%);
            animation: menu-slide-in 0.6s cubic-bezier(0.77, 0, 0.175, 1)
              forwards;
          }
        }

        &.tray-closed {
          display: none;
          animation: delay-visibility-out 0.3s cubic-bezier(0.77, 0, 0.175, 1)
            forwards;

          .tray-content {
            visibility: hidden;
            animation: menu-slide-out 0.6s cubic-bezier(0.77, 0, 0.175, 1);
          }
        }
      }

      .tray-content {
        // transition: all .4s ease-in;
        padding: 1rem;
        z-index: 150;
        height: 100vh;
        background-color: $header-bg;
        margin-left: calc(100vw - 400px);
        width: $tray-width-desktop;
        overflow-y: scroll;
        overflow-x: hidden;

        // > * {
        //   margin: 0 15px;
        // }
        .tray-inner-content {
          padding: 0 15px;
          height: 100%;
          display: flex;
          flex-direction: column;
        }
        .tray-search-bar {
          margin-bottom: 1rem;
        }

        .tray-main-nav {
          margin-top: 1rem;
          margin-bottom: 1rem;
          .main-nav-list {
            position: relative;
            .tall-blip {
              height: 0;
              width: 3px;
              position: absolute;
              background-color: #ccc;
              left: 0;
              transition: all ease-out 0.2s;
              z-index: 99;
            }
            > li {
              border-bottom: 1px $grey-alto solid;
              > a.main-nav-link {
                padding-bottom: 15px;
                padding-top: 15px;
                transition: all ease 0.2s;
              }
              &:not(.homesite) {
                margin-left: 40px;
              }
            }
            &.hub-page {
              > li {
                border-bottom: none;
                margin-bottom: 0;
                > a {
                  padding: 10px;
                  background-color: #f7f7f7;
                }
              }
            }
          }

          li.main-nav-item {
            position: relative;
            line-height: 1.2;
            background-color: $white;
            border-left: 0px $green-brand-bright solid;
            transition: all ease 0.2s;
            display: flex;
            flex-wrap: wrap;
            user-select: none;

            &.homesite {
              margin-left: 0;
              margin-left: 0;
              .connector {
                position: absolute;
                left: 10px;
                bottom: -50px;
                z-index: 99;
                width: 25px;
              }
              .btn-expander {
                padding: 15px 15px;
              }
              > a {
              }
              > ul {
                display: none;
                flex: 1 0 auto;
                li {
                  > a {
                    border-bottom: 1px transparent solid;
                    border-top: 1px transparent solid;
                    transition: all ease 0.3s;
                    .tereo-nav-title {
                      color: $green-brand;
                    }
                    &:hover {
                      border-color: $green-brand-bright;
                      z-index: 90;
                    }
                  }
                }
              }
              .main-nav-item {
                display: flex;
                align-items: center;
                i {
                  font-size: 18px;
                  margin-right: 10px;
                  position: absolute;
                  z-index: 99;
                  right: 5px;
                  top: 30%;
                }
              }

              &.expanded {
                -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
                z-index: 90;
                .main-nav-item > a {
                  background-color: #fff;
                }
              }
            }

            > .btn-expander {
              width: auto;
              margin: 0;
              border-radius: 0;
              padding: 10px 15px;
              margin-left: -25px;
              z-index: 99;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              clip-path: polygon(0% 0px, 100% 0%, 100% 100%, 10px 100%);
              background-color: $grey-gallery;

              &:after {
                transition: all ease 0.2s;
                line-height: 2;
              }
            }

            &.active {
              // border-left: 5px $green-brand solid;
              // border-bottom-color: $green-brand;
              box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
              // z-index: 90;
              > a {
                background-color: $white;
              }
            }
            &.expanded {
              .tereo-nav-title {
                color: #fff;
              }
              > .btn-expander {
                background-color: $grey-gallery;

                &:after {
                  transform: rotateZ(180deg);
                }
              }
            }
            &:active,
            &:focus,
            &.expanded {
              // border-left: 5px $green-brand solid;
              -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
              z-index: 90;
            }
            &:hover {
              box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
              z-index: 90;
            }

            .tereo-nav-title {
              display: block;
              color: $green-brand;
              font-size: 16px;
              margin-bottom: 5px;
            }

            a {
              display: block;
              color: $black-tundora;
              text-decoration: none;
              position: relative;
              z-index: 50;
              font-family: $font-name-brand;
              padding: 10px;
              font-size: 18px;
              .tereo-title {
                display: block;
                display: none;
                color: $green-brand;
              }
              &.active {
                font-weight: 600;
                position: relative;
              }
            }

            > a {
              padding: 10px;
              padding-right: 50px;
              position: initial;
              flex: 85%;

              &.active {
                background-color: $green-brand-bright;
                color: #fff;
              }
            }
            @include breakpoint($until: desktop) {
            }
            .mobile-tray-menu {
              display: none;
            }

            // ALL LEVELS
            ul {
              font-size: 16px;

              li {
                border-left: 0px $green-brand-bright solid;
                overflow: hidden;
                transition: all ease 0.3s;

                a {
                  font-size: 16px;
                  @include breakpoint($until: desktop) {
                    font-size: 14px;
                  }
                  &:active,
                  &:focus {
                    color: $green-brand-bright;
                    outline: 2px dotted #ccc;
                    outline-offset: -2px;
                  }
                  &:hover {
                    color: $green-brand-bright;
                  }
                }
                &.expanded {
                  > a,
                  > span {
                    color: $green-brand-bright;
                  }
                }
                &:hover {
                  // border-left: 5px $green-brand-bright solid;
                }
                &.has-submenu {
                  overflow: hidden;
                  display: flex;
                  flex-wrap: wrap;
                  > a {
                    flex: 1 1 auto;
                  }
                  .btn-expander {
                    margin-right: 10px;
                    width: auto;
                    height: auto;
                    padding: 3px 8px;
                    border-radius: 100px;
                    cursor: pointer;
                    height: 32px;
                    width: 32px;
                  }

                  > .btn-expander {
                    // transition: all ease 0.2s;
                    z-index: 505;
                    position: relative;
                    &:hover {
                      background-color: $grey-gallery;
                    }
                    &:active,
                    &:focus {
                      background-color: $grey-gallery;
                    }

                    &:after {
                      transition: all ease 0.2s;
                    }
                  }
                  ul {
                    transition: all ease 0.3s;
                    overflow: hidden;
                    max-height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    display: block;
                    border-left: 0px white solid;
                    width: 100%;

                    li {
                      &.expanded {
                        > a {
                          color: $green-brand-bright;
                        }
                      }
                    }
                  }
                  > ul {
                    > li {
                      border-left: none;
                      a {
                        font-size: 15px;
                        @include breakpoint($until: desktop) {
                          font-size: 14px;
                        }
                        padding: 10px 30px 10px 15px;
                      }
                      &.has-submenu {
                        a {
                          padding-right: 10px;
                        }
                      }

                      // BOTTOM LEVEL
                      > ul {
                        > li {
                          a {
                            padding-right: 10px;
                            font-size: 14px;
                            @include breakpoint($until: desktop) {
                              font-size: 13px;
                            }
                          }
                          .btn-expander {
                            margin-right: 5px;
                          }
                        }
                      }
                    }
                  }
                  &.expanded {
                    // box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
                    z-index: 1;

                    > .btn-expander {
                      &:after {
                        transform: rotateZ(180deg);
                      }
                      color: $green-brand-bright;
                    }

                    > ul {
                      max-height: 800px;
                      border-left: 1px $grey-alto solid;
                      margin-left: 20px;

                      &.taller {
                        max-height: 1500px;
                      }
                      &.tallest {
                        max-height: 2500px;
                      }
                      li {
                        border-left: none;
                      }
                    }

                    // JOINING ARROWS IN NESTED LISTS
                    ul {
                      li {
                        position: relative;
                        overflow: visible;

                        &:before {
                          content: "";
                          background-color: $grey-silver;
                          position: absolute;
                          left: -6px;
                          top: 19px;
                          height: 1px;
                          width: 16px;
                        }
                      }
                      // NESTED CHILD JOINING ARROW ADJUSTMENT
                      > ul {
                        border-left: 1px $grey-silver solid;
                        margin-left: 10px;
                        li {
                          &:before {
                            left: -16px;
                            width: 20px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .tray-search-bar {
        }

        .tray-sub-menu {
          margin-top: auto;
          margin-bottom: 2rem;
          position: relative;

          .sub-menu-background {
            background-image: url("../images/patterns/pattern-05.svg");
            background-repeat: no-repeat;
            transform: rotateZ(-90deg);
            height: 600px;
            width: 157px;
            position: absolute;
            left: 144px;
            top: -362px;
            background-size: 150px;
          }
          h4 {
            margin-bottom: 15px;
            color: $green-brand;
            margin-top: 1rem;
          }
          .sub-menu-list {
            display: flex;
            flex-wrap: wrap;
            .sub-menu-item {
              width: 50%;
              padding: 0.1rem 0;
              z-index: 10;
              &:last-of-type {
                margin: auto;
                width: 60%;
              }

              // Icons
              &.about {
                a {
                  &:before {
                    content: "\f18e";
                  }
                }
              }
              &.library {
                a {
                  &:before {
                    content: "\f135";
                  }
                }
              }
              &.blackboard {
                a {
                  &:before {
                    content: "\f1a4";
                  }
                }
              }

              &.maps {
                a {
                  &:before {
                    content: "\f197";
                  }
                }
              }

              &.staff-intranet {
                a {
                  &:before {
                    content: "\f191";
                  }
                }
              }
              &.mytools {
                a {
                  &:before {
                    content: "\f186";
                  }
                }
              }
              &.learning-\&-teaching {
                a {
                  &:before {
                    content: "\f1a3";
                  }
                }
              }

              a {
                text-decoration: none;
                background-color: #fff;
                border-radius: 10px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                border: 1px $grey-alto solid;
                margin-bottom: 5px;
                margin-right: 5px;
                transition: box-shadow ease 0.3s, transform ease 0.1s;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                &:hover,&:focus {
                  transform: translateY(-2px);
                  // outline: 2px $kowhai solid;
                  background-color: $green-brand-light;
                  // color: #fff;
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
                    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                }
                &:active {
                  transform: translateY(-0px);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -5px,
                    rgba(0, 0, 0, 0.04) 0px 5px 5px -5px;
                }

                &:before {
                  content: "";
                  display: inline-block;
                  font-family: "Favorites";
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  line-height: 1;
                  text-decoration: inherit;
                  text-rendering: optimizeLegibility;
                  text-transform: none;
                  -moz-osx-font-smoothing: grayscale;
                  margin-right: 4px;
                  font-size: 120%;
                }
              }
            }
          }
        }

        .tray-close {
          margin: -1rem -1rem 1rem -1rem;
          padding: 0.6rem 1.5rem;
          background-color: $black-tundora;

          .close-tray {
            transition: 0.3s ease-in;
            color: $white;
            padding: 0;
            text-decoration: none;

            @include hoverify() {
              opacity: 0.8;
            }

            span {
              font-size: 1.3rem;
            }
          }
        }
      }

      &.intranet {
        .header-search {
          max-width: 270px;
          margin-left: auto;
        }

        .header-toggle {
          flex: none;
        }

        .tray-toggle {
          display: none;
        }

        .header-toggle {
          display: none;
        }

        @include breakpoint($until: desktop) {
          .header-search {
            display: block;
            margin-left: 0.5rem;
          }
        }

        @include breakpoint($until: tablet) {
          .search-input {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
          }
        }
      }
    }

    @include breakpoint($until: desktop) {
      .header-search {
        display: none;
      }

      .header-toggle {
        margin-left: auto;
      }
    }

    @include breakpoint($until: tablet) {
      .header-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        > * {
          width: auto !important;
        }

        .header-logo {
          margin-right: auto;
          grid-column-start: 1;
          grid-row: 1 / 3;
        }

        .header-toggle {
          grid-column-start: 2;
          grid-row-start: 1;

          .text-menu-button {
            display: none;
          }
        }

        .header-content {
          grid-column-start: 2;
          grid-row-start: 2;
          margin-left: auto;
        }

        .tray {
          .tray-content {
            margin-left: calc(100vw - 80%);
            width: 80%;
          }
        }
      }
    }
  }

  &.victorious-header {
    background-color: $white;
    border-bottom: none;

    // IE
    position: fixed;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: $z-index-top;
    padding-top: 0;
    margin-bottom: 20px;

    .header-inner {
      .header-logo {
        border-right: none;
        width: 20%;
        padding: 0.1rem 0.5rem 0.1rem;

        img {
          @include target-ie {
            height: 50px;
          }
        }
      }

      .vict-logo {
        padding: 0 1rem;
        // width: 45%;
        flex: 1 0 auto;

        position: relative;
        transition: all 0.2s ease-in-out;

        img {
          // position: absolute;
          // top: 40px;
          transition: all 0.2s ease-in-out;
          transform: matrix(2, 0, 0, 2, 0, 80);

          @include target-ie {
            transform: matrix(2, 0, 0, 2, 0, 40);
          }

          // width: 100%;
          max-width: 50%;
          margin: 0 auto;
          display: block;
        }
      }

      .header-search {
        width: unset;
        flex: 0;
      }

      .header-toggle {
        flex: 0 1 5%;
        margin: 0;

        @include target-ie {
          flex: 0 1 10%;
        }

        button {
          // position: relative;
          // padding: 0;
          // width: 50px;
          // text-decoration: none;
          // border-radius: 50%;
          display: block;

          @include hoverify() {
            background-color: $grey-gallery;
          }

          span {
            color: $black-tundora;
            font-size: 2rem;
          }
        }
      }
    }

    &.header-shrink {
      margin-bottom: 0;

      .header-inner {
        .vict-logo {
          transition: all 0.2s ease-in-out;

          img {
            // position: relative;
            // top: 0;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transition: all 0.2s ease-in-out;
            width: 100%;
            max-width: 50%;
          }
        }
      }
    }

    @include breakpoint($until: tablet) {
      margin-bottom: 1rem;

      .header-inner {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;

        .header-logo {
          margin-right: auto;
          grid-column-start: 1;
          grid-row: 1;

          img {
            max-width: 50px;
          }
        }

        .header-toggle {
          grid-column-start: 3;
          grid-row-start: 1;

          // .text-menu-button {
          //   // display: none;
          // }
        }

        .vict-logo {
          grid-column: 1/4;
          grid-row-start: 2;

          img {
            transform: matrix(2, 0, 0, 2, 0, 30);
            top: 0;
            position: relative;
          }
        }
      }

      &.header-shrink {
        .header-inner {
          .vict-logo {
            grid-column: 2;
            grid-row-start: 1;

            img {
              max-width: 95%;
            }
          }
        }
      }
    }

    .tray.tray-open {
      overflow-y: scroll;
      overflow-x: hidden;

      .tray-close {
        background-color: $white;
        text-align: right;

        .close-tray {
          color: #040404;
          width: 35px;
          height: 35px;

          span {
            &:before {
              margin: 0;
            }
          }
        }
      }

      .tray-title {
        color: $black-mine-shaft;
        margin: 2rem 0 1rem;

        .issue {
          font-family: proxima-nova, sans-serif !important;
          text-transform: uppercase;
        }
      }

      .tray-content {
        background-color: $white;
        height: auto;
        padding-bottom: 2rem;

        .tray-main-nav {
          .main-nav-item {
            padding: 1rem 0 1rem;
            border-bottom: 1px solid $black-mine-shaft;

            .main-nav-link {
              color: $black-mine-shaft;
              font-size: 1.2rem;

              &.active {
                // font-weight: 400;
              }
            }
          }
        }

        .past-issues {
          margin-top: 1.5rem;
          display: flex;
          flex-wrap: wrap;

          a {
            color: $black-mine-shaft;
            flex: 1 1 100%;
            display: flex;
            justify-content: space-between;
          }

          span {
            color: $black-mine-shaft;
          }

          .issues {
            display: none;
            flex: 1 0 100%;
            padding: 0.5rem 0;

            li {
              margin: 0.2rem 0;
            }
          }
        }
      }
    }
  }

  &.white {
    background-color: $white;
    border-bottom: none;

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 6px;
      background: $green-linear-gradient;
    }

    .logo {
      border-right-color: $grey-silver;
    }

    .header-inner {
      .header-content {
        h1,
        p {
          color: $green-brand;
          font-weight: 600;
          letter-spacing: 0.4px;
          font-family: $font-name-brand;
          font-size: 2.21rem;
          line-height: 1.08;
        }

        .tereo-title,
        p.tereo-title {
          color: $black-tundora;
          font-size: 1.5rem;
          font-family: $font-name-brand;
          letter-spacing: 0.2px;
          line-height: 1.08;
        }
      }
    }

    .header-search {
      form {
        border-radius: $radius;
        border: 1px solid $black-emperor;
      }
    }

    .header-toggle {
      .search-toggle,
      .tray-toggle {
        .icon-menu,
        .icon-search {
          color: $black-tundora;
        }

        @include hoverify() {
          background-color: $grey-gallery;
        }
      }

      // @include breakpoint($until:desktop) {

      .search-toggle {
        height: 50px;

        span {
          color: $black-tundora;
        }

        @include hoverify() {
          span {
            color: $white;
          }
        }
      }
      // }
    }

    &.header-tray {
      .tray-content {
        background-color: $white;
        // background-image: url("https://www.wgtn.ac.nz/__data/assets/image/0008/1935395/tray-pattern@2x.png");
        // background-repeat: no-repeat;
        // background-position: bottom right;
        // background-size: 55%;
        display: flex;
        flex-direction: column;

        &:before {
          content: "";
          height: calc(100% + 1rem);
          width: 3px;
          background: $green-top-gradient;
          display: block;
          position: absolute;
          left: 0;
          top: -1rem;
        }

        .tray-search-bar {
          form {
            border: 2px solid $black-emperor;
            border-radius: $radius;

            .search-input {
              background-color: #fff;
              color: $grey-dove;

              &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $grey-chalice;
                opacity: 1;
                /* Firefox */
              }
            }

            .submit-button {
              span {
                color: $black-emperor;
              }
            }
          }
        }

        .tray-close {
          background-color: $brand;
        }
      }
    }

    @include breakpoint($until: tablet) {
      .header-inner {
        grid-template-rows: 1fr;

        .header-content {
          display: none;
        }

        .header-logo {
          grid-row: 1 !important;
        }
      }
    }
  }

  &.green {
    background-color: $brand;
    border-bottom-color: #09653a;

    // &:after {
    //   display: block;
    //   content: '';
    //   width: 100%;
    //   height: 6px;
    //   background: $green-linear-gradient;
    // }

    .logo {
      border-right-color: $green-brand-weaker;
    }

    .header-inner {
      .header-content {
        h1 {
          color: $white;
          font-weight: 600;
        }

        .tereo-title {
          color: $grey-alto;
          font-size: 1.5rem;
        }
      }
    }

    .header-search {
      form {
        border-radius: $radius;
        // border: 1px solid #2B694D;

        .search-input {
          border-radius: $radius;
          background-color: $white;
          border: 1px solid #2b694d;

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey-chalice;
            opacity: 1;
            /* Firefox */
          }
        }

        .submit-button {
          .icon-search {
            color: $black-tundora;
          }
        }
      }
    }

    .header-toggle {
      .tray-toggle {
        .icon-menu {
          // color: $black-tundora;
        }

        &:hover {
          background-color: lighten($brand, 10%);
        }
      }
    }

    &.header-tray {
      .tray-content {
        background-color: $white;

        &:before {
          content: "";
          height: calc(100% + 1rem);
          width: 3px;
          background: $green-top-gradient;
          display: block;
          position: absolute;
          left: 0;
          top: -1rem;
        }

        .tray-main-nav {
          li.main-nav-item {
            border-bottom: 1px solid $black-tundora !important;

            a {
              color: $black-tundora;
            }

            &:not(:last-child) {
            }
          }
        }

        .tray-search-bar {
          form {
            border-radius: $radius;
            // border: 1px solid #2B694D;

            .search-input {
              border-radius: $radius;
              background-color: $white;
              border: 1px solid $black-tundora;

              &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $grey-chalice;
                opacity: 1;
                /* Firefox */
              }
            }

            .submit-button {
              .icon-search {
                color: $black-tundora;
              }
            }
          }
        }

        .tray-close {
          background-color: $brand;
        }
      }
    }
  }

  &.subjects-header {
    padding-top: 0;

    .header-inner {
      .header-content {
        @include hoverify {
          h1,
          h2 {
            text-decoration: none !important;
          }
        }
        .crumbs {
          ul {
            display: flex;
            align-items: center;
            gap: 1rem;

            .home span {
              color: $green-brand;

              &::before {
                vertical-align: 0;
                margin: 0;
              }
            }

            li {
              display: flex;
              align-items: center;

              a {
                color: $black-tundora;
                font-weight: 500;
                text-decoration: none;
                @include hoverify() {
                  text-decoration: underline;
                }
              }

              &::after {
                content: "";
                position: relative;
                display: inline-block;
                font-family: "VicIcons";
                font-size: 1.3rem;
                color: $green-brand;
                margin-left: 0.5rem;
              }
            }
          }
        }
        .subject-title {
          margin-top: 0.2rem;
          @include hoverify {
            h1,
            h2,
            p {
              text-decoration: underline !important;
            }
          }
          a {
            display: flex;
            align-items: center;
          }

          .tereo-title,
          p.tereo-title {
            font-size: 2rem;
            color: $green-brand;
            font-weight: 400;
            font-family: $font-name-brand;
            line-height: 1.08;
          }

          h1,
          p {
            font-size: 2rem;
            color: $black-tundora;
            font-family: $font-name-brand;
            line-height: 1.08;
          }

          span {
            font-size: 1.5rem;
            margin: 0 0.5rem;
            color: $grey-silver;
          }
        }
      }
    }

    .header-search {
      display: none;
    }

    .header-toggle {
      margin-left: auto;
      .search-toggle {
        display: block;
      }
    }
  }
}

// Mouseflow tracking fix for sub menus and sidebar expandable menus

.mf-heatmap-clicked + ul {
  display: block !important;
}
