//gradient (expected transparent -> bgcolor) on an element hinting it overlays something
$overlay-hint-size: 50px;
$overlay-hint-offset: 5px; //can be a negative number as long as ($OH-size + $OH-offset) > 0

$overlay-padding-offset: 3.8rem;

@include media( $mobile-large-and-smaller ){
  .hide-on-mobile { display: none !important; }
}

@include media( $tablet-and-bigger ){
  .hide-on-desktop { display: none !important; }
}


.menu-toggle {
  position:      relative;
  z-index:       1;
  background:    $black-victoria;
  border-bottom: 1px solid rgba( #000,.15 );

  @include clearfix;

  .logo-mini {
    @include clearfix();
    height: 1.6rem;
  }
}

//TODO: Should be calculated dynamically by JS
.site-header {
  @include media( $mobile-large-and-smaller ){
    padding-top: $overlay-padding-offset;
  }
}

.global {
  font-weight: $weight-normal;

    @include media( $tablet-and-bigger ){
      background: $global-panel-color;
    }

  @include media( $mobile-large-and-smaller ){
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    height: $overlay-padding-offset;
  }

  .menu a {
    font-family: $base-heading-family;
    line-height: 1.85;

    //TODO: Refactor
    &.home,
    &.back {
      line-height: 1.7;
    }

    &.home > span {
      margin-top: rem( 1px );
    }
  }

  //TODO: Is this deprecated?
  .horisontal-links {
      @include clearfix();

      > a {
        float: left;
        width: 50%;
        margin: 0;
        padding: $base-spacing/2 $base-spacing;
        border-bottom: none;
      }
  }

  @include icon-selector() {
    &:before {
      margin-left: 0;
      margin-right: 0;

      @include media( $mobile-large-and-smaller ){
        margin-right: .5rem;
        line-height: 1;
      }
    }
  }

  [role=search]{
    @include clearfix();
    display: block;
    position: relative;
    width: 100%;

    @include media( $mobile-large-and-smaller ){
      padding: $base-spacing/2 $base-spacing;
    }

    .input-wrapper {
      display: block;
      position: relative;
      @include clearfix();

      input {
        background: rgba( #000, .15);
        border: none;
        color: $white;
        float: left;
        padding: .45rem $base-spacing/2;


        &[type=text],
        &[type=submit] {
          display: none;
        }

        &[type=text] {
          width: calc(100% - 4rem);
        }

        &[type=submit] {
          width: 4rem;
          border-left: 1px solid rgba(#000, .15);
        }
      }
    }

    @include media( $tablet-and-bigger ){
      box-shadow: 0 1px 8px rgba( #000, .35 );

      .input-wrapper {
        background: linear-gradient(
          to right,
          rgba($global-panel-color, 0) 0,
          rgba($global-panel-color, 1) $overlay-hint-size);
        padding-left: $overlay-hint-size + $overlay-hint-offset;
        padding-right: 2.5rem;

        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateX(100%);

        input {
          background: $global-panel-hover-color;
          color: $global-panel-text-color;
        }

        &.is-open {
          input {
            &[type=text],
            &[type=submit] {
              display: inline-block;
            }
          }

          transform: translateX( 0 );
        }
      }
    }
  }

  @include media( $tablet-and-smaller ){
    padding: 0;
  }

  @include media( $mobile-large-and-smaller ){
    .button-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      a {
        display: block;
        margin: 2px 0;
        padding: 0 .8rem;
        border: none;
        border-left: 1px solid rgba( $white, .15);
        text-align: right;
      }
    }

    [role=search] .input-wrapper input {
      &[type=text],
      &[type=submit] {
        display: inline-block;
      }
    }

    .menu {
      background: $green-victoria;
      max-height: 75vh;
      overflow-y: scroll;
      will-change: transform;
      transition: transform $transition-timeout ease-in-out;
      transform: translateY(-100vh);
    }

    &.is-open .menu { transform: translateY(0); }

    a {
      display: block;
      @include menu-item();
    }

    .mobile { display: block; }
  }

@include media( $tablet-and-bigger ){

  .mobile,
  .site,
  .menu-toggle { display: none; }

    nav {
        @include outer-container;

        @include clearfix();

        max-width: 88em;
        
        position: relative;

        .search {
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;

            a {
                position: absolute;
                right: 0;
                z-index: 1;
                padding-left: 0;
                padding-right: 0;
                font-size: 85%;
                width: 2.5rem;
                text-align: center;
            }

            // Transformation icon
            .tcon {
              margin-top: .3rem;

            }
        }

        a {
          color: $global-panel-text-color;
          padding: $base-spacing/5 $base-spacing/2;
          display: block;
          float: left;
          opacity: .8;
          font-size: 0.9375rem;
          border-bottom: none;

          &.selected,
          &:hover,
          &:focus {
            background: $global-panel-hover-color;

            span:not(.tcon-transform) .tcon-search__item::after {
              transition: none;
              background: $global-panel-hover-color;
            }
          }
        }

        a + a {
          border-left: 1px solid rgba( #000,.15 );
        }

        label { float: right; }
    }

  }//media destkop
}
