/*============================================================================*\
| SIDE MENU
\*============================================================================*/

////
/// In-site navigation placed next to the content.
///
/// @group navigation

/** New dynamic menu with expandable items */

$sidemenu-background: $brand !default;
$sidemenu-background-selected: $brand-darker !default;

$sidemenu-text-color: $grey-alto !default;
$sidemenu-text-hover-color: $white !default;

$sidemenu-lineheight: 1.25 !default;
$sidemenu-size: $navigation-primary-item-size !default;

$sidemenu-delimiter-color: $brand-darker !default;

$sidemenu-bg-light: $white;

$easing: cubic-bezier(0.22, 1, 0.36, 1);

.sidemenu {
  z-index: $z-index-lower;
  // overflow: hidden;
  margin: 0 0 $gap-vertical;
  background: $sidemenu-background;

  .sidemenu__label {
    @include breakpoint($until: tablet) {
      border-top: 1px solid white;
    }

    text-transform: uppercase;
    font-family: $heading-family;
    font-weight: 600;
    .tereo-title {
      color: $green-brand;
      font-weight: 300;
    }

    a {
      padding: 6px 14px;
    }
  }

  // All menu items
  ul {
    font-family: $heading-family;
    font-weight: 400;

    li {
      display: block;


    }

    ul {
      display: none;
      font-weight: $weight-normal;
    }
  }

  a {
    position: relative;
    display: flex;
    align-content: stretch;
    color: $sidemenu-text-color;
    line-height: $sidemenu-lineheight;

    &.sidemenu__link--withIcon {
      justify-content: space-between;

      i {
        &::before {
          margin: 0 5px;

          @include breakpoint(desktop) {
            margin: 0;
          }
        }
      }
    }

    @include hoverify() {
      color: $sidemenu-text-hover-color;
      .btn-expander {
        color: $sidemenu-text-color;
      }
    }
  }

  .has-submenu {
    display: flex;

    // Flex behaviour
    > a {
      flex: 1 1;
    }

    > ul {
      flex-basis: 100%;
      flex-grow: 0;
    }

    &.expanded {
      overflow: hidden;
      flex-wrap: wrap;

      //! this applies to all menus for some reason?
      > ul {
        display: block;
      }
    }

    &.active {
      background-color: $sidemenu-background-selected;
    }

    // 2nd level menu & items
    > ul {
      padding: 0.2em 0 0.75em 0.9em;
      font-size: 95%;

      > li {
        border-left: 1px solid rgba($white, 0.1);

        > a {
          padding: 0.3em 0.85em 0.3em 0.7em;
        }

        &.active > a {
          padding-left: 0;

          &::before {
            margin: -0.2em 0.25em -0.2em 0;
            border-width: $border-width-small;
            border-color: $sidemenu-text-hover-color;
          }
        }
      }
    }

    // 3rd level menu & items
    .has-submenu > ul {
      > li {
        border-left: 0;

        > a {
          padding-left: 0.3em;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .btn-expander {
    @include size(1.4em);
    display: block;
    margin: 0 0.5rem;
    align-self: center;
    cursor: pointer;
    text-align: center;
    font-weight: $weight-bold;
    line-height: 1.4;
    transition: all ease 0.2s;
    padding: 3px 8px;
    border-radius: 100px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    z-index: 99;

    @include hoverify() {
      color: $sidemenu-text-hover-color;
      background-color: $grey-gallery;
    }
  }

  // Mobile devices *only*, allows to hide/show the sidemenu
  .sidemenu-toggle {
    margin-top: -5px; // Offset the green line under the header!
    font-size: $text-size-4;
    font-weight: $weight-semibold;

    a {
      display: block;
      padding: $gap-half 0.8rem;

      @include extend-icon-after(list) {
        float: right;
        line-height: 1.1;
        font-size: $text-size-huge;
      }
    }

    &.expanded a {
      @include add-icon-after(caret-up-thin);
    }
  }

  @include breakpoint(desktop) {
    .sidemenu-toggle {
      display: none;
    }
  }

  @include breakpoint($until: desktop) {
    margin-top: 0;
    margin-bottom: 0;

    .sidemenu-toggle {
      color: $black-tundora;

      .tereo-title {
        display: block;
        color: $green-brand;
        font-weight: 500;
      }
      + ul {
        display: none;
      } // The menu
      &.expanded + ul {
        display: block;
      }
    }
  }

  @include breakpoint($until: tablet) {
    .btn-expander {
      @include size(auto);
      margin: 0 0.35rem 0 0;
      line-height: 1.5;

      &::after {
        display: inline-block;
        margin: 0 0.85em;
      }
    }

    .expanded > ul {
      font-size: 100%;
    }
  }

  &.sidemenu-light {
    background: $sidemenu-bg-light;

    a {
      color: $black-tundora;

      @include hoverify() {
        color: $blue-endeavoura;
      }
    }

    > ul {
      font-weight: 500;
      > li {
        &.active {
          border-bottom: 1px solid $grey-silver;
          > a {
            // background-color: $sidemenu-bg-light;
            // color: $black-tundora;
            // color: $green-brand;

            @include hoverify() {
              color: $blue-endeavoura;
            }

            &:before {
              border-color: $black-tundora;
            }
          }
        }
      }
    }

    ul {
      li {
        &.active {
          > a {
            color: $black-tundora;
            // color: $green-brand;
            @include hoverify() {
              color: $blue-endeavoura;
            }

            &:before {
              border-color: $black-tundora;
              margin-left: -1px;
            }
          }
        }
      }
    }

    .has-submenu {
      > ul {
        > li {
          border-left-color: $grey-alto;
        }
      }
      &.expanded {
        > .btn-expander {
          &:after {
            border-color: transparent transparent $black-tundora;
            transform: rotateZ(180deg);
          }
        }
      }
    }

    .btn-expander {
      color: $black-tundora;
    }

    .has-submenu.active {
      background-color: $sidemenu-bg-light;
    }

    @include breakpoint($from: desktop) {
    }
    @include breakpoint($until: tablet) {
      margin-bottom: 1rem;
    }
  }
  &.sidemenu-homepage {
    background: $sidemenu-bg-light;

    @include breakpoint($from: desktop) {
    }
  }
}

@keyframes draw-open {
  0% {
    transform: translateX(-0%);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
  }

  1% {
    visibility: visible;
  }
  20% {
    opacity: 0.5;
    z-index: 10;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    z-index: 100;
    max-width: 100%;
  }
}

@keyframes draw-close {
  0% {
    visibility: visible;
    opacity: 1;
    max-width: 100%;
  }

  50% {
    overflow: hidden;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
  }
}

#mega-menu {
  position: relative;
}
.sidemenu-banner-wrap {
  z-index: 1;
  position: relative;
  .sidemenu-homepage {
    @extend .sidemenu;

    > ul {
      > li {
        border-left-color: $grey-alto;

        &.sidemenu__label {
          a {
            padding: 0.8rem 0.9rem;
          }
        }

        .tereo-title {
          color: $green-brand;
          display: block;
          font-weight: 300;
          margin-bottom: 5px;
        }

        a {
          display: block;
          line-height: 1.2;
          // font-weight: 600;

          @include hoverify() {
            // color: $blue-endeavoura;
            // text-decoration: underline;
            color: inherit !important;
          }
        }
        &.expanded-draw {
          position: relative;

          &:after {
            opacity: 1;
            background-color: #fff;
            position: absolute;
            content: "";
            height: 100%;
            width: 20px;
            right: -20px;
            // border-right: 1px solid #fff;
            z-index: 300;
          }

          a {
            color: $green-brand;
            font-weight: 600;
            position: relative;

            &:before {
              content: "";
              width: 3px;
              background-color: $green-brand;
              height: 50%;
              position: absolute;
              left: 0px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }

          .btn-expander {
            &:after {
              // Down arrow
              content: "\f17a";
              display: inline-block;
              font-family: "Favorites";
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              line-height: 1.8;
              text-decoration: inherit;
              text-rendering: optimizeLegibility;
              text-transform: none;
              -moz-osx-font-smoothing: grayscale;
              -webkit-font-smoothing: antialiased;
              font-smoothing: antialiased;
              border: none;
              width: auto;
              height: auto;
              top: initial;
            }
          }
        }
      }
    }
  }

  @include breakpoint($from: desktop) {
    display: flex;
    align-items: stretch;

    .sidemenu-homepage {
      flex: 1 1 25%;
      margin-bottom: 0;

      > ul {
        // position: absolute;
        left: 0;
        right: 75%;
      }

      .sidemenu-drawer {
        max-width: 0;
        padding: 0;
        // border: 2px solid $grey-alto;
        background-color: $white;
        position: absolute;
        left: 25%;
        top: -1px;
        opacity: 0;
        transition: all ease 0.3s;
        min-height: 100%;
        display: flex;
        visibility: hidden;
        box-shadow: 2px 3px 12px 3px rgba(0, 0, 0, 0.1);

        .draw-promo {
          max-width: 800px;
          transition: all ease 0.2s;
          overflow: hidden;
          min-width: 300px;
          opacity: 1;
          > div {
            transition: all ease 0.3s;
            max-width: 100%;
            max-height: 500px;
            overflow: hidden;
          }
        }
        &.no-promo {
          padding-right: 1rem;
          .draw-promo {
            max-width: 0;
            min-width: 0;
            > div {
              max-width: 0;
              max-height: 0;
            }
          }
          .draw-nav {
            padding-right: 0;
            border-right: none;
          }
        }

        &.active {
          padding: 1rem;
          padding-right: 2rem;
          // box-shadow: -7px 14px 18px -9px rgba(0, 0, 0, 0.1);
          overflow: visible;
          opacity: 1;
          max-width: 100%;
          visibility: visible;

          .draw-promo {
            // overflow: visible;
            // max-width: 100%;
          }
          // width: 75%;
          // background-color: $white;
          // min-height: 100%;
          // height: auto;
          // position: absolute;
          // left: 25%;
          // top: 0;
        }

        .close-draw {
          position: absolute;
          right: 0;
          top: 0rem;
          font-size: 1.3rem;
          color: $black-tundora;
          text-decoration: none;
          padding: 5px 7px;
        }

        .draw-nav {
          width: 30%;
          padding-right: 1rem;
          margin: 0 1rem;
          border-right: 1px solid $grey-gallery;
          flex: auto;
          min-width: 300px;
          max-width: 300px;

          .sub-draw-title {
            margin-bottom: 0.5rem;
            color: $black-tundora;
            font-size: 1.2rem;
            display: flex;
            align-items: center;

            a {
              display: block;
              @include hoverify() {
                text-decoration: underline;
              }
            }

            .tereo-title {
              color: #115737;
              display: block;
              font-weight: 500;
              margin-right: 0.5rem;
            }

            // &:before {
            //   content: "î€";
            //   position: relative;
            //   display: inline-block;
            //   font-family: "VicIcons";
            //   margin: 0 0.5em 0 0;
            //   width: 1em;
            //   vertical-align: -0.222em;
            //   text-align: center;
            //   line-height: 1;
            //   font-size: 1rem;
            // }
          }

          > ul {
            display: none;
            // max-width: 320px;

            > li {
              border-top: 1px solid $grey-alto;

              // &:not(:last-child) {
              //   border-bottom: 1px solid $grey-alto;
              // }
              padding: 5px 0;

              > ul {
                > li {
                  position: relative;
                  &:before {
                    transition: all $easing 0.2s;
                    content: "";
                    background-color: $grey-alto;
                    position: absolute;
                    left: 0;
                    top: 14px;
                    height: 1px;
                    width: 16px;
                  }
                  > a {
                    padding-left: 0;
                    margin-left: 20px;
                    transition: all ease 0.3s;
                  }
                }
              }
            }

            &.active-nav-group {
              display: block;

              a {
                @include hoverify() {
                  color: $blue-endeavoura;
                  text-decoration: underline;
                }
              }
              > li {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .btn-expander {
                  &:after {
                    transition: all ease 0.2s;
                  }
                }
                > a {
                  flex: 1 0 70%;
                  padding: 5px 0px;
                }
                &.expanded {
                  > ul {
                    max-height: 300px;
                    visibility: visible;
                    padding: 0.2em 0 0.75em 0;
                  }
                }
                > ul {
                  transition: all $easing 0.3s;
                  display: block;
                  max-height: 0;
                  overflow: hidden;
                  visibility: hidden;
                  flex: 1 auto;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .hub-banner {
    }
  }

  @include breakpoint($until: desktop) {
    .sidemenu-homepage {
      .sidemenu-toggle {
        a {
          padding-top: 1rem;
        }
      }

      > ul {
        > li {
          &:nth-child(2) {
            border-top: 1px solid $grey-silver;
          }
        }
      }

      .sidemenu__label {
        display: none;
      }
    }
  }

  // Blip

  .menu-blip {
    // display: none;
    height: 0;
    position: absolute;
    bottom: -6px;
    background-color: $green-brand;
    width: 3px;
    z-index: 99;
    transition: all ease 0.3s;

  }
}

// ! scoped ONLY to sidemenu
// Root (1st) level menu & items
.sidemenu-homepage {
  > ul {
    font-size: $sidemenu-size;

    > li {
      border-bottom: 1px $grey-alto solid;
      border-top: 1px transparent solid;
      transition: all $easing 0.3s;
      margin-left: 0;
      &:after {
        opacity: 0;
        content: "";
        height: 100%;
        width: 14px;
        background-color: $white;
        right: -2px;
        position: absolute;
        top: 0;
        // transition: all ease 0.3s;
      }
      &.active-menu-item {
        border-color: $green-brand;
        z-index: 90;
        position: relative;
        box-shadow: -10px 12px 18px -10px rgba(0, 0, 0, 0.1);
        &:after {
          opacity: 1;
        }
        .btn-expander {
          transform: rotateZ(-90deg);
        }
        > a {
          padding-left: 20px;
        }
      }

      &:not(.sidemenu__label) {
        font-weight: 400;
      }

      > a {
        padding: 0.8rem 0.9rem;
        transition: all $easing 0.3s;
      }

      &:last-child > a,
      &.active {
        border-bottom: 0;
      }

      &.active > a {
        padding-left: 0.35em;
        background-color: $sidemenu-background-selected;

        &::before {
          margin: -0.2em 0.35em -0.2em 0;
          border-color: $sidemenu-text-hover-color;
        }
      }
    }
  }
}
