/*==================================================
=                     Page Sub navigation          =
==================================================*/


.page-sub-nav {
  border-bottom: 5px solid $green-brand;
  background-color: $black-brand;

  .centraliser {
    nav {
      ul {
        justify-content: center;
        flex-wrap: nowrap;

        li {
          margin-right: 0;

          // TODO: Refactor - inappropriate depth
          a {
            display: block;
            padding: .5em 1.5em;
            font-size: 1.4em;
            color: $white;
            text-decoration: none;

            &.active { background-color: $green-brand; }

            @include hoverify() {
              text-decoration: underline;
              background-color: $green-brand;
              transition: all .5s ease;
            }

            @include breakpoint( $desktop-and-bigger ) {
              padding: .5em 1.2em;
            }

            @include breakpoint( $tablet-and-smaller ) {
              font-size: 1.2em;
            }
          }
        }

        @include breakpoint( $tablet-and-smaller ) {
          justify-content: flex-start;
          flex-wrap: wrap;

          li { width: 100%; }
        }
      }

    }
  }
}
