/*============================================================================*\
| ICON BUTTONS
\*============================================================================*/

////
/// Icon button component that can be re-used anywhere.
///
/// @group icon-buttons

.icon-button {
  padding: 12px;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 100%;

  &.small {
    padding: 8px;
    width: 40px;
    height: 40px;
  }

  &.medium {
    padding: 12px;
    width: 48px;
    height: 48px;
  }

  &.large {
    padding: 12px;
    width: 56px;
    height: 56px;
  }
}
