.qual-section-title {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: $green-brand-bright;
  color: $white;

  h3,
  h4 {
    color: $white;
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: $green-brand-bright transparent transparent transparent;
    bottom: -15px;
    left: 5rem;
  }
}

.qualification {
  margin: 1.5rem 0;
  border-left: 8px solid $green-brand-bright;
  position: relative;
  background-color: $white;
  padding: 1.5rem;
  box-shadow: 0 1px 1px rgba(87, 87, 87, 0.15), 0 2px 2px rgba(87, 87, 87, 0.15),
    0 4px 4px rgba(87, 87, 87, 0.15), 0 8px 8px rgba(87, 87, 87, 0.15);

  .qual-content {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey-alto;
  }

  .major {
    margin: 1rem 0;
  }

  .qual-title {
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 0;
    }
  }

  .qual-row {
    display: flex;
    padding: 0.5rem 0;
    border-top: 1px solid $grey-gallery;

    > .qual-meta-item {
      flex: 1 1 50%;
      display: flex;

      .meta-title {
        flex: 0 0 7rem;
        margin-right: 1rem;
        color: $green-brand-bright;
      }
    }
  }

  .learn-more {
    color: $white;
    background-color: $green-brand-bright;
    padding: .5rem 1rem;
    position: absolute;
    right: 2.5rem;

    @include hoverify() {
      text-decoration: underline;
    }

    &:before,
    &:after {
      background: inherit;
      content: "";
      display: block;
      height: 100%;
      width: 20px;
      bottom: 0;
      position: absolute;
      top: 0;
      z-index: 10;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    &:before {
      left: 0;
      transform: skewX(-15deg);
      transform-origin: 100% 0;
    }

    &:after {
      right: -10px;
      transform: skewX(-15deg);
      transform-origin: 100%;
    }
  }
}
