.subject-button {
  padding: .75rem;
  border: 1px solid transparent;
  font-family: $font-name-brand;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: .5rem;

  &::after {
    position: relative;
    display: inline-block;
    content:"";
    font-family: "VicIcons";
    margin: 0 0 0 0.5em;
    width: 1em;
    vertical-align: -0.19em;
    text-align: center;
    line-height: 1;
    left: 0;
  }

  @include hoverify() {
    text-decoration: underline;
    &::after {
      transition: .3s;
      left: 5px;
    }
  }

  &.light {
    border: 1px solid $grey-silver;
    color: $green-brand;
  }
}
