.subject-section {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "left main right";
}
.main-col {
  grid-area: main;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}


.subject-banner {

}

.subject-content {
  position: relative;
}

.subject-section {
  position: relative;
}

.fixed-spy {
  width: 17%;
  margin-left: 1rem;
  position: absolute;
  z-index: 100;

  &.sticky {
    position: fixed;
    top: 2rem;
  }
}


// .subject-content {
//   display: grid;
//   grid-template-columns: 0.5fr 1.5fr 0.5fr;
//   grid-template-rows: 1fr;
//   gap: 0px 0px;
//   grid-template-areas: "left main right";
// }

// .qualifications,
// .overview {
//   grid-area: main;
// }

