.switcher {
  display: flex;
  // background-color: #eee;
  padding: 1rem;
  padding-left: 50px;
  position: relative;
  background-color: $white;

  .h4 {
    font-weight: 500;
    color: $green-brand;
  }

  select {
    // margin: 0 1rem;
    // max-width: 240px;
    width: 100%;
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    color: $green-brand;

    outline: none;

    option {
      font-size: 1rem;
    }
  }

  select::-ms-expand {
    display: none;
  }

  .select-wrap {
    width: 100%;
    font-family: "National", "Helvetica Neue", "Segoe WP", "Helvetica", "Arial";
    min-width: 15ch;
    max-width: 30ch;
    // border: 1px solid $grey-chalice;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.4884rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;

    select,
    &::after {
      grid-area: select;
    }

    &::after {
      content: "";
      justify-self: end;
      width: 0.8em;
      display: block;
      height: 0.5em;
      background-color: $green-brand-bright;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
  }

  // Interim solution until :focus-within has better support
  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

  .level-wrap,
  .location-wrap {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  .v-select {
    width: 300px;
    margin: 0 0.5rem;
  }
  .v-select button::after {
    content: none !important;
  }

  &:before {
    clip-path: polygon(0px 0px, 0px 0px, 100% 100%, 0% 100%);
    width: 57px;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $green-brand-bright;
  }
}

.switcher-wrap {
  display: grid;
  grid-template-columns: 0.5fr 2fr;

  position: sticky;
  top: 0;
  z-index: 100;

  box-shadow: 0px 2px 15px 0px rgba(204, 204, 204, 0.93);
  margin-bottom: 1rem;
  gap: 0;
  .icon-section {
    background-color: $green-brand-bright;
    // clip-path: polygon(0px 0px, 76.89% 0%, 100% 100%, 0% 100%);
  }
}
