.subject-section {
  ul {
    padding-left: 2.5rem;
    li {
      // padding: .5rem;
      margin-bottom: 0.25rem;
      padding-left: 0.25rem;
      list-style-type: disc;

      &::marker {
        // position: absolute;
        color: $pounamu;
        // font-size: 175%;
      }
    }
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .button + .button {
    margin: 0 !important;
  }
}

.subject-section {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1.1rem;
  }
  p {
    margin-bottom: 1rem;

    a {
      color: $blue-endeavoura;
      text-decoration: underline;
    }
  }

  .section-title {
    margin-bottom: 2rem;

    h2,
    h3,
    h4 {
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey-silver;
    }
  }

  ul {
    margin-bottom: 1rem;

    li {
      a {
        color: $pounamu;
        text-decoration: underline;

        // &::before {
        //   position: relative;
        //   display: inline-block;
        //   content: "▪";
        //   font-family: "VicIcons";
        //   margin: 0 0.5em 0 0;
        //   width: 1em;
        //   text-align: center;
        //   line-height: 1;
        //   top: -2px;
        //   color: $pounamu;
        // }

        @include hoverify() {
          text-decoration: none;
        }
      }
    }
  }

  .ggrid {
    margin: 0 0 2rem;
    grid-gap: 1.5rem;
  }
}

.subject-button {
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  // font-family: $font-name-brand;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 0.5rem;

  &::after {
    position: relative;
    display: inline-block;
    content: "";
    font-family: "VicIcons";
    margin: 0 0 0 0.5em;
    width: 1em;
    vertical-align: -0.19em;
    text-align: center;
    line-height: 1;
    left: 0;
  }

  @include hoverify() {
    text-decoration: underline;
    &::after {
      transition: 0.3s;
      left: 5px;
    }
  }

  &.light {
    border: 1px solid $grey-silver;
    color: $pounamu;
  }

  &.light-green {
    background-color: $mahoe;
    color: $manuka;
  }
}

.grey-bg {
  background-color: $grey-light;
}

.pill {
  margin: 1rem 0;
  padding: 0.4rem 1rem;
  background-color: #338982;
  color: $white;
  border-radius: 20px;
}

.fixed-spy {
  .fixed-cta {
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    #hubv4 & {
      .button {
        width: 100%;
        justify-content: space-between;
      }
    }

    li {
      // background-color: $green-brand;
      // margin-bottom: 4px;
      // box-shadow: 0 1px 1px rgba(87, 87, 87, 0.15),
      //   0 2px 2px rgba(87, 87, 87, 0.15);

      a {
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        > span,
        i {
          padding: 0.5rem 1rem;
        }

        i {
          height: 100%;
          width: 2rem;
          background-color: $white;
          display: block;
          color: $green-brand;
          position: relative;
          display: none;

          &::before {
            margin: 0;
            // position: absolute;
            margin-left: -5px;
          }
        }
      }
    }
  }

  .spy-wrap {
    margin-top: 2rem;

    .scrollspy {
      margin-top: 0.5rem;
      background-color: $white;
      box-shadow: 0 1px 1px rgba(87, 87, 87, 0.15),
        0 2px 2px rgba(87, 87, 87, 0.15), 0 4px 4px rgba(87, 87, 87, 0.15),
        0 8px 8px rgba(87, 87, 87, 0.15);

      li {
        padding: 0.5rem 1rem;

        a {
          color: $green-brand;
          font-weight: 500;
        }

        @include hoverify {
          background-color: $kohuhu;
          a {
            text-decoration: underline;
          }
        }

        &.active {
          background-color: $pounamu;
          // clip-path: polygon(0px 0px, 80% 0px, 100% 100%, 0% 100%);

          a {
            color: $manuka;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid $grey-alto;
        }
      }
    }
  }
}

.dropdown-title {
  a {
    color: $green-brand;
  }

  .icon-caret-right-thin {
    &::before {
      content: "+";
      margin-right: 0;
      line-height: 0;
      vertical-align: unset;
    }
  }

  &.active {
    i {
      &::before {
        content: "–";
      }
    }
  }
}
