{{> navigation.global}}


{{> banner-header}}


<div class="container">

	<nav>
		{{> navigation.site}}
		
		<!-- {{> navigation.breadcrumbs}} -->
	</nav>


	<main>
		<article class="featured">
			<h1>About us</h1>

			<p>Victoria University has a tradition of fostering strong global links in teaching and research and programmes of national significance and international quality.</p>
		</article>


		<div class="container">
			<div class="flex">
				<article>	

					<h3><a href="http://www.victoria.ac.nz/about/governance/structure">Our structure</a></h3>
					<ul class="links">
						<li><a href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Faculties and Schools</a></li>
						<li><a href="http://www.victoria.ac.nz/about/governance/senior-leadership">Senior Leadership</a></li>
						<li><a href="http://www.victoria.ac.nz/about/governance/council">University Council</a></li>
					</ul>


				</article>

				<article>

		<h3><a href="http://www.victoria.ac.nz/about/news-events">News and events</a></h3>
		<ul class="links"><li><a href="http://www.victoria.ac.nz/about/news-events/news">Latest news</a></li><li><a href="http://www.victoria.ac.nz/events">What’s on at Victoria</a></li><li><a href="http://www.victoria.ac.nz/about/news-events/media-guide">Media guide</a></li><li><a href="http://www.victoria.ac.nz/about/publications">Latest publications</a></li></ul>



				</article>


				<article>

					<h3><a href="http://www.victoria.ac.nz/about/careers">Work at Victoria</a></h3>

					<ul class="links"><li><a href="http://vacancies.vuw.ac.nz/">Latest vacancies</a></li><li><a href="http://www.victoria.ac.nz/about/governance/strategic-plan/vision,-mission-and-purpose">Our mission and values</a></li><li><a href="http://www.victoria.ac.nz/about/careers/wellington">Wellington life</a></li></ul>

				</article>


				{{> promo}}

				<article id="new_div_280372">
					<h3><a href="http://www.victoria.ac.nz/about/explore-victoria/campuses/developments">Building developments on campus</a></h3>
					<p>You might have noticed there’s a lot of building going on at Kelburn, Pipitea and Te Aro campuses. Find out how we’re positioning Victoria for the future.</p>
				</article>


				<article id="health_and_safety">
					<h3><a href="http://www.victoria.ac.nz/healthandsafety">Health and safety</a></h3>
					<ul class="links"><li><a href="http://www.victoria.ac.nz/healthandsafety/safety/contractors">Contractors and visitors on campus</a></li><li><a href="http://www.victoria.ac.nz/healthandsafety/emergency">In an emergency</a></li><li><a href="http://www.victoria.ac.nz/healthandsafety/safety/staff/hazard-management">Reporting a safety concern</a></li><li><a href="http://www.victoria.ac.nz/healthandsafety/health-wellness">Health and wellness</a></li></ul>
				</article>



			</div>
		</div>
		


	</main>

	<aside role="complementary">
		{{> links}}
	</aside>

</div>

{{> navigation.footer}}