{{> global-nav}}

{{> header}}



{{#>hero
img="http://www.victoria.ac.nz/knowyourmind/images/storys/hagen-banner.jpg"
title="&ldquo;Victoria is a great place to study an arts degree."
subtitle="Wellington is the heart of government and a cauldron of bubbling creativity and culture.&rdquo;"
}}

	{{>menu-nav}}

{{/hero}}

<div class="vuw-column-container">
	<div class="vuw-column vuw-column__span-8-of-12">

		<section class="vuw-card">
			<h1>Faculty of Humanities and Social Sciences</h1>
			<p>is student-focused and offers a diverse range of courses and qualifications across the spectrum of Humanities and Social Science disciplines.</p>
			<p>Teaching in all subjects is informed by the research undertaken by Faculty academic staff. The Faculty takes advantage of its capital city location through its links that include Government, the National Museum of New Zealand Te Papa, Archives New Zealand, the National Library and numerous theatres and art galleries.</p>
			<a href="javascript:void(0);" class="vuw-button vuw-button__primary">Learn more about the Faculty of Humanities and Social Sciences</a>
		</section>



	</div>

	<div class="vuw-column vuw-column__span-4-of-12">

		{{#>cards.info
		title="Faculty Office Staff"
		class="vuw-card__info"
		}}
		<p>View the Faculty office staff list</p>
		{{/cards.info}}

		{{#>cards.secondary
		title="Victoria links"
		class="vuw-card__secondary"
		}}
		<p>This is a thing</p>
		{{/cards.secondary}}
	</div>
</div>	





<div class="vuw-column-container">
<div class="vuw-column vuw-column__span-4-of-12">




{{#>_card
img="http://www.victoria.ac.nz/__data/assets/image/0011/268706/you-tube-lead-in.jpg"
class="vuw-card__info"
title='<img src="http://www.victoria.ac.nz/__data/assets/image/0007/267595/jennifer-windsor-small.jpg" style="float:left; margin: 0 .5em 0 0"/> Welcome'
}}
<p>See what our students say about their studies and experiences in the Faculty of Humanities and Social Sciences <a href="javascript:void(0);" class="vuw-link">on YouTube</a> (1:11min.)</p>
{{/_card}}


{{#>_card
img="http://www.victoria.ac.nz/__data/assets/image/0011/268706/you-tube-lead-in.jpg"
class="vuw-card__info"
title="Research"
}}
<p>The Faculty of Humanities and Social Sciences is known for achieving excellence in research in many disciplinary areas and is the home of many internationally acclaimed researchers. <a href="javascript:void(0);" class="vuw-link">Read more</a></p>
{{/_card}}


{{#>_card
img="http://www.victoria.ac.nz/__data/assets/image/0011/268706/you-tube-lead-in.jpg"
class="vuw-card__info"
title='<img src="http://www.victoria.ac.nz/__data/assets/image/0011/268706/you-tube-lead-in.jpg" style="width:100%;"/>'
}}
<p>See what our students say about their studies and experiences in the Faculty of Humanities and Social Sciences <a href="javascript:void(0);" class="vuw-link">on YouTube</a> (1:11min.)</p>
{{/_card}}



{{#>_card
img="http://www.victoria.ac.nz/__data/assets/image/0011/268706/you-tube-lead-in.jpg"
class="vuw-card__info"
title="Need advice on your programme of study?"
}}
<p>The Staff in the Faculty Student and Academic Services Office are here to assist you. <a href="javascript:void(0);" class="vuw-link">Read more about Student and Academic Services</a></p>
{{/_card}}


{{#>_card
img="http://www.victoria.ac.nz/__data/assets/image/0011/268706/you-tube-lead-in.jpg"
class="vuw-card__info"
title='<img src="http://www.victoria.ac.nz/__data/assets/image/0004/287248/victoria-university-222x125px.jpg" style="width:100%;"/> Arts students learning from the best'
}}
<p>See what our students say about their studies and experiences in the Faculty of Humanities and Social Sciences <a href="javascript:void(0);" class="vuw-link">on YouTube</a> (1:11min.)</p>
{{/_card}}

</div>

	<div class="vuw-column vuw-column__span-4-of-12">


{{#>_card
date="10 August"
tags="Seminars"
title="Careers in focus: Humanities and Social Sciences"
}}
<p>
Careers in focus: Humanities and Social Sciences<br/>
Date: 10 August 2016 <br/>
Time: 5.30 pm<br/>
Venue: KK303 and Kirk Foyer<br/>
Discover your employability potential with Humanities and Social Sciences<br/>
<a href="javascript:void(0);" class="vuw-link">Read more</a></p>
{{/_card}}


{{#>_card
date="10 August"
title="Careers in focus: Humanities and Social Sciences"
}}
<p>
Careers in focus: Humanities and Social Sciences<br/>
Date: 10 August 2016 <br/>
Time: 5.30 pm<br/>
Venue: KK303 and Kirk Foyer<br/>
Discover your employability potential with Humanities and Social Sciences<br/>
<a href="javascript:void(0);" class="vuw-link">Read more</a></p>
{{/_card}}




	</div>

	<div class="vuw-column vuw-column__span-4-of-12">


{{#>_card
date="2 August 2016"
title="Mayor walks the talk with Chinese language lessons"
}}
<p>Wellington Mayor Celia Wade-Brown is the highest profile of a growing number of public servants and other professionals taking Mandarin lessons with the Confucius Institute at Victoria University of Wellington to better prepare them for their dealings with China and its people. <a href="javascript:void(0);" class="vuw-link">Read more</a></p>
{{/_card}}

{{#>_card
date="28 July 2016"
title="The Value of the Humanities"
}}
<p>The following commentary is provided by Professor Lydia Wevers, director of the Stout Research Centre at Victoria University of Wellington, and responds to an article published in the Dominion Post on Monday 25 July. <a href="javascript:void(0);" class="vuw-link">Read more</a></p>
{{/_card}}

{{#>_card
date="26 July 2016"
title="Maurice Goldsmith Lecture: Aesthetic Responsibility"
}}
<p>The attitudes and judgments we make of artists based on their artworks were discussed at this year's Maurice Goldsmith Public Lecture by a top visiting philosophy scholar from the United States. <a href="javascript:void(0);" class="vuw-link">Read more</a></p>
{{/_card}}



	</div>
</div>
