{{> global-nav}}

{{> header}}


<div class="vuw-column-container">
<div class="vuw-column vuw-column__span-3-of-12">


	{{>menu-nav}}

</div>

	<div class="vuw-column vuw-column__span-3-of-12">

{{#>_card
title='Centre for Strategic Studies'
}}
<p>The <a title="Link to CSS website" href="http://www.victoria.ac.nz/hppi/centres/strategic-studies" class="vuw-link">Centre for Strategic Studies</a> (CSS) at Victoria University of Wellington is the New Zealand anchor for research, teaching and public dialogue on strategic and security issues.&nbsp;&nbsp;In particular, the Centre addresses: Global Security Challenges, Strategic Change in the Asia Pacific region, and New Zealand’s security priorities.</p>
<p><strong>Director:</strong> <a href="http://www.victoria.ac.nz/hppi/about/staff/david-capie" class="vuw-link">AProf David Capie</a></p>
{{/_card}}

	</div>

	<div class="vuw-column vuw-column__span-3-of-12">

{{#>_card
title='Confucius Institute'
}}
<p>The <a title="Link to Confucius Institute website" href="http://www.victoria.ac.nz/ci/" class="vuw-link">Confucius Institute</a> (CI) is dedicated to promoting artistic, cultural and intellectual exchange between China and New Zealand. Through exhibitions, concerts, festivals, lectures, workshops and courses, we bring you closer to the heart and mind of one of the most fascinating and enduring civilisations in the world.</p>
<p><strong>Director:</strong> <a href="http://www.victoria.ac.nz/hppi/about/staff/david-capie" class="vuw-link">AProf David Capie</a></p>
{{/_card}}

	</div>

	<div class="vuw-column vuw-column__span-3-of-12">

{{#>_card
title='Deaf Studies Research Unit'
}}
<p>The <a title="Link to DSRU on LALS website" href="http://www.victoria.ac.nz/lals/centres-and-institutes/dsru" class="vuw-link">Deaf Studies Research Unit</a> (DSRU) was established in 1995 with the goal of conducting research on topics relating to Deaf people and their language in New Zealand. The major work of DSRU to date has been the production of <em>A Dictionary of New Zealand Sign Language</em>, the first of its kind in New Zealand. Research on the lexicon and grammar of New Zealand Sign Language (NZSL) is ongoing in the DSRU.</p>
<p><strong>Director:</strong> <a href="http://www.victoria.ac.nz/hppi/about/staff/david-capie" class="vuw-link">AProf David Capie</a></p>
{{/_card}}

	</div>
</div>
