{{> navigation.global}}


{{> banner}}


<div class="container">

	<nav>
		{{> navigation.site}}
		
		<!-- {{> navigation.breadcrumbs}} -->
	</nav>


	<main>
		<article class="featured">
			<h1>Arrive and enroll</h1>

			<p>Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

<div class="bleed highlight_secondary" id="course_advice">
<h2>Talk to us about your study options</h2><p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p><p><a href="http://www.victoria.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
</div>





		</article>



		<div class="container">
			<div class="flex">

<!-- 				<article id="new_div_280372">
					<h3><a href="http://www.victoria.ac.nz/about/explore-victoria/campuses/developments">Building developments on campus</a></h3>
					<p>You might have noticed there’s a lot of building going on at Kelburn, Pipitea and Te Aro campuses. Find out how we’re positioning Victoria for the future.</p>
				</article> -->
<figure>
				<a href="http://www.victoria.ac.nz/international/start/arrival" class="link_block link_block-has_image">
				  <img alt="Weelington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg" class="link_block_image">
				  <figcaption>
				    <h3>When you first arrive</h3>
				    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
				  </figcaption>
				</a>
</figure>
<figure>
				<a href="http://www.victoria.ac.nz/international/start/arrival" class="link_block link_block-has_image">
				  <img alt="Weelington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg" class="link_block_image">
				  <figcaption>
				    <h3>When you first arrive</h3>
				    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
				  </figcaption>
				</a>
</figure>
<figure>
				<a href="http://www.victoria.ac.nz/international/start/arrival" class="link_block link_block-has_image">
				  <img alt="Weelington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg" class="link_block_image">
				  <figcaption>
				    <h3>When you first arrive</h3>
				    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
				  </figcaption>
				</a>
</figure>
<figure>
				<a href="http://www.victoria.ac.nz/international/start/arrival" class="link_block link_block-has_image">
				  <img alt="Weelington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg" class="link_block_image">
				  <figcaption>
				    <h3>When you first arrive</h3>
				    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
				  </figcaption>
				</a>
</figure>

<figure>
				<a href="http://www.victoria.ac.nz/international/start/arrival" class="link_block link_block-has_image">
				  <img alt="Weelington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg" class="link_block_image">
				  <figcaption>
				    <h3>When you first arrive</h3>
				    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
				  </figcaption>
				</a>
</figure>

<!-- 				<figure>



				</figure> -->




			</div>
		</div>
		


	</main>

	<aside role="complementary">
		{{> links}}
	</aside>

</div>

<div class="banner">
<div class="container">

<figure>
<!-- 				<a href="http://www.victoria.ac.nz/international/start/arrival" class="link_block link_block-has_image"> -->
				  <img src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg" alt="Students on the crocodile bike cycling along Oriental Parade">
				  <figcaption>
            <h1 class="title_smaller page_title">Living in Wellington</h1>
            <p>Hear our students talk about why they love living in the capital city.</p>
            <a href="http://www.victoria.ac.nz/study/why-victoria" class="button tertiary bigger">Watch the video</a>
<!-- 				    <h1>When you first arrive</h1>
				    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p> -->
				  </figcaption>
				<!-- </a> -->
</figure>

<figure>
				  <figcaption>
            <h1 class="title_smaller page_title">Living in Wellington</h1>
            <p>Hear our students talk about why they love living in the capital city.</p>
            <a href="http://www.victoria.ac.nz/study/why-victoria" class="button tertiary bigger">Watch the video</a>
				  </figcaption>
				  <img src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg" alt="Students on the crocodile bike cycling along Oriental Parade">
</figure>
</div>


</div>

<div class="banner">
<div class="container">


<figure class="photo">
				  <img src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">
				  <figcaption>
            <h1 class="title_smaller page_title">Life on campus</h1>
            <p>Coming to Victoria is about more than just studying. Explore our campuses and find all you need to know about our facilities, food and drink, healthcare and banking, transport and how you can get involved in life on campus.</p>
            <a href="http://www.victoria.ac.nz/study/why-victoria/university-life" class="button primary bigger">Student life at Victoria</a>
				  </figcaption>
</figure>
</div>


</div>

<div class="banner pattern">
<div class="container">


<figure class="-photo">
				  <img src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">
				  <figcaption>
            <h1 class="title_smaller page_title">Life on campus</h1>
            <p>Coming to Victoria is about more than just studying. Explore our campuses and find all you need to know about our facilities, food and drink, healthcare and banking, transport and how you can get involved in life on campus.</p>
            <a href="http://www.victoria.ac.nz/study/why-victoria/university-life" class="button primary bigger">Student life at Victoria</a>
				  </figcaption>
</figure>
</div>


</div>

<div class="banner pattern">
<div class="container">


<figure class="pattern">
				  <!-- <img src="http://www.victoria.ac.nz/__data/assets/image/0005/216698/maori-bg-pattern.png"> -->
				  <figcaption>
            <h1 class="title_smaller page_title">Community, culture and support</h1>

            </p>Victoria is a welcoming place full of people from a diverse range of communities. There are all sorts of resources and support available to help you make the best of your time at Victoria.</p>

            <a href="http://www.victoria.ac.nz/study/preparing/parents-whanau">Parents and whānau</a>
            <a href="http://www.victoria.ac.nz/maori-at-victoria">Māori at Victoria</a>
            <a href="http://www.victoria.ac.nz/vicpasifika/home">Pasifika at Victoria</a>
            <a href="http://www.victoria.ac.nz/students/support">Student services and support</a>
				  </figcaption>
</figure>


</div>
</div>



{{> navigation.footer}}