<style>
html {
    font-size: 87.5%;
}
</style>
{{> navigation.global}} {{> banner-header}}


<!-- <div class="layout has-nav">
    <nav>
        {{> navigation.site}}
    </nav>
    <div class="content has-aside">
        <main>
        </main>
    </div>
</div>
 -->

<section class="centraliser block">
    <div class="study-area-tabs" id="study-area-tabs">
        <ul>
            <li class="active"><a  href="javascript:void(0)"><h4>Study areas</h4></a></li>
            <li><a href="javascript:void(0)"><h4>Degrees and qualifications</h4></a></li>
        </ul>
    </div>


    {{> study-areas}}
    {{> degrees-quals}}
</section>

  




<div class="layout">
    <div class="content">
        <main>
           <br>
           <br>
           <br>
           <br>
           <br>
        </main>
    </div>
</div>

