{{> navigation.global}}


{{> banner}}



<div class="layout has-nav">

<nav>
{{> navigation.site}}
</nav>


<div class="content has-aside">
<main>



		<article class="featured">
			<h1>Arrive and enroll</h1>

			<p>Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

<div class="bleed highlight_secondary" id="course_advice">
<h2>Talk to us about your study options</h2><p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p><p><a href="http://www.victoria.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
</div>





		</article>

<section>


{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}


{{#>_figure
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

{{#>_figure
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}



</section>


</main>

	<aside role="complementary">
		{{> links}}


		{{#>_article
		class="promo secondary"
		href="http://www.victoria.ac.nz/about/global-engagement"
		}}
			    <h2>Global and national engagement</h2>
			    <p>We seek to bring the world to Victoria and Victoria to the world. <b>Find out more…</b></p>
		{{/_article}}
	</aside>

</div>



</div>











<div class="layout has-nav">

<nav>
{{> navigation.site}}
</nav>


<div class="content has-aside">
<main>



		<article class="featured">
			<h1>Arrive and enroll</h1>

			<p>Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

<div class="bleed highlight_secondary" id="course_advice">
<h2>Talk to us about your study options</h2><p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p><p><a href="http://www.victoria.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
</div>





		</article>

<section>




{{#>_article}}

	<h3><a href="http://www.victoria.ac.nz/about/governance/structure">Our structure</a></h3>
	<ul class="links">
		<li><a href="http://www.victoria.ac.nz/about/explore-victoria/faculties-schools">Faculties and Schools</a></li>
		<li><a href="http://www.victoria.ac.nz/about/governance/senior-leadership">Senior Leadership</a></li>
		<li><a href="http://www.victoria.ac.nz/about/governance/council">University Council</a></li>
	</ul>

{{/_article}}

{{#>_article
class="promo primary"
href="http://www.victoria.ac.nz/about/global-engagement"
}}
	    <h2>Global and national engagement</h2>
	    <p>We seek to bring the world to Victoria and Victoria to the world. <b>Find out more…</b></p>
{{/_article}}

{{#>_article}}

	<h3><a href="http://www.victoria.ac.nz/about/news-events">News and events</a></h3>
	<ul class="links">
		<li><a href="http://www.victoria.ac.nz/about/news-events/news">Latest news</a></li>
		<li><a href="http://www.victoria.ac.nz/events">What’s on at Victoria</a></li>
		<li><a href="http://www.victoria.ac.nz/about/news-events/media-guide">Media guide</a></li>
		<li><a href="http://www.victoria.ac.nz/about/publications">Latest publications</a></li>
	</ul>

{{/_article}}

{{#>_article}}

	<h3><a href="http://www.victoria.ac.nz/about/explore-victoria/campuses/developments">Building developments on campus</a></h3>
	<p>You might have noticed there’s a lot of building going on at Kelburn, Pipitea and Te Aro campuses. Find out how we’re positioning Victoria for the future.</p>

{{/_article}}


</section>


</main>

	<aside role="complementary">
		{{> downloads}}
	</aside>

</div>



</div>













<div class="layout has-nav">

<nav>
{{> navigation.site}}
</nav>


<div class="content">
<main>



		<article class="featured">
			<h1>Arrive and enroll</h1>

			<p>Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

<div class="bleed highlight_secondary" id="course_advice">
<h2>Talk to us about your study options</h2><p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p><p><a href="http://www.victoria.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
</div>





		</article>

<section>


{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}


{{#>_figure
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

{{#>_figure
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

{{#>_figure
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}




</section>


</main>

	<aside role="complementary">
		{{> links}}
		{{> downloads}}
	</aside>

</div>



</div>






<div class="banner">
<div class="layout">

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

</div>
</div>









<div class="banner">
<div class="layout">

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

</div>
</div>







<div class="layout">
<div class="content">
<main>

<!-- <article> -->
	
<h1>Know your next move</h1>

<!-- </article> -->


<section>

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}






{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}





{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
href="http://www.victoria.ac.nz/international/start/arrival"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}


</section>

</main>
</div>
</div>










<div class="layout">
<div class="content">
<main>
	
<h1>Discover Wellington</h1>


<section>

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0011/343874/varieties/ls_small.jpg"
}}

{{#>_link-list
links="Biking in Wellington
Meet native wildlife
Stunning views of Wellington
Sports in the capital
Outdoor, recreation, sports and parks"
}}
Sport and outdoors
{{/_link-list}}

{{/_figure}}






{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0016/344032/varieties/ls_small.jpg"
}}

{{#>_link-list
links="Top notch brunch spots
Cheap eats to fine dining
Coffee capital
Craft beer capital
Wellington city markets"
}}
Eating and drinking
{{/_link-list}}

{{/_figure}}





{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0010/343873/varieties/ls_small.jpg"
}}

{{#>_link-list
links="Great gigs and cool concerts
Get your fill of festivals
Discover Māori culture
Must see exhibits at Te Papa
Middle of Middle Earth"
}}
Culture central
{{/_link-list}}

{{/_figure}}


</section>

</main>
</div>
</div>




<div class="banner">
<div class="layout">

{{#>_figure
ximg="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
button="Student services"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
    <button>Student sercices</button>
{{/_figure}}

</div>
</div>



<div class="banner">
<div class="layout">

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
class="photo"
}}
    <h3>When you first arrive</h3>
    <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
{{/_figure}}

</div>
</div>



<div class="banner pattern">
<div class="layout">

{{#>_figure
ximg="http://www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
class="pattern"
}}
            <h1>Community, culture and support</h1>

            </p>Victoria is a welcoming place full of people from a diverse range of communities. There are all sorts of resources and support available to help you make the best of your time at Victoria.</p>

			<p>
	            <a href="http://www.victoria.ac.nz/study/preparing/parents-whanau">Parents and whānau</a>
	            <a href="http://www.victoria.ac.nz/maori-at-victoria">Māori at Victoria</a>
	            <a href="http://www.victoria.ac.nz/vicpasifika/home">Pasifika at Victoria</a>
	            <a href="http://www.victoria.ac.nz/students/support">Student services and support</a>
            </p>
{{/_figure}}

</div>
</div>



<div class="banner">
<div class="layout">

{{#>_figure
img="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg"
class="photo"
}}
            <h1 class="title_smaller page_title">Life on campus</h1>
            <p>Coming to Victoria is about more than just studying. Explore our campuses and find all you need to know about our facilities, food and drink, healthcare and banking, transport and how you can get involved in life on campus.</p>
            <a href="http://www.victoria.ac.nz/study/why-victoria/university-life" class="button primary bigger">Student life at Victoria</a>
{{/_figure}}

</div>
</div>





{{> navigation.footer}}