<!-- Staff profile - detail -->

{{> navigation.global}}
{{> banner-header}}

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.site}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <header>
          <h1>Dr Julie Deslippe</h1>

          <p class="subtitle">
            <strong>Plant Biologist</strong>
            School of Biological Sciences
          </p>
        </header>

        <p class="intro">
          Julie is an adjunct faculty member in the plant biology learning group. She also works as a researcher at Grasshoppers facility in Wellington.
        </p>

        <h2>Courses</h2>

        <h3>Teaching in 2016</h3>

        <!-- List with courses -->
        <ul class="complex-list">
          <li>
            <div class="caption">
              <span>BIOL 113</span>
              <a href="#" title="Course detail of 'Biology of Plants'">Biology of Plants</a>
            </div>
            <div class="description">
              <em>as Course Lecturer</em>
            </div>
          </li>

          <li>
            <div class="caption">
              <span>BIOL 227</span>
              <a href="#" title="Course detail of 'Plants and Algae: Function and Diversity'">Plants and Algae: Function and Diversity</a>
            </div>
            <div class="description">
              <em>as Course Lecturer and Instructor</em>
            </div>
          </li>
        </ul>


        <h2>Research</h2>

        <p>
          My research focuses on plant-microbial interactions and in particular their responses to land use and climate change. My goal is to develop our understanding of how species interactions determine the trajectories of ecosystems to different stable states in order that society can better address questions like: What species can and will thrive under increased anthropogenic pressures? How should we target our efforts to best save species and restore ecosystems?  What attributes or functions of biological systems preserve the ecosystems services upon which human societies depend most?
        </p>

        <p>
          I use a variety of methodologies including molecular technologies, metagenomics, isotope techniques and biochemical analyses to elucidate relationships among species and their roles in driving ecosystem processes. Current projects include the following topics: restoration ecology, network modelling, mycorrhizal fungi of native New Zealand plants, microbial ecology and nutrient cycling of native and managed ecosystems.
        </p>

        <h3>Research interests</h3>
        <ul class="tag-cloud">
          <li>Plant and community ecology</li>
          <li>Plant-microbial interactions (fungi and bacteria)</li>
          <li>Plant ecophysiology</li>
          <li>Biogeochemistry</li>
          <li>Soil biodiversity</li>
          <li>Restoration ecology</li>
          <li>Global change biology</li>
        </ul>


      </section>
    </main>



    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">

        <address class="contact">
          <img alt="Julie's profile picture" class="profile-picture" src="http://www.victoria.ac.nz/images/staffpics/julie-deslippe.jpg">

          <!-- Quick contact info -->
          <ul class="meta">
            <li>
              <span class="icon mail"></span>
              <a href="mailto:julie.deslippe@vuw.ac.nz" title="Send an email to Julie Deslippe">julie.deslippe@vuw.ac.nz</a>
            </li>

            <li>
              <span class="icon phone"></span> <a href="tel:044635825" title="Call to Julie Deslippe's work phone">04 463 5825</a>
            </li>

            <li><span class="icon pin"></span> Room 726, New Kirk Building, Kelburn Pde, Kelburn Campus</li>
          </ul>
        </address>

      </div>
  	</aside>

  </div>

</section>

{{> navigation.footer }}
