<!--  -->

{{> navigation.global}}
{{> banner-header}}

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.site}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block articles-container">
        <header>
          <h1>Marketing team</h1>
        </header>

        <h2>
          Executives <em class="note">3</em>
        </h2>

        <!-- List of staff profiles -->
        <ul class="staff">
          <li>
            <article>

              <a href="#" title="Go to the Nigel's profile page">
                <img class="portrait" src="http://www.victoria.ac.nz/images/staffpics/nigel-riley.jpg" alt="Nigel Railey's portrait photograph">
              </a>

              <div class="summary">
                <header class="formatting">
                  <h3><a href="#" title="Go to the Nigel's profile page">Nigel Riley</a></h3>

                  <p class="subtitle">
                    <strong>Associate directors</strong>
                    Communications and Marketing
                  </p>
                </header>

                <!-- Quick contact info -->
                <ul class="meta">
                  <li class="highlight">
                    <a href="mailto:nigel.riley@vuw.ac.nz" title="Send an email to Nigel Riley"><span class="icon mail"></span> nigel.riley@vuw.ac.nz</a>
                  </li>

                  <li class="highlight">
                    <a href="tel:0214100121" title="Call to Nigel Riley's work phone"><span class="icon phone"></span> 0214100121</a>
                  </li>

                  <li><span class="icon pin"></span> Room 320, Hunter Bldg Gate 1 Kelburn Pde</li>
                </ul>

              </div>

            </article>
          </li>

          <li>
            <article>

              <a href="#" title="Go to the david's profile page">
                <img class="portrait" src="http://www.victoria.ac.nz/images/staffpics/david-streader.jpg" alt="David Stretter's portrait photograph">
              </a>

              <div class="summary">
                <header class="formatting">
                  <h3><a href="#" title="Go to the David's profile page">David Stretter</a></h3>

                  <p class="subtitle">
                    <strong>Lecturer</strong>
                    School of education
                  </p>
                </header>

                <!-- Quick contact info -->
                <ul class="meta">
                  <li class="highlight">
                    <a href="mailto:david.riley@vuw.ac.nz" title="Send an email to david Stretter"><span class="icon mail"></span> david.stretter@vuw.ac.nz</a>
                  </li>

                  <li class="highlight">
                    <a href="tel:0221231029" title="Call to David's work phone"><span class="icon phone"></span> 0221231029</a>
                  </li>

                  <li><span class="icon pin"></span> Room 260, Cotton Bldg Gate 7 Kelburn Pde</li>
                </ul>

              </div>

            </article>
          </li>
        </ul>

      </section>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">

      </div>
  	</aside>

  </div>

</section>

{{> navigation.footer }}