<!-- Study hub  -->
<section class="layout centraliser block">
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main>

      <section class="block ">
        
        <!-- Top subject Banner -->
        <div class="promo-panel">
          <figure class=" photo">
            <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/343957/hunter-building-close-up-2000x800px.jpg">
            <figcaption>
              <div class="block formatting">
                <a href="#" class="button large flat-border">Student life at Victoria </a>
              </div>
            </figcaption>
          </figure>
        </div>

        <!-- using promo panel -->
        <div class="promo-panel">
          <div class="centraliser block formatting">
            <figure class=" ">



              <figcaption>
                <h1>Study at Victoria</h1>
                <p>Study what you love in the culture capital. mMake friends from everywhere. Be ready for your future. Earn a world class qualification from Victoria.</p>
              </figcaption>

              <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">


            </figure>
          </div>
        </div>
        
        <!-- Tiles Students and info -->
        <div class="tiles-panel ">
          <div class="centraliser block">
            <div class="updated-tile-grid fixed-height-tiles tiles-study-hub">
              <div class="tiles-wrap">
                <ul>
                  <li class="tile">
                    <a href="">
                      <h2 class="">Future Students</h2>
                      <div class="sub-text">
                        <p>Study what you love in the culture capital. Make Friends from everywhere. Be ready for your future. Earn a world class qualification from victoria.</p>
                      </div>
                      <span class="tile-icon">Future Students<i class="icon-arrow-right"></i></span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>International Students</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Get your world class education as an international student at Victoria University of Wellington - New Zealand's globally ranked capital city university.</p>
                      </div>
                      <span class="tile-icon">International Students <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Postgraduate Students</h2>
                      <div class="sub-text">
                        <!-- <h4 class="icon-book">Subjects</h4> -->
                        <p>Victoria offers an exceptionally wide range of postgraduate programmes to suit most learning needs. Whatever your aspirations, there's a qualification for you.</p>
                      </div>
                      <span class="tile-icon">Postgraduate Students <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Anthropology</h2>
                      <div class="sub-text">
                        <h4 class="icon-book">Subjects</h4>
                        <p>Cultural Anthropology</p>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Anthropology</h2>
                      <div class="sub-text">
                        <h4 class="icon-book">Subjects</h4>
                        <p>Cultural Anthropology</p>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <h2>Anthropology</h2>
                      <div class="sub-text">
                        <h4 class="icon-book">Subjects</h4>
                        <p>Cultural Anthropology</p>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

          <!-- Tiles Admission process -->
        <div class="tiles-panel tile-steps">
          <div class="centraliser block">
            <div class="updated-tile-grid fixed-height-tiles">
              <div class="tiles-wrap">
                <ul>
                  <li class="tile">
                    <a href="" class="title-first-step">
                      <h3 class="">The Victoria admission process</h3>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <p class="tile-number align-right">1</p>
                      <h3>Check your eligibility</h3>
                      <p>Admission is based on your previous qualifications and results. You'll need to meet one of the admission tyoes to gain entry to victoria.</p>
                       <span class="tile-icon">Check admission types <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <p class="tile-number align-right">2</p>
                      <h3>Choose your degree and courses</h3>
                      <p>Admission is based on your previous qualifications and results. You'll need to meet one of the admission tyoes to gain entry to victoria.</p>
                       <span class="tile-icon">Check admission types <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>                  
                  <li class="tile">
                    <a href="">
                      <p class="tile-number align-right">3</p>
                      <h3>Complete your application</h3>
                      <p>Admission is based on your previous qualifications and results. You'll need to meet one of the admission tyoes to gain entry to victoria.</p>
                       <span class="tile-icon">Check admission types <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>                  
                  <li class="tile">
                    <a href="">
                      <p class="tile-number align-right">4</p>
                      <h3>After you've applied</h3>
                      <p>Admission is based on your previous qualifications and results. You'll need to meet one of the admission tyoes to gain entry to victoria.</p>
                       <span class="tile-icon">Check admission types <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>
                  <li class="tile">
                    <a href="">
                      <p class="tile-number align-right">5</p>
                      <h3>Preparing for study</h3>
                      <p>Admission is based on your previous qualifications and results. You'll need to meet one of the admission tyoes to gain entry to victoria.</p>
                       <span class="tile-icon">Check admission types <i class="icon-arrow-right"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </section>

    </main>
  </div>
</section>
