<h5 ng-bind-html="::subSubRequirement.content"><a href="https://www.wgtn.ac.nz/courses/uxdn/504?_gl=1*hmj4ee*_gcl_au*MTk1NjQ1MDA2Ny4xNzI2MDg5MjEw" target="_blank" title="Details of course User Experience Design Capstone / Whakatinana ā-Hoahoa Wheako āKaiwhakamahi">User Experience Design Capstone / Whakatinana ā-Hoahoa Wheako āKaiwhakamahi (UXDN 504)</a></h5>


<h5 ng-bind-html="::subSubRequirement.content"><a href="https://www.wgtn.ac.nz/courses/uxdn/416?_gl=1*155hb0l*_gcl_au*MTk1NjQ1MDA2Ny4xNzI2MDg5MjEw" target="_blank" title="Details of course ​​Advanced User Experience Design Process / Tukanga ā-Hoahoa Wheako ā-Kaiwhakamahi Whatutoto​">​​Advanced User Experience Design Process / Tukanga ā-Hoahoa Wheako ā-Kaiwhakamahi Whatutoto​ (UXDN 416)</a></h5>


<br>
<br>

<br>

<h3><a href="https://www.wgtn.ac.nz/courses/uxdn/404/2025?_gl=1*102uu5l*_gcl_au*MTk1NjQ1MDA2Ny4xNzI2MDg5MjEw">Tukanga ā-Hoahoa Wheako ā-Kaiwhakamahi—User Experience Design Process (UXDN 404)</a></h3>


<h3><a href="https://www.wgtn.ac.nz/courses/glbl/301">GIBL 301)</a></h3>
