---
notes: >

  TODO<br>
  <br>
  _Requirements: TODO._

---

<div class="popup-positioner^">
  <aside class="popup feedback"
    role="dialog"
    aria-labelledby="popup-feedback-label"
    aria-describedby="popup-feedback-description" aria-live="polite">

    <header>
      <a href="javascript:;" class="btn-close" title="Close and don't show again">&times;</a>
      <h2 class="caption" id="popup-feedback-label">New design survey</h2>
    </header>

    <div class="body formatting">
      <p id="popup-feedback-description">Got a minute? Would you like to help us?</p>
      <div class="btn-holder">
          <a class="button" href="javascript:;" title="Hide the popup">No, thanks</a>
          <a class="button primary" href="#" title="Go to the short survey" target="_blank">Take the survey</a>
      </div>
    </div>

  </aside>
</div>
