---
notes: >

  Popup box that can be opened programatically, e.g. on click to an element.
  <br>
  <br>
  **Requirements**:
   - `id` of the element with class 'popup' has to be unique.
  <br>
  <br>
  **Function openPopup() parameters**:
   - `optionsObject` (optional): Valid JSON Object allowing to customise auto-loading behaviour. Properties: `delayInMs` (default: 0) - How long after the page loads should the popup box appear. `suppressAfterCanceling` (default: false) - Once the user cancels or closes the popup, the popup will (not) load again next time the same page is loaded.
---

<!-- Example link triggering the popup opening dynamically -->
<a href="javascript:;" onclick="$( '#popup-example' ).vicApp().openPopup()">Open popup box on click</a>

<!-- Popup -->
<div class="popup-positioner">
  <aside class="popup" id="popup-example"
    role="dialog"
    aria-labelledby="popup-label"
    aria-describedby="popup-description" aria-live="polite">

    <header>
      <a href="javascript:;" class="btn-close" title="Close and don't show again">&times;</a>
      <h2 class="caption" id="popup-label">Popup box opening on demand</h2>
    </header>

    <div class="body formatting">
      <p id="popup-description">This popup opens on demand (e.g. when the element is clicked) or dynamically.</p>
      <div class="btn-holder">
          <a class="button button-cancel" href="javascript:;" title="Hide the popup">No, thanks</a>
          <a class="button primary button-ok" href="https://qualtrics.com" title="Go to the short survey" target="_blank">Take the survey</a>
      </div>
    </div>

  </aside>
</div>
