---
title: "Prototype | Content column only"

header:
  subtitle:   "Faculty of"
  title:      "Law"
  titleMaori: "Te Wāhanga Waihanga-Hoahoa"
  titleClass: "large"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines
    - Contacts and directories
    - Deadlines for last year

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries
    - phone2:
      number: 64221231210
      label:  personal advisory

  mails:
    - info@vbs.victoria.ac.nz

---

<!-- 3) Content only -->
<section class="layout centraliser block">

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <div class="block formatting">

        <article class="featured">
          <h1>Arrive and enroll</h1>

          <p class="intro">Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

          <div class="highlight secondary" id="course_advice">
          <h2>Talk to us about your study options</h2><p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p><p><a href="//www.victoria.ac.nz/study/course-planning/appointments"><span class="icon-check"></span>Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
          </div>
        </article>

        <section class="grid">
          {{#>_figure
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}
        </section>

      </div>
    </main>

  </div>

</section>


