---
title: "Prototype | Menu and Content columns"

header:
  subtitle:   "Faculty of"
  title:      "Law"
  titleMaori: "Te Wāhanga Waihanga-Hoahoa"
  titleClass: "large"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines
    - Contacts and directories
    - Deadlines for last year

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries
    - phone2:
      number: 64221231210
      label:  personal advisory

  mails:
    - info@vbs.victoria.ac.nz

---

<!-- 2) Sidebar + Content only -->
<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <div class="block formatting">

        <article class="featured">
          <h1>Arrive and enroll</h1>

          <p class="intro">Welcome to Victoria. Your new life is underway—but there’s still plenty to do before you can start studying.</p>

          <div class="highlight primary" id="course_advice">
            <h2>Talk to us about your study options</h2>
            <p>Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.</p>
            <p>
              <a href="//www.victoria.ac.nz/study/course-planning/appointments">Book a course planning appointment</a> for one-to-one advice, email <a href="mailto:course-advice@vuw.ac.nz">course-advice@vuw.ac.nz</a>, or call 0800 VICTORIA (0800 842 867).</p>
          </div>

        </article>

        <section class="grid">
          {{#>_figure
          img="//www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          img="//www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

          {{#>_figure
          img="//www.victoria.ac.nz/__data/assets/image/0008/283994/varieties/ls_small.jpg"
          href="//www.victoria.ac.nz/international/start/arrival"
          }}
          <h3>When you first arrive</h3>
          <p>Settle into life in New Zealand by checking out the campus, Wellington city and your new accommodation.</p>
          {{/_figure}}

        </section>

        <div>
            <nav class="pagination pagination--alpha">
              <ul class="pagination__list pages" role="navigation">
                  <li><a class="button primary no-icon" href="#A"><span>A</span></a></li>
                  <li><a class="button primary no-icon" href="#B"><span>B</span></a></li>
                  <li><a class="button primary no-icon" href="#C"><span>C</span></a></li>
                  <li><a class="button primary no-icon" href="#D"><span>D</span></a></li>
                  <li><a class="button primary no-icon" href="#E"><span>E</span></a></li>
                  <li><a class="button primary no-icon" href="#F"><span>F</span></a></li>
                  <li><a class="button primary no-icon" href="#G"><span>G</span></a></li>
                  <li><a class="button primary no-icon" href="#H"><span>H</span></a></li>
                  <li><a class="button primary no-icon" href="#I"><span>I</span></a></li>
                  <li><a class="button primary no-icon" href="#J"><span>J</span></a></li>
                  <li><a class="button primary no-icon" href="#K"><span>K</span></a></li>
                  <li><a class="button primary no-icon" href="#L"><span>L</span></a></li>
                  <li><a class="button primary no-icon" href="#M"><span>M</span></a></li>
                  <li><a class="button primary no-icon" href="#N"><span>N</span></a></li>
                  <li><a class="button primary no-icon" href="#O"><span>O</span></a></li>
                  <li><a class="button primary no-icon" href="#P"><span>P</span></a></li>
                  <li><a class="button primary no-icon" href="#Q"><span>Q</span></a></li>
                  <li><a class="button primary no-icon" href="#R"><span>R</span></a></li>
                  <li><a class="button primary no-icon" href="#S"><span>S</span></a></li>
                  <li><a class="button primary no-icon" href="#T"><span>T</span></a></li>
                  <li><a class="button primary no-icon" href="#U"><span>U</span></a></li>
                  <li><a class="button primary no-icon" href="#V"><span>V</span></a></li>
                  <li><a class="button primary no-icon" href="#W"><span>W</span></a></li>
                  <li><a class="button primary no-icon" href="#Z"><span>Z</span></a></li>
                </ul>
            </nav>

            <div class="form">
              <div class="group group--solo">
                  <input class="field__input--wide" type="name" name="name" id="name" placeholder="Start typing to narrow the list">
              </div>
            </div>
        </div>

      </div>
    </main>

  </div>

</section>
