---
title: "Prototype | 3 columns with many widgets"

header:
  subtitle:   "School of"
  title:      "History, Philosophy, Political Science and International&nbsp;Relations"
  titleMaori: "Te Kauhanganui Tātai Ture"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries

  mails:
    - info@fhss.victoria.ac.nz
    - advisory@fhss.victoria.ac.nz

---

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar">{{> navigation.sidemenu-expandable}}</div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Banner -->
    <img alt="Hunter building" src="//www.victoria.ac.nz/__data/assets/image/0019/346330/about_2000x800.jpg">

    <!-- Center 'content' column -->
    <main>

      <div class="block formatting">
        <h1>Many right-hand widgets</h1>
        <p class="intro">Testing many right-hand widgets and scripts moving them from `main` to the `aside` element (This is due to the Squiz's limitations).</p>
      </div>

      <!-- Promo widget -->
      <article class="data-sidebar promo primary" style="display: none;">
        <a href="https://www.victoria.ac.nz/study/programmes-courses/postgraduate-subjects">
          <h2>Explore postgraduate subjects</h2>
          <p>
            Discover Victoria&rsquo;s wide range of specialist subjects for postgraduates. Find the qualification that&rsquo;s right for you to advance your knowledge and expertise.
          </p>
        </a>
      </article>

      <!-- Related links widget -->
      <article class="data-sidebar data-relatedLinks">
        <h2>Related links</h2>
        <ul class="links">
          <li>
            <a href="https://www.victoria.ac.nz/architecture">School of Architecture</a>
          </li>
          <li>
            <a href="https://www.victoria.ac.nz/design">School of Design</a>
          </li>
          <li>
            <a href="https://www.victoria.ac.nz/architecture/centres">Centres</a>
          </li>
        </ul>
      </article>

      <!-- Featured researcher -->
      <article class="data-sidebar">
        <h2>Featured researcher</h2>
        <address class="contact">
          <a href="#" title="Staff profile detail of Professor James Noble">
            <img alt="Prof James Noble's profile picture" class="profile-picture" src="https://www.victoria.ac.nz/images/staffpics/james-noble.jpg">
          </a>
          <div class="summary">
            <header>
                <h3>
                  <a href="#" title="Staff profile detail of Professor James Noble">Professor James Noble</a>
                </h3>
                <p class="subtitle">School of Engineering and Computer Science</p>
            </header>
          </div>

          <!-- Quick contact info -->
          <ul class="meta">
            <li>
              <span class="icon-mail"></span><a href="mailto:james.noble@vuw.ac.nz" title="Send an email to Professor James Noble">james.noble@vuw.ac.nz</a>
            </li>

            <li>
              <span class="icon-phone"></span><a href="tel:044636736" title="Call to Professor James Noble's work phone">04 463 6736</a>
            </li>

            <li>
              <h4>Research areas:</h4>
              <p>Computer science, Software, Object-oriented design, Design patterns, Human-computer interaction, Usability, Software development, Programming, Software failures, Agile Development</p>
            </li>
          </ul>
        </address>
      </article>

      <article class="data-sidebar promo primary" style="display: none;">
          <a href="https://www.victoria.ac.nz/study/programmes-courses/postgraduate-subjects">
            <h2>Explore postgraduate subjects</h2>
            <p>
              Discover Victoria&rsquo;s wide range of specialist subjects for postgraduates. Find the qualification that&rsquo;s right for you to advance your knowledge and expertise.
            </p>
          </a>
        </article>

        <!-- Related links widget -->
        <article class="data-sidebar data-relatedLinks">
          <h2>Related links</h2>
          <ul class="links">
            <li>
              <a href="https://www.victoria.ac.nz/architecture">School of Architecture</a>
            </li>
            <li>
              <a href="https://www.victoria.ac.nz/design">School of Design</a>
            </li>
            <li>
              <a href="https://www.victoria.ac.nz/architecture/centres">Centres</a>
            </li>
          </ul>
        </article>

    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting" id="rightHandMenu">
      </div>
  	</aside>

  </div>

</section>

