---
title: "Prototype | 3 columns with many widgets"

header:
  subtitle:   "School of"
  title:      "History, Philosophy, Political Science and International&nbsp;Relations"
  titleMaori: "Te Kauhanganui Tātai Ture"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries

  mails:
    - info@fhss.victoria.ac.nz
    - advisory@fhss.victoria.ac.nz

---

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar">{{> navigation.sidemenu-expandable}}</div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Banner -->
    <img alt="Hunter building" src="//www.victoria.ac.nz/__data/assets/image/0019/346330/about_2000x800.jpg">

    <!-- Center 'content' column -->
    <main>

      <div class="block formatting">
        <h1>Many right-hand widgets</h1>
        <p class="intro">Testing many right-hand widgets and scripts moving them from `main` to the `aside` element (This is due to the Squiz's limitations).</p>
      </div>

      <!-- Promo widget -->
      <article class="data-sidebar promo primary" style="display: none;">
        <a href="https://www.victoria.ac.nz/study/programmes-courses/postgraduate-subjects">
          <h2>Explore postgraduate subjects</h2>
          <p>
            <p>Discover Victoria&rsquo;s wide range of specialist subjects for postgraduates. Find the qualification that&rsquo;s
              right for you to advance your knowledge and expertise.</p>
          </p>
        </a>
      </article>

      <!-- Related links widget -->
      <article class="data-sidebar data-relatedLinks">
        <h2>Related links</h2>
        <ul class="links">
          <li>
            <a href="https://www.victoria.ac.nz/architecture">School of Architecture</a>
          </li>
          <li>
            <a href="https://www.victoria.ac.nz/design">School of Design</a>
          </li>
          <li>
            <a href="https://www.victoria.ac.nz/architecture/centres">Centres</a>
          </li>
        </ul>
      </article>

      <article class="data-sidebar promo primary" style="display: none;">
          <a href="https://www.victoria.ac.nz/study/programmes-courses/postgraduate-subjects">
            <h2>Explore postgraduate subjects</h2>
            <p>
              <p>Discover Victoria&rsquo;s wide range of specialist subjects for postgraduates. Find the qualification that&rsquo;s
                right for you to advance your knowledge and expertise.</p>
            </p>
          </a>
        </article>

        <!-- Related links widget -->
        <article class="data-sidebar data-relatedLinks">
          <h2>Related links</h2>
          <ul class="links">
            <li>
              <a href="https://www.victoria.ac.nz/architecture">School of Architecture</a>
            </li>
            <li>
              <a href="https://www.victoria.ac.nz/design">School of Design</a>
            </li>
            <li>
              <a href="https://www.victoria.ac.nz/architecture/centres">Centres</a>
            </li>
          </ul>
        </article>

      <article class="data-sidebar promo primary" style="display: none;">
          <a href="https://www.victoria.ac.nz/study/programmes-courses/postgraduate-subjects">
            <h2>Explore postgraduate subjects</h2>
            <p>
              <p>Discover Victoria&rsquo;s wide range of specialist subjects for postgraduates. Find the qualification that&rsquo;s
                right for you to advance your knowledge and expertise.</p>
            </p>
          </a>
        </article>

        <!-- Related links widget -->
        <article class="data-sidebar data-relatedLinks">
          <h2>Related links</h2>
          <ul class="links">
            <li>
              <a href="https://www.victoria.ac.nz/architecture">School of Architecture</a>
            </li>
            <li>
              <a href="https://www.victoria.ac.nz/design">School of Design</a>
            </li>
            <li>
              <a href="https://www.victoria.ac.nz/architecture/centres">Centres</a>
            </li>
          </ul>
        </article>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting" id="rightHandMenu">
      </div>
  	</aside>

  </div>

</section>

