<section class="centraliser block">
  <h1 style="padding-bottom: 1rem;">Accordion</h1>

  <div class="accordion">
    <details>
      <summary class="accordion-title">Etiam sagittis faucibus arcu, at lobortis nisl iaculis eget</summary>
      <div class="block formatting">
        <h2>Etiam sagittis faucibus arcu, at lobortis nisl iaculis eget.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
    <details>
      <summary class="accordion-title">Nulla ornare suscipit neque, id hendrerit nunc aliquet vitae</summary>
      <div class="block formatting">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
    <details>
      <summary class="accordion-title">Sed facilisis mollis velit ac tempor</summary>
      <div class="block formatting">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
    <details>
      <summary class="accordion-title">Suspendisse potenti</summary>
      <div class="block formatting">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
  </div>
</section>

<section class="centraliser block">
  <h1 style="padding-bottom: 1rem;">Accordion Header</h1>

  <div class="accordion-header">
    <details>
      <summary class="accordion-title">Etiam sagittis faucibus arcu, at lobortis nisl iaculis eget</summary>
      <div class="block formatting">
        <h2>Etiam sagittis faucibus arcu, at lobortis nisl iaculis eget.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
    <details>
      <summary class="accordion-title">Nulla ornare suscipit neque, id hendrerit nunc aliquet vitae</summary>
      <div class="block formatting">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
    <details>
      <summary class="accordion-title">Sed facilisis mollis velit ac tempor</summary>
      <div class="block formatting">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
    <details>
      <summary class="accordion-title">Suspendisse potenti</summary>
      <div class="block formatting">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Curabitur aliquet leo eu leo convallis, venenatis efficitur odio eleifend. Nunc viverra efficitur placerat. Donec molestie vulputate dolor. Etiam at bibendum quam, et tempus metus. Integer efficitur nulla eget diam varius egestas. Maecenas non libero ac libero eleifend lacinia eu non odio. Pellentesque mattis quis eros ultricies posuere.</p>
      </div>
    </details>
  </div>
</section>


<script>
  document.querySelector('body').id = 'hubv4';
</script>
