---
title: "Prototype | Search page on child"

header:
  subtitle:   "Find a"
  title:      "Scholarship"

footer:
  links:
    - Deadlines and dates for 2016
    - Organising events
    - PhD guidelines

  phones:
    - phone1:
      number: +64 4 472 1000
      label:  general enquiries

  mails:
    - info@fhss.victoria.ac.nz
    - advisory@fhss.victoria.ac.nz

---

<section class="layout centraliser block">
    <!-- Center 'content' and right 'widget' columns -->
    <div class="content-panel">
        <br>
        <h1>Contact Victoria International</h1>
        <br>
        <p>Fill in the form below to send Victora International a message, and we will reply to you promptly.</p>    
        <br>
        
        <div class="form">
            <br>

            <h3>Your details</h3>

            <br>

            <div class="group required">
                <label for="q1748243_q1">First name <em>(required)</em></label>
                <input type="text" name="q1748243:q1" value="" size="30" maxlength="300" id="q1748243_q1" class="sq-form-field">
                <p id="q1748243_q1-helper" class="error-text" style="display: none;">Please fill in this field.</p>
            </div>
            
            <div class="group required">
                <label for="q1748243_q2">Last name <em>(required)</em></label>
                <input type="text" name="q1748243:q2" value="" size="30" maxlength="300" id="q1748243_q2" class="sq-form-field">
                <p id="q1748243_q2-helper" class="error-text" style="display: none;">Please fill in this field.</p>
            </div>
            
            <div class="group required">
                <label for="q1748243_q3">Email address <em>(required)</em></label>
                <input type="text" name="q1748243:q3" value="" size="30" maxlength="300" id="q1748243_q3" class="sq-form-field">
                <p id="q1748243_q3-helper" class="error-text" style="display: none;">Please fill in this field.</p>
            </div>
            
            <div class="group required">
                <label for="q1748243_q4">Question</label>
                <textarea name="q1748243:q4" cols="30" rows="10" maxlength="300" id="q1748243_q4" class="sq-form-field"></textarea>
            </div>
            
       
            <div class="group group--vspace required">
                <label for="q1748243_q9">Have you got an Offer of Study from the Victoria University of Wellington?</label>
                
                <ul class="group__list">
                    <li><input type="radio" name="q1748243:q9" id="q1748243_q9_0" value="0" class="sq-form-field"> <label for="q1748243_q9_0">Yes</label></li>
                    <li><input type="radio" name="q1748243:q9" id="q1748243_q9_1" value="1" class="sq-form-field"> <label for="q1748243_q9_1">No</label></li>
                </ul>
            </div>
            
        
            <div class="group group--vspace required" id="q1748243_q10-div">
                <label for="q1748243_q10">Are you currently enrolled to study at Victoria University of Wellington?</label>
                
                <ul class="group__list">
                    <li><input type="radio" name="q1748243:q10" id="q1748243_q10_0" value="0" class="sq-form-field"> <label for="q1748243_q10_0">Yes</label></li>
                    <li><input type="radio" name="q1748243:q10" id="q1748243_q10_1" value="1" class="sq-form-field"> <label for="q1748243_q10_1">No</label></li>
                </ul>
            </div>
            
            <div class="group group--vspace required" style="display: none;" id="q1748243_q7-div">
                <label for="q1748243_q7">Please enter your student identification number</label>
                <input type="text" name="q1748243:q7" value="" size="30" maxlength="300" id="q1748243_q7" class="sq-form-field">
            </div>
            
            <div class="group group--vspace required">
                <label>Security question: The stripes on a zebra are coloured black and ...</label>
                <input type="text" name="q1748243:q8" value="" size="30" maxlength="300" placeholder="please enter the answer" id="q1748243_q8" class="sq-form-field">
    
                <p id="zebraerror" class="error-text" style="display: none;">Please enter the answer.</p>
            </div>
            
            <input type="submit" name="form_email_1748243_submit" value="Submit" class="button primary" id="form_email_1748243_submit"> 
            <br><br>
            <div>
                By submitting this form, I understand that the information I provide is being collected for the purposes described in, and will be used in accordance with, the University’s <a href="https://www.victoria.ac.nz/privacy">Privacy Notice</a>.
            </div>
    </div>
    <br/>
</section>