<!-- Center 'content' and right 'widget' columns -->
<div class="layout centraliser homepage-banner">
  <div class="sidebar "> {{> navigation.sidemenu-expandable}} </div>
  <figure class="banner">
    <a href="#">
          <img src="//cms.victoria.ac.nz/?a=394045">
          <!-- Use class="wider, bottom or top" to position the text box -->
          <figcaption class="bottom">
            <h1>The art of discovery<span class="icon-caret-right"></span></h1>
            <h3>Alex Barrow is studying a Bachelor of Arts in Cultural Anthropology and Media Studies.</h3>
          </figcaption>
      </a>
  </figure>
</div>
<div class="homepage-base layout">
  <!-- Center 'content' column -->
  <div class="content-panel">
    <main>
      <!-- Banner -->
      <section>
        {{> homepage-intro}}
        <!-- {{> promo-panels-two-and-one-third}} -->



        <!-- Test toggle using squiz generated markup -->

        <section class=" tiles-panel">
          <div class="centraliser block">
            <div class="study-area-tabs" id="study-area-tabs">

              <style>

                </style>

  <div class="switch">

        <input type="radio" class="switch-input" name="view" value="undergraduate" id="undergraduate" checked="">
        <label for="undergraduate" class="switch-label switch-label-off">Undergraduate</label>

        <input type="radio" class="switch-input" name="view" value="postgraduate" id="postgraduate">
        <label for="postgraduate" class="switch-label switch-label-on">Postgraduate</label>
        <span class="switch-selection"></span>

  </div>

              <ul>
                <li class=""><a href="javascript:void(0)"><h4><span class="icon-book-open"></span>Subject areas</h4></a></li>
                <li class="active"><a href="javascript:void(0)"><h4><span class="icon-graduation-cap"></span>Degrees and qualifications</h4></a></li>
              </ul>
            </div>
           <!--<section class="study-areas-undergrad">-->
               
               <section class="study-areas-undergrad" style="">
     <div class="updated-tile-grid dynamic-height-tiles study-areas hidden">
        <div class="tiles-wrap">
           <ul><!-- Get SA -->
<li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/anthropology/">
    <h2>Anthropology</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Cultural Anthropology     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/art-history/">
    <h2>Art History</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Art History, Museum and Heritage Studies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/asian-languages-and-cultures/">
    <h2>Asian Languages and Cultures</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Asian Studies, Chinese, Japanese     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/classics/">
    <h2>Classics</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Classical Studies, Greek, Latin     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/creative-writing/">
    <h2>Creative Writing</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Creative Writing     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/criminology/">
    <h2>Criminology</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Criminology, Restorative Justice     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/english-literature/">
    <h2>English Literature</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
English Literature     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/english-proficiency/">
    <h2>English Proficiency</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
English Proficiency     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/european-languages-and-cultures/">
    <h2>European and Latin American Languages and Cultures</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
French, German, Italian, Spanish     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/film-and-media-studies/">
    <h2>Film and Media Studies</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Film, Media Studies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/history/">
    <h2>History</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
History, New Zealand Studies, Text Technologies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/language-teaching/">
    <h2>Language Teaching</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Teaching English to Speakers of Other Languages (TESOL), Applied Linguistics, Second Language Learning and Teaching     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/linguistics/">
    <h2>Linguistics</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Linguistics, Modern Language Studies, Applied Linguistics, Writing (Academic and Professional), Text Technologies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/postgraduate-subjects/literary-translation/">
    <h2>Literary Translation</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Literary Translation Studies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/maori-studies/">
    <h2>Māori Studies</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Māori Resource Management, Māori Studies, Tohu Māoritanga     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/music/">
    <h2>Music</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Arranging, Classical Performance, Composition, Ethnomusicology, Instrumental/Vocal Composition, Jazz, Music, Musicology, Music Studies, Music Therapy, Performance, Sonic Arts and Music Technology     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/new-zealand-sign-language/">
    <h2>New Zealand Sign Language</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
New Zealand Sign Language (NZSL) Studies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/pacific-cultures-and-languages/">
    <h2>Pacific Cultures and Languages</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Pacific Studies, Samoan Studies/Matāupu tau Samoa     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/philosophy/">
    <h2>Philosophy</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Philosophy     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/international-relations-and-politics/">
    <h2>Politics and International Relations</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
International Relations, Migration Studies, Political Science, Strategic Studies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/religious-studies/">
    <h2>Religious Studies</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Religious Studies     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/sociology/">
    <h2>Sociology</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Gender and Sexuality Studies, Sociology, Social Policy     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/te-reo-maori/">
    <h2>Te Reo Māori</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Te Reo Māori     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li><li class="tile" style="height: 258.188px;">
 <a href="http://www.victoria.ac.nz/explore/study-areas/theatre/">
    <h2>Theatre</h2>
    <div class="sub-text">
       <h4 class="icon-book">Subjects</h4>
       <p>
       
<!-- Get Children -->
Theatre     

     </p>
    </div>
    <i class="icon-arrow-right"></i>
 </a>
</li>              </ul>
            </div>
         </div>
         <section class="degrees-quals updated-tile-grid">
            <!-- <h1>Undergraduate degrees</h1> -->
            <div class="centraliser">
               <div class="tile-strip-grid">
                  <div class="tiles-wrap">
                      <ul><!-- Get Degrees -->
<li class="tile">
   <a href="http://www.victoria.ac.nz/explore/degrees/arts/">
      <h2>Bachelor of Arts</h2>
      <h4>BA</h4>
      <h4>3 years</h4>
      <h4>360 points</h4>
      <h4>Kelburn, Wellington</h4>
      <i class="icon-arrow-right"></i>
   </a>
</li><li class="tile">
   <a href="http://www.victoria.ac.nz/explore/degrees/music/">
      <h2>Bachelor of Music</h2>
      <h4>BMus</h4>
      <h4>3 years</h4>
      <h4>360 points</h4>
      <h4>Kelburn, Wellington</h4>
      <i class="icon-arrow-right"></i>
   </a>
</li><li class="tile">
   <a href="http://www.victoria.ac.nz/explore/degrees/certificate-in-deaf-studies-teaching-new-zealand-sign-language/">
      <h2>Certificate in Deaf Studies: Teaching New Zealand Sign Language</h2>
      <h4>CertDeafStud (Teaching NZSL)</h4>
      <h4>2 years</h4>
      <h4>120 points</h4>
      <h4>Kelburn, Wellington</h4>
      <i class="icon-arrow-right"></i>
   </a>
</li><li class="tile">
   <a href="http://www.victoria.ac.nz/explore/degrees/maoritanga/">
      <h2>Diploma in Māoritanga/Tohu Māoritanga</h2>
      <h4>DipMāori/Tohu Māori</h4>
      <h4>1 year</h4>
      <h4>120 points</h4>
      <h4>Kelburn, Wellington</h4>
      <i class="icon-arrow-right"></i>
   </a>
</li><li class="tile">
   <a href="http://www.victoria.ac.nz/explore/graduate-quals/diploma-in-arts/">
      <h2>Graduate Diploma in Arts</h2>
      <h4>GDipArts</h4>
      
      <h4>120 points</h4>
      <h4>On campus (Kelburn, Wellington)</h4>
      <i class="icon-arrow-right"></i>
   </a>
</li>                    </ul>
                  </div>
               </div>
            </div>
         </section>
      
      </section>
      <section class="study-areas-postgrad" style="display: none;">
         <div class="updated-tile-grid fixed-height-tiles-small study-areas hidden">
            <div class="tiles-wrap">
               <ul><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-subjects/criminology/">
        <h2>Criminology</h2>
        <!--<div class="sub-text">-->
           <!--<p>School of Social and Cultural Studies</p>-->
           <!--<h4 class="icon-info">-->
               
               
         
        
  
  <!--</h4>-->
           <!--<p></p>-->
        <!--</div>-->
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/study-areas/ecological-restoration/">
        <h2>Ecological Restoration</h2>
        <!--<div class="sub-text">-->
           <!--<p>School of Biological Sciences</p>-->
           <!--<h4 class="icon-info">-->
               
               
         
        
  
  <!--</h4>-->
           <!--<p></p>-->
        <!--</div>-->
        <i class="icon-arrow-right"></i>
     </a>
  </li>

             </ul>
            </div>
         </div>
         <section class="postgrad-quals degrees-quals updated-tile-grid tiles-panel tile-filter-tags">
            <!-- <h1>Postgraduate degrees</h1> -->
            <div class="quals-filter">
               <label>Filter:
               <input id="filter-quals" type="search">
               </label> 
               <a class="tag" href="javascript:void(0)">Certificate</a>
               <a class="tag" href="javascript:void(0)">Diploma</a>
               <a class="tag" href="javascript:void(0)">Honours</a>
               <a class="tag" href="javascript:void(0)">Master</a>
               <a class="tag tag-active" href="javascript:void(0)">All</a>
            </div>
            <div class="centraliser tiles-wrap">
                <ul><!-- Get PG Programmes -->
<li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/artist-diploma/">
        <h2>Artist Diploma</h2>
        <div class="sub-text">
           <h4>ArtDiP</h4>
            <h4>Duration: 4 trimesters of full-time study or normally 8 if studied part time</h4>
            <h4>Points: 240</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/bachelor-of-arts-with-honours/">
        <h2>Bachelor of Arts with Honours</h2>
        <div class="sub-text">
           <h4>BA(Hons)</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/bachelor-of-music-with-honours/">
        <h2>Bachelor of Music with Honours</h2>
        <div class="sub-text">
           <h4>BMus(Hons)</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/study-areas/graduate-certificate-in-teaching-english-to-speakers-of-other-languages/">
        <h2>Graduate Certificate in Teaching English to Speakers of Other Languages</h2>
        <div class="sub-text">
           <h4>GCertTESOL</h4>
            <h4>Duration: 1 trimester of full-time study</h4>
            <h4>Points: 60</h4>
            <!--<h4>Location: On-campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/graduate-quals/diploma-in-arts/">
        <h2>Graduate Diploma in Arts</h2>
        <div class="sub-text">
           <h4>GDipArts</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part-time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/graduate-quals/graduate-diploma-in-music/">
        <h2>Graduate Diploma in Music</h2>
        <div class="sub-text">
           <h4>GDipMus</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part-time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Postgraduate Certificate in Migration Studies</h2>
        <div class="sub-text">
           <h4>PGCertMigS</h4>
            <h4>Duration: 1 trimesters of full-time study or normally 2 if studied part time</h4>
            <h4>Points: 60</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Postgraduate Diploma in Strategic Studies</h2>
        <div class="sub-text">
           <h4>PGDipSS</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On-campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/postgraduate-diploma-in-arts/">
        <h2>Postgraduate Diploma in Arts</h2>
        <div class="sub-text">
           <h4>PGDipArts</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Postgraduate Diploma in Migration Studies</h2>
        <div class="sub-text">
           <h4>PGDipMigS</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/postgraduate-diploma-in-music/">
        <h2>Postgraduate Diploma in Music</h2>
        <div class="sub-text">
           <h4>PGDipMus</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Postgraduate Diploma in Political Science</h2>
        <div class="sub-text">
           <h4>PGDipPols</h4>
            <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/master-of-arts-120-points/">
        <h2>Master of Arts 120 points</h2>
        <div class="sub-text">
           <h4>MA</h4>
            <h4>Duration: 3-4 trimesters of full-time study or normally 6-8 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Research, or coursework and research</h4>
            <h4>Schedule: Self-directed research and/or lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/master-of-arts-180-points/">
        <h2>Master of Arts 180 points</h2>
        <div class="sub-text">
           <h4>MA</h4>
            <h4>Duration: 3-4 trimesters of full-time study or normally 6-8 if studied part time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Lectures and self-directed research</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/master-of-fine-arts-creative-practice/">
        <h2>Master of Fine Arts (Creative Practice)</h2>
        <div class="sub-text">
           <h4>MFA(CP)</h4>
            <h4>Duration: 3 trimesters of full-time study</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: Flexible and on campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework, internship and creative project</h4>
            <h4>Schedule: Lectures and self-directed study</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of International Trade</h2>
        <div class="sub-text">
           <h4>MIntTr</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part-time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On campus (Pipitea and Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework</h4>
            <h4>Schedule: Daytime and evening lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of International Relations</h2>
        <div class="sub-text">
           <h4>MIR</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of Migration Studies</h2>
        <div class="sub-text">
           <h4>MMigS</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework, research or practicum</h4>
            <h4>Schedule: Lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of Philosophy, Politics and Economics</h2>
        <div class="sub-text">
           <h4>MPPE</h4>
            <h4>Duration: 3-4 trimesters of full-time study or normally 6-8 if studied part time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework, research and internship</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of Museum and Heritage Practice</h2>
        <div class="sub-text">
           <h4>MMHP</h4>
            <h4>Duration: 3 trimesters of full-time study</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On-campus (Kelburn, Wellington) and flexible</h4>-->
            <h4>Type: Coursework and practicum</h4>
            <h4>Schedule: Daytime lectures and self-directed study</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/master-of-music/">
        <h2>Master of Music</h2>
        <div class="sub-text">
           <h4>MMus</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Research or research and coursework</h4>
            <h4>Schedule: Self-directed study</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/master-of-musical-arts/">
        <h2>Master of Musical Arts</h2>
        <div class="sub-text">
           <h4>MMA</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/study-areas/master-of-music-therapy-by-research/">
        <h2>Master of Music Therapy by research</h2>
        <div class="sub-text">
           <h4>MMusTher</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 5 if studied part time</h4>
            <h4>Points: 120</h4>
            <!--<h4>Location: Flexible</h4>-->
            <h4>Type: Practicum and research</h4>
            <h4>Schedule: Self-directed study</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of Political Science</h2>
        <div class="sub-text">
           <h4>MPols</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="">
        <h2>Master of Strategic Studies</h2>
        <div class="sub-text">
           <h4>MSS</h4>
            <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
            <h4>Points: 180</h4>
            <!--<h4>Location: On-campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li><li class="tile">
     <a href="http://www.victoria.ac.nz/explore/postgraduate-programmes/doctor-of-musical-arts/">
        <h2>Doctor of Musical Arts</h2>
        <div class="sub-text">
           <h4>DMA</h4>
            <h4>Duration: 6-8 trimesters of full-time study or normally 12-16 if studied part time</h4>
            <h4>Points: 360</h4>
            <!--<h4>Location: On campus (Kelburn, Wellington)</h4>-->
            <h4>Type: Coursework and research</h4>
            <h4>Schedule: Daytime lectures</h4>
        </div>
        <i class="icon-arrow-right"></i>
     </a>
  </li>              </ul>
            </div>
         </section>
         
      <!--</section>-->
   </section></div>
</section>





        <section class=" tiles-panel">
          <div class="centraliser block">
            <div class="study-area-tabs" id="study-area-tabs">

              <style>

                </style>

  <div class="switch">

        <input type="radio" class="switch-input" name="view" value="undergraduate" id="undergraduate" checked>
        <label for="undergraduate" class="switch-label switch-label-off">Undergraduate</label>

        <input type="radio" class="switch-input" name="view" value="postgraduate" id="postgraduate">
        <label for="postgraduate" class="switch-label switch-label-on">Postgraduate</label>
        <span class="switch-selection"></span>

  </div>

              <ul>
                <li class="active"><a href="javascript:void(0)"><h4><span class="icon-book-open"></span>Subject areas</h4></a></li>
                <li><a href="javascript:void(0)"><h4><span class="icon-graduation-cap"></span>Degrees and qualifications</h4></a></li>
              </ul>
            </div>
           <section class="study-areas-undergrad">{{> study-areas-undergrad}} {{> degrees-quals-undergrad}}</section>
           <section class="study-areas-postgrad"> {{> study-areas-postgrad}} {{> degrees-quals-postgrad}}</section>
          </div>
        </section>
        {{> promo-with-1x-image}} {{> promo-panels.text-promo-panel}}  {{> three-cols-images}}
      </section>
    </main>
  </div>
</div>
