---
navigation.global: 

---

<section class="layout">

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>

        {{>promo-with-1x-image-rtl}}

        {{>promo-with-1x-image}}

        {{>three-cols-images}}

        {{>promo-with-button}}

        <div class="separated">
          {{>promo-with-list}}
        </div>

        <div class="articles-two-up divider-line">
          <div class="centraliser ">
            {{> news}}
  
  
            {{> events}}
          </div>
        </div>

        <div class="articles-two-up panel">
          <div class="centraliser ">
            {{> news}}
  
  
            {{> events}}
          </div>
        </div>

        {{>promo-with-photo-bg}}

        {{>promo-with-button}}

        {{>promo-with-pattern-bg}}

    </main>

  </div>

</section>

