---
navigation.global-menu:

---

<section class="layout">

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>

        {{>promo-with-1x-image-rtl}}

        {{>promo-with-1x-image}}

        {{>three-cols-images}}

        {{>promo-with-button}}

        <div class="separated">
          {{>promo-with-list}}
        </div>

        <div class="separated">
          {{> news}}
        </div>

        <div class="separated">
          {{> events}}
        </div>

        {{>promo-with-photo-bg}}

        {{>promo-with-button}}

        {{>promo-with-pattern-bg}}

    </main>

  </div>

</section>

