<!-- Media (video, images, galleries) handling -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.site}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>

      <!-- gallery scripts -->
      <!-- CSS file -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css">
      <!-- Skin CSS file (styling of UI - buttons, caption, etc.) -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css">
      <!-- JS file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.js"></script>
      <!-- UI JS file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.js"></script>

      <section class="block formatting">
        <h1>Image gallery</h1>

        <h2>Feature with thumbnails</h2>
        <p>Will show the first five images of the gallery.</p>
       
        <div class="gallery-container">
          <a href="#" class="open_gallery">
            <div class="gallery thumbnails">
              <div class="gallery-title block">
                <h2>Main Gym Gallery <span class="icon-caret-down"></span></h2>
                <h4><span class="icon-pictures"></span>6 photos</h4>
              </div>
              <div class="gallery-images">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0003/317658/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0005/317651/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0005/317660/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0006/317661/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0007/317662/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0008/317663/varieties/ls_medium.jpg" alt="">
              </div>
            </div>
          </a>
        </div>

        <h2>Feature only </h2>
        <p>Only show the first image of gallery listings.</p>
        <!-- Single image shown gallery -->
        <div class="gallery-container">
          <a href="#" class="open_gallery">
            <div class="gallery single-feature">
              <div class="gallery-title block">
                <h2>Main Gym Gallery <span class="icon-caret-down"></span></h2>
                <h4><span class="icon-pictures"></span>6 photos</h4>
              </div>
              <div class="gallery-images">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0003/317658/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0005/317651/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0005/317660/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0006/317661/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0007/317662/varieties/ls_medium.jpg" alt="">
                <img src="https://www.victoria.ac.nz/__data/assets/image/0008/317663/varieties/ls_medium.jpg" alt="">
              </div>
            </div>
          </a>
        </div>


        <script>
          setTimeout(function() {
            
         
            $(function() {
                var pswpElement = document.querySelectorAll('.pswp')[0];
            
                $('.open_gallery').click(function(e) {
            e.preventDefault();
                    // build items array
                    var items = [  {
    originalImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0003/317658/main-gym.jpg',
        w: 3200,
        h: 1800,
        title: '',
        pid: 'image-1'
    },
    mediumImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0003/317658/varieties/ls_medium.jpg',
        w: 1600,
        h: 900,
        title: '',
        pid: 'image-1'
    },
    smallImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0003/317658/varieties/ls_small.jpg',
        w: 640,
        h: 360,
        title: '',
        pid: 'image-1'
    }
},
 {
    originalImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0005/317651/basketball-shot.jpg',
        w: 3200,
        h: 1800,
        title: '',
        pid: 'image-2'
    },
    mediumImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0005/317651/varieties/ls_medium.jpg',
        w: 1600,
        h: 900,
        title: '',
        pid: 'image-2'
    },
    smallImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0005/317651/varieties/ls_small.jpg',
        w: 640,
        h: 360,
        title: '',
        pid: 'image-2'
    }
},
 {
    originalImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0005/317660/netball-hoop.jpg',
        w: 3200,
        h: 1800,
        title: '',
        pid: 'image-3'
    },
    mediumImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0005/317660/varieties/ls_medium.jpg',
        w: 1600,
        h: 900,
        title: '',
        pid: 'image-3'
    },
    smallImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0005/317660/varieties/ls_small.jpg',
        w: 640,
        h: 360,
        title: '',
        pid: 'image-3'
    }
},
 {
    originalImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0006/317661/netball-shoot.jpg',
        w: 3200,
        h: 1800,
        title: '',
        pid: 'image-4'
    },
    mediumImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0006/317661/varieties/ls_medium.jpg',
        w: 1600,
        h: 900,
        title: '',
        pid: 'image-4'
    },
    smallImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0006/317661/varieties/ls_small.jpg',
        w: 640,
        h: 360,
        title: '',
        pid: 'image-4'
    }
},
 {
    originalImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0007/317662/volleyball-net.jpg',
        w: 3200,
        h: 1800,
        title: '',
        pid: 'image-5'
    },
    mediumImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0007/317662/varieties/ls_medium.jpg',
        w: 1600,
        h: 900,
        title: '',
        pid: 'image-5'
    },
    smallImage: {
        src: 'http://cms.victoria.ac.nz/__data/assets/image/0007/317662/varieties/ls_small.jpg',
        w: 640,
        h: 360,
        title: '',
        pid: 'image-5'
    }
},
 {
        originalImage: {
            src: 'http://cms.victoria.ac.nz/__data/assets/image/0008/317663/volleyball-team.jpg',
            w: 3200,
            h: 1800,
            title: '',
            pid: 'image-6'
        },
        mediumImage: {
            src: 'http://cms.victoria.ac.nz/__data/assets/image/0008/317663/varieties/ls_medium.jpg',
            w: 1600,
            h: 900,
            pid: 'image-6'
        },
         smallImage: {
            src: 'http://cms.victoria.ac.nz/__data/assets/image/0008/317663/varieties/ls_small.jpg',
            w: 640,
            h: 360,
            pid: 'image-6'
        }
    } ];
            
                    // define options (if needed)
                    var options = {
                        // optionName: 'option value'
                        // for example:
                        history: true,
                        galleryPIDs: true,
                        index: 0 // start at first slide
                    };
            
                    // Initializes and opens PhotoSwipe
                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            
                    // create variable that will store real size of viewport
                    var realViewportWidth,
                        useLargeImages = false,
                        useSmallImages = false,
                        firstResize = true,
                        imageSrcWillChange;
            
                    // beforeResize event fires each time size of gallery viewport updates
                    gallery.listen('beforeResize', function() {
                        // gallery.viewportSize.x - width of PhotoSwipe viewport
                        // gallery.viewportSize.y - height of PhotoSwipe viewport
                        // window.devicePixelRatio - ratio between physical pixels and device independent pixels (Number)
                        //                          1 (regular display), 2 (@2x, retina) ...
            
            
                        // calculate real pixels when size changes
                        realViewportWidth = gallery.viewportSize.x * window.devicePixelRatio;
            
                        // Code below is needed if you want image to switch dynamically on window.resize
            
                        // Find out if current images need to be changed
                        if (!useLargeImages && realViewportWidth <= 640) {
                            useLargeImages = false;
                            useSmallImages = true;
                            imageSrcWillChange = true;
                        } else if (!useLargeImages && realViewportWidth >= 1600) {
                            useLargeImages = true;
                            imageSrcWillChange = true;
                        } else {
                            useLargeImages = false;
                            useSmallImages = false;
                            imageSrcWillChange = true;
                        }
            
                        // Invalidate items only when source is changed and when it's not the first update
                        if (imageSrcWillChange && !firstResize) {
                            // invalidateCurrItems sets a flag on slides that are in DOM,
                            // which will force update of content (image) on window.resize.
                            gallery.invalidateCurrItems();
                        }
            
                        if (firstResize) {
                            firstResize = false;
                        }
            
                        imageSrcWillChange = false;
            
                    });
            
            
                    // gettingData event fires each time PhotoSwipe retrieves image source & size
                    gallery.listen('gettingData', function(index, item) {
            
                        // Set image source & size based on real viewport width
                        if (useLargeImages) {
                            item.src = item.originalImage.src;
                            item.w = item.originalImage.w;
                            item.h = item.originalImage.h;
                            item.title = item.originalImage.title;
                            item.pid = item.originalImage.pid;
                        } else if (useSmallImages) {
                            item.src = item.smallImage.src;
                            item.w = item.smallImage.w;
                            item.h = item.smallImage.h;
                            item.title = item.smallImage.title;
                            item.pid = item.smallImage.pid;
                        } else {
                            item.src = item.mediumImage.src;
                            item.w = item.mediumImage.w;
                            item.h = item.mediumImage.h;
                            item.title = item.smallImage.title;
                            item.pid = item.smallImage.pid;
                        }
            
                        // It doesn't really matter what will you do here, 
                        // as long as item.src, item.w and item.h have valid values.
                        // 
                        // Just avoid http requests in this listener, as it fires quite often
            
                    });
            
                    // console.log('monkkeees');
                    gallery.init();
                });
            
            });
          }, 1000);
            </script>
            
            
            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            
                <!-- Background of PhotoSwipe. 
                     It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>
            
                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">
            
                    <!-- Container that holds slides. 
                        PhotoSwipe keeps only 3 of them in the DOM to save memory.
                        Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
            
                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">
            
                        <div class="pswp__top-bar">
            
                            <!--  Controls are self-explanatory. Order can be changed. -->
            
                            <div class="pswp__counter"></div>
            
                            <div class="pswp__button pswp__button--close" title="Close (Esc)"></div>
            
                             <!-- <button class="pswp__button pswp__button--share" title="Share"></button> -->
            
                            <div class="pswp__button pswp__button--fs" title="Toggle fullscreen"></div>
            
                            <div class="pswp__button pswp__button--zoom" title="Zoom in/out"></div>
            
                            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                  <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                  </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>
            
                        <div class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </div>
            
                        <div class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </div>
            
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
            
                    </div>
            
                </div>
            
            </div>


        



      </section>
    </main>



    <!-- Right 'widget' column -->
  	<aside role="complementary">
        <div class="promo secondary">
            <a href="http://www.victoria.ac.nz/about/global-engagement">
              <h2>Global and national engagement</h2>
              <p>We seek to bring the world to Victoria and Victoria to the world. <b>Find out more…</b></p>
            </a>
          </div>
  	</aside>

  </div>

</section>
