<!-- Staff listing -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">


    <!-- Center 'content' column -->

    <main>

      <div class="block formatting">
        <h1>Flash/Notification messages</h1>
        {{> messages }}
      </div>

    </main>


    <!-- Right 'widget' column -->

  	<aside role="complementary">
  	</aside>

  </div>

</section>
