<!-- Staff listing -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <h1>Fossil record reveals changes in Earth’s movement and rotation</h1>
        <p class="intro">Research led by Victoria University of Wellington looks back 450 million years to reveal an important link between changes
          in our planet’s motion through space, and the extinction and evolution of life on Earth.</p>

        <time class="subtitle" itemprop="datePublished" datetime="2018-05-17T16:21:16+12:00">
          <strong>17 May 2018</strong>
        </time>

        <figure class="media">
            <img title="PhD graduate Taitusi Taufa" src="https://www.wgtn.ac.nz/?a=1570427:v2" alt="PhD graduate Taitusi Taufa, in graduation attire, stands in front of Victoria University of Wellington graduation banners">
        </figure>

        <p>Professor James Crampton from Victoria University’s School of Geography, Environment, and Earth Sciences worked with a research
          team from GNS Science and the Universities of Wisconsin, California Riverside, and Chicago to examine the fossils of graptoloids,
          an extinct type of plankton that floated in ancient oceans. They found evidence that regular changes in the Earth’s orbit
          and axis of rotation caused significant changes in both the evolution and extinction rates of these creatures.</p>
        <p>“This research is very exciting, because the relationship between these orbital changes and extinction has never been shown
          before in truly ancient ecosystems,” says Professor Crampton. “There’s a strong debate in science about the impact on extinction
          and evolution of environmental change versus interactions between species (such as competition for food). With this study
          we can provide evidence of the impact of environmental changes on life on Earth. The evolution cycle changes we see occurred
          relatively soon after the first evolution of complex ecosystems, and during one of the greatest bursts of biodiversity
          increase in the history of life.”</p>
        <p>Normally, changes in Earth’s orbit would be calculated by astronomers, Professor Crampton says, rather than palaeontologists.</p>
        <p>“Astronomers can clearly calculate changes in Earth’s orbit about 50 million years into the past, but beyond that point the
          calculations become impossible due to the effects of what we call chaos theory, which makes the calculations too complex
          to complete,” Professor Crampton says. “But we can see the effects of changes in Earth’s orbit in the fossil record, so
          we can provide information to astronomers that they previously couldn’t find out.”</p>
        <p>Understanding the evolution of plankton is also extremely important to understanding life on Earth today, Professor Crampton
          says.</p>
        <p>“Plankton living in the oceans today absorb a large amount of our CO2 output, keeping it out of the atmosphere,” Professor
          Crampton says. “They are also an important part of the food chain. The evolution and extinction of plankton can have a
          large effect on marine life.”</p>
        <p>This research is only the beginning. Professor Crampton and his colleagues now plan to look deeper into the specific causes
          of extinction.</p>
        <p>“We know that changes in Earth’s orbit affects extinction and evolution,” Professor Crampton says. “What we’re missing is
          the information in the middle – what was happening on Earth as a result of orbital changes that caused extinction or evolution.
          Other research teams around the world are trying to extract sufficiently detailed information about climate change between
          400 and 500 million years ago so that we can figure out exactly what the relationship is between climate changes and the
          plankton.</p>
        <p>“We also want to look more closely at what happens after a species becomes extinct,” Professor Crampton says. “We know that
          when a species becomes extinct a new species will evolve to take the place of the extinct species in an ecosystem, but
          we don’t know how long that takes.</p>
        <p>“We’re lucky to have such a good fossil record of this group, built up over many years by GNS and the University of California
          Riverside, because it answers so many questions for us,” says Professor Crampton. “With this fossil record we can ask fundamental
          questions about biodiversity and how life works on Earth.”</p>
      </section>
    </main>

    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">
      </div>
  	</aside>

  </div>

</section>
