---
theme: red
---

<section class="layout centraliser block ">
    <!-- Menu -->

    <div class="sidebar">
        <nav class="site" role="navigation">
            <!-- <p>Has Children 5</p> -->
            <ul>
                <li>
                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi" class="">Te Paepae Rauemi's home</a>
                </li>
                <!-- parentOnly -->
                <li>
                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi" class="">Te Paepae Rauemi</a>
                    <ul>
                        <li>
                            <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e" class="selected">Pukapuka-E
                                / E-Books</a>
                            <ul>
                                <li>
                                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/horouta">
                                        Horouta
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/kei-whea-te-aute-ngaati-whanaunga">
                                        Kei whea Te Aute? Ngaati Whanaunga
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/motuarohia">
                                        Motuarohia
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/nga-waka-korero-o-te-tairawhiti">
                                        Ngā Waka Kōrero o te Tairāwhiti
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/ngati-oneone">
                                        Ngāti Oneone
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/riki-and-the-ship">
                                        Riki and the Ship
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/tamainupo">
                                        Tamainupō
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/te-aitanga-a-hauiti-me-te-uawanui-a-ruamatua">
                                        Te Aitanga-a-Hauiti me te Uawanui-a-Ruamatua
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/te-horeta-te-taniwha">
                                        Te Horeta te Taniwha
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/te-tauihu-turanga-whakamana">
                                        Te Tauihu Tūranga Whakamana
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Banner for Hompage -->

    <!-- no banner  -->
    <div class="content-panel">
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" role="navigation">
            <ul class="breadcrumbs block">
                <li>
                    <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi" title="Parent page Te Paepae Rauemi">Te Paepae
                        Rauemi</a>
                </li>
                <li>
                    Pukapuka-E / E-Books
                </li>
            </ul>
        </nav>

        <!-- Banner for Hompage END-->

        <main>
            <div class="block formatting">
                <h1>Pukapuka-E / E-Books</h1>
                <p class="intro">
                    We acknowledge the many iwi and hapū who have shared their stories
                    with us and allowed us to bring them to life in a digital form.
                </p>

                <p>
                    The suite of eBooks developed and made available on this site include
                    a series of teacher notes to support and guide the implementation of
                    these stories in the classroom.
                </p>
                <p>
                    You can read all the eBooks online. Contact us if you would like to
                    download the eBooks for your iwi.
                </p>
                <section class="grid">
                    <figure class=" ">
                        <img title="Horouta"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0006/1745295/varieties/ls_medium.jpg"
                            alt="" />
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/horouta">
                            <figcaption>
                                <h3>Horouta</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <img title="Kei whea Te Aute"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0004/1745311/varieties/ls_medium.jpg"
                            alt="" />
                        <a
                            href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/kei-whea-te-aute-ngaati-whanaunga">
                            <figcaption>
                                <h3>Kei whea Te Aute? Ngaati Whanaunga</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/motuarohia">
                            <figcaption>
                                <h3>Motuarohia</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <img title="Waka build 1"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0011/1745291/varieties/ls_medium.jpg"
                            alt="" />
                        <a
                            href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/nga-waka-korero-o-te-tairawhiti">
                            <figcaption>
                                <h3>Ngā Waka Kōrero o te Tairāwhiti</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <img title="Ng Oneone"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0003/1745301/varieties/ls_medium.jpg"
                            alt="" />
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/ngati-oneone">
                            <figcaption>
                                <h3>Ngāti Oneone</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/riki-and-the-ship">
                            <figcaption>
                                <h3>Riki and the Ship</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <img title="Tamainupo"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0003/1745292/varieties/ls_medium.jpg"
                            alt="" />
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/tamainupo">
                            <figcaption>
                                <h3>Tamainupō</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <a
                            href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/te-aitanga-a-hauiti-me-te-uawanui-a-ruamatua">
                            <figcaption>
                                <h3>Te Aitanga-a-Hauiti me te Uawanui-a-Ruamatua</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <img title="Te Horeta"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0009/1745307/varieties/ls_medium.jpg"
                            alt="" />
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/te-horeta-te-taniwha">
                            <figcaption>
                                <h3>Te Horeta te Taniwha</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>

                    <figure class=" ">
                        <img title="Te Tauihu"
                            src="https://cms.wgtn.ac.nz/__data/assets/image/0004/1745293/varieties/ls_medium.jpg"
                            alt="" />
                        <a href="https://cms.wgtn.ac.nz/te-paepae-rauemi/pukapuka-e/te-tauihu-turanga-whakamana">
                            <figcaption>
                                <h3>Te Tauihu Tūranga Whakamana</h3>
                                <p></p>
                            </figcaption>
                        </a>
                    </figure>
                </section>
            </div>
        </main>
    </div>

    <!--     </div>
 -->
</section>
