---
title: Overview | Fabricator
fabricator: true
---

<h1>Overview</h1>
<br>
<br>
<br>
<br>


<!-- ================================================== -->


<h2>Colours</h2>
<br>

{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<br>
<br>
<br>
<br>


<!-- ================================================== -->


<h2>Icons</h2>
<br>

<p>
  <strong>
    Icons should be used by specifying empty span element with 'icon-[name]' class. Recommended placement of a icon is at the beginning of an element.
  </strong>
</p>
<br>
<p>
  <strong>
    When using icons inside links, try to use aliased classes. Specifically: link-audio, link-more, link-download and link-external.
  </strong>
</p>
<br>

<p style="font-size: 200%; color: #3A3A3A;">
  <span class="icon-search"></span>
  <span class="icon-mail"></span>
  <span class="icon-heart"></span>
  <span class="icon-check"></span>
  <span class="icon-star"></span>
  <span class="icon-help"></span>
  <span class="icon-people"></span>
  <span class="icon-user"></span>
  <span class="icon-info"></span>
  <span class="icon-home"></span><br>

  <span class="icon-back"></span>
  <span class="icon-pictures"></span>
  <span class="icon-popup"></span>
  <span class="icon-clock"></span>
  <span class="icon-tag"></span>
  <span class="icon-book"></span>
  <span class="icon-book-open"></span>
  <span class="icon-pin"></span>
  <span class="icon-vcard"></span>
  <span class="icon-chat"></span><br>

  <span class="icon-flag"></span>
  <span class="icon-external"></span>
  <span class="icon-printer"></span>
  <span class="icon-camera"></span>
  <span class="icon-lock"></span>
  <span class="icon-lock-open"></span>
  <span class="icon-phone"></span>
  <span class="icon-attention"></span>
  <span class="icon-resize-up"></span>
  <span class="icon-resize-down"></span><br>

  <span class="icon-mic"></span>
  <span class="icon-cog"></span>
  <span class="icon-share"></span>
  <span class="icon-basket"></span>
  <span class="icon-comment"></span>
  <span class="icon-refresh"></span>
  <span class="icon-graduation-cap"></span>
  <span class="icon-ticket"></span>
  <span class="icon-megaphone"></span>
  <span class="icon-calendar"></span><br>

  <span class="icon-caret-down-thin"></span>
  <span class="icon-caret-left-thin"></span>
  <span class="icon-caret-right-thin"></span>
  <span class="icon-caret-up-thin"></span>
  <span class="icon-caret-down"></span>
  <span class="icon-caret-left"></span>
  <span class="icon-caret-right"></span>
  <span class="icon-caret-up"></span>
  <span class="icon-triangle-down"></span>
  <span class="icon-triangle-left"></span><br>

  <span class="icon-triangle-right"></span>
  <span class="icon-triangle-up"></span>
  <span class="icon-arrow-down"></span>
  <span class="icon-arrow-left"></span>
  <span class="icon-arrow-right"></span>
  <span class="icon-arrow-up"></span>
  <span class="icon-globe"></span>
  <span class="icon-dots"></span>
  <span class="icon-layout"></span>
  <span class="icon-attach"></span><br>

  <span class="icon-menu"></span>
  <span class="icon-edit"></span>
  <span class="icon-download"></span>
  <span class="icon-audio"></span>
  <span class="icon-quote-down"></span>
  <span class="icon-quote-up"></span>
  <span class="icon-cross"></span>

</p>

<br>
<br>



<!-- ================================================== -->

<h2>Typography</h2>
<br>

<div class="formatting">

  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.
  </p>

  <ul>
    <li>First item</li>
    <li>Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</li>
    <li>Third item
      <ul>
        <li>First sub-item</li>
        <li>Second sub-item</li>
        <li>Third sub-item</li>
        <li>Fourth sub-item</li>
      </ul>
    </li>
    </li>
    <li>Fourth item</li>
  </ul>

  <ol>
    <li>First item</li>
    <li>Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</li>
    <li>Fourth item
      <ol>
        <li>First sub-item</li>
        <li>Second sub-item</li>
        <li>Third sub-item</li>
        <li>Fourth sub-item</li>
      </ol>
    </li>
    <li>Third item</li>
  </ol>

  <p>
    Lorem <a href="#" title="Inline links always do have their titles!">inline link</a>  ipsum dolor sit amet, consectetur adipisicing el.
  </p>

  <p>
    Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Aperiam enim sunt sapiente molestias, <em>sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</em>
  </p>

  <p>“HRC funding has supported the establishment of research teams, which bring together people with different skillsets, perspectives and connections to communities, practitioners and services,” says Professor Dew. “I would not be involved in such fascinating research without HRC funding.”</p>



  <!-- ================================================== -->
<dl>
<dt>dl lists</dt>
<dd>default styles</dd>
  <dt>Coffee</dt>
  <dd>Large flat white</dd>
  <dd>Long black</dd>
  <dd>Decaf latte</dd>
  <dt>Tea</dt>
  <dd>Ice cold</dd>
</dl>


  <br>
  <br>
</div>
