<section class="layout centraliser block">
  <div class="sidebar">
    {{> navigation.sidemenu-expandable }}
  </div>

  <div class="content-panel">
    <main>
      <div class="block formatting">
        <div class="highlight primary" id="course_advice">
          <h2>Talk to us about your study options</h2>
          <p>
            Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.
          </p>
          <p>
            <button class="button"
              title="Lazy loads and opens the toolbar dialog"
              onclick="window.toolkitToolbarLoader && window.toolkitToolbarLoader( 'https://www.victoria.ac.nz/api/toolbar/staff' );void 0;">

              myTools for Staff

            </button>
          </p>
        </div>

        <div class="highlight primary" id="course_advice">
            <h2>Talk to us about your study options</h2>
            <p>
              Our liaison officers provide objective advice to help you make the right decisions when planning your first year of study and can provide assistance with selecting your admission type when you apply to enrol.
            </p>
            <p>
              <button class="button"
                title="Lazy loads and opens the toolbar dialog"
                onclick="window.toolkitToolbarLoader && window.toolkitToolbarLoader( 'https://www.victoria.ac.nz/api/toolbar/students' );void 0;">

                myTools for Students

              </button>
            </p>
          </div>

      </div>
    </main>
  </div>
</section>
