<!-- Staff listing -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <h1>Marketing team</h1>

        <h2>
          Executives <em class="note">4</em>
        </h2>

        <!-- List of staff profiles -->
        <div class="articles-container">
          <ul class="staff">
            <li>
              <article>

                <a href="#" title="Go to the Nigel's profile page">
                  <img class="profile-picture" src="//www.victoria.ac.nz/images/staffpics/nigel-riley.jpg" alt="Nigel Railey's profile-picture photograph">
                </a>

                <div class="summary">
                  <header class="formatting">
                    <h3><a href="#" title="Go to the Nigel's profile page">Nigel Riley</a></h3>

                    <p class="subtitle">
                      <strong>Associate directors</strong>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:nigel.riley@vuw.ac.nz" title="Send an email to Nigel Riley"><span class="icon-mail"></span>nigel.riley@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:0214100121" title="Call to Nigel Riley's work phone"><span class="icon-phone"></span>0214100121</a>
                    </li>

                    <li><span class="icon-pin"></span>Room 320, Hunter Bldg Gate 1 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>

            <li>
              <article>

                <a href="#" title="Go to the david's profile page">
                  <img class="profile-picture" src="//www.victoria.ac.nz/images/staffpics/david-streader.jpg" alt="David Stretter's profile-picture photograph">
                </a>

                <div class="summary">
                  <header class="formatting">
                    <h3><a href="#" title="Go to the David's profile page">David Stretter</a></h3>

                    <p class="subtitle">
                      <strong>Lecturer</strong>
                      <span>School of education</span>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:david.riley@vuw.ac.nz" title="Send an email to david Stretter"><span class="icon-mail"></span>david.stretter@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:0221231029" title="Call to David's work phone"><span class="icon-phone"></span>0221231029</a>
                    </li>

                    <li><span class="icon-pin"></span>Room 260, Cotton Bldg Gate 7 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>

            <li>
              <article>

                <img class="profile-picture" src="//www.victoria.ac.nz/images/staffpics/david-archibald.jpg" alt="David Stretter's profile-picture photograph">

                <div class="summary">
                  <header class="formatting">
                    <h3>David Archibald</h3>

                    <p class="subtitle">
                      <strong>Web Manager</strong>
                      <span>Communications and Marketing</span>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:david.archibald@vuw.ac.nz" title="Send an email to David Archibald"><span class="icon-mail"></span>david.archibald@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:044636941" title="Call to David's work phone"><span class="icon-phone"></span>04 463 6941</a>
                    </li>

                    <li><span class="icon-pin"></span>Room 324, Hunter Bldg Gate 1 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>

            <li>
              <article>

                <img class="profile-picture" src="//www.victoria.ac.nz/images/staffpics/jane-young.jpg" alt="Jane's profile-picture photograph">

                <div class="summary">
                  <header class="formatting">
                    <h3>Jane Young</h3>

                    <p class="subtitle">
                      <strong>Project Manager</strong>
                      <span>Communications and Marketing</span>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:jane.young@vuw.ac.nz" title="Send an email to Jane Young"><span class="icon-mail"></span>jane.young@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:044636951" title="Call to David's work phone"><span class="icon-phone"></span>04 463 6951</a>
                    </li>

                    <li><span class="icon-pin"></span>Room HU325, Hunter Bldg Gate 1 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>

          </ul>
        </div>

        <!-- List of staff profiles *WITHOUT* photo -->

        <h2>
          Marketing leaders (pictureless) <em class="note">3</em>
        </h2>

        <div class="articles-container">
          <ul class="staff">
            <li>
              <article>

                <div class="summary">
                  <header class="formatting">
                    <h3><a href="#" title="Go to the Nigel's profile page">Nigel Riley</a></h3>

                    <p class="subtitle">
                      <strong>Associate directors</strong>
                      <span>Communications and Marketing</span>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:nigel.riley@vuw.ac.nz" title="Send an email to Nigel Riley"><span class="icon-mail"></span>nigel.riley@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:0214100121" title="Call to Nigel Riley's work phone"><span class="icon-phone"></span>0214100121</a>
                    </li>

                    <li><span class="icon-pin"></span>Room 320, Hunter Bldg Gate 1 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>

            <li>
              <article>

                <div class="summary">
                  <header class="formatting">
                    <h3>David Archibald</h3>

                    <p class="subtitle">
                      <strong>Web Manager</strong>
                      <span>Communications and Marketing</span>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:david.archibald@vuw.ac.nz" title="Send an email to David Archibald"><span class="icon-mail"></span>david.archibald@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:044636941" title="Call to David's work phone"><span class="icon-phone"></span>04 463 6941</a>
                    </li>

                    <li><span class="icon-pin"></span>Room 324, Hunter Bldg Gate 1 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>

            <li>
              <article>

                <div class="summary">
                  <header class="formatting">
                    <h3>Jane Young</h3>

                    <p class="subtitle">
                      <strong>Project Manager</strong>
                      <span>Communications and Marketing</span>
                    </p>
                  </header>

                  <!-- Quick contact info -->
                  <ul class="meta">
                    <li class="highlight">
                      <a href="mailto:jane.young@vuw.ac.nz" title="Send an email to Jane Young"><span class="icon-mail"></span>jane.young@vuw.ac.nz</a>
                    </li>

                    <li class="highlight">
                      <a href="tel:044636951" title="Call to David's work phone"><span class="icon-phone"></span>04 463 6951</a>
                    </li>

                    <li><span class="icon-pin"></span>Room HU325, Hunter Bldg Gate 1 Kelburn Pde</li>
                  </ul>

                </div>

              </article>
            </li>
          </ul>

        </div>

      <!-- Pagination -->
      <nav class="pagination">
        <!-- 'Previous page' -->
        <a class="button primary no-icon previous" rel="prev" href="http://cms.victoria.ac.nz/vbs/about/news?mode=results&amp;current_result_page=10&amp;results_per_page=5" title="Previous page">Previous</a>
        <!-- 'Next page' -->
        <a class="button primary no-icon next" rel="next" href="http://cms.victoria.ac.nz/vbs/about/news?mode=results&amp;current_result_page=12&amp;results_per_page=5" title="Next page">Next</a>
        <div class="pages">
          <span class="icon 3dot">...</span>
          <!-- ... -->
          <!-- Show only two prior and two next pages -->
          <a class="button primary no-icon" href="http://cms.victoria.ac.nz/vbs/about/news?mode=results&amp;current_result_page=11&amp;results_per_page=5&amp;result_388447_result_page=9" title="9 out of  pages">9</a>
          <a class="button primary no-icon" href="http://cms.victoria.ac.nz/vbs/about/news?mode=results&amp;current_result_page=11&amp;results_per_page=5&amp;result_388447_result_page=10" title="10 out of  pages">10</a> <span class="button primary no-icon active">11</span> <a class="button primary no-icon" href="http://cms.victoria.ac.nz/vbs/about/news?mode=results&amp;current_result_page=11&amp;results_per_page=5&amp;result_388447_result_page=12" title="12 out of  pages">12</a> <a class="button primary no-icon" href="http://cms.victoria.ac.nz/vbs/about/news?mode=results&amp;current_result_page=11&amp;results_per_page=5&amp;result_388447_result_page=13" title="13 out of  pages">13</a>
          <span class="icon 3dot">...</span>
          <!-- ... -->
        </div>
      </nav>

      </section>
    </main>



    <!-- Right 'widget' column -->
  	<aside role="complementary">
      <div class="block formatting">

        <h2>Other marketing departments</h2>
        <ul class="links">
          <li><a href="https://www.vicbooks.co.nz/ ">Communications</a></li>
          <li><a href="//library.victoria.ac.nz/library-v2/ ">Engagement and Alumni</a></li>
          <li><a href="//www.victoria.ac.nz/students/study/timetables ">Faculty Communications and Marketing staff</a></li>
          <li><a href="//www.victoria.ac.nz/students/study/timetables/tutorials ">Web Improvement II</a></li>

        </ul>

      </div>
  	</aside>

  </div>

</section>
