<!-- Staff profile - detail -->

<section class="layout centraliser block">

  <!-- Left 'submenu' column -->
  <div class="sidebar"> {{> navigation.sidemenu-expandable}} </div>

  <!-- Center 'content' and right 'widget' columns -->
  <div class="content-panel">

    <!-- Center 'content' column -->
    <main>
      <section class="block formatting">
        <h1>Thom Adams</h1>

        <address class="contact">
          <img class="profile-picture larger" src="https://www.victoria.ac.nz/images/staffpics/thom-adams.jpg" alt="Thom Adams profile-picture photograph">

          <div class="summary">
            <header class="formatting">
              <p class="subtitle">
                <strong>Engagement Co-ordinator</strong> <span>Science Faculty Office</span>
              </p>
            </header>
            <!-- Quick contact info -->
            <ul class="meta">
              <li class="highlight">
                <a href="mailto:thom.adams@vuw.ac.nz" title="Send an email to Thom Adams">
                  <span class="icon-mail"></span>thom.adams@vuw.ac.nz</a>
              </li>
              <li class="highlight">
                <a href="tel:04 463 4768" title="Call Thom Adams work phone">
                  <span class="icon-phone"></span>04 463 4768</a>
              </li>
              <li>
                <span class="icon-pin"></span>Room 155, Cotton Bldg Gate 6 Kelburn Pde</li>
            </ul>
          </div>
        </address>

        <h2>Courses</h2>
        <h3>Teaching in 2016</h3>

        <!-- List with courses -->
        <ul class="complex-list">
            <li>
                <div class="caption"> <span>HIST&nbsp;423</span> <a href="//www.victoria.ac.nz/courses/hist/423?year=2016" title="Course detail of 'A Topic in Historiography and Historical Method 2: Film and History'">A Topic in Historiography and Historical Method 2: Film and History</a> </div>
                <div class="description"> <em>as Course Coordinator and Lecturer            </em> </div>
            </li>
            <li>
                <div class="caption"> <span>HIST&nbsp;235</span> <a href="//www.victoria.ac.nz/courses/hist/235?year=2016" title="Course detail of 'Special Topic: Mobilising the Masses: Propaganda in Europe in the Age of Catastrophe, 1914-1945'">Special Topic: Mobilising the Masses: Propaganda in Europe in the Age of Catastrophe, 1914-1945</a> </div>
                <div class="description"> <em>as Course Coordinator and Lecturer            </em> </div>
            </li>
            <li>
                <div class="caption"> <span>HIST&nbsp;118</span> <a href="//www.victoria.ac.nz/courses/hist/118?year=2016" title="Course detail of 'Making Europe Modern: Citizens, States and Nations'">Making Europe Modern: Citizens, States and Nations</a> </div>
                <div class="description"> <em>as Course Coordinator and Lecturer            </em> </div>
            </li>
        </ul>



        <h2>Research</h2>

        <p>
          My research focuses on plant-microbial interactions and in particular their responses to land use and climate change. My goal is to develop our understanding of how species interactions determine the trajectories of ecosystems to different stable states in order that society can better address questions like: What species can and will thrive under increased anthropogenic pressures? How should we target our efforts to best save species and restore ecosystems?  What attributes or functions of biological systems preserve the ecosystems services upon which human societies depend most?
        </p>

        <p>
          I use a variety of methodologies including molecular technologies, metagenomics, isotope techniques and biochemical analyses to elucidate relationships among species and their roles in driving ecosystem processes. Current projects include the following topics: restoration ecology, network modelling, mycorrhizal fungi of native New Zealand plants, microbial ecology and nutrient cycling of native and managed ecosystems.
        </p>

        <h3>Research interests</h3>
        <ul class="tag-cloud">
          <li>Plant and community ecology</li>
          <li>Plant-microbial interactions (fungi and bacteria)</li>
          <li>Plant ecophysiology</li>
          <li>Biogeochemistry</li>
          <li>Soil biodiversity</li>
          <li>Restoration ecology</li>
          <li>Global change biology</li>
        </ul>


      </section>
    </main>



    <!-- Right 'widget' column -->
  	<aside role="complementary"></aside>

  </div>

</section>
