
.hide-not-v4 {
  display:none !important;
}
#hubv4 .hide-not-v4 {
  display: inherit !important;
}

#hubv4 .hide-on-v4 {
  display:none !important;
}


#hubv4 {
  ._hj-widget-container {
    button {
      &::after {
        all: unset;
      }
    }
  }
}