@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');
.inter-font,
.inter-font h1,
.inter-font h2,
.inter-font h3,
.inter-font h4,
.inter-font h5,
.inter-font p,
.inter-font a,
.inter-font li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.inter-font h1,
.inter-font h2,
.inter-font h3,
.inter-font h4,
.inter-font h5 {
  font-weight: 700;
}
