---
layout: nav-update-new
title: "Study Hub | Experience Victoria"
NavColor: "white"
LogoColor: "green"
horizontalNav: "true"
hubPage: "true"

main-header:
  main-ia:
    - International students
    - Current students
    - Research
    - Engage

sub-header:
  - {"name": "About", "tereo": "Mō mātou"}
  - {"name": "Library", "tereo": "Whare pukapuka"}
  - {"name": "Maps", "tereo": "Mapi"}
  - {"name": "Staff intranet", "tereo": "Kaimahi"}
  - {"name": "Student Portal", "tereo": "Pūaha"}
  - {"name": "Blackboard", "tereo": "Papa tuhituhi "}
  - {"name": "Learning & teaching", "tereo": "Akoranga whakaako"}

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---
<!-- Study hub  About -->
<section class="layout">
  <div class="body-background">
  </div>
  <div class="content-panel">
    <!-- Center 'content' column -->
    <main class="hub">

      <div class=" block-banner inter-font light-green" role="banner">
        <img src="https://www.wgtn.ac.nz/__data/assets/image/0010/2004589/open-borders-hp-3rd-banner-2000x800.jpg"
          alt="Design students workshop">
        <div class="banner-content formatting">
          <div class="block ">
            <h1><span class="yellow-word">Open</span> for new ideas?</h1>
            <p class="sub-head">Expand your mind in Wellington.</p>
            <p>New Zealand’s border is reopening in 2022.</p>
          </div>
        </div>
        <div class="banner-square-start"></div>
        <div class="banner-square-end">

        </div>
      </div>



      <!-- Search panel -->
      <div class="centraliser">
        <div class="block">
          <div class="search-panel">
            <form class="form wide-search-bar" method="GET" action="https://www.wgtn.ac.nz/research/researchers">
              <h1 style="margin-bottom: 0.5rem">Find an expert</h1>
              <div class="group required">
                <input type="text" name="search" id="search" class="panel-search-input" placeholder="Find an expert..">
                <input type="submit" class="button large primary" value="Search">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- card panel  -->
      <div class="centraliser ">
        <div class="block formatting">
          <h2>At a glance</h2>
          <div class="card-panel icon-cards">

            <section class="card">
              <span><i class="icon-globe"></i></span>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Performance and rankings</a>
            </section>

            <section class="card">
              <span><i class="icon-people"></i></span>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
            </section>

          </div>
        </div>
      </div>

      <!-- Quote panel  -->
      <!-- <div class="quote-panel">
            <div class="centraliser ">
              <div class="block ">
                <figure class="quote full">
                  <blockquote>
                    <h3>Our researchers are making a positive impact - on the lives and wellbeing of people - not just in New Zealand,
                      but around the world - through exceptional innovation and research.</h3>
                  </blockquote>
                  <figcaption>Professor Kate Mcgrath
                    <br> Vice-Provost (Research)</figcaption>
                </figure>
              </div>
            </div>
          </div> -->



          <div class="quote-panel
                      quote-image

                    ">
            <div class="centraliser ">
              <div class="block ">
                <figure class="quote full">
                                        <div class="quote-content">
                      <blockquote>
                        <h3>It’s been five years since Bootcamp, but Wellington UniVentures is still our favourite investor because they’ve literally been with us the whole way on this exciting journey.</h3>
                      </blockquote>
                      <figcaption>
                        <h4>Chris Mather, MD</h4>
                        <p>Point Zero</p>
                           <a title="" href="https://cms.wgtn.ac.nz/research/partnerships/point-zero2?SQ_DESIGN_NAME=v4&amp;mode=dev" class="button large">
                             Read more
                                </a>

                      </figcaption>
                    </div>
                </figure>
              </div>
            </div>
          </div>

      <!-- New quote panel white bg -->
      <div class="quote-panel quote-image quote-white">
        <div class="centraliser ">
          <div class=" ">
            <figure class="quote full">
              <img alt="Prof Kate McGrath" src="https://www.wgtn.ac.nz/images/staffpics/kate-mcgrath.jpg"
                itemprop="photo">
              <div class="quote-content">
                <blockquote>
                  <h3>Our researchers are making a positive impact - on the lives and wellbeing of people - not just in
                    New Zealand,
                    but around the world - through exceptional innovation and research.</h3>
                </blockquote>
                <figcaption>
                  <h4>Professor Kate Mcgrath</h4>
                  <p>Vice-Provost (Research)</p>
                  <a title="Why to study at Victoria" href="#" class="button large ">Explore</a>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>

      <!-- card panel  -->
      <div class="centraliser ">
        <div class="block formatting">
          <div class="card-panel">
            <section class="card">
              <h2>Research culture</h2>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
              <a title="Why to study at Victoria" href="#" class="button large ">Information for staff</a>
            </section>
            <section class="card">
              <h2>Maori research practices</h2>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
            </section>
          </div>
        </div>
      </div>

      <!-- UG/PG switcher -->
      <section class=" tiles-panel">
        <div class="centraliser block">
          <div class="study-area-tabs" id="study-area-tabs">

            <div class="switch">
              <input type="radio" class="switch-input" name="view" value="undergraduate" id="undergraduate" checked="">
              <label for="undergraduate" class="switch-label switch-label-off"
                alt="View undergraduate degrees and subject areas"
                title="View undergraduate degrees and subject areas">Undergraduate</label>

              <input type="radio" class="switch-input" name="view" value="postgraduate" id="postgraduate">
              <label for="postgraduate" class="switch-label switch-label-on"
                alt="View postgraduate degrees and subject areas"
                title="View postgraduate degrees and subject areas">Postgraduate</label>
              <span class="switch-selection"></span>
            </div>


            <ul>
              <li class="active"><a href="javascript:void(0)" alt="View subject areas" title="View subject areas">
                  <h4><span class="icon-book-open"></span>Subject areas</h4>
                </a></li>
              <li class=""><a href="javascript:void(0)" alt="View degrees and qualifications"
                  title="View degrees and qualifications">
                  <h4><span class="icon-graduation-cap"></span>Degrees and qualifications</h4>
                </a></li>
            </ul>
          </div>
          <!--<section class="study-areas-undergrad">-->

          <section class="study-areas-undergrad" style="">
            <div class="updated-tile-grid study-areas" style="display: none;">
              <div class="tiles-wrap flex-tiles four-col">
                <ul>

                  <!--style="display: none;"-->
                  <!-- Get SA -->
                  <li class="tile">
                    <a href="https://www.wgtn.ac.nz/explore/study-areas/music/" alt="Visit the Music study area"
                      title="Visit the Music study area">
                      <h2>Music</h2>
                      <div class="sub-text">
                        <h4 class="icon-book">Subjects</h4>
                        <p>




                          <!-- Get Children -->
                          Classical Performance, Ethnomusicology, Instrumental/Vocal Composition, Jazz Performance,
                          Music, Musicology, Music Studies, Music Therapy, Performance, Popular Music Studies, Sonic
                          Arts and Music Technology


                        </p>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="study-area-single study-areas">
              <div class="study-area-wide-panel">
                <div class="img-wrap">
                  <img src="https://cms.wgtn.ac.nz/__data/assets/image/0005/379976/MusicBanner1.jpg" alt="">
                </div>
                <div class="content-wrap">
                  <div class="text-subjects-wrap">
                    <div class="text-wrap">
                      <h2>Music</h2>
                      <p>Follow your dream to make music your career or study it to enrich your life. Learn at this
                        country's leader in music education, the New Zealand School of Music—Te Kōkī.</p>
                      <a class="button primary" href="https://www.wgtn.ac.nz/explore/study-areas/music/">Find out
                        more</a>
                    </div>
                    <div class="subjects-wrap">
                      <h4 class="icon-book">Available subjects</h4>
                      <!--This should be unclosed-->
                      <ul class="list-long">




                        <!-- Get Children -->
                        <li>Classical Performance</li>
                        <li>Ethnomusicology</li>
                        <li>Instrumental/Vocal Composition</li>
                        <li>Jazz Performance</li>
                        <li>Music</li>
                        <li>Musicology</li>
                        <li>Music Studies</li>
                        <li>Music Therapy</li>
                        <li>Performance</li>
                        <li>Popular Music Studies</li>
                        <li>Sonic Arts and Music Technology</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>




            </div>
            <section class="degrees-quals updated-tile-grid hidden">
              <!-- <h1>Undergraduate degrees</h1> -->
              <div class="centraliser">
                <div class="tile-strip-grid">
                  <div class="tiles-wrap">
                    <ul>
                      <!-- Get Degrees -->
                      <li class="tile">

                        <a href="https://www.wgtn.ac.nz/explore/degrees/music/" alt="View the Bachelor of Music"
                          title="View the Bachelor of Music">

                          <h2>Bachelor of Music</h2>

                          <h4>BMus</h4>



                          <h4>3 years</h4>



                          <h4>360 points</h4>
                          <h4>Wellington campuses</h4>
                          <i class="icon-arrow-right"></i>
                        </a>
                      </li>
                      <li class="tile">

                        <a href="https://www.wgtn.ac.nz/explore/degrees/arts/" alt="View the Bachelor of Arts"
                          title="View the Bachelor of Arts">

                          <h2>Bachelor of Arts</h2>

                          <h4>BA</h4>



                          <h4>3 years</h4>



                          <h4>360 points</h4>
                          <h4>Kelburn, Wellington.</h4>
                          <i class="icon-arrow-right"></i>
                        </a>
                      </li>
                      <li class="tile">

                        <a href="https://www.wgtn.ac.nz/explore/graduate-quals/diploma-in-arts/"
                          alt="View the Graduate Diploma in Arts" title="View the Graduate Diploma in Arts">

                          <h2>Graduate Diploma in Arts</h2>

                          <h4>GDipArts</h4>



                          <h4>2 trimesters of full-time study or normally 4 if studied part-time</h4>



                          <h4>120 points</h4>
                          <h4>Kelburn, Wellington</h4>
                          <i class="icon-arrow-right"></i>
                        </a>
                      </li>
                      <li class="tile">

                        <a href="https://www.wgtn.ac.nz/explore/graduate-quals/diploma-in-music/"
                          alt="View the Graduate Diploma in Music" title="View the Graduate Diploma in Music">

                          <h2>Graduate Diploma in Music</h2>

                          <h4>GDipMus</h4>



                          <h4>2 trimesters of full-time study or normally 4 if studied part-time</h4>



                          <h4>120 points</h4>
                          <h4>Kelburn, Wellington</h4>
                          <i class="icon-arrow-right"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>

          </section>
          <section class="study-areas-postgrad" style="display: none;">
            <div class="updated-tile-grid study-areas">
              <div class="tiles-wrap flex-tiles four-col">
                <ul>
                  <li class="tile fg">
                    <a href="https://www.victoria.ac.nz/explore/postgraduate-subjects/composition-sonic-arts/overview"
                      alt="View the Composition/Sonic Arts subject area"
                      title="View the Composition/Sonic Arts subject area">
                      <h2>Composition/Sonic Arts</h2>

                      <!-- <h2>Composition/Sonic Arts</h2> -->
                      <!--<div class="sub-text">-->
                      <!--<p></p>-->
                      <!--<h4 class="icon-info">-->





                      <!--</h4>-->
                      <!--<p></p>-->
                      <!--</div>-->
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile fg">
                    <a href="https://www.victoria.ac.nz/explore/study-areas/music/study?subject=ethnomusicology"
                      alt="View the Ethnomusicology subject area" title="View the Ethnomusicology subject area">
                      <h2>Ethnomusicology</h2>

                      <!-- <h2>Ethnomusicology</h2> -->
                      <!--<div class="sub-text">-->
                      <!--<p></p>-->
                      <!--<h4 class="icon-info">-->





                      <!--</h4>-->
                      <!--<p></p>-->
                      <!--</div>-->
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile fg">
                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-subjects/music/"
                      alt="View the Postgraduate Music subject area" title="View the Postgraduate Music subject area">
                      <h2>Music</h2>

                      <!-- <h2>Music</h2> -->
                      <!--<div class="sub-text">-->
                      <!--<p>New Zealand School of Music</p>-->
                      <!--<h4 class="icon-info">-->





                      <!--</h4>-->
                      <!--<p></p>-->
                      <!--</div>-->
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile fg">
                    <a href="https://www.victoria.ac.nz/explore/study-areas/music/study?subject=musicology"
                      alt="View the Musicology subject area" title="View the Musicology subject area">
                      <h2>Musicology</h2>

                      <!-- <h2>Musicology</h2> -->
                      <!--<div class="sub-text">-->
                      <!--<p></p>-->
                      <!--<h4 class="icon-info">-->





                      <!--</h4>-->
                      <!--<p></p>-->
                      <!--</div>-->
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile fg">
                    <a href="https://www.victoria.ac.nz/explore/postgraduate-programmes/master-of-music-therapy/overview"
                      alt="View the Music Therapy subject area" title="View the Music Therapy subject area">
                      <h2>Music Therapy</h2>

                      <!-- <h2>Music Therapy</h2> -->
                      <!--<div class="sub-text">-->
                      <!--<p></p>-->
                      <!--<h4 class="icon-info">-->





                      <!--</h4>-->
                      <!--<p></p>-->
                      <!--</div>-->
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile fg">
                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-subjects/performance/"
                      alt="View the Postgraduate Performance subject area"
                      title="View the Postgraduate Performance subject area">
                      <h2>Performance</h2>

                      <!-- <h2>Performance</h2> -->
                      <!--<div class="sub-text">-->
                      <!--<p>New Zealand School of Music</p>-->
                      <!--<h4 class="icon-info">-->





                      <!--</h4>-->
                      <!--<p></p>-->
                      <!--</div>-->
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <section class="postgrad-quals degrees-quals updated-tile-grid tiles-panel tile-filter-tags hidden">
              <!-- <h1>Postgraduate degrees</h1> -->
              <div class="quals-filter">
                <label>Filter:

                </label>
                <a class="tag" href="javascript:void(0)" alt="Filter to show postgraduate Certificates only"
                  title="Filter to show postgraduate Certificates only">Certificate</a>
                <a class="tag" href="javascript:void(0)" alt="Filter to show postgraduate Diplomas only"
                  title="Filter to show postgraduate Diplomas only">Diploma</a>
                <a class="tag" href="javascript:void(0)" alt="Filter to show Honours qualifications only"
                  title="Filter to show Honours qualifications only">Honours</a>
                <a class="tag" href="javascript:void(0)" alt="Filter to show Master qualifications only"
                  title="Filter to show Master qualifications only">Master</a>
                <a class="tag" href="javascript:void(0)" alt="Filter to show Doctorates only"
                  title="Filter to show Doctorates only">Doctor</a>
                <a class="tag tag-active" href="javascript:void(0)" alt="Filter to show all postgraduate qualifications"
                  title="Filter to show all postgraduate qualifications">All</a>
                <div>
                  <label>Search for a qualification:
                    <input id="search-quals" type="search">
                  </label>
                </div>
              </div>

              <div class="centraliser tiles-wrap flex-tiles four-col">
                <ul>
                  <!-- Get PG Programmes -->
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/bachelor-of-music-with-honours/"
                      alt="Visit the Bachelor of Music with Honours" title="Visit the Bachelor of Music with Honours">

                      <h2>Bachelor of Music with Honours</h2>
                      <div class="sub-text">
                        <h4>BMus(Hons)</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/bachelor-of-arts-with-honours/"
                      alt="Visit the Bachelor of Arts with Honours" title="Visit the Bachelor of Arts with Honours">

                      <h2>Bachelor of Arts with Honours</h2>
                      <div class="sub-text">
                        <h4>BA(Hons)</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Wellington campuses</h4>-->
                        <h4>Type: Coursework</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/graduate-quals/diploma-in-music/"
                      alt="Visit the Graduate Diploma in Music" title="Visit the Graduate Diploma in Music">

                      <h2>Graduate Diploma in Music</h2>
                      <div class="sub-text">
                        <h4>GDipMus</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part-time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/graduate-quals/diploma-in-arts/"
                      alt="Visit the Graduate Diploma in Arts" title="Visit the Graduate Diploma in Arts">

                      <h2>Graduate Diploma in Arts</h2>
                      <div class="sub-text">
                        <h4>GDipArts</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part-time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/postgraduate-diploma-in-music/"
                      alt="Visit the Postgraduate Diploma in Music" title="Visit the Postgraduate Diploma in Music">

                      <h2>Postgraduate Diploma in Music</h2>
                      <div class="sub-text">
                        <h4>PGDipMus</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/postgraduate-diploma-in-arts/"
                      alt="Visit the Postgraduate Diploma in Arts" title="Visit the Postgraduate Diploma in Arts">

                      <h2>Postgraduate Diploma in Arts</h2>
                      <div class="sub-text">
                        <h4>PGDipArts</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/master-of-music/"
                      alt="Visit the Master of Music" title="Visit the Master of Music">

                      <h2>Master of Music</h2>
                      <div class="sub-text">
                        <h4>MMus</h4>
                        <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Research or research and coursework</h4>
                        <h4>Schedule: Self-directed study</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/master-of-musical-arts/"
                      alt="Visit the Master of Musical Arts" title="Visit the Master of Musical Arts">

                      <h2>Master of Musical Arts</h2>
                      <div class="sub-text">
                        <h4>MMA</h4>
                        <h4>Duration: 3 trimesters of full-time study or normally 6 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework and research</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/master-of-fine-arts-creative-practice/"
                      alt="Visit the Master of Fine Arts (Creative Practice)"
                      title="Visit the Master of Fine Arts (Creative Practice)">

                      <h2>Master of Fine Arts (Creative Practice)</h2>
                      <div class="sub-text">
                        <h4>MFA(CP)</h4>
                        <h4>Duration: 3 trimesters of full-time study</h4>
                        <h4>Points: 180</h4>
                        <!--<h4>Location: Kelburn, Wellington and online</h4>-->
                        <h4>Type: Coursework, internship and creative project</h4>
                        <h4>Schedule: Lectures and self-directed study</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/master-of-music-therapy/?programme=master-of-music-therapy-by-coursework-and-research"
                      alt="Visit the Master of Music Therapy by coursework and research"
                      title="Visit the Master of Music Therapy by coursework and research">

                      <h2>Master of Music Therapy by coursework and research</h2>
                      <div class="sub-text">
                        <h4>MMusTher</h4>
                        <h4>Duration: 4 trimesters of full-time study or normally 8 if studied part time</h4>
                        <h4>Points: 240</h4>
                        <!--<h4>Location: Wellington campuses</h4>-->
                        <h4>Type: Coursework, practicum and research</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/master-of-music-therapy/?programme=master-of-music-therapy-by-research"
                      alt="Visit the Master of Music Therapy by research"
                      title="Visit the Master of Music Therapy by research">

                      <h2>Master of Music Therapy by research</h2>
                      <div class="sub-text">
                        <h4>MMusTher</h4>
                        <h4>Duration: 2 trimesters of full-time study or normally 4 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Wellington campuses</h4>-->
                        <h4>Type: Practicum and research</h4>
                        <h4>Schedule: Self-directed study</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/master-of-arts-120-points/"
                      alt="Visit the Master of Arts 120 points" title="Visit the Master of Arts 120 points">

                      <h2>Master of Arts 120 points</h2>
                      <div class="sub-text">
                        <h4>MA</h4>
                        <h4>Duration: 3-4 trimesters of full-time study or normally 6-8 if studied part time</h4>
                        <h4>Points: 120</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Research</h4>
                        <h4>Schedule: Self-directed research</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/artist-diploma/"
                      alt="Visit the Artist Diploma" title="Visit the Artist Diploma">

                      <h2>Artist Diploma</h2>
                      <div class="sub-text">
                        <h4>ArtDip</h4>
                        <h4>Duration: 4 trimesters of full-time study or normally 8 if studied part time</h4>
                        <h4>Points: 240</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework and research</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://www.wgtn.ac.nz/explore/postgraduate-programmes/doctor-of-musical-arts/"
                      alt="Visit the Doctor of Musical Arts" title="Visit the Doctor of Musical Arts">

                      <h2>Doctor of Musical Arts</h2>
                      <div class="sub-text">
                        <h4>DMA</h4>
                        <h4>Duration: At least 9 trimesters of full-time study or 12–16 if studied part time</h4>
                        <h4>Points: 360</h4>
                        <!--<h4>Location: Kelburn, Wellington</h4>-->
                        <h4>Type: Coursework and research</h4>
                        <h4>Schedule: Daytime lectures</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                  <li class="tile">

                    <a href="https://cms.wgtn.ac.nz/nzsm/study/postgraduate/phd?SQ_DESIGN_NAME=v4&amp;mode=dev"
                      alt="Visit the Doctor of Philosophy (Music)" title="Visit the Doctor of Philosophy (Music)">

                      <h2>Doctor of Philosophy (Music)</h2>
                      <div class="sub-text">
                        <h4>PhD</h4>
                        <h4>Duration: Minimum 3 years full-time study, or at least 6 years if studied part time</h4>
                        <h4>Points: 360</h4>
                        <!--<h4>Location: </h4>-->
                        <h4>Type: Research</h4>
                        <h4>Schedule: Self-directed research</h4>
                      </div>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </section>

            <!--</section>-->
          </section>
        </div>
      </section>

      <!-- //promo panel right aligned image -->

      <div class="promo-panel">
        <div class="centraliser block formatting">
          <figure class=" ">



            <figcaption>
              <h1>Featured researchers</h1>
              <p>In these profiles, discover the inspiring stories behind our researchers’ ground-breaking work meeting
                local, national and global challenges, the impact it is having, and how they came to be a researcher in
                the first place.</p>
              <a href="#" title="Play the video about Wellington" class="button large">Discover more</a>
            </figcaption>

            <img alt="Wellington waterfront"
              src="https://www.wgtn.ac.nz/__data/assets/image/0011/1723655/varieties/ls_medium.jpg">


          </figure>
        </div>
      </div>


      <!-- card panel  -->
      <div class="centraliser ">
        <div class="block formatting">
          <div class="card-panel">
            <section class="card">
              <h2>Research publications</h2>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields. This output is used at community, national and
                international levels.</p>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields. This output is used at community, national and
                international levels.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
            </section>
            <section class="card">
              <h2>Why join Victoria?</h2>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields. This output is used at community, national and
                international levels.</p>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields. This output is used at community, national and
                international levels.</p>
              <a title="Why to study at Victoria" href="#" class="button large primary">Learn more</a>
            </section>
          </div>
        </div>
      </div>


      <!-- promo panel with left aligned text box  -->
      <div class="promo-panel ">

        <figure class="photo left-text-panel">


          <img alt="Wellington waterfront" src="https://www.wgtn.ac.nz/?a=2005909">

          <figcaption>

            <div class="block formatting">
              <h2>Careers at Victoria</h2>
              <p>Victoria’s research output is used at community, national and international levels. Our academic and
                business partnerships have global impacts in many fields.</p>
              <a href="#" class="button primary large">Learn more</a>
            </div>

          </figcaption>



        </figure>
      </div>


      <!-- Tiled study hub 3 col pattern images no gutter-->
      <div class="tiles-panel ">
        <div class="centraliser block">
          <div class="updated-tile-grid  ">
            <h2>Contact us</h2>
            <div class="tiles-wrap three-col image-no-gutter">
              <ul>
                <li class="tile">
                  <!-- <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt="">   -->
                  <a href="">
                    <h3 class="">Media contacts</h3>
                    <div class="sub-text">
                      <p>Victoria’s research output is used at community, national and international levels. Our
                        academic and business partnerships have global impacts in many fields.</p>
                    </div>
                    <span href="#" class="button  ">Email the Communications team</span>
                  </a>
                </li>
                <li class="tile">
                  <!-- <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt=""> -->
                  <a href="">
                    <h3>VicLink</h3>
                    <div class="sub-text">
                      <p>Victoria’s research output is used at community, national and international levels. Our
                        academic and business partnerships have global impacts in many fields.</p>
                    </div>
                    <span href="#" class="button   ">Email VicLink</span>
                  </a>
                </li>
                <li class="tile">
                  <!-- <img src="https://www.wgtn.ac.nz/__data/assets/image/0008/358388/mim-banner.jpg" alt=""> -->
                  <a href="">
                    <h3>Research Development Office</h3>
                    <div class="sub-text">
                      <p>Victoria’s research output is used at community, national and international levels. Our
                        academic and business partnerships have global impacts in many fields.</p>
                    </div>

                    <span href="#" class="button ">Email the Research Development office</span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</section>
