/// Light negative highlight (errors, unsuccessful messages)
$red-oyster-pink:      #ECCDCD !default;

/// Dark negative highlight (errors, unsuccessful messaging)
$red-tamarillo:        #831212 !default;

$red-roof-terratcotta: #AF1B1B !default;
$red-punch:            #DD3727 !default;

// Alt-red
$alt-red: #AE2327 !default;


// Header
$site-header-border-color: $red-tamarillo;

// Media
$media-featured-bg: $red-tamarillo;

// Side Menu 
$sidemenu-background: $red-roof-terratcotta;
$sidemenu-background-selected: $red-tamarillo;
$sidemenu-delimiter-color: darken( $red-roof-terratcotta, 5% );

// General Typography
$heading-color: $red-roof-terratcotta;
$heading-weaker-color: rgba($red-roof-terratcotta, 0.8);

// Strip Banner/Banner
$strip-banner-text-bg: $alt-red;
$strip-banner-border-color: $alt-red;
$banner-figure-bg: $red-roof-terratcotta;

// Sub Nav / Mega Menu
$page-sub-nav-border: $alt-red;
$page-sub-nav-active-item-bg: $alt-red;
$page-sub-nav-hover-bg: $red-tamarillo;


// Promo Panel
$promo-figcaption-left-bg: $red-tamarillo;

// Events
$border-strip-color--brand: $red-tamarillo;


// Buttons
$button-primary-color: black;
$button-primary-hover-color: lighten( black, 20% );


// Tiles 
$tile-border-color: $red-tamarillo;


// Meta
$meta-bg: $red-oyster-pink;
$meta-label-color: $alt-red;


// Stack
$stack-heading-border-color: $alt-red;
