// Red theme overrides for new design

$brand: #AF1B1B   ;
$brand-light: #DF2F2F   ;
$brand-lightest: #F6C2C2  ;
$brand-dark: #831414  ;
$brand-darkest: #570D0D   ;
$red-grey: #eee3e3;

#hubv4 {
  // Header
  .main-site-header {
    .button {
      // background-color: #CCDCD7 !important;
      // color: #0D4C38 !important;
    }
    .header-content {
      .tereo-title {
        color: $brand !important;
      }
    }

    .gradient-line {
      background: linear-gradient(90deg, $brand 0%, $brand-light 77.11%, $brand-lightest 100%) !important;
    }

    .header-toggle .header-student-tools .portal-links a {
      color: $brand !important;
    }
  }

  // hub-banner-sidemenu
  .hub-banner-sidemenu {
    figure::after {
      border-color: $brand !important;
    }
    .banner-body {
      background-color: $brand !important;

      .banner-title h1:after {
        background-color: $brand-lightest !important;
      }
    }

    &.no-overlay {
      figure:before {
        border-bottom-color: $brand-lightest !important;
        border-left-color: $brand-lightest !important;
      }
    }
  }

  .btn, .button, a.btn {
    background-color: $brand-lightest !important;
    color: $brand-dark !important;
  }

  //
  .layout .sidemenu .sidemenu-toggle {
    background-color: $brand !important;
  }

  // footer
  footer {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      color: $pounamu;
    }

    .button {
      background-color: $kohuhu !important;
      color: $pounamu !important;
    }

    h2 .button.primary {
      background-color: $kowhai !important;
      color: $pounamu !important;
    }
  }

  // LOGO
  header > div.top-header > div > div.logo.header-logo > a > picture > img {
    filter: grayscale(1);
  }

  // Sidebar menu
  .layout .sidebar {



    .sidemenu > ul > .sidemenu__label > a .tereo-title, .tereo-childmenu {
      color: $brand !important;
    }
    .sidemenu ul li.active > a {
      color: $brand !important;
    }
    .sidemenu ul li.active {
      border-left-color: $brand !important;
    }
    .sidemenu > ul > li.expanded > a {
      color: $manuka !important;
    }
    .sidemenu > ul > li:not(.sidemenu__label).expanded {
      border-color: $brand !important;
      border-top-color: $brand-lightest !important;
      border-bottom-color: $brand-lightest !important;
    }

     .sidemenu ul li.has-submenu.expanded ul li:before {
      border-left-color: $brand !important;
    }

    .sidemenu > ul > li.expanded {
      background-color: $brand !important;
    }

    .sidemenu > ul > li.expanded.has-submenu > .btn-expander {
      background-color: $brand-dark !important;
      color: $manuka !important;

      &:after {

      }
    }

    .sidemenu > ul > li:not(.sidemenu__label):hover {
      border-color: $brand !important;
      border-top-color: $brand-lightest !important;
      border-bottom-color: $brand-lightest !important;
    }

    .sidemenu ul li.has-submenu ul li.expanded > a {
      color: $brand !important;
    }

     .sidemenu > ul > li:not(.sidemenu__label).expanded::before {
      background-color: $brand !important;
    }
  }





  .highlight.primary {
    background-color: $grey-light !important;
    // border: 1px solid $brand !important;
  }

  .media figcaption {
    border-color: $brand-light !important;
  }


  nav .breadcrumbs a {
    color: $brand !important;
  }

  nav .breadcrumbs > li:after {
    color: $brand-light !important;
  }

  // quote
  figure.quote.quote-template blockquote::after, figure.quote.quote-template blockquote::before {
    color: $brand-lightest !important;
  }
  figure.quote.quote-template figcaption p > strong {
    color: $brand !important;
  }
  figure.quote.quote-template figcaption::before {
    border-top-color: $brand-light !important;
  }
  figure.quote.quote-template img {
    border-color: $brand-lightest !important;
  }

  .quote-panel.quote-image  blockquote h3 {
    &:before,
    &:after {
      color: $brand !important;
    }
  }


  // Footer

  footer {
    .footer-secondary {
      background-color: $red-grey !important;
      border-color: $grey-chalice !important;

      h2, h3 {
        color: $brand !important;
      }
    }
    .two-columns .block:last-child::before {
      border-color: $grey-chalice !important;
    }

    .footer-primary {
      background-color: $brand-darkest !important;

      .block + .block {
        border-top-color: $brand-lightest !important;
      }
    }
  }

  .homepage-intro .intro-text p:first-child {
    font-weight: 600;
    font-size: 1.5rem;
    color: $brand !important;

    &:before {
      border-top-color: $brand !important;
    }
  }

 .homepage-intro + .text-promo-panel .media figcaption {
  background-color: $brand-dark !important;
 }

  .promo-panel.strip-banner.tall figcaption h1, .promo-panel.strip-banner.tall figcaption p {
    background-color: $brand !important;
  }

  .sidemenu-banner-wrap .menu-blip {
    background-color: $brand !important;
  }

  // TRAY
  .main-site-header.white.header-tray .tray-content .tray-search-bar .save-page {
    background-color: transparent !important;
  }

  .tray-content  h3 {
    color: $pounamu;
  }

  .tray-content .button {
    background-color:$kohuhu !important;
    color: $pounamu !important;
  }




  .sidebar .sidemenu>ul>li:not(.sidemenu__label):hover:before {
    background-color: $brand-light !important;
  }

  .tiles-panel {
    background-color: $off-white !important;

    .tile {
      a {
        border-color: $brand !important;

        p {
          text-decoration: none !important;
        }

        @include hoverify() {
          h3, h4 {
            color: $brand !important;
          }
        }
      }
    }
  }

}
