$red-oyster-pink:      #ECCDCD;
$alt-red:              #AE2327;
$red-roof-terratcotta: #AF1B1B;
$red-tamarillo:        #831212;
$black-mine-shaft:      #333;    /// Darkest allowed colour

$brand-opaque: $red-oyster-pink;
$brand-light: $alt-red;
$brand-lighter: $alt-red;
$brand: $red-roof-terratcotta;
$brand-darker: $red-tamarillo;
$brand-dark: $black-mine-shaft;

$green-bottle: $brand-darker;
$page-sub-nav-border: $brand-darker;
$page-sub-nav-bg: $brand-darker;

// General Typography - set in core before default brand is set so needs to be set here
$heading-color: $red-roof-terratcotta;
$heading-weaker-color: rgba( $red-roof-terratcotta, .8 );

// Buttons - set here because they don't follow the same pattern
$button-primary-color: $black-tundora;
$button-primary-hover-color: lighten( $black-tundora, 20% );

// Events - set in core before default brand is set so needs to be set here
$border-strip-color--brand: $brand-darker;

// Quote - set because it differs from pattern
$quote-color: $alt-red;
$quote-border-color: $alt-red;
$quote-text-color: $brand-dark;
