---
title: Overview | Fabricator
fabricator: true
---

<h1>OVERVIEW</h1>
<br>
<br>
<br>
<br>


<!-- ================================================== -->

<h2>ALLOWED COLOURS</h2>
<br>
<br>

{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<br>
<br>
<br>
<br>


<!-- ================================================== -->

<h2>BASIC TYPOGRAPHY</h2>
<br>
<br>

<div class="formatting">

  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.
  </p>

  <ul>
    <li>First item</li>
    <li>Second item</li>
    <li>Third item
      <ul>
        <li>First sub-item</li>
        <li>Second sub-item</li>
        <li>Third sub-item</li>
        <li>Fourth sub-item</li>
      </ul>
    </li>
    </li>
    <li>Fourth item</li>
  </ul>

  <ol>
    <li>First item</li>
    <li>Second item</li>
    <li>Fourth item
      <ol>
        <li>First sub-item</li>
        <li>Second sub-item</li>
        <li>Third sub-item</li>
        <li>Fourth sub-item</li>
      </ol>
    </li>
    <li>Third item</li>
  </ol>

  <img src="http://www.victoria.ac.nz/__data/assets/image/0019/346330/about_2000x800.jpg" alt="Building">

  <p>
    Lorem <a href="#" title="Inline links always do have their titles!">inline link</a>  ipsum dolor sit amet, consectetur adipisicing el.
  </p>

  <p>

    <img class="inline" title="" src="http://www.victoria.ac.nz/__data/assets/image/0007/348604/varieties/square.jpg" alt="Victoria health researchers Professor Kevin Dew and Dr Kirsten Smiler">
    Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Aperiam enim sunt sapiente molestias, <em>sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</em>
  </p>

  <p>“HRC funding has supported the establishment of research teams, which bring together people with different skillsets, perspectives and connections to communities, practitioners and services,” says Professor Dew. “I would not be involved in such fascinating research without HRC funding.”</p>

  <img class="inline" title="" src="http://www.victoria.ac.nz/__data/assets/image/0004/370948/ls_medium.jpg" alt="Victoria health researchers Professor Kevin Dew and Dr Kirsten Smiler">
  <p>
  Dr Kirsten Smiler from Victoria’s School of Government was also honoured by the HRC for her outstanding contribution as an emerging researcher.</p><p>Dr Smiler’s research has been dedicated to examining the social and linguistic experiences of Māori deaf people and how knowledge of this would provide a foundation for improvements in services and supports. Māori are disproportionately represented in hearing-loss statistics. Understanding the impacts of this as well as how services can be more responsive to supporting whānau is important.</p><p>Her HRC-funded PhD research investigated the experiences and expectations of Māori children and their whānau during the intervention process.</p>

  <div class="inline">
    <div class="embed">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/6nD-kAsV-rk?rel=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

  <p>Dr Smiler is continuing this research—funded by a HRC Erihapeti Rehu-Murchie Postdoctoral Scholarship—in her role as a postdoctoral researcher in Victoria’s Health Services Research Centre.</p><p>“Support services for Māori Deaf and their whānau are often unaware that they exist at the intersection of languages and cultures, all of which have differing profiles, roles and status in New Zealand. My research has worked toward providing a better understanding of these complexities, and recommends that Māori and Deaf knowledge inform how services and professionals respond,” says Dr Smiler.</p><p>“This work is an acknowledgement of the importance of whānau, language, and culture on our overall health and wellbeing. I feel extremely privileged to have been able to do this work.”</p>


  <!-- ================================================== -->


  <br>
  <br>
</div>
