---
title: Overview | Fabricator
fabricator: true
---

<h1>OVERVIEW</h1>




<br>
<br>


<!-- ================================================== -->

<h2>ALLOWED COLOURS</h2>

{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}




<br>
<br>


<!-- ================================================== -->

<h2>BASIC TYPOGRAPHY</h2>

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.
</p>

<ul>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item</li>
  <li>
    <ul>
      <li>First sub-item</li>
      <li>Second sub-item</li>
      <li>Third sub-item</li>
      <li>Fourth sub-item</li>
    </ul>
  </li>
  <li>Fourth item</li>
</ul>

<ol>
  <li>First item</li>
  <li>Second item</li>
  <li>Fourth item</li>
  <li>
    <ol>
      <li>First sub-item</li>
      <li>Second sub-item</li>
      <li>Third sub-item</li>
      <li>Fourth sub-item</li>
    </ol>
  </li>
  <li>Third item</li>
</ol>

<p>
  Lorem <a href="#" title="Inline links always do have their titles!">inline link</a>  ipsum dolor sit amet, consectetur adipisicing el.
</p>

<p>
  Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Aperiam enim sunt sapiente molestias, <em>sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</em>
</p>


<!-- ================================================== -->


<br>
<br>
