    @mixin menu-item {

        font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
        font-size: 1em;
        // font-size: 1.357em;


        color: #fff;
        display: block;

        //faux padding for border-bottom to go across all nav even for indented elements
        //(think child pages in the nav)
        $faux-spacing: 10rem;
        margin-left: -$faux-spacing;
        padding: 0.35em 0.5rem 0.4em $faux-spacing + $default-spacing;

        border-bottom: 1px solid rgba(255,255,255,0.15);

        position: relative;
        cursor: pointer;


@include media($mobile){
        &.home, &.back {
            background: $black-victoria !important;
            color: #b4b3b3;

            //can't extend fontello's ^="icon-":before...
            // @extend .icon-home;
        }
}
        &.hide {
            display: none;
            text-align: center;
        }

        &.selected, &:hover, &:focus {

            background: rgba(0,0,0, .1);

        }

        &.selected {

            &:after {
                content: "";
                display: block;
                position: absolute;

                width: 4px;
                border: 1px solid #ccc;
                background: #fff;

                left: 4px;
                top: 4px;
                bottom: 4px;

                left: $faux-spacing + 0.7rem;
            }
        }

    }