

/* ===== THE REAL PAGE BANNERS ============================================== */


/** Banner used on homepages. */

$homepage-banner-max-height:         32.5rem;
$homepage-banner-compact-max-height: 18.75rem;

.homepage-banner,
.study-hub-banner {
  display: block;

  .banner { position: relative; }

  a[href] {
    @include hoverify() {
      img { opacity: $base-hover-opacity; }
    }
  }

  figcaption {
    padding: 1rem;
    background-color: $green-victoria;

    h1 {
      &:not(:last-child) { margin-bottom: .25em; }

      @include icon-selector() {
        margin-left: .5em;

        &::before { display: inline; }
      }
    }

    h1,
    h2,
    h3 {
      display: flex;
      align-items: center;
      color: $white;
    }

    h3 { line-height: 1.2; }

    @include breakpoint( $tablet-and-bigger ) {
      position: absolute;
      right: 0;
      bottom: 40%;
      width: 50%;

      &.wider { width: 50%; }
      &.bottom { bottom: 0; }

      &.top {
        top: 0;
        bottom: initial;
      }
    }

    @include breakpoint( $tablet ) {
      width: 65%;
    }

    @include breakpoint( $desktop-and-bigger ) {
      width: 40%;
    }
  }

  @include breakpoint( $desktop-and-bigger ) {
    min-height: $homepage-banner-max-height;

    // Banner types
    &.compact {
      min-height: $homepage-banner-compact-max-height;

      .banner img {
        @include size( 100% auto );
      }
    }

    .sidebar {
      margin-bottom: $column-padding;
      width: 25%;
    }

    .site a { font-size: 1.125rem; }

    .banner {
      @include size( 100% );
      position: absolute;

      img {
        @include size( 100% auto );
        position: absolute;
        right: 0;
      }
    }
  }

}

.study-hub-banner {
  @include breakpoint( $desktop-and-bigger ) {
    //Overwriting extend for page
    .sidebar {
      position: absolute;
      left: 6.25rem;
      margin-bottom: $column-padding;
      width: 21%;
    }

    .banner {
      img {
        @include size( 100% auto );
        position: absolute;
        right: 0;
      }
    }
  }

}
