
/** Advanced list */

ul.complex-list {

  // .formatting reset
  padding-left: 0;

  > li {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  // End of resets

  width: 100%;

  > li {
    @include clearfix;
    display: table;
    width: 100%;
    padding: .8rem .1rem;
    line-height: 1.2;
    border-bottom: 1px solid $grey-alto; //TODO: Make it $base-border
  }

  .caption,
  .description {
    vertical-align: middle;
  }

  .caption {
    @include span-columns( 9, table );
    padding-right: 1.6rem;

    > span {
      margin-right: .35em;
      color: $grey;
    }
  }

  .description {
    @include span-columns( 3, table );

    > em {
      font-style: normal;
      color: $black-emperor;
      font-size: rem( 14px );
    }
  }

  @include media( $mobile-large-and-smaller ){
    .caption,
    .description {
      display: block;
      width: 100%;
    }

    .caption {
      padding-right: 0;
      margin-bottom: .35em;
    }
  }
}

// Basic list

 $widgetbar-heading-font-size:    scale-heading( 2 );

.list {
  h2 {
      font-size: $widgetbar-heading-font-size;

      // Pre-heading delimiting line
      &:before {
        @include objectify( block );
        margin-bottom: .35rem;
        @include size( 2rem rem( 3px ) );
        background-color: $base-heading-color;
      }

    }
}
    
