// TODO: Disestablish the gutter!
$gutter: 1em;


// Tile(s)
$tile-height:       12.5rem;
$background-color:  $grey-gallery; //Used for borders to stop elements moving on hover
$blue-hover-shade:  #7E97B8;
$tile-active-shade: #E3E3E3;

// Grid styles
$four-grid-tile-margin:  1%;
$three-grid-tile-margin: 1%;
$two-grid-tile-margin:   1.3%;

$three-grid-tile-margin-hub: 3%;

// colour for study hub - study page
$base-study-hub-colour--study: $green-light-victoria;


.tiles-panel {
  background-color: $background-color;

  &.hidden { display: none; }
}


// Shared text element across grid-tile and strip-tiles.
.updated-tile-grid,
.tile-strip-grid {
  li.tile {
    a {
      display: block;
      padding: 16px;
      height: 100%;
      border: 4px solid $white;
      border-left: 0;

      &:hover {
        opacity: 1;
        border-color: $blue-st-tropaz;

        h2,
        h3,
        p,
        i,
        span,
        q {
          color: $blue-st-tropaz;
        }

        h4 { color: $blue-hover-shade; }

        .sub-text { border-left: 2px solid $blue-hover-shade; }
      }

      &:active { background-color: $tile-active-shade; } // TODO: Keep or remove?

      h2,
      h4,
      p,
      i {
        margin: 0;
        padding: 0;
        line-height: 1.2;
      }

      h2 {
        margin-bottom: .25em;
        font-size: 1.3em;
        color: $black-tundora;
      }

      h3 {
        margin-bottom: .25em;
        color: $black-tundora;
      }

      h4 { color: $grey-silver-chalice; }

      p {
        line-height: 1.5;
        font-size: 1em;
        color: $grey-dove;
      }

      .sub-text {
        padding-left: .5em;
        border-left: 2px solid $grey-silver;
      }

    }
  }
}


.updated-tile-grid {
  @include grid-container;

  .tiles-wrap {
    //@include fill-parent;
    margin-top: 1rem;

    > ul {
      @include clearfix;
      display: block;
    }

    li.tile {
      overflow: hidden;
      position: relative;
      float: left;
      margin-bottom: $gutter;
      height: auto;
      background-color: $white;
      box-shadow: $base-shadow;
      border-left: 4px solid $green-victoria;

      &:hover { //TODO: Add other hover-like states (&:focus, &:active) through mixin
        box-shadow: none;
        border-left: 4px solid $blue-st-tropaz;
      }

      // Search filtering
      &.is-matching { filter: saturate( 200% ); }
      &.is-not-matching { filter: saturate( 0% ); }

      a {
        h4 {
          color: $grey-silver-chalice;
          font-size: .95em;

          &::before { font-size: 85%; }
        }

        h2,
        h3,
        h4 {
          margin-bottom: .45em;
        }
      }

      // The hidden subjects span which is displayed on hover
      i {
        position: absolute;
        right: .5em;
        bottom: .5em;
        font-size: 1.5em;
        color: $grey;
      }

      .button { margin-top: 2em; }

      @include breakpoint ( $mobile-large-and-smaller) {
        float: none;

        h4 {
          display: inline-block;
          margin-right: .5em;
          font-size: 1.1em;
        }

        p { display: inline-block; }
      }

      @include breakpoint ( $desktop-large ) {
        margin-right: $four-grid-tile-margin;
        width: ( 100 - 3 * $four-grid-tile-margin ) / 4;

        &:nth-child( 4n ) { margin-right: 0; }
      }

      @include breakpoint ( $desktop ) {
        margin-right: $three-grid-tile-margin;
        width: ( 100 - 2 * $three-grid-tile-margin ) / 3;

        &:nth-child( 3n ) { margin-right: 0; }
      }

      @include breakpoint ( $tablet ) {
        margin-right: $two-grid-tile-margin;
        width: ( 100 - 1 * $two-grid-tile-margin ) / 2;

        &:nth-child( 2n ) { margin-right: 0; }
      }
    }

    &.three-col {
      &.image-no-gutter {
        ul {
          display: flex;
          flex-wrap: wrap;
        }

        li.tile {
          img { max-width: 100%; }

          a {
            height: auto;

            // TODO: Refactor & flatten to lower the depth!
            &:hover { border-color: transparent; }
          }
        }
      }

      @include breakpoint( $desktop-large ) {
        li.tile {
          margin-right: $three-grid-tile-margin-hub;
          width: ( 100 - 2 * $three-grid-tile-margin-hub ) / 3;

          &:nth-child( -n+3 ) { margin-bottom: 1rem; }
          &:nth-child( 3n ) { margin-right: 0; }
          &:nth-child( 4n ) { margin-right: $three-grid-tile-margin-hub; }
        }
      }
    }

    &.four-col {
      &.image-no-gutter {
        ul {
          display: flex;
          flex-wrap: wrap;
        }

        li.tile {
          img { max-width: 100%; }

          a {
            height: auto;

            // TODO: Refactor & flatten to lower the depth!
            &:hover { border-color: transparent; }
          }
        }
      }
    }

    &.hidden { display: none; }
  }

  &.hidden { display: none; }

  &.media-quote {
    .tiles-wrap {
      li.tile {
        height: 31.25rem;

        figure {
          position: relative;

          .play-button {
            position: absolute;
            top: 40%;
            left: 50%;
            margin-top: 0;
            transform: translateX( -50% );
          }

          img {
            display: block;
            margin-bottom: 2%;
            width: 100%;
          }
        }

        h2 { color: $black-tundora; }
        p { margin-bottom: .25em; }

        q {
          color: $green-light-victoria;
          font-size: 1rem;
          font-weight: bold;

          &::before { content: open-quote; }
          &::after { content: close-quote; }
        }

        .sub-text { margin-bottom: 1rem; }
      }
    }
  }

}

.tile-strip-grid {
  @include grid-container;

  .tiles-wrap {
    //@include fill-parent;
    margin-top: 1rem;

    > ul {
      @include clearfix;
      display: block;
    }

    li.tile {
      @include size( 100%, auto );
      overflow: hidden;
      margin-bottom: $gutter;
      background-color: $white;
      box-shadow: $base-shadow;
      border-left: 4px solid $green-victoria;

      &:hover {
        box-shadow: none;
        border-left: 4px solid $blue-st-tropaz;
      }

      i {
        float: right;
        font-size: 1.5em;
        color: $grey;
      }

      a {
        h2,
        h4,
        i {
          display: inline;
        }

        h2 { padding-right: .5em; }

        h4 {
          padding: 0 .75rem;
          border-left: 2px solid $grey-gallery;
        }
      }

    }
  }

  &.tile-accordion {
    li.tile {
      position: relative;

      > a { padding-right: 2em; }
      h4 { font-size: 1em; }

      i {
        position: absolute;
        top: 16px;
        right: .4em;
        transition: .3s ease-in-out;
      }

      //&.accordion-closed {}
      &.accordion-open {
        > a {
          &:hover { border-color: transparent; }
        }

        i {
          top: 20px;
          right: .6em;
          transform: rotate( 90deg );
        }
      }
    }

    .accordion-content {
      display: none; // Default: Content is OFF
      padding: 1em;
      padding-top: 0;

      &.closed { display: none; }
      &.open { display: block; }

      ul {
        margin-bottom: 0;

        li {
          a {
            display: inline;
            padding: 0;
            border: 0;

            // TODO: Refactor & flatten to lower the depth!
            &:hover { border: 0; }
          }
        }
      }
    }

  }
}

.fixed-height-tiles {
  .tiles-wrap li.tile {
    height: $tile-height;
    // a .sub-text h4 { }
  }
}

.fixed-height-tiles-small {
  .tiles-wrap li.tile { height: 9.375rem; }
}

.dynamic-height-tiles {
  //apply to use js from toolkit.js to set height based on height of biggest tile
  //to be used when needed in place of .fixed-height-tiles
}

//modifier for study hub tiles
.tiles-study-hub,
.tiles-study-hub-about {
  h2,
  h3 {
    color: $base-study-hub-colour--study;
  }

  .tiles-wrap {
    li.tile {
      height: 17rem;
      border-left: 4px solid $base-study-hub-colour--study;

      a {
        // .sub-text { }
        h2 { color: $base-study-hub-colour--study; }
      }

      .tile-icon {
        position: absolute;
        right: .5em;
        bottom: .5em;
        font-size: inherit;
        color: $grey;

        i {
          position: relative;
          right: 0;
          bottom: 0;
          font-size: 1.5rem;
        }
      }

    }
  }
}

//step tiles for study hub mod
.tiles-panel {
  &.tile-steps {
    background-color: $white;

    .tiles-wrap {
      li.tile {
        height: 21.875rem;
        background-color: $base-study-hub-colour--study;
        border-left: 0;

        a {
          border: 4px solid $base-study-hub-colour--study;

          p,
          h3,
          i {
            color: $white;
          }

          h3 {
            padding-bottom: .25em;
            font-size: 1.5em;
          }

          .tile-number {
            font-size: 5em;
            color: $white;
            line-height: 1;
          }

          .tile-icon {
            position: absolute;
            right: .5em;
            bottom: .5em;
            font-size: inherit;
            color: $white;

            // TODO: Refactor & flatten to lower the depth!
            i {
              position: relative;
              right: 0;
              bottom: 0;
              font-size: 1.5rem;
            }
          }

          &:hover {
            border: 4px solid $base-study-hub-colour--study;

            // TODO: Refactor & flatten to lower the depth!
            p,
            i {
              color: $white;
            }
          }
        }

        .title-first-step {
          display: flex;
          align-items: center;
          font-size: 1.6em;

          h3 { line-height: 1.2; }
        }

        &:hover { border: 0; }

        @include breakpoint ( $desktop-large ) {
          margin-right: $three-grid-tile-margin-hub;
          width: ( 100 - 2 * $three-grid-tile-margin-hub ) / 3;

          &:nth-child( -n+3 ) { margin-bottom: $three-grid-tile-margin-hub; }
          &:nth-child( 3n ) { margin-right: 0; }
          &:nth-child( 4n ) { margin-right: $three-grid-tile-margin-hub; }
        }

      }
    }
  }
}
