
.media {

    img,
    iframe {
        display: block;
        float: none;
        margin-bottom: $base-spacing;
        width: 100%;
        height: auto;
    }

    figcaption {
        display: block;

        // padding-left: $default-spacing - $highlight-border-width;
        padding-left: $default-spacing;

        border-left: $highlight-border-width solid;

        color: #8a8a8a;
    }

}

.embed-wrapper {
    height: 0;
    padding: 0 0 56.25%; //16:9 ratio magic; use different wrapper for other ratio embeds?

    position: relative;
    margin-bottom: $default-spacing /2;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
