/*=========================================
=                FORMS                    =
=========================================*/


  /* ===== FORMS & INPUTS =================================================== */


  .form {
    clear: both;
    padding: $base-spacing;
    background-color: $grey-gallery;

    // Single combination of label, input and add-ons
    .group {
      @include clearfix;
      margin-bottom: .5em;
    }

    label {
      display: inline-block;
      padding-right: .7rem;
      width: 25%;

      vertical-align: top;
      font-weight: $weight-bold;
      line-height: 1.3;
    }

    input,
    textarea {
      padding: .2rem .6rem;
      border: 1px solid $grey-silver;
    }

    textarea {  width: 50%; }
  }
