/** News overview (list of articles) */

$media-landscape-dynamic-width: 35%;
$media-portrait-dynamic-width:  25%;

.news {
  time { display: block; }

  .media {
    .embed,
    img {
      margin-bottom: 0; // Reset
    }
  }

  @include breakpoint( tablet ) {
    // Has got `media` or another add-on
    .summary { overflow: hidden; }

    .media {
      float: right;
      margin-left: $column-padding;
      width: $media-landscape-dynamic-width;

      // Image with portrait-like width to height ratio
      &.portrait {
        float: right;
        width: $media-portrait-dynamic-width;
        text-align: right;
      }
    }
  }

  @include breakpoint( $until: tablet ) {
    .media { margin-bottom: 1em; }
  }
}

// news section for horizontal grid
.news-row {
  header {
    margin: $gap-vertical 0;

    h2 { flex-grow: 1; }

    .link-more {
      margin-left: $gap-horizontal;
      white-space: nowrap;
    }

    @include breakpoint( tablet ) {
      display: flex;
      align-items: center;
    }
  }

  .news {
    padding-left: 0;

    article { margin-bottom: $gap-content; }

    li {
      @include clearfix;
      margin-bottom: 0;
      border-bottom: $border;
      list-style: none;
    }

    @include breakpoint( $until: desktop ) {
      li {
        padding: 0;
        margin-bottom: $gap-vertical;
      }
    }

    @include breakpoint( desktop ) {
      @include bleed-horizontal;
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        padding: $gap-half $gap-vertical;
        width: ( 100% / 3 );
        border-bottom: 0;

        // Vertical separator
        //FIXME: Overkill, simplify using available mixins
        &:not(:nth-child( 3n )) {
          @include after( $display: block, $position: absolute ) {
            @include size( 1px, 75% );
            top: 50%;
            right: 0;
            background-color: $grey-alto;
            transform: translateY( -50% );
          }
        }
      }

    }
  }

  #hubv4 & {

    header {
      a.link-more {
        @extend .button;

        text-decoration: none;
      }
    }
    .news {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;

      margin: 0;
      width: 100%;

      @include breakpoint( $until: tablet ) {
        grid-template-columns: 1fr;
      }
      > li {
        border: 1px solid $miro;
        padding: 1.56rem;
        width: 100%;
        background-color: $off-white;

        background-image: url(https://cms.wgtn.ac.nz/_nocache?a=1778031:dist/images/patterns/pattern-05.svg);
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: -100px;

        time {
          color: $black-brand;
          font-weight: 500;
        }

        h2,h3,h4 {

          a {
            color: $pounamu;
          }
        }

        &::after {
          content: none;
        }
      }
    }
  }
}

/* List of news articles on content page */

.content-panel {
  article.news-commentary {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: $border;

    > .summary {
      h3,
      h4,
      p {
        margin-bottom: $gap-small;
      }
    }
  }
}
