// ========================================
// ======== Study-areas block on homepages
// ========================================
//---- Settings ---
$gutter: 8px;
// ----------------
// -------------------------
// ------------------------
// - The gerneic tile grid 
// - Used for both Study-areas and Degrees & Qualifactions block
// ------------------------
.tile-grid {
    @include outer-container(100%);
    .tiles-wrap {
        @include fill-parent();
        margin-top: 1rem;
        li.tile {
            position: relative;
            max-height: 225px;
            margin-bottom: $gutter;
            overflow: hidden;
            @include media ($desktop-and-bigger) {
                @include span-columns(3);
                margin-right: $gutter;
                max-height: none;
                margin-bottom: 0;
            }
            @include media ($tablet) {
                @include span-columns(4);
                margin-right: $gutter;
            }
            // Not working yet but should be able to add a class to wrapper for more columns
            @at-root .more-cols#{&} {
                @include span-columns(2.4);
                margin-right: $gutter;
            }
            // All the text for the tile including the hidden text
            .tile-text {
                width: 100%;
                background-color: $green-victoria;
                height: auto;
                display: block;
                position: absolute;
                z-index: 10;
                top: 0;
                .tile-title {
                    display: flex;
                    align-items: center;
                    padding: 1em;
                    h2 {
                        float: left;
                        width: 95%;
                    }
                    i {
                        display: flex;
                        align-items: centre;
                        width: 5%;
                        color: $white;
                        font-size: 2.2em;
                        &::before {
                            margin: 0;
                        }
                    }
                }
            }
            h2,
            h4,
            p {
                color: #fff;
                padding: 0;
                margin: 0;
                line-height: 1.2;
            }
            p {
                line-height: 1.6;
            }
            a {
                display: block;
                // This will get rerfactored in a typohgraphy update  
                // TODO: Remove later!
                &:hover {
                    opacity: 1;
                    border: 0;
                }
                h2 {
                    font-size: 1.5em;
                }
            }
            h4 {
                font-size: 1.2em;
                margin-bottom: 0.75em;
                margin-top: 0.75em;
            }
            // The hidden subjects span which is displayed on hover 
        }
    }
    &.hidden {
        display: none;
    }
}

// -------------------------
// -------------------------
// -------------------------
// ----------------------------
// Styles specific to the Study-areas block 
// --------------------------
.study-areas {
    h1 {
        margin-bottom: 0.5em;
    }
    .pg-filter {
        padding: 1em;
        font-size: 1.2em;
        padding-left: 0.5em;
    }
    //This operate the PG only check box the markup needs to have the tiles as general siblings of teh check box
    // ie dont wrap the checkbox in a div container
    input[type=checkbox]:checked ~ .tiles-wrap .tile[data-pg="only"] {
        display: block;
    }
    input[type=checkbox]:checked ~ .tiles-wrap li.tile {
        display: none;
    }
    .tiles-wrap {
        li.tile {
            img {
                width: 100%;
                @include media ($tablet) {
                    vertical-align: middle;
                }
            }
            //This is a helper div to veritcally align the img when it overflows on small devices
            .img-helper {
                @include media ($tablet-and-smaller) {
                    height: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            span {
                display: block;
                padding: 0 1em 1em 1em;
                @include media ($tablet-and-bigger) {
                    display: none;
                }
            }
            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}

// -------------------------
// -------------------------
// Tabbed nav controls
// -------------------------
.study-area-tabs {
    margin-bottom: 1.5em;
    ul {
        @include media ($tablet-and-bigger) {
            width: 70%;
        }
        @include outer-container(100%);
        li {
            @include span-columns(6, block-collapse);
            a {
                @include padding(1em);
                @include display(block);
                background-color: $grey-alto;
                //Mobile styles for double lined text in tab
                min-height: 80px;
                display: flex;
                align-items: center;
                text-align: center;
                @include media ($tablet-and-bigger) {
                    min-height: auto;
                }
                &:hover {
                    background-color: $grey-silver;
                }
                h4 {
                    color: $black-mine-shaft;
                    // helps center the text on mobile
                    margin: 0 auto;
                }
            }
            &.active {
                a {
                    background-color: $green-victoria;
                    &:hover {
                        opacity: 1;
                        cursor: default;
                    }
                    h4 {
                        color: $white;
                    }
                }
                &:after {
                    position: relative;
                    display: inline-block;
                    content: "";
                    left: 50%;
                    bottom: 0;
                    margin-left: -0.75em;
                    margin-bottom: 1em;
                    height: 0;
                    width: 0;
                    border-left: 0.75em solid transparent;
                    border-right: 0.75em solid transparent;
                    border-top: 0.5em solid $green-victoria;
                }
            }
        }
    }
}

// -------------------------
// -------------------------
// -------------------------
// -------------------------
// These gerneric layout pieces will be added to the styles base in another commmit 
.block {
    padding: $default-spacing;
    @include media ($desktop-and-bigger) {
        padding: $default-spacing 0;
    }
}

//TODO: remove once refactored
.study-area-tabs,
.tile-grid {
    ul a {
        border-bottom: 0;
    }
}
