$logo-max-height: 6.5rem; //TODO: Transfer to rems using function

.site-header,
.main-site-header {
  padding-top: .5rem;
  background: $black-victoria;
  border-bottom: 6px solid $green-victoria;

  .block {
    display: flex;
    padding-top:    1rem;
    padding-bottom: 1rem;
  }

  .menu-container {
    flex: 1 0 70%;
    align-self: center;
  }

  .search-bar {
    display: none;
    flex: 1 1 100%;
    margin-top: 1rem;

    form {
      margin: 0 auto;
      padding: 1em;
      width: 70%;
      background-color: $grey-alto;
      border-radius: 3px;

      input[type=search] {
        margin-right: 2%;
        padding: .66em;
        width: 78%;
        max-height: 2.81rem;
      }

      input[type=submit] {
        padding: .5em;
        width: 18%;
        max-height: 2.81rem;
        cursor: pointer;
        border-style: inherit;
      }
    }
  }

  .main-menu-toggle { display: none; }

  .horizontal-menu {
    @include clearfix();
    align-items: center;

    .menu-bar {
      @include clearfix();
      padding: .25em 1em;

      a {
        display: block;
        margin: 0 0 .35em;
        padding: 0 $base-spacing / 1.5;
        color: $white;
        border-bottom: 0;
        line-height: 1.2;
        text-transform: capitalize;

        &.experience,
        &.study,
        &.about,
        &.research {
          &.active {
            border-bottom: 2px solid $white;

            // TODO: Refactor & flatten to lower the depth!
            &:hover { border-bottom: 2px solid $grey-silver; }
          }

          &:hover { opacity: $base-hover-opacity; }
        }

        @include breakpoint( $tablet-and-bigger ) {
          font-size: 2vw;
          font-weight: $weight-medium;
        }

        @include breakpoint( $desktop-and-smaller ) {
          font-size: 2.5vw;
        }

        @media screen and ( min-width: 1400px ) { font-size: 28px; }
      }
    }

    &.sub-nav {
      a {
        margin-bottom: 0;
        padding: 0 $base-spacing / 1.5;
        font-size: .8rem;
        color: $grey-silver;
        text-transform: uppercase;
      }
    }

    @include breakpoint( $desktop-large ) {
      //@include span-columns( 10 of 12, table );
      display: flex;
    }
  }

  .logo,
  .site-intro {
    vertical-align: middle;

    a {
      display: block;

      @include hoverify() { opacity: $base-hover-opacity; }
    }
  }

  /* Victoria main logotype */
  .logo {
    align-self: center;
    text-align: center;

    // Logo image
    img {
      max-height: $logo-max-height;
      vertical-align: middle;
    }
  }

  /* Site's introduction - eg. sitename, motto, short abstract */
  // Sitename
  h1 {
    font-size:   scale-heading( 4 ) * .85; // 85% smaller than standard <h1>
    font-weight: $weight-normal;
    color:       $white;

    .large {
      font-size: 140%;

      &:not(:first-child) {
        line-height: .8; // Decrease the margins
      }
    }

    .preline,
    small {
      display: block;
    }

    // Puts given part of the heading to a separate line
    .preline { font-size: 75%; }

    // Alternative translation
    small {
      margin-top:  .25rem;
      font-size:   50%;
      font-weight: normal;
      color:       $grey-silver;
      line-height: 1.2;
    }
  }


  @include breakpoint( $tablet-and-bigger ) {
    .block {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    .site-intro {
      //@include span-columns( 9 of 12 );
      padding: .3rem $column-padding .5rem $column-padding * 1.5;
    }

    .horizontal-menu {
      @include clearfix;

      &.main-nav {
        display: block !important; //important used to protect mobile slidetoggle resizing
        a { padding-bottom: .3em; }
      }

      a {
        float: left;
        margin: 0;
        padding: $base-spacing / 2 $base-spacing / 1.5;
        border-bottom: 0;
      }
    }

    .logo {
      //@include span-columns( 3 of 12 );

      padding: .1rem $column-padding * 1.5 .1rem $column-padding;
      border-right: 1px solid $black-emperor;
    }

  }

  @include breakpoint( $tablet-and-smaller ) {
    .menu-bar {
      .search-item {
        position: absolute;
        right: 1em;
      }
    }
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    .block {
      // @include flex-direction(column);
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .main-menu-toggle {
      display: block;
      font-size: 2.5em;
      color: $white;
      cursor: pointer;

      .icon-menu {
        &::before { margin-right: 0; }
      }
    }

    .menu-container {
      flex: 1 1 100%;
      margin-top: .3rem;

      .sub-nav { display: none; }

      .horizontal-menu {
        &.main-nav {
          display: none;

          .menu-bar {
            padding: 0;
            background-color: $black-tundora;

            // TODO: Refactor & flatten to lower the depth!
            .search-item { display: none; }

            // TODO: Refactor & flatten to lower the depth!
            a {
              margin-bottom: 0;
              padding: 1rem 1.5rem;
              font-size: 1.4rem;
              border-bottom: 2px solid $grey-dove;

              @include hoverify() {
                background-color: $grey;
                transition: all .5s ease;
              }

              &:nth-last-child( 2 ) {
                border-bottom-color: transparent;
              }
            }

          }
        }
      }
    }

    .logo { width: 12rem; }

    .site-intro {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }

    h1 {
      line-height: #{$base-line-height * 1.2}rem;
      text-align: center;

      .large { font-size: 120%; }
    }

    .search-bar {
      margin-top: 1em;

      form {
        width: 100%;

        input[type=search] { width: 100%; }

        input[type=submit] {
          margin-top: .5rem;
          width: 100%;
        }
      }
    }

  }
}

/* menu toggle icon css only transform hamburger to cross */
.menu-toggle-icon {
  @include size( 60px, 45px );
  position: relative;
  transform: rotate( 0deg );
  transition: .5s ease-in-out;
  transform: scale( .5 );
}

.menu-toggle-icon span {
  @include size( 100%, 9px );
  position: absolute;
  left: 0;
  display: block;
  transform: rotate( 0deg );
  transition: .25s ease-in-out;
  opacity: 1;
  background: $white;
  border-radius: 9px;
}

.menu-toggle-icon span:nth-child( 1 ) { top: 0; }

.menu-toggle-icon span:nth-child( 2 ),
.menu-toggle-icon span:nth-child( 3 ) {
  top: 18px;
}

.menu-toggle-icon span:nth-child( 4 ) { top: 36px; }

.menu-toggle-icon.open span:nth-child( 1 ) {
  top: 18px;
  left: 50%;
  width: 0%;
}

.menu-toggle-icon.open span:nth-child( 2 ) {
  transform: rotate( 45deg );
}

.menu-toggle-icon.open span:nth-child( 3 ) {
  transform: rotate( -45deg );
}

.menu-toggle-icon.open span:nth-child( 4 ) {
  top: 18px;
  left: 50%;
  width: 0%;
}
