.result-list {
  margin: $bleed-larger 0;
}
.result-list .result {
  padding: $gap-larger 0;
  /* Fix bug where .result element does not take up full width on some pages */
  width: 100%;
}
.result-list .result:not(:last-child) {
  border-bottom: 1px solid $grey-gallery;
}

.result-list .result {
  display: flex;
  flex-wrap: wrap;
}

.result-list .result img {
  width: 100%;
  height: auto;
}

.result-list .result .result-title-lg {
  display: none;
}

.result-list .result .result-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.result-list .result .result-header .result-image {
  max-width: 100px;
  flex-grow: 1;
  margin-right: $gap-half;
  margin-bottom: $gap-half;
}

.result-list .result .result-header .result-title-sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-basis: 0;
  width: 100%;
  flex-grow: 1;
}

.result-list .result .result-body,
.result-list .result .result-footer {
  width: 100%;
}

.result-list .result .meta {
  margin-top: $gap-third;
}

.result-job-group-wrapper .result-job-group:not(:only-child) {
  border-bottom: 1px solid #eee;
  padding: $gap-half 0;
}

@include breakpoint ( $from: mobile-large ) {
  .result-list .result {
    flex-wrap: wrap;
  }
  .result-list .result .result-header {
    display: block;
    flex-wrap: nowrap; /* initial */
    width: 128px;
    margin-right: $gap-horizontal;
    margin-bottom: $gap-vertical;
  }
  .result-list .result .result-title-sm {
    display: none !important;
  }
  .result-list .result .result-title-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .result-list .result .result-header .result-image {
    width: auto; /* initial */
    flex-basis: auto; /* initial */
    max-width: none; /* initial */
    flex-grow: 0; /* initial */
    margin: 0; /* initial */
  }
  .result-list .result .result-body {
    flex-basis: 0;
    flex-grow: 1;
    width: auto; /* initial */
  }
}
