/*============================================================================*\
| BOX-LIKE MOLECULES
\*============================================================================*/

////
/// Boxes with various layouts.
///
/// @group molecules






/*= FACTS BOX ================================================================*/


// for info message fact row research hub
//TODO: remove a dependency on .flash-message and .info
.flash-message.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1.2em;

  > h2 {
    margin-bottom: 0;

    &::before { display: none; }
  }

  > * {
    &:first-child {
      flex: 0 0 20%;
    }

    &:not(:first-child) {
      flex: 0 0 23%;
    }
  }

  @include breakpoint( $until: desktop ) {
    flex-wrap: wrap;

    > * {
      &:first-child {
        flex-basis:    100%;
        margin-bottom: .5em;
      }

      &:not(:first-child) {
        flex-basis: 31%;
      }
    }
  }

  @include breakpoint( $until: tablet ) {
    > *:not(:first-child) {
      flex-basis: 100%;
      margin-bottom: .5em;
    }
  }

  .info-col {
    padding-bottom: $gap-third;
    border-bottom: $border-width-thin solid $border-color-dark;

    h4,
    h5 {
      margin-bottom: $gap-small;
      color: inherit;
    }
  }

}

.content-panel > main .flash-message.info-row {
  flex-wrap: wrap;

  > * {
    &:first-child {
      flex-basis:    100%;
      margin-bottom: .5em;
    }

    &:not(:first-child) {
      flex-basis: 31%;
    }
  }

  @include breakpoint( $until: tablet ) {
    > *:not(:first-child) {
      flex-basis: 100%;
      margin-bottom: .5em;
    }
  }
}
