/*=========================================
=          _COMPONENTS.FORMS           =
=========================================*/


/* ===== FORMS & INPUTS ============================== */


.form {
  clear: both;
  padding: $gap-box;
  background-color: $grey-gallery;

  // Single combination of label, input and add-ons
  .group {
    @include clearfix;
    margin-bottom: .5em;

    .error-text { color: $red-roof-terratcotta; }

    &.group--solo {
      margin-bottom: 0;
      text-align: center;
    }
  }

  label {
    display: inline-block;
    padding-right: .7rem;
    width: 25%;

    vertical-align: top;
    font-weight: $weight-bold;
    line-height: 1.3;

    em { font-weight: $weight-normal; }
  }

  input:not([type=submit]),
  textarea {
    padding: .4rem .6rem;
    border: 2px solid $grey-silver;

    &.error {
      border: 2px solid $red-roof-terratcotta;
      background-color: $red-oyster-pink;
    }

    &:focus {
      outline: none;
      border: 2px solid $blue-azure;
    }

    &.field__input--wide {
      @include breakpoint(desktop) {
        width: 300px;
      }
    }
  }

  textarea { width: 50%; }

  &.course-search-bar {
    flex: 1 0 auto;
    margin: 1.5rem;

    .group {
      display: flex;
      margin-bottom: 0;
    }

    input[type=text] { width: 80%; }
  }
}
