/** Standard tags (filtering, tag cloud etc.) */

$tag-background-color:        #DBE6F3 !default;
$tag-font-color:              $blue-callypso;

$tag-background-color-red:    $red-oyster-pink;
$tag-font-color-red:          $red-tamarillo;

$tag-background-color-yellow: $yellow-pearl-lusta;
$tag-font-color-yellow:       $yellow-cinamon;

$tag-background-color-green:  $green-tara;
$tag-font-color-green:        $green-killarney;

$tag-background-color-grey:   $grey-gallery;
$tag-font-color-grey:         $grey-dove;

.tags { margin-bottom: 1.2rem; }

.tag {
  display: inline-block;
  margin: 0 0 .3rem;
  padding: .15rem .6rem;
  white-space: nowrap;
  border-radius: $radius-small;
  background-color: $tag-background-color;
  color: $tag-font-color;

  aside & { font-size: .875rem; }

  // 'x' button
  .close {
    display: inline-block;
    margin-left: .5rem;
    font-weight: $weight-bold;
  }

  // Tag colors
  &.tag-green {
    background-color: $tag-background-color-green;
    color: $tag-font-color-green;
  }

  &.tag-red {
    background-color: $tag-background-color-red;
    color: $tag-font-color-red;
  }

  &.tag-yellow {
    background-color: $tag-background-color-yellow;
    color: $tag-font-color-yellow;
  }

  &.tag-grey {
    background-color: $tag-background-color-grey;
    color: $tag-font-color-grey;
  }

  // Selected tag
  &.active {
    background-color: $green-brand;
    color: $white;
  }
}

a {
  &.tag,
  > .tag {
    cursor: pointer;
    border: 1px solid $tag-font-color;

    &.tag-green { border-color: $tag-font-color-green; }
    &.tag-red { border-color: $tag-font-color-red; }
    &.tag-yellow { border-color: $tag-font-color-yellow; }
    &.tag-grey { border-color: $tag-font-color-grey; }

    @include hoverify() {
      text-decoration: underline;
      background-color: lighten( $tag-background-color, 4 );

      &.tag-green {
        background-color: lighten( $tag-background-color-green, 4 );
      }

      &.tag-red {
        background-color: lighten( $tag-background-color-red, 4 );
      }

      &.tag-yellow {
        background-color: lighten( $tag-background-color-yellow, 4 );
      }

      &.tag-grey {
        background-color: lighten( $tag-background-color-grey, 4 );
      }
    }

    &.active {
      @include hoverify() {
        background-color: $green-bottle;
        text-decoration: none;
      }
    }

  }
}
// styling for active filter on faculty and schools postgrad quals
.quals-filter {
  a.tag {
    border: 0;

    &.tag-active {
      border: 1px solid $tag-font-color;
      background-color: lighten( $tag-background-color, 4 );
      color: $tag-font-color;
    }
  }
}
