$color-pdf: #af1b1b;

.label {
    min-width: 2em;
    text-align: center;
    padding: 0.15em 0.3em;
    font-style: normal;
    display: inline-block;

    background: #e0e0e0;
    color: $color-body-text;

    & .label {
        float: left;
        margin-right: 0.3em;

    }

    &.file-pdf {
    background: $color-pdf;
    color: #fff;
    text-transform: uppercase;
    font-size: 75%;
    }
}