.promo-panel {
  &.strip-banner {
    figure figcaption {
      padding: 0;
      max-width: $centered-max-width;
    }

    figcaption {
      > div {
        display: flex;
        align-items: center;
      }

      .block {
        padding: $gap;
        text-align: left;

        h1 {
          margin-bottom: 0;
          font-size: 3em;

          // IE 10+ fix bg not covering text
          @media screen and ( -ms-high-contrast: active ), ( -ms-high-contrast: none ) {
            float: left;
          }
        }

        p { font-size: 1.45em; }

        > * {
          background-color: rgba( $green-brand, .9 );
        }
      }
    }


    .block {
      &:last-child {
        float: right;
        width: 100 / 3 * 1%;
      }

      &:first-child {
        float: left;
        padding-bottom: 0;
        width: 100 / 3 * 2%;
      }
    }


    @include breakpoint( $until: tablet ) {
      border-top: 0;

      figcaption {
        > div {
          flex-direction: column;
        }
      }

      .block {
        &:first-child {
          padding-bottom: 0;
          width: 100 / 3 * 3%;

          h1 { display: block; }
        }

        &:last-child { width: 100 / 3 * 3%; }
      }
    }

    @include breakpoint( $until: desktop ) {
      height: 100%;

      figure {
        figcaption {
          h1 { margin-top: 0; }

          .block:first-child {
            padding-bottom: .5em;
            width: 100 / 3 * 3%;
          }
        }
      }
    }

    @include breakpoint( desktop ) {
      border-bottom: $border-width-thick solid $green-brand;

      figure {
        display: block;

        figcaption {
          margin-top:    10%;
          margin-bottom: 1em;
        }
      }
    }

    @include bp-desktop {
      figure {
        figcaption { margin-top: 4%; }
      }
    }

    @include bp-tablet {
      figure { padding-bottom: 1rem; }
      img { height: 100%; }
    }

    &.tall {
      > figure {
        min-height: 380px;

        figcaption {
          position: absolute;
          bottom: 0;
          margin-bottom: 0;
        }
      }
      
    }

  }
}
