//gradient (expected transparent -> bgcolor) on an element hinting it overlays something
$overlay-hint-size: 50px;
$overlay-hint-offset: 5px; //can be a negative number as long as ($OH-size + $OH-offset) > 0

@include media( $mobile-large-and-smaller ){
  .hide-on-mobile { display: none !important; }
}

@include media( $tablet-and-bigger ){
  .hide-on-desktop { display: none !important; }
}


.menu-toggle {
  position:      relative;
  z-index:       1;
  background:    $black-victoria;
  border-bottom: 1px solid rgba( #FFF,.15 );

  @include clearfix;

  .logo-mini {
    @include clearfix();
    height: 1.6rem;
  }
}

//TODO: Should be calculated dynamically by JS
.site-header {
  @include media( $mobile-large-and-smaller ){
    padding-top: 4.7rem;
  }
}

.global {
  font-weight: $weight-normal;
  box-shadow: 0 1px 8px rgba( #000, .35 );

  @include media( $mobile-large-and-smaller ){
      position: fixed;
      top:0;
      left: 0;
      right: 0;
      z-index: 100;
  }

  @include media( $tablet-and-bigger ){
    background: $global-panel-color;
  }

  .menu a {
    font-family: $base-heading-family;
    line-height: 1.85;

    //TODO: Refactor
    &.home,
    &.back {
      line-height: 1.7;
    }

    &.home > span {
      margin-top: rem( 1px );
    }
  }

  //TODO: Is this deprecated?
  .horisontal-links {
      @include clearfix();

      > a {
        float: left;
        width: 50%;
        margin: 0;
        padding: $base-spacing/2 $base-spacing;
        border-bottom: none;
      }
  }

  @include icon-selector() {
    &:before {
      margin-left: 0;
      margin-right: 0;

      @include media( $mobile-large-and-smaller ){
        margin-right: .5rem;
        line-height: 1;
      }
    }
  }

  [role=search]{

  @include clearfix();

  @include media( $mobile-large-and-smaller ){
    padding: $base-spacing/2 $base-spacing;
  }
        width: 100%;
        display: block;
        position: relative;


        .input-wrapper {
            display: block;
            position: relative;
            @include clearfix();



@include media( $tablet-and-bigger ){
    background: linear-gradient(
        to right,
        rgba($global-panel-color, 0) 0,
        rgba($global-panel-color, 1) $overlay-hint-size);
    padding-left: $overlay-hint-size + $overlay-hint-offset;
}

            input {
                background: rgba(0,0,0,0.15);
                border: none;
                color: $global-panel-text-color;
                float: left;
                padding: .45rem $base-spacing/2;

                &[type=text] {
                    width: calc(100% - 4rem);
                }

                &[type=submit] {
                    width: 4rem;
                    border-left: 1px solid rgba(255, 255, 255, 0.15);
                }
            }
        }



  @include media( $tablet-and-bigger ){
    .input-wrapper {
        padding-right: 2.5rem;
        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateX(100%);
    }

    .input-wrapper.is-open {
        transform: translateX(0);
    }
}

    }

  @include media( $tablet-and-smaller ){
    padding: 0;
  }

@include media( $mobile-large-and-smaller ){

    .button-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        a {

            padding: 0;
            margin: 2px 0;
            border: none;
            border-left: 1px solid rgba( $white, .15);
            display: block;
            padding: 0 .8rem;
            text-align: right;

        }
    }

    .menu {
        background: $green-victoria;
        max-height: 75vh;
        overflow-y: scroll;
    }

    .menu {
        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateY(-100vh);
    }

    &.is-open .menu {
        transform: translateY(0);
    }

    a {
        display: block;
        @include menu-item();
    }

    .mobile { display: block; }
}

@include media( $tablet-and-bigger ){

  .mobile,
  .site,
  .menu-toggle { display: none; }

    nav {
        @include outer-container;

        @include clearfix();

        position: relative;

        .search {
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;

            a {
                position: absolute;
                right: 0;
                z-index: 1;
                padding-left: 0;
                padding-right: 0;
                font-size: 85%;
                width: 2.5rem;
                text-align: center;
            }

            // Transformation icon
            .tcon {
              margin-top: .3rem;

            }
        }

        a {
          color: $global-panel-text-color;
          padding: $base-spacing/5 $base-spacing/2;
          display: block;
          float: left;
          opacity: .8;
          border-bottom: none;

          &.selected,
          &:hover,
          &:focus {
            background: $global-panel-hover-color;

            span:not(.tcon-transform) .tcon-search__item::after {
              transition: none;
              background: $global-panel-hover-color;
            }
          }
        }

        a + a {
          border-left: 1px solid rgba( $white,.15 );
        }

        label { float: right; }
    }

  }//media destkop
}
