// _components.banner-header.scss

//TO DO: rename this file to site-header.scss



  $logo-max-height: rem( 105px ); //TODO: Transfer to rems using function

  .site-header, .main-site-header {
    background: $black-victoria;
    border-bottom: 6px solid $green-victoria;


    .block {
      padding-top:    2rem;
      padding-bottom: 2rem;
    }

    .horizontal-menu {
      @include clearfix();
      @include span-columns( 10 of 12, table);
      display: flex;
      align-items: center;
      .menu-bar {
        padding: 0.25em 1em;
        a {
          font-size: scale-heading( 4) * .75; // 85% smaller 
          font-weight: $weight-medium;
          color: $white; // float: left;
          margin: 0;
          margin-bottom: .65em;
          padding: $base-spacing/2 $base-spacing/1.5;
          border-bottom: none;
          line-height: 1.2;
          display: block;
          
          text-transform: capitalize;

          &.experience-active {
            border-bottom: 2px solid $white;
            &:hover {
             border-bottom: 2px solid $grey-silver;
            }
          }
          &:hover {
            border-bottom: 2px solid $grey-silver;
          }
        }

      }
      .search-item {
        float: right;
        padding: 0 0 0 3.5em; 
        margin-bottom: 1em;
        >.icon-search {
          color: $white;
          font-size: 2.25rem;
          padding: 0 $base-spacing/1.5; // float: right;
        }
      }

     
    }



    .logo,
    .site-intro {
      vertical-align: middle;
    

      a {
        display: block;
        @include hoverify() {
          opacity: $base-hover-opacity;
        }
      }
    }

    /* Victoria main logotype */
    .logo {
      text-align: center;
      // Logo image
      img {
        vertical-align: middle;
        max-height: $logo-max-height;
      }
    }

    /* Site's introduction - eg. sitename, motto, short abstract */

      // Sitename
      h1 {
        font-size:     scale-heading( 4 ) * .85; // 85% smaller than standard <h1>
        font-weight:   $weight-normal;
        color:         $white;

        .large {
          font-size: 140%;

          &:not(:first-child) {
            line-height: .8; // Decrease the margins
          }
        }

        .preline,
        small {
          display: block;
        }

        // Puts given part of the heading to a separate line
        .preline { font-size: 75%; }

        // Alternative translation
        small {
          margin-top:  .25rem;
          font-size:   50%;
          font-weight: normal;
          color:       $grey-silver;
          line-height: 1.2;
        }
      }


    @include media( $tablet-and-bigger ) {

      .block {
        display: table;
        table-layout: fixed;
        width: 100%;
      }

      .site-intro {
        @include span-columns( 9 of 12, table );
        padding: .3rem $column-padding .5rem $column-padding * 1.5;
        
      }

      .horizontal-menu {
        @include clearfix();

        a {
          float: left;
          // width: 25%;
          margin: 0;
          padding: $base-spacing/2 $base-spacing/1.5;
          border-bottom: none;
        }
      }

      .logo {
        @include span-columns( 3 of 12, table );

        padding: .1rem $column-padding * 1.5 .1rem $column-padding;
        border-right: 1px solid $black-emperor;
      }

    }

    @include media( $mobile-large-and-smaller ) {
      .logo { display: none; }

      .site-intro {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }

      h1 {
        line-height: #{$base-line-height * 1.2}rem;
        text-align: center;

        .large { font-size: 120%; }
      }
    }
  }
