

  /* ===== THE REAL PAGE BANNERS ====================================================== */


  /** Banner used on homepages. */

  $homepage-banner-max-height: rem( 520px );

  .homepage-banner {

    .banner { position: relative; }

    @include media( $desktop-and-bigger ) {
      min-height: $homepage-banner-max-height;

      .sidebar {
        width: 25%;
        margin-left: $column-padding;
        margin-bottom: $column-padding;
      }

      .site a {
        font-size: rem( 18px );
      }

      .banner {
        position: absolute;
        @include size( 100% );

        img {
          position: absolute; right: 0;
          @include size( auto 100% );
        }
      }
    }

    a[href] {
      @include hoverify() {
        img {
          opacity: $base-hover-opacity;
        }
      }
    }

    figcaption {
      // extend .tile-text  Dont use extend - irwinna
      padding: 1rem;
      background-color: $green-victoria;

      @include media( $tablet-and-bigger) {
        position: absolute;
        bottom: 40%;
        right: 0;
        width: 50%;

        &.wider { width: 50%; }

        &.bottom { bottom: 0; }

        &.top {
          bottom: initial;
          top: 0;
        }
      }


      @include media( $tablet) {
        width: 65%;
      }

      @include media( $desktop-and-bigger) {
        width: 40%;
      }

      h1,
      h2,
      h3 {
        color: $white;
        display: flex;
        align-items: center;
      }
    }
  }
