.promo {
    display: block;
    padding: $highlights-padding;

    a {
      h2,
      h3 {
        text-decoration: none;
      }
    }

    // Promo inside right-side widgetbar
    aside & {
      h2,
      h3 {
        &:before { display: none; }
      }
    }

    @include hoverify {
      opacity: $base-hover-opacity;
      color: inherit;
    }

    &.primary {
        background: $black-victoria;

        * { color: $white; }
    }

    &.secondary {
        background: $blue-humming-bird;

        h2 { color: $color-body-text; }
    }
}
