.site,
.breadcrumbs {
  z-index:    $z-index-lower;
  overflow:   hidden;
  background: $green-bottle-green;

  [lang="mi"] {
    opacity: 0.5;
  }

  .icon-right-open {
    float: right;
    margin: 0 -0.6em; //fontello icon width 1em + (0 .2em) margins
  }

  @include media( $mobile-large-and-smaller ){
    & > ul > li {

      @for $i from 0 through 5 {
        &:nth-child(#{$i+1}) {
          color: red;
          padding-left: #{$i * $base-spacing};
        }
      }

    }
    & > ul > li:last-child > a {
      display: none;
    }
    .layout & { display: none; }
  }

  @include media( $tablet-and-bigger ){
    & > ul > li {
      display: none;

      &:last-child {
        display: block;

        li { padding-left: $base-spacing; }
      }
    }
  }

    &--container { position:relative; }
    a {
      @include menu-item;
    }
}
