
// File extensions colour variations
$color-bg-pdf:   $red-oyster-pink;
$color-bg-excel: $green-tara;
$color-bg-word:  #DBE6F3;
$color-bg-mp3:   $yellow-pearl-lusta;
$color-bg-ppt:   #FFD5B7;
$color-bg-file:  $grey-gallery;

$color-text-pdf:   $red-oyster-pink;
$color-text-excel: $green-killarney;
$color-text-word:  $blue-callypso;
$color-text-mp3:   $yellow-cinamon;
$color-text-ppt:   #A35D2B;
$color-text-file:  $grey-dove;


.label {
  display: inline-block;
  margin-right: .5em;
  line-height: 1;
  vertical-align: middle;
  font-size: 75%;
  text-transform: uppercase;
  background: $grey-alto;
  color: $base-font-color;

  > i,
  > span {
    display: inline-block;
    padding: .3em .5em;
  }

  > i {
    float: left;
    font-style: inherit;
    color: $white;
  }

  /** File types/extensions */
  &.file { // default file
    > i {
      background: $color-bg-file;
      color:      $color-text-file;
    }
  }

  &.file-pdf {
    > i {
      background: $color-bg-pdf;
      color:      $color-text-ppt;
    }
  }

  &.file-excel {
    > i {
      background: $color-bg-excel;
      color:      $color-text-excel;
    }
  }

  &.file-word {
    > i {
      background: $color-bg-word;
      color:      $color-text-word;
    }
  }

  &.file-mp3 {
    > i {
      background: $color-bg-mp3;
      color:      $color-text-mp3;
    }
  }

  &.file-ppt {
    > i {
      background: $color-bg-ppt;
      color:      $color-text-ppt;
    }
  }


  /** Variations */

  // Inside standard paragraphs, labels should be placed on the *end* of
  // the bearing element.
  .formatting p & {
    margin-right: .1em;
    margin-left:  .35em;
  }

}
