/** Non-clickable highlight boxes */

.highlight {
  @include clearfix();
  clear: both; //TODO: Is it necessary?
  margin-bottom: $base-spacing;
  padding: $highlights-padding;

  // Promo inside right-side widgetbar
  aside & {
    h2,
    h3 {
      &::before { display: none; }
    }
  }

  // Types of highlights
  &.primary { background-color: $yellow-spring-wood; }
  &.secondary { background-color: $grey-gallery; }
}
