// ========================================
// ======== Accordion
// ========================================
//_components.accordion.scss

@keyframes accordion-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// TODO: At a later date, remove .accordion-header, because .accordion will be the only class name used after all the pages have been recached
.accordion,
.accordion-header {

  #hubv4 & {
    .accordion-title {
      color: $pounamu;
      position: relative;
      padding-left: 0;

      &::marker {
        // color: $pounamu;
        display: none;
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
      }

      &::after {
        position: absolute;
        right: 0;
        top: .5rem;
        content: "+";
        font-size: 1.5rem;
      }

    }

    details[open] {
      .accordion-title {



        &::marker {
          // color: $pounamu;
          display: none;
          content: " "
        }

        &::after {
          content: "-";
        }

      }
    }

    details {
      padding-top: .5rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid $grey-gallery;
    }
  }

  details {
    /* Fallback for IE11 */
    list-style-type: none !important;
  }

  details[open] .block * {
    animation: accordion-fade .5s ease-in;
  }

  .accordion-title::marker {
    color: $blue-endeavoura;
  }

  .accordion-title:hover::marker,
  .accordion-title:focus::marker {
    color: #2B8CC4;
  }


  .accordion-title {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: $heading-weight;
    color: $link-color;
    text-decoration: $link-decoration;
    cursor: pointer;

    @include hoverify() {
      color:           $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:visited {
        color: $link-visited-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
    }

    @include target-ie {
      cursor: auto;
    }
  }

  .accordion-title:hover,
  .accordion-title:focus {
    color: #2B8CC4;

    @include target-ie {
      color: $blue-endeavoura;
    }
  }

  .block {
    background-color: $white;
  }
}

.accordion-new {

}
