// - The generic tile grid
// - Used for both Study-areas and Degrees & Qualifactions block

// TODO: Disestablish the gutter!
$gutter: 8px;


.study-area-single {
  .study-area-wide-panel {
    @include grid-container;
    margin-bottom: $base-spacing;

    &:not(:last-child) {
      padding-bottom: $base-spacing;
      border-bottom: $border;
    }

    .img-wrap {
      //@include span-columns( 5 );

      img { width: 100%; }
    }

    .content-wrap {
      //@include span-columns( 7 );

      &:first-child { width: 100%; } // Study area without an image

      .text-subjects-wrap {
        .text-wrap {
          //@include span-columns( 4 of 6 );

          // TODO: Refactor & flatten to lower the depth!
          h2 { margin-bottom: 1rem; }

          p {
            margin-bottom: $base-spacing;
            font-size: 1.125em;
            line-height: 1.8rem;
          }
        }

        .subjects-wrap {
          //@include span-columns( 2 of 6 );
          margin-right: 0;

          // TODO: Refactor & flatten to lower the depth!
          h4 {
            margin-top: .35em;
            color: $grey;
          }

          ul {
            padding-top: .5rem;

            li {
              padding: .5em .15em;
              font-size: 1.1em;
              border-bottom: $border;

              &:last-child { border-bottom: 0; }
            }
          }

          @include breakpoint( $until: desktop ) {
            //@include span-columns( 8 );
          }
        }
      }

      a.button { float: left; }
    }

    @include breakpoint( tablet ) {
      .content-wrap {
        .text-subjects-wrap {
          display: inline;

          .subjects-wrap { float: right; }
        }

        a.button { clear: left; }
      }
    }

    @include breakpoint( $until: desktop ) {
      .content-wrap .text-subjects-wrap {
        .text-wrap,
        .subjects-wrap {
          //@include span-columns( 8 );
        }
      }
    }

    @include breakpoint( $until: tablet  ) {
      .img-wrap { display: none; }

      .content-wrap {
        //@include span-columns( 6 );

        a.button { margin-bottom: .35rem; }
      }
    }

  }
}

/* Changes for new F&S subject listings */
.study-areas-undergrad {
  .study-area-single {
    .study-area-wide-panel {
      border-bottom-color: rgba(0, 0, 0, .2);

      .text-subjects-wrap {
        .subjects-wrap {
          ul {
            li {
              border-bottom-color: rgba(0, 0, 0, .2);
            }
          }
        }
      }
    }
  }
}
