// Study areas homepage
// - The generic tile grid
// - Used for both Study-areas and Degrees & Qualifactions block

// TODO: Disestablish the gutter!
$gutter: 8px;

$tile-height:            15.5rem;
$tile-image-max-width:   3.2258 * $tile-height; // width-to-height ratio * height

$four-grid-tile-margin:  1%;
$three-grid-tile-margin: 1%;
$two-grid-tile-margin:   1.3%;


.tile-grid {
  @include grid-container;

  .tiles-wrap {
    //@include fill-parent();
    margin-top: 1rem;

    > ul {
      @include clearfix;
      display: block;
    }

    li.tile {
      overflow: hidden;
      position: relative;
      float: left;
      margin-bottom: $gutter;

      // Background image
      .img-helper + img {
        @include size( auto, 100% );
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1 * $tile-image-max-width / 2;
      }

      &.is-matching { filter: saturate( 200% ); }
      &.is-not-matching { filter: saturate( 0% ); }

      // All the text for the tile including the hidden text
      .tile-text {
        @include size( 100%, auto );
        z-index: $z-index-top;
        position: absolute;
        top: 0;
        display: block;
        background-color: $green-brand;
      }

      .tile-title {
        display: flex;
        align-items: center;
        padding: 1em;

        h2 {
          float: left;
          width: 95%;
        }

        i {
          display: flex;
          align-items: center;
          margin-left: .5rem;
          width: 5%;
          color: $white;
          font-size: 2.2em;

          &::before { margin: 0; }
        }
      }

      h2,
      h4,
      p {
        margin: 0;
        padding: 0;
        color: $white;
        line-height: 1.2;
      }

      p { line-height: 1.6; }

      a {
        display: block;
        // This will get rerfactored in a typography update
        // TODO: Remove later!
        &:hover {
          opacity: 1;
          border: 0;
        }

        h2 { font-size: 1.5em; }
      }

      // The hidden subjects span which is displayed on hover
      h4 {
        margin-bottom: .5em;
        color: $grey-alto;
        font-size: 1.2em;

        &::before { font-size: 85%; }
      }

      //TODO: Reminds other tabs in other components = MERGE!
      @include breakpoint( $desktop-large ) {
        margin-right: $four-grid-tile-margin;
        width: ( 100 - 3 * $four-grid-tile-margin ) / 4;

        &:nth-child( 4n ) { margin-right: 0; }
      }

      @include breakpoint( $desktop ) {
        margin-right: $three-grid-tile-margin;
        width: ( 100 - 2 * $three-grid-tile-margin ) / 3;

        &:nth-child( 3n ) { margin-right: 0; }
      }

      @include breakpoint( $tablet ) {
        margin-right: $two-grid-tile-margin;
        width: ( 100 - 1 * $two-grid-tile-margin ) / 2;

        &:nth-child( 2n ) { margin-right: 0; }
      }

      @include breakpoint( $mobile-large-and-smaller ) {
        float: none;

        .tile-title {
          padding-top: .5em;
          padding-bottom: 0;
        }

        .img-helper + img { max-height: none; }

        h4 {
          display: inline-block;
          margin-right: .5em;
          font-size: 1.1em;
        }

        p { display: inline-block; }
      }
    }
  }

  &.hidden { display: none; }

  .tile-text {
    p { font-size: .875rem; }
  }
}

// Styles specific to the Study-areas block
.study-areas,
.study-area-single {
  h1 { margin-bottom: .7em; }
}

.study-areas {
  .pg-filter {
    padding: 1em 1em 1em .5em;
    font-size: 1.2em;
  }

  //This operate the PG only check box the markup needs to have the tiles as general siblings of teh check box
  // ie dont wrap the checkbox in a div container
  input[type=checkbox]:checked {
    .tiles-wrap {
      .tile[data-pg=only] { display: block; }
      li.tile { display: none; }
    }
  }

  .tiles-wrap {
    li.tile {
      height: $tile-height;

      img {
        width: 100%;

        @include breakpoint( $tablet ) {
          vertical-align: middle;
        }
      }

      span {
        display: block;
        padding: 0 1em 1em;
        @include breakpoint( $desktop-and-bigger ) {
          display: none;
        }
      }

      &:hover {
        @include breakpoint( $desktop-and-bigger ) {
          span {
            display: block;
            height: 11.25rem; //TODO: Do cleanly
          }
        }
      }

    }
  }

}

/** In-page navigational tabs */
$tab-caret-size: 1.6rem;

.study-area-tabs {
  margin-bottom: $base-spacing * 1.5;

  ul {
    @include clearfix;
    margin: 0 auto;
    max-width: $base-max-content-height;

    li {
      //@include span-columns( 6, block-collapse );

      a {
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: $grey-alto;
        text-align: center;

        &:hover { background-color: $grey-silver; }

        @include icon-selector() {
          font-weight: $weight-normal;
          line-height: 0;
        }

        // Icon size modificators
        // TODO: Make more generic
        .icon-book-open { font-size: 90%; }

        h4 {
          margin: 0 auto; // helps center the text on mobile
          color: $black-mine-shaft;
        }

        @include breakpoint( $mobile-large-and-smaller ) {
          height:  3.75rem;
        }
      }

      &.active {
        position: relative;

        a {
          background-color: $green-brand;

          &:hover {
            opacity: 1;
            cursor: default;
          }

          h4 { color: $white; }
        }

        // Caret
        @include after ( $display: block, $position: absolute ) {
          @include size( 0 );
          @include triangle( down, $tab-caret-size, $tab-caret-size / 3, $green-brand );
          left: 50%;
          margin-left: -1 * $tab-caret-size / 2;
        }
      }

    }
  }
}

// Study areas undergrad postgrad switcher
.switch {
  @include size( 240px, 26px );
  position: relative;
  margin: 0 auto 20px;
  transform: scale( 1.4 ); //TODO: Do not scale, use font-size approach and relative units!
  background: $grey-alto;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba( $black, .3 ), 0 1px rgba( $white, .1 );

  .switch-label {
    z-index: $z-index-middle;
    position: relative;
    float: left;
    width: 116px;
    line-height: 26px;
    font-size: 11px;
    color: rgba( $black-mine-shaft, .9 );
    text-align: center;
    cursor: pointer;

    &:active { font-weight: $weight-bold; }
  }

  .switch-label-off { padding-left: 2px; }
  .switch-label-on { margin-left: 3px; }

  input[type=radio] {
    position: absolute;
    left: -9999px; // TODO: Bad pattern, replace!
    clip: rect( 0, 0, 0, 0 );
  }

  .switch-input:checked {
    + .switch-label {
      font-weight: $weight-bold;
      color: $white;
      transition: .15s ease-out;
    }

    + .switch-label-on ~ .switch-selection {
      left: 120px;
    }
  }

  .switch-selection {
    @include size( 118px, 22px );
    z-index: $z-index-lower;
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    background: #115737;
    border-radius: 3px;
    transition: left .15s ease-out;

    input[type=radio]:checked ~ & {
      color: $white;
      background-image: none;
      border-color: #01549B;
      background-image: none;
      outline: 0;
    }

    input[type=radio]:focus ~ & {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
      color: $white;
    }
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    transform: scale( 1.2 );
  }
}
