//TODO: Remove and manage logos through standard HTML images

$logo-mini-max-height: 3.1rem;


.logo-mini {
  @include size( 100%, $logo-mini-max-height );
  background-image:    url( '#{$dir-images}/new/logo-white-mini.svg' );
  background-position: left;
  background-repeat:   no-repeat;
}
