/*==========================================
=              CONTENT LISTS               =
==========================================*/

ul.complex-list {
  // .formatting resets //TODO: Can it be refactored (or ideally removed)?
  padding-left: 0;
  width: 100%;

  > li {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  // End of resets

  > li {
    @include clearfix;
    display: table; // Fallback for non-flex browsers
    display: flex;
    align-items: center;
    padding: .8rem .1rem;
    width: 100%;
    line-height: 1.2;
    border-bottom: $border;
  }

  .caption,
  .description {
    vertical-align: middle; // Fallback for non-flex browsers
  }

  .caption {
    float: left;
    padding-right: 1.6rem;
    width: 75%;

    > span {
      margin-right: $gap-small;
      color: $text-weakest-color;
    }
  }

  .description {
    float: left;
    width: 25%;

    > em {
      font-style: normal;
      color: $text-weaker-color;
      font-size: $text-size-smaller;
    }
  }

  @include breakpoint( $until: tablet ) {
    > li { display: block; }

    .caption,
    .description {
      display: block;
      width: 100%;
    }

    .caption {
      margin-bottom: $gap-half;
      padding-right: 0;
    }
  }
}

// Basic list

$widgetbar-heading-font-size: $h4-size;

.list {
  h2 {
    @include separator-strip;
    font-size: $widgetbar-heading-font-size;

    &.publications {
      li {

        > * { margin-bottom: .3em; }

        a { display: inline-block; }

        .label { margin-left: .5em; }

        .pub-author {
          font-size: .9em;
          line-height: 1.2;
        }
      }

      aside & {
        li { padding: .53rem .1em; }
      }
    }

  }
}
