

  /* ===== THE REAL PAGE BANNERS ====================================================== */


  /** Banner used on homepages. */

  $homepage-banner-max-height:         rem( 520px );
  $homepage-banner-compact-max-height: rem( 300px );

  .homepage-banner {
    display: block;

    .banner { position: relative; }

    @include media( $desktop-and-bigger ) {
      min-height: $homepage-banner-max-height;

      // Banner types
      &.compact {
        min-height: $homepage-banner-compact-max-height;

        .banner img { width: 100%; height: auto; }
      }

      .sidebar {
        margin-bottom: $column-padding;
        width: 25%;
      }

      .site a { font-size: rem( 18px );}

      .banner {
        position: absolute;
        @include size( 100% );

        img {
          position: absolute; right: 0;
          @include size( auto 100% );
        }
      }
    }

    a[href] {
      @include hoverify() {
        img { opacity: $base-hover-opacity; }
      }
    }

    figcaption {
      padding: 1rem;
      background-color: $green-victoria;

      h1 {
        &:not(:last-child) { margin-bottom: .25em; }

        @include icon-selector() {
          margin-left: .5em;

          &:before { display: inline; }
        }
      }

      h3 { line-height: 1.2; }

      @include media( $tablet-and-bigger) {
        position: absolute;
        bottom: 40%;
        right: 0;
        width: 50%;

        &.wider { width: 50%; }

        &.bottom { bottom: 0; }

        &.top {
          bottom: initial;
          top: 0;
        }
      }

      @include media( $tablet) {
        width: 65%;
      }

      @include media( $desktop-and-bigger) {
        width: 40%;
      }

      h1,
      h2,
      h3 {
        color: $white;
        display: flex;
        align-items: center;
      }
    }
  }

  .study-hub-banner {
    @extend .homepage-banner;

    @include media( $desktop-and-bigger ) {
      min-height: $homepage-banner-max-height;

      // Banner types
      &.compact {
        min-height: $homepage-banner-compact-max-height;

        .banner img { width: 100%; height: auto; }
      }

      .sidebar {
        margin-bottom: $column-padding;
        width: 25%;
        position: absolute;
        left: rem(100px);
      }

      .site a { font-size: rem( 18px );}

      .banner {
        position: absolute;
        @include size( 100% );

        img {
          position: absolute; right: 0;
          @include size( 100% auto );
        }
      }
    }


  }
