

  /** Non-clickable highlight boxes */

  .highlight {
      @include clearfix();
      padding: $highlights-padding;
      margin-bottom: $base-spacing;

      // Promo inside right-side widgetbar
      aside & {
        h2,
        h3 {
          &:before { display: none; }
        }
      }

      /** Highlight types */
      &.primary {
        background: #f4f4e9; //TODO: Update the colour!
      }

      &.secondary {
        // Add secondary highlights
      }
  }
