// ========================================
// ======== Degrees & Qualifications block on homepages
// ========================================

//---- Settings ---
$sub-title-color: rgba( $white, .75 );


.degrees-quals {
  h1 { margin: 1em 0 .7em; }

  &.tile-grid {
    margin-bottom: $base-spacing;

    .tiles-wrap {
      li.tile {
        margin-bottom: .5rem;
        height: auto;

        .tile-text {
          position: relative;

          a { padding: 1em; }

          .tile-title {
            margin-bottom: 1em;
            padding: 0;
          }

          .sub-title {
            margin: 0;
            color: $sub-title-color;
          }

          .title-break {
            margin-bottom: .5em;
            width: 30px;
            border-top: 2px solid $sub-title-color;
          }

          @include breakpoint( desktop ) {
            min-height: 140px;
          }
        }

      }
    }
  }


  // -------------------------
  // -------------------------
  // Overrides and unquie styles on the tile-grid for degrees-qual only
  // -------------------------
  &.ui-update.tile-grid {
    margin-bottom: $base-spacing;

    .tiles-wrap {
      li.tile {
        margin-bottom: .5rem;

        .tile-text {
          position: relative;
          width: 100%;
          min-height: 7.5rem;
          background-color: $grey-alto;

          a { padding: 1em; }

          // TODO: Refactor & Lower the depth
          .tile-title {
            margin-bottom: 0;
            padding: 0;

            h2 { color: $green-brand; }
            i { color: $black-emperor; }
          }

          .sub-title {
            margin: 0;
            color: $black-emperor;
          }

          .title-break {
            margin-bottom: .15em;
            width: 30px;
            border-top: 2px solid $grey;
          }

          @include breakpoint( desktop ) {
            min-height: inherit;
          }
        }

        @include breakpoint( desktop ) {
          clear: none; // Reset to prevent inheritance issues
          margin: 0; // Reset to prevent inheritance issues
          @include column( 2, $gap-half );
          margin-bottom: $gap-half;
          max-height: none;
        }
      }
    }
  }

  &.tile-filter-tags {
    .quals-filter {
      margin-bottom: $gap-content;

      #filter-quals { display: none; } // TODO: Refactor (ideally remove or replace with a non-ID substitute)

      label { font-size: 1.2em; }
    }

    .tile.is-not-matching { display: none; }
  }
}
