//_components.strip-banner.scss

.strip-banner {
	figcaption {
		padding: 0;
		>div {
			display: flex;
			align-items: center;
		}
		.block {
			text-align: left;
			padding: 1.5em;

			h1{
				font-size: 3em;
			}
			p {
				font-size: 1.45em;
			}
		}
	}
	.block:first-child {
		width: 100/3 * 2%;
		float: left;
		padding-bottom: 0;
		// background-color: rgba(100,166,89, .9 );
	}
	.block:last-child {
		float: right;
		 width: 100/3 * 1%;
	}
}

.promo-panel.strip-banner figure figcaption {
	max-width: 88em;
	padding: 0;
}

.study-hub-light-green .promo-panel.strip-banner > .photo figcaption p, .study-hub-light-green .promo-panel.strip-banner > .photo figcaption h1 {
	// background-color: transparent;
	margin-bottom: 0;
}