

/** Embedded media (images, videos, galleries etc.) */
.media {

  // Floats a medium into right on devices with higher resolution
  &.inline {

    @include media( $tablet-and-bigger ) {
      float: right;
      margin: 0 0 0 $base-spacing;
      width: $media-inline-width;

      figcaption {
        font-size: 90%;
        border-left-width: $highlight-border-width * .75;
      }
    }
  }

  img,
  iframe,
  .table-container,
  .embed {
    @include size( 100% auto );
    float: none;
    display: block;
    margin-bottom: .5em;

    &:last-child { margin-bottom: $base-spacing; }
  }

  figcaption {
    display: block;
    margin-bottom: $base-spacing;
    padding: .2em 0 .2em .8em;
    border-left: $strip-light;
    color: $black-emperor;
  }

  .formatting .grid &.featured img {
    margin-bottom: 0;
  }

  //TODO: Remove?
  &.featured {
    position: relative;

    img { margin-bottom: 0; }

    @include before( $display: block, $position: absolute ) {
      z-index: $z-index-lower;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba( $black, .4 );
      transition: background-color 200ms ease-in-out;
      pointer-events: none;
    }

    &:hover::before { background-color: rgba( $black, .2 ); }

    //TODO: extend .tile-text
    figcaption {
      z-index: $z-index-lower;
      background-color: $green-victoria;
      border-left: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        display: flex;
        align-items: center;
        padding: .5em;
        color: $white;
      }

      p { margin-bottom: 1.3em; }

      @include media( $tablet-and-bigger ) {
        position: absolute;
        top: $base-spacing;
        left: $base-spacing;
        width: 66%;
        max-width: 20rem;
      }
    }
  }
}


// To wrap iframed media dynamically
.embed {
  @include clearfix;
  position: relative;
  margin-bottom: $base-spacing;
  padding: 0 0 56.25%; //16:9 ratio magic; use different wrapper for other ratio embeds?
  height: 0;

  iframe {
    @include size( 100% 100% );
    position: absolute;
    top: 0;
    left: 0;
  }

  @include media( $tablet-and-bigger ) {
    &.inline { padding-bottom: 22.5%; }
  }
}


/** Simple gallery (images + breadcrumbs) */

$gallery-image-height: rem( 220px );


@include media( $tablet-and-bigger ) {
  .gallery {
    @include clearfix;
    margin-bottom: $base-spacing;

    img {
      @include size( auto $gallery-image-height );
    }

    figcaption {
      margin-bottom: 0;
      font-size: 85%;
      border-left-width: 3px;
    }

    .media {
      display: inline-block;
      margin-right: 1.2rem;
      margin-bottom: 1.2rem;
      width: min-content; // Not supported in IE and older browsers!
      vertical-align: top;
    }
  }
}

// Using only image list with floats
.gallery-container {
  margin: 1em 0;

  @include hoverify() {
    h2,
    h3,
    h4 {
      text-decoration: underline !important; //TODO: Remove !important
    }
  }

  img { max-width: 100%; }

  .gallery {
    position: relative;

    .gallery-title {
      z-index: $z-index-top;
      position: absolute;
      top: 1.5em;
      padding-right: 3em;
      max-width: 55%;
      background-color: rgba( $green-victoria, .9 );

      h2,
      h3,
      h4 {
        margin-bottom: .5em;
        color: $white;
        text-decoration: none;
      }

      h4 { opacity: .9; }

      @include media( $tablet-and-smaller ) {
        max-width: 85%;
      }
    }

    &.thumbnails {
      .gallery-images {
        @include clearfix();

        img {
          //TODO: Refactor heavily (use flex etc.)
          @include size( 24% auto );
          float: left;

          &:first-child {
            @include size( 50% auto );
            margin-right: 1%;
          }

          &:nth-child( n+6 ) {
            display: none;
          }

          &:nth-child( 2 ),
          &:nth-child( 3 ) {
            margin-bottom: 1%;
          }

          &:nth-child( 2 ),
          &:nth-child( 4 ) {
            margin-right: 1%;
          }
        }

        //TODO: Refactor the depth and flatten!
        @include media( $mobile-large-and-smaller ) {
          img {
            margin-right: 0;
            margin-bottom: 0;

            &:first-child {
              margin-bottom: 1%;
              width: 100%;
            }

            &:nth-child( n+2 ):nth-child( -n+4 ) {
              margin-right: 1.33%;
            }

            &:nth-child( 2 ),
            &:nth-child( 3 ) {
              margin-bottom: 0;
            }
          }
        }

      }
    }

    &.single-feature {
      .gallery-title {
        max-width: 45%;

        @include media( $tablet-and-smaller ) {
          max-width: 85%;
        }
      }

      .gallery-images {
        img {
          height: auto;

          &:not(:first-child) { display: none; }
        }
      }
    }

  }
}

//TODO: Refactor! Static files has to be part of the UI library!
// Image gallery mobile and tablet nav icons fix -- move to gallery assest
@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {

  .pswp--svg .pswp__button, .pswp--svg .pswp__button--arrow--left:before, .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(http://www.victoria.ac.nz/__data/assets/image/0014/302351/default-skin.png) !important;
  }

  .pswp__button.pswp__button--fs {
    display: none !important;
  }
}
