/** General fixed popup. */

$popup-width:              24rem;
$popup-border:             #fff;
$popup-button-close-color: $black-tundora;

/* Positions popup within a page. */
.popup-positioner {
  z-index: $z-index-max;
  position: fixed;
  bottom: 0;
  display: none;
  margin: 0 0 2.5em 5%;
  width: $popup-width;

  &.shown { display: block; }
}

.popup {
  display: none;
  padding: $gap;
  background-color: $grey-gallery;
  box-shadow: 0 2px 7px rgba( #000, .35 );

  .shown &,
  &.shown {
    display: block;
  }

  > header {
    //.caption {}

    // 'x' button
    .btn-close {
      float: right;
      display: block;
      margin: .1em .25em;
      padding: 0 .35em;
      color: $popup-button-close-color;
      opacity: .4;
      font-size: 170%;
      line-height: 1;

      @include hoverify { opacity: 1; }
    }

    &:not(:last-child) {
      margin-bottom: $gap-content;
    }
  }

  .body {
    // Remove the icon
    .button:not(.primary)::after { display: none; }
  }

  .btn-holder {
    .btn { margin: 0; }
  }
}

@include breakpoint( $until: tablet ) {
  .popup-positioner {
    top: 0;
    bottom: auto;
    margin: 0;
    width: 100%;
  }

  .popup { margin: 0; }
}
