/** In-page block with promotion */

$banner-background: $grey-gallery;
$promo-max-width:   60em;


.promo-panel {
  @include clearfix;

  @include breakpoint( tablet ) {
    overflow: hidden;
    position: relative;
    background: $banner-background;

    .separated + & {
      position: relative;
      top: -1 * $border-width-thin; // Cover over the border-line
    }
  } //media desktop

  @include breakpoint( $until: tablet ) {
    border-top:    3px solid $banner-background;
    border-bottom: 3px solid $banner-background;

    + .promo-panel { border-top: 0; }
  } //media desktop

  &.pattern {
    background: url( 'http://www.victoria.ac.nz/__data/assets/image/0005/216698/maori-bg-pattern.png' ); //TODO: Autolink from CDN!

    figure {
      background: transparent;
      box-shadow: none;
    }
  }

  &.no-pattern {
    background: $banner-background;

    figure {
      background: transparent;
      box-shadow: none;
    }
  }

  &.white-bg {
    background-color: $white;

    figure {
      border: $border;

      @include breakpoint( $until: tablet ) {
        border: 0;
      }
    }

    &.dual-content {
      .dual-content-block {
        border: $border;

        > * {
          border: 0;
        }
      }
    }
  }

  figure {
    overflow: hidden;
    position: relative;
    padding: 0;
    background: $white;


    @include breakpoint( $until: tablet ) {
      figcaption {
        padding-bottom: $gap-vertical;

        h1 { margin-top: $gap-vertical; }
      }
    }

    @include breakpoint( tablet ) {
      display: flex;
      align-items: center;
      box-shadow: $shadow-shallow;

      // 60% text + 40% image

      figcaption {
        z-index: $z-index-lower;
        float: left;
        padding: $gap-larger;
        width: 60%;

        p {
          margin-bottom: 1.3em;
          font-size: $h5-size;
        }
      }

      img {
        float: left;
        width: 40%;

        + figcaption { margin-top: 0; }
      }

      &.two-thirds {
          //@include span-columns(8 of 12);
          //@include shift(2);
          figcaption {
              padding: $base-spacing;
              //@include span-columns(4 of 8);
              //@include shift(4);
              background: $white;
              position: relative;
          }

          img {
              position: absolute;
              width: auto;
              top: 0;
              left: 0;
              height: 100%;
          }
      }

      &.photo,
      &.pattern,
      &.no-pattern {
        figcaption {
          z-index: $z-index-lower;
          position: relative;
          float: none;
          margin: 0 auto;
          padding: $gap-larger 0;
          width: 100%;
          max-width: $promo-max-width;
          text-align: center;
        }

        img {
          @include background-image-cover;
        }
      }
    }

    &.photo figcaption {
      h1,
      h2,
      h3,
      h4,
      p {
        display: inline-block;
        margin-bottom: .5em;
        padding: .5rem 1rem;
        color: $white;
        background-color: rgba( 99, 166, 89, .9 );
      }
    }

    //Research hub new panel, promo panel with left align grey text panel
    &.photo {
      &.left-text-panel {

        figcaption {
          max-width: $centered-max-width;

          > div {
            position: relative;
            margin: $gap-triple $gap-horizontal $gap-double;
            padding: 0 $gap-larger $gap-larger;
            max-width: $text-readability-max-width;
            background-color: $background-overlay-lightest;
            box-shadow: $shadow-shallow;
            text-align: left;

            @include breakpoint( $until: tablet ) {
              margin-bottom: $gap-content;
            }

            h1,
            h2,
            h3 {
              position: relative;
              top: $bleed-larger;
              margin-bottom: 0;
              margin-left: $bleed-half;
              padding: $gap-half $gap-horizontal;
              background-color: $green-brand;

              // IE 10+ fix bg not covering text
              @media screen and ( -ms-high-contrast: active ), ( -ms-high-contrast: none ) {
                float: left;
              }
            }

            p {
              margin-bottom: $gap-content;
              padding: 0;
              background-color: transparent;
              color: inherit;
            }
          }
        }

      }
    }
  }



  &.study-hub {
      background-color: $white;

      figure {
          padding: $base-spacing 0;
          color: $grey;
          box-shadow: none;

          p {
              color: $grey;
          }

          figcaption {
              padding: $base-spacing $base-spacing * 1.5;

              &:first-child {
                  //@include span-columns( 7 of 12,block-collapse);

                  h1 {
                      color: $green-light-brand;
                  }
              }
          }

          &>:last-child {
              border-left: 2px solid $grey-alto;
              padding: $base-spacing $base-spacing * 1.5;
              //@include span-columns( 5 of 12,block-collapse);

              >h3 {
                  color: $grey;
              }
              >ul {
                  padding-left: 0;

                  li {
                      padding-left: 0;
                      list-style: none;
                      span {
                          color: $green-light-brand ;
                          font-weight: $weight-bold;
                      }
                  }
              }
          }
      }
  }

  // half panels with green title and image above content
  &.two-panels {
      > div {
          display: flex;
      }

      figure {
          flex: 0 1 50%;
          display: block;

          img {
              width: 100%;

              &+figcaption {
                  margin-top: -25%;
                  background-color: #fff;
                  padding-top: 0;

                  h1, h2 {
                      margin-top: -1em;
                  }
              }
          }

          figcaption {
              width: 100%;

              h1, h2 {
                  color: $white;
                  background-color: $green-brand;
                  padding: 0.4em 0.5em;
                  display: inline-block;
                  margin-left: -0.5em;
              }
          }

          &:first-child {
              margin-right: 1em;
          }

      }

      @include breakpoint( $until: tablet ) {
          > div {
              flex-wrap: wrap;
          }
          figure {
              flex: 0 1 100%;

              img {
                  width: 100%;

                  &+figcaption {
                      margin-top: 0;
                      padding-left: 1em;
                  }
              }

              &:first-child {
                  margin-right: 0;
              }
          }
      }
  }

  &.dual-content {
    .dual-content-block {
      @include clearfix;
      background-color: $white;

      > figure {
        box-shadow: none;

        // Left block
        &:first-child {

          figcaption {
            @include size( 100% );
            padding: 0;
          }
        }
      }

      .media {
        img {
          float: none;
          width: 100%;
        }

        figcaption {
          padding: $gap-box;
          min-width: 14.5rem;

          h4 {
            margin-bottom: 0;
            padding: 0 $gap-triple 0 0;
          }
        }

        .play-button {
          position: absolute;
          top: 50%;
          right: $gap-horizontal;
          margin-top: -1.25em; // Half of the play buttons size
        }
      }

      @include breakpoint( $until: tablet ) {
        > figure {
          &:first-child { // Left block
            margin-bottom: $gap-vertical;
          }
        }

        .media {
          > a:before { display: none; } // Disable the video overlay

          figcaption {
            position: relative;
            margin: 0;
          }
        }
      }


      @include breakpoint( tablet ) {
        display: flex;
        align-items: stretch;
        box-shadow: $shadow-shallow;

        > figure {
          float: left;

          &:first-child { // Left block
            padding: $gap-larger;
            width: 60%;
          }

          &:last-child { width: 40%; } // Right block
        }

        .media { align-self: center; }
      }
    }
  }

  &.two-one-third {
      > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;


          @include breakpoint( $until: tablet ) {
              flex-direction: column;

              >:first-child,
              >:last-child {
                  width: 100%;
              }
          }

          &.half-panel {

              >:first-child {
                  width: 100/3 * 2%;
                  margin-right: 0;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;

                  @include breakpoint( $until: desktop ) {
                      flex-direction: column;

                      figcaption:first-child {
                          width: 100%;
                      }
                  }

                  >:first-child {
                      width: 50%;
                  }



              }
              >:last-child {
                  width: 100 / 3 * 1%;
              }

              @include breakpoint( $until: tablet ) {

                  >:first-child,
                  >:last-child {
                      width: 100%;
                  }
              }
          }

      }

      figure {
          figcaption {
              padding: 1.4em;
          }

          &:first-child {
            margin-right: $gap-horizontal;
            width: 100 / 3 * 2%;

            img {
                height: 100%;
                object-fit: cover;
            }
          }

          &:last-child {
              width: 100/3 * 1%;

              figcaption {
                  width: 100%;
                  text-align: right;
              }
          }
      }
  }

  // image with offset title and text on right
  &.title-image {
    background-color: $white;

    // 1st column
    figure {
      overflow: visible;
      box-shadow: none;

      img {
        width: 100%;
        flex-shrink: 0; // IE11 FIX to prevent the image to stretch vertically
      }

      figcaption {
        margin: 0;
        padding: 1em;
        width: 100%;
        background-color: $green-brand;

        h1,
        h2,
        h3 {
          margin-bottom: 0;
          color: $white;
        }
      }
    }

    // 2nd column
    section {
      width: 100%;

      p { font-size: 1.2rem; }
    }

    @include breakpoint( desktop ) {
      figure figcaption {
        position: absolute;
        top: 10%;
        left: 0;
        margin-left: $bleed-horizontal / 2;
        max-width: 90%;
      }
    }

    @include breakpoint( tablet ) {
      > div {
        display: flex;
        align-items: center;
      }

      figure { width: 40%; }

      section {
        padding-left: $gap-vertical;
        width: 60%;
      }
    }

    @include breakpoint( $until: desktop ) {
      figure {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    @include breakpoint( $until: tablet ) {
      figure {
        margin-bottom: $gap-content;
      }
    }

  }
}

.promo {
  @include clearfix();
}

.text-promo-panel {
border-bottom: $border;

  @include breakpoint( tablet ) {
    padding: $gap-vertical 0;

    .text-wrap {
      float: left;
      width: 70%;
    }

    .button-wrap {
      float: left;
      margin-top: 2.5rem;
      padding-left: $gap-horizontal;
      width: 30%;
    }
  }


  @include breakpoint( $until: tablet ) {
    .text-wrap { margin-bottom: $gap-content; }
  }

  // TODO: Move into its standalone .promo-video class
  &.video {

    // Figure
    .media .outside {
      position: relative;
      top: auto;
      left: auto;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      max-width: 100%;
    }

    .outside {

      h4 {
        margin-bottom: 0;
        padding: .65em .5em;

        i { margin-left: .5em; }
      }
    }

  }
}
