

/* ===== PAGINATION =================================================== */


.pagination {
  @include clearfix;

  display:    flex;
  text-align: right;

  // Placed on the very BEGINNING of the section
  &:last-child {
    padding-top: $base-spacing;
    border-top: 1px solid $grey-alto;
  }

  .button {
    margin-bottom: .4rem;
    background-color: $grey-alto;
    color: $black;

    &:hover { background-color: $grey; }

    // Currently visited page
    &.active {
      background-color: $grey;
      color: $white;
    }

    > .icon { display: none; }
  }

  // 'Previous page' button/link
  .previous {
    margin-right: $gap-small;
    @include extend-icon-before( arrow-left );
  }

  // 'Next page' button/link
  .next {
    order: 3;
    margin-left: $gap-small;

    @include extend-icon-after( arrow-right );
  }

  .previous,
  .next {
    display: inline-block;
    white-space: nowrap;
    align-self: flex-start;
  }

  .pages {
    flex-grow: 1;
    order: 2;
    padding: 0 $gap-half;
    text-align: center;

    // '...'
    > .icon { margin: 0 $gap-third; }
  }

  @include bp-mobile {
    display: block;
    text-align: center;

    .previous,
    .next {
      float: none;
    }

    .pages {
      padding: initial;
      text-align: inherit;
    }
  }
}

.pagination--alpha {
  padding: $gap $gap-half;
  background: $grey-alto;

  .button {
    background: $white;
    @include breakpoint(desktop) {
      margin-bottom: 0;
    }
  }
}

.pagination__list {
  margin: 0 !important; //TODO - fix specificity across the board..
  
  li {
    display: inline-block;
    list-style: none;
    
    @include breakpoint(desktop) {
      margin: $gap-small 0 !important; //TODO - fix specificity across the board..
    }
  }
}
