/*==========================================
=              CONTENT LISTS               =
==========================================*/

ul.complex-list {
  // .formatting resets //TODO: Can it be refactored (or ideally removed)?
  padding-left: 0;
  width: 100%;

  > li {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  // End of resets

  > li {
    @include clearfix;
    display: table;
    padding: .8rem .1rem;
    width: 100%;
    line-height: 1.2;
    border-bottom: 1px solid $grey-alto; //TODO: Make it $base-border
  }

  .caption,
  .description {
    vertical-align: middle;
  }

  .caption {
    //@include span-columns( 9, table );
    padding-right: 1.6rem;

    > span {
      margin-right: .35em;
      color: $grey;
    }
  }

  .description {
    //@include span-columns( 3, table );

    > em {
      font-style: normal;
      color: $black-emperor;
      font-size: .875rem; //TODO: Redefine
    }
  }

  @include breakpoint( $until: tablet ) {
    .caption,
    .description {
      display: block;
      width: 100%;
    }

    .caption {
      margin-bottom: .35em;
      padding-right: 0;
    }
  }
}

// Basic list

$widgetbar-heading-font-size: $h4-size;

.list {
  h2 {
    @include separator-strip;
    font-size: $widgetbar-heading-font-size;

    &.publications {
      li {

        > * { margin-bottom: .3em; }

        a { display: inline-block; }

        .label { margin-left: .5em; }

        .pub-author {
          font-size: .9em;
          line-height: 1.2;
        }
      }

      aside & {
        li { padding: .53rem .1em; }
      }
    }

  }
}
