

/* ===== THE REAL PAGE BANNERS ============================================== */


/** Banner used on homepages. */

$homepage-banner-max-height:         32.5rem;
$homepage-banner-compact-max-height: 18.75rem;

.banner { overflow: hidden; }

//TODO: Refactor and remove what's no longer needed
.banner-in-page {
  position: relative;

  @include breakpoint( tablet ) {
    top: -1.5 * $column-padding; //.content-panel > main|aside > .block
    // margin-top: -1.5 * $column-padding; //.content-panel > main|aside > .block
    // margin-bottom: 1.5 * $column-padding; //.content-panel > main|aside > .block

    &.bleed {
      margin-left: calc( -25% - #{$column-padding} * 1.25 );//remember to account for table
      width: calc( 125% + #{$column-padding} * 1.25 );

      img {
        z-index: -1;
        position: relative;
      }
    }
  }

  figcaption { //TODO: extend .tile-text
    background-color: $green-brand;

    @include breakpoint( tablet ) {
      position: absolute;
      top: 6rem;
      right: 0;
      width: 33%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      display: flex;
      align-items: center;
      padding: 1em;
      color: $white;
    }

    p { margin-bottom: $gap-content; }
  }
}


.homepage-banner,
.study-hub-banner {
  &.layout { display: block; } // IE11 fix to turn off flexbox which is causing issues

  .banner { position: relative; }

  a[href] {
    @include hoverify() {
      img { opacity: $base-hover-opacity; }
    }
  }

  figcaption {
    padding: $gap-box;
    background-color: $green-brand;

    h1 {
      &:not(:last-child) { margin-bottom: .25em; }

      @include icon-selector() {
        margin-left: .5em;

        &::before { display: inline; }
      }
    }

    h1,
    h2,
    h3 {
      display: flex;
      align-items: center;
      color: $white;
    }

    h3 { line-height: 1.2; }

    @include breakpoint( tablet ) {
      position: absolute;
      right: 0;
      bottom: 40%;
      width: 50%;

      &.wider { width: 50%; }
      &.bottom { bottom: 0; }

      &.top {
        top: 0;
        bottom: initial;
      }
    }

    @include bp-tablet {
      width: 85%;

      &.wider { width: 85% !important; }
    }

    @include breakpoint( desktop ) {
      width: 44%;
    }
  }

  @include breakpoint( desktop ) {
    min-height: $homepage-banner-max-height;

    // Banner types
    &.compact {
      min-height: $homepage-banner-compact-max-height;
    }

    .sidebar {
      flex-basis: 25%;
      margin-bottom: $column-padding;
      width: 25%;
    }

    .site a { font-size: 1.125rem; }

    .banner {
      @include size( 100% );
      position: absolute;

      img {
        @include background-image-cover;
      }
    }
  }

}

.study-hub-banner {
  @include breakpoint( desktop ) {
    //Overwriting extend for page
    .sidebar {
      position: absolute;
      left: 6.25rem;
      flex-basis: 21%;
      margin-bottom: $column-padding;
      width: 21%;
    }

    .banner {
      img {
        @include size( 100%, auto );
        position: absolute;
        right: 0;
      }
    }
  }

}
