/** List with people information */

$portrait-width: 9.35rem;


.staff {
  margin: $base-spacing 0 $base-spacing * 1.5;
  width: 100%;

  .articles-container & {
    > li {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }

  .profile-picture {
    @include size( $portrait-width, auto );
    float: left;
    display: block;
    margin-right: $column-padding;

    @include breakpoint( $mobile-large-and-smaller ) {
      width: 20%;
      max-width: $portrait-width;
    }
  }

  .summary {
    overflow: hidden;

    // Incl. staff portrait
    &:not(:first-child) {
      display: block;
      > header { margin-bottom: 1rem; }
    }

    // No staff portrait
    &:first-child {
      h3,
      .subtitle {
        display: inline-block;
      }

      h3 { margin-right: 1rem; }
      > header { margin-bottom: .25rem; }
      .meta > li { display: inline-block; }
    }
  }
}

.profile-picture { width: 100%; }

// Contact information
address.contact {
  > img {
    display: block;
    margin-bottom: .7rem;
  }

  > ul { font-style: normal; }
}

// List of quick (meta) information
ul.meta {
  @include icon-selector() {
    color: $grey;
    font-size: 115%;

    &::before { display: inline; } // Prevent icon wrapping
  };

  &,
  > li {
    padding-left: 0; // Reset
  }

  > li {
    display: block;
    margin-bottom: .5em;
    font-size: .875rem; //TODO: Refactor into more dynamic solution
    word-wrap: break-word;
    line-height: 1.35;
  }

  .highlight {
    display: inline-block;
    margin-right: .1rem;
    padding: 0; // Reset

    @include icon-selector() {
      color: inherit;

      &::before {
        display: inline-block;
        margin-right: .35em;
      }
    };

    > a {
      display: block;
      padding: .2rem .5rem;
      background-color: lighten( $green-nebula, $base-lighten-percentage );
      color: $heading-color;
      text-decoration: none;

      @include hoverify() { text-decoration: underline; }
    }
  }
}

@include breakpoint( $mobile-large-and-smaller ) {
  aside .contact {
    .profile-picture {
      float: left;
      margin-right: $column-padding;
      width: 20%;
      max-width: $portrait-width;
    }

    .meta { overflow: hidden; }
  }
}

/* Research hub Sidebar featured researcher profile */

//TODO: Re-define! (Don't use IDs)
#rightHandMenu {
  .data-sidebar {
    &.featured-researcher {
      .profile-picture { margin-bottom: .7rem; }

      @include breakpoint( $mobile-large-and-smaller ) {
        .profile-picture {
          float: left;
          margin-right: $column-padding;
          width: 20%;
          max-width: $portrait-width;
        }

        .summary { overflow: hidden; }
      }
    }
  }
}
