// ========================================
// ======== Intro block on homepages
// ========================================
//_components.homepage-intro.scss


//---- Settings ---
// ----------------
// -------------------------
.homepage-intro {
  @include clearfix;

  .intro-text {
    margin-bottom: 1.5rem;

    p {
      font-size: 1.125em;
      color: $green-brand;
    }
  }

  .links-wrap {
    p {
      display: inline-block;
      margin-bottom: 0; // Reset
      padding-right: 1em;
      line-height: 2.2;
    }

    .social-icon {
      display: inline-block;
      vertical-align: middle;
    }

    div {
      //@include span-columns( 4 of 8 );

      &.button-links {
        a.button {
          margin-right: .5rem;
          margin-bottom: .5em;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      @include breakpoint( $tablet-and-smaller ) {
        //@include span-columns( 8 );

        &.social-links { margin-top: 1.5rem; }
      }

    }
  }

  + .text-promo-panel,
  + .intro-promo {
    padding: 0;
    border-bottom: 0;

    .text-wrap,
    .button-wrap {
      //@include span-columns( 4 of 4 );
    }

    .button-wrap { margin-top: 1rem; }

    @include breakpoint( $tablet-and-bigger ) {
      float: left;
      width: 100 / 3 * 1%;
    }
  }

  &.study-hub {
    $base-study-hub-colour--study: $green-light-brand;

    .intro-text,
    + .text-promo-panel,
    + .intro-promo {
      h1,
      h2 {
        color: $base-study-hub-colour--study;
      }

      h3,
      p,
      li {
        color: $black-tundora;
      }
    }

    + .text-promo-panel {
      .text-wrap {
        ul {
          padding-left: 0;

          // TODO: Refactor & flatten the depth
          li {
            span {
              color: $green-light-brand;
              font-weight: $weight-bold;
            }
            a { text-decoration: none; }
          }
        }
      }

      @include breakpoint( $tablet-and-bigger ) {
        border-left: 2px solid $grey-alto;
      }
    }
  }

  @include breakpoint( $tablet-and-bigger ) {
    width: 100 / 3 * 2%;

    &:last-child { margin: 0 auto; }
    &:not(:last-child) { float: left; }
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    &:not(:last-child) {
      border-bottom: $border;
    }
  }

}


@include breakpoint ($tablet-and-bigger) {
  .text-promo-panel.intro-promo {
    @include before( $position: absolute ) {
      @include size( 0, 100% );
      top: 0;
      left: ( 100 / 12) * 8%;
      border-left: $border;
    }
  }

  .text-promo-panel.intro-promo.no-border {
    &::before { border-left: 0; }
  }

}
