.site,
.breadcrumbs {
  z-index:    $z-index-lower;
  overflow:   hidden;
  background: $green-bottle-green;

  [lang="mi"] {
    opacity: 0.5;
  }

  @include media( $mobile-large-and-smaller ){
    & > ul > li {

      @for $i from 0 through 5 {
        &:nth-child(#{$i+1}) {
          color: red;
          padding-left: #{$i * $default-spacing};
        }
      }

    }
    & > ul > li:last-child > a {
      display: none;
    }
    .layout & { display: none; }
  }

  @include media( $tablet-and-bigger ){
    & > ul > li {
      display: none;

      &:last-child {
        display: block;

        li { padding-left: $default-spacing; }
      }
    }
  }

    &--container { position:relative; }
    a { @include menu-item; }
}
