//TODO: Remove and manage logos through standard HTML images
.logo-mini {
  background-image:    url( '#{$dir-images}/logo-mini.svg' );
  background-position: left;
  background-repeat:   no-repeat;
}
