.promo {
    display: block;

    > a {
      display: block;
      padding: $highlights-padding;
      color: inherit;

      h2,
      h3 {
        text-decoration: none;
      }

      @include hoverify() {
        h2,
        h3 {
          text-decoration: underline;
          color: inherit;
        }
      }
    }

    // Promo inside right-side widgetbar
    aside & {
      h2,
      h3 {
        &:before { display: none; }
      }
    }

    // 'Find out more' at the end of the promo
    b,
    strong {
      display: block;
    }


    /** Promo types */

    &.primary {
      background-color: $black-victoria;

      * { color: $white; }

      @include hoverify {
        background-color: lighten( $black-victoria, $base-lighten-percentage );
      }
    }

    &.secondary {
      background-color: $blue-humming-bird;

      h2 { color: $color-body-text; }
      p { color: $base-link-color; }

      @include hoverify {
        background-color: darken( $blue-humming-bird, $base-darken-percentage );
      }
    }
}
