/*==========================================
=         LINKS AND LINK LISTS             =
==========================================*/


ul.links {
  margin-bottom: $base-spacing;
  padding-left: 0;
  line-height: 1.5;

  li {
    @include bullet-line;
    position: relative;
    margin-bottom: .65rem;
    list-style: none;
  }

  a { display: inline; }

  // in the widget bar
  aside & {
    li {
      margin: 0;
      padding-left: 0;
      border-top: 1px solid $grey-alto;

      &::before { display: none; } // Turn the bullets off
    }

    a {
      display: block;
      padding: $base-spacing / 3 .1em;
      text-decoration: none;

      // Prevent icon wrapping
      &,
      span {
        &::after { display: inline; }
      }

      @include hoverify {
        background-color: $background-opaque-dark;
      }
    }
  }

  // in the grid
  .grid & {
    @include breakpoint( $until: tablet ) {

      // All the lists in single column => Remove the margins except from the last one.
      &:not(:last-child) { margin-bottom: 0; }
    }
  }

  &.list-divider {
    li {
      margin-bottom: .45rem;
      padding-top: .45rem;
      border-top: 1px solid $grey-alto;

      &::before { top: 1.2em; }
    }

    &.hub {
      a {
        text-decoration: none;
        font-size: .9rem;
      }
    }

  }
}

/* Hub related links/areas */

.related-links-block {
  h2,
  h3 {
    position: relative;
    padding-bottom: 15px;

    &::after {
      @include size( 50px, 5px );
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';

      background-color: $green-brand;
    }
  }

  .related-links {
    display: flex;

    .related-link {
      display: flex;
      flex: 24% 0 1;
      justify-content: center;
      padding: .5em;
      flex-direction: column;
      background-color: $green-brand;
      border-radius: 5px;

      text-align: center;
      color: $white;

      &:not(:last-child) {
        margin-right: 1%;
      }


      @include hoverify() {
        background-color: $background-brand-darker;
        transition: .5s ease-in-out;

        text-decoration: underline;

      }

    }

    @include bp-mobile {
      flex-wrap: wrap;

      .related-link {
        flex: 48% 0 1;
        margin: 0 1% 2%;

        &:not(:last-child) { margin-right: 1%; }
      }
    }
  }
}
