

  /** Search panel full page with or mods */

.search-panel {
  // padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;

  form {

    &.wide-search-bar {
      padding: 2rem 10rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, .2 );
    }

    .group {
      width: 100%;
      display: flex;

      input[type=text] {
        width: 75%;
        height: 42px;
        padding: .2rem .6rem;
        border: 2px solid #CCC;
      }
      input[type=submit] {
        width: 25%;
        border-radius: 0 2px 2px 0;
      }

    }
  }

  section {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }

  @include media($tablet-and-smaller) {

    form {

      &.wide-search-bar {
        padding: 2rem 2rem;
      }

      .group {

        input[type=text] {
          width: 70%;
        }
        input[type=submit] {
          width: 30%;
        }

      }
    }
  }

  @include media( $mobile-large-and-smaller ) {
    form {

      &.wide-search-bar {
        padding: 2rem 1rem;
      }

      .group {
        flex-wrap: wrap;

        input[type=text] {
          width: 100%;
        }
        input[type=submit] {
          width: 100%;
        }

      }
    }
	}
}
