/** Promotional full-width boxes (~ fully clickable highlights). */

.promo {
  clear: both;
  display: block;

  > a {
    display: block;
    padding: $highlights-padding;

    h2,
    h3 {
      text-decoration: none;
    }

    @include hoverify() {
      h2,
      h3 {
        text-decoration: underline;
        color: inherit;
      }
    }
  }

  // Promo inside right-side widgetbar
  aside & {
    h2,
    h3 {
      &::before { display: none; }
    }
  }

  // 'Find out more' at the end of the promo
  b,
  strong {
    display: block;
  }

  &.intro-promo { margin: 1.5em 0; }


  /** Promo types */

  &.primary {
    background-color: $background-brand-dark;

    > a {
      h2,
      p {
        color: $white;
      }
    }

    @include hoverify {
      background-color: $background-brand-dark-lighter;
    }
  }

  &.secondary {
    background-color: $background-info-light;

    > a {
      h2,
      p {
        color: $link-color;
      }
    }

    @include hoverify {
      background-color: $background-info-light-darker;
    }
  }

  &.themed {
    background-color: $background-brand;

    a {
      h1,
      h2,
      h3,
      p {
        margin-bottom: 0;
        color: $white;
      }
    }

    @include breakpoint( $until: desktop ) {
      h2,
      h3 {
        overflow-wrap: break-word;
      }
    }
  }

  #hubv4 & {
    &.primary {
      background-color: $pounamu;
      > a {
        h2,
        p {
          color: $manuka;
        }
      }

      @include hoverify {
        // background-color: $background-brand-dark-lighter;
      }
    }

    &.secondary {
      background-color: $off-white;
      border: 1px solid $mahoe;

      > a {
        p {
          color: $black-brand;
        }
        h2,h3 {
          color: $pounamu;
        }
      }

      @include hoverify {
        background-color: $kohuhu;
      }
    }
  }

}

#hubv4 {
  .promo.highlight {
    > a {
      padding: 0;
    }
  }
}
