// - The generic tile grid
// - Used for both Study-areas and Degrees & Qualifactions block


.study-area-single {
  .study-area-wide-panel {
    @include grid-container;
    margin-bottom: $base-spacing;

    &:not(:last-child) {
      padding-bottom: $base-spacing;
      border-bottom: $border;
    }

    .img-wrap {
      float: left;
      padding-right: $gap-horizontal;
      width: 40%;

      img { width: 100%; }
    }

    .content-wrap {

      &:first-child { // Study area without an image
        width: 100%;
      }

      .text-subjects-wrap {
        .text-wrap {
          width: 100%;

          // TODO: Refactor & flatten to lower the depth!
          h2 { margin-bottom: 1rem; }

          p {
            margin-bottom: $gap-content;
            font-size: 1.125em;
            line-height: 1.8rem;
          }
        }

        .subjects-wrap {
          margin-right: 0;
          width: 100%;

          // TODO: Refactor & flatten to lower the depth!
          h4 {
            margin-top: .35em;
            color: $grey;
          }

          ul {
            padding-top: .5rem;

            li {
              padding: .5em .15em;
              font-size: 1.1em;
              border-bottom: $border;

              &:last-child { border-bottom: 0; }
            }
          }

        }
      }

      a.button { float: left; }
    }

    @include breakpoint( tablet ) {
      .img-wrap {
        float: left;
        width: 40%;
      }

      .content-wrap {
        float: left;
        width: 60%;
      }

      .content-wrap {
        .text-subjects-wrap {
          display: inline;

          .subjects-wrap { float: right; }
        }

        a.button { clear: left; }
      }
    }

    @include breakpoint( desktop ) {
      .content-wrap {
        .text-subjects-wrap {
          .text-wrap {
            float: left;
            width: 66.6%;
          }

          .subjects-wrap {
            float: left;
            padding-left: $gap-horizontal;
            width: 33.4%;
          }
        }
      }
    }

    @include breakpoint( $until: desktop ) {
      .content-wrap {
        a.button { margin-bottom: $gap-content; }

        .text-subjects-wrap .subjects-wrap {
          clear: left;
        }
      }
    }

    @include breakpoint( $until: tablet ) {
      .img-wrap { display: none; }
    }


  }
}

/* Changes for new F&S subject listings */
.study-areas-undergrad {
  .study-area-single {
    .study-area-wide-panel {
      border-bottom-color: rgba(0, 0, 0, .2);

      .text-subjects-wrap {
        .subjects-wrap {
          ul {
            li {
              border-bottom-color: rgba(0, 0, 0, .2);
            }
          }
        }
      }
    }
  }
}
