/** List with links or files */
$links-bulletline-color: #4d8168;

ul.links {
    margin-bottom: $base-spacing;
  padding-left: 0;
    line-height: 1.5;

    li {
      padding-left: 0;
      list-style: none;
      margin-bottom: .6rem;
    }

    // List of links in widget bar
    aside & {

        li {
          margin: 0;
          border-top: 1px solid $grey-alto;
        }

        a {
          padding: $base-spacing/3 .1em;
          text-decoration: none;

          &:before { display: none; }

          @include hoverify {
              background-color: rgba( #000, .03 );
          }
        }
    }

    a {
      display: block;

      &:before {
        display: inline-block;
        margin: 0 .5rem 0 .35rem;
        color: $links-bulletline-color;
        content: '\2014';
      }
    }
}
