
.hub-banner {
  border-bottom: .25rem solid $green-bottle;

  .banner-image {
    background-color: $grey-alto;
    position: relative;

    img {
      max-height: 450px;
      object-fit: cover;
      margin-bottom: 0;
    }

    .banner-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 0rem;
    }
  }

  .banner-body,
  .banner-title {
    background-color: $green-brand;
    color: $white;
    padding: 1rem 1.5rem;

    h1 {
      color: $white !important;
    }

  }

  .banner-body {
    p {
      max-width: 950px;
      font-size: 1.2rem;
    }
  }

  a {
    .banner-body {
      p {

        &:after {
          content: "";
          display: inline-block;
          font-family: "VicIcons";
          vertical-align: -0.222em;
          line-height: 1;
          font-size: 1.5rem;
        }
      }

    }
    @include hoverify() {
      .banner-body {
        p {
          text-decoration: underline;
        }
      }
    }
  }

  @include breakpoint( $until: desktop ) {
    .banner-image {
      img {
        max-height: 400px;
      }
      .banner-title {
        position: relative;
        bottom: 0;
        left: 0;
      }
    }
  }
}

