// Tile(s)
$tile-height:                12.5rem;
$background-color:           $grey-gallery; //Used for borders to stop elements moving on hover
$blue-hover-shade:           #405E85;

// Grid styles
$grid-tile-spacing:          $gap-half;
$grid-tile-spacing-large:    $gap;

$grid-tile-padding-vertical: 1rem;
$grid-tile-hover-border-width: $border-width-thick;

// colour for study hub - study page
$base-study-hub-colour--study: $green-light-brand;

//FIXME: Simplify and refactor tiles into simpler and more manageable structure


.tiles-panel {
  background-color: $background-color;

  .sector + &,
  .separated + & {
    margin-top: -.0625rem;
  }

  + .promo-panel:not(.white-bg) .centraliser { border-top: $border; }

  &.hidden { display: none; }
}


// Shared text element across grid-tile and strip-tiles.
.updated-tile-grid,
.tile-strip-grid {
  li.tile {
    a {
      display: block;
      padding: $grid-tile-padding-vertical $gap-half;
      height: 100%;
      border-left: $grid-tile-hover-border-width solid $green-brand;

      @include hoverify {
        padding-top: ( $grid-tile-padding-vertical - $grid-tile-hover-border-width );
        padding-right: ( $gap-half - $grid-tile-hover-border-width );
        padding-bottom: ( $grid-tile-padding-vertical - $grid-tile-hover-border-width );
        opacity: 1;
        border: $grid-tile-hover-border-width solid $blue-st-tropaz;

        h2,
        h3,
        p,
        i,
        span,
        q {
          color: $blue-st-tropaz;
        }

        h4 { color: $blue-hover-shade; }

        .sub-text { border-left: $border-width-small solid $blue-hover-shade; }
      }

      h2,
      h4,
      p,
      i {
        margin: 0;
        padding: 0;
        line-height: 1.2;
      }

      h2 {
        margin-bottom: .25em;
        font-size: $h4-size;
        color: $black-tundora;
      }

      h3 {
        margin-bottom: .25em;
        color: $black-tundora;
      }

      h4 { color: $text-weaker-color;; }

      p {
        line-height: $text-line-height;
        font-size: 100%;
        color: $grey-dove;
      }

      .sub-text {
        margin-bottom: $gap-content;
        padding-left: $gap-half;
        border-left: $border-width-small solid $border-color-light;
      }
    }
  }
}


.updated-tile-grid {
  > h2,
  > p {
    margin-bottom: $gap-content;
  }

  .tiles-wrap {
    > ul {
      @include clearfix;
      display: block;
    }

    li.tile {
      overflow: hidden;
      position: relative;
      float: left;
      display: flex;
      margin-bottom: $grid-tile-spacing + .25rem; // Spacing + shadow
      flex-direction: column;
      background-color: $white;
      box-shadow: $shadow-shallowest;

      @include hoverify {
        box-shadow:   none;
        border-color: $blue-st-tropaz;
      }

      // Search filtering
      &.is-matching { filter: saturate( 200% ); }
      &.is-not-matching { filter: saturate( 0% ); }

      a {
        flex-grow: 1;

        h4 {
          font-size: 100%;

          &::before { font-size: $text-size-tiny; vertical-align: -1px; }
        }

        h2,
        h3 {
          margin-bottom: $gap-content;
        }

        h4 { margin-bottom: $gap-small; }
      }

      // The hidden subjects span which is displayed on hover
      i {
        position: absolute;
        right: .5em;
        bottom: .5em;
        font-size: $text-size-4;
        color: $text-weakest-color;
      }

      @include breakpoint( $until: tablet ) {
        float: none;

        h4 {
          display: inline-block;
          margin-right: .5em;
          font-size: 1.1em;
        }

        p { display: inline-block; }
      }
    }

    /** FIXME: Redesign! */
    &.three-col {
      &.image-no-gutter {
        ul {
          display: flex;
          flex-wrap: wrap;
        }

        li.tile {
          img {
            flex: 0 0 auto;
            width: 100%;
          }

          a { height: auto; }
        }
      }

      li.tile {
        // 3 in a row
        @include breakpoint( desktop ) {
          @include column( 3, $grid-tile-spacing * 2 );
        }

        // 2 in a row
        @include bp-tablet {
          @include column( 2, $grid-tile-spacing * 2 );
        }
      }
    }

    &.four-col, // Ambiguous? It's either 4-cols or 2-cols
    &.two-col {
      &.image-no-gutter {
        ul {
          display: flex;
          flex-wrap: wrap;
        }

        li.tile {
          img {
            flex: 0 0 auto;
            width: 100%;
          }
        }
      }

      li.tile {
        // 4 in a row
        @include bp-desktop-large {
          @include column( 4, $grid-tile-spacing );
        }

        // 3 in a row
        @include bp-desktop {
          @include column( 3, $grid-tile-spacing );
        }

        // 2 in a row
        @include bp-tablet {
          @include column( 2, $grid-tile-spacing );
        }
      }
    }

    &.two-col {
      &.image-no-gutter {
        ul {
          justify-content: center;
        }
      }
    }

    &.hidden {
      display: none !important;
    }
  }

  &.hidden { display: none !important; }

  &.media-quote {
    .tiles-wrap {
      li.tile {
        height: 31.25rem;

        figure {
          position: relative;

          .play-button {
            position: absolute;
            top: 40%;
            left: 50%;
            margin-top: 0;
            transform: translateX( -50% );
          }

          img {
            display: block;
            margin-bottom: 2%;
            width: 100%;
          }
        }

        h2 { color: $black-tundora; }
        p { margin-bottom: .25em; }

        q {
          color: $green-light-brand;
          font-size: 100%;
          font-weight: $weight-bold;

          &::before { content: open-quote; }
          &::after { content: close-quote; }
        }

        a {
          @include hoverify {
            q { color: $blue-st-tropaz; }
          }
        }

        .sub-text { margin-bottom: 1rem; }
      }
    }
  }

}

.tile-strip-grid {
  @include grid-container;

  .tiles-wrap {
    //@include fill-parent;
    margin-top: 1rem;

    > ul {
      @include clearfix;
      display: block;
    }

    li.tile {
      @include size( 100%, auto );
      overflow:         hidden;
      background-color: $white;
      box-shadow:       $shadow-shallowest;

      .updated-tile-grid & {
        margin-right: 0;
        margin-left: 0;
      }

      &:hover {
        box-shadow:   none;
        border-color: $blue-st-tropaz;
      }

      i {
        top: 50%;
        bottom: initial;
        margin-top: -.5em - _em( $border-width-thick / 2 ); // minus border width
      }

      a {
        padding-right: $gap-double;

        h2,
        h4,
        i {
          display: inline;
        }

        h2 { padding-right: .5em; }

        h4 {
          padding: 0 $gap-half;
          border-left: $border-width-small solid $border-color-light;
          //white-space: nowrap;
        }

        @include hoverify() {
          padding-right: $gap-double - $grid-tile-hover-border-width;
        }
      }

    }
  }

  &.content-page {
    .tiles-wrap {
      > ul {
        margin-bottom: 0;
        padding-left: 0;

        li.tile {
          position: relative;
          padding-left: 0;

          a {
            &,
            h2,
            h3,
            h4,
            h5 {
              text-decoration: none;
            }
          }

          i {
            position: absolute;
            right: 1rem;
          }
        }
      }
    }

    &.tile-accordion {
      .tiles-wrap {
        padding-left: 0;

        .tile {
          position: relative;

          .toggle {
            @include size( 1.5em );
            position: absolute;
            top: ( 1.5em / 2 );
            right: 1.5rem;
            display: block;
            margin: 0;

            cursor: pointer;
            font-size: 1.5rem;
            color: $green-brand;

            -ms-grid-row-align: center;
            align-self: center;
            cursor: pointer;
            text-align: center;
            font-weight: 700;
            color: $green-brand;
            line-height: 1.4;
            font-size: 1.2em;
            border-radius: .7em;



            &:after {
              content: '+';
            }

            &.expanded {

              &:after {
                position: relative;
                display: inline-block;
                content: "";
                top: -.15em;
                height: 0;
                width: 0;
                border-bottom: 0.2em solid $green-brand;
                border-left: 0.25em solid transparent;
                border-right: 0.25em solid transparent;
              }


              &:hover:after {
                border-bottom-color: #fff;
              }

            }

            @include hoverify() {
              color: #FFF;
              background-color: $green-brand;
            }

          }

          h3 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.2rem;
          }

          p {
            padding: 0 1rem 1rem;
          }

          a {
            @include hoverify() {
              border-color: transparent;
            }
          }

        }
      }


    }
  }

  &.tile-accordion {
    li.tile {
      position: relative;

      a {
        padding-right: 2em;
        border-color: $white;
      }

      h4 { font-size: 1em; }

      i {
        position: absolute;
        top: 16px;
        right: .4em;
        transition: .3s ease-in-out;
      }

      //&.accordion-closed {}
      &.accordion-open {
        > a {
          &:hover { border-color: transparent; }
        }

        i {
          top: 20px;
          right: .6em;
          transform: rotate( 90deg );
        }
      }
    }

    .accordion-content {
      display: none; // Default: Content is OFF
      padding: 1em;
      padding-top: 0;

      &.closed { display: none; }
      &.open { display: block; }

      ul {
        margin-bottom: 0;

        li {
          a {
            display: inline;
            padding: 0;
            border: 0;

            // TODO: Refactor & flatten to lower the depth!
            &:hover { border: 0; }
          }
        }
      }
    }

  }
}

.fixed-height-tiles {
  .tiles-wrap li.tile {
    height: $tile-height;
  }
}

.fixed-height-tiles-small {
  .tiles-wrap li.tile { height: 9.375rem; }
}

.dynamic-height-tiles {
  //apply to use js from toolkit.js to set height based on height of biggest tile
  //to be used when needed in place of .fixed-height-tiles
}

.tiles-wrap {
  &.flex-tiles {
    ul {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint( $until: tablet ) {
        flex-direction: column;
      }
    }
  }
}


//modifier for study hub tiles
.tiles-study-hub,
.tiles-study-hub-about {
  h2,
  h3 {
    color: $base-study-hub-colour--study;
  }

  .tiles-wrap {
    li.tile {
      height: 17rem;

      a {
        // .sub-text { }
        h2 { color: $base-study-hub-colour--study; }
      }

      .tile-icon {
        position: absolute;
        right: .5em;
        bottom: .5em;
        font-size: inherit;
        color: $grey;

        i {
          position: relative;
          right: 0;
          bottom: 0;
          vertical-align: top;
          font-size: $h4-size;
        }
      }

    }
  }
}

// Tiles representing steps (1, 2, 3...)
.tiles-panel.tile-steps {
  background-color: $white;

  .tiles-wrap {
    > ul {
      display: flex;
      flex-wrap: wrap;
    }

    li.tile {
      width: 100%;
      height: auto;
      background-color: $base-study-hub-colour--study;

      a {
        padding: $gap-box;
        color: $white;
        border: 0;

        p,
        h3,
        i,
        .tile-number,
        .tile-icon {
          color: inherit;
        }

        > h3 { font-size: $h4-size; }

        .tile-number {
          margin-bottom: $gap-small;
          font-size: 500%;
          line-height: 1;
        }

        // FIXME: Can overlay with the tile's content unnecessarily. Don't use absolute positioning
        .tile-icon {
          position: relative;
          bottom: $bleed-vertical;
          float: right;
          margin-bottom: $gap-half;

          // TODO: Refactor & flatten to lower the depth!
          i {
            position: relative;
            right: 0;
            bottom: 0;
            vertical-align: top;
          }
        }
      }

      .title-first-step {
        display: flex;
        align-items: center;

        h3 {
          font-size: $h2-size;

          &:last-child { margin-bottom: 0; }
        }
      }

      @include breakpoint( tablet ) {
        min-height: 19rem;

        a .tile-icon {
          position: absolute;
          right: $gap-horizontal;
          bottom: 0;
        }

        a > h3 + p { margin-bottom: $gap-larger; }
      }

      @include breakpoint( desktop ) {
        @include column( 3, $grid-tile-spacing-large );
        margin-top: $grid-tile-spacing-large / 2;
        margin-bottom: $grid-tile-spacing-large / 2;

      }

      @include bp-tablet {
        @include column( 2, $grid-tile-spacing-large );
        margin-top: $grid-tile-spacing-large / 2;
        margin-bottom: $grid-tile-spacing / 2;
      }

    }
  }
}
