.promo-panel {
  &.strip-banner {
    figcaption {
      padding: 0;

      > div {
        display: flex;
        align-items: center;
      }

      .block {
        padding: 1.5em;
        text-align: left;

        h1 {
          margin-bottom: 0;
          font-size: 3em;

          // IE 10+ fix bg not covering text
          @media screen and ( -ms-high-contrast: active ), ( -ms-high-contrast: none ) {
            float: left;
          }
        }

        p { font-size: 1.45em; }

        > * {
          background-color: rgba( $green-brand, .9 );
        }
      }
    }

    figure {
      figcaption {
        // margin bottom depending on sub nav...
        padding: 0;
        max-width: 100%;
      }
    }

    .block {
      &:first-child {
        float: left;
        padding-bottom: 0;
        width: 100 / 3 * 2%;
      }

      &:last-child {
        float: right;
        width: 100 / 3 * 1%;
      }
    }

    .study-hub-light-green &,
    .study-hub-dark-green & {
      > .photo figcaption {
        p,
        h1 {
          margin-bottom: 0;
        }
      }
    }

    @include breakpoint( $mobile-large-and-smaller ) {
      border-top: 0;
      border-bottom: 0;

      figcaption {
        > div { flex-direction: column; }
      }

      .block {
        &:first-child {
          padding-bottom: 0;
          //width: 100 / 3 * 3%;

          h1 { display: block; }
        }

        &:last-child { width: 100 / 3 * 3%; }
      }
    }

    @include breakpoint( $tablet-and-smaller ) {
      height: 100%;

      figure figcaption {
        h1 { margin-top: 0; }

        .block:first-child {
          padding-bottom: .5em;
          width: 100 / 3 * 3%;
        }
      }
    }

    @include breakpoint( $desktop-and-bigger ) {
      figure {
        display: block;

        figcaption {
          margin-top: 10%;
          margin-bottom: 1em;
        }
      }
    }

    @include breakpoint( $desktop ) {
      figure {
        figcaption { margin-top: 4%; }
      }
    }

    @include breakpoint( $tablet ) {
      img { height: 100%; }
    }

  }
}
