/** Search panel full page with or mods. */

$search-panel-shadow: 0 4px 8px rgba( $black, .2 ) !default;


.search-panel {
  margin-top: 1em;
  margin-bottom: 1em;

  section { box-shadow: $search-panel-shadow; }

  form {
    &.wide-search-bar {
      padding: 2rem 10rem;
      box-shadow: $search-panel-shadow;
    }

    .group {
      display: flex;
      width: 100%;

      input[type=text] {
        flex: 1 1;
        padding: .2rem .6rem;
        height: 42px;
        // width: 70%;
        border: 2px solid $grey-silver;
      }

      input[type=submit] {
        flex: 25% 0 1;
        // width: 30%;
        border-radius: 0 2px 2px 0;
      }

    }
  }

  section {
    box-shadow: 0 1px 5px rgba( $black, .25 );
  }

  @include bp-desktop {
    form {
      &.wide-search-bar {
        padding: 2rem 4rem;
      }
    }
  }

  @include breakpoint( $until: desktop ) {
    form {
      &.wide-search-bar { padding: 2rem; }

      .group {
        input[type=text] { width: 70%; }
        input[type=submit] { width: 30%; }
      }
    }
  }

  @include breakpoint( $until: tablet ) {
    form {
      &.wide-search-bar { padding: 2rem 1rem; }

      .group {
        flex-wrap: wrap;

        input[type=text],
        input[type=submit] {
          flex: 100% 1 1;
          width: 100%;
        }
      }
    }
  }

}
