/** In-page block with promotion */

$banner-background: $grey-gallery;
$promo-max-width:   60em;


.promo-panel {
  @include clearfix;

  @include breakpoint( tablet ) {
    overflow: hidden;
    position: relative;
    background: $banner-background;
  } //media desktop

  @include breakpoint( $until: tablet ) {
    border-top:    3px solid $banner-background;
    border-bottom: 3px solid $banner-background;

    + .promo-panel { border-top: 0; }
  } //media desktop

  &.pattern {
    background: url( 'http://www.victoria.ac.nz/__data/assets/image/0005/216698/maori-bg-pattern.png' ); //TODO: Autolink from CDN!

    figure {
      background: transparent;
      box-shadow: none;
    }
  }

  &.no-pattern {
    background: $banner-background;

    figure {
      background: transparent;
      box-shadow: none;
    }
  }

  &.white-bg {
    background-color: $white;

    figure {
      border: $border;

      @include breakpoint( $until: tablet ) {
        border: 0;
      }
    }

    &.dual-content {
      .dual-content-block {
        border: $border;

        > * {
          border: 0;
        }
      }
    }
  }

  figure {
    overflow: hidden;
    position: relative;
    padding: 0;
    background: $white;


    @include breakpoint( $until: tablet ) {
      figcaption {
        padding-bottom: $gap-vertical;

        h1 { margin-top: $gap-vertical; }
      }
    }

    @include breakpoint( tablet ) {
      display: flex;
      align-items: center;
      box-shadow: $shadow-shallow;

      // 60% text + 40% image

      figcaption {
        z-index: $z-index-lower;
        float: left;
        padding: $gap-larger;
        width: 60%;

        p {
          margin-bottom: 1.3em;
          font-size: $h5-size;
        }
      }

      img {
        float: left;
        width: 40%;
      }

      &.two-thirds {
          //@include span-columns(8 of 12);
          //@include shift(2);
          figcaption {
              padding: $base-spacing;
              //@include span-columns(4 of 8);
              //@include shift(4);
              background: $white;
              position: relative;
          }
          img {
              position: absolute;
              width: auto;
              top: 0;
              left: 0;
              height: 100%;
          }
      }

      &.photo,
      &.pattern,
      &.no-pattern {
          figcaption {
              position: relative;
              max-width: $promo-max-width;
              width: 100%;
              margin: 0 auto;
              padding: $base-spacing * 1.5 0;
              z-index: 1;
              text-align: center;
              float: none;
          }
          img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              width: 100%;
          }
      }
    }

      &.photo {
          figcaption {
              h1,
              h2,
              h3,
              h4,
              h5,
              h6,
              p {
                display: inline-block;
                margin-bottom: .5em;
                padding: .5rem 1rem;
                color: $white;
                background-color: rgba( 99, 166, 89, .9 );
              }

          }
      }

    //Research hub new panel, promo panel with left align grey text panel
    &.photo {
      &.left-text-panel {
        figcaption {
          max-width: $centered-max-width;

          > div {
            position: relative;
            margin: $gap-triple $gap-horizontal $gap-double;
            padding: $gap-triple $gap-larger $gap-larger $gap-larger;
            max-width: 65%;
            background-color: $background-overlay-lightest;
            box-shadow: $shadow-shallow;
            text-align: left;

            h1,
            h2,
            h3 {
              position: absolute;
              top: $bleed-vertical;
              margin-left: $bleed-half;
              padding: $gap-half $gap-horizontal;
              background-color: $green-brand;

              // IE 10+ fix bg not covering text
              @media screen and ( -ms-high-contrast: active ), ( -ms-high-contrast: none ) {
                float: left;
              }
            }

            p {
              margin-bottom: $gap-content;
              padding: 0;
              background-color: transparent;
              color: inherit;
            }
          }

          @include breakpoint( $until: tablet ) {
            > div {
              max-width: 100%;

              h1,
              h2,
              h3 {
                  margin-bottom: 0;
              }

              .button {
                  &:not(:first-child) {
                      margin-top: .5rem;
                  }
              }
            }
          }

        }

        @include breakpoint( $until: desktop-large ) {

            figcaption {
                > div {
                    max-width: 85%;
                }
            }

            img {
                height: 100%;
            }

            figcaption {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

      }
    }
  }

  &.study-hub {
      background-color: $white;

      figure {
          padding: $base-spacing 0;
          color: $grey;
          box-shadow: none;

          p {
              color: $grey;
          }

          figcaption {
              padding: $base-spacing $base-spacing * 1.5;

              &:first-child {
                  //@include span-columns( 7 of 12,block-collapse);

                  h1 {
                      color: $green-light-brand;
                  }
              }
          }

          &>:last-child {
              border-left: 2px solid $grey-alto;
              padding: $base-spacing $base-spacing * 1.5;
              //@include span-columns( 5 of 12,block-collapse);

              >h3 {
                  color: $grey;
              }
              >ul {
                  padding-left: 0;

                  li {
                      padding-left: 0;
                      list-style: none;
                      span {
                          color: $green-light-brand ;
                          font-weight: $weight-bold;
                      }
                  }
              }
          }
      }
  }

  // half panels with green title and image above content
  &.two-panels {
      > div {
          display: flex;
      }

      figure {
          flex: 0 1 50%;
          display: block;

          img {
              width: 100%;

              &+figcaption {
                  margin-top: -25%;
                  background-color: #fff;
                  padding-top: 0;

                  h1, h2 {
                      margin-top: -1em;
                  }
              }
          }

          figcaption {
              width: 100%;

              h1, h2 {
                  color: $white;
                  background-color: $green-brand;
                  padding: 0.4em 0.5em;
                  display: inline-block;
                  margin-left: -0.5em;
              }
          }

          &:first-child {
              margin-right: 1em;
          }

      }

      @include breakpoint( $until: tablet ) {
          > div {
              flex-wrap: wrap;
          }
          figure {
              flex: 0 1 100%;

              img {
                  width: 100%;

                  &+figcaption {
                      margin-top: 0;
                      padding-left: 1em;
                  }
              }

              &:first-child {
                  margin-right: 0;
              }
          }
      }
  }

  &.dual-content {
      > div {

          // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); can now be removed
      }
      .dual-content-block {
          @include clearfix();
          // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);can now be removed
          background-color: $white;
          figure {
              &:first-child {
                  //@include span-columns( 7 of 12, block-collapse);
                  padding: $base-spacing * 1.5;
                  box-shadow: none;

                  @include breakpoint( $until: tablet ) {
                      //@include span-columns( 12 of 12,                           block-collapse);
                      padding: 0 0 $base-spacing 0;
                  }

                  figcaption {
                      padding: 0;
                      width: 100%;
                  }

              }

              &:last-child {
                   //@include span-columns( 5 of 12, block-collapse);

                   img {
                      width: 100%;
                   }


                  figcaption {
                      .play-button {
                          position: absolute;
                          right: 1rem;
                          bottom: 1rem;
                      }
                  }
                   @include breakpoint( $until: tablet ) {
                      //@include span-columns( 12 of 12,                           block-collapse);

                      figcaption {
                          margin-bottom: 0;
                      }
                  }
              }
          }

      }
  }

  &.two-one-third {
      > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;


          @include breakpoint( $until: tablet ) {
              flex-direction: column;

              >:first-child,
              >:last-child {
                  width: 100%;
              }
          }

          &.half-panel {

              >:first-child {
                  width: 100/3 * 2%;
                  margin-right: 0;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;

                  @include breakpoint( $until: desktop ) {
                      flex-direction: column;

                      figcaption:first-child {
                          width: 100%;
                      }
                  }

                  >:first-child {
                      width: 50%;
                  }



              }
              >:last-child {
                  width: 100 / 3 * 1%;
              }

              @include breakpoint( $until: tablet ) {

                  >:first-child,
                  >:last-child {
                      width: 100%;
                  }
              }
          }

      }

      figure {
          figcaption {
              padding: 1.4em;
          }

          &:first-child {
            margin-right: $gap-horizontal;
            width: 100 / 3 * 2%;

            img {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
          }

          &:last-child {
              width: 100/3 * 1%;

              figcaption {
                  width: 100%;
                  text-align: right;
              }
          }
      }
  }

  // image with offset title and text on right
  &.title-image {
      background-color: $white;
      > div {
          display: flex;
          align-items: center;
      }
      figure {
          box-shadow: none;
          padding: 1em;
          //@include span-columns( 5 of 12, block-collapse);
          flex: 1 0 auto;

          img {
              width: 100%;
          }
          figcaption {
              position: absolute;
              background-color: $green-brand;
              width: 100%;
              max-width: 85%;
              padding: 1em;
              left: 0;
              top: 2em;

              h1,
              h2,
              h3 {
                  color: $white;
                  margin-bottom: 0;
              }

          }

      }

      section {
          width: 100%;
          padding: 1em 1em 1em 2em;

          p {
              font-size: 1.2rem;
          }
      }

      @include breakpoint( $until: desktop ) {

          > div {
              align-items: stretch;
          }

          figure {
              display: flex;
              flex-direction: column;

              img {
                  // position: absolute;
                  // bottom: 5%;
                  flex-shrink: 0;
                  padding-left: 1em;
              }

              figcaption {
                  // bottom: 6%;
                  // top: unset;
                  position: relative;
                  top: 0;
                  order: -1;
                  margin-right: auto;
                  max-width: 94%;
              }
          }
      }

      @include breakpoint( $until: tablet ) {

          > div {
              flex-direction: column;

              figure {
                  width: 100%;

                  img {
                      padding-left: 0;
                  }

                  figcaption {
                      bottom: 0;
                      max-width: 100%;
                  }
              }
          }
      }


  }
}

.promo {
@include clearfix();
}

.text-promo-panel {
padding: 1.5em 0;
border-bottom: $border;

.text-wrap {
  // font-size: 1.125em;
  @include breakpoint( tablet ) {
      //@include span-columns(6 of 8);
  }
}

.button-wrap {
  margin-top: 2.5em;
  @include breakpoint( tablet ) {
    //@include span-columns(2 of 8);
  }
}

// TODO: Move into its standalone .promo-video class
&.video {

  // Figure
  .media .outside {
    position: relative; top: auto; left: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .outside {

    h4 {
      margin-bottom: 0;
      padding: .65em .5em;

      i { margin-left: .5em; }
    }
  }

}
}
