// Styles for PG campaign work

// Generic

.bg-kohuhu {
  background-color: $kohuhu;
}

.bg-miro {
  background-color: $miro;
}

// Intro
.landing-intro {
  margin: 0 auto 1rem;

  > div {
    background-image: url(/images/patterns/small-curves.svg);
    background-repeat: no-repeat;
    background-position: right 20px;
    background-size: contain;
  }

  .intro {
    padding-right: 100px;
  }

  .intro-text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;

    &::before {
      display: block;
      margin-bottom: 0.8rem;
      content: "";
      width: 0px;
      height: 0px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $pounamu;
      margin-left: 2px;
    }
  }
  p {
    font-size: 1.2rem;
  }

  @include breakpoint($until: 880px) {
    > div {
      background-position: right;
      background-size: 75px;
    }

    .intro {
      padding-right: 3rem;
    }
  }
}

// Search box
.search-block {
  .search-filter {
    margin: 1.5rem 0;
    form {
      display: flex;
      width: 80%;

      input {
        padding: 1rem 70px 1rem 1rem;
        flex: 1 1 auto;
        border: 1px solid $mahoe;
      }

      button {
        background-color: $mahoe;
        border-radius: 0;

        span {
          line-height: 1.2;
          font-size: 1.6rem;
          color: $manuka;

          &::before {
            margin: 0 0.5rem;
          }
        }

        &::after {
          content: unset;
        }
      }

      @include breakpoint($until: 800px) {
        width: 100%;
      }
    }
  }
}

// Links
.landing-links {
  margin: 1rem 0;
  a {
    color: $black-brand;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;
    display: block;

    &:after {
      display: inline-block;
      content: "";
      font-family: "VicIcons";
      vertical-align: -0.222em;
      color: $kowhai;
      font-size: 1.1rem;
      position: absolute;
      right: 0;
      transition: all ease-in 0.5s;
    }
    @include hoverify() {
      text-decoration: underline;

      &:after {
        right: -5px;
      }
    }
  }

  li {
    padding: 0.5rem 0;
    border-bottom: 1px solid $mahoe;
  }
}

.links-block {
  h3,
  h4,
  h5 {
    color: $pounamu;
  }
}

// buttons .btn

// simple

.quick-link {
  color: $pounamu;

  @include breakpoint($until: 800px) {
    margin-bottom: 1rem;
  }
}

.btn {
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  padding-right: 1.5rem;
  border-radius: 0;
  font-size: 1.1rem;
  transition: all ease-in 0.2s;

  &:after {
    display: inline-block;
    content: "";
    font-family: "VicIcons";
    vertical-align: -0.222em;
    // font-size: 1.1rem;
    position: absolute;
    right: 0;
    transition: all ease-in 0.5s;
  }

  &.primary {
    padding: 0.7rem 2rem 0.7rem 1rem;
    background-color: $pounamu;
    color: $manuka;

    &::after {
      right: 0.5rem;
    }

    @include hoverify() {
      background-color: $mahoe;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    }
  }

  &.yellow {
    color: $kowhai;
  }

  &.light {
    background-color: $kohuhu;
    color: $pounamu;

    @include hoverify() {
      background-color: $pounamu;
      color: $kohuhu;
    }
  }

  &.simple {
    font-size: 1.1rem;
  }

  @include hoverify() {
    text-decoration: underline;
  }
}

//news-promos

.news-promos {
  .news-item {
    padding: 1.5rem;
    background-color: $pounamu;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .news-title {
      color: $manuka;

      &::after {
        display: block;
        content: "";
        width: 30px;
        height: 5px;
        background-color: $kowhai;
        margin: 1rem 0;
      }
    }

    .btn {
      margin-top: auto;
    }

    .date,
    .location {
      margin-bottom: 0.5rem;
      color: $kowhai;
      font-weight: 500;
      font-size: 1.25rem;
    }

    .location {
      color: $manuka;
    }

    &.light {
      background-color: $mahoe;

      .news-title {
        color: $manuka;
      }
    }
    &:not(.light) {
      .btn {
        @include hoverify() {
          background-color: $mahoe;
        }
      }
    }
  }

  .button-block {
    align-self: center;
    justify-self: center;
  }
}

// Promo content
.promo-blocks {
  margin-top: 1.5rem;

  .promo-card {
    position: relative;
    background-color: $pounamu;

    img {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      width: 100%;
      display: block;
    }

    h3,
    h4,
    p {
      margin-bottom: 1rem;
      color: $kohuhu;
    }

    p {
      color: $manuka;
    }

    .promo-content {
      padding: 1rem 1.5rem 1.5rem;
    }

     .link-icon {
      position: absolute;
      padding: 0.2rem 0.5rem;
      right: 0;
      bottom: 0;
      background-color: $kohuhu;
      color: $pounamu;
      font-size: 1.3rem;

      &::before {
        margin: 0;
      }
    }

    a {
      @include hoverify() {
        img {
          filter: brightness(90%);
        }
        h3,
        h4 {
          text-decoration: underline;
        }

        .link-icon {

          &::before {
            transition: all ease-in .2s;
            transform: translateX( 3px );
          }
        }
      }
    }

    &.light {
      background-color: $kohuhu;

      h3,
      h4 {
        color: $pounamu;
      }

      p {
        color: $black-brand;
      }

      .link-icon {
        background-color: $pounamu;
        color: $kohuhu;
      }
    }
  }
}

.bt-green-light {
  border-top: solid 1px $miro;
}

// Section links

.section-links {
  margin-top: 1.5rem;

  .section-link {
    background-color: $kohuhu;

    img {
      flex: 1 1 100%;
      width: 100%;
      max-height: 170px;
      object-fit: cover;
    }

    a {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;

      @include hoverify() {

        h4 {
          text-decoration: underline;
          text-decoration-color: inherit;
        }

        svg {
          transition: all ease-in .2s;
          transform: translateX( 2px );
        }
      }
    }

    .text {
      padding: 1rem;
      width: calc(100% - 27px);

      h4 {
        margin-bottom: 0.5rem;
      }

      p {
        color: $black-brand;
      }
    }

    .caret {
      width: 27px;
      padding: 0 0.5rem;
      background-color: $mahoe;
      display: flex;
      align-items: center;
      svg {
      }
    }
  }
}
