.site,
.breadcrumbs {
  z-index:    $z-index-lower;
  overflow:   hidden;
  background: $green-bottle-green;

  @include media( $mobile-large-and-smaller ){
    & > ul > li:last-child > a {
      display: none;
    }
    .layout & { display: none; }
  }

  @include media( $tablet-and-bigger ){
    & > ul > li {
      display: none;

      &:last-child {
        display: block;
      }
    }
  }

    &--container { position:relative; }
    a { @include menu-item; }

    li {
        margin: 0;
        padding: 0;

        > li { padding-left: $default-spacing; }
    }
}
