// ========================================
// ======== Study-areas block on homepages
// ========================================
//---- Settings ---
$gutter: 8px;
// ----------------
// -------------------------
// ------------------------
// - The gerneic tile grid
// - Used for both Study-areas and Degrees & Qualifactions block
// ------------------------
.tile-grid {
    @include outer-container(100%);
    .tiles-wrap {
        @include fill-parent();
        margin-top: 1rem;
        li.tile {
            position: relative;
            max-height: 225px;
            margin-bottom: $gutter;
            overflow: hidden;

            &.is-matching {
                filter: saturate(200%);

            }
            &.is-not-matching {
                filter: saturate(0%);
            }
            @include media ($desktop-and-bigger) {
                @include span-columns(3);
                margin-right: $gutter;
                max-height: none;
                margin-bottom: 0;
            }
            @include media ($tablet) {
                @include span-columns(4);
                margin-right: $gutter;
            }
            // Not working yet but should be able to add a class to wrapper for more columns
            @at-root .more-cols#{&} {
                @include span-columns(2.4);
                margin-right: $gutter;
            }
            // All the text for the tile including the hidden text
            .tile-text {
                width: 100%;
                background-color: $green-victoria;
                height: auto;
                display: block;
                position: absolute;
                z-index: 10;
                top: 0;

                .tile-title {
                    display: flex;
                    align-items: center;
                    padding: 1em;
                    h2 {
                        float: left;
                        width: 95%;
                    }
                    i {
                        display: flex;
                        align-items: centre;
                        width: 5%;
                        color: $white;
                        font-size: 2.2em;
                        &::before {
                            margin: 0;
                        }
                    }
                }
            }
            h2,
            h4,
            p {
                color: #fff;
                padding: 0;
                margin: 0;
                line-height: 1.2;
            }
            p {
                line-height: 1.6;
            }
            a {
                display: block;
                // This will get rerfactored in a typohgraphy update
                // TODO: Remove later!
                &:hover {
                    opacity: 1;
                    border: 0;
                }
                h2 {
                    font-size: 1.5em;
                }
            }
            h4 {
                font-size: 1.2em;
                margin-bottom: 0.5em;
            }
            // The hidden subjects span which is displayed on hover
        }
    }
    &.hidden {
        display: none;
    }

    .tile-text {
      p { font-size: rem( 14px ); }
    }
}

// -------------------------
// -------------------------
// -------------------------
// ----------------------------
// Styles specific to the Study-areas block
// --------------------------
.study-areas {
    h1 {
        margin-bottom: 0.5em;
    }
    .pg-filter {
        padding: 1em;
        font-size: 1.2em;
        padding-left: 0.5em;
    }
    //This operate the PG only check box the markup needs to have the tiles as general siblings of teh check box
    // ie dont wrap the checkbox in a div container
    input[type=checkbox]:checked ~ .tiles-wrap .tile[data-pg="only"] {
        display: block;
    }
    input[type=checkbox]:checked ~ .tiles-wrap li.tile {
        display: none;
    }
    .tiles-wrap {
        li.tile {
            img {
                width: 100%;
                @include media ($tablet) {
                    vertical-align: middle;
                }
            }
            //This is a helper div to veritcally align the img when it overflows on small devices
            .img-helper {
                @include media ($tablet-and-smaller) {
                    height: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            span {
                display: block;
                padding: 0 1em 1em 1em;
                @include media ($tablet-and-bigger) {
                    display: none;
                }
            }
            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}

// -------------------------
// -------------------------
// Tabbed nav controls
// -------------------------

$tab-caret-size: 1.6rem;

.study-area-tabs {
  margin-bottom: $base-spacing * 1.5;

  ul {
    max-width: $base-max-content-height;
    margin: 0 auto;
    @include clearfix;

    li {
      @include span-columns( 6, block-collapse );

      a {
        @include padding(1em);
        @include display(block);
        background-color: $grey-alto;
        display: flex;
        align-items: center;
        text-align: center;

        @include media ( $mobile-large-and-smaller ) {
          height: rem( 60px );
        }

        &:hover {
          background-color: $grey-silver;
        }
        h4 {
          color: $black-mine-shaft;
          // helps center the text on mobile
          margin: 0 auto;
        }
      }

      &.active {
        position: relative;

        a {
          background-color: $green-victoria;

          &:hover {
            opacity: 1;
            cursor: default;
          }

          h4 { color: $white; }
        }
        &:after {
          @include objectify( block, $position: absolute );
          left: 50%;
          margin-left: -1 * $tab-caret-size/2;
          @include size( 0 );
          @include triangle( $tab-caret-size $tab-caret-size / 3, $green-victoria, down );
        }
      }
    }
  }
}
