/** Search panel full page with or mods. */

$search-panel-shadow: $shadow-shallow !default;


.search-panel {
  margin-top: 1em;
  margin-bottom: 1em;

  section { box-shadow: $search-panel-shadow; }

  form {
    &.wide-search-bar {
      padding: 2rem 10rem;
      box-shadow: $search-panel-shadow;
    }

    .group {
      display: flex;
      width: 100%;

      input[type=text] {
        flex: 1 1;
        padding: .2rem .6rem;
        height: 42px;
        // width: 70%;
        border: 2px solid $grey-silver;
      }

      input[type=submit] {
        flex: 25% 0 1;
        // width: 30%;
        border-radius: 0 2px 2px 0;
      }

    }
  }

  section {
    box-shadow: 0 1px 5px rgba( $black, .25 );
  }

  @include bp-desktop {
    form {
      &.wide-search-bar {
        padding: 2rem 4rem;
      }
    }
  }

  @include breakpoint( $until: desktop ) {
    form {
      &.wide-search-bar { padding: 2rem; }

      .group {
        input[type=text] { width: 70%; }
        input[type=submit] { width: 30%; }
      }
    }
  }

  @include breakpoint( $until: tablet ) {
    form {
      &.wide-search-bar { padding: 2rem 1rem; }

      .group {
        flex-wrap: wrap;

        input[type=text],
        input[type=submit] {
          flex: 100% 1 1;
          width: 100%;
        }
      }
    }
  }

}

/* Search widget International */

.search-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem -3% 2rem;
  background-color: #eee;
  padding: 1rem;

  .search-pg {
  }
  
  .search-ug {
    margin-right: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 62%;
            flex: 1 0 62%;
  }

  .search-pg,
  .search-ug {
    padding: 1rem;
    background-color: #fff;

    h1 + p {
        font-size: 1rem;
    }
  }

  .widget-search-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.5rem;

    .search-label {
      // display: block !important;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 34%;
              flex: 0 0 34%;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    .feature_search {
      background-color: #fff;
      margin: 0;
      height: auto;

      fieldset {
        padding: 0;

        .field_container {
          margin-bottom: 0;
        }
      }

      .feature_search_query {
        font-size: 14px;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        border-right-color: transparent;

      }
      input[type="submit"] {
        left: 0;
        text-transform: initial;
      }

      select {
        height: 36px;
      //   font-family: $font_body;
      }

    .widget-search-fields {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      }
    }
  }

  @include bp-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .search-ug {
      margin-right: 0;
      margin-bottom: 1rem;
      -webkit-box-flex: 1;-ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }

    .feature_search {
        display: block;
        position: relative;
        top: 0;

        input[type="submit"] {
          position: relative;
          right: auto;
          left: auto;
          top: auto;
        }

        .feature_search_query {
          height: 36px !important;
        }
    }

    .feature_search label {
      display: none;
    }
  }
}

