//gradient (expected transparent -> bgcolor) on an element hinting it overlays something
$overlay-hint-size: 50px;
$overlay-hint-offset: 5px; //can be a negative number as long as ($OH-size + $OH-offset) > 0

@include media( $mobile-large-and-smaller ){
  .hide-on-mobile { display: none !important; }
}

@include media( $tablet-and-bigger ){
  .hide-on-desktop { display: none !important; }
}


.menu-toggle {
  position:      relative;
  z-index:       1;
  background:    $black-victoria;
  border-bottom: 1px solid rgba( #FFF,.15 );

  @include clearfix;

  .logo-mini {
    @include clearfix();
    height: 1.6rem;
  }
}

//TODO: Should be calculated dynamically by JS
.site-header {
  // padding-top: 3rem;

  @include media( $mobile-large-and-smaller ){
    padding-top: 4.7rem;
  }
}

.global {
  @include media( $mobile-large-and-smaller ){
      position: fixed;
      top:0;
      left: 0;
      right: 0;
      z-index: 100;
  }
  font-weight: 300;

  @include media( $tablet-and-bigger ){
      background: $green-bottle-green;
  }

  .horisontal-links {
      @include clearfix();

      > a {
        float: left;
        width: 50%;
        margin: 0;
        padding: $base-spacing/2 $base-spacing;
        border-bottom: none;
      }
  }

  @include icon-selector() {
    &:before {
      margin-left: 0;
      margin-right: 0;


      @include media( $mobile-large-and-smaller ){
        margin-right: .5rem;
        line-height: 1;
      }
    }
  }

  [role=search]{

  @include clearfix();

  @include media( $mobile-large-and-smaller ){
    padding: $base-spacing/2 $base-spacing;
  }
        width: 100%;
        display: block;
        position: relative;


        .input-wrapper {
            display: block;
            position: relative;
            @include clearfix();



@include media( $tablet-and-bigger ){
    background: linear-gradient(
        to right,
        rgba($green-bottle-green, 0) 0,
        rgba($green-bottle-green, 1) $overlay-hint-size);
    padding-left: $overlay-hint-size + $overlay-hint-offset;
}

            input {
                background: rgba(0,0,0,0.15);
                border: none;
                color: #fff;
                float: left;
                padding: $base-spacing/4 $base-spacing/2;

                &[type=text] {
                    width: calc(100% - 4rem);
                }

                &[type=submit] {
                    width: 4rem;
                    border-left: 1px solid rgba(255, 255, 255, 0.15);
                }
            }
        }



  @include media( $tablet-and-bigger ){
    .input-wrapper {
        padding-right: 4rem;
        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateX(100%);
    }

    .input-wrapper.is-open {
        transform: translateX(0);
    }
}

    }
@include media( $mobile-large-and-smaller ){

    .button-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        a {

            padding: 0;
            margin: 2px 0;
            border: none;
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            display: block;
            padding: 0 .8rem;
            text-align: right;

        }
    }

    .menu {
        background: $green-bottle-green;
        max-height: 75vh;
        overflow-y: scroll;
    }

    .menu {
        will-change: transform;
        transition: transform $transition-timeout ease-in-out;
        transform: translateY(-100vh);
    }

    &.is-open .menu {
        transform: translateY(0);
    }

    a {
        display: block;
        @include menu-item();
    }

    .mobile { display: block; }
}

@include media( $tablet-and-bigger ){

  .mobile, .site, .menu-toggle { display: none; }

    nav {
        @include outer-container;

        @include clearfix();

        position: relative;

        .search {
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;

            a {
                position: absolute;
                right: 0;
                z-index: 1;
                width: 4rem;
                text-align: center;
            }
        }

        a {
            color: #fff;
            padding: $base-spacing/4 $base-spacing/2;
            display: block;
            float: left;
            opacity: .8;
            border-bottom: none;

            &.selected,
            &:hover,
            &:focus {
                background: #1d2624;
            }

        }

        a + a {
            border-left: 1px solid rgba(255,255,255,0.15);
        }

        label {
            float: right;
        }

    }

  }//media destkop
}
