// Study areas homepage
// - The generic tile grid
// - Used for both Study-areas and Degrees & Qualifactions block

$tile-height:            15.5rem;

$simple-grid-spacing:    $gap-half;

$four-grid-tile-margin:  1%;
$three-grid-tile-margin: 1%;
$two-grid-tile-margin:   1.3%;


.tile-grid {
  @include grid-container;

  .tiles-wrap {
    margin-top: 1rem;

    > ul {
      @include clearfix;
      display: block;
    }

    li.tile {
      overflow: hidden;
      position: relative;
      margin-bottom: $gap-half;
      height: $tile-height;

      .tiles-panel & { box-shadow: $shadow-shallowest; }

      // Background image
      .img-helper + img {
        @include background-image-cover;
      }

      &.is-matching { filter: saturate( 200% ); }
      &.is-not-matching { filter: saturate( 0% ); }

      // All the text for the tile including the hidden text
      .tile-text {
        @include size( 100%, auto );
        z-index: $z-index-middle;
        position: absolute;
        top: 0;
        display: block;
        background-color: $green-brand;
      }

      .tile-title {
        display: flex;
        align-items: center;
        padding: 1rem;

        h2 {
          float: left;
          width: 95%;
        }

        i {
          display: flex;
          align-items: center;
          margin-left: $gap-third;
          width: 5%;
          color: $white;
          font-size: 220%;

          &::before { margin: 0; }
        }
      }

      h2,
      h4,
      p {
        margin: 0;
        padding: 0;
        color: $white;
      }

      a {
        display: block;

        // This will get refactored in a typography update
        // TODO: Remove later!
        &:hover {
          opacity: 1;
          border: 0;
        }

        h2 { font-size: $h4-size; }
      }

      // The hidden subjects span which is displayed on hover
      h4 {
        margin-bottom: $gap-third;
        color: $grey-alto;
        font-size: $h5-size;

        &::before {
          vertical-align: 0;
          font-size: $text-size-tiny;
        }
      }

      //TODO: Behaves like other .tile = MERGE!
      @include bp-desktop-large {
        @include column( 4, $simple-grid-spacing );
      }

      @include bp-desktop {
        @include column( 3, $simple-grid-spacing );
      }

      @include bp-tablet {
        @include column( 2, $simple-grid-spacing );
      }

      @include breakpoint( $until: tablet ) {
        .tile-title {
          padding-bottom: 1rem;
        }

        .img-helper + img { max-height: none; }

        h4 {
          display: inline-block;
          margin-right: .5em;
          font-size: 1.1em;
        }

        p { display: inline-block; }
      }
    }
  }

  &.hidden { display: none; }

  .tile-text {
    p { font-size: .875rem; }
  }
}

// Styles specific to the Study-areas block
.study-areas,
.study-area-single {
  h1 { margin-bottom: .7em; }
}

.study-areas {
  .pg-filter {
    padding: 1em 1em 1em .5em;
    font-size: 1.2em;
  }

  //This operate the PG only check box the markup needs to have the tiles as general siblings of teh check box
  // ie dont wrap the checkbox in a div container
  input[type=checkbox]:checked {
    .tiles-wrap {
      .tile[data-pg=only] { display: block; }
      li.tile { display: none; }
    }
  }

  .tiles-wrap {
    li.tile {
      img {
        width: 100%;

        @include bp-tablet {
          vertical-align: middle;
        }
      }

      span {
        display: block;
        padding: 0 1em 1em;
        @include breakpoint( desktop ) {
          display: none;
        }
      }

      @include hoverify {
        @include breakpoint( desktop ) {
          .tile-text {
            height: 100%;

            > a { height: 100%; }
          }

          span {
            display: block;
          }
        }
      }

    }
  }

}

/** In-page navigational tabs */
$tab-caret-size: 1.6rem;

.study-area-tabs {
  margin-bottom: $gap-larger;

  ul {
    @include clearfix;
    margin: 0 auto;
    max-width: $base-max-content-height;

    li {
      @include column( 2 );

      a {
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: $grey-alto;
        text-align: center;

        &:hover { background-color: $grey-silver; }

        @include icon-selector() {
          font-weight: $weight-normal;
          line-height: 0;
        }

        // Icon size modificators
        // TODO: Make more generic
        .icon-book-open { font-size: $text-size-smaller; }

        h4 {
          font-size: $h5-size;
          margin: 0 auto; // helps center the text on mobile
          color: $black-mine-shaft;
        }

        @include breakpoint( $until: tablet ) {
          height:  3.75rem;
        }
      }

      &.active {
        position: relative;

        a {
          background-color: $green-brand;

          &:hover {
            opacity: 1;
            cursor: default;
          }

          h4 { color: $white; }
        }

        // Caret
        @include after ( $display: block, $position: absolute ) {
          @include size( 0 );
          @include triangle( down, $tab-caret-size, $tab-caret-size / 3, $green-brand );
          left: 50%;
          margin-left: -1 * $tab-caret-size / 2;
        }
      }

    }
  }
}

// Study areas undergrad postgrad switcher
.switch {
  @include size( 240px, 26px );
  position: relative;
  margin: 0 auto 20px;
  transform: scale( 1.4 ); //TODO: Do not scale, use font-size approach and relative units!
  background: $grey-alto;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba( $black, .3 ), 0 1px rgba( $white, .1 );

  .switch-label {
    z-index: $z-index-middle;
    position: relative;
    float: left;
    width: 116px;
    line-height: 26px;
    font-size: 11px;
    color: rgba( $black-mine-shaft, .9 );
    text-align: center;
    cursor: pointer;

    &:active { font-weight: $weight-bold; }
  }

  .switch-label-off { padding-left: 2px; }
  .switch-label-on { margin-left: 3px; }

  input[type=radio] {
    position: absolute;
    left: -9999px; // TODO: Bad pattern, replace!
    clip: rect( 0, 0, 0, 0 );
  }

  .switch-input:checked {
    + .switch-label {
      font-weight: $weight-bold;
      color: $white;
      transition: .15s ease-out;
    }

    + .switch-label-on ~ .switch-selection {
      left: 120px;
    }
  }

  .switch-selection {
    @include size( 118px, 22px );
    z-index: $z-index-lower;
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    background: #115737;
    border-radius: 3px;
    transition: left .15s ease-out;
  }
}
