/* Styles for parallax implementation */

.animate-scroll {
  overflow: hidden;
  background-image: url(images/new/v2/bg.png);

  > section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    min-height: 80vh;
    align-items: center;

    // padding-top: calc(100vh - 50%);
    // padding-bottom: calc(100vh - 50%);

    // margin-bottom: 100px;

    > div {
      padding: 1rem;

      img {
        width: 100%;
        object-fit: contain;
      }
    }


    @include breakpoint(tablet) {
      > .animate-scroll--image {
        width: 40%;
      }
      > .animate-scroll--text {
        width: 60%;
      }
    }

    @include breakpoint(desktop) {
      flex-direction: row;
    }
  }
}




