.teasers {
    @include outer-container;

    /*dl*/.item {
            @include outer-container;

            @include span-columns(3 of 12);

            position: relative;
            overflow: hidden;

            background: $green-bottle-green;
            color: #fff;
            padding: $default-spacing;

        img {
            position: absolute;
            top:0;
            left:0;
            margin-left: -50%;
        }

        a {
            color: #fff;
        }

        .description {

            background: $green-bottle-green;
            color: #fff;

            padding: $default-spacing;
            margin: -$default-spacing;

            h4 {
                margin-bottom: 0;
            }

            p, .button {
                display: none;
            }


        }

        .subjects {
                background: $green-bottle-green;
                color: #fff;

                padding: $default-spacing;
                margin: -$default-spacing;
        }


        dt {
            @extend h5;
            color: #fff;
            margin-bottom: 0;
        }

        dd {
            display: inline;

            &:after {
                content: ", ";
            }

            &:last-child:after {
                content: "";
            }
        }

        .highlight {
            display: block;
            padding-left: $default-spacing;
            margin-left: -($default-spacing + $highlight-border-width);

            border-left: $highlight-border-width solid $green-bottle-green;

            p {
                margin-bottom: 0;
            }
        }

        .date {
            @extend h4;
        }
        .time {
            @extend h5;
        }

        .meta {
            color: #8a8a8a;
            margin-bottom: 0;
        }
        h3 + a {
            // @extend p a;

            margin-top: -2.95rem; //1.1rem h3 margin-bottom; 1.6rem a line-height ~adjustment//2.4rem line-height
            float:right;
            @extend %base-link;
        }

    }

}
