/*==========================================
=         IN-PAGE GRID CONTAINERS          =
==========================================*/

/*******************************************************************************

  Generic grid layouts that can be used to position any custom items with
  ideally similar heights (eg. articles, images with descriptions etc.)

*******************************************************************************/

// Use omega 'resets' with great care - http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat
//
.grid {
  @include clearfix;
}

@include media( $tablet ){
  // Main content *ONLY* - 3 items in a row
  .content-panel:first-child > main:last-child {
    .grid > * {
      @include span-columns( 4 of 12 );
      @include omega( 3n );
    }
  }

  // Main content with Sidebar + Widgetbar - 2 items in a row
  .content-panel:first-child > main:not(:last-child) {
    .grid > * {
      @include span-columns( 6 of 12 );
      @include omega( 2n );
    }
  }
}

@include media( $tablet-and-bigger ){

  // Main content with Widgetbar/Sidebar - 3 items in a row
  .content-panel:not(:first-child) > main:last-child {
    .grid > * {
      @include span-columns( 4 of 12 );
      @include omega( 3n );
    }
  }

  // Main content with Sidebar + Widgetbar - 2 items in a row
  .content-panel:not(:first-child) > main:not(:last-child) {
    .grid > * {
      @include span-columns( 6 of 12 );
      @include omega( 2n );
    }
  }
}

@include media( $desktop-and-bigger ){

  // Main content *ONLY* - 4 items in a row
  .content-panel:first-child > main:last-child {
    .grid > * {
      @include span-columns( 3 of 12 );
      @include omega( 4n );
    }
  }

  // Main content with Widgetbar - 3 items in a row
  .content-panel:first-child > main:not(:last-child){
    .grid > * {
      @include span-columns( 4 of 12 );
      @include omega( 3n );
    }
  }

}