//_components.cards.scss

$card-padding: 2.5rem;
$card-shadow:  0 1px 5px rgba( #000, .15 );

.card-panel {
  display:         flex;
  justify-content: space-between;
  flex-wrap:       wrap;

  .card {
    flex: 0 1 auto;
    margin-bottom: 1.5em;
    padding: $card-padding;
    width: calc( 50% - .75em );
    background-color: $grey-gallery;
    box-shadow: $card-shadow;

    > h1,
    > h2,
    > h3,
    > h4 {
      &:first-child {
        position: relative;
        padding-bottom: 15px;

        @include after( $display: inline, $position: absolute ) {
          @include size( 50px, 5px );
          bottom: 0;
          left: 0;
          background-color: $green-victoria;
        }
      }
    }

    &:nth-last-child( 2 ),
    &:last-child {
      margin-bottom: 0;
    }
  }

  .contact-card {
    padding: $card-padding;
    width: 100%;
    background-color: $grey-gallery;
    box-shadow: $card-shadow;

    .contact-card-details {
      display: flex;
      align-items: center;
      margin-bottom: .5em;
      padding: 0 1em 1em;

      > * {
        padding-right: 2.5em;
        width: 50%;

        @include breakpoint( $tablet-and-smaller ) {
          padding-right: 0;
        }
      }

      .contact-title {
        h3 { color: $black-tundora; }
      }

      .contact-info {
        // TODO: Refactor & flatten the depth!
        ul {
          li {
            list-style: none;

            span,
            a {
              color: $black-tundora;
              font-size: 1.3em;
              font-style: normal;
            }
          }
        }
      }

      @include breakpoint( $mobile-large-and-smaller ) {
        margin-bottom: 0;
        flex-direction: column;

        > * {
          width: 100%;

          &:first-child { margin-bottom: 1em; }

          ul { padding-left: 0; }
        }
      }
    }

    // embed wrapper automatically applied to iframes
    .embed {
      margin: 0 -2.5em -2.5em;
      padding: 0;
      height: auto;

      iframe {
        position: static;
        display: block;
      }
    }
  }

  &.icon-cards {
    .card {
      text-align: center;

      i {
        padding-left: .5em;
        font-size: 5rem;
        color: $green-victoria;
      }

      p { text-align: left; }
    }
  }

  @include breakpoint( $mobile-large-and-smaller ) {
    flex-direction: column;

    .card {
      width: 100%;

      &:nth-last-child( 2 ) {
        margin-bottom: 1.5em;
      }
    }
  }

  @include breakpoint( $tablet-and-smaller ) {
    .card {
      .button {
        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }

}

// For content pages
.contact-card-highlight {
  box-shadow: $card-shadow;
	margin-top: 2em;
	padding: 1.5em;
  background-color: $grey-gallery;

	> h2,
	> h3,
	> h4 {
		position: relative;
		padding-bottom: .5em;

		&:after {
			content: '';
			position: absolute;
			width: 50px;
			height: 5px;
			bottom: 0;
			left: 0;
			background-color: #115737;
		}
	}

	.contact-info-block {
		> ul {
			padding: 0;
			margin: 0;

			> li {
				display: flex;
				justify-content: left;
				align-items: flex-start;

				padding: 0;
				margin: 0;
				list-style: none;

				&:not(:first-child) {
					margin-top: 1em;
				}

				img {
					margin-right: 1em;

					@include size( $portrait-width auto );

					@include breakpoint( $tablet-and-smaller ) {
						width: 20%;
					}
				}

				.details {

					h3,
					h4,
					h5 {
						margin-bottom: 0.4em;
					}

					h5 {
						color: #444;
					}

					address {
						font-style: normal;
					}
				}
			}
		}


	}

	&.card-green {
		background-color: #F4F4E9;
		box-shadow: none;

		.contact-info-block {

			.tag,
			address {
				font-size: .8rem;
			}

			.tag {
				// border: none;
			}

		}

	}

}

