

/** Embedded media (images, videos, galleries etc.) */

.media {

  // Floats a medium into right on devices with higher resolution
  &.inline {

    @include media( $tablet-and-bigger ){
      float: right;
      width: $media-inline-width;
      margin: 0 0 0 $base-spacing;

      figcaption {
        font-size: 90%;
        border-left-width: $highlight-border-width * .75;
      }
    }
  }

  img,
  iframe,
  .table-container,
  .embed {
    float: none;
    display: block;
    margin-bottom: .5em;
    @include size( 100% auto );

    &:last-child { margin-bottom: $base-spacing; }
  }

  figcaption {
    display: block;
    padding: .2em 0 .2em .8em;
    border-left: $strip-light;
    color: $black-emperor;
    margin-bottom: $base-spacing;
  }

  .formatting .grid &.featured img {
    margin-bottom: 0;
  }

  //TODO: Remove?
  &.featured {
    position: relative;

    img { margin-bottom: 0; }

    &:before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($black, 0.4);
      transition: background-color 200ms ease-in-out;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }

    &:hover:before {
      background-color: rgba($black, .2);
    }

    //TODO: extend .tile-text
    figcaption {
      z-index: 1;
      background-color: $green-victoria;
      // color: $white;
      border-left: none;

      @include media( $tablet-and-bigger ){
        position: absolute;
        top: $base-spacing;
        left: $base-spacing;
        width: 66%;
        max-width: 20rem;
      }

      h1, h2, h3, h4, h5, h6, p{
        color: $white;
        display: flex;
        align-items: center;
        padding: .5em;
      }

      p { margin-bottom: 1.3em; }

    }
  }
}


  // To wrap iframed media dynamically
  .embed {
      height: 0;
      padding: 0 0 56.25%; //16:9 ratio magic; use different wrapper for other ratio embeds?
      position: relative;
      margin-bottom: $base-spacing;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      @include clearfix;


      @include media( $tablet-and-bigger ){
        &.inline {
          padding-bottom: 22.5%;
        }
      }
  }


  /** Simple gallery (images + breadcrumbs) */

  $gallery-image-height: rem( 220px );


  @include media( $tablet-and-bigger ){

    .gallery {
      margin-bottom: $base-spacing;
      @include clearfix;

      img {
        @include size( auto $gallery-image-height );
      }

      figcaption {
        margin-bottom: 0;
        font-size: 85%;
        border-left-width: 3px;
      }

      .media {
        vertical-align: top;
        display: inline-block;
        width: min-content; // Not supported in IE and older browsers!
        margin-right: 1.2rem;
        margin-bottom: 1.2rem;
      }
    }

  }

  /* Gallery Using Photoswipe -- flexbox */

/*   .gallery-container {
    img {
      max-width: 100%;
      display: block;
    }

    &.thumbnails {
      a {
        @include display(flex);

        
          .gallery-hero {
            position: relative;
            @include flex(1 0 55%);
            margin-right: 0.5%;
            // @include span-columns( 7 of 12,
            // block-collapse);
    
            .gallery-title {
              position: absolute;
              top: 1em;
              background-color: rgba($green-victoria, 0.9);
              max-width: 95%;
    
              h2,h3,h4 {
                color: $white;
                margin-bottom: 0.5em;
              }
            }
          }
          .gallery-shown {
            // @include span-columns( 5 of 12,
            // block-collapse);
            @include display(flex);
            @include flex-wrap(wrap);
    
            img {
              // width: 50%; 
              // float: left;
              width: 50%;
              height: 50%;
              -o-object-fit: cover;
              object-fit: cover;

              &:nth-child(n+5) {
                display: none;
              }

              &:nth-child(odd) {
                padding-right: 1%;
              }
              &:nth-child(-n+2) {
                padding-bottom: 1%;
              }
            }
          }
        }
      }
    } */

    // Using only image list with floats

    .gallery-container {
      margin: 1em 0;

      @include hoverify() {
        h2,h3,h4 {
          text-decoration: underline !important;
        }
      }

      img {
        max-width: 100%;
      }
      .gallery {
        position: relative;

        .gallery-title {
          position: absolute;
          top: 1.5em;
          background-color: rgba($green-victoria, 0.9);
          max-width: 55%;
          padding-right: 3em;
          z-index: $z-index-top;

          h2,h3,h4 {
            color: $white;
            margin-bottom: 0.5em;
            text-decoration: none;


          }

          @include media( $tablet-and-smaller ) {
            max-width: 85%;
          }
        }
        &.thumbnails {

          & .gallery-images {
            @include clearfix();
            // height: auto;
            img {
              // ************ Try widths with neat.. 
              width: 24%; 
              // @include span-columns( 3 of 12, block-collapse );
              height: auto;
              float: left;

              &:first-child {
                width: 50%;
                margin-right: 1%;

                // @include span-columns( 6 of 12, block-collapse );
                height: auto;
              }

              &:nth-child(n+6) {
                display: none;
              }

              &:nth-child(2),
              &:nth-child(3) {
                margin-bottom: 1%;
              }
              &:nth-child(2),
              &:nth-child(4) {
                margin-right: 1%;
              }
            }
            @include media($tablet-and-smaller) {

              img {
                // &:first-child {
                //   width: 100%;
                //   margin-bottom: 1%;
                // }
              }

            }

            @include media( $mobile-large-and-smaller ) {
              // background-color: red;

              img {
                
                margin-right: 0;
                margin-bottom: 0;

                &:first-child {
                  width: 100%;
                  margin-bottom: 1%;
                }

                &:nth-child(n+2):nth-child(-n+4) {
                  margin-right: 1.33%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                  margin-bottom: 0;
                }
              }
            }
            
          }

        }

        &.single-feature {
          .gallery-title {
            max-width: 45%;
            
            @include media( $tablet-and-smaller ) {
              max-width: 85%;
            }
          }
          .gallery-images {
            img {
              height: auto;

              &:not(:first-child) {
                display: none;
              }
            }
          }
        }
      }
    }

    // Image gallery mobile and tablet nav icons fix
    @media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    .pswp--svg .pswp__button, .pswp--svg .pswp__button--arrow--left:before, .pswp--svg .pswp__button--arrow--right:before {
        background-image: url(http://www.victoria.ac.nz/__data/assets/image/0014/302351/default-skin.png) !important;
    }

      .pswp__button.pswp__button--fs {
        display: none !important;
      }
    
    }
  