/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;

  &--pinned { transform: translateY( 0% ); }
  &--unpinned { transform: translateY( -100% ); }
}

// Transformation icons
.tcon {
  .global & {
    height: 1rem;               // reset
    line-height: 1;             // reset
    transform: scale( 1.15 );   // +15%
  }
}
