

$study-hub-primary: $green-victoria;

@mixin studyHubColor($color) { 


	.intro-text {
		h1 {
			color: $color;
		}

		p {
			color: $black-tundora;
		}
	}

	.promo-panel,
	.tiles-panel {
		h1, 
		h2,
		h3 {
			color: $color;
		}
	}

	.block > h1,
	.block > h2,
	.block > h3 {
		color: $color;
	}

	.grid {
		h1, 
		h2,
		h3 {
			color: $color;
		}
	}

	.tiles-wrap {
		li.tile {
		  border-left: 4px solid $color;
			&:hover {
			  	border-left-color: $blue-st-tropaz;
			}
			a {
		    
		    h2 {
		      color: $color;
		    }

			&:hover {
				border-left-color: none;
			}
		  }
		}
	}

	.media-quote {
		.tiles-wrap {
			li.tile { 
				q {
					color: $color;
				}
			}
		}
	}

	h1, 
	h2,
	h3 {
		color: $color;
	}

	.homepage-intro.study-hub {
		.intro-text {
			h1,
			h2,
			h3 {
				color: $color;
			}
		}

		&+.intro-promo {
			.text-wrap {
				span {
					color: $color;
				}
			}
		}
	}

	.tiles-panel.tile-steps {
		.tiles-wrap {
			.tile {
				background-color: $color;

				a {
					border-color: $color;

					&:hover {
						border-color: $color;						
					}
				}
			}
		}
	}

	.study-hub-banner {

		.sidebar {
			nav {
				background-color: $color;

				li {
					a {
						border-bottom-color: darken($color, 10%);
						font-size: rem(19px);
					}
				}
			}
		}

		.banner {
			figcaption {
				background-color: rgba($color, 0.7);
			}
		}
	}

	.promo-panel {
		> .photo {
			figcaption {
				h1,
				h2,
				h3,
				p {
					background-color: rgba($color, 0.9);
				}
			}
		}
	}


}

.study-hub-dark-green {
	@include studyHubColor($green-victoria);
}


.study-hub-light-green {
	@include studyHubColor($green-light-victoria);
}
