/** Colour themes. */

@mixin study-hub-theme( $color ) {
  .intro-text {
    h1 { color: $color; }
    p { color: $black-tundora; }
  }

  .promo-panel,
  .tiles-panel {
    h1,
    h2,
    h3 {
      color: $color;
    }
  }

  .block {
    > h1,
    > h2,
    > h3 {
      color: $color;
    }
  }

  .grid {
    h1,
    h2,
    h3 {
      color: $color;
    }
  }

  .tiles-wrap {
    li.tile {
      border-left: 4px solid $color;

      &:hover { border-left-color: $blue-st-tropaz; }

      a {
        h2 { color: $color; }

        &:hover { border-left-color: transparent; }
      }
    }
  }

  .media-quote {
    .tiles-wrap {
      li.tile {
        q { color: $color; }

        figure {
          .play-button {
            background-color: rgba( $color, .8 );

            &::after { border-color: transparent transparent transparent $white; }
          }
        }
      }
    }
  }

  h1,
  h2,
  h3 {
    color: $color;
  }

  .homepage-intro.study-hub {
    .intro-text {
      h1,
      h2,
      h3 {
        color: $color;
      }
    }

    + .intro-promo .text-wrap span {
      color: $color;
    }
  }

  .tiles-panel.tile-steps {
    .tiles-wrap {
      .tile {
        background-color: $color;

        a {
          border-color: $color;

          &:hover { border-color: $color; }
        }
      }
    }
  }

  .study-hub-banner {
    .sidebar {
      nav {
        background-color: $color;

        li {
          a {
            border-bottom-color: darken( $color, .1 );
            font-size: 1.1875rem;
          }
        }
      }
    }

    .banner {
      figcaption { background-color: rgba( $color, .7 ); }
    }
  }

  .promo-panel {
    > .photo {
      figcaption {
        h1,
        h2,
        h3,
        p {
          background-color: rgba( $color, .9 );
        }
      }
    }
  }

  .promo.themed {
    background-color: rgba( $color, .9 );

    a {
      h1,
      h2,
      h3,
      p {
        color: $white;
      }
    }

    .play-button::after {
      border-color: transparent transparent transparent rgba( $color, .9 );
    }
  }
}

.study-hub-dark-green {
  @include study-hub-theme( $green-brand );
}

.study-hub-light-green {
  @include study-hub-theme( $green-light-brand );
}
