/*============================================================================*\
| TABLE-RELATED ELEMENTS
\*============================================================================*/

////
/// High-level definitions of table HTML elements.
///
/// @group tables





table {
  width: 100%;

  th,
  td {
    padding:    $table-cell-padding;
    text-align: left;
  }

  th {
    background-color: $table-heading-background;
    font-weight:      $weight-bold;

    strong,
    b {
      font-weight: inherit;
    }
  }

  td { border-bottom: $table-border; }

  img {
    display: inline-block;
    width: auto;
  }
}




