/*============================================================================*\
| TYPOGRAPHY OF ELEMENTS
\*============================================================================*/

////
/// A typography applied to HTML elements.
///
/// @group typography





/*= STYLE DEFINITIONS ========================================================*/



h1 { font-weight: $superheading-weight; }

dl {
  dt { font-weight: $weight-bold; }
}

time { color: $grey; }

a[href] {
  color: $link-color;
  text-decoration: none;
}


//TODO: Move out of typo
a > img {
  @include hoverify() {
    opacity: $base-image-hover-opacity;
  }
}

// Extendable standard link
//TODO: Move out of typo
@mixin base-link {
  color: $link-color;
  text-decoration: underline;

  @include hoverify() {
    color: $link-hover-color;
    text-decoration: none;
  }
}


//TODO: Move out of typo
figure {
  @include hoverify() {
    img { filter: none; } //TODO: Can be safely dropped?
  }

  img {
    display: block;
    width: 100%;
  }

  p { color: $text-color; }
}




