/*==========================================
=        GENERAL TYPOGRAPHY SETUP          =
==========================================*/


  /* ===== MIXINS =========================================================== */


  $scale-font-base: $base-font-size !default;

  @function scale-font( $font-size: 1 ) {
    @return modular-scale( $font-size );
  }


  $heading-to-body-ratio: $base-heading-to-body-ratio !default;

  @function scale-heading( $heading-size ) {
    @return modular-scale( $heading-size ) / $heading-to-body-ratio;
  }





  /* ===== DEFINE & IMPORT FONTS ============================================ */


  /* Victoria's font `National` */
  @include font-face( $font-victoria, "#{$font-path-victoria}-Regular", $weight-normal, $file-formats: $font-supported-formats );
  @include font-face( $font-victoria, "#{$font-path-victoria}-Semibold", $weight-semibold, $file-formats: $font-supported-formats );
  @include font-face( $font-victoria, "#{$font-path-victoria}-Extrabold", $weight-extrabold, $file-formats: $font-supported-formats );


  /* Victoria's icon font */
  @include font-face( $font-icons, $font-path-icons, $weight-normal, $file-formats: $font-supported-formats );





  /* ===== BASE TYPOGRAPHY ================================================== */


  html {
    // TODO: Tweak % at the end to find best UX fit
    @include media( $mobile-large-and-smaller ) {
      font-size: 85%;
    }

    @include media( $tablet ) {
      font-size: 92.5%;
    }

    font-size: 100%;

    @include media( $desktop-large ) {
      //font-size: 105%;
      font-size: 100%; // Temporary to avoid incosistencies between graphic designs and
    }
  }

  body {
    font-family: $base-body-family;
    line-height: $base-line-height;
    color:       $base-font-color;

    // Make fonts consistent and nice across browsers
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $base-heading-family;
    font-weight: $weight-semibold;
    color:       $base-heading-color;
    line-height: 1;
  }

  h1 {
    margin: 0;
    font-size: scale-heading( 4 );
  }

  h2 {
    font-size: scale-heading( 3 );
  }

  h3 {
    font-size: scale-heading( 2 );
  }

  h4 {
    font-size: scale-heading( 1 );
  }

  h5 {
    font-size: scale-heading( 0 ) + ( scale-heading( 1 ) - scale-heading( 0 ) )/2;
  }

  //DEPRECATED: Do not create
  h6 {
    font-size: scale-heading( 0 );
  }

  p {
    line-height: $base-line-height;
  }


  /** Lists */


  // TODO: Refactor! Does *not* match the graphic design!
  ul { list-style: none; }
  ol { list-style: decimal; }


  /** Links */

  %vuw-link {
    display:        inline;
    border-bottom:  1px solid transparentize( $base-link-color, .7 );

    &:hover {
      opacity: .8;
      border-bottom-color: $base-link-color;
    }
  }

  a[href] {
    color: $base-link-color;
    text-decoration: none;
  }


  /** Tables */

  $table-border-color:    $grey-alto;
  $table-head-background: $green-nebula;

  table {
    width: 100%;

    th,
    td {
      padding: $base-spacing / 2;
      text-align: left;
    }

    th {
      font-weight: $weight-bold;
      background-color: $table-head-background;

      strong,
      b {
        font-weight: inherit;
      }
    }
    td { border-bottom: 1px solid $table-border-color; }
  }

  .table-container { //TODO: ? Should be used for any other h-scrollable content? If yes, make more generic
    width:         100%;
    overflow-x:    auto;
    display:       block;
    box-shadow:    $base-shadow;
    margin-bottom: $base-spacing;

    @include media( $mobile-large-and-smaller ){
      overflow-x: scroll;
    }
  }


  /** Miscs */

  time { color: $grey; } // TODO: Too generic, remove
