figure {

    img {
        width: 100%;
        display: block;
    }

    p {
        color: $color-body-text;
    }

    table img { width: auto; display: inline-block;}

    &:hover {
        img{
            filter: none;
        }

        h3 {
            border-bottom-color: #5a96b7;
        }
    }

}

article {
    .grid & {
        border-top: 4px solid #115737;
    }

    &.featured {

        font-size: 100%;

        & > div { font-size: 100%; }
    }
}
