

/** Standard buttons */

$color-button-default:       $grey-alto;
$color-button-default-hover: $grey-silver;

$color-button-primary:       $blue-azure;
$color-button-primary-hover: $blue-st-tropaz;

$color-button-danger:        $red-alizarin-crimson;
$color-button-danger-hover:  $red-persian-red;

$color-button-disabled:      $grey-alto; // Has got no hover


button,
.button {
    display:     inline-block;
    padding:     .3em .8em;
    font-family: $base-heading-family;
    font-weight: $weight-semibold;

    &.large {
        font-size: 1.25em;
    }

    &:not(.flat) {
      color:      $color-body-text;
      background: $color-button-default;

      @include hoverify() {
        background: $color-button-default-hover;
      }
    }

    // Call-to-action button
    &.primary {
        background-color: $color-button-primary;
        border-color:     $color-button-primary;
        color:            $white;

        @include hoverify() {
          background: $color-button-primary-hover;
        }
    }

    // Critical/Destructive operations button
    &.danger {
      background-color: $color-button-danger;
      background-color: $color-button-danger;
      color: $white;

      @include hoverify() {
        background: $color-button-danger-hover;
      }
    }

    &[disabled],
    &.disabled {
      border-color: $color-button-disabled;
      background:   $color-button-default;
      color:        $grey-silver-chalice;
    }
}


/** Important (button-like) links */

a.link-more {
  float: right;
  @extend %base-link;

  //TODO: Replace with real icon
  &:after {
    @include objectify( $content: '\003E' ); // '>' caret
    margin-left: .25em;
  }
}
