/*============================================================================*\
| TYPOGRAPHY OF ELEMENTS
\*============================================================================*/

////
/// A typography applied to HTML elements.
///
/// @group typography





h1 { font-weight: $superheading-weight; }

dl {
  dt { font-weight: $weight-bold; }
}

time { color: $grey; }

a[href] {
  color:           $link-color;
  text-decoration: none;
}




