/*=========================================
=              FORM INPUTS                =
=========================================*/


/** Prevent zoom on input (see: stackoverflow.com/a/16255670/1081234) */
/* stylelint-disable */
@media screen and ( -webkit-min-device-pixel-ratio: 0 ) /* stylelint-enable */ {
  select,
  textarea,
  input {
    font-size: 100%;
  }
}

