

/* ===== GENERAL LISTINGS =================================================== */

$article-item-max-width: $base-max-content-height;


/** Generic holder for list of all article-like overviews. */
.articles-container {

  // .formatting resets
  > ul,
  > ul > li {
    padding-left: 0;
    list-style-type: none;
  }

  article { margin-bottom: 0; }
  // End of resets

  @include breakpoint( $tablet-and-bigger ) {
    margin: 0 auto;
    max-width: $article-item-max-width;
  }

  > header { margin: $base-spacing 0; }

  > ul {
    @include clearfix;

    > li {
      @include clearfix();
      margin-bottom: $base-spacing;
      padding-bottom: $base-spacing;
      border-bottom: 1px solid $grey-alto;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .summary {
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: .25em;
    }

    time,
    p {
      margin-bottom: .7em;
    }

    p:last-child { margin-bottom: 0; }
  }

  .media {
    img,
    iframe {
      margin-bottom: 0;
    }
  }
}

// Display .articles-container side by side on desktop and bigger - for use with news and events
.articles-two-up {

  // grey bg panels
  &.panel {
    padding: $gap;
    background-color: $grey-gallery;

    .articles-container {
      background-color: $white;
      box-shadow: 0 1px 5px rgba( 0, 0, 0, .15 );
    }
  }

  // panels split by dividing line
  &.divider-line {
    position: relative;

    @include breakpoint( $desktop-and-bigger ) {
      @include before( $position: absolute ) {
        @include size( 0, 100% );
        top: 0;
        left: calc( 50% - 5px );
        border-left: 5px solid $grey-gallery;
      }
    }
  }

  // > .centraliser {}

  .articles-container {
    @include breakpoint( $desktop-and-bigger ) {
      //@include span-columns( 6 of 12 );
      //@include omega( 2n );
    }
  }

}
