/*=========================================
=                BUTTONS                  =
=========================================*/


/* ===== GENERIC BUTTONS ================================================== */


$button-corner-radius:       $radius-small;

/** Button variations */

$color-button-default:       $grey-alto;
$color-button-default-hover: $grey-silver;

$color-button-primary:       $blue-azure;
$color-button-primary-hover: $blue-st-tropaz;

$color-button-danger:        $red-roof-terratcotta;
$color-button-danger-hover:  $red-tamarillo;

$color-button-disabled:      $grey-alto; // Has got no hover


button,
.button {
  display:     inline-block;
  padding:     .3em .8em;
  font-family: $heading-family;
  font-weight: $weight-semibold;

  .formatting & { text-decoration: none; } // Reset

  &.large { font-size: 1.125em; }

  &:not(.flat) {
    border-radius: $button-corner-radius;
    color:         $text-color;
    background:    $color-button-default;

    @include hoverify() {
      color: inherit;
      background: $color-button-default-hover;
    }
  }

  &:not(.flat),
  &:not(.no-icon) {
    //Include the arrow from the _object.icons file
    @include icon-arrow-right;
  }

  // Call-to-action button
  &.primary {
    background-color: $color-button-primary;
    border-color:     $color-button-primary;
    color:            $white;

    @include hoverify() {
      color: $white;
      background: $color-button-primary-hover;
    }
  }

  &.flat-border {
    border-color:     $color-button-primary;
    background-color: transparent;
    border:           2px solid;
    color:            $color-button-primary;

    @include hoverify() {
      color: $white;
      background: $color-button-primary;
      border-color: $color-button-primary;
    }
  }

  &.extra-large { font-size: 1.5em; }

  // Critical/Destructive operations button
  &.danger {
    background-color: $color-button-danger;
    color: $white;

    @include hoverify() {
      color: $white;
      background: $color-button-danger-hover;
    }
  }

  &[disabled],
  &.disabled {
    border-color: $color-button-disabled;
    background:   $color-button-default;
    color:        $grey-silver-chalice;
  }
}


/** Important (button-like) links */

a.link-more {
  @include linkify-text;
  float: right;
}

/**
  * Play Button
  */

.play-button {
  @include size( 65px, 40px );
  position: relative;
  margin-top: 1em;
  background-color: #FFF;
  border-radius: 12px;

  @include after( $display: block, $position: absolute ) {
    top: 10.5px;
    left: 26px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent $green-brand;
  }
}


/* float button right - must be wrapped in div */

div.button-right {
  @include clearfix();

  .button { float: right; }
}




/* ===== MENU & NAVIGATION BUTTONS ======================================== */


$button-size: 2.5em;
$transition:  .3s; // increase this to see the transformations in slow-motion

.lines-button {
  display: inline-block;
  padding: $button-size / 2 $button-size / 4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border: 0;
  background-color: transparent;

  &:hover {
    opacity: 1;

    .lines {
      background-color: $grey-silver;

      &::before {
        top: $button-size / 3.5;
        background-color: $grey-silver;
      }

      &::after {
        top: -$button-size / 3.5;
        background-color: $grey-silver;
      }
    }

    @include breakpoint( $desktop-and-bigger ) {
      display: none;
    }
  }

  &:active { transition: none; }
  &:focus { outline: 0; }

  .x.close .lines {
    /*hide the middle line*/
    background: transparent;

    /*overlay the lines by setting both their top values to 0*/
    &::before,
    &::after {
      top: 0;
      width: $button-size;
      transform-origin: 50% 50%;
    }

    // rotate the lines to form the x shape
    &::before { transform: rotate3d( 0, 0, 1, 45deg ); }
    &::after { transform: rotate3d( 0, 0, 1, -45deg ); }
  }
}

@mixin line {
  @include size( $button-size, $button-size / 7 );
  display: inline-block;
  background: $white;
  border-radius: $button-size / 14;
  transition: $transition;
}

.lines {
  //create middle line
  @include line;
  position: relative;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &::before,
  &::after {
    @include line;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: $button-size / 14 center;
  }


  /* .button-list   For list of in page button links - to navigate content pages */

  .button-list {
    .button {
        margin-bottom: 0.3em;
        margin-right: 0.3em;
    }

    span {
        &.button {
            background-color: inherit;

            @include hoverify() {
                background-color: inherit;
                cursor: not-allowed;
            }
        }
    }
  }



  &::before { top: $button-size / 4; }
  &::after { top: -$button-size / 4; }
}
