

  /* ===== PAGINATION =================================================== */


  .pagination {
    @include clearfix;

    display:    flex;
    text-align: right;

    // Placed on the very BEGINNING of the section
    &:last-child {
      border-top: 1px solid $grey-alto;
      padding-top: $base-spacing;
    }

    // Placed on the very END of the section
    &:last-child {
      border-top: 1px solid $grey-alto;
      padding-top: $base-spacing;
    }

    .button {
      margin-bottom: .4rem;

      // Currently visited page
      &.active {
        background-color: $green-bottle;
      }

      //TODO: Replace with real icons
      > .icon { display: none; }
    }

    // 'Previous page' button/link
    .previous {
      margin-right: .3rem;

      &:before {
        @include objectify( $content: '\003C' );  // '<'
        margin-right: .5em;
      }
    }

    // 'Next page' button/link
    .next {
      order: 3;
      margin-left: .3rem;

      &:after {
        @include objectify( $content: '\003E' ); // '>'
        margin-left: .5em;
      }
    }

    .previous,
    .next {
      display: inline-block;
      white-space: nowrap;
      align-self: flex-start;
    }

    .pages {
      order: 2;
      flex-grow: 1;
      padding: 0 .75em;
      text-align: center;

      // '...'
      > .icon { margin: 0 .5rem; }

    }

    @include media( $mobile ){
      display: block;
      text-align: center;

      .previous,
      .next {
        float: none;
      }

      .pages {
        padding: initial;
        text-align: inherit;
      }
    }
  }
