

  /* ===== GENERAL LISTINGS =================================================== */

  $article-item-max-width: $base-max-content-height;


  /** Generic holder for list of all article-like overviews. */
  .articles-container {

    // .formatting resets
    > ul,
    > ul > li {
      padding-left: 0;
      list-style-type: none;
    }

    article { margin-bottom: 0; }
    // End of resets

    @include media( $tablet-and-bigger ){
      margin: 0 auto;
      max-width: $article-item-max-width;
    }

    > header { margin: $base-spacing 0; }

    > ul {
      @include clearfix;

      > li {
        @include clearfix();
        padding-bottom: $base-spacing;
        margin-bottom: $base-spacing;
        border-bottom: 1px solid $grey-alto;
        list-style: none;

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }

    .summary {
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-bottom: .25em;
      }

      time,
      p {
        margin-bottom: .7em;
      }

      p:last-child { margin-bottom: 0; }
    }

    .media {
      img,
      iframe {
        margin-bottom: 0;
      }
    }
  }

  //grey panel version
    .articles-two-up {
      background-color: $grey-gallery;
      padding: $block-padding;
  
      > .centraliser {
        
      }
      
      .articles-container {
        background-color: $white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  
        @include media( $desktop-and-bigger ){
  
  
          @include span-columns( 6 of 12 );
          @include omega( 2n );
        }
      }
    }


    //white bg center divider line
/*     .articles-two-up {
      position: relative;

      @include media( $desktop-and-bigger ) {
        &:before {
          @include objectify();
          @include size( 0 100% );
          position: absolute;
          left: calc(50% - 5px);
          top: 0;
          border-left: 5px solid $grey-gallery;
        }
      }
  
      > .centraliser {

      }
      
      .articles-container {
  
        @include media( $desktop-and-bigger ) {
  
  
          @include span-columns( 6 of 12 );
          @include omega( 2n ); 
        }

      }
    }
 */