/*=========================================
=           IMAGERY, GALLERIES            =
=========================================*/


  // Default container - persist images sizing and positioning.
  // Use *ONLY* as a fall-back solution!
  .images {
    margin-bottom: $base-spacing;

    img {
      display: inline-block;
      margin: 0 .35rem .35rem 0;
      width: auto; height: auto;
    }
  }

  img { vertical-align: middle; }
