/*============================================================================*\
| ATOMIC BUTTONS
\*============================================================================*/

////
/// Atomic button components that can be re-used anywhere.
///
/// @group buttons





button,
.button {
  display:       inline-block;
  padding:       _em( $gap-small ) _em( $gap-half );
  font-family:   $button-text-family;
  font-weight:   $button-text-weight;
  border-radius: $button-corner-radius;

  // Default button
  color:            $text-color;
  background-color: $button-color;

  // Disable the negative effects of a standard link
  .formatting & {
    color: inherit;
    text-decoration: none;

    @include hoverify() { color: inherit; }
  }

  @include hoverify() {
    color: $text-color;
    background: $button-hover-color;
  }

  // Flat (looking like a link)
  &.flat {
    @include linkify-text;
    background-color: transparent;
  }

  // Primary/Call-to-action button
  &.primary {
    background-color: $button-primary-color;
    color:            $white;

    @include hoverify() {
      color: $white;
      background: $button-primary-hover-color;
    }
  }

  // Secondary button: transparent with border outline
  &.flat-border {
    background: transparent;
    border:     $button-border-width solid $button-primary-color;
    color:      $button-primary-color;

    @include hoverify() {
      color: $white;
      background: $button-primary-color;
    }
  }

  // Critical/Destructive operations button
  &.danger {
    background-color: $button-danger-color;
    color: $white;

    @include hoverify() {
      background: $button-danger-hover-color;
      color: $white;
    }
  }

  // Disabled/Cannot be used button
  &[disabled],
  &.disabled {
    background: $button-color;
    color:      $button-disabled-text-color;
    cursor:     default;

    @include hoverify() {
      color:      $button-disabled-text-color;
    }
  }

  // Button sizing
  &.large { font-size: $text-size-huge; }
  &.extra-large { font-size: $text-size-massive; }

  // -> Arrow icon for all buttons that are not `.flat` nor `.no-icon`
  &:not(.flat):not(.no-icon) {
    @include icon-arrow-right;
  }

  //TODO: Rename to something more generic - e.g. `button-panel right`
  .button-right & { text-align: right; }
}





/*= BUTTON CONTAINERS ========================================================*/


.button-list {
  .button { margin: $gap-small $gap-tiny; }
  .disabled { background: transparent; }

  //TODO: @deprecated - Use .disabled instead and remove if possible
  span {
    &.button {
      background-color: inherit;

      @include hoverify() {
        background-color: inherit;
        cursor:           not-allowed;
      }
    }
  }
}




