/*============================================================================*\
| MESSAGES
\*============================================================================*/

////
/// Atomic properties for messages (notifications, popups etc.)
///
/// @group messages





/*= FLASH MESSAGES ===========================================================*/


// Inside a con
.flash-message {
  margin-bottom: $gap-content;
  padding: $column-padding;
  color: $white;
  border-left: $border-width-medium solid $background-opaque-darkest;

  > * {
    &:last-child { margin-bottom: 0; }
  }
  // Keep links the same colour as the text
  a[href] {
    color: inherit;

    @include hoverify() {
      color: inherit;
    }
  }

  .formatting & a[href]:visited {
    color: inherit !important;
  }

  // Message types
  &.error {
    background-color: $background-danger;

    > * { color: $color-danger; }

    > h2 {
      @include extend-icon-before( attention );
    }
  }

  &.warning {
    background-color: $background-warning;

    > * { color: $color-warning; }

    > h2 {
      @include extend-icon-before( megaphone );
    }
  }

  &.info {
    background-color: $background-info-light;

    > * { color: $color-info; }

    > h2 {
      @include extend-icon-before( info );
    }
  }

  &.success {
    background-color: $background-success;

    > * { color: $color-success; }

    > h2 {
      @include extend-icon-before( check );
    }
  }

}





/*= FACTS BOX ================================================================*/


// for info message fact row research hub
//TODO: Move into a components/, remove a dependency on .flash-message and .info
.flash-message.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1.2em;

  > h2 {
    margin-bottom: 0;

    &::before { display: none; }
  }

  > * {
    &:first-child {
      flex: 0 0 20%;
    }

    &:not(:first-child) {
      flex: 0 0 23%;
    }
  }

  @include bp( $until: desktop ) {
    flex-wrap: wrap;

    > * {
      &:first-child {
        flex-basis:    100%;
        margin-bottom: .5em;
      }

      &:not(:first-child) {
        flex-basis: 31%;
      }
    }
  }

  @include bp( $until: tablet ) {
    > *:not(:first-child) {
      flex-basis: 100%;
      margin-bottom: .5em;
    }
  }

  .info-col {
    padding-bottom: $gap-third;
    border-bottom: $border-width-thin solid $border-color-dark;

    h4,
    h5 {
      margin-bottom: $gap-small;
      color: inherit;
    }
  }

}
