/*=========================================
=     QUOTES, CITATION, BIBLIOGRAPHY      =
=========================================*/

// Just a quote style
blockquote.quote { font-style: italic; }

// Quote with source
.quote {
  margin-bottom: $base-spacing;

  /** Inline (related) block /w source */

  blockquote {
    margin-bottom: .35em;
    font-style: italic;
  }

  figcaption {
    @include bullet-line;
  }

  &:not(.full) {
    margin-left: .85rem;
    padding: 0 0 0 1rem;
    border-left: $border-strip-highlight;

    figcaption strong { font-weight: $weight-medium; }
  }


  /** Full block quotation /w source */

  &.full {
    // Citation itself
    blockquote {
      font-size: $text-size-5;

      // Starting quote icon
      @include extend-icon-before( quote-down ) {
        top: -.1em;
        margin-right: .3em;
      };

      // Ending quote icon
      @include extend-icon-after( quote-up ) {
        margin-left: .3em;
      };

      &::before,
      &::after {
        display: inline;
        font-style: normal;
        font-size: 130%;
        line-height: 1;
        color: $grey-silver;
      }
    }

    // Source, author, URL
    figcaption {
      font-weight: $weight-medium;
      font-size: 1.15em; // TODO: Review size
      color: $green-brand;
    }
  }
}

// hub page Quote panel
.quote-panel {
  background-color: $grey-gallery;

  .quote {
    margin-bottom: 0;
    padding: 1.875rem;
    border-left: 5px solid $green-brand;

    blockquote {
      color: $green-brand;

      &::before,
      &::after {
        color: $green-brand;
      }
    }

    figcaption {
      text-align: right;
      color: $black-tundora;
      font-size: $text-size-5;

      &::before { display: none; }
    }

    // a {
    //   @include hoverify() {
    //     figure {
    //       border-left-color: $blue-st-tropaz;

    //       blockquote {
    //         * {
    //           color: $blue-st-tropaz;
    //         }
    //         &:before,
    //         &:after {
    //           color: $blue-st-tropaz;
    //         }
    //       }

    //       figcaption {
    //         // color: $blue-st-tropaz
    //       }
    //     }
    //   }
    // }

    &.quote-image {
      .quote {
        display: flex;
        align-items: center;
        justify-content: space-around;


        border-left: none;

        img {
          height: 180px;
          width: 180px;
          border-radius: 50%;
          margin-right: 2em;

          flex: 1 0 auto;
        }

        .quote-content {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 1.6rem 0;

          blockquote {
            width: 75%;
            position: relative;

            h3,
            h4 {
              padding: 0 1em;
            }

            &:before,
            &:after {
              position: absolute;
            }

            &:before {
              top: 0;
              left: 0;
            }

            &:after {
              bottom: 0;
              right: 0;
              top: unset;
            }
          }

          figcaption {
            text-align: inherit;
            font-size: inherit;

            h4,
            h5,
            p {
              margin-bottom: 0.5em;
            }
          }
        }


        @include breakpoint( $tablet-and-smaller ) {
          // flex-wrap: wrap;

          .quote-content {
            justify-content: flex-start;
            flex-wrap: wrap;

            blockquote {
              width: 100%;
            }

            figcaption {
              padding-left: 2em;
              margin-top: 1.5em;
            }
          }

        }

        @include breakpoint($mobile-large-and-smaller) {
          flex-wrap: wrap;

          img {
            flex: 0 1 auto;
            width: 120px;
            height: 120px;
          }

          .quote-content {
            margin-top: 1em;
          }
        }
      }


      &.quote-white {
        background-color: #fff;
        margin-bottom: 1.6em;

        .quote {
          justify-content: center;
          position: relative;
          padding-bottom: 2em;

          &:after {
            position: absolute;

            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            content: "";
            height: 2px;
            width: 70%;
            background-color: $green-brand;
          }

          img {
            flex: 0 1 auto;
          }

          .quote-content {
            width: 70%;

            blockquote {

            }

            figcaption {
              text-align: inherit;
              font-size: inherit;

              h4,
              h5,
              p {
                margin-bottom: 0.5em;
              }
            }

            @include breakpoint($mobile-large-and-smaller) {
              width: 100%;
            }
          }

        }
      }

    }

  }
}
