/*=========================================
=           IMAGERY, GALLERIES            =
=========================================*/


// Default container - persist images sizing and positioning.
// Use *ONLY* as a fall-back solution!
.images {
  margin-bottom: $base-spacing;

  img {
    @include size( auto );
    display: inline-block;
    margin: 0 .35rem .35rem 0;
  }
}

img {
  vertical-align: middle;

  // Make logos white by default
  .a { fill: #FFF; }
}
