/*============================================================================*\
| STANDARD FORMATTING OBJECTS
\*============================================================================*/

////
/// Formatting of *any* user-created content.
///
/// **Note**: Whenever you need to display user-formatted content, simply apply
/// 'formatting' class to the containing element.
///
/// @group typography



$subtitle-separator-character:  $character-middle-dot;


.formatting {
  article {
    margin-bottom: $gap-content;
  }

  p {
    margin-bottom: $gap-content;
    color: $text-color;
    &:last-child { margin-bottom: 0; }
  }


  /** Links */

  a {
    @include hoverify() {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color:           $link-hover-color;
        text-decoration: $link-hover-decoration;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color:           $link-color;
      text-decoration: $link-decoration;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  table,
  figcaption {
    a {
      @include linkify-text;
    }
  }


  /** Headings */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $gap-content;

    // Notes within headings
    > em {
      margin-left: _em( $gap-small );
      font-style:  normal;
      color:       $text-weakest-color;
    }
  }

  // Subtitle
  .subtitle {
    color:       $text-weaker-color;
    line-height: $text-stacked-line-height;

    // Secondary information of lower importance
    strong + span {
      @include before( $text: $subtitle-separator-character ) {
        margin-right: _em( $gap-third );
        margin-left:  _em( $gap-small );
        font-weight:  $weight-bold;
      }
    }
  }

  // Subheading under the main title
  h1 + .subtitle {
    // Bleeding for the places in Squiz where the HTML structure cannot be implemented
    margin-top: $bleed-content - $bleed-half;
    font-size:  $text-size-5; // Match .intro
  }

  // Header section that restarts the vertical alignment
  > header {
    margin-bottom: $gap-content;

    > h1 { margin-bottom: $gap-half; }
    > h1 + .subtitle { margin-top: 0; } // Reset negative bleeding if the header is in place
  }


  /** An abstract / page detail / introduction / summary */

  .intro {
    font-size:   $text-size-5;
    font-weight: $weight-semibold;
    color:       $heading-weaker-color;
  }


  /** Formatted imagery */

  .inline { clear: right; }

  // Default image - full width
  .inline,
  .portrait,
  > img,
  p > img,
  p > img ~ img {
    @include size( 100%, auto );
    margin-bottom: $gap-half;
  }

  // Portrait size inline media
  .portrait {
    float:       right;
    margin-left: $gap-horizontal;
    width:       $media-inline-portrait-width;
  }


  /** Lists */

  ul,
  ol {
    margin-bottom: $gap-content + $gap-third; // Increase the gap
    padding-left:  $gap-horizontal;

    li {
      margin-bottom: _em( $gap-third );
      padding-left:  _em( $gap-small );
      list-style-position: outside;
    }

    ul,
    ol {
      margin: $gap-third 0 $gap-half;
    }
  }

  ul {
    li { list-style-type: square; }
    ul li { list-style-type: circle; }
  }
}





/*= WIDGET-BAR CONTENT FORMATTING DIFFERENCES ================================*/


$widgetbar-heading-font-size:    $h4-size;
$widgetbar-subheading-font-size: $h5-size;

aside > .formatting {
  // Heading
  h2 {
    font-size: $widgetbar-heading-font-size;

    // Pre-heading delimiting line
    @include separator-strip() {
      margin-bottom: _em( $gap-tiny );
    }
  }

  // Subheading
  h3 {
    font-size: $widgetbar-subheading-font-size;
    color:     $text-weaker-color;
  }
}





/* = TYPOGRAPHICAL UTILITIES =================================================*/


// Breaks the page and forcefully clears the floating
.break {
  overflow: hidden;
  visibility: hidden;
  display: block;
  width: 100%;

  .formatting > & {
    margin-bottom: $gap-content;
  }
}




