$meta-label-color: $green-light-brand !default;
$meta-bg: $green-nebula !default;

// List of quick (meta) information
ul.meta {
  @include icon-selector() {
    color: $text-weakest-color;

    &::before { display: inline; } // Prevent icon wrapping
  };

  .icon-pin {
    margin-left: .0625rem;
    font-size: $text-size-huge;
  }

  &,
  > li {
    padding-left: 0; // Reset
  }

  > li {
    display: block;
    margin-bottom: $gap-small;
    word-wrap: break-word;
    line-height: 1.35;

    h4:first-child { margin-top: $gap-half; }
  }

  .highlight {
    display: inline-block;
    margin-right: .1rem;
    padding: 0; // Reset

    @include icon-selector() {
      color: inherit;

      &::before {
        display: inline-block;
        margin-right: .35em;
      }
    };

    > a {
      display: block;
      padding: .2rem .5rem;
      background-color: _tint( $meta-bg, $lighter-percentage ); //TODO: Can it be replaced by some of the pre-defined colour?
      color: $heading-color;
      text-decoration: none;

      @include hoverify {
        text-decoration: underline;
      }
    }
  }
}

.meta__item {
  display: inline-block;
  
  ul.meta--labelled & {
    margin-right: $gap-double;
    margin-bottom: 25px;
    padding: 0;
    
    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint($until: desktop) {
      display: block;
    }
  }

  ul.meta--grid & {
    @include breakpoint(desktop) {
      margin-right: 0;
      padding-right: 15px;
      width: 24%;
      vertical-align: top;
    }
  }
}

.meta__label {
  color: $meta-label-color;

  @include breakpoint($until: tablet) {
    position: relative;
    top: 5px;
    float:left;
  }

  .meta--labelled & {
    margin-bottom: 0;
  }
}

.meta__labelText {
  @include breakpoint($until: tablet) {
    display: none;
  }
}

.meta__data {
  font-size: $h5-size;

  .meta--labelled & {
    //margin-top: $gap-half;
  }
}
