/*============================================================================*\
| ICONS
\*============================================================================*/

////
/// Defines all icons and their generic properties.
///
/// @group icons



/*= INITIALISATIONS ==========================================================*/


@include icon-selector {
  @include base-icon;
  font-size: 100%;
  font-style: normal;
}

// list of .icon-[name]
@include generate-icon-classes;





/*= ICONS WITH UNUSUAL STYLING ============================================== */


.icon-arrow-right::before {
  margin-right: 0;
  margin-left:  $icon-margin;
}




/*= CUSTOM-BUILT ICONS ====================================================== */


.hanging-icon { float: left; } //TODO: Use utility class instead ('.float-left')


// Social media icons

$social-icon-size: 2.5rem;

.social-icon {
  img {
    @include size( $social-icon-size );
    margin-right: $gap-small;
  }
}


// Scaleable play icon

$icon-play-triangle-size:    1em;
$icon-play-triangle-ratio:   .6; // Ratio between width and height of the triangle
$icon-play-rectangle-width:  4em;
$icon-play-rectangle-height: 2.5em;


.play-button, // TODO: .play-button! @deprecated - remove!
.icon-square-play {
  // Outer rectangle
  position: relative;
  @include size( $icon-play-rectangle-width, $icon-play-rectangle-height );
  margin-top: $gap-half;
  background-color: $white;
  border-radius: .75rem;
  text-align: center;

  // Inner triangle
  @include after( $display: inline-block, $position: relative ) {
    margin: .65em auto 0;
    border-style: solid;
    border-width: $icon-play-triangle-size * $icon-play-triangle-ratio 0 $icon-play-triangle-size * $icon-play-triangle-ratio $icon-play-triangle-size;
    border-color: transparent transparent transparent $green-brand;
  }
}





/*===== ALIASES ============================================================= */


// Can be appended into outer element without need to use inner element with .icon-[name]. Useful for generic items that should always have a specific icon.

.link-external {
  @include extend-icon-after( external ) {
    top: 0;
  }
}

.link-restricted {
  @include extend-icon-after( lock ) {
    top: 0;
  }
}

.link-download {
  @include extend-icon-before( download ) {
    font-size: $text-size-smaller;
  }
}

.link-more {
  @include extend-icon-after( caret-right ) {
    margin-right: 0;
    margin-left:  _em( $gap-small );
    font-size:    $text-size-larger
  }
}

.link-audio {
  @include extend-icon-before( audio );
}










// Line strip prefixing a block element (eg. citation, source, list item)

$bulletline-color:        $green-brand-weaker;
$bulletline-margin-left:  $gap-small;
$bulletline-margin-right: $gap-half;
$bulletline-width:        1rem;


@mixin bulletline-base {
  position: relative;
  padding-left: $bulletline-margin-left + $bulletline-width + $bulletline-margin-right;

  @include before( $position: absolute ) {
    @include size( 1rem, 2px );
    top: .75em;
    margin: 0 $bulletline-margin-right 0 -1 * ($bulletline-width + $bulletline-margin-right);
    background-color: $bulletline-color;
  }
}

