/*============================================================================*\
| STANDARD FORMATTING OBJECTS
\*============================================================================*/

////
/// Formatting of *any* user-created content.
///
/// **Note**: Whenever you need to display user-formatted content, simply apply
/// 'formatting' class to the containing element.
///
/// @group typography

$subtitle-separator-character: $character-middle-dot;

.formatting {
  article {
    margin-bottom: $gap-content;
  }

  p {
    margin-bottom: $gap-content;
    color: $text-color;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Links

  a {
    @include hoverify() {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $link-color;
      text-decoration: $link-decoration;
    }

    &:visited {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $link-visited-color;
      }
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  table,
  figcaption {
    a {
      &:not(.button):visited {
        color: $link-visited-color;
      }
      @include linkify-text; // *MUST* come after :visited
    }
  }

  // Headings

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $gap-content;

    // Notes within headings
    > em {
      margin-left: _em($gap-small);
      font-style: normal;
      color: $text-weakest-color;
    }
  }

  // Top margins for formatted headings to improve block separation and readability
  h2:not(:first-child) {
    margin-top: $gap-content * 1.75;
  }
  h3:not(:first-child) {
    margin-top: $gap-content * 1.65;
  }
  h4:not(:first-child) {
    margin-top: $gap-content * 1.5;
  }

  // Subtitle
  .subtitle {
    display: inline-block;
    margin-bottom: $gap-content;
    color: $text-weaker-color;
    line-height: $text-stacked-line-height;

    // Secondary information of lower importance
    strong + span {
      @include before($text: $subtitle-separator-character) {
        margin-right: _em($gap-third);
        margin-left: _em($gap-small);
        font-weight: $weight-bold;
      }
    }
  }

  // Subheading under the main title
  h1 + .subtitle {
    // Bleeding for the places in Squiz where the HTML structure cannot be implemented
    margin-top: $bleed-content - $bleed-half;
    font-size: $text-size-5; // Match .intro
  }

  // Header section that restarts the vertical alignment
  > header {
    margin-bottom: $gap-content;

    > h1 {
      margin-bottom: $gap-half;
    }
    > h1 + .subtitle {
      margin-top: 0;
    } // Reset negative bleeding if the header is in place
  }

  // An abstract / page detail / introduction / summary

  .intro {
    margin-top: $gap-vertical;
    font-size: $text-size-5;
    font-weight: $weight-semibold;
    color: $black-tundora;
  }

  // Formatted imagery

  .inline {
    clear: right;
  }

  // Default image - full width
  .inline,
  .portrait,
  > img,
  p > img,
  p > img ~ img {
    @include size(100%, auto);
    margin-bottom: $gap-half;
  }

  // Portrait size inline media
  .portrait {
    float: right;
    margin-left: $gap-horizontal;
    width: $media-inline-portrait-width;
  }

  // Lists

  ul,
  ol {
    margin-bottom: $gap-content + $gap-third; // Increase the gap
    padding-left: $gap-horizontal;

    li {
      margin-bottom: _em($gap-third);
      padding-left: _em($gap-small);
      list-style-position: outside;
    }

    ul,
    ol {
      margin: $gap-third 0 $gap-half;
    }
  }

  ul {
    li {
      list-style-type: square;
    }
    ul li {
      list-style-type: circle;
    }
  }

  @include breakpoint(tablet) {
    // Add bottom padding to visually separate content from footer
    .layout main > &,
    .layout aside > & {
      &:last-child {
        padding-bottom: $gap-double;
      }
    }
  }

  // Separators positioning
  hr {
    margin: $gap-larger 0;
  }
}

.reset-formatting {
  article {
    margin-bottom: initial;
  }

  p {
    margin-bottom: initial;
    color: inherit;
    &:last-child {
      margin-bottom: initial;
    }
  }

  // Links

  a {
    @include hoverify() {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
        text-decoration: initial;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: inherit;
      text-decoration: initial;
    }

    &:visited {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
      }
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  table,
  figcaption {
    a {
      &:not(.button):visited {
        color: inherit;
      }
      @include linkify-text; // *MUST* come after :visited
    }
  }

  // Headings

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: initial;

    // Notes within headings
    > em {
      margin-left: initial;
      font-style: inherit;
      color: inherit;
    }
  }

  // Top margins for formatted headings to improve block separation and readability
  h2:not(:first-child) {
    margin-top: initial;
  }
  h3:not(:first-child) {
    margin-top: initial;
  }
  h4:not(:first-child) {
    margin-top: initial;
  }

  // Subtitle
  .subtitle {
    display: initial;
    margin-bottom: initial;
    color: inherit;
    line-height: inherit;

    // Secondary information of lower importance
    // strong + span {
    strong + span::before {
      // @include before( $text: $subtitle-separator-character ) {
      //   margin-right: _em( $gap-third );
      //   margin-left:  _em( $gap-small );
      //   font-weight:  $weight-bold;
      // }
      position: initial;
      display: inline;
      content: initial;
      margin-right: initial;
      margin-left: initial;
      font-weight: inherit;
    }
  }

  // Subheading under the main title
  h1 + .subtitle {
    // Bleeding for the places in Squiz where the HTML structure cannot be implemented
    margin-top: initial;
    font-size: inherit; // Match .intro
  }

  // Header section that restarts the vertical alignment
  > header {
    margin-bottom: initial;

    > h1 {
      margin-bottom: initial;
    }
    > h1 + .subtitle {
      margin-top: initial;
    } // Reset negative bleeding if the header is in place
  }

  // An abstract / page detail / introduction / summary

  .intro {
    margin-top: initial;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  // Formatted imagery

  .inline {
    clear: initial;
  }

  // Default image - full width
  .inline,
  .portrait,
  > img,
  p > img,
  p > img ~ img {
    // @include size( 100%, auto );
    height: initial;
    width: initial;
    margin-bottom: initial;
  }

  // Portrait size inline media
  .portrait {
    float: initial;
    margin-left: initial;
    width: initial;
  }

  // Lists

  ul,
  ol {
    margin-bottom: initial; // Increase the gap
    padding-left: initial;

    li {
      margin-bottom: initial;
      padding-left: initial;
      list-style-position: inherit;
    }

    ul,
    ol {
      margin: initial;
    }
  }

  ul {
    li {
      list-style-type: inherit;
    }
    ul li {
      list-style-type: inherit;
    }
  }

  @include breakpoint(tablet) {
    // Add bottom padding to visually separate content from footer
    .layout main > &,
    .layout aside > & {
      &:last-child {
        padding-bottom: initial;
      }
    }
  }

  // Separators positioning
  hr {
    margin: initial;
  }
}

/*= WIDGET-BAR CONTENT FORMATTING DIFFERENCES ================================*/

$widgetbar-h2-font-size: $h4-size;
$widgetbar-h3-font-size: $h5-size;
$widgetbar-h4-font-size: $h6-size;

aside > .formatting {
  > article:not(:last-child) {
    margin-bottom: $gap-larger;
  }

  // Heading
  h2 {
    font-size: $widgetbar-h2-font-size;

    // Pre-heading delimiting line
    @include separator-strip() {
      margin-bottom: _em($gap-tiny);
    }
  }

  // Subheadings
  h3,
  h4 {
    color: $text-weaker-color;
    margin-bottom: $gap-third;

    &:not(:first-child) {
      margin-top: $gap-half;
    }
  }

  h3 {
    font-size: $widgetbar-h3-font-size;
  }
  h4 {
    font-size: $widgetbar-h4-font-size;
  }
}

/*= SPECIAL LINKS ============================================================*/

// 'See more' link
a.link-more {
  @include linkify-text;
  float: right;
  order: $order-last;
}

/*= TYPOGRAPHICAL UTILITIES ==================================================*/

// Breaks the page and forcefully clears the floating
.break {
  overflow: hidden;
  visibility: hidden;
  display: block;
  width: 100%;

  .formatting > & {
    margin-bottom: $gap-content;
  }
}

//! ==== NEW DESIGN ====

body#hubv4 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  button {
    font-family: "Inter", sans-serif;
  }

  // Flex h1 of page on non-hub pages. For save page icon alignment
  &:not(.hub-page) {
    .content-panel {
      main {
        h1 {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .formatting h1,
  h1,
  h2 {
    font-weight: 700;
  }
  aside > .formatting {
    h2 {
      font-size: 1.4rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
  .content-panel {
    main {
      h1 {
        font-size: 2.4rem;
      }
      h2 {
        font-size: 1.8rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
