/*=========================================
=                  ICONS                  =
=========================================*/


  /* ===== FONT ICON'S CODES ================================================ */

  // TODO: Add icon of down + up quotes, music note

  /** List of unicode character codes assigned to given icons.
   *
   *  The name of the code is then used as an class identifier
   *  prefixed with 'icon-'. Eg. code with key 'search' will
   *  get automatically turned into '.icon-search'.
   */
  $icon-class-prefix: 'icon-';

  $icon-codes: (
    search:           '\e800',
    mail:             '\e801',
    heart:            '\e802',
    check:            '\e803',
    star:             '\e804',
    help:             '\e805',
    people:           '\e806',
    user:             '\e807',
    info:             '\e808',
    home:             '\e809',
    back:             '\e80A',
    pictures:         '\e80B',
    popup:            '\e80C',
    clock:            '\e80D',
    tag:              '\e80E',
    book:             '\e80F',
    book-open:        '\e810',
    pin:              '\e811',
    vcard:            '\e812',
    chat:             '\e813',
    flag:             '\e814',
    external:         '\e815',
    printer:          '\e816',
    camera:           '\e817',
    lock:             '\e818',
    lock-open:        '\e819',
    phone:            '\e81A',
    attention:        '\e81B',
    resize-up:        '\e81C',
    resize-down:      '\e81D',
    mic:              '\e81E',
    cog:              '\e81F',
    share:            '\e820',
    basket:           '\e821',
    comment:          '\e822',
    caret-down-thin:  '\e823',
    caret-left-thin:  '\e824',
    caret-right-thin: '\e825',
    caret-up-thin:    '\e826',
    caret-down:       '\e827',
    caret-left:       '\e828',
    caret-right:      '\e829',
    caret-up:         '\e82A',
    triangle-down:    '\e82B',
    triangle-left:    '\e82C',
    triangle-right:   '\e82D',
    triangle-up:      '\e82E',
    refresh:          '\e82F',
    graduation-cap:   '\e830',
    ticket:           '\e831',
    megaphone:        '\e832',
    calendar:         '\e833',
    globe:            '\e834',
    dots:             '\e835',
    arrow-down:       '\e836',
    arrow-left:       '\e837',
    layout:           '\e838',
    attach:           '\e839',
    menu:             '\e83A',
    arrow-right:      '\e83B',
    arrow-up:         '\e83C',
    edit:             '\e83D',
    download:         '\e83E',
    audio:            '\e83F',
    quote-down:       '\e840',
    quote-up:         '\e841'
  );





  /* ===== STANDARD ICONS =================================================== */


  %base-icon {

    &:after {
      @include iconify;
      top: .05em;
      margin: 0 .5em;
      width: 1em;
      text-align: center;
    }
  }

  %base-icon-before {

    &:before {
      @include iconify;
      top: .05em;
      margin: 0 .5em;
      width: 1em;
      text-align: center;
    }
  }

  [class^=#{$icon-class-prefix}] {
    font-size: 100%;
    font-style: normal;
    @extend %base-icon;
  }


  /** Generate all the icon identifiers. Prefix them with 'icon-' */

  @each $icon-code-class, $code in $icon-codes {
    &.#{$icon-class-prefix}#{$icon-code-class} {
      &:after {
        content: $code;
      }
    }
  }

  .hanging-icon { float: left; }

  .icon-2x:before,
  .icon-2x:after {
    transform: scale(2);
  }

  // Icons designed to be on *the beginning* of the element
  a > .icon-audio:after { margin-left: 0; }


  /** Special icons */

  $social-icon-size: rem( 40px );

  .social-icon {
    &:hover {
      opacity: $base-hover-opacity;
    }

    img {
      margin-right: .3rem;
      @include size( $social-icon-size );
    }
  }





  /* ===== ALIASES AND EXTENSIONS =========================================== */


  /** Can be used to alias or extend default icon under unique class. */
  @mixin extend-icon( $icon-code ) {
    @extend %base-icon;
    @extend .#{$icon-class-prefix}#{$icon-code};

    &:after { @content; }
  }

  /** Can be used to alias or extend default icon under unique specifier. */
  @mixin extend-icon-before( $icon-code ) {
    @extend %base-icon-before;

    &:before {
      content: $icon-code;
      @content;
    }
  }


  .link-external { @include extend-icon( external ); }
  .link-more { @include extend-icon( caret-right ) { font-size: 110% }; }
  .link-download { @include extend-icon( download ) { font-size: 90% }; }
