/*=========================================
=     QUOTES, CITATION, BIBLIOGRAPHY      =
=========================================*/

$quote-color: $brand !default;
$quote-border-color: $brand !default;
$quote-text-color: $heading-color !default;
$box-shadow-card: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  $green-bottom-gradient: linear-gradient(
    180deg,
    #fff 0%,
    #3b7b07 90%,
    $green-brand 100%
  )
  0% 0%;

// Just a quote style
blockquote.quote { font-style: italic; }

// Quote with source
.quote {
  margin-bottom: $base-spacing;

  /** Inline (related) block /w source */

  blockquote {
    margin-bottom: .35em;
    font-size: $text-size-5;
    font-style: normal;
  }

  figcaption {
    @include bullet-line;
    position: relative;
  }

  &:not(.full) {
    margin-left: .85rem;
    padding: 0 0 0 1rem;
    border-left: $border-strip-highlight;

    figcaption strong { font-weight: $weight-medium; }
  }


  /** Full block quotation /w source */

  &.full {
    // Citation itself
    blockquote,
    q {
      font-size: $text-size-5;

      // Starting quote icon
      @include extend-icon-before( quote-down ) {
        top: -.1em;
        margin-left: _em( $bleed-third );
      };

      // Ending quote icon
      @include extend-icon-after( quote-up ) {
        margin-right: _em( $bleed-third );
      };

      &::before,
      &::after {
        display: inline;
        font-style: normal;
        font-size: 130%;
        line-height: 1;
        color: $grey-silver;
      }
    }

    // Source, author, URL
    figcaption {
      font-weight: $weight-medium;
      font-size: 1.15em; // TODO: Review size
      color: $green-brand;
    }

    &.quote-template {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      blockquote {
        flex: 1 1;
        padding-right: .5rem;
      }

      .quote-author-image {
        width: 100px;
        border-radius: 50%;
        margin-bottom: .5rem;
      }

      figcaption {
        flex: 1 0 100%;
        margin-top: .5rem;
        font-weight: 400;
        p {
          display: inline;
        }
      }

      .button {
        margin-left: 2.0625rem;
        margin-top: .5rem;
      }

      @include bp-mobile() {
        .quote-author-image {
          display: none;
        }
      }
    }
  }
}

#hubv4 {
  figure.quote.quote-template {
    box-shadow: none;
    padding: 1rem;
    margin: 1rem 0;
    // background-color: $kohuhu;

    img {
      width: 120px;
    }

    blockquote {
      &::after,
      &::before {
        color: $mahoe;
      }
    }

    figcaption {
      margin-top: 0;
      padding: 1rem;

      &::before {
        top: 0;
        margin: 0 0.75rem 0 -1.75rem;
        display: block;
        margin-bottom: 0.8rem;
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 9px solid transparent;
        border-top: 10px solid $mahoe;
        margin-left: 2px;
      }
      p > strong {
        color: $pounamu;
      }

      p {
        display: block;
        margin-bottom: 0;

        &:not(:first-child) {
          font-size: 1rem;
        }
      }
    }


    img {
      border: 3px solid $miro;
    }
  }

      // Quote block
      .quote-panel.quote-image {
        padding: 1.5rem;
        background-color: $grey-gallery;
        &.quote-white {
          background-color: #fff;
        }
        svg.quote-open {
          position: absolute;
          top: -30px;
          left: -80px;
          opacity: 0.3;
          @include breakpoint($until: desktop) {
            max-width: 50px;
            left: -50px;
          }
        }
        .quote {
          padding: 0;
          background-color: #fff;
          box-shadow: $box-shadow-card;
          margin-bottom: 1rem;

          &::after {
            content: none;
          }

          @include breakpoint($until: tablet) {
            flex-direction: column;

          }

          position: relative;
          .image-container {
            position: relative;
            clip-path: polygon(-0.25% -3px, 88% -13.74%, 99.5% 100%, 0px 100%);
            @include breakpoint($until: desktop) {
              clip-path: initial;
              flex: 1 0 20%;
            }
            &:before {
              position: absolute;
              left: 0;
              content: "";
              top: 0;
              height: 100%;
              width: 100%;
              background: $green-bottom-gradient;
              opacity: 0;
              z-index: 10;
            }
          }
          img {
            box-shadow: $box-shadow-card;
            border-radius: 0;
            height: 100%;
            width: auto;
            max-width: 300px;
            margin-bottom: 0;
            position: relative;

            @include breakpoint($until: desktop) {
              max-width: 150px;
              margin: auto;
              // border-radius: 100px;
              margin-right: 1rem;
            }

            @include breakpoint($until: tablet) {
              margin: 0;
            }

          }
          .quote-content {
            margin-left: 2rem;
            padding-bottom: 1rem;

            display: block;
            flex: 1 0 65%;
            @include breakpoint($until: desktop) {
              margin-left: 10px;
              flex: 1 0 50%;
            }
            @include breakpoint($until: tablet) {
              width: 100%;
              margin: 0;
              padding: 1rem;
            }
            blockquote {
              padding: 1rem 0;
              position: relative;
              width: 100%;
              @include breakpoint($until: desktop) {
                font-size: 1.2rem;
                padding: 10px;
              }
              h3 {
                font-weight: 300;
                line-height: 1.2;
                color: $black-tundora !important;
                @include breakpoint($until: desktop) {
                  font-size: 1em;
                  font-weight: 400;
                  line-height: 1.5;
                  padding: 0;
                }
                      // Starting quote icon
                @include extend-icon-before( quote-down ) {
                  top: -.1em;
                  margin-left: _em( $bleed-third );
                };

                // Ending quote icon
                @include extend-icon-after( quote-up ) {
                  margin-right: _em( $bleed-third );
                };

                &::before,
                &::after {
                  display: inline;
                  font-style: normal;
                  font-size: 120%;
                  line-height: 1;
                  color: $miro;
                }
              }

              &:before,
              &:after {
                content: none;
              }
            }
          }
          figcaption {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-right: 2rem;
            padding-left: 0;
            margin-left: 2rem;
            padding-top: 1rem;
            @include breakpoint($until: desktop) {
              padding: 10px;
              margin: 0;
            }
            @include breakpoint($until: tablet) {
              flex-wrap: wrap;
              width: 100%;

              .button {
              }
            }
            h4 {
              margin-bottom: 5px;
              @include breakpoint($until: desktop) {
                font-size: 1.4em;
              }
            }
            .quoter-info {
            }
          }
        }

      }

}

// hub page Quote panel
.quote-panel {
  background-color: $grey-gallery;

  .quote {
    margin-bottom: 0;
    padding: 1.875rem;
    border-left: 5px solid $quote-border-color;

    blockquote {
      color: $green-brand;

      h3 {
        color: $quote-text-color !important;
      }

      &::before,
      &::after {
        color: $quote-color;
      }
    }

    figcaption {
      text-align: right;
      color: $black-tundora;
      font-size: $text-size-5;

      &::before { display: none; }
    }
  }

  &.quote-image {
    .quote {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-left: none;

      img {
        height: 180px;
        width: 180px;
        border-radius: 50%;

        flex: 1 0 auto;
      }

      .quote-content {
        display: flex;
        align-items: center;
        justify-content: center;

        blockquote {
          width: 60%;
          position: relative;

          h3,
          h4 {
            padding: 0 1em;
          }

          &:before,
          &:after {
            position: absolute;
          }

          &:before {
            top: 0;
            left: 0;
          }

          &:after {
            bottom: 0;
            right: 0;
            top: unset;
          }
        }

        figcaption {
          text-align: inherit;
          font-size: inherit;

          h4,
          h5,
          p {
            margin-bottom: 0.5em;
          }
        }
      }


      @include breakpoint( $until: desktop ) {
        .quote-content {
          justify-content: flex-start;
          flex-wrap: wrap;

          blockquote {
            width: 100%;
          }

          figcaption {
            padding-left: 2em;
            margin-top: 1.5em;
          }
        }

      }

      @include breakpoint( $until: tablet ) {
        flex-wrap: wrap;

        img {
          @include size( 120px );
          flex: 0 1 auto;
          margin-bottom: $gap-vertical;
        }
      }

      @include breakpoint( desktop ) {
        img { margin-right: $gap-horizontal; }
      }
    }


    &.quote-white {
      background-color: #fff;
      margin-bottom: 1.6em;

      .quote {
        justify-content: center;
        position: relative;
        padding-bottom: 2em;

        &:after {
          position: absolute;

          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          content: "";
          height: 2px;
          width: 70%;
          background-color: $green-brand;
        }

        img {
          flex: 0 1 auto;
        }

        .quote-content {
          width: 70%;

          blockquote {

          }

          figcaption {
            text-align: inherit;
            font-size: inherit;

            h4,
            h5,
            p {
              margin-bottom: 0.5em;
            }
          }

          @include breakpoint( $until: tablet ) {
            width: 100%;
          }
        }

      }
    }

  }
}

// Reset .formatting styles
.formatting .quote-flex {
  h1, h2, h3, h4, h5, h6,
  p,
  .button {
    margin: 0;
  }
}

.quote-flex {
  display: flex;
  margin-bottom: 1.6rem;
  flex-wrap: wrap;

  .quote-author,
  .quote-text {
    padding: 1rem;
  }

  .quote-author {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 200px;
    text-align: center;
    color: $black-emperor;

    .quote-author-image {
      margin-bottom: 1.25rem;
      width: 100px;
      height: auto;
      border-radius: 50%;
    }

    .quote-author-title {
      margin-bottom: .25rem;
    }

    .button {
      margin-top: 1rem;
    }
  }

  .quote-text {
    flex-basis: 75%;
    flex-grow: 1;
    align-self: center;
  }

  &.text-right {
    flex-direction: row-reverse;
  }

  &.full,
  &.inlinequote {
    .quote-author,
    .quote-text {
      flex-basis: 100%;
    }

    .quote-author {
      text-align: left;

      .quote-author-title::before {
        display: inline-block;
        content: '—';
        margin-right: .5rem;
      }
    }

    .quote-text {
      font-size: $text-size-5;
    }
  }

  &.inlinequote {
    border-left: $border-strip-highlight;
  }
}

.centraliser + .block > .quote-flex:not(.text-right) {
  @include breakpoint( tablet ) {
    .quote-author {
      text-align: left;
    }
    .quote-text {
      text-align: right;
    }
  }
  @include breakpoint( $from: tablet ) {
    .quote-author {
      padding-left: 2rem;
    }
    .quote-text {
      padding-right: 2rem;
      border-right: 4px solid #D1E0DA;
    }
  }
}

.centraliser + .block > .quote-flex.text-right {
  @include breakpoint( tablet ) {
    .quote-author {
      text-align: right;
    }
    .quote-text {
      text-align: left;
    }
  }
  @include breakpoint( $from: tablet ) {
    .quote-author {
      padding-right: 2rem;
    }
    .quote-text {
      padding-left: 2rem;
      border-left: $border-strip-highlight;
    }
  }
}
