/*=========================================
=                BUTTONS                  =
=========================================*/


  /* ===== GENERIC BUTTONS ================================================== */


  $button-corner-radius:   $base-corner-radius;

  /** Button variations */

  $color-button-default:       $grey-alto;
  $color-button-default-hover: $grey-silver;

  $color-button-primary:       $blue-azure;
  $color-button-primary-hover: $blue-st-tropaz;

  $color-button-danger:        $red-roof-terratcotta;
  $color-button-danger-hover:  $red-tamarillo;

  $color-button-disabled:      $grey-alto; // Has got no hover


  button,
  .button {
      display:     inline-block;
      padding:     .3em .8em;
      font-family: $base-heading-family;
      font-weight: $weight-semibold;

  
      .formatting & {
        text-decoration: none; // Reset
      }

      &.large { font-size: 1.125em; }

      &:not(.flat) {
        border-radius: $button-corner-radius;
        color:      $color-body-text;
        background: $color-button-default;

        @include hoverify() {
          color: inherit;
          background: $color-button-default-hover;
        }
      }

      &:not(.flat, .no-icon) {
        //Include the arrow from the _object.icons file
        @extend .button-arrow;
      }

      // Call-to-action button
      &.primary {
          background-color: $color-button-primary;
          border-color:     $color-button-primary;
          color:            $white;

          @include hoverify() {
            color: $white;
            background: $color-button-primary-hover;
          }
      }

      &.flat-border {
        border-color: $color-button-primary;
        background-color:     transparent;
        border: 2px solid;
        color:           $color-button-primary;

        @include hoverify() {
          color: $white;
          background: $color-button-primary;
          border-color: $color-button-primary;
        }
      }

      &.extra-large {
        font-size: 1.5em;
      }


      // Critical/Destructive operations button
      &.danger {
        background-color: $color-button-danger;
        background-color: $color-button-danger;
        color: $white;

        @include hoverify() {
          color: $white;
          background: $color-button-danger-hover;
        }
      }

      &[disabled],
      &.disabled {
        border-color: $color-button-disabled;
        background:   $color-button-default;
        color:        $grey-silver-chalice;
      }
      
  }


  /** Important (button-like) links */

  a.link-more {
    float: right;
    @extend %base-link;
  }

  /**
   * Play Button
   */
  
  .play-button {
    margin-top: 1em;
    height: 40px;
    width: 65px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 10.5px;
      left: 26px;
      margin: 0 auto;
      border-style: solid;
      border-width: 9.5px 0 9.5px 17px;
      border-color: transparent transparent transparent $green-victoria;
    }
  }


    /* float button right - must be wrapped in div */

    div.button-right {
        @include clearfix();
        .button {
            float: right;
        }        
    }




  /* ===== MENU & NAVIGATION BUTTONS ======================================== */


  $button-size: 2.5em;
  $transition: .3s; // increase this to see the transformations in slow-motion

  .lines-button {
      @include media ($desktop-and-bigger) {
          display: none;
      }
      display: inline-block;
      padding: $button-size/2 $button-size/4;
      transition: .3s;
      cursor: pointer;
      user-select: none;
      border: 0;
      background-color: transparent;
      &:hover {
          opacity: 1;
      }
      &:active {
          transition: 0;
      }
      &:focus {
          outline: 0;
      }
  }

  @mixin line {
      display: inline-block;
      width: $button-size;
      height: $button-size/7;
      background: $white;
      border-radius: $button-size/14;
      transition: $transition;
  }

  .lines {
      //create middle line
      @include line;
      position: relative;
      /*create the upper and lower lines as pseudo-elements of the middle line*/
      &:before,
      &:after {
          @include line;
          position: absolute;
          left: 0;
          content: "";
          transform-origin: $button-size/14 center;
      }
      &:before {
          top: $button-size/4;
      }
      &:after {
          top: -$button-size/4;
      }
  }

  .lines-button:hover {
      opacity: 1;
      .lines {
          background-color: $grey-silver;
          &:before {
              top: $button-size/3.5;
              background-color: $grey-silver;
          }
          &:after {
              top: -$button-size/3.5;
              background-color: $grey-silver;
          }
      }
  }

  .lines-button.x.close .lines {
      /*hide the middle line*/
      background: transparent;
      /*overlay the lines by setting both their top values to 0*/
      &:before,
      &:after {
          transform-origin: 50% 50%;
          top: 0;
          width: $button-size;
      }
      // rotate the lines to form the x shape
      &:before {
          transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
          transform: rotate3d(0, 0, 1, -45deg);
      }
  }

  
  /* .button-list   For list of in page button links - to navigate content pages */

  .button-list {
    .button {
        margin-bottom: 0.3em;
    }

    span {
        &.button {
            background-color: inherit;

            @include hoverify() {
                background-color: inherit;
                cursor: not-allowed;
            }
        }
    }
  }
  


