/*============================================================================*\
| BADGES & LABELS
\*============================================================================*/

////
/// Small atomic tags that can be added to any element.
///
/// @group atoms


// File extensions colour variations
$color-bg-pdf:   $red-oyster-pink;
$color-bg-word:  lighten( $blue-callypso, 58% );
$color-bg-excel: lighten( $green-killarney, 60% );
$color-bg-mp3:   lighten( $yellow-cinamon, 65% );
$color-bg-ppt:   lighten( $orange-charcoal, 50% );
$color-bg-file:  $grey-alto;

$color-text-pdf:   $red-tamarillo;
$color-text-word:  $blue-callypso;
$color-text-excel: $green-killarney;
$color-text-mp3:   $yellow-cinamon;
$color-text-file:  $text-weaker-color;
$color-text-ppt:   $orange-charcoal;


.label {
  overflow: hidden;
  position: relative;
  top: -.1em;
  display: inline-block;
  margin-right: $gap-third;
  vertical-align: middle;
  line-height: 1;
  border-radius: $radius-small;
  font-size: 80%;
  text-transform: uppercase;
  background: $background-light;
  color: $text-color;
  white-space: nowrap;

  > i,
  > span {
    display: inline-block;
    padding: .3em .5em;
  }

  > i {
    float: left;
    font-style: inherit;
    color: $white;
  }

  /** File types/extensions */
  &.file { // generic file (default)
    > i {
      background: $color-bg-file;
      color:      $color-text-file;
    }
  }

  &.file-pdf {
    > i {
      background: $color-bg-pdf;
      color:      $color-text-pdf;
    }
  }

  &.file-excel {
    > i {
      background: $color-bg-excel;
      color:      $color-text-excel;
    }
  }

  &.file-word {
    > i {
      background: $color-bg-word;
      color:      $color-text-word;
    }
  }

  &.file-mp3 {
    > i {
      background: $color-bg-mp3;
      color:      $color-text-mp3;
    }
  }

  &.file-ppt {
    > i {
      background: $color-bg-ppt;
      color:      $color-text-ppt;
    }
  }


  /** Variations */

  // Inside standard paragraphs, labels should be placed on the *end* of
  // the bearing element.
  .formatting p & {
    margin-right:  _em( $gap-small );
    margin-left:   _em( $gap-small );
  }

}
