/*============================================================================*\
| GENERIC LISTINGS
\*============================================================================*/

////
/// Definitions of listings of things (e.g. list of articles, images etc.).
///
/// @group lists





/*= ARTICLES LISTING =========================================================*/


/** Generic holder for list of all article-like overviews. */
$article-item-max-width: $text-readability-max-width; // This is a maximum treshold for a good readability

.articles-container {

  // Set resets if used within .formatting
  .formatting {
    > ul,
    > ul > li {
      padding-left: 0;
      list-style-type: none;
    }

    article { margin-bottom: 0; }
  }

  @include bp( tablet ) {
    margin: 0 auto;
    max-width: $article-item-max-width;
  }

  > header { margin: $gap-vertical 0; }

  > ul {
    @include clearfix;

    // Items
    > li {
      @include clearfix();

      &:not(:last-child) {
        margin-bottom:  $gap-vertical;
        padding-bottom: $gap-vertical;
        border-bottom:  $border; // Items separator
      }
    }
  }

  // Item's overview
  // TODO: Move to components/molecules
  .summary {
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: $gap-small;
    }

    time,
    p {
      margin-bottom: $gap-half;
    }

    p:last-child { margin-bottom: 0; }
  }

  .media {
    img,
    iframe {
      margin-bottom: 0;
    }
  }
}



// Display .articles-container side by side on desktop and bigger - for use with news and events

// TODO: Move to components/molecules
.articles-two-up {

  // A panel holding articles
  &.panel {
    padding: $gap;
    background-color: $background-light;

    .articles-container {
      background-color: $white;
      box-shadow: $shadow-shallowest;
    }
  }

  @include bp( desktop ) {
    // A panel split by a divider line
    &.divider-line {
      position: relative;

      @include before( $position: absolute ) {
        @include size( 0, 100% );
        top: 0;
        left: calc( 50% - #{ $border-width-thick / 2 } );
        border-left: $border-width-thick solid $border-color-light;
      }
    }

    .articles-container {
      @include column( 2, $gap-larger );
    }
  }
}



