/*=========================================
=     QUOTES, CITATION, BIBLIOGRAPHY      =
=========================================*/

$quote-color: $brand !default;
$quote-border-color: $brand !default;
$quote-text-color: $heading-color !default;


// Just a quote style
blockquote.quote { font-style: italic; }

// Quote with source
.quote {
  margin-bottom: $base-spacing;

  /** Inline (related) block /w source */

  blockquote {
    margin-bottom: .35em;
    font-size: $text-size-5;
    font-style: normal;
  }

  figcaption {
    @include bullet-line;
    position: relative;
  }

  &:not(.full) {
    margin-left: .85rem;
    padding: 0 0 0 1rem;
    border-left: $border-strip-highlight;

    figcaption strong { font-weight: $weight-medium; }
  }


  /** Full block quotation /w source */

  &.full {
    // Citation itself
    blockquote {
      font-size: $text-size-5;

      // Starting quote icon
      @include extend-icon-before( quote-down ) {
        top: -.1em;
        margin-left: _em( $bleed-third );
      };

      // Ending quote icon
      @include extend-icon-after( quote-up ) {
        margin-right: _em( $bleed-third );
      };

      &::before,
      &::after {
        display: inline;
        font-style: normal;
        font-size: 130%;
        line-height: 1;
        color: $grey-silver;
      }
    }

    // Source, author, URL
    figcaption {
      font-weight: $weight-medium;
      font-size: 1.15em; // TODO: Review size
      color: $green-brand;
    }
  }
}

// hub page Quote panel
.quote-panel {
  background-color: $grey-gallery;

  .quote {
    margin-bottom: 0;
    padding: 1.875rem;
    border-left: 5px solid $quote-border-color;

    blockquote {
      color: $green-brand;

      h3 {
        color: $quote-text-color !important;
      }

      &::before,
      &::after {
        color: $quote-color;
      }
    }

    figcaption {
      text-align: right;
      color: $black-tundora;
      font-size: $text-size-5;

      &::before { display: none; }
    }
  }

  &.quote-image {
    .quote {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-left: none;

      img {
        height: 180px;
        width: 180px;
        border-radius: 50%;

        flex: 1 0 auto;
      }

      .quote-content {
        display: flex;
        align-items: center;
        justify-content: center;

        blockquote {
          width: 60%;
          position: relative;

          h3,
          h4 {
            padding: 0 1em;
          }

          &:before,
          &:after {
            position: absolute;
          }

          &:before {
            top: 0;
            left: 0;
          }

          &:after {
            bottom: 0;
            right: 0;
            top: unset;
          }
        }

        figcaption {
          text-align: inherit;
          font-size: inherit;

          h4,
          h5,
          p {
            margin-bottom: 0.5em;
          }
        }
      }


      @include breakpoint( $until: desktop ) {
        .quote-content {
          justify-content: flex-start;
          flex-wrap: wrap;

          blockquote {
            width: 100%;
          }

          figcaption {
            padding-left: 2em;
            margin-top: 1.5em;
          }
        }

      }

      @include breakpoint( $until: tablet ) {
        flex-wrap: wrap;

        img {
          @include size( 120px );
          flex: 0 1 auto;
          margin-bottom: $gap-vertical;
        }
      }

      @include breakpoint( desktop ) {
        img { margin-right: $gap-horizontal; }
      }
    }


    &.quote-white {
      background-color: #fff;
      margin-bottom: 1.6em;

      .quote {
        justify-content: center;
        position: relative;
        padding-bottom: 2em;

        &:after {
          position: absolute;

          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          content: "";
          height: 2px;
          width: 70%;
          background-color: $green-brand;
        }

        img {
          flex: 0 1 auto;
        }

        .quote-content {
          width: 70%;

          blockquote {

          }

          figcaption {
            text-align: inherit;
            font-size: inherit;

            h4,
            h5,
            p {
              margin-bottom: 0.5em;
            }
          }

          @include breakpoint( $until: tablet ) {
            width: 100%;
          }
        }

      }
    }

  }
}

.quote-flex {
  display: flex;
  flex-wrap: wrap;

  .quote-text {
    flex-basis: 75%;
    flex-grow: 1;
    padding: $column-padding;
    align-self: center;

    h3 {
      color: $black-mine-shaft;
    }
  }

  .quote-author {
    flex-basis: 25%;
    flex-grow: 1;
    padding: $column-padding;
    min-width: 200px;
    text-align: center;
    color: $black-emperor;

    .quote-author-image {
      margin-bottom: 1.25rem;
      width: 100px;
      height: auto;
      border-radius: 50%;
    }

    .quote-author-title {
      margin-bottom: .25rem;
    }

    .button {
      margin-top: 1rem;
    }
  }

  &.text-right {
    flex-direction: row-reverse;
  }

  &.full,
  &.inline {
    .quote-author,
    .quote-text {
      flex-basis: 100%;
    }
  }

  &.inline {
    border-left: 4px solid $green-nebula;

    .quote-author {
      text-align: left;

      .quote-author-title::before {
        display: inline-block;
        content: '—';
        margin-right: .5rem;
      }
    }
  }
}
