/*============================================================================*\
| ICONS
\*============================================================================*/

////
/// Defines all icons and their generic properties.
///
/// @group icons



/*= INITIALISATIONS ==========================================================*/


@include icon-selector {
  @include base-icon;
  font-size: 100%;
  font-style: normal;

  a & {
    @include ie-remove-underline;
  }
}

// list of .icon-[name]
@include generate-icon-classes;





/*= ICONS WITH UNUSUAL STYLING ============================================== */


.icon-arrow-right::before {
  margin-right: 0;
  margin-left:  $icon-margin;
}





/*= CUSTOM-BUILT ICONS ====================================================== */


// Social media icons

.small-icon {
  &::before,
  &::after {
    font-size: 65%;
  }
}


// Icon placement

.hanging-icon { float: left; } //TODO: Use utility class instead ('.float-left')


// Social media icons

$social-icon-size: 2.5rem;

.social-icon {
  img {
    @include size( $social-icon-size );
    margin-right: $gap-small;
  }
}


// Scaleable 'play' icon

$icon-play-width:          4em;
$icon-play-height:         2.5em;
$icon-play-rectangle-size: 1.2em;
$icon-play-triangle-ratio: 1.1; // Ratio between width and height of the triangle


.play-button, // TODO: .play-button! @deprecated - remove!
.icon-square-play {
  // Outer rectangle
  @include size( $icon-play-width, $icon-play-height );
  position: relative;
  margin-top: $gap-half;
  background-color: $white;
  border-radius: _em( $radius-huge );
  text-align: center;

  // Inner triangle
  @include after( $display: inline-block, $position: relative ) {
    @include triangle( 'right', $icon-play-rectangle-size * $icon-play-triangle-ratio, $icon-play-rectangle-size, $green-brand );
    margin: .65em auto 0;
  }

  &.play-button--green {
    background-color: $green-brand;

    &:after {
      @include triangle( 'right', $icon-play-rectangle-size * $icon-play-triangle-ratio, $icon-play-rectangle-size, $white );
    }
  }
}





/*===== ALIASES ============================================================= */


// Can be appended into outer element without need to use inner element with .icon-[name]. Useful for generic items that should always have a specific icon.

.link-external {
  @include extend-icon-after( external ) {
    margin-left: _em( $gap-small );
  }
}

.link-restricted {
  @include extend-icon-after( lock ) {
    margin-left: _em( $gap-small );
    vertical-align: 7.5%;
    text-decoration: none !important;
  }
}

.link-download {
  @include extend-icon-before( download ) {
    font-size: $text-size-smaller;
  }
}

.link-more {
  @include extend-icon-after( caret-right ) {
    margin-right: 0;
    margin-left:  _em( $gap-small );
    font-size:    $text-size-larger;
  }
}

.link-audio {
  @include extend-icon-before( audio );
}
