/* Container Templates

*** Content page
**  COntent block with image
*/

.image-block {
  // display: flex;

  .image-block--img {
    float: right;
    width: 25%;
    margin-left: 1rem;

    @include bp-mobile() {
      margin-left: 0;
      margin-bottom: 1rem;
      float: none;
      width: 100%;
    }
  }
 
}