---
layout: subject-page-design-update
title: "Study Hub | Experience Victoria"
NavColor: "white"
LogoColor: "green"

main-header:
  main-ia:
    - International students
    - Current students
    - Research
    - Engage
  tereo:
    - Te whirika
    - Tauira o nāianei
    - Rangahau
    - Turipū

sub-header:
  - About
  - Library
  - Blackboard
  - Maps
  - Staff Intranet
  - myTools
  - Learning & teaching

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

{{> subjects.banner }}
<!-- {{> subjects.switcher }} -->
<div class="subject-content v2">

  <div class="fixed-spy">

    <div class="spy-inner-wrap">
      <div id="fixedMenu" class="fixed-cta">
        <ul id="fixedMenuList">
          <li><a href="" class="button primary"><span>Apply now</span> <i class="icon-caret-right-thin"></i></a></li>
          <li><a href="" class="button primary"><span>Contact us</span> <i class="icon-caret-right-thin"></i></a></li>
          <li><a href="" class="button primary"><span>Stay updated</span> <i class="icon-caret-right-thin"></i></a></li>
        </ul>
      </div>

      <nav role="navigation" class="spy-wrap">
        <h5>On this page:</h4>
        <ul id="spyList" class="scrollspy">

        </ul>
      </nav>
    </div>

  </div>


  {{> subjects.promo1}}
  {{> subjects.promo2}}

<div class="subject-section">
    <div class="ggrid">
      <div class="c6">
        <div class="s-promo single grey light-green-top-left">
          <h4>Working from home
          </h4>
          <p>In an uncertain world, it helps to know that your learning is supported wherever you are. If you’re not able to work on campus, you can access video lectures, live online tutorials, and remote lab sessions.
          </p>
          <p>Find out more about <a href="#">studying remotely</a>
          </p>
        </div>
      </div>
      <div class="c6">
        <div class="s-promo single light-green green-bottom-right">
          <h4>Improve your writing
          </h4>
          <p>Writing is a key part of science. Throughout your degree study, you’ll develop the skills to write for a range of audiences. Whether it’s a lab report for an academic audience or a presentation to a sponsor, you’ll be able to share your discoveries and deliver your message clearly.
          </p>
          <p> If you’d like extra help with your writing, we can help: <a href="#">Student learning</a>
          </p>
        </div>
      </div>
    </div>
</div>


  {{> subjects.overview2 }}



  <section class="subject-section qualifications full-width grey-bg spy" id="Qualifications">

    <div class="main-col">

      <div class="qual-section-title flex">
        <i class="icon-graduation-cap"></i>
        <h3>Study options</h3>
      </div>

      <div class="qualification" >
        <!-- NOTE: Initial Value MUST be the international API Code!!! -->
        <div class="qual-content" id="aaa" data-initial-value="BSC" data-initial-fetch="true">
          <!-- <span>Showing information for students who
            previously studied in - Afghanistan</span> -->
          <div>
            <div>
              <div>
                <div class="qual-title flex">
                  <h3> Bachelor of Science <span class="code">- BSc</span>  </h3><span class="course-major h4">Physics Major</span>
                </div>

                <!-- <div class="major">
                  <span class="pill">Physics Major</span>
                </div> -->

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-clock"></i>Duration:</span> 3 years (360 points)
                  </div>
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-cog"></i>Intensity:</span> Full time or part time
                  </div>

                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-pin"></i>Location:</span> Wellington campuses. This
                    programme
                    can be started online if you are outside New Zealand.
                  </div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item qual-dates"><span class="meta-title"><i class="icon-calendar"></i>Key dates:</span>
                    <span class="dates">Apply by <strong>01 Dec 2021</strong> to start studying <strong>28 Feb 2022</strong><br> Apply by
                      <strong>01 May 2022</strong> to start studying <strong>11 Jul 2022</strong><br></span>
                  </div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title">Level of study:</span> Undergraduate
                </div>

                </div>


                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-money"></i>Cost: </span>
                    <div>NZ$34,521.00 for the full programme. Approximately <strong>AF ؋1,911,176.97</strong> at current
                      exchange rates <span> per 120 points </span></div></div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-check"></i>Entry: </span> Achieve the International Baccalaureate
                    Diploma, or three GCE Advanced Level passes at C grade, or equivalent. You may also be required to
                    demonstrate your proficiency in English.
                  </div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title">Useful secondary school subjects: </span> Sciences and
                    Maths
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        {{> subjects.major-requirements }}
        {{> subjects.eligibility }}

        {{> subjects.course-plan }}

        <!-- <a href="#" class="learn-more">Learn more <i class="icon-caret-right-thin"></i></a> -->
      </div>

    </div>
  </section>

  <section class="subject-section" id="">
    <div class="s-promo two-third angle">
      <div class="promo-content">
        <h3>Scientific skills for life</h3>
        <p>A degree in Physics will help you develop skills for life. You’ll learn how to identify a problem, come up with a theory to explain it, and then test that theory rigorously. You’ll develop your confidence in mathematics and learn to write computer programs. And as making new discoveries is a team effort, you’ll learn to collaborate with others.  </p>
      </div>
      <div class="promo-image">
        <img src="../images/subjects/promo-image.jpg" alt="">
      </div>
    </div>
    <div class="ggrid">
      <div class="c6">
        <div class="s-promo single grey light-green-top-left">
          <h4>Working from home
          </h4>
          <p>In an uncertain world, it helps to know that your learning is supported wherever you are. If you’re not able to work on campus, you can access video lectures, live online tutorials, and remote lab sessions.
          </p>
          <p>Find out more about <a href="#">studying remotely</a>
          </p>
        </div>
      </div>
      <div class="c6">
        <div class="s-promo single grey green-bottom-right">
          <h4>Improve your writing
          </h4>
          <p>Writing is a key part of science. Throughout your degree study, you’ll develop the skills to write for a range of audiences. Whether it’s a lab report for an academic audience or a presentation to a sponsor, you’ll be able to share your discoveries and deliver your message clearly.
          </p>
          <p> If you’d like extra help with your writing, we can help: <a href="#">Student learning</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="subject-section  full-width grey-bg" id="">
    <div class="section-title">
      <h3>Your course of study</h3>
    </div>
    <div class="s-promo two-third video">
      <div class="promo-content">
        <h3>Building your degree
        </h3>
        <p>At university, you’re in charge of your course of study.
        </p>
        <p> Find out how to put your degree together and learn about the differences between majors and minors, conjoint degrees and double majors.
        </p>
      </div>
      <div class="promo-image">
        <a href="https://www.youtube.com/watch?v=r-vc_XVWLxI&t=1s" data-lity>
          <div class="video-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="68" viewBox="0 0 68 68">
              <g id="Group_1558" data-name="Group 1558" transform="translate(-0.209 0.465)">
                <circle id="Ellipse_34" data-name="Ellipse 34" cx="34" cy="34" r="34" transform="translate(0.209 -0.465)" fill="#fff" opacity="0.933"/>
                <path id="Path_4847" data-name="Path 4847" d="M11.355,0,22.709,24.171H0Z" transform="translate(50.312 22.747) rotate(90)" fill="#3e9c4f"/>
              </g>
            </svg>
            <h5>Learning through curiosity</h5>
          </div>
          <img src="../images/subjects/promo-image.jpg" alt=""></a>
      </div>
    </div>

    <div class="ggrid">
      <div class="c6">
        <div class="s-promo single border light-green-bottom-left">
          <h4>Workload</h4>
          <p>To achieve an average grade in a course, you should plan to spend a minimum of 10 hours per point. So, for one 15-point course you should allow for 150 hours of work over the trimester. That’s about 10–12 hours per week for each course, including lectures, tutorials, labs, and exam periods.
          </p>
          <p>If you are studying full-time, you are likely to take six to eight courses over the year. Plan to balance your study, work, and life with this workload in mind.
          </p>
        </div>
      </div>
      <div class="c6">
        <div class="s-promo single border light-green-top-right">
          <h4>Choosing course</h4>
          <p>If you are taking a three-year degree, it’s a good idea to look ahead and think about what you might like to study in your second and third years, as your chosen major or majors may have specific prerequisites for advanced-level courses.
          </p>
          <p> To add variety and depth to your degree, you might take some courses from outside the sciences.
          </p>
          <p>
          <a href="#">Find out more</a>
        </p>
        </div>
      </div>
    </div>

  </section>

  <section class="subject-section  spy" id="Funding your study">
    <div class="section-title">
      <h3>Funding your study</h3>
    </div>

    <div class="s-promo two-third angle light-green">
      <div class="promo-content">
        <h3>Scholarships</h3>
        <p>Scholarships are awarded to hundreds of students each year and can help with living and accommodation costs at the University’s halls of residence.
        </p>
        <p>Take a look at school leaver scholarships, and search our scholarships database to see if there’s one that’s right for you. </p>
        <ul>
          <li><a href="#">School leaver scholarships</a></li>
          <li><a hreflang="#">Scholarships database</a></li>
        </ul>
      </div>
      <div class="promo-image">
        <img src="../images/subjects/promo-image2.jpg" alt="">
      </div>
    </div>

    <div class="ggrid">
      <div class="c6">
        <div class="s-promo single border light-green-top-left">
         <h4> Managing your finances</h4>
          <p>
            Get advice to help you control your money so that it doesn’t control you. Take a look at our financial resources

          </p>
            <ul><li><a href="#">Financial survival</a></li></ul>

          <p>
            or meet with a student finance advisor for budgeting advice and support.

          </p>
            <ul><li><a href="#">Meet with a student finance adviser</a></li></ul>
        </div>
      </div>
      <div class="c6">
        <div class="s-promo single border green-bottom-right">
          <h4>Work while you study
          </h4>
          <p>Most students find that they need to support their study with part time work.
          </p>
          <p>At the University, you’ll find opportunities to work in your field of interest while you study for your degree.
          </p>
          <ul>
            <li>
              <a href="#">  Employment opportunities </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="ggrid">
      <div class="c8">
        <div class="s-promo image">
         <img src="../images/subjects/image-promo-3.jpg" alt="image">
         <div class="image-text">
          <h4>Learning through curiosity</h4>
        </div>
        </div>
      </div>
      <div class="c4">
        <div class="s-promo single border dark-green-title light-green-top-right">
          <h4>Stay updated</h4>
          <p>Fill in the form to discover how you can explore your passions and prepare for an exciting career with our Bachelor of Arts.</p>
            <a href="#" class="subject-button light mt4">Sign up</a>
        </div>
      </div>
    </div>

  </section>

  <section class="subject-section spy full-width grey-bg" id="Related subjects">
    <div class="section-title">
      <h3>Related subjects</h3>
    </div>
    <div class="ggrid related-subjects">
      <div class="c6 r-subject">
       <a href="#">
          <div class="r-text">
            <h5>Chemistry</h5>
            <p>Chemistry underlies all the functions of the human body, the buildings we live and work in, the energy we generate and consume, and the air we breathe.</p>
          </div>
          <div class="r-image"><img src="../images/subjects/image-promo-3.jpg" alt="image"></div>
       </a>
      </div>
      <div class="c6 r-subject">
       <a href="#">
          <div class="r-text">
            <h5>Chemistry</h5>
            <p>Chemistry underlies all the functions of the human body, the buildings we live and work in, the energy we generate and consume, and the air we breathe.</p>
          </div>
          <div class="r-image"><img src="../images/subjects/image-promo-3.jpg" alt="image"></div>
       </a>
      </div>
      <div class="c6 r-subject">
       <a href="#">
          <div class="r-text">
            <h5>Chemistry</h5>
            <p>Chemistry underlies all the functions of the human body, the buildings we live and work in, the energy we generate and consume, and the air we breathe.</p>
          </div>
          <div class="r-image"><img src="../images/subjects/image-promo-3.jpg" alt="image"></div>
       </a>
      </div>
      <div class="c6 r-subject">
       <a href="#">
          <div class="r-text">
            <h5>Chemistry</h5>
            <p>Chemistry underlies all the functions of the human body, the buildings we live and work in, the energy we generate and consume, and the air we breathe.</p>
          </div>
          <div class="r-image"><img src="../images/subjects/image-promo-3.jpg" alt="image"></div>
       </a>
      </div>
      <div class="c6 r-subject">
       <a href="#">
          <div class="r-text">
            <h5>Chemistry</h5>
            <p>Chemistry underlies all the functions of the human body, the buildings we live and work in, the energy we generate and consume, and the air we breathe.</p>
          </div>
          <div class="r-image"><img src="../images/subjects/image-promo-3.jpg" alt="image"></div>
       </a>
      </div>
      <div class="c6 r-subject">
       <a href="#">
          <div class="r-text">
            <h5>Chemistry</h5>
            <p>Chemistry underlies all the functions of the human body, the buildings we live and work in, the energy we generate and consume, and the air we breathe.</p>
          </div>
          <div class="r-image"><img src="../images/subjects/image-promo-3.jpg" alt="image"></div>
       </a>
      </div>

    </div>

  </section>

  <section class="subject-section " id="">

    <div class="s-promo two-third border">
      <div class="promo-content">
        <h3>Support for students</h3>
        <p>Victoria University of Wellington is a welcoming place with great student support. There are all sorts of resources available to help you get the best out of your time at university.</p>
        <a href="#" class="subject-button light-green">Find out more</a>
      </div>
      <div class="promo-image">
        <img src="../images/subjects/promo-image2.jpg" alt="">
      </div>
    </div>


  </section>




</div>


<script>
    // build scrollspy menu dynamically
    // should get in to a core library of helpers

    window.addEventListener('DOMContentLoaded', function (e) {

        var list = document.getElementsByClassName('spy');  // read divs tagged as spy in DOM
        var nav = document.getElementById('spyList');       // where to inject menu items

        for (var i = 0; i < list.length; i++){

            // var newNode = document.createElement('a');
            // newNode.innerHTML = list[i].id;
            // newNode.href = '#' + list[i].id + '-' + i;
            // list[i].id = list[i].id + '-' + i;

            var newNode = document.createElement('li');
            newNode.innerHTML = '<a href="#'+ list[i].id.replace(/ /g,'-') + '-' + i +'">'+list[i].id + '</a>';
            newNode.href = '#' + list[i].id.replace(/ /g,'-') + '-' + i;
            list[i].id = list[i].id.replace(/ /g,'-') + '-' + i;

            // newNode.classList.add ("list-group-item", "list-group-item-action");
            if (list[i].classList.contains("isChild")) {
                newNode.classList.add("isAChild");
            }
            if (list[i].classList.contains("isChild1")) {
                newNode.classList.add("isAChild1");
            }
            nav.appendChild(newNode);
        }


        var spy = new Gumshoe('#spyList a', {
        	nested: true,
        	nestedClass: 'active-parent',
        	reflow: true,
          offset: 80,
        });


        // setTimeout(() => {
        //   var scroll = new SmoothScroll('a[href*="#"]', {
        //     offset: 50
        //   });
        // }, 1000);

        document
          .querySelectorAll('#spyList a[href^="#"]')
          .forEach(link => {
              link.onclick = function(e) {
                  e.preventDefault();
                  let hash = this.getAttribute('href');
                  document.querySelector(hash).scrollIntoView({
                    behavior: 'smooth',
                  });
              };
          });


        // If sticky add attribute
        const observer = new IntersectionObserver(
          ([e]) => e.target.toggleAttribute('stuck', e.intersectionRatio < 1),
          {threshold: [1]}
        );

        observer.observe(document.querySelector('.switcher-wrap'));



        //set spy class when scrolled into view
        // window.onscroll = function () {
        //   let isScrolled = false
        //   const scrollPoint = document.querySelector('.subject-content').offsetTop
        //   const content = document.querySelector('.subject-content')
        //   const spy = document.querySelector('.fixed-spy');

        //   function onScroll () {
        //     if ( window.pageYOffset > scrollPoint && !isScrolled ) {
        //       content.classList.add("scroll");
        //       spy.classList.add("sticky");
        //       isScrolled = true
        //     } else if (window.pageYOffset <= scrollPoint && isScrolled) {
        //       content.classList.remove("scroll");
        //       spy.classList.remove("sticky");
        //       isScrolled = false
        //     }
        //   }

        //   onScroll()  // Makes sure that the class is attached on the first render
        //   return onScroll
        // }()

    });



</script>
