---
layout: subject-page
title: "Study Hub | Experience Victoria"
NavColor: "white"
LogoColor: "green"

main-header:
  main-ia:
    - International students
    - Current students
    - Research
    - Engage
  tereo:
    - Te whirika
    - Tauira o nāianei
    - Rangahau
    - Turipū

sub-header:
  - About
  - Library
  - Blackboard
  - Maps
  - Staff Intranet
  - myTools
  - Learning & teaching

footer:
  links:
    - Why choose Victoria?
    - Living in Wellington
    - Life on campus
    - Getting involved
    - Student support
    - Student services

  phones:
    - phone1:
      number: 0800 VICTORIA (842 867)
      label:  general enquiries
    - phone2:
      number: +64 4 463 5350
      label:  international enquiries

  mails:
    - info@wgtn.ac.nz

---

{{> subjects.banner }}
{{> subjects.switcher }}
<div class="subject-content">

  <div class="fixed-spy">
    <div id="fixedMenu" class="fixed-cta">
      <ul id="fixedMenuList">
        <li><a href=""><span>Apply now</span> <i class="icon-caret-right-thin"></i></a></li>
        <li><a href=""><span>Contact us</span> <i class="icon-caret-right-thin"></i></a></li>
        <li><a href=""><span>Stay updated</span> <i class="icon-caret-right-thin"></i></a></li>
      </ul>
    </div>

    <nav role="navigation" class="spy-wrap">
      <h5>On this page:</h4>
      <ul id="spyList" class="scrollspy">

      </ul>
    </nav>
  </div>


  {{> subjects.overview }}



  <section class="subject-section qualifications full-width grey-bg spy" id="Qualifications">

    <div class="main-col">

      <div class="qual-section-title flex">
        <i class="icon-graduation-cap"></i>
        <h3>Study options</h3>
      </div>

      <div class="qualification" >
        <!-- NOTE: Initial Value MUST be the international API Code!!! -->
        <div class="qual-content" id="aaa" data-initial-value="BSC" data-initial-fetch="true">
          <span>Showing information for students who
            previously studied in - Afghanistan</span>
          <div>
            <div>
              <div>
                <div class="qual-title flex">
                  <h2> Bachelor of Science <span class="code">- BSc</span>  </h2>
                </div>
                <div class="major">
                  <span class="pill">Physics Major</span>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-clock"></i>Duration:</span> 3 years (360 points)
                  </div>
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-cog"></i>Intensity:</span> Full time or part time
                  </div>

                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-pin"></i>Location:</span> Wellington campuses. This
                    programme
                    can be started online if you are outside New Zealand.
                  </div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item qual-dates"><span class="meta-title"><i class="icon-calendar"></i>Key dates:</span>
                    <span class="dates">Apply by <strong>01 Dec 2021</strong> to start studying <strong>28 Feb 2022</strong><br> Apply by
                      <strong>01 May 2022</strong> to start studying <strong>11 Jul 2022</strong><br></span>
                  </div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title">Level of study:</span> Undergraduate
                </div>

                </div>


                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-money"></i>Cost: </span>
                    <div>NZ$34,521.00 for the full programme. Approximately <strong>AF ؋1,911,176.97</strong> at current
                      exchange rates <span> per 120 points </span></div></div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title"><i class="icon-check"></i>Entry: </span> Achieve the International Baccalaureate
                    Diploma, or three GCE Advanced Level passes at C grade, or equivalent. You may also be required to
                    demonstrate your proficiency in English.
                  </div>
                </div>

                <div class="qual-row">
                  <div class="qual-meta-item"><span class="meta-title">Useful secondary school subjects: </span> Sciences and
                    Maths
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        {{> subjects.course-plan }}

        <a href="#" class="learn-more">Learn more <i class="icon-caret-right-thin"></i></a>
      </div>

    </div>
  </section>

  <section class="subject-section" id="">
    <div class="s-promo two-third">
      <div class="promo-content">
        <h3>Scientific skills for life</h3>
        <p>A degree in Physics will help you develop skills for life. You’ll learn how to identify a problem, come up with a theory to explain it, and then test that theory rigorously. You’ll develop your confidence in mathematics and learn to write computer programs. And as making new discoveries is a team effort, you’ll learn to collaborate with others.  </p>
      </div>
      <div class="promo-image">
        <img src="../images/subjects/promo-image.jpg" alt="">
      </div>
    </div>
    <div class="ggrid">
      <div class="c6">
        <div class="s-promo single grey light-green-top-left">
          <h4>Working from home
          </h4>
          <p>In an uncertain world, it helps to know that your learning is supported wherever you are. If you’re not able to work on campus, you can access video lectures, live online tutorials, and remote lab sessions.
          </p>
          <p>Find out more about <a href="#">studying remotely</a>
          </p>
        </div>
      </div>
      <div class="c6">
        <div class="s-promo single grey green-bottom-right">
          <h4>Improve your writing
          </h4>
          <p>Writing is a key part of science. Throughout your degree study, you’ll develop the skills to write for a range of audiences. Whether it’s a lab report for an academic audience or a presentation to a sponsor, you’ll be able to share your discoveries and deliver your message clearly.
          </p>
          <p> If you’d like extra help with your writing, we can help: <a href="#">Student learning</a>
          </p>
        </div>
      </div>
    </div>
  </section>



</div>


<script>
    // build scrollspy menu dynamically
    // should get in to a core library of helpers

    window.addEventListener('DOMContentLoaded', function (e) {

        var list = document.getElementsByClassName('spy');  // read divs tagged as spy in DOM
        var nav = document.getElementById('spyList');       // where to inject menu items

        for (var i = 0; i < list.length; i++){

            // var newNode = document.createElement('a');
            // newNode.innerHTML = list[i].id;
            // newNode.href = '#' + list[i].id + '-' + i;
            // list[i].id = list[i].id + '-' + i;

            var newNode = document.createElement('li');
            newNode.innerHTML = '<a href="#'+ list[i].id + '-' + i +'">'+list[i].id + '</a>';
            newNode.href = '#' + list[i].id + '-' + i;
            list[i].id = list[i].id + '-' + i;

            // newNode.classList.add ("list-group-item", "list-group-item-action");
            if (list[i].classList.contains("isChild")) {
                newNode.classList.add("isAChild");
            }
            if (list[i].classList.contains("isChild1")) {
                newNode.classList.add("isAChild1");
            }
            nav.appendChild(newNode);
        }


        var spy = new Gumshoe('#spyList a', {
        	nested: true,
        	nestedClass: 'active-parent',
        	reflow: true
        });

        //set spy class when scrolled into view
        window.onscroll = function () {
          let isScrolled = false
          const scrollPoint = document.querySelector('.subject-content').offsetTop
          const content = document.querySelector('.subject-content')
          const spy = document.querySelector('.fixed-spy');

          function onScroll () {
            if ( window.pageYOffset > scrollPoint && !isScrolled ) {
              content.classList.add("scroll");
              spy.classList.add("sticky");
              isScrolled = true
            } else if (window.pageYOffset <= scrollPoint && isScrolled) {
              content.classList.remove("scroll");
              spy.classList.remove("sticky");
              isScrolled = false
            }
          }

          onScroll()  // Makes sure that the class is attached on the first render
          return onScroll
        }()

    });



</script>
