/*============================================================================*\
| PROJECT'S SETTINGS
\*============================================================================*/

////
/// Allows to configure project-specific settings that can override `core
/// utilities`' defaults (located in
/// `0-core/variables/_variables._defaults.scss`).
///
/// @group settings





/*= PATHS ====================================================================*/


// Relative from the project's root
$path-fonts:  './fonts';
$path-images: './images';





/*= FONT DEFINITIONS =========================================================*/


// Item's format: $filename: ( $font-family-name, $font-weight )
$fonts: (
  // NationalWebLF-Regular:   ( $font-name-brand, $weight-normal ),
  // NationalWebLF-Semibold:  ( $font-name-brand, $weight-semibold ),
  // NationalWebLF-Extrabold: ( $font-name-brand, $weight-extrabold ),
  vicicons:               ( $font-name-icons, $weight-normal ),
);

/*= COLORS / THEME ===================================================================*/
$brand-light: $green-light-brand !default;
$brand-opaque: $green-nebula !default;
$brand-lighter: $green-brand-weaker !default;
$brand: $green-brand !default;
$brand-darker: $green-bottle !default;
$brand-dark: $black-brand !default;
