/*============================================
=      RESPONSIVE SETTINGS AND VARIABLES     =
============================================*/


/*******************************************************************************

  *DO USE EMs* as a responsive breakpoints!

  ems in media queries are derived from html's font-size = they behave as rems,
  but are more stable across all browsers.

*******************************************************************************/


/* ===== BREAKPOINT DEFINITIONS ============================================= */


$mobile-grid-columns:       4;
$mobile-max-width:          em( 479px );


$mobile-large-grid-columns: 6;
$mobile-large-min-width:    em( 480px );
$mobile-large-max-width:    em( 699px );


$tablet-grid-columns:       8;
$tablet-min-width:          em( 700px );
$tablet-max-width:          em( 989px );


$desktop-grid-columns:      12;
$desktop-min-width:         em( 990px );
$desktop-max-width:         em( $base-width-px - 1 );


$desktop-large-grid-columns:16;
$desktop-large-min-width:   em( $base-width-px );





/* ===== DEVICES AND THEIR RANGES =========================================== */


/** Standard mobile device */

$mobile:                    new-breakpoint( max-width $mobile-max-width $mobile-grid-columns );


/** Mobile with higher resolution */

$mobile-large:              new-breakpoint( min-width $mobile-large-min-width
                                            max-width $mobile-large-max-width $mobile-large-grid-columns );
$mobile-large-and-smaller:  new-breakpoint( max-width $mobile-large-max-width $mobile-large-grid-columns );
$mobile-large-and-bigger:   new-breakpoint( min-width $mobile-large-min-width $mobile-large-grid-columns );

/** Standard tablet */

$tablet:                    new-breakpoint( min-width $tablet-min-width
                                            max-width $tablet-max-width $tablet-grid-columns );
$tablet-and-smaller:        new-breakpoint( max-width $tablet-max-width $tablet-grid-columns );
$tablet-and-bigger:         new-breakpoint( min-width $tablet-min-width $tablet-grid-columns );


/** Small desktop */

$desktop:                   new-breakpoint( min-width $desktop-min-width
                                            max-width $desktop-max-width $desktop-grid-columns );
$desktop-and-smaller:       new-breakpoint( max-width $desktop-max-width $desktop-grid-columns );
$desktop-and-bigger:        new-breakpoint( min-width $desktop-min-width $desktop-grid-columns );


/** Large desktop */

$desktop-large:             new-breakpoint( min-width $desktop-large-min-width $desktop-large-grid-columns );
