/*=========================================
=            GRID SYSTEM (NEAT)           =
=========================================*/


/*******************************************************************************

  Neat's documentation: http://thoughtbot.github.io/neat-docs/latest/

*******************************************************************************/


/** Define settings that will be used by default */

$gutter:              $base-line-height * $base-font-size;
$max-width:           $base-width;


/** Development *ONLY* helper */

$visual-grid:         true;
$visual-grid-color:   $green-bottle-green;
$visual-grid-index:   front;
$visual-grid-opacity: .05;
