/*=========================================
=            GRID SYSTEM (NEAT)           =
=========================================*/

// TODO: Migrate to newest Neat AND Bourbon

/*******************************************************************************

  Neat's documentation: http://thoughtbot.github.io/neat-docs/latest/

*******************************************************************************/


/** Define settings that will be used by default */

$max-width:    $base-width;
$grid-columns: 12; //TODO: Try to remove

$neat-grid: (
  columns: $grid-columns,
  gutter: .5rem
);

// Define different layout types


$layout-grid: (
  columns: 16,
  gutter:  0
);

$content-grid: (
  columns: $grid-columns,
  gutter: 0
);
