.search-result {
  /* Override styles from .formatting class and default green header colours */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  h4 {
    margin-bottom: .25rem !important;
  }
  .search-result-body {
    margin: .75rem 0 .8rem 0 !important;
  }
}
