.tcon {
  // In the top global menu
  .global & {
    height:      1rem;          // reset
    line-height: 1;             // reset
    transform:   scale( 1.15 ); // +15%
  }
}


$sohne: 'sohne' !default;

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-DreiviertelfettKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-DreiviertelfettKursiv.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Extrafett.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Extrafett.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-ExtrafettKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-ExtrafettKursiv.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-FettKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-FettKursiv.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Fett.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Fett.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-KraftigKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-KraftigKursiv.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-LeichtKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-LeichtKursiv.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Kraftig.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Kraftig.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Dreiviertelfett.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Dreiviertelfett.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Buch.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Buch.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Halbfett.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Halbfett.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-HalbfettKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-HalbfettKursiv.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-BuchKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-BuchKursiv.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-ExtraleichtKursiv.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-ExtraleichtKursiv.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Leicht.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Leicht.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sohne';
  src: url('fonts/test/Sohne/TestSohne-Extraleicht.woff2') format('woff2'),
      url('fonts/test/Sohne/TestSohne-Extraleicht.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family:    $sohne;
  font-weight:    $heading-weight;
  color:          $heading-color;
  line-height:    $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

$font-name-brand: 'sohne';
