.theme-victorious {

  p {
    color: #040404 !important;
  }


  .article-item {
    .article-summary {
      .article-tag {
        font-family: $proxima;
      }
      p {
        font-family: $ptserif;
      }
      h4 {
        font-family: $proxima;
        font-weight: 600;
      }
    }
  }



  @include target-ie {
    .layout {
      margin-top: 5rem;
    }
  }

  footer {
    overflow: unset;
  }
}
