.theme-victorious {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $black-victorious;
    font-family: $caslon;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .vict-banner h1,
  .vict-banner h2,
  .vict-banner h3,
  .vict-banner h4,
  .vict-banner h5 {
    font-family: $feijoa;
  }

  p,
  span {
    // font-family: adobe-caslon-pro, serif;
    font-family: $caslon;
    font-weight: 400;
    font-size: 1.1rem;
  }

  .article-item {
    .article-summary {
      .article-tag {
        font-family: $proxima;
      }
      p {
        font-family: $caslon;
      }
      h4 {
        font-family: $proxima;
        font-weight: 600;
      }
    }
  }



  @include target-ie {
    .layout {
      margin-top: 5rem;
    }
  }
}
