---
title: "Prototype | Research IS"

header:
  title:      "Research IA"
  titleMaori: ""
  titleClass: "large"



---

<section class="layout">
    <div class="content-panel">
      <!-- Center 'content' column -->
      <main class="study-hub-dark-green">



        <div class="sector block">
            <div class="centraliser">
              <div class="homepage-intro block formatting study-hub">
                <div class="intro-text">
                  <h1>Research IA</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="links-wrap">

                </div>
              </div>
              <div class="text-promo-panel intro-promo">
                <div class="block formatting centraliser">
                    <div class="text-wrap">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <ul class="links">
                      <li class=""><a href=""> Bacon ipsum dolor amet pork</a></li>
                      <li class=""><a href=""> Bacon ipsum dolor amet pork</a></li>
                      <li class=""><a href=""> Bacon ipsum dolor amet pork</a></li>
                    </ul>
                  </div>


              </div>
            </div>
          </div>
        </div>

        <div class="tiles-panel">
            <div class="centraliser block">
                <div class="updated-tile-grid">
                    <div class="tiles-wrap four-col">
                        <ul>
                            <li class="tile">
                                <a href="{{baseurl}}/research-IA/our-researchers.html">
                                    <h2>Our researchers</h2>
                                    <div class="sub-text">
                                        <!-- <h4>MMHP</h4> -->
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </h4>
                                    </div>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                            <li class="tile">
                                <a href="{{baseurl}}/research-IA/research-degrees.html">
                                    <h2>Research degrees</h2>
                                    <div class="sub-text">
                                        <!-- <h4>MMHP</h4> -->
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </h4>
                                    </div>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                            <li class="tile">
                                <a href="{{baseurl}}/research-IA/partnerships.html">
                                    <h2>Partnerships</h2>
                                    <div class="sub-text">
                                        <!-- <h4>MMHP</h4> -->
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </h4>
                                    </div>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                            <li class="tile">
                                <a href="{{baseurl}}/research-IA/research-strengths.html">
                                    <h2>Research strengths</h2>
                                    <div class="sub-text">
                                        <!-- <h4>MMHP</h4> -->
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </h4>
                                    </div>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="promo-panel pattern">

          <figure class=" photo">


            <img alt="Wellington waterfront" src="https://www.victoria.ac.nz/__data/assets/image/0009/929007/aerial_2000x800.jpg">

            <figcaption>

              <div class="block formatting">
                <h1>Lorem ipsum dolor</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a href="#" class="button primary large">Lorem ipsum</a>
              </div>

            </figcaption>



          </figure>
        </div>



              <!-- Tiled study hub 3 col pattern -->
          <div class="tiles-panel ">
            <div class="centraliser block">
              <div class="updated-tile-grid fixed-height-tiles tiles-study-hub-about">
                <h2>Areas of research expertise</h2>
                <div class="tiles-wrap three-col">
                  <ul>
                    <li class="tile">
                      <a href="">
                        <h2 class="">Architecture and design</h2>
                        <div class="sub-text">
                          <p>Creativity, innovation and exploration are the strengths of our researchers, who specialise in providing a practical focus.</p>
                        </div>
                         <span class="tile-icon">
                           <span class="tile-icon-title"></span>
                           <span><i class="icon-arrow-right"></i></span>
                          </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Arts, humanities and social sciences</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our creative and scholarly research is recognised internationally for its quality and originality.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Business and commerce</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our researchers work closely with New Zealand and international businesses to contribute to better practice across the business, finance, public and community sectors and to develop capability and provide our stakeholders with a global perspective.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Climate Change</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our experts are piecing together the puzzle of climate change and investigating its environmental, social and economic impact and what we can do about it.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Earth and physical sciences</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our earth scientists conduct field work throughout New Zealand and on every continent, while our other researchers are busy in our laboratory and computing facilities.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Ecology and biodiversity</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our researchers work on projects in marine biology, conservation biology, reproductive biology, evolutionary genetics and more.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Education</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our researchers aim to make a difference to people’s chances in life through investigating experiences in educational settings and how they can be improved.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Engineering and mathematical sciences</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>At the international forefront of their fields, our researchers are applying their knowledge to advances in computer science, 'big data' and modern engineering problems, including artificial intelligence and mechatronics.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Health and biomedical sciences</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>Our researchers collabotate with scientists and organisations around the world as they strive to prevent, diagnose and cure human diseases.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>
                    <li class="tile">
                      <a href="">
                        <h2>Law, policy and government</h2>
                        <div class="sub-text">
                          <!-- <h4 class="icon-book">Subjects</h4> -->
                          <p>As New Zealand's global-civic capital city university, Victoria is the country's leading research centre for policy, governance and law, working with government and business groups on national and international issues.</p>
                        </div>
                        <span class="tile-icon">
                          <span class="tile-icon-title"></span>
                          <span><i class="icon-arrow-right"></i></span>
                        </span>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>



        <!-- centred promo panel grey bg -->
        <div class="promo-panel no-pattern white-bg">

          <figure class=" no-pattern">



            <figcaption>
              <div class="block formatting">
                <h1>Lorem ipsum dolor sit</h1>

                </p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                <!-- TODO: Transform to list of links -->
                <p>
                  <a class="button flat" href="#">Lorem</a>
                  <a class="button flat" href="#">Ipsum ut</a>
                </p>
              </div>
            </figcaption>


          </figure>
        </div>


        <!-- <div class="promo-panel">
          <div class="block formatting centraliser">
            <figure class=" ">
              <figcaption>
                <h1>Welcome from the Vice-Chancellor</h1>
                <p>Victoria University of Wellington is New Zealand’s globally ranked capital city university, and will be one of the great global-civic universities.</p>
                <a href="#" title="Play the video about Wellington" class="button large no-icon">Read More</a>
              </figcaption>
              <img alt="Wellington waterfront" src="http://www.victoria.ac.nz/__data/assets/image/0004/286015/wellington-info-evening-wide-3200x1800px.jpg">
            </figure>
          </div>
        </div> -->


      </main>
    </div>
  </section>
