---
title: "Prototype | Research IS"

header:
  title:      "Research IA"
  titleMaori: ""
  titleClass: "large"



---


<!-- 2) Sidebar + Content only -->
<section class="layout centraliser block">

    <!-- Left 'submenu' column -->
    <div class="sidebar">

        <nav class="site" role="navigation">
            <a href="#" class="back hide-on-desktop">
              <span class="icon-back hanging-icon"></span>
              <div>
                <div>Faculty of Humanities and Social Sciences</div>
                <div lang="mi">Te Wāhanga Aronui</div>
              </div>
            </a>

            <!-- <p>No Children</p> -->
            <ul>
              <!-- Parents in descending order -->
              <li><a href="https://www.wgtn.ac.nz/fhss">Faculty's Home</a></li>
              <li><a href="https://www.wgtn.ac.nz/fhss/about">About us</a></li>
              <li><a href="https://www.wgtn.ac.nz/fhss/about/committees-boards">Committees and boards</a></li>

              <li>

                <!-- Previous page -->
                <!-- <a href="https://www.wgtn.ac.nz/fhss/about/committees-boards">Committees and boards</a> -->

                <!-- Subpages -->
                <ul>

                  <li>

                    <!-- Parent page -->
                    <a href="{{baseurl}}/research-IA/home.html">
                      Research IA
                    </a>

                    <!-- All the children -->
                    <ul>
                      <li class="has-subpages ">
                        <a href="{{baseurl}}/research-IA/our-researchers.html" class="selected">
                          Our researchers
                        </a>
                      </li><li class="has-subpages">
                        <a href="{{baseurl}}/research-IA/research-degrees.html">
                          Research degrees
                        </a>
                      </li>
                      <li class="has-subpages" >
                        <a href="{{baseurl}}/research-IA/partnerships.html">
                          Partnerships
                        </a>
                      </li>
                      <li class="has-subpages">
                        <a href="{{baseurl}}/research-IA/research-strengths.html" class="">
                          Research strengths
                        </a>
                      </li>

                    </ul>
                  </li>

                </ul>

              </li>
            </ul>
          </nav>




    </div>

    <style>
        .grid figure {
          cursor: pointer;
        }

        .grid figure a {
          color: inherit;
          text-decoration: none;
        }
        .grid figure a h3 {
          color: #115737;
          text-decoration: none;
        }
      </style>

    <!-- Center 'content' and right 'widget' columns -->
    <div class="content-panel">

      <!-- Center 'content' column -->
      <main>
        <div class="block formatting">

          <article class="featured">
            <h1>Our Researchers</h1>

            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

          </article>

          <section class="grid">

            {{#>_figure}}
            <h3>Featured researchers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Find an expert</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Research performance and rankings</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Research publications</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
              <a href="{{baseurl}}/research-IA/research-culture.html">
                <h3>Research culture</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </a>
            {{/_figure}}

            {{#>_figure}}
            <h3>Careers at Victoria</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Connect with us </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

          </section>

        </div>
      </main>

    </div>

  </section>
