---
title: "Prototype | Research IS"

header:
  title:      "Research IA"
  titleMaori: ""
  titleClass: "large"


---


<!-- 2) Sidebar + Content only -->
<section class="layout centraliser block">
  
    <!-- Left 'submenu' column -->
    <div class="sidebar"> 
      
        <nav class="site" role="navigation">
            <a href="#" class="back hide-on-desktop">
              <span class="icon-back hanging-icon"></span>
              <div>
                <div>Faculty of Humanities and Social Sciences</div>
                <div lang="mi">Te Wāhanga Aronui</div>
              </div>
            </a>
          
            <!-- <p>No Children</p> -->
            <ul>
              <!-- Parents in descending order -->
              <li><a href="http://www.victoria.ac.nz/fhss">Faculty's Home</a></li>
              <li><a href="http://www.victoria.ac.nz/fhss/about">About us</a></li>
              <li><a href="http://www.victoria.ac.nz/fhss/about/committees-boards">Committees and boards</a></li>
          
              <li>
          
                <!-- Previous page -->
                <!-- <a href="http://www.victoria.ac.nz/fhss/about/committees-boards">Committees and boards</a> -->
          
                <!-- Subpages -->
                <ul>
          
                  <li>
          
                    <!-- Parent page -->
                    <a href="{{baseurl}}/research-IA/home.html">
                      Research IA
                    </a>
          
                    <!-- All the children -->
                    <ul>
                      <li class="has-subpages ">
                        <a href="{{baseurl}}/research-IA/our-researchers.html" >
                          Our researchers
                        </a>
                      </li><li class="has-subpages">
                        <a href="{{baseurl}}/research-IA/research-degrees.html" class="selected">
                          Research degrees
                        </a>
                      </li>
                      <li class="has-subpages" >
                        <a href="{{baseurl}}/research-IA/partnerships.html">
                          Partnerships
                        </a>
                      </li>
                      <li class="has-subpages">
                        <a href="{{baseurl}}/research-IA/research-strengths.html" class="">
                          Research strengths
                        </a>
                      </li>

                    </ul>
                  </li>
          
                </ul>
          
              </li>
            </ul>
          </nav>
          



    </div>
  
    <!-- Center 'content' and right 'widget' columns -->
    <div class="content-panel">
  
      <!-- Center 'content' column -->
      <main>
        <div class="block formatting">
  
          <article class="featured">
            <h1>Research degrees</h1>
  
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  
          </article>
  
          <section class="grid">
            
            {{#>_figure}}
            <h3>Explore research degrees and PhD study</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}
  
            {{#>_figure}}
            <h3>How to apply</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Funding your study </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}
  
            {{#>_figure}}
            <h3>Choosing a supervisor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Research areas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Postgraduate research community </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}
  
          </section>
  
        </div>
      </main>
  
    </div>
  
  </section>
  