---
title: "Prototype | Research IS"

header:
  title:      "Research IA"
  titleMaori: ""
  titleClass: "large"

---


<!-- 2) Sidebar + Content only -->
<section class="layout centraliser block">

    <!-- Left 'submenu' column -->
    <div class="sidebar">

        <nav class="sidemenu" role="navigation">
          <ul>
            <!-- Root (1st) level items under the given Hub -->
            <li><a href="#" title="">Staff Support</a></li>

            <li class="has-submenu">
              <a href="#" title="">Research and ethics integrity<span class="btn-expander" title="Show subpages in 'Research and ethics integrity'"></span></a>

              <!-- 2nd level -->
              <ul>
                <li><a href="#" title="">General rules</a></li>
                <li><a href="#" title="">Staff</a></li>
                <li><a href="#" title="">Research and ethics integrity manual</a></li>
                <li><a href="#" title="">Responsibilities</a></li>
              </ul>
            </li>

            <li class="has-submenu active expanded">
              <a href="/research-IA/engage-our-talent.html" title="">New research staff<span class="btn-expander" title="Hide subpages in 'New research staff'"></span></a>

              <!-- 2nd level -->
              <ul>
                <li><a href="#" title="">Welcome ceremony</a></li>
                <li><a href="#" title="">Privacy rules</a></li>
                <li><a href="#" title="">Research departments</a></li>

                <li class="has-submenu active expanded">
                  <a href="#" title="">Contacts<span class="btn-expander" title="Hide subpages in 'New research staff'"></span></a>

                    <!-- 3rd level -->
                    <ul>
                      <li><a href="#" title="">Directorate</a></li>
                      <li class="active"><a href="#" title="">General assistance</a></li>
                      <li><a href="#" title="">Emergency issues</a></li>
                      <li><a href="#" title="">E-mail and phone</a></li>
                      <li><a href="#" title="">Guidelines</a></li>
                    </ul>

                </li>

                <li><a href="#" title="">Organisational structure</a></li>
                <li><a href="#" title="">Human resources and hiring process</a></li>
              </ul>
            </li>

            <li><a href="#" title="">Commercialise your research</a></li>
            <li><a href="#" title="">Research funding and grants</a></li>

            <li class="has-submenu">
                <a href="#" title="">PBRF<span class="btn-expander" title="Show subpages in 'PBRF'"></span></a>

                <!-- 2nd level -->
                <ul>
                  <li><a href="#" title="">Welcome ceremony</a></li>
                  <li><a href="#" title="">Privacy rules</a></li>
                  <li><a href="#" title="">Research departments</a></li>

                  <li class="has-submenu">
                    <a href="#" title="">Contacts</a>

                      <!-- 3rd level -->
                      <ul>
                        <li><a href="#" title="">Directorate</a></li>
                        <li><a href="#" title="">General assistance</a></li>
                        <li><a href="#" title="">Emergency issues</a></li>
                        <li><a href="#" title="">E-mail and phone</a></li>
                        <li><a href="#" title="">Guidelines</a></li>
                      </ul>

                  </li>

                  <li><a href="#" title="">Organisational structure</a></li>
                  <li><a href="#" title="">Human resources and hiring process</a></li>
                </ul>
              </li>

            <li class="has-submenu">
              <a href="#" title="">Workshops, resources and support<span class="btn-expander" title="Show subpages in 'Workshops, resources and support'"></span></a>

              <ul>
                <li><a href="#" title="">Workshop</a></li>
                <li><a href="#" title="">Resources</a></li>
                <li><a href="#" title="">Support</a></li>
                <li><a href="#" title="">Events</a></li>
                <li><a href="#" title="">Dates</a></li>
                <li><a href="#" title="">Contacts</a></li>
                <li><a href="#" title="">Issues resolution</a></li>
                <li><a href="#" title="">Framework</a></li>
                <li><a href="#" title="">Best practices</a></li>
              </ul>
            </li>

            <li><a href="#" title="">Supervising research students</a></li>
          </ul>
        </nav>

    </div>

    <!-- Center 'content' and right 'widget' columns -->
    <div class="content-panel">

      <!-- Center 'content' column -->
      <main>
        <div class="block formatting">

          <article class="featured">
            <h1>Research culture</h1>

            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

          </article>

          <section class="grid">

            {{#>_figure}}
            <h3>Staff support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Research and ethics integrity</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>New research staff</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Commercialise your research</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Research funding and grants</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>PBRF</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Workshops, resources and support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

            {{#>_figure}}
            <h3>Supervising research students</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            {{/_figure}}

          </section>

        </div>
      </main>

    </div>

  </section>
