/*============================================================================*\
| PROJECT-RELATED VARIABLES
\*============================================================================*/

////
/// Set of variables unique for this project.
///
/// **Note**: As a rule of thumb, *every variable* that is used by two and more
/// distinictive components should be placed here.
///
/// @group settings



/*= LAYOUT ===================================================================*/


$base-max-content-height: 48rem;



/*= TYPOGRAPHY ===============================================================*/


/** Links & Hovers */

$navigation-primary-item-size: 1.2rem !default;
$navigation-letter-spacing: $heading-letter-spacing !default;

$icon-weakest-color: $grey-silver-chalice !default;

$base-hover-opacity:       .9;


/** Margins and paddings */

$column-padding:     1.25rem;

$base-spacing:       $text-line-height * 1rem;


/** verticale padding **/


/** Imagery */

$media-inline-width:          17rem;
$media-inline-portrait-width: 10rem;


/** Miscs */

// Transitions and animations
$transition-timeout: 200ms; //update in toolkit.js(7)
