/*============================================================================*\
| TABLE PROPERTIES
\*============================================================================*/

////
/// Properties related to the table appearance.
///
/// @group tables




/// @prop {border} [$border-width-thin solid $grey-alto]
$table-border: $border-width-thin solid $grey-alto !default;

/// @prop {color} [$background-highlight-light]
$table-heading-background: $background-highlight-light !default;

/// @prop {number (in rem)} [$gap-half]
$table-cell-padding: $gap-half !default;




