/*============================================================================*\
| BUTTONS' PROPERTIES
\*============================================================================*/

////
/// Variables and properties to style buttons.
///
/// @group buttons



/*= GENERAL APPEARANCE =======================================================*/


/// @prop {size (rem)} [$radius-small] - Button's corner radius.
$button-corner-radius:       $radius-small !default;

/// @prop {font-weight} [$weight-semibold] - Thickness of the button's text.
$button-text-weight:         $weight-semibold !default;

/// @prop {font-family} [$heading-family] - Button's text font family stack.
$button-text-family:         $heading-family !default;

/// @prop {size (rem)} [.125rem]
///   - Width of the border around the button, if applied.
$button-border-width:        .125rem !default;





/*= TYPE VARIATIONS ==========================================================*/


// Default button
$button-color:               $grey-alto !default;
$button-hover-color:         $grey-silver !default;

// Primary button
$button-primary-color:       $blue-azure !default;
$button-primary-hover-color: $blue-st-tropaz !default;

// Negative button
$button-danger-color:        $red-roof-terratcotta !default;
$button-danger-hover-color:  $red-tamarillo !default;

// Disabled button
$button-disabled-text-color: $grey-silver-chalice !default; // No hover - cannot be clicked




