/*============================================================================*\
| SIZES, LENGTHS AND DIMENSIONS
\*============================================================================*/

////
/// Defines variables helping with sizes and scales.
///
/// @group sizes





/*= SCALING RATIOS ===========================================================*/


/// @prop {Number} -
///   Ration coeficient that can be used to scale lengths and sizes

$ratio-minor-second:     1.067;
$ratio-major-second:     1.125;
$ratio-minor-third:      1.2;
$ratio-major-third:      1.25;
$ratio-perfect-fourth:   1.333;
$ratio-augmented-fourth: 1.414;
$ratio-perfect-fifth:    1.5;
$ratio-minor-sixth:      1.6;
$ratio-golden:           1.618;
$ratio-major-sixth:      1.667;
$ratio-minor-seventh:    1.778;
$ratio-major-seventh:    1.875;
$ratio-octave:           2;
$ratio-major-tenth:      2.5;
$ratio-major-eleventh:   2.667;
$ratio-major-twelfth:    3;
$ratio-double-octave:    4;
