/*============================================================================*\
| LISTS
\*============================================================================*/

////
/// Ordered, unordered and other types of lists and their appereance.
///
/// @group lists





/*= BULLET POINT DECORATIONS =================================================*/


/// @property {color} [$green-brand-weaker]
$bulletline-color:        $green-brand-weaker !default;

/// @property {size (rem)} [$gap-small] - Margin from the left side of the list.
$bulletline-margin-left:  $gap-small !default;

/// @property {size (rem)} [$gap-half] -
///   Margin between the bullet point and the text/item.
$bulletline-margin-right: $gap-half !default;

/// @property {size (rem)} [1rem] - Width of the bullet line.
$bulletline-width:        1rem !default;

/// @property {size (rem)} [$border-width-small] - Bullet line's thickness.
$bulletline-thickness:    $border-width-small !default;





