/*============================================================================*\
| LAYOUT-RELATED VARIABLES
\*============================================================================*/

////
/// Variables and properties considered part of the layout and box-model.
///
/// @group layout


/// @prop {Boolean} - Whether or not should be the footer sticky
$layout-sticky-footer: true !default;





/*= POSITIONING ==============================================================*/


/// @prop {Number} - Z-axis position indexes
$z-index-max:       9999 !default;
$z-index-top:       10 !default;
$z-index-middle:    5 !default;
$z-index-lower:     1 !default;
$z-index-default:   0 !default;





/*= SPACING ==================================================================*/


/// @prop {Size in rem} - Default spacing options for margins and paddings.
$gap:            1.5rem !default;


$gap-tiny:       .125rem !default;
$gap-third:      $gap / 3 !default;
$gap-half:       $gap / 2 !default;
$gap-larger:     1.85rem !default;
$gap-double:     2 * $gap !default;
$gap-triple:     3 * $gap !default;


$gap-horizontal: $gap !default;
$gap-vertical:   $gap !default;




