/*============================================================================*\
| LAYOUT-RELATED VARIABLES
\*============================================================================*/

////
/// Variables and properties considered part of the layout and box-model.
///
/// @group layout






/*= POSITIONING ==============================================================*/


/// @prop {Number} - Z-axis position indexes
$z-index-max:       9999 !default;
$z-index-top:       10 !default;
$z-index-middle:    5 !default;
$z-index-lower:     1 !default;
$z-index-default:   0 !default;
