/*============================================================================*\
| ICONS
\*============================================================================*/

////
/// Variables and properties to define icons.
///
/// @group icons





/*= ICON CODES ===============================================================*/


/// @prop {size (em)} [.5em] -
///   Relative margin between an icon and another element.
$icon-margin:       .5em !default;

/// @prop {string} ['icon-'] - A prefix that will be assigned to every available icon. Then, an icon can be used as: [prefix][icon-code] class.
$icon-class-prefix: 'icon-' !default;





/*= ICON CODES ===============================================================*/


/// @prop {Map}
///   - Maps unicode hexadecimal codes between icon font and CSS.
$default-icon-codes: (
  'search':           '\e800',
  'mail':             '\e801',
  'heart':            '\e802',
  'check':            '\e803',
  'star':             '\e804',
  'help':             '\e805',
  'people':           '\e806',
  'user':             '\e807',
  'info':             '\e808',
  'home':             '\e809',
  'back':             '\e80A',
  'pictures':         '\e80B',
  'popup':            '\e80C',
  'clock':            '\e80D',
  'tag':              '\e80E',
  'book':             '\e80F',
  'book-open':        '\e810',
  'pin':              '\e811',
  'vcard':            '\e812',
  'chat':             '\e813',
  'flag':             '\e814',
  'external':         '\e815',
  'printer':          '\e816',
  'camera':           '\e817',
  'lock':             '\e818',
  'lock-open':        '\e819',
  'phone':            '\e81A',
  'attention':        '\e81B',
  'resize-up':        '\e81C',
  'resize-down':      '\e81D',
  'mic':              '\e81E',
  'cog':              '\e81F',
  'share':            '\e820',
  'basket':           '\e821',
  'comment':          '\e822',
  'caret-down-thin':  '\e823',
  'caret-left-thin':  '\e824',
  'caret-right-thin': '\e825',
  'caret-up-thin':    '\e826',
  'caret-down':       '\e827',
  'caret-left':       '\e828',
  'caret-right':      '\e829',
  'caret-up':         '\e82A',
  'triangle-down':    '\e82B',
  'triangle-left':    '\e82C',
  'triangle-right':   '\e82D',
  'triangle-up':      '\e82E',
  'refresh':          '\e82F',
  'graduation-cap':   '\e830',
  'ticket':           '\e831',
  'megaphone':        '\e832',
  'calendar':         '\e833',
  'globe':            '\e834',
  'dots':             '\e835',
  'arrow-down':       '\e836',
  'arrow-left':       '\e837',
  'layout':           '\e838',
  'attach':           '\e839',
  'menu':             '\e83A',
  'arrow-right':      '\e83B',
  'arrow-up':         '\e83C',
  'edit':             '\e83D',
  'download':         '\e83E',
  'audio':            '\e83F',
  'quote-down':       '\e840',
  'quote-up':         '\e841',
  'list':             '\e842',
);

/// @prop {Map} [$default-icon-codes] -
///   To add icon codes to the existing list, simply merge you map with `$default-icon-codes` and assign to `$icon-codes`.
$icon-codes: $default-icon-codes !default;




