/*============================================
=      RESPONSIVE SETTINGS AND VARIABLES     =
============================================*/

/*******************************************************************************

  *DO USE EMs* as a responsive breakpoints!

  ems in media queries are derived from html's font-size = they behave as rems,
  but are more stable across all browsers.

*******************************************************************************/


/* ===== BREAKPOINT DEFINITIONS ============================================= */


// TODO: Order properly!
$mobile-max-width:          30em;
$mobile-layout-ratio:       .85;


$mobile-large-min-width:    30em;
$mobile-large-max-width:    43em;
$mobile-large-layout-ratio: .9;


$tablet-min-width:          43em;
$tablet-max-width:          61em;
$tablet-layout-ratio:       .95;

$desktop-min-width:         61em;
$desktop-max-width:         $base-width; // Update to EM

$desktop-large-min-width:   $base-width; // Update to EM




/* ===== BREAKPOINTS ======================================================== */


// Small-screen mobile devices

$mobile:                    'screen and ( max-width: #{$mobile-max-width} )';


// Medium-size to large mobile devices

$mobile-large:              'screen and ( max-width: #{$mobile-large-max-width} ) and ( min-width: #{$mobile-large-min-width} )';
$mobile-large-and-smaller:  'screen and ( max-width: #{$mobile-large-max-width} )';
$mobile-large-and-bigger:   'screen and ( min-width: #{$mobile-large-min-width} )';


// Tablet devices

$tablet:                    'screen and ( max-width: #{$tablet-max-width} ) and ( min-width: #{$tablet-min-width} )';
$tablet-and-smaller:        'screen and ( max-width: #{$tablet-max-width})';
$tablet-and-bigger:         'screen and ( min-width: #{$tablet-min-width})';


// Smaller desktop devices

$desktop:                   'screen and ( max-width: #{$desktop-max-width} ) and ( min-width: #{$desktop-min-width} )';
$desktop-and-smaller:       'screen and ( max-width: #{$desktop-max-width} )';
$desktop-and-bigger:        'screen and ( min-width: #{$desktop-min-width} )';


// Large desktop devices

$desktop-large:             'screen and ( min-width: #{$desktop-large-min-width} )';

@mixin breakpoint( $devices-range ) {
  @media #{$devices-range} {
    @content;
  }
}
