/*============================================================================*\
| BACKGROUNDS
\*============================================================================*/

////
/// Solid, opaque and gradient backgrounds.
///
/// @group backgrounds





/*= SEMI-OPAQUE ==============================================================*/


/// @type {rgba} - Makes the background layer `n`% darker.
$background-opaque-dark:    rgba( $black, $dark-ratio ) !default;
$background-opaque-darker:  rgba( $black, $darker-ratio ) !default;
$background-opaque-darkest: rgba( $black, $darkest-ratio ) !default;


/// @type {rgba} - Makes the background layer `n`% lighter.
$background-opaque-light:    rgba( $white, $light-ratio ) !default;
$background-opaque-lighter:  rgba( $white, $lighter-ratio ) !default;
$background-opaque-lightest: rgba( $white, $lighter-ratio ) !default;

// Full-screen overlays
/// @type {rgba} - Makes the background only slightly see through (useful for modals).
$background-overlay-dark:     rgba( $black, .75 ) !default;

$background-overlay-light:    rgba( $white, .75 ) !default;
$background-overlay-lightest: rgba( $white, .9 ) !default;





/*= SOLID ====================================================================*/


/// @type {color} - Background colours variations.
$background-light:              $grey-gallery !default;

$background-info-light:         $blue-humming-bird !default;
$background-info-light-darker:  _shade( $background-info-light, $dark-percentage ) !default;

$background-brand-dark:         $black-brand !default;
$background-brand-dark-lighter: _tint( $background-brand-dark, $light-percentage ) !default;

$background-brand:              $green-brand !default;
$background-brand-darker:       _shade( $background-brand, $darker-percentage ) !default;

$background-success:            $green-tara !default;
$background-warning:            $yellow-pearl-lusta !default;
$background-danger:             $red-oyster-pink !default;
$background-highlight-light:    $green-nebula !default;




