.p-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint(desktop) {
    justify-content: space-between;
    flex-direction: row;
  }

  &.p-search__grey {
    background-color: #eee;
  }
}

.p-search__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .p-search__tab {
    position: relative;
    margin-right: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;

    @include hoverify() {
      opacity: .8;
    }

    a {
      color: $black-tundora;
    }

    &.active {
      a {
        position: relative;
        color: $green-brand;
        font-weight: 600;

        &:after {
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 80%;
          height: 4px;
          background-color: $green-brand;

        }
      }

    }


    &:not(:last-child) {

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: '|';
        color: $green-brand;
      }
    }
  }
}

.p-search__main {
  max-width: 100%;

  @include breakpoint(desktop) {
    max-width: 42rem;
  }

  @include breakpoint(1200px) {
    max-width: 52rem;
  }

  @include breakpoint(desktop-large) {
    max-width: 60rem;
  }
}

.p-search__aside {
  padding-bottom: $gap;

  @include breakpoint(desktop) {
    flex-grow: 1;
    padding-left: 30px;
    width: 10%;
  }

  @include breakpoint(desktop-large) {
    padding-left: 0;
    max-width: 350px;
  }
}
