<!doctype html>
<html lang="">
<head>

  {{{ header-start }}}

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <!-- Fav icons compatible with all major browsers and devices -->
  {{#if fabricator}}
  <link rel="icon" type="image/x-icon" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}favicon.ico">
  {{else}}
  <link rel="apple-touch-icon" sizes="180x180" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/favicon-16x16.png">
  <link rel="manifest" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}site.webmanifest">
  <link rel="mask-icon" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  {{/if}}

  {{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}styleguide-assets/f.css">{{/if}}

  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}toolkit.css">
  <!-- /toolkit styles -->

  <script>
      /** Allows to add custom scripts that will be executed inside the jQuery's $(document).ready().  */
      var onDocumentReadyFunctions = [];
      function runFunctionOnDocumentReady( fn ) { onDocumentReadyFunctions.push( fn ); }
  </script>

  {{{ header-end }}}

</head>
<body>
  {{{ body-start }}}

  <!-- If 'fabricator=true' is present in page's annotation. -->

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


  <!-- If 'fabricator=false' is present or attribute is not present at all in the annotation. -->
  {{#unless fabricator}}

    {{> navigation.global-menu}}

    {{#if header }}
      {{> _header }}
    {{else}}
      <!-- Default fallback for header when not specified in the template. -->
      {{> _header header=header-default }}
    {{/if}}

  {{/unless}}

  <!-- 'Go up' button -->
  <a href="javascript:;" id="btn-up" title="Go to the top of the page" class="btn-floating sticky bottom" tabindex="-1"><span class="icon-arrow-up"></span></a>

  <!-- 'Edit page' button -->
  <a href="/_edit" id="btn-admin" style="display: none;" title="Edit the page in Squiz administration" class="btn-floating top" tabindex="-1"><span class="icon-edit"></span></a>



	{% body %}


  <!-- If 'fabricator=false' is present or attribute is not present at all in the annotation. -->
  {{#unless fabricator}}

    {{#if footer }}
      {{> _footer }}
    {{else}}
      <!-- Default fallback for footer when not specified in the template. -->
      {{> _footer footer=footer-default }}
    {{/if}}

  {{/unless}}

	{{#if fabricator}}
  </div>


	<script src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}styleguide-assets/f.js"></script>

  <script type="text/javascript">
    // Prefix tag with 'f-'
    Prism.plugins.customClass.map({
      tag: 'f-tag'
    })
  </script>
  {{/if}}

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  {{#unless excludeToolkitScript}}
	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}toolkit.js"></script>
	<!-- /toolkit scripts -->
  {{/unless}}

  {{{ body-end }}}

</body>
</html>
