<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}{{else}}.{{/if}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}{{else}}.{{/if}}/assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->

</head>
<body>


  <!-- If 'fabricator=true' is present in page's annotation. -->

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


  <!-- If 'fabricator=false' is present or attribute is not present at all in the annotation. -->
  {{#unless fabricator}}

    {{> navigation.global}}
    {{>_header}}

  {{/unless}}




	{% body %}




  <!-- If 'fabricator=false' is present or attribute is not present at all in the annotation. -->
  {{#unless fabricator}}

    {{> _footer }}

  {{/unless}}



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha256-ImQvICV38LovIsvla2zykaCTdEh1Z801Y+DSop91wMU=" crossorigin="anonymous"></script>

	{{#if fabricator}}
		</div>
	<script src="{{#if baseurl}}{{baseurl}}{{else}}.{{/if}}/assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{baseurl}}{{else}}.{{/if}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
