<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>
  <link rel="icon" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}favicon.ico" type="image/x-icon" />

	{{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}styleguide-assets/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}toolkit.{{#if theme}}{{theme}}.{{/if}}css">
  <!-- /toolkit styles -->

  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
</head>
<body>


  <!-- If 'fabricator=true' is present in page's annotation. -->

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


  <!-- If 'fabricator=false' is present or attribute is not present at all in the annotation. -->
  {{#unless fabricator}}



    {{#if _main-header }}
      {{> _main-header }}
    {{else}}
      <!-- Default fallback for header when not specified in the template. -->
      {{> _header header=header-default }}
    {{/if}}

  {{/unless}}


  <!-- 'Go up' button -->
  <a href="javascript:;" id="btn-up" title="Go to the top of the page" class="btn-floating sticky bottom" tabindex="-1"><span class="icon-arrow-up"></span></a>

  <!-- 'Edit page' button -->
  <a href="javascript:;" style="display: none;" id="btn-admin" title="Go to the top of the page" class="btn-floating top" tabindex="-1"><span class="icon-edit"></span></a>



	{% body %}





  <!-- If 'fabricator=false' is present or attribute is not present at all in the annotation. -->
  {{#unless fabricator}}


          <footer role="contentinfo">




            <section class="footer-secondary dark">



                <!-- Lineage nope -->

                <script src="https://d3f5l8ze0o4j2m.cloudfront.net/m87/k33spt.js"></script>
            <script>
                (function () {
                    window.onload = function(){
                        var frameName = new ds07o6pcmkorn({
                            openElementId: "#shielded"
                        });
                        frameName.init();
                    }
                })();
            </script>

            <style>
                #shielded {
                    width: 50px;
                    height: 50px;
                }
                @media only screen and (min-width: 768px) {
                    #shielded {
                        float: right;
                    }
                }
            </style>
       <div class="centraliser">
              <div class="site_links wrap block">
                  <div class="cols">

                      <h2><a href="https://intranet.wgtn.ac.nz/staff">Intranet</a></h2>
                      <ul class="link_list">
                          <li><a href="https://intranet.wgtn.ac.nz/staff/your-university">Your university</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/projects">Strategic projects</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/human-resources">Human resources</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/services-resources">Central services</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/support-students">Supporting students</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/research">Research</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/learning-teaching">Learning and teaching</a></li>
                          <li><a href="https://www.wgtn.ac.nz/about/campuses-facilities/faculties-schools?_ga=2.112337284.160379028.1616438852-892911497.1616438852">Faculties and schools</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/news-events">News and events</a></li>
                      </ul>
                  </div>
                  <div class="cols sml-offset">
                      <h2><a href="#">Tools</a></h2>
                      <ul class="link_list">
                          <li><a href="https://intranet.wgtn.ac.nz/staff?toolbar">myTools for staff</a></li>
                          <li><a href="https://outlook.com/vuw.ac.nz">Staff email</a></li>
                          <li><a href="http://www.victoria.ac.nz/myworkspace/staff/">My workspace</a></li>
                          <li><a href="https://www.wgtn.ac.nz/service?_ga=2.142290226.160379028.1616438852-892911497.1616438852">Staff Service Centre</a></li>
                          <li><a href="https://intranet.wgtn.ac.nz/staff/services-resources/student-academic-services/room-bookings">Room bookings</a></li>
                      </ul>
                  </div>
                  <div class="cols sml-offset">
                      <h2><a href="https://intranet.wgtn.ac.nz/staff/your-university/policy">Policies</a></h2>
                      <ul class="link_list">
                          <li><a href="https://www.wgtn.ac.nz/about/governance/policy/policies?_ga=2.198878319.1523491010.1616955664-892911497.1616438852">A-Z policies</a></li>
                      </ul>
                  </div>


                  <div class="cols lrg-offset">
                       <h2><a href="https://www.wgtn.ac.nz/about/contacts">Phone numbers</a></h2>
                      <ul class="link_list">
                          <li>In an emergency <a href="tel:044639999">Ext. 8888 or 463 999</a></li>
                          <li>Reception <a href="tel:044721000">Ext.0</a></li>
                          <li>Campus Care <a href="tel:044635398">Ext. 5398</a></li>
													<li>Service Desk <a href="tel:044635050">Ext. 5050</a></li>
													<li>Facilities management <a href="tel:0800100140">0800 100 140</a></li>
													<li><a href="https://www.wgtn.ac.nz/about/contacts?_ga=2.231834847.1523491010.1616955664-892911497.1616438852">Contacts and directories</a></li>
                      </ul>
                  </div>
                  <div class="cols">

                      <h2><a href="https://www.wgtn.ac.nz/news">Campuses</a></h2>
                      <ul class="link_list">
                          <li><a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/kelburn?_ga=2.198878319.1523491010.1616955664-892911497.1616438852">Kelburn campus</a></li>
                          <li><a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/pipitea?_ga=2.139685747.1523491010.1616955664-892911497.1616438852">Pipitea campus</a></li>
                          <li><a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/te-aro?_ga=2.139685747.1523491010.1616955664-892911497.1616438852">Te Aro campus</a></li>
                          <li><a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/auckland?_ga=2.139685747.1523491010.1616955664-892911497.1616438852">Auckland campus</a></li>
                      </ul>

                      <!--      <style>
                              @media(min-width:750px) {
                                  .contact-tracing {
                                      display:none;
                                  }
                              }
                          </style>
                     <h2 style="" class="contact-tracing">

                           <a href="https://cms.wgtn.ac.nz/covid-19/archive/contact-tracing">Contact tracing</a></h2>
                      <ul class="link_list">
                          <li><a href="https://cms.wgtn.ac.nz/covid-19/archive/contact-tracing" class="button primary">Contact tracing</a></li>
                      </ul>-->
                  </div>
              </div>
       </div>







            </section><script src="https://d3f5l8ze0o4j2m.cloudfront.net/m87/k33spt.js"></script>
            <script>
                (function () {
                    window.onload = function(){
                        var frameName = new ds07o6pcmkorn({
                            openElementId: "#shielded"
                        });
                        frameName.init();
                    }
                })();
            </script>

            <style>
                #shielded {
                    width: 50px;
                    height: 50px;
                }
            </style><section class="footer-primary">
                    <div class="centraliser">

                        <div class="block">

                            <!-- Smaller version of logotype -->
                            <div class="logo">
                              <a href="https://www.wgtn.ac.nz/" title="Victoria University of Wellington homepage">
                                <img class="logo" src="https://cms.wgtn.ac.nz/__data/assets/git_bridge/0005/1778018/dist/images/new/v2/logo-white-full.svg" alt="Te Heranga Waka – Wellington University logo">
                              </a>
                            </div>
                            <!-- Global contacts -->
                            <ul class="contacts">
                                <li>
                                    <a title="Call Victoria about general enquiries" href="tel:+6444721000">+64 4 472 1000</a>
                                </li>
                                <li>
                                    <a title="Write Victoria an email" href="mailto:info@vuw.ac.nz">info@vuw.ac.nz</a>
                                </li>
                                <li>
                                    Enrolments: <a title="Call Victoria regarding enrolments" href="tel:+64800040404"> 0800 04 04 04</a>
                                </li>
                                <li>
                                    Emergency: <a title="Call in case of emergency" href="tel:+6444639999">+64 4 463 9999</a> or ext. 8888 (internal)
                                </li>
                            </ul>

                            <img src="/__data/assets/image/0004/1748434/custom-logo.png" id="shielded" alt="Shielded logo">
                        </div>

                        <div class="block small">

                            <nav role="navigation">
                                <ul role="menubar" class="minilinks">
                                    <li role="menuitem"><a title="See ..." href="https://www.wgtn.ac.nz/site-info">Site info</a></li>
                                    <li role="menuitem"><a title="See ..." href="https://www.wgtn.ac.nz/site-info/site-map">Site map</a></li>
                                    <li role="menuitem"><a title="See ..." href="https://www.wgtn.ac.nz/site-info/feedback">Feedback</a></li>
                                    <li role="menuitem"><a title="See ..." href="https://www.wgtn.ac.nz/site-info/glossary">Glossary</a></li>
                                </ul>
                            </nav>

                            <small class="copyright">Copyright © Victoria University of Wellington, New Zealand</small>

                        </div>

                    </div>
                </section>



            </footer>



  {{/unless}}

	{{#if fabricator}}
  </div>

	<script src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}styleguide-assets/f.js"></script>

  <script type="text/javascript">
    // Prefix tag with 'f-'
    Prism.plugins.customClass.map({
      tag: 'f-tag'
    })
  </script>


  {{/if}}

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{baseurl}}/{{else}}{{/if}}toolkit.js"></script>
  <!-- /toolkit scripts -->


</body>
</html>
