---
notes: >

  Card stack is used when you have vertically stacked, full width cards. They have a few modifiers..

---

{{#>_partials.stackedcard
    intro="Study Software Engineering and Computer Science and be at the forefront of the information revolution."
    title="Default Card in Stack"
    url="https://www.wgtn.ac.nz/explore/study-areas/software-and-computer-science"
    links="Study options | Software and Computer Science, People | Software and Computer Science"
    }}

    <p>Study Software Engineering and Computer Science and be at the forefront of the information revolution. ... Find out what it’s like to study Software and Computer Science at Victoria from two students and a lecturer.</p>
{{/_partials.stackedcard}}
