--- 
notes: > 

  Card stack is used when you have vertically stacked, full width cards. They have a few modifiers..

---


<div class="tiles-panel">
  <div class="centraliser block">
    {{#>_partials.stackedcard
        classModifier="c-stack--profile"
        title="Dr Ina Reichenberger"
        image="/images/staff-profile.jpg"
        meta="true"
        email="ina.reichenberger"
        intro=""
        url="https://www.victoria.ac.nz/som/about/staff/ina-reichenberger"
        }}

        <header class="formatting">
            <p class="subtitle">
                <strong>Lecturer</strong> <span>School of Management</span>
            </p>
        </header>
    {{/_partials.stackedcard}}
  </div>
</div>
