---
notes: >

  Programme stack has a left panel added. It uses c-stack-flexin similar to profile card to add a bleed so the border is seemless.
  The panel has specific font size and colour which deviates from the core values.

---



{{#>_partials.stackedcard
    classModifier="c-stack-flexin"
    intro="Follow your passion, develop problem-solving skills, and dive into a fascinating career with a Bachelor of Science."
    title="Meta Card in Stack"
    url="https://www.wgtn.ac.nz/explore/degrees/science/overview"
    code="GCertCom "
    startDate="Next start date 11 Nov 2019"
    }}

    <ul class="meta meta--labelled">
        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-graduation-cap"></i> <span class="meta-labelText">Level of Study</span></h4>
            <p class="meta-data"><strong>Undergraduate</strong></p>
        </li>

        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-clock"></i> <span class="meta-labelText">Length of full-time study</span></h4>
            <p class="meta-data"><strong>3 years (360 points)</strong></p>
        </li>

        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-pin"></i> <span class="meta-labelText">Location</span></h5>
            <p class="meta-data"><strong>Kelburn, Wellington</strong></p>
        </li>
    </ul>
{{/_partials.stackedcard}}
