--- 
notes: > 

  Card stack is used when you have vertically stacked, full width cards. They have a few modifiers..

---


{{#>_partials.stackedcard
    classModifier="c-stack--flexin"
    title="Meta Card in Stack" 
    url="https://www.victoria.ac.nz/explore/degrees/science/overview"
    code="GISC401"
    year="2018"
    trimesters="1,3"
    }}
    <p>Study Software Engineering and Computer Science and be at the forefront of the information revolution. ... Find out what it’s like to study Software and Computer Science at Victoria from two students and a lecturer.</p>

    <ul class="meta meta--labelled">
        <li class="highlight meta__item">
            <h5 class="meta__label"><i aria-hidden="true" class="icon-graduation-cap"></i> <span class="meta__labelText">Points</span></h4>
            <p class="meta__data"><strong>20 points</strong></p>
        </li>
        
        <li class="highlight meta__item">
            <h5 class="meta__label"><i aria-hidden="true" class="icon-clock"></i> <span class="meta__labelText">Duration</span></h4>
            <p class="meta__data"><strong>1 trimester</strong></p>
        </li>

        <li class="highlight meta__item">
            <h5 class="meta__label"><i aria-hidden="true" class="icon-user"></i> <span class="meta__labelText">Coordinator</span></h5>
            <p class="meta__data"><strong>Jeffery Shima</strong></p>
        </li>
    </ul>
{{/_partials.stackedcard}}