---
notes: >

  Scholarship stack is basically default with course-like meta

---



{{#>_partials.stackedcard
    title="Datacom Systems Scholarship in Computer Science"
    url="https://www.victoria.ac.nz/scholarships/current/datacom-systems-scholarship-in-computer-science"
    }}

    <p>This Scholarship has been sponsored by Datacom Systems who initially established the scholarship for a period of five years, until 2002, and have...</p>

    <ul class="meta meta--labelled meta--grid">
        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-calendar"></i> <span class="meta-labelText">Closing</span></h4>
            <p class="meta-data"><strong>1 November 2019</strong></p>
        </li>

        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-people"></i> <span class="meta-labelText">Category</span></h4>
            <p class="meta-data"><strong>Māori students; Pasifika students; Students facing financial hardship</strong></p>
        </li>

        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-graduation-cap"></i> <span class="meta-labelText">Level</span></h5>
            <p class="meta-data"><strong>School leaver / 1st year</strong></p>
        </li>

        <li class="highlight meta-item">
            <h5 class="meta-label"><i aria-hidden="true" class="icon-book"></i> <span class="meta-labelText">Study Areas</span></h5>
            <p class="meta-data"><strong>Music</strong></p>
        </li>
    </ul>
{{/_partials.stackedcard}}
